html,body {
    // font-family: 'Hyundai Sans Text KR', sans-serif;
    font-size: 14px; color: #000; line-height: 1.4;
    height: 100%;
    margin: 0; padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    touch-action: pan-y;
    word-break: keep-all;
    // scroll-behavior: smooth;
}
a { color: #000; }
// h1, h2, h3, h4, h5, h6, .txt-head { font-family: 'Hyundai Sans Head KR'; }

html[lang="ko"],
html[lang="ko"] body { font-family: 'Hyundai Sans Text KR', '맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',나눔고딕,'Nanum Gothic',돋움,Dotum,굴림,Gulim; }
html[lang="ko"] {
    h1, h2, h3, h4, h5, h6, .txt-head { font-family: 'Hyundai Sans Head KR'; }
}
html[lang="en"],
html[lang="en"] body { font-family: 'Hyundai Sans Text', sans-serif; }
html[lang="en"] {
    h1, h2, h3, h4, h5, h6, .txt-head { font-family: 'Hyundai Sans Head'; }
}

html[lang="zh"],
html[lang="zh"] body { font-family: 'Hyundai Sans Text', 'Noto Sans SC'; word-break: break-word; }
html[lang="zh"] {
    h1, h2, h3, h4, h5, h6, .txt-head { font-family: 'Hyundai Sans Head', 'Noto Sans SC'; }
}
html[lang="zh"] .lang-zh { font-family: 'Noto Sans SC'; }

img { display: block; width: 100%; height: auto; }
.clearfix::before, .clearfix::after { content: ''; display: table; }
.clearfix::after { clear: both; }
.sr-only { border: 0; clip: rect(0, 0, 0, 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; white-space: nowrap; width: 1px; }

.wrap {
    min-height: 100%;
    //padding-top: 90px;
    //overflow: hidden;
    // height: 100%;
    // overflow-y: scroll;
}
.container { position: relative; margin: 0 auto; }

@include respond-to('minimum') {
    .container { padding-left: 16px; padding-right: 16px; }
}
@include respond-to('mobile') {
    .onP { display: none !important; }
    .onM { display: block !important; }
    .onPN { display: none !important; }
    .onMN { display: inline-block !important; }
    .onPT { display: none !important; }
    .onMT { display: table !important; }
    .onPF { display: none !important; }
    .onMF { display: flex !important; }
    .container { padding-left: 25px; padding-right: 25px; }
}
@include respond-to('notmobile') {
    .onP { display: block !important; }
    .onM { display: none !important; }
    .onPN { display: inline-block !important; }
    .onMN { display: none !important; }
    .onPT { display: table !important; }
    .onMT { display: none !important; }
    .onPF { display: flex !important; }
    .onMF { display: none !important; }
}
@include respond-to('tablet') {
    .container { padding-left: 30px; padding-right: 30px; }
}
@include respond-to('desktop-only') {
    .container { padding-left: 35px; padding-right: 35px; }
}
@include respond-to('desktop-over') {
    .container { padding-left: 40px; padding-right: 40px; max-width: 1600px; }
}

.vertical-center { display: table; width: 100%; height: 100%; }
.vertical-center > div { display: table-cell; vertical-align: middle; text-align: center; }

@include respond-to('notmobile') {
    .flex {
        display: flex; flex-direction: row; flex-wrap: wrap; margin: 0 -12px;
        .flex-item {
            flex: 1; padding: 0 12px;
            .card { height: 100%; }
        }
    }
}

.view-video {
    display: inline-block;
    p { color: #fff; font-size: 18px; margin-bottom: 22px; }
    i { display: block; margin: 0 auto; width: 48px; height: 48px; background: url('../img/View_video.svg') no-repeat 100%; }
}
.page-sub {
    @include respond-to('mobile') {
        padding-top: 55px;
        padding-bottom: 40px; 
    }
    @include respond-to('notmobile') {
        padding-top: 90px;
        padding-bottom: 120px; 
    }
    @include respond-to('tablet') {
        padding-top: 70px;
        padding-bottom: 80px; 
    }
    @include respond-to('desktop-only') {
    }
    @include respond-to('desktop-over') {

    }
}

.sub-header {
    margin-top: 20px;
    .container { position: relative; z-index: 2; }
    .page-name {
        font-weight: 500;
        color: #767676;
        animation: keyvisualTitleShow 0.6s 0.5s ease-out both;
    }
    h2 {
        font-weight: 500;
        animation: keyvisualTitleShow 0.6s 0.8s ease-out both;
    }
    p {
        line-height: 1.7;
        animation: keyvisualTitleShow 0.6s 1.2s ease-out both;
    }
    .share {
        position: absolute;
        top: 0;
        text-indent: -9999px;
        // background: url('/img/icon_share.svg') no-repeat center / 100%;
        background: inline-svg('icon_share', #000) no-repeat center / 100%;
    }
    .keyvisual {
        position: relative; z-index: 1; overflow: hidden;
        img {
            width: 100%; height: 100%;
            max-height: 617px; object-fit: cover;
            transform: scale(1.4);
            animation: keyvisualImageShow 2.5s cubic-bezier(0.21, 0.88, 0.38, 1.01) both;
        }
    }
    @keyframes keyvisualTitleShow {
        from { transform: translateY(30px); opacity: 0; }
        to { transform: translateY(0px); opacity: 1; }
    }
    @keyframes keyvisualImageShow {
        from { transform: scale(1.4); }
        to { transform: scale(1); }
    }
    @include respond-to('mobile') {
        margin-top: 13px;
        .container { padding-top: 52px; }
        .page-name { display: none; }
        h2 { font-size: 36px; height: 46px; line-height: 46px; }
        h2.outglow { text-shadow: 0px 0px 25px rgba(255,255,255,1), 0px 0px 10px rgba(255,255,255,1); }
        p { font-size: 14px; margin-top: 16px; }
        .share {
            width: 16px; height: 16px; right: 25px;
            background: inline-svg('icon_share_m', #000) no-repeat center / 100%;
        }
        .keyvisual { margin-top: -20px; }
    }
    @include respond-to('notmobile') {
        .share { width: 24px; height: 24px; }
        .keyvisual { margin-top: -40px; }
        h2.outglow { text-shadow: 0px 0px 40px rgba(255,255,255,1), 0px 0px 30px rgba(255,255,255,1), 0px 0px 20px rgba(255,255,255,1); }
    }
    @include respond-to('tablet') {
        .container { padding-top: 70px; }
        .page-name { font-size: 20px; margin-bottom: 10px; }
        h2 { font-size: 50px; height: 64px; line-height: 64px; }
        p { font-size: 16px; margin-top: 20px; }
        .share { right: 30px; }
    }
    @include respond-to('desktop-only') {
        .container { padding-top: 85px; }
        .page-name { font-size: 24px; margin-bottom: 14px; }
        h2 { font-size: 60px; height: 72px; line-height: 72px; }
        p { font-size: 18px; margin-top: 24px; }
        .share { right: 35px; }
    }
    @include respond-to('desktop-over') {
        .container { padding-top: 90px; }
        .page-name { font-size: 28px; margin-bottom: 20px; }
        h2 { font-size: 70px;height: 94px; line-height: 94px; }
        p { font-size: 20px; margin-top: 30px; }
        .share { right: 40px; }
    }
}

.scroll-top {
    position: sticky; bottom: 56px; z-index: 990;
    left: calc(100% - 56px - 40px);
    margin-bottom: 56px;
    width: 56px;
    height: 56px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    > button {
        display: block; width: inherit; height: inherit;
        border: 1px solid $colorPrimary;
        text-indent: -9999px;
        margin-bottom: 56px;
        background: #fff inline-svg('scroll_top', $colorPrimary) no-repeat center / 100%;
    }
    @include respond-to('tablet') {
        bottom: 42px; 
        left: calc(100% - 42px - 30px);
        margin-bottom: 30px;
        width: 42px; height: 42px;
    }
    @include respond-to('mobile') {
        bottom: 35px; 
        left: calc(100% - 35px - 25px);
        margin-bottom: 25px;
        width: 35px; height: 35px;
    }
}
.scrolled .scroll-top {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
}


.label-set {
    label, span {
        display: inline;
        vertical-align: top;
        font-size: 18px;
        color: #767676;
    }
    label::after {
        content: '';
        display: inline-block;
        border-right: 1px solid #767676;
        height: 14px;
        padding-right: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }
    @include respond-to('mobile') {
        label, span { font-size: 13px; }
        label::after {
            height: 12px;
            padding-right: 6px;
            margin-right: 4px;
        }
    }
}

.loader {
    position: fixed;
    z-index: 9999;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff url('../img/loading.gif') no-repeat center center / 50px;
}

.share-menu {
    > a {
        display: block;
        line-height: 26px;
        &+a { margin-top: 12px; }
        span {
            font-size: 14px;
            font-weight: 500;
            color: #aaa;
            vertical-align: middle;
        }
        &::before {
            content:'';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &.sns-facebook::before { background-image: inline-svg('sns_facebook', #aaa); }
        &.sns-twitter::before { background-image: inline-svg('sns_twitter', #aaa); }
        &.sns-twitterX::before { background-image: inline-svg('sns_twitterX', #aaa); }/*  230919 add */
        &.sns-kakaotalk::before { background-image: inline-svg('sns_kakaotalk', #aaa); }
        &.sns-kakaostory::before { background-image: inline-svg('sns_kakaostory', #aaa); }
        &.sns-band::before { background-image: inline-svg('sns_band', #aaa); }
        &.sns-url::before { background-image: inline-svg('sns_url', #aaa); }
        &.sns-linkedin::before { background-image: inline-svg('sns_linkedin', #aaa); }
        &.sns-mail::before { background-image: inline-svg('sns_mail', #aaa); }
        &.sns-wechat::before { background-image: inline-svg('sns_wechat', #aaa); }
        &.sns-sinaweibo::before { background-image: inline-svg('sns_weibo', #aaa); }

        &:hover {
            span { color: $colorPrimary; }
            &.sns-facebook::before { background-image: inline-svg('sns_facebook', $colorPrimary); }
            &.sns-twitter::before { background-image: inline-svg('sns_twitter', $colorPrimary); }
            &.sns-kakaotalk::before { background-image: inline-svg('sns_kakaotalk', $colorPrimary); }
            &.sns-kakaostory::before { background-image: inline-svg('sns_kakaostory', $colorPrimary); }
            &.sns-band::before { background-image: inline-svg('sns_band', $colorPrimary); }
            &.sns-url::before { background-image: inline-svg('sns_url', $colorPrimary); }
            &.sns-linkedin::before { background-image: inline-svg('sns_linkedin', $colorPrimary); }
            &.sns-mail::before { background-image: inline-svg('sns_mail', $colorPrimary); }
            &.sns-wechat::before { background-image: inline-svg('sns_wechat', $colorPrimary); }
            &.sns-sinaweibo::before { background-image: inline-svg('sns_weibo', $colorPrimary); }
        }
        @include respond-to('mobile') {
            line-height: 19px;
            &+a { margin-top: 13px; }
            span {
                font-size: 11px;
            }
        }
    }
}

.compatibility {
    padding: 140px 0 180px;
    .container { max-width: 830px; padding: 0 40px; margin: 0 auto; }
    .cp-header {
        border-bottom: 2px solid #333;
        padding-bottom: 16px;
        img { width: 47px; height: auto; }
    }
    .cp-body {
        padding: 126px 0 100px;
        text-align: center;
        h1 { font-size: 38px; font-weight: 500; margin-bottom: 16px; }
        p { font-size: 18px; line-height: 1.78; }
        .btn-group {
            margin-top: 50px; text-align: center;
            a {
                display: inline-block;
                width: 230px;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                padding: 10px 0;
                border: 1px solid #767676;
                &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 20px; height: 20px;
                    margin-right: 8px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                &.download-edge::before { background-image: url('../img/browser_edge.png'); }
                &.download-chrome::before { background-image: url('../img/browser_chrome.png'); }
                &+a { margin-left: 10px; }
            }
        }
    }

    @include respond-to('mobile') {
        padding: 60px 0 140px;
        .container { padding: 0 25px; }
        .cp-header {
            padding-bottom: 8px;
            img { width: 25px; }
        }
        .cp-body {
            padding: 60px 0 50px;
            h1 { font-size: 24px; margin-bottom: 10px; }
            p { font-size: 14px; }
            .btn-group {
                margin-top: 31px; 
                a {
                    width: 192px;
                    font-size: 11px;
                    padding: 8px 0;
                    &::before {
                        width: 15px; height: 15px;
                        margin-right: 5px;
                    }
                    &+a { margin-left: 0; margin-top: 10px; }
                }
            }
        }
    }
}

.cookie {
    position: fixed; left: 0; right: 0; bottom: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.8);
    .container { padding-top: 32px; padding-bottom: 40px; }
    @include respond-to('mobile') {
        .container { padding-top: 20px; padding-bottom: 25px; }
    }
}
.cookie-wrap {
    @include flexbox;
    @include align-items(flex-start);
    .cookie-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.85;
        color: #fff;
        min-width: 260px;
    }
    .cookie-text {
        font-size: 14px; 
        line-height: 1.85;
        color: #fff;
        @include flex(1);
    }
    .btn {
        font-size: 12px; 
        font-weight: 500;
        @include align-self(flex-end);
    }
    @include respond-to('mobile') {
        @include flex-direction(column);
        .cookie-title { font-size: 12px; margin-bottom: 6px; min-width: none; }
        .cookie-text { font-size: 11px; }
        .btn { font-size: 11px; padding: 0; width: 50px; text-align: center; }
    }
}