body {
  background-color: $secondary;
  &.main-page {
    background-color: $primary;
    &::before {
      content: '';
      opacity: 0.4;
      display: inline-block;
      position: fixed;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background-image: image('img_noise_bg.png');
      animation: bubble 5s steps(4) infinite;
      pointer-events: none;
      z-index: 9999;
    }
    &::-webkit-scrollbar-thumb {
      border-color: $primary;
      background: $secondary;
    }
    .wrapper {
      overflow: hidden;
    }
  }
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid $secondary;
    background: $third;
    border-radius: 20px;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
@keyframes bubble {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  to {
    transform: translate(5%, 0);
  }
}

.wrapper {
  width: clamp(28rem, 100%, 200rem);
  height: 100%;
  margin: 0 auto;
  padding: 0 5rem;
}

button,
a {
  &:focus {
    outline: 3px solid #fff;
  }
}

.button-box {
  @include flex(row, flex-start, flex-start);
  gap: 3rem;
  .btn {
    @include flex(row, center, center);
    width: 20rem;
    height: 4.5rem;
    border-radius: 5rem;
    padding: 0 2rem;
    @include font(1.8rem, 700, $secondary);
    &.btn-line {
      border: 2px solid $secondary;
    }
  }
}
.label-box {
  .label {
    @include font(1.8rem, 600, $secondary);
    letter-spacing: -0.05rem;
  }
}

.hover-trans {
  position: relative;
  display: inline-block;
  span:last-child {
    position: absolute;
    left: 0;
    bottom: 100%;
  }
}

@keyframes btnAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

// Response
@media #{$effective_device} {
  // 호버시 효과
  .hover-bg {
    overflow: hidden;
    position: relative;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 0;
      height: 100%;
      background-color: $secondary;
      transition: 0.4s ease;
    }
    &:focus-within,
    &:hover {
      color: $primary;
      &::before {
        width: 100%;
      }
    }
  }
}

@media #{$tablet_1000} {
  .hover-trans {
    span:last-child {
      display: none;
    }
  }
}

@media #{$mobile_720} {
  * {
    &:focus {
      outline: none !important;
    }
  }
  br {
    display: none;
  }
  .wrapper {
    padding: 0 2rem;
  }
  .button-box {
    gap: 1.5rem;
    width: 100%;
    .btn {
      width: calc(50% - 0.75rem);
      height: 3.5rem;
      padding: 0 1rem;
      font-size: 1.4rem;
    }
  }
  .label-box {
    .label {
      font-size: 1.2rem;
    }
  }
}
