// NanumSquareNeo
@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff2') format('woff2'), url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff') format('woff');
  unicode-range: U+1100-11FF, U+AC00-D7AF;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff2') format('woff2'), url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff') format('woff');
  unicode-range: U+1100-11FF, U+AC00-D7AF;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff2') format('woff2'), url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff') format('woff');
  unicode-range: U+1100-11FF, U+AC00-D7AF;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff2') format('woff2'), url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff') format('woff');
  unicode-range: U+1100-11FF, U+AC00-D7AF;
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff2') format('woff2'), url('../fonts/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff') format('woff');
  unicode-range: U+1100-11FF, U+AC00-D7AF;
}

// NeueMontreal
@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/NeueMontreal/NeueMontreal-Light.woff2') format('woff2'), url('../fonts/NeueMontreal/NeueMontreal-Light.woff') format('woff');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/NeueMontreal/NeueMontreal-Regular.woff2') format('woff2'), url('../fonts/NeueMontreal/NeueMontreal-Regular.woff') format('woff');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/NeueMontreal/NeueMontreal-Medium.woff2') format('woff2'), url('../fonts/NeueMontreal/NeueMontreal-Medium.woff') format('woff');
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/NeueMontreal/NeueMontreal-Bold.woff2') format('woff2'), url('../fonts/NeueMontreal/NeueMontreal-Bold.woff') format('woff');
  unicode-range: U+0020-007F;
}
