.hero-container {
  height: 100dvh;
  .hero-area {
    @include flex(column, center, flex-start);
    height: 100%;
  }
  .hero-box {
    @include flex(row, flex-start, center);
    gap: 2.5rem;
    clip-path: polygon(0 3%, 0 99%, 100% 99%, 100% 3%);
    white-space: nowrap;
    text-transform: uppercase;
    .hero-word {
      opacity: 0;
      position: relative;
      @include font(clamp(10px, 10vw, 160px), 700, $secondary, 0.8);
    }
    .hero-back {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }
  }
  .hero-bottom {
    opacity: 0;
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    margin-top: 8rem;
    .hero-sub-word {
      @include font(1.8rem, 600, $secondary, 1.5);
      span {
        display: block;
        & + span {
          margin-top: 2.5rem;
        }
      }
    }
  }
  .button-box {
    align-self: flex-end;
  }
}

.visual-container {
  padding: 30rem 0;
  .visual-area {
    @include flex(column, center, center);
    height: 100%;
  }
  .visual-word {
    opacity: 0.2;
    @include font(clamp(10px, 6vw, 100px), 700, $secondary);
    letter-spacing: -0.05rem;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.contact-container {
  padding: 10rem 0 20rem;
  .contact-area {
    overflow: hidden;
    @include flex(column, center, center);
    height: 100%;
  }
  .contact-title {
    margin-bottom: 6rem;
    @include font(clamp(10px, 6vw, 80px), 600, $secondary);
    letter-spacing: -0.05rem;
  }
}

// Response
@media #{$tablet_1024} {
  .hero-container {
    height: auto;
    .hero-area {
      justify-content: flex-start;
      padding: 20vh 0;
    }
    .hero-bottom {
      gap: 2rem;
      margin-top: 5rem;
      .hero-sub-word {
        font-size: 1.4rem;
        span {
          & + span {
            margin-top: 1.5rem;
          }
        }
      }
    }
    .button-box {
      justify-content: flex-start;
    }
  }
}

@media #{$mobile_720} {
  .visual-container {
    padding: 15vh 0 10vh;
  }

  .contact-container {
    padding: 5vh 0;
    .contact-bottom {
      margin-top: 5rem;
      .contact-title {
        margin-bottom: 3rem;
      }
    }
    .button-box {
      .btn {
        width: calc(50% - 0.75rem);
      }
    }
  }
}
