.hero-container {
  height: 100vh;
  padding: 0 15.2rem;
  .hero-area {
    @include flex(column, center, flex-start);
    height: 100%;
  }
  .hero-box {
    @include flex(row, flex-start, center);
    gap: 0 2.5rem;
    clip-path: polygon(0 3%, 0 99%, 100% 99%, 100% 3%);
    white-space: nowrap;
    text-transform: uppercase;
    .hero-word {
      opacity: 0;
      position: relative;
      @include font(clamp(10px, 8.33vw, 160px), 700, $secondary, 0.8);
    }
    .hero-back {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-100%);
    }
  }
  .hero-bottom {
    opacity: 0;
    @include flex(row, space-between, flex-start);
    width: 100%;
    margin-top: 8rem;
    .hero-sub-word {
      @include font(1.8rem, 600, $secondary, 2.5rem);
      span {
        display: block;
        & + span {
          margin-top: 2.5rem;
        }
      }
    }
  }
  .button-box {
    align-self: flex-end;
  }
}

.visual-container {
  padding: 30rem 15.2rem 10rem;
  .visual-area {
    @include flex(column, center, center);
    height: 100%;
  }
  .visual-word {
    opacity: 0.5;
    @include font(clamp(10px, 5.83vw, 100px), 700, $secondary);
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.contact-container {
  padding: 10rem 15.2rem 20rem;
  .contact-area {
    height: 100%;
  }
  .contact-bottom {
    overflow: hidden;
    @include flex(column, center, center);
    margin-top: 15rem;
    .contact-title {
      margin-bottom: 6rem;
      @include font(clamp(10px, 4vw, 80px), 500, $secondary);
    }
  }
}
