.auto-charge-complete {
  .content-area {
    height: 100%;
  }

  .auto-charge-container {
    height: 100%;
    .auto-charge-area {
      height: 100%;
    }
    .auto-charge-middle {
      @include flex(column, center, center);
      height: 100%;
    }
    .auto-charge-bottom {
      margin-top: 4.4rem;
    }
  }
}

.auto-charge-container {
  .title-box {
    @include flex(column, center, center);
    text-align: center;
    padding: 2rem 0;

    .title {
      @include font(1.8rem, 700, $text-02, 2.6rem);
    }
    .sub-title {
      margin-top: 2rem;
      @include font(1.6rem, 500, $text-03, 2.2rem);
    }
  }

  .auto-charge-deco-image-box {
    img {
      margin: auto;
    }
  }

  .auto-charge-bottom {
    margin-top: 4.6rem;

    .text-button-box {
      @include flex(row, center, center);
    }
  }

  .auto-charge-description-box {
    padding: 1.2rem 1.6rem;
    border-radius: 1rem;
    border: 1px solid $secondary-15;
    background-color: $neutral-10;

    .desc-list-box {
      .desc-list {
        @include flex(row, flex-start, center);
        padding: 0.8rem 1.2rem;
        @include font(1.4rem, 700, $text-04, 2rem);
        &:before {
          content: '';
          display: block;
          width: 0.4rem;
          height: 0.4rem;
          border-radius: 100%;
          background-color: $text-04;
          margin-right: 0.8rem;
        }
      }
    }
  }
}
