.menu-member {
  .header-container {
    background-color: $neutral_10;
  }
  .content-container {
    padding: 0;
  }
}

.member-container {
  .member-top {
    padding: 1rem 2rem 0;
    background-color: $neutral_10;
  }
  .member-middle,
  .member-bottom {
    padding: 0 2rem;
    margin-top: 1rem;
    background-color: $neutral_10;
  }
  .form-container {
    padding: 1.8rem 0 1.2rem;
    .form-top {
      margin-bottom: 2.6rem;
    }
    .form-title-box {
      @include font(1.4rem, 700, $text_01, 2rem);
    }
  }
}
