.menu-home {
  .content-container {
    padding: 0;
  }
}

.menu-home-container {
  padding-bottom: 8.2rem;
  .menu-home-top {
    padding: 4rem 0 0 0;
    border-bottom: 1px solid $secondary-15;
    background-color: $neutral-10;
  }

  .logo-box {
    padding: 0 2rem;
  }

  .user-info-box {
    @include flex(row, space-between, center);
    margin-top: 2.4rem;
    padding: 0 2rem;
    .user-info-box-left {
      flex: 1;
    }

    .user-info-box-right {
      margin-left: 2rem;
    }

    .user-name-box {
      .name {
        @include flex(row, flex-start, center);
        @include font(2rem, 700, $text-01, 2.6rem);
        .ic {
          width: 2rem;
          height: 2rem;
          margin-left: 0.4rem;
        }
      }
    }

    .belong-box {
      margin-top: 0.8rem;
      @include font(1.4rem, 500, $success_80, 2rem);
    }

    .btn-alert {
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
      .badge-circle {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $secondary_70;
      }
    }
  }

  .button-list-box {
    @include flex(row, flex-start, flex-start);
    margin-top: 2.4rem;
    padding: 0 2rem;
    border-top: 1px solid $secondary-15;
    gap: 0.4rem;
    .button-list {
      @include flex(column, flex-start, center);
      width: 25%;
      padding: 1.6rem 0.4rem;
      .ic {
        width: 2.4rem;
        height: 2.4rem;
        margin-bottom: 0.8rem;
      }
      .text {
        @include font(1.4rem, 500, $text-02, 2rem);
        word-break: keep-all;
      }
    }
  }

  .menu-home-middle {
    margin-top: 1rem;

    .list-a-box {
      padding: 0 2rem;
      + .list-a-box {
        margin-top: 1rem;
      }
    }
  }
}
