.menu-notify {
  background-color: $neutral_10;
  .content-container {
    overflow-x: hidden;
    padding: 0;
    .content-area {
      height: 100%;
    }
  }
  .no-data-image-box {
    height: calc(100% - 7rem);
  }
  .bottom-button-box {
    background-color: $neutral_10;
  }
}
.menu-bookmark {
  background-color: $neutral_10;
  .content-container {
    margin-top: 1rem;
    padding: 0;
  }
}
