.menu-settings {
  background-color: $neutral_10;
  .content-container {
    margin-top: 1.2rem;
    padding: 0;
  }
  .setting-container {
    background-color: $primary_10;
  }
  .setting-list-container {
    background-color: $neutral_10;
    margin-top: 1rem;
    padding: 0 2rem;
    &:first-of-type {
      margin: 0;
    }
    &:last-child {
      padding-bottom: 2rem;
    }
    .setting-list-top {
      .title-box {
        padding: 0.6rem 0;
        @include font(1.4rem, 700, $text_01, 2rem);
      }
    }
  }
}

.language-list-box {
  padding-bottom: 2rem;
  .language-list {
    padding: 1.6rem 2rem;

    .field-radio {
      input[type='radio'] {
        appearance: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}
