.menu-navi {
  background-color: $neutral_10;
  .content-container {
    margin-top: 0.8rem;
  }
  .navi-detail-list-box {
    padding: 0.2rem 0;
    .navi-detail-list {
      padding: 1.8rem 0;
      border-bottom: 1px solid rgba($primary_100, 0.1);
      &:last-of-type {
        border: none;
      }
      .field-radio {
        &.align-reverse {
          &.navi-t-map {
            .radio-box {
              .field-label:not(.ir) {
                &::before {
                  background: asset-image('icon/ic_t_map_navi_app.svg') no-repeat center / contain;
                }
              }
            }
          }
          &.navi-kakao-map {
            .radio-box {
              .field-label:not(.ir) {
                &::before {
                  background: asset-image('icon/ic_kakao_navi_app.svg') no-repeat center / contain;
                }
              }
            }
          }
          .radio-box {
            @include flex(row, flex-start, center);
            padding: 0 0.8rem;

            .field-label:not(.ir) {
              @include flex(row, flex-start, center);
              margin-left: 1.6rem;
              &::before {
                content: '';
                display: block;
                margin-right: 1.2rem;
                width: 4rem;
                height: 4rem;
                border-radius: 0.6rem;
                background: asset-image('icon/ic_button_app.svg') no-repeat center / contain;
              }
            }
          }
        }

        input[type='radio'] {
          appearance: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .bottom-button-box {
    background-color: $neutral_10;
  }
}
