.popup-new-car {
  .popup-bottom {
    margin-top: 1.2rem;
  }

  .new-car-list-box {
    margin-top: 1.2rem;
    .new-car-list {
      position: relative;
      padding: 1.2rem 2rem;
      border-radius: 0.8rem;
      border: 1px solid $primary_15;
      + .new-car-list {
        margin-top: 1.2rem;
        padding-top: 1.2rem;
        border-top: 1px solid rgba($secondary-100, 0.1);
      }

      .new-car-list-inner {
        @include flex(row, space-between, center);
        padding: 0.8rem 0;
      }

      .new-car-list-left {
        flex: 1;
      }

      .new-car-list-right {
        margin-left: 2rem;

        .field-radio {
          position: static;
        }

        .input-radio {
          z-index: 12;
          opacity: 1;
          appearance: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .car-number-box {
        @include font(1.8rem, 700, $text-01, 2.6rem);
      }
      .car-name-box {
        @include font(1.4rem, 500, $text-03, 2rem);
      }
    }
  }
  .text-button-box {
    @include flex(row, center, center);
    margin-top: 1.2rem;
  }
}
