.page-charging-detail {
  .content-container {
    padding: 0;
  }
  .charging-detail-top {
    padding: 2.4rem 2rem;
  }
  .charging-detail-bottom {
    padding: 2rem;
    background-color: $neutral_10;
    border-radius: 1.6rem 1.6rem 0 0;
    .charging-top-tilte {
      @include flex(row, space-between, center);
      padding: 0.6rem 0;
      @include font(1.4rem, 700, $text_01, 1.96rem);
    }
    &:only-child {
      margin-top: 0.8rem;
    }
  }
  .charging-detail-list-area {
    padding-bottom: 2rem;
    &:not(:last-child) {
      border-bottom: 0.1rem solid rgba($primary_100, 0.1);
    }
  }
  .btn-refresh {
    @include flex(row, flex-start, center);
    @include font(1.2rem, 400, $text_02, 1.6rem);
    .ic {
      margin-right: 0.4rem;
    }
    span {
      text-decoration-line: underline;
      text-underline-position: under;
    }
  }
  .charging-station-box {
    padding: 2.4rem 2rem;
    background-color: $neutral_10;
    border-radius: 1.6rem;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);

    .charging-info-box {
      @include flex(row, flex-start, flex-start);
      margin-bottom: 2rem;
    }
    .charging-info-left {
      margin-right: 2rem;
      .logo {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 1rem;
        background: $primary_15 asset-image('home/ic_toneon.svg') no-repeat center / 6.4rem;
      }
      img {
        width: 100%;
        height: 100%;
        background-color: $text-06;
      }
    }
    .charging-info-right {
      .badge-text {
        width: fit-content;
      }
      .lable {
        @include flex(row, flex-start, center);
        margin: 0.8rem 0;
      }
      .name {
        margin-right: 0.6rem;
        @include font(1.8rem, 700, $primary_90, 2.61rem);
      }
      .distance {
        position: relative;
        top: 1px;
        display: inline-block;
        @include font(1.4rem, 500, $text_03, 1.96rem);
      }
      .address {
        @include font(1.2rem, 400, $text_03, 1.56rem);
      }
    }
    .charging-more-content-box {
      display: none;
      margin: 2rem 0;
      &.show {
        display: block;
      }
      ul {
        li {
          padding: 0.8rem 0;
          @include flex(row, space-between, center);
          flex-wrap: wrap;
          @include font(1.4rem, 500, $text_03, 1.96rem);
          &:not(:last-child) {
            border-bottom: 0.1rem solid rgba($primary_100, 0.1);
          }
          .label {
          }
          .data {
            @include flex(row, flex-start, center);
            color: $text_02;
            white-space: nowrap;
          }
          .btn-call {
            @include flex(row, center, center);
            margin-left: 1.2rem;
            width: 2.4rem;
            height: 2.4rem;
            border: 0.1rem solid $primary_20;
            border-radius: 50%;
          }
        }
      }
    }
    .btn-more-info {
      @include flex(row, flex-start, center);
      margin: 0 auto;
      @include font(1.2rem, 400, $text_03, 1.6rem);
      &::after {
        content: '';
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 0.4rem;
        background: asset-image('icon/ic_arrow_down.svg') no-repeat center / contain;
      }
      &.active {
        &::after {
          background: asset-image('icon/ic_arrow_up.svg') no-repeat center / contain;
        }
      }
    }
  }
  .charging-detail-list-container {
    .charging-detail-list-title {
      margin: 2rem 0;
      @include flex(row, flex-start, center);
      @include font(1.8rem, 700, $text_02, normal);
      .ic {
        margin-right: 0.8rem;
      }
    }
  }
}

.notify-setting-charge-box {
  padding: 0 2rem;
  .notify-text {
    margin: 2rem 0;
    @include font(1.4rem, 400, $text_02, normal);
  }
}
