.page-search,
.page-search-home {
  background-color: $neutral_10;
  .content-container {
    padding: 0;
    overflow: hidden;
  }
  .search-top {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
.page-search,
.page-search-result {
  .search-bottom {
    padding-top: 7.2rem;
  }
}
.page-search-home {
  .content-area {
    height: 100%;
  }

  .search-top {
    @include flex(row, flex-start, center);
    gap: 1rem;
    padding: 1.2rem 2rem;
    .search-box {
      position: relative;
      flex: 1;
    }
    .field-search {
      width: 100%;
    }
    .btn {
      white-space: nowrap;
    }
    .btn-map-search {
      position: relative;
      width: 100%;
      height: 4rem;
      padding-left: 4.4rem;
      border: 0.1rem solid $primary_15;
      border-radius: 0.6rem;
      background: $neutral_10;
      @include font(1.4rem, 400, $primary_50, 2rem);
      text-align: left;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 1.2rem;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        background: asset-image('icon/ic_search_nor.svg') no-repeat center / contain;
      }

      .search-btn-value {
        @include font(1.4rem, 400, $text_02, 2rem);
      }
      .search-btn-desc {
        @include font(1.4rem, 400, $text_05, 2rem);
      }

      + .btn-remove {
        position: absolute;
        top: 50%;
        right: 1.2rem;
        transform: translateY(-50%);
        @include flex(row, center, center);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        .ic {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }

  .btn-icon-coordinate {
    position: absolute;
    right: 2rem;
    top: calc(-2rem + -3.6rem);
    i {
      display: block;
    }
  }
  .map-bottom-sheet-container {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 6.2rem;
    height: 26.4rem;
    max-height: calc(100% - 6.2rem - 10.6rem);
    transition: height 0.15s ease-out;
    &.shrink {
      height: 3.4rem;
      .map-charging-list-container {
        display: none;
      }
      .map-charging-list-handler {
        padding-top: 1.2rem;
      }
    }
    &.expand {
      height: calc(100% - 6.2rem - 10.6rem);
      .map-charging-list-handler {
        span {
          transform: none;
        }
      }
      .btn-icon-coordinate {
        display: none;
      }
    }

    .map-bottom-sheet-area {
      @include flex(column, flex-start, flex-start);
      height: 100%;
    }
  }
  .map-charging-list-handler {
    width: 100%;
    height: 3.4rem;
    padding: 1.5rem 0 0.8rem;
    background-color: $neutral_10;
    border-radius: 1.6rem 1.6rem 0px 0px;
    box-shadow: $elevation_05;
    span {
      @include ir(ir);
      display: block;
      width: 2.8rem;
      height: 1rem;
      margin: auto;
      background: asset-image('icon/ic_handler.svg') no-repeat center / contain;
      transform: rotate(180deg);
    }
  }
  .map-charging-list-container {
    width: 100%;
    height: calc(100% - 3.4rem);
    background-color: $neutral_10;
    .map-charging-list-area {
      @include flex(column, flex-start, flex-start);
      height: 100%;
    }
    .map-charging-list-top {
      @include flex(row, center, flex-start);
      width: 100%;
      padding: 1rem 2rem 0;
      // border-bottom: 0.1rem solid rgba($primary_100, 0.1);
    }
    .map-charging-list-bottom {
      flex: 1;
      overflow-y: auto;
      width: 100%;
    }
  }
  .map-charge-device-list-bottom {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    border: 0.1rem solid $primary_15;
  }

  .map-around-title {
    padding: 0.6rem 2rem;
    background-color: $primary_10;
    @include font(1.4rem, 700, $text-03, 1.96rem);
  }
}

.page-filter {
  background-color: $neutral_10;
  .filter-token-container {
    margin-top: 2rem;
    margin-bottom: 5.6rem;
  }
  .bottom-button-box {
    background-color: $neutral_10;
  }
}

.page-search {
  .search-top {
    padding: 1.2rem 2rem;
  }
  .search-recent-container {
    height: calc(100dvh - 17rem);
    overflow-y: auto;
    padding: 0.8rem 2rem 0;
    .search-recent-area {
      height: 100%;
    }
  }

  .search-bottom-title {
    @include flex(row, space-between, center);
    padding: 0.2rem 2rem;
    @include font(1.4rem, 700, $text_01, 1.96rem);
  }
  .search-no-data {
    @include flex(row, center, center);
    height: 100%;
    padding-bottom: 7rem;
    @include font(1.4rem, 500, $text_04, 2rem);
    text-align: center;
  }
}
.page-search-result {
  background-color: $neutral_10;
  .content-container {
    overflow: hidden;
    padding: 0;
  }
  .content-area {
    height: 100%;
  }
  .search-container {
    height: 100%;
    .search-area {
      height: 100%;
    }
  }
  .search-bottom {
    height: calc(100% - 7.2rem);
    padding: 0;
  }
  .tabs-container {
    height: 100%;
    .tabs-area {
      height: 100%;
    }
    .tab-content-box {
      height: calc(100% - 4.5rem);
    }
    .tab-panel {
      &.show {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
  .field-search {
    padding: 1.2rem 2rem;
  }
  .result-count-box {
    padding: 1.6rem 2rem;
    @include font(1.2rem, 400, $text_03, 1.56rem);
    .label {
      margin-right: 0.4rem;
    }
    .count {
      font-weight: 700;
    }
  }
  .search-result-container {
    flex: 1;
    overflow-y: auto;
    .search-result-area {
      height: 100%;
    }
  }
  .search-no-data {
    @include flex(row, center, center);
    height: calc(100% - 10rem);
  }
}

.btn-option-more {
  @include flex(row, center, center);
  position: relative;
  min-width: 3.2rem;
  height: 2.8rem;
  padding: 0.6rem 2.6rem 0.6rem 0.8rem;
  @include font(1.2rem, 700, $text_03, 1.6rem);
  border: 1px solid $primary_20;
  border-radius: 0.4rem;
  background-color: $neutral_10;
  &::after {
    content: '';
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
    background: asset-image('icon/ic_arrow_down_fill.svg') no-repeat center / contain;
  }
  &.active {
    padding: 0;
    &::after {
      right: 50%;
      transform: translateX(50%);
      background: asset-image('icon/ic_arrow_up_fill.svg') no-repeat center / contain;
    }
    span:not(.ir) {
      display: none;
    }
  }
}
