// Color Palette
$white: #fff;
$black: #000;
$point-pink: #EB008B;

// Layout
$header-height: 8rem;

// Responsive
$tablet: "screen and (max-width: 1440px)";
$mobile: "screen and (max-width: 1024px)";
$portrait: "screen and (max-width: 768px)";
$mobile_1: "screen and (max-width: 440px)";