.facility-block-container {
  // height: 39.2rem;
  .facility-block-area {
    margin: -0.8rem;
    // @include clearfix;
    .facility-block {
      padding: 0.8rem;
      height: 13.6rem;
      &.empty {
        .facility {
          .title-box {
            opacity: 0.2;
            color: $primary;
          }
        }
      }
      .facility {
        @include flex(row, space-between, center);
        height: 12rem;
        padding: 0 3.2rem;
        border: 1px solid #c2d5fc;
        border-radius: 1.2rem;
        background-color: #f3f7ff;
        .category-box {
          margin-bottom: 1.2rem;
          @include font(1.2rem, 400, $primary, normal, 0);
        }
        .title-box {
          max-width: 15.2rem;
          @include font(2rem, 700, $black, normal, 0);
          @include ellipsis;
        }
        .number-box {
          margin-top: 0.4rem;
          @include font(1.4rem, 500, $color_7f7, normal, 0);
        }
        .floor-box {
          @include flex(row, center, center);
          width: 4.4rem;
          height: 4.4rem;
          border-radius: 100%;
          background-color: $white;
          @include font(1.2rem, 700, $primary, normal, 0);
          .empty-icon-box {
            width: 2.4rem;
            height: 2.4rem;
            background: asset-image('ic_things_none_b.svg') no-repeat center / 2.4rem;
          }
        }
      }
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .facility-block-container {
        height: 40.8rem;
        .facility-block-area {
          justify-content: flex-start;
          margin: 0;
          .facility-block {
            width: 100%;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
            padding: 0;
          }
        }
      }
    }
  }
}
