.block-find-owner-box {
  position: relative;
  width: calc(33.3333% - 1.6rem);
  height: 17.2rem;
  margin: 0.8rem;
  &.new {
    .block-find-owner {
      border-color: $primary;
      &::before {
        content: 'N';
        @include flex(row, center, center);
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background-color: $primary;
        @include font(1.2rem, 700, $white, normal);
      }
  
      .title-box {
        color: $primary;
      }
  
      .data-box {
        .data-box-row {
          .label {
            color: $color_353;
          }
          .data {
            font-weight: 700;
            color: $color_353;
          }
        }
      }

      .ico-box {
        background-color: #DDF0FF;
      }
    }
  }
  .block-find-owner {
    @include flex(row, flex-start, center);
    width: 100%;
    height: 100%;
    padding: 0 3.2rem;
    border: 1px solid $color_e4e;
    border-radius: 1.2rem;
    background-color: $white;
    text-align: left;
  
    .ico-box {
      @include flex(row, center, center);
      width: 4.4rem;
      height: 4.4rem;
      border-radius: 100%;
      background-color: $color_ebe;
      img {
        display: block;
        width: 2.4rem;
        height: auto;
      }
    }
  
    .block-find-owner-box-right {
      margin-left: 2rem;
    }
  
    .title-box {
      margin-bottom: 1.6rem;
      @include font(2rem, 700, $black, normal);
    }
  
    .data-box {
      .data-box-row {
        @include flex(row, flex-start, center);
  
        + .data-box-row {
          margin-top: 0.7rem;
        }
  
        .label {
          @include font(1.4rem, 400, $color_bfb, normal);
        }
        
        .data {
          margin-left: 0.8rem;
          @include font(1.4rem, 400, $color_7f7, normal);
        }
      }
    }
  
    .empty-text-box {
      @include font(2rem, 500, $color_bfb, normal);
    }
  }
}