.dropdown {
    position: relative;
    display: inline-block;
    > button {
        position: relative;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #000;
        padding: 8px 37px 8px 16px;
        span {
            font-size: 14px;
        }
        &::after {
            content: '';
            position: absolute; right: 14px; top: 50%; margin-top: -2px;
            display: block; width: 0; height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #000 transparent transparent transparent;
        }
    }    
    > ul {
        display: none;
        background-color: #fff;
        border: 1px solid #000;
        padding: 8px 0;
        position: absolute;
        z-index: 1000;
        top: calc(100% - 1px);
        left: 0;
        right: 0;
        > li { 
            padding: 6px 16px;
            a {
                display: block;
                font-size: 14px;
                color: #000;
            }
        }
    }

    &[data-direction="top"] {
        > button {
            &::after {
                border-width: 0 4px 4px 4px;
                border-color: transparent transparent #000 transparent;
            }
        }        
        > ul {
            top: auto;
            bottom: calc(100% - 1px);
        }
    }

    &[data-footer] {
        > button {
            background-color: transparent;
            border-color: $colorFooter;
            span { color: $colorFooter; }
            &::after {
                border-color: $colorFooter transparent transparent transparent;
            }
        }
        > ul {
            border-color: $colorFooter;
            background-color: #1C1A1B;
            > li { 
                a {
                    color: $colorFooter;
                }
            }
        }

        &[data-direction="top"] {
            > button {
                &::after {
                    border-color: transparent transparent $colorFooter transparent;
                }
            }
        }
        
    }

    &.on {
        > ul {
            display: block; 
        }
    }

    @include respond-to('notmobile') {
        > button {
            &:hover {
                span { color: $colorPrimary; }
            }
        }
        > ul > li a:hover { color: $colorPrimary; }
        &[data-footer] {
            > button {
                &:hover {
                    span { color: #fff; }
                }
            }
            > ul > li a:hover { color: #fff; }
        }
    }

    @include respond-to('mobile') {
        > button {
            padding: 6px 38px 6px 16px;
            span { font-size: 12px; }
        }
    }
}