footer {
    background-color: #1C1A1B; padding: 60px 0 100px;
    .logo { display: block; width: 40px; margin-right: 60px; }
    .footer-link {
        > a {
            display: inline-block; vertical-align: top; color: #999;
            strong { color: #fff; font-weight: 400; }
        }
    }
    
    .copyright { color: #999; }

    @include respond-to('mobile') {
        padding: 27px 0 35px;
        .logo {
            position: absolute;
            left: 25px; top: 0;
            width: 37px;
            margin-right: 58px;
        }
        .footer-content {
            padding-left: 95px;
            margin-bottom: 22px;
            padding-bottom: 22px;
            border-bottom: 1px solid #333;
        }
        .footer-link {
            font-size: 0;
            > a {
                font-size: 13px; 
                margin-bottom: 8px;
                padding: 0 12px;
                // width: 35%;
                // &:nth-of-type(2), &:nth-of-type(4) {
                //     width: 65%;
                // }
            }
        }
        .copyright { font-size: 10px; margin-top: 12px; }
    }

    @include respond-to('notmobile') {
        .container {
            @include flexbox;
            @include flex-direction(row);
            @include align-items(center);
            @include flex-wrap(wrap);
            //max-width: 1200px; 
        }
        .footer-content { @include flex(1 0 auto); }
        .footer-etc {
            @include flexbox;
            @include align-items(center);
        }
        .logo {
            padding-top: 4px;
        }
        .footer-link {
            font-size: 0;
            > a {
                position: relative;
                display: inline-block; padding: 0 20px;
                font-size: 15px;
                &:first-of-type { padding-left: 0; }
                &+ a {
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0; top: 6px;
                        display: block;
                        height: 10px;
                        border-left: 1px solid #999;
                    }
                }
                &:hover { color: #fff; }
            }
        }
        .copyright { font-size: 15px; margin-top: 15px; }
    }

    @media screen and (min-width:768px) and (max-width:1180px) {
        .footer-etc {
            margin-top: 20px;
            justify-content: space-between;
        }
    }

}

.footer-channel {
    > a {
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 26px;
        font-size: 0;
        text-indent: -9999px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        & + a { margin-left: 8px; }
        
        &.channel-hyundai { background-image: inline-svg('channel_hyundai', #fff); }
        &.channel-facebook { background-image: inline-svg('channel_facebook', #fff); }
        &.channel-instagram { background-image: inline-svg('channel_instagram', #fff); }
        &.channel-youtube { background-image: inline-svg('channel_youtube', #fff); }
        &.channel-twitter { background-image: inline-svg('channel_twitter', #fff); }
        &.channel-twitterX { background-image: inline-svg('channel_twitterX', #fff); }/* 230919 add */
        &.channel-weibo { background-image: inline-svg('channel_weibo', #fff); }
        &.channel-wechat { background-image: inline-svg('channel_wechat', #fff); }
    }
    @include respond-to('mobile') {
        margin-bottom: 20px;
    }
    @include respond-to('notmobile') {
        margin-right: 30px;
        > a:hover {
            opacity: 1;
        }
    }
}
/*
html[lang="en"] {
    footer {
        @include respond-to('mobile') {
            .footer-link {
                > a {
                    width: 40%;
                    &:nth-of-type(2), &:nth-of-type(4) {
                        width: 60%;
                    }
                }
            }
        }
    }
}*/