//청구요금 확인 , 실시간 사용요금 조회
.charge-check {
  .content-container {
    padding-bottom: 3.4rem;
  }
  .charge-tab-content {
    margin-top: 2rem;
  }
  .charge-info-box {
    @include flex(row, space-between, center);
    margin-bottom: 1.4rem;
    &.detail {
      display: block;
    }
    dt {
      @include font(1.6rem, 500, $black, normal);
      letter-spacing: -0.032rem;
    }
    dd:not(.total-price) {
      @include font(1.6rem, 400, $black, normal);
      letter-spacing: -0.032rem;
      text-align: right;
    }
    .total-price {
      margin-bottom: 0.4rem;
      @include font(1.6rem, 400, $primary, normal);
    }
    em {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  .charge-detail-box {
    padding: 1.6rem 1.4rem;
    margin-top: 1rem;
    @include bgBoxGray;
    li {
      margin-bottom: 1.4rem;
      &:last-child {
        margin-bottom: 0;
      }

      .list {
        @include flex(row, flex-start, center);
        margin-bottom: 1.4rem;
        @include font(1.4rem, 400, rgba($black, 0.7), normal);
        letter-spacing: -0.07rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .list:not(.first-list) {
        position: relative;
      }
      .first-list {
        color: $black;
        & ~ p {
          padding-left: 1.4rem;
        }
        & + p {
          &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 1.2rem;
            height: 1.2rem;
            background: image('icon/ic_sub_text.png') no-repeat center / contain;
          }
        }
      }

      .vat {
        font-size: 1.4rem;
        font-weight: 500;
        color: $primary;
      }
    }
    .sum {
      font-weight: 500;
      margin-left: auto;
    }
    .detail-wrap {
      &.type-mobile {
        .detail-title {
          &::before {
            background-image: image('icon/ic_phone_s.png');
          }
        }
      }
      &.type-internet {
        .detail-title {
          &::before {
            background-image: image('icon/ic_internet.png');
          }
        }
      }
      &.type-wireline {
        .detail-title {
          &::before {
            background-image: image('icon/ic_call_quality.png');
          }
        }
      }
      &.type-iptv {
        .detail-title {
          &::before {
            background-image: image('icon/ic_tv.png');
          }
        }
      }
    }
    .detail-title {
      @include flex(row, flex-start, center);
      margin-bottom: 1.6rem;
      padding-bottom: 1.6rem;
      border-bottom: 1px solid rgba($black, 0.1);
      @include font(1.6rem, 500, $black, normal);
      letter-spacing: -0.032rem;
      &::before {
        content: '';
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }
  .charge-detail-content {
    margin-top: 2rem;
  }
  .alert-text-box {
    margin-top: 1rem;
    .alert-text {
      > span {
        color: $primary;
      }
      &::before {
        content: '';
        flex-shrink: 0;
        align-self: center;
        display: block;
        width: 2px;
        height: 2px;
        margin-right: 0.6rem;
        background-color: rgba($black, 0.7);
        border-radius: 50%;
      }
    }
  }
  .badge-box {
    @include flex(row, flex-end, flex-start);
    margin-top: -1rem;
    .btn-detail {
      padding: 0.3rem 1rem;
      border: 1px solid $primary;
      border-radius: 5rem;
      text-align: center;
    }
  }
  .charge-fee-box {
    padding: 2rem;
    margin-top: 2rem;
    @include bgBoxGray;
    & + .charge-fee-box {
      margin-top: 0.8rem;
    }
  }
  .charge-fee-item {
    .fee-item {
      @include flex(row, flex-start, center);
      margin-bottom: 2rem;
      &:only-child,
      &:last-child {
        margin-bottom: 0;
      }
    }
    .row-title {
      @include flex(row, flex-start, center);
      @include font(1.6rem, 500, $black, normal);
      letter-spacing: -0.032rem;
      &.internet {
        &::before {
          background-image: image('icon/ic_internet.png');
        }
      }
      &.tv {
        &::before {
          background-image: image('icon/ic_tv.png');
        }
      }
      &.tel {
        &::before {
          background-image: image('icon/ic_call_quality.png');
        }
      }
      &.unpaid {
        &::before {
          background-image: image('icon/ic_unpaid.png');
        }
      }
      &::before {
        content: '';
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    .row-price {
      margin-left: auto;
      @include font(1.6rem, 400, $black, normal);
      letter-spacing: -0.032rem;
      > span {
        margin-right: 0.2rem;
        font-weight: 500;
      }
    }
    .info-alert-text {
      @include font(1.4rem, 400, rgba($black, 0.7), normal);
      letter-spacing: -0.07rem;
    }
  }
  .user-fee-box {
    margin-top: 3.6rem;
    .fee-title-box {
      margin-bottom: 1.4rem;
      @include font(1.6rem, 400, $black, normal);
      letter-spacing: -0.032rem;
      .fee-title {
        margin-bottom: 0.8rem;
        font-weight: 500;
      }
    }
    .fee-include-box {
      @include flex(row, center, center);
      padding: 1.6rem 1.4rem;
      border: 2px solid rgba($primary, 0.5);
      background-color: #f1efff;
      border-radius: 1rem;
      @include font(1.4rem, 400, $black, normal);
      letter-spacing: -0.07rem;
      text-align: center;
      & + .fee-include-box {
        margin-top: 1.5rem;
      }
      .highlight {
        font-weight: 700;
      }
    }
  }
}
