.join-info {
  .header {
    background-color: $primary;
    * {
      color: $white;
    }
  }
  .btn-page-prev {
    &::before {
      background: image('icon/btn_top_back_w_nor.png') no-repeat center / 2.4rem;
    }
    &:active {
      &:not(:disabled) {
        background-color: rgba($white, 0.12);
      }
    }
  }
  .btn-home {
    background: image('icon/btn_top_home_w_nor.png') no-repeat center / 2.4rem;
    &:active {
      &:not(:disabled) {
        background: rgba($white, 0.12) image('icon/btn_top_home_w_nor.png') no-repeat center / 2.4rem;
      }
    }
  }
}

.join-info-top {
  margin: -2rem -2rem 0;
  padding: 1.6rem 2rem 2rem;
  background-color: $primary;
  .info-title-box {
    .info-title {
      margin-bottom: 1.6rem;
      @include font(2rem, 500, $white, 2.4rem);
      > span {
        font-weight: 700;
      }
    }
  }
  .info-list-box {
    margin-bottom: 1.6rem;
    li {
      @include flex(row, flex-start, center);
      margin-bottom: 0.4rem;
      @include font(1.6rem, 500, $white, 2.2rem);
      letter-spacing: -0.032rem;
      &::before {
        content: '';
        flex-shrink: 0;
        width: 2px;
        height: 2px;
        margin-right: 0.4rem;
        background-color: $white;
        border-radius: 50%;
      }
    }
  }
  .service-select-box {
    .dropdown-area {
      height: 4rem;
      border-radius: 2.2rem;
      &.active {
        height: auto;
        .btn-open {
          border-radius: 2rem 2rem 0 0;
        }
      }
    }
    .btn-open {
      padding: 0.8rem 4.8rem 0.8rem 1.6rem;
      border: none;
      background-color: $white;
      @include font(1.6rem, 500, $black, normal);
      border-radius: 2.2rem;
      &::after {
        width: 1.8rem;
        height: 1.8rem;
        background: image('icon/btn_input_arrow_down_bg_nor.png') no-repeat center/cover;
      }
    }
    .dropdown-list {
      position: static;
      border: none;
      max-height: 16rem;
      padding-bottom: 0;
      background-color: $white;
      border-radius: 0 0 2rem 2rem;
      .list {
        margin: 0;
        &.selected {
          > a {
            color: $primary;
          }
        }
        > a {
          margin: 0 1.6rem;
          padding: 1.6rem 0;
          border-bottom: 1px solid #f6f6f6;
          @include font(1.4rem, 500, $black, normal);
          letter-spacing: -0.07rem;
        }
      }
    }
  }
}

.info-detail-area {
  padding-top: 2rem;
  // padding-bottom: 1.4rem;
  .detail-title-box {
    margin-bottom: 2.4rem;
    .detail-title {
      @include font(2rem, 700, $black, 2.4rem);
    }
  }
  .detail-item-box {
    .detail-item {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      margin-bottom: 1.6rem;
      padding-bottom: 1.6rem;
      border-bottom: 1px solid rgba($black, 0.1);
      @include font(1.6rem, 400, $black, normal);
      letter-spacing: -0.032rem;
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
      }
      .detail-label {
        margin-right: auto;
        font-weight: 500;
      }
      .btn-question {
        @include flex(row, flex-start, center);
        @include font(1.6rem, 500, $black, normal);
        &::after {
          content: '';
          display: inline-block;
          width: 1.4rem;
          height: 1.4rem;
          margin-left: 0.4rem;
          background: image('icon/btn_question_mark_nor.png') no-repeat center/cover;
        }
      }
      .btn-border-gray {
        width: 7rem;
        height: 2.9rem;
        font-size: 1.4rem;
        letter-spacing: -0.07rem;
      }
    }
  }
  .detail-range-box {
    width: 100%;
    margin-top: 1rem;
    padding: 1.6rem 1.4rem;
    background-color: #f5f5f5;
    border-radius: 0.8rem;
    .range-text {
      @include flex(row, space-between, center);
      @include font(1.4rem, 500, rgba($black, 0.7), normal);
      letter-spacing: -0.07rem;
      > span {
        &:first-child {
          margin-right: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }
}
