.certification {
  .column-title-icon-box {
    padding-top: 1.6rem;
    &:before {
      display: none;
    }

    .circle-icon-box {
      @include flex(row, center, center);
      margin-bottom: 3rem;
    }
  }
  .form-certification-box {
    margin-top: 3.6rem;
    .form-certification {
      margin-bottom: 2rem;
    }
    .certinArea:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.certification-radio-box {
  margin: 3.6rem 0;
  padding: 0 3.5rem;
  @include flex(row, space-between, flex-start);
  input[type='radio'] {
    &:checked {
      & + label {
        color: $black;
      }
    }
  }
  label {
    display: block;
    @include font(1.6rem, 500, rgba($black, 0.3), normal);
    letter-spacing: -0.032rem;
    text-align: center;
    &::before {
      content: '';
      display: block;
      margin-bottom: 1.4rem;
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
    }
  }
  .certi-individual {
    input[type='radio'] {
      &:checked {
        & + label {
          &::before {
            background: $primary image('icon/ic_individual_w.png') no-repeat center/ 5.2rem;
          }
        }
      }
    }
    label {
      &::before {
        background: $bg-gray image('icon/ic_individual_b.png') no-repeat center/5.2rem;
      }
    }
  }
  .certi-corporation {
    input[type='radio'] {
      &:checked {
        & + label {
          &::before {
            background: $primary image('icon/ic_corporation_w.png') no-repeat center/ 5.2rem;
          }
        }
      }
    }
    label {
      &::before {
        background: $bg-gray image('icon/ic_corporation_b.png') no-repeat center/5.2rem;
      }
    }
  }
}
