.intro-container {
  padding-top: 7rem;
  padding-bottom: 4rem;
  .intro-header-box {
    @include flex(row, space-between, center);
    padding: 1.6rem 0;
    .logo {
      display: inline-block;
      img {
        width: 2.2rem;
        height: 2.4rem;
      }
    }
  }
  .intro-title {
    @include font(2.6rem, 500, $black, 3.38rem);
    letter-spacing: -0.13rem;
  }
  .cs-list-container {
    margin-top: 4rem;
  }
  .cs-list-area {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: -0.4rem;
  }
  .cs-list-box {
    margin: 0.4rem;
    width: calc(50% - 0.8rem);
  }
  .cs-list-btn {
    position: relative;
    width: 100%;
    height: 17.3rem;
    padding: 1.6rem;
    @include bgBoxGray($bg-gray, 0.6rem);
    &::after {
      content: '';
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      display: block;
      width: 6rem;
      height: 6rem;
    }
    &:active {
      background: $primary !important;
      span {
        color: $white !important;
      }
      &.btn-view {
        &::after {
          background: image('icon/ic_screen_voice_w.png') no-repeat center / contain;
        }
      }
      &.btn-voice {
        &::after {
          background: image('icon/ic_voice_w.png') no-repeat center / contain;
        }
      }
    }
    span {
      display: block;
    }
    .cs-list-text {
      margin-bottom: 0.4rem;
      @include font(1.4rem, 500, $black, 1.1);
      letter-spacing: -0.07rem;
    }
    .cs-list-label {
      @include font(1.8rem, 700, $black, 1.2);
    }
    &.btn-view {
      background-color: rgba($primary, 0.12);
      &::after {
        background: image('icon/ic_screen_voice.png') no-repeat center / contain;
      }
    }
    &.btn-voice {
      &::after {
        background: image('icon/ic_voice.png') no-repeat center / contain;
      }
    }
  }
}

.intro-bg-area {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  .intro-loading-box {
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    background-color: $black;
    .intro-loading-text {
      @include font(2rem, 400, rgba($white, 0.3), normal);
    }
    .intro-loading-icon {
      position: relative;
      width: 6.9rem;
      height: 6.9rem;
      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      // T로고
      &:before {
        z-index: 1;
        width: 3.8rem;
        height: 4rem;
        background: image('icon/ic_logo_loading_01.png') no-repeat center/cover;
      }
      // 라운드
      &:after {
        z-index: 0;
        width: 100%;
        height: 100%;
        background: image('icon/ic_logo_loading_02.png') no-repeat center/cover;
        animation: infiniteLoading 3s linear infinite;
      }
    }
  }

  @keyframes infiniteLoading {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .intro-bg-box {
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

//1600 start
.intro-guide-text {
  margin-top: 1.4rem;

  @include font(1.6rem, 400, rgba($black, 0.7), normal);
  letter-spacing: -0.032rem;
  word-break: keep-all;

  &.bottom {
    padding: 0 2rem 2.4rem;
    text-align: center;
  }
}
