/* 이벤트 > 제휴 카드 */
.cardListContainer {
  margin-top: 12rem;
  .cardBottom {
    margin-top: 16.6rem;
  }
}
.cardList {
  @include flex(row, flex-start, stretch);
  flex-wrap: wrap;
  margin: -1.1rem;
  & > li {
    width: calc(33.333% - 2.2rem);
    margin: 1.1rem;
  }
  .cardItemBox {
    height: 100%;
  }
}
.cardItemBox {
  position: relative;
  @include flex(column, flex-start, flex-start);
  overflow: hidden;
  background-color: $white;
  border-radius: 12px;
  border: 1px solid $border-color-02;
  &.cardHorizontal {
    .imgWrap {
      width: 29rem;
      height: 18.8rem;
    }
  }
  .cardItemHead {
    width: 100%;
    padding: 3rem 3rem 2.4rem;
    background-color: $bgcolor-gray-03;
  }
  .cardItemBody {
    @include flex(column, center, flex-start);
    flex: 1;
    width: 100%;
    padding: 0 3rem;
  }
  .cardItemFoot {
    width: 100%;
    margin-top: auto;
    padding: 3rem 3rem 5rem;
    .buttonArea {
      margin: 0;
    }
  }
  .itemTop {
    margin-bottom: 1.8rem;
  }
  .previewBox {
    @include flex(row, center, center);
    margin: 3rem auto;
  }
  .imgWrap {
    @include flex(row, center, center);
    overflow: hidden;
    width: 18.8rem;
    height: 29rem;
    border-radius: 11px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .itemTitle {
    display: block;
    margin-bottom: 0.8rem;
    @include font(2.8rem, bold, $black, 1.4);
  }
  .itemText {
    @include font(1.8rem, normal, $color-gray-06, 1.4);
  }
  .labelBox {
    @include flex(row, flex-start, center);
    margin: -0.4rem;
  }
  .itemLabel {
    @include flex(row, center, center);
    margin: 0.4rem;
    height: 2.3rem;
    padding: 0 0.7rem;
    background-color: $white;
    border-radius: 3px;
    border: 1px solid $primary;
    span {
      @include font(1.3rem, bold, $primary, 1);
    }
  }
  .DDayLabel {
    position: absolute;
    top: 0;
    right: 3rem;
    z-index: 1;
    padding: 1rem 1.7rem;
    background-color: $color-cyan-02;
    @include font(1.6rem, bold, $white, 1);
  }
  // .blackDotList {
  //   width: 100%;
  //   margin-top: auto;
  // }
}
/* 검정 dot list */
.blackDotList {
  & > li {
    position: relative;
    @include flex(row, flex-start, flex-start);
    padding-left: 1.5rem;
    margin-top: 1.2rem;
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0.8rem;
      left: 0;
      z-index: 1;
      width: 5px;
      height: 5px;
      background-color: $black;
      border-radius: 50%;
    }
  }
  .titleBox {
    flex-shrink: 0;
    margin-right: 1.6rem;
    @include font(1.6rem, bold, $black, 1.4);
  }
  .textBox {
    @include font(1.6rem, normal, $black, 1.4);
  }
}




@media (#{$pc-small}) {
  /* 이벤트 > 제휴 카드 */
  .cardList {
    & > li {
      width: calc(50% - 2.2rem);
    }
  }
}

@media (#{$foldMax}) {
  /* 이벤트 > 제휴 카드 */
  .cardListContainer {
    margin-top: 5rem;
    .cardBottom {
      margin-top: 3rem;
    }
  }
  .cardList {
    margin: -1.5rem 0;
    & > li {
      width: 100%;
      margin: 1.5rem 0;
    }
  }
  .cardItemBox {
    &.cardHorizontal {
      .imgWrap {
        width: 21.9rem;
        height: 14.2rem;
      }
    }
    .cardItemHead {
      padding: 2rem 1.6rem;
    }
    .cardItemFoot {
      padding: 3rem;
    }
    .itemTop {
      margin-bottom: 1.2rem;
    }
    .imgWrap {
      width: 14.2rem;
      height: 21.9rem;
      border-radius: 8px;
    }
    .itemTitle {
      margin-bottom: 0.6rem;
      font-size: 1.8rem;
    }
    .itemText {
      font-size: 1.2rem;
    }
    .DDayLabel {
      padding: 0.9rem 1.4rem;
      font-size: 1.4rem;
    }
  }
  .blackDotList {
    & > li {
      display: block;
      margin-top: 1.6rem;
    }
    .titleBox {
      display: block;
      margin-right: 0;
      margin-bottom: 0.8rem;
      font-size: 1.4rem;
    }
    .textBox {
      font-size: 1.4rem;
    }
  }
}