.example {
  min-height: 70rem;
}

.fieldDatepicker {
  position: relative;
  width: 100%;
  // max-width: 32rem;
  margin: 2rem auto;

  &.hideInput {
    input[type=text] {
      position: absolute;
      height: 0;
      border: none;
    }
  }

  &.top {
    .datepicker {
      &.datepicker-dropdown {
        top: auto !important;
        bottom: 100% !important;
      }
    }
  }

  &.active {
    position: absolute;

    &.btnOpen+* {
      padding-top: 4.8rem;
    }
  }

  .datepicker {
    top: 100% !important;
    left: 0 !important;
    width: 100%;
    min-width: 240px;

    caption {
      @include no-ir;
      display: table-caption;
      font-size: 1.4rem;
    }
  }

  /* Datepicker 오픈 버튼 */
  .btnOpen {
    @include flex(row, center, center);
    width: 100%;
    height: 5.5rem;
    border-radius: .4rem;
    border: 1px solid $border-color-02;
    @include font(1.4rem, 400, $color-gray-01, normal);
    background-color: $white;

    &:before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      margin-right: 1.1rem;
      background: image('common/icon_calendar_small.svg') center no-repeat;
    }
  }

  .colorLabel {
    @include flex(row, center, center);
    display: inline-flex;
    height: 2.3rem;
    padding: 0 0.5rem;
    margin-left: 0.8rem;
    background-color: $primary;
    border-radius: 0.3rem;
    @include font(1.4rem, normal, $white);
  }

  .currentDate {
    margin-right: 0.5rem;
    font-size: 1.6rem;
    font-weight: bold;
  }

  /* 기간 선택 버튼 (1, 3, 6, 12개월) */
  .btnPeriod {
    @include flex(row, center, center);
    width: 100%;
    height: 4.4rem;
    border-radius: .3rem;
    border: 1px solid $border-color-02;
    @include font(1.4rem, 400, $color-gray-01, normal);
  }

  /* =========== Large =========== */

  &.large {
    // max-width: 70rem;

    .singleDatePicker {
      @include flex(row, center, center);
    }

    .datepicker {
      @include flex(row, center, center);
      @include font(1.6rem, 400, $black, normal);

      // 날짜 선택 달력 //
      .datepicker-days {
        .table-condensed {

          /* ========= thead ========= */

          .datepicker-switch {
            padding: 2.4rem 0.5rem;
            @include font(1.8rem, 700, $color-gray-01, normal);
          }

          /* ========= tbody ========= */

          /* 날짜 */
          .day {
            width: 5.4rem;
            height: 4.2rem;
            line-height: 4.2rem;

            /* 오늘 */
            &.today {
              position: absolute;
              margin: 0 0.6rem;
              width: 4.2rem;
              background-color: $color-cyan-01;
            }

            /* 포커싱 된 날짜 */
            &.focused {
              position: absolute;
              margin-top: -0.5rem;
              height: 4.2rem;
              line-height: 4.2rem;
            }
          }
        }
      }

      .datepicker-months {
        .month {
          width: 8.4rem;
          height: 5rem;
          margin: 0.5rem;
          line-height: 4.8rem;
        }
      }
    }

    .btnOpen {
      height: 5.4rem;
      font-size: 1.6rem;
      line-height: 1.4;

      &:before {
        width: 2.4rem;
        height: 2.4rem;
        background: image('common/icon_calendar.svg') center no-repeat;
      }
    }
  }
}

.datePickerArea {
  position: relative;

  &+.fieldForm {
    // 요금 조회 > 명세서 조회 영역 '미납부'버튼 간격 - dev
    margin-top: 2rem;
  }
}

.datepicker {
  // width: 100%;
  padding: 1.0rem;
  padding-bottom: 2rem;
  border-radius: 0.3rem;
  border: 1px solid $border-color-03;
  @include font(1.4rem, 400, $black, normal);

  &.datepicker-dropdown {
    position: absolute;
    border: 2px solid $primary;
    background-color: $white;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
  }

  .table-condensed {
    width: 100%;
    /* ========= thead ========= */

    /* 이전 버튼 */
    .prev {
      width: 4rem;
      height: 4rem;
      // background: image('common/icon_arrow_left.svg') no-repeat center;
    }

    /* 다음 버튼 */
    .next {
      width: 4rem;
      height: 4rem;
      // background: image('common/icon_arrow_right.svg') no-repeat center;
    }

    .btn-next,
    .btn-prev {
      position: relative;
      width: 4rem;
      height: 4rem;

      &:after {
        content: '';
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
      }

      &:before {
        content: '';
        position: absolute;
        display: none;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5rem;
      }

      &.active,
      &:active {
        &:before {
          display: block;
          background-color: $primary;
        }
      }

      &:focus-visible {
        outline: none;

        &:before {
          display: block;
          border: 1px solid $primary;
        }
      }
    }

    .btn-prev {
      &:after {
        background: image('common/icon_arrow_left.svg') no-repeat center;
      }
    }

    .btn-next {
      &:after {
        background: image('common/icon_arrow_right.svg') no-repeat center;
      }
    }

    /* 현재 선택한 날짜 */
    .datepicker-switch {
      display: inline-block;
      height: auto;
      // padding: 1.4rem 0.5rem;
      background-color: transparent;
      @include font(1.8rem, 700, $color-gray-01, normal);
      vertical-align: middle;

      &:not(.fake) {
        cursor: pointer;
      }
    }
  }

  // 날짜 선택 달력 //
  .datepicker-days {
    .table-condensed {
      width: 100%;

      tr {
        border: none;
      }

      /* ========= thead ========= */

      /* 요일 */
      .dow {
        height: 2.8rem;
        padding: 0;
        background-color: transparent;
        text-align: center;
        line-height: 2.8rem;
        color: $primary;
      }

      /* ========= tbody ========= */

      /* 날짜 */
      .day {
        position: relative;
        width: 3.6rem;
        height: 3.6rem;
        padding: 0;
        font-family: 'Roboto';
        text-align: center;
        line-height: 3.6rem;

        /* 오늘, 선택한 날짜, 포커싱 된 날짜의 공통 크기 및 위치 */
        /* 오늘 */
        &.today {
          // border: 2px solid $primary;
          border-radius: 0.4rem;
          background-color: $color-gray-02;

          &.active,
          &.focused {
            background-color: transparent;
          }
        }

        /* 선택한 날짜 */
        &.active {
          &:before {
            background-color: $color-cyan-01;
          }
        }

        /* 포커싱 된 날짜 */
        &.focused {
          &:before {
            width: 3.6rem;
            height: 3.6rem;
            border: 2px solid $primary;
            box-sizing: border-box;
            line-height: 3.2rem;
          }
        }

        &.active,
        &.focused {
          font-weight: 700;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 10rem;
            transform: translate(-50%, -50%);
          }
        }

        /* 지난 달, 다음 달 날짜 (흐릿한 회색) */
        &.old,
        &.new {
          color: $border-color-03;
        }
      }

      button:not(.datepicker-switch):not(.btn-prev):not(.btn-next) {
        display: block;
        width: 100%;
        height: 100%;
        @include font(1.4rem, 400, $black, normal);
      }

      .datepicker-switch {
        display: inline-block;
        height: auto;
        // padding: 1.4rem 0.5rem;
        background-color: transparent;
        @include font(1.8rem, 700, $color-gray-01, normal);
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }

  /* 달 선택 */
  .datepicker-months {
    .month {
      display: block;
      float: left;
      width: calc(25% - 0.74rem);
      height: 3.8rem;
      margin: 0.3rem 0.37rem;
      border-radius: .3rem;
      border: 1px solid $border-color-02;
      @include font(1.6rem, 400, $secondary, 3.6rem);
      text-align: center;
      cursor: pointer;

      &.active {
        border-radius: 0.4rem;
        background-color: $primary;
        font-weight: 700;
        color: $white;
      }
    }
  }

  /* 년도 선택 */
  .datepicker-years {
    .year {
      display: block;
      float: left;
      width: calc(25% - 0.74rem);
      height: 3.8rem;
      margin: 0.3rem 0.37rem;
      border-radius: .3rem;
      border: 1px solid $border-color-02;
      @include font(1.4rem, 400, $secondary, 3.6rem);
      text-align: center;
      cursor: pointer;

      // &.active {
      //   border-radius: 0.4rem;
      //   background-color: $primary;
      //   font-weight: 700;
      //   color: $white;
      // }

      &.focused {
        border-radius: 0.4rem;
        background-color: $primary;
        font-weight: 700;
        color: $white;line-height: 3.4rem;
      }
    }
  }
}

.datepicker,
.periodContainer {
  .button-box {
    button {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 4.4rem;
      padding: 0 1rem;
      margin-top: 1rem;
      border-radius: 0.4rem;
      border: 1px solid $primary;
      @include font(1.4rem, 500, $primary, 4.4rem);
      text-align: center;
    }
  }
}

.datepicker {
  .button-box {
    margin: 0 0.5rem;
  }
}

@media (#{$mobile}) {
  .datepicker {
    &.datepicker-dropdown {
      min-width: 74vw;
    }
  }

  .fieldDatepicker {
    .currentDate {
      font-size: 1.4rem;
    }
  }
}

.periodContainer {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 2rem;
  border-radius: 0.3rem;
  border: 2px solid $primary;
  background-color: $white;

  &.top {
    top: auto;
    bottom: 100%;
  }

  &.show {
    display: block;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.25);
  }

  .btnPeriod {
    width: 100%;
    height: 4.4rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      border: 1px solid $primary;
    }

    &:hover,
    &:focus-visible {
      overflow: hidden;
      background-color: rgba($black, 0.04);
    }

    &:focus-visible {
      &:before {
        display: block;
        outline: 2px solid $black;
      }
    }

    &[title="선택됨"],
    &[title="선택 됨"] {
      position: relative;

      &:before {
        display: block;
      }
    }
  }
}

.datepicker-months,
.datepicker-years {
  max-width: 37.6rem;
  margin: 0 auto;
}

/* 기간 선택(처음,끝) */
.periodWrap {
  @include flex(row, flex-start, center);

  .space {
    margin: 0 1rem;

    &:before {
      content: '~';
      @include font(1.4rem, normal, $color-gray-01, normal);
    }
  }

  .field {
    margin: 0;

    .fieldForm {
      @include flex(row, center, center);

      &>*:only-child {
        flex: 0;
      }

      &.endDatePickerArea {
        .datepicker {
          left: inherit !important;
          right: 0 !important;
        }
      }
    }
  }

  .fieldDatepicker {
    &:last-child {
      .datepicker {
        left: auto !important;
        right: 0 !important;
      }
    }
  }

  .datePickerArea {
    @include font(1.4rem, 400, $color-gray-01, normal);
  }

  .fieldLabel {
    @include ir;
  }
}

@media (#{$tablet}) {
  .datepicker {
    .table-condensed {

      .btn-next,
      .btn-prev {

        &.active,
        &:active {
          &:before {
            display: none;
          }
        }

        &:focus-visible {
          outline: none;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

@media (#{$foldMax}) {
  .fieldDatepicker {
    &.large {
      .btnOpen {
        font-size: 1.3rem;
        word-break: keep-all;
      }
    }

    .btnOpen {
      height: 4.8rem;
      font-size: 1.3rem;
    }

    .currentDate {
      display: block;
      font-size: 1.4rem;
    }

    &:not(.large) {
      .btnOpen {
        flex-wrap: wrap;
        font-size: 1.2rem;
      }
    }
  }

  .datepicker {
    .datepicker-months {
      .month {
        width: calc(25% - 0.74rem);
      }
    }
  }
}

@media (#{$mobile}) {
  .fieldDatepicker {
    .colorLabel {
      font-size: 1.3rem;
    }
  }
}