.commonErrorWrap, .comingSoon {
  padding-top: 0;
}
// ------- error common ------- //
.logoHeader {
  @include flex(row, center, center);
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
}
.footerCopyright {
  @include flex(row, center, center);
  height: 5.7rem;
  @include font(1.2rem, normal, $color-gray-03, 1.4);
}
// ------- error ------- //
.errorConatiner {
  @include flex(column, flex-start, center);
  margin: 13rem auto 21.5rem;
  padding: 0 2rem;
  @include font(1.4rem, normal, $color-gray-04, 1.4);
  word-break: keep-all;
  .errorTop {
    width: 100%;
    height: 100%;
    margin-bottom: 1.2rem;
    text-align: center;
    .imgWrap {
      width: 100%;
      max-width: 60rem;
      margin-bottom: 4rem;
      img {
        display: block;
      }
    }
  }
  .errorMiddle, 
  .errorBottom {
    width: 100%;
    max-width: 54rem;
  }
  .errorMiddle {
    margin-bottom: 4rem;
    text-align: center;
  }
  .errorTitle {
    @include font(4rem, bold, $color-gray-06, 1.4);
    strong {
      color: $primary;
    }
  }
  .errorBgGray {
    padding: 2.5rem 3.4rem;
    background-color: $bgcolor-gray-03;
    border-radius: 1rem;
  }
  .noticeDl {
    margin-bottom: 1.2rem;
    @include flex(row, flex-start, center);
    &:last-child {
      margin-bottom: 0;
    }
    dt {
      flex-basis: 6.5rem;
      padding: 0 0.7rem;
      margin-right: 1.5rem;
      background-color: $primary;
      border-radius: 0.3rem;
      @include font(1.3rem, normal, $white, 2.3rem);
      white-space: nowrap;
    }
    dd {
      @include font(1.4rem, normal, $color-gray-06, 1.4);
    }
  }
  .buttonArea {
    margin: 0 -0.5rem;
    .btn {
      max-width: 18rem;
      margin: 0 0.5rem;
    }
  }
}

// ------- comingSoon ------- //
.comingSoon, .commingSoon {
  &.wrap {
    background: linear-gradient(34.88deg, #EFF1F3 14.9%, #FFFFFF 58.82%);
  }
  .comingContent, .commingContent {
    & > * {
      @include ir;
    }
  }
}
.comingConatiner {
  padding: 15.7rem 0 18.7rem;
  .comingContent {
    & > * {
      @include ir;
    }
  }
  .imgwrap {
    display: block;
    width: 100%;
    max-width: 142rem;
    padding: 0 2rem;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
    &.moType {
        display: none;
      }
    }
  }
}


@media (#{$tablet}) {
  // ------- comingSoon ------- //
  .comingConatiner {
    padding: 7.2rem 0 6.5rem;
    .imgwrap {
      img {
        &.pcType {
          display: none;
        }
        &.moType {
          display: block;
        }
      }
    }
  }
}

@media (#{$foldMax}) {
  // .logoHeader {
  //   height: 6.1rem;
  //   .logo {
  //     width: 8.9rem;
  //     height: 3.1rem;
  //   }
  // }
  .errorConatiner {
    margin: 5rem auto 6rem;
    font-size: 1.2rem;
    .block {
      display: block;
    }
    .errorTop {
      margin-bottom: 1rem;
      .imgWrap {
        margin-bottom: 2rem;
      }
    }
    .errorMiddle {
      margin-bottom: 2rem;
    }
    .errorTitle {
      font-size: 2rem;
    }
    .errorBgGray {
      padding: 2rem;
    }
    .noticeDl {
      margin-bottom: 1rem;
      dt {
        font-size: 1.2rem;
      }
      dd {
        font-size: 1.3rem;
      }
    }
  }
  
}

@media (#{$mobile}) {
  .errorConatiner {
    .errorBgGray {
      padding: 1rem;
    }
    .buttonArea {
      display: block;
      margin: -0.8rem 0;
      .btn {
        width: 100%;
        max-width: 100%;
        height: 5rem;
        margin: 0.8rem 0;
      }
    }
  }
}
@media (#{$mobile-small}) {
  .errorConatiner {
    .noticeDl {
      flex-wrap: wrap;
      dt {
        margin-bottom: 0.5rem;
      }
      dd {
        flex-basis: 100%;
      }
    }
  }
}