// ------- footer ------- //
/* 정책 및 약관 */
.policiesNtermsContainer {
  max-width: 147.6rem;
  padding: 0 2rem 13.4rem;
  margin: 0 auto;

  .tabList {
    margin-bottom: 3rem;

    .tabButton {
      // flex: 0;
      width: auto;
      white-space: nowrap;
      padding: 0 0.6rem;
      margin-right: 2.5rem;

      &:last-child {
        margin-right: 0;
      }

      &[aria-selected="true"] {
        color: $black;
      }
    }
  }

  .tabContainer {
    position: relative;
    padding: 7rem;
    background-color: $white;
    border: 1px solid $border-color-02;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 6px rgba($black, 0.04), 0px 0px 1px rgba($black, 0.04);
  }

  .mb35 {
    margin-bottom: 3.5rem;
  }
}

/* ------ 약관 레이아웃 ------ */
.tableContainer{
  &.termsType {
    margin-bottom: 1rem; 
    padding-top: 1rem; 
    td
    {
      border-bottom: 1px solid #E9E9E9;
      border-right: 1px solid #E9E9E9;
      font-size: 1.3rem; 
      vertical-align:middle;
      &:last-child{
        border-right: none !important; 
      }
    }
    
    th {
      text-align: center; 
      border-bottom: 1px solid #E9E9E9;
    }
    &.special-table{
      td{
        padding: 0.4rem 2rem; 
        vertical-align:middle;
      }
    }
  }
}
.numberList {
  list-style: none;
  counter-reset: normalNumber;
  & > li {
    margin-bottom: 1rem;
    counter-increment: normalNumber;
    &::before {
      content: counter(normalNumber) ". ";
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.numeric {
      margin-left:2.5rem;
      list-style-type: auto;
      list-style-position: outside;

      &:before {
        display: none;
      }
    }
    &.notNum {
      counter-increment: none !important; 
      &::before {
        content : '' !important;
      }
    }
  }
}
.termsContainer,
.termsBoardContainer {
  @include font(1.4rem, normal, $color-gray-04, 1.9);
  letter-spacing: -0.3px;

  strong {
    font-weight: bold;
  }

  .termsInner {
    margin-bottom: 4.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .termsContent {
    margin-bottom: 3rem;
  }

  // h2,
  .termsMainTitle {
    display: block;
    margin-bottom: 3.6rem;
    @include font(1.8rem, bold, $color-gray-06, 1.9);
  }

  .termsSubTitle {
    display: block;
    @include font(1.4rem, bold, $primary, 1.9);
  }

  // h3,
  .termsSubTitleLine {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid $primary;
    @include font(1.4rem, bold, $primary, 1.9);
  }

  // h4,
  .infoTitle {
    display: block;
    @include font(1.4rem, bold, $color-gray-06, 1.9);
  }

  .textColorGray {
    @include font(1.3rem, normal, $secondary, 1.9);
  }

  .termsGrayBox {
    padding: 2rem 2.4rem;
    margin: 1rem 0 2rem;
    background-color: $bgcolor-gray-03;
  }

  .termsContent {
    .lineHeightRow {
      line-height: 1.3;
    }
  }
}
/* //---- 약관 레이아웃 ----// */

//List style
.nemberlist {
  list-style: none;
  counter-reset: nemberListCounter;
  & > li {
    counter-increment: nemberListCounter;
    &:before {
      content: counter(nemberListCounter) ". ";
    }
  }
}
// .textList {}
.hyphenList {
  &>li {
    &:before {
      content: '-';
    }
  }
}

// .termsBoardContainer {}
.termsList {
  .termsBoardFoot {
    margin-top: 4rem;
  }
}

.termsDetail {
  .termsBoardFoot {
    padding-top: 1.2rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    border-top: 2px solid $border-color-02;

    .buttonArea {
      @include flex(row, flex-end, center);

      .btn {
        flex: 0;

        &.btnSizeMiddle {
          min-width: 13.6rem;
          height: 4.4rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (#{$tablet}) {
  .policiesAndTerms {
    .mobileNav {
      display: none;
    }
    .contentArea {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  /* 정책 및 약관 */
  .policiesNtermsContainer {
    padding: 0;

    .tabContainer {
      padding: 0.8rem 0 0;
      border: none;
      border-radius: 0;
    }
    .tabContent {
      padding: 1.7rem 2rem 3rem;
    }

    .tabScrollWrap {
      @include flex(row, flex-start, flex-start);
      width: 100%;
      overflow: hidden;
      overflow-x: auto;
      background-color: $white;
      
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
      }
      padding-bottom: 1px;
    }

    .tabList {
      width: 100%;
      height: 4.8rem;
      padding: 0 1.4rem;
      margin-bottom: 0;

      .tabButton {
        align-items: center;
        margin-right: 1.8rem;
      }
    }
  }

  .termsContainer,
  .termsBoardContainer {
    font-size: 1.3rem;
    line-height: 1.8;

    .termsInner {
      margin-bottom: 4rem;
    }

    // h2,
    .termsMainTitle {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }

    // h3,
    .termsSubTitleLine {
      padding-bottom: 0.7rem;
      margin-bottom: 2rem;
      line-height: 1.4;
    }

    .termsGrayBox {
      padding: 1.4rem 1.6rem;
    }
  }

  .termsBoardContainer {
    .tableContainer {
      &.typeBoard {
        .number {
          font-weight: bold;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .policiesNtermsContainer {
    .tabList {
      width: auto;
    }
  }
}