.wrap {
  &.homeSearchResult,
  &[class*=homeJoinStep],
  &.homeWithdrawal {
    .headerContainer {
      &.mobile {
        display: none;
      }
    }
  }
  &.homeSearchResult {
    .footerContainer {
      &.mobile {
        display: none;
      }
    }
  }
}


/* 검색바 공통 */
.totalSearchBar {
  position: relative;
  z-index: 8;
  legend {
    @include ir;
  }
  .searchBarArea {
    position: relative;
    [class*=btn] {
      overflow: hidden;
      width: 5rem;
      height: 5rem;
      & > span {
        @include ir;
      }
    }
  }
  input {
    padding-right: 10rem;
  }
  [class*=btn] {
    &.hide:not(.btnSearch) {
      display: none;
    }
    &:focus-visible {
      outline: 2px solid $black;
    }
  }
  .btnSearchClose {
    width: 5rem;
    height: 5rem;
    & > span {
      @include ir;
    }
  }
  .btnSearch, .btnRemove {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .btnSearch {
    right: 0;
  }
  .btnRemove {
    right: 4rem;
  }
  .btnSearch, .btnSearchOpen {
    background: image('common/icon_search_black.svg') no-repeat center;
    &:hover {
      background: image('common/icon_search_cyan.svg') no-repeat center;
    }
  }
  .btnSearchClose {
    background: image('common/btn_popup_close.svg') no-repeat center;
  }
  .btnRemove {
    background: image('common/icon_search_remove.svg') no-repeat center;
  }
  .btnBack {
    display: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background: image('common/icon_back.svg') no-repeat center / 3rem  auto;
  }
}
// ------- header - search ------- //
.header {
  & > .headerSearchBar {
    display: none;
  }
}
.headerSearchBar {
  .searchBarArea {
    @include flex(row, flex-end, center);
    [class*=btn] {
      z-index: 1;
    }
    input {
      display: none;
      opacity: 0;
      width: 0rem;
      height: 5rem;
      border-color: $color-gray-03;
      border-radius: 5rem;
      &:hover, &:focus {
        border-color: $primary;
      }
    }
  }
  .btnSearch, .btnSearchOpen {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .btnSearch {
    display: none;  
  }
  .btnSearchClose {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
  .keywordContainer {
    overflow: hidden;
    position: absolute;
    display: none;
    top: 5rem;
    left: 0;
    width: calc(100% - 5rem);
    background-color: rgba($bgcolor-gray-03, 0.9);
    box-shadow: 2px 2px 6px rgba($black, 0.2);
    border-radius: 2.5rem;
    transition: all 2s;
  }
  .keywordArea,
  .autoList {
    overflow-y: auto;
    max-height: 31.5rem;
  }
  //검색어
  .keywordArea {
    // display: none;
    padding: 4rem 4rem 5rem;
    .keyTitle {
      @include font(1.4rem, bold, $color-gray-06, 1.4);
    }
    .linkUnderline {
      font-size: 1.2rem;
    }
    .keywordTop {
      @include flex(row, space-between, center);
      margin-bottom: 1.4rem;
    }
    .keywordMiddle {
      @include font(1.6rem, normal, $secondary, 1.4);
    }
  }
  .keywordList {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    margin: -0.4rem;
    & > li {
      margin: 0.4rem;
    }
    a, button {
      @include flex(row, center, center);
      height: 4.3rem;
      padding: 0 1.6rem;
      background-color: $white;
      border-radius: 0.3rem;
      @include font(1.6rem, 500, $secondary, 1);
      &.ranker {
        font-weight: bold;
        color:  $color-gray-06;
      }
      &:hover, &:focus-visible {
        background-color: $color-cyan-06;
        color: $primary;
      }
      &:active {
        background-color: $primary;
        color: $white;
      }
    }
  }
  //자동완성
  // .autoKeywordArea {
  //   display: none;
  // }
  .autoList {
    padding: 2rem 0;
    & > li {
      &:nth-child(odd) {
        background-color: $white;
      }
    }
    a, button {
      @include flex(row, flex-start, center);
      height: 5.5rem;
      padding: 0 4rem;
      @include font(1.6rem, 500, $color-gray-06, 1);
      letter-spacing: 0.5px;
      em {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
// ------- 본문 - search ------- //
.totalSearchContainer {
  background-color: $bgcolor-gray-03;
  input {
    background-color: $bgcolor-gray-03;
  }
}
.contentSearchBar {
  @include flex(row, center, center);
  max-width: 147.6rem;
  height: 24.9rem;
  padding: 0 2rem;
  margin: 0 auto;
  .searchBarArea {
    position: relative;
  }
  input {
    height: 6.9rem;
    border: none;
    border-bottom: 1px solid $border-color-02;
    border-radius: 0;
    font-size: 2rem;
  }
  .btnSearch {
    background: image('common/icon_search_black_small.svg') no-repeat center;
    &:hover {
      background: image('common/icon_search_cyan_small.svg') no-repeat center;
    }
  }
  .btnSearchClose {
    display: none;
  }
}
// header 검색 바 활성화
.openedSearch {
  .totalSearchBar {
    [class*=btn] {
      &.show {
        display: block;
      }
    }
  }
  .gnbContainer {
    display: none;
  }
  .headerSearchBar {
    width: 91rem;
    .btnSearch {
      right: 1rem;
    }
    .btnRemove {
      right: 4.7rem;
    }
    .btnSearch {
      display: block;
    }
    .btnSearchOpen {
      display: none;
    }
    .btnSearchClose {
      display: block;
    }
    .searchBarArea {
      margin-right: 5rem;
      .btnSearchClose {
        display: block;
      }
      input {
        display: block;
        opacity: 1;
        width: calc(100% - 5rem);
        transition: all .5s;
      }
    }

    //검색어 활성화
    .keywordContainer {
      display: block;
    }
  }
}


/* 검색 결과 */
.homeSearchResult {
  .contentArea {
    padding: 8rem 0 14rem;
    background-color: $white;
  }
}
/* 검색 결과 목록 */
.totalResultContainer {
  max-width: 143.6rem;
  margin: 0 auto;
  // top
  .topTitle {
    @include font(2rem, normal, $black, 1);
    strong {
      font-weight: bold;
    }
  }
  //middle
  .middleTitle {
    @include font(1.4rem, normal, $black, 1);
  }
  .middleTop {
    @include flex(row, flex-start, flex-start);
    padding: 2rem;
    background-color: $bgcolor-gray-03;
    strong {
      font-weight: bold;
    }
    .infoMore {
      margin-left: auto;
    }
  }
  .middleBottom {
    padding: 3rem 2rem;
    @include font(1.6rem, normal, $secondary, 1.4);
  }
  // 챗봇
  .recommendChatbot {
    position: relative;
    padding: 5.2rem 8rem 5rem;
    background-color: $bgcolor-gray-03;
    @include font(1.6rem, normal, $color-gray-04, 1.4);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 12.6rem;
      width: 32.7rem;
      height: 15.8rem;
      background: image('home/img_chatbot_illust.svg') no-repeat right bottom;
    }
    .chatbotTitle {
      margin-bottom: 0.9rem;
      @include font(2rem, bold, $black, 1.4);
    }
    a, span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  /* 검색 결과 - 메뉴 */
  .searchMenuDepth {
    margin-bottom: 2.4rem;
    .menuDepthTop {
      margin-bottom: 0.4rem;
      @include font(1.6rem, normal, $color-gray-06, 1.4);
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .menuDepthMiddle {
      @include flex(row, flex-start, center);
      @include font(1.3rem, normal, $secondary, 1.4);
      letter-spacing: 0.5px;
      a {
        @include flex(row, flex-start, center);
        &:after {
          content: '';
          display: block;
          width: 0.25rem;
          height: 0.25rem;
          margin: 0 0.5rem;
          border-right: 1px solid $secondary;
          border-bottom: 1px solid $secondary;
          transform: rotate(-45deg);
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        &:hover {
          text-decoration: underline;
        }
      }
      em {
        font-weight: bold;
        color: $primary;
      }
    }
  }
  /* 검색 결과 - 상품 */
  .searchProductList {
    margin: 2.5rem 0 6rem;
    &:last-child {
      margin-bottom: 0;
    }
    .productListTop {
      margin-bottom: 2.4rem;
      @include font(1.6rem, bold, $color-gray-06, 1.4);
      a {
        @include flex(row, flex-start, center);
        display: inline-flex;
        position: relative;
        margin-left: 1rem;
        padding-right: 1.7rem;
        text-decoration: underline;
        font-size: 1.4rem;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 0.9rem;
          height: 1.5rem;
          background: image('common/arrow_link_r_black02.svg') no-repeat center;
          transition: all .5s;
        }
        &:hover {
          &:after {
            right: -0.5rem;
          }
        }
      }
    }
  }
  .productItemList {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: -1.2rem -0.7rem;
    & > li {
      width: 26.8rem;
      margin: 1.2rem 0.7rem;
    }
    .productItem {
      display: block;
      @include whiteBorderBox(3rem);
      box-shadow: 0px 2px 6px rgba($black, 0.04), 0px 0px 1px rgba($black, 0.04);
      &:hover {
        outline: none;
        background-color: #EEEEF0;
      }
      &:focus-visible {
        outline: 2px solid $black;
      }
      &:active {
        outline: 2px solid $primary;
      }
    }
  }
  .productItem {
    width: 100%;
    .itemLabel {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
      color: $secondary;
    }
    .itemTitle {
      @include flex(column, flex-start, flex-start);
      min-height: 6.4rem;
      @include font(2.2rem, bold, $color-gray-06, 1.45);
    }
    .productItemTop {
      margin-bottom: 0.6rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid $color-gray-06;
    }
    .productItemBottom {
      @include flex(row, flex-start, center);
      .chargePromotion {
        margin-left: auto;
      }
    }
    [class*=charge] {
      position: relative;
      padding: 0 1px;
      @include font(2rem, bold, $color-gray-06, 1.4);
      letter-spacing: 0.3px;
      span {
        padding-right: 0.2rem;
      }
    }
  }
  //프로모션 .productItem.typePromotion
  .typePromotion {
    .charge {
      @include font(1.4rem, normal, $secondary, 1.4);
      span {
        padding-right: 0;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $secondary;
      }
    }
  }
  /* 검색 결과 - 고객지원 */
  .infoMore {
    @include flex(row, flex-start, center);
    position: relative;
    padding-right: 1.5rem;
    @include font(1.4rem, bold, $secondary, 1.4);
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 5px;
      height: 9px;
      background: image('common/arrow_link_r_black03.svg') no-repeat center;
      transition: all .5s;
    }
    &:hover, &:focus {
      &:after {
        right: -0.5rem;
      }
    }
  }
  /* 검색 결과 - 텍스트 */
  .searchTextArea {
    @include flex(column, center, flex-start);
    min-height: 4rem;
    padding: 0.8rem 0;
    .searchContent {
      width: 100%;//ie11
      margin-top: 0.5rem;
    }
  }
  .searchText {
    display: block;
    @include font(1.6rem, normal, $color-gray-06, 1.4);
    &:hover {
      text-decoration: underline;
    }
    em {
      font-weight: bold;
      color: $primary;
    }
  }
  .searchContent {
    @include font(1.3rem, normal, $secondary, 1.4);
    // em {
    //   font-weight: bold;
    //   color: $primary;
    // }
  }
  // total layout
  .totalResultTop {
    margin-bottom: 4rem;
  }
  .totalResultMiddle {
    margin-bottom: 4rem;
  }
  // .totalResultBottom {}
}
/* 검색 결과 사업자 안내 */
.recommendCenter {
  max-width: 147.6rem;
  padding: 0 2rem;
  margin: 0 auto 8rem;
  .infoTextArea {
    margin-bottom: 3rem;
    @include font(1.6rem, normal, $color-gray-06, 1.4);
    em {
      font-weight: bold;
      color: $primary;
      letter-spacing: -0.5px;
    }
  }
}

@media (#{$pc-middle}) {
  /* 검색바 공통 */
  /* 검색 결과 */
  /* 검색 결과 목록 */
  .totalResultContainer {
    .totalResultTop {
      padding: 0 2rem;
    }
  }
  /* 검색 결과 사업자 안내 */
}

@media (#{$pc-small}) {
  /* 검색바 공통 */
  // ------- pc-small - header - search ------- //
  // pc-small header 검색 바 활성화
  .openedSearch {
    .headerSearchBar {
      width: 60rem;
    }
  }
  /* 검색 결과 */
  /* 검색 결과 목록 */
  /* 검색 결과 사업자 안내 */
}

@media (#{$tablet}) {
  /* 검색바 공통 */
  .header {
    & > .headerSearchBar {
      display: block;
      margin-left: auto;
    }
    & > .userMenu {
      margin-left: 0;
    }
    .mobileContainer {
      .headerSearchBar  {
        display: none;
      }
    }
  }
  .totalSearchBar {
    .searchBarArea {
      [class*=btn] {
        width: 4.4rem;
        height: 4.4rem;
      }
    }
    input {
      padding-right: 8rem;
    }
    .btnSearch, .btnSearchOpen {
      background-size: 22px auto;
      &:hover {
        background-size: 22px auto;
      }
    }
    .btnSearchClose {
      background: image('common/btn_popup_close.svg') no-repeat center;
    }
    .btnSearch, .btnRemove {
      right: 5rem;
    }
  }
  // ------- tablet - header - search ------- //
  .headerSearchBar {
    .keywordContainer {
      display: none;
      position: static;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
    .keywordArea, .autoList {
      height: calc(100vh - 6.7rem);
      max-height: 100%;
    }
    .keywordArea {
      padding: 2rem;
      .keyTitle {
        font-size: 1.3rem;
      }
    }
    .keywordList {
      a, button {
        height: 4rem;
        font-size: 1.4rem;
      }
    }
    .autoList {
      padding: 0;
      a, button {
        height: 5.2rem;
        padding: 0 2rem;
        font-size: 1.4rem;
      }
    }
  }
  // ------- 본문 - search ------- //
  .totalSearchContainer {
    background-color: $white;
    input {
      background-color: $white;
    }
  }
  .contentSearchBar {
    height: auto;
    padding: 0;
    .searchBarArea {
      @include flex(row, flex-start, center);
      padding: 0.8rem 2rem 0.8rem 0;
      border-bottom: 1px solid $color-gray-02;
      input {
        width: calc(100% - 4rem);
        height: 4.4rem;
        border: 1px solid $color-gray-03;
        border-radius: 5rem;
        &:hover, &:focus {
          border-color: $primary;
        }
      }
    }
    // 본문 검색 버튼
    .btnSearch {
      background: image('common/icon_search_black.svg') no-repeat center / 22px;
      &:hover {
        background: image('common/icon_search_cyan.svg') no-repeat center / 22px;;
      }
    }
    .btnSearchClose {
      position: static;
      display: block;
    }
    .btnBack {
      display: block;
      &:focus-visible {
        outline: none;
      }
    }
    .btnSearch {
      right: 2.5rem;
    }
    .btnRemove {
      right: 6rem;
    }
  }
  // tablet header 검색 바 활성화
  .openedSearch {
    .header {
      .logo {
        display: none;
      }
    }
    .mobileHeader {
      display: none;
    }
    .userMenu {
      width: 100%;
    }
    // ------- header - search ------- //
    .headerSearchBar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 200;
      width: 100%;
      margin-right: 0;
      background-color: $white;
      .searchBarArea {
        margin-right: 0;
        padding: 0.8rem 5rem 0.8rem 2rem;
        border-bottom: 1px solid $color-gray-02;
        input {
          width: 100%;
          height: 4.4rem;
        }
      }
      .keywordContainer {
        display: block;
      }
      .btnSearchClose {
        top: 5px;
      }
      .btnSearch {
        right: 5.5rem;
      }
      .btnRemove {
        right: 9rem;
      }
    }
  }
  /* tablet - 검색 결과 */
  .homeSearchResult {
    .contentArea {
      overflow-y: auto;
      height: calc(100% - 6.7rem); // - totalSearchContainer
      padding: 0;
    }
  }
  // 챗봇
  .totalResultContainer {
    .recommendChatbot {
      &:after {
        right: 0;
      }
    }
  }

  /* 검색 결과 목록 */
  .totalResultContainer {
    .topTitle {
      font-size: 1.4rem;
    }
    .middleTitle {
      font-size: 1.2rem;
    }
    .middleBottom {
      padding: 2rem;
    }
    .searchMenuDepth {
      margin-bottom: 2rem;
      .menuDepthTop {
        font-size: 1.4rem;
      }
    }
    .linkUnderline {
      font-size: 1.3rem;
    }
    .searchProductList {
      margin: 1rem 0 4rem;
      .productListTop {
        margin-bottom: 2rem;
        font-size: 1.4rem;
      }
    }
    .productItemList {
      margin: -0.5rem;
      & > li {
        margin: 0.5rem;
      }
      .productItem {
        padding: 1.6rem;
      }
    }
    .productItem {
      .productItemTop {
        padding-bottom: 1.8rem;
      }
      .itemLabel {
        font-size: 1.2rem;
      }
      .itemTitle {
        min-height: 4.8rem;
        font-size: 1.8rem;
      }
      [class*=charge] {
        font-size: 1.6rem;
      }
    }
    .typePromotion {
      .charge {
        font-size: 1.2rem;
      }
    }
    .searchTextArea {
      min-height: 3rem;
      padding: 0.5rem 0;
    }
    .searchText {
      font-size: 1.4rem;
    }
    // total layout
    .totalResultTop {
      padding: 2rem;
      margin-bottom: 0;
    }
    .totalResultMiddle {
      margin-bottom: 2rem;
    }
  }
  
  /* 검색 결과 사업자 안내 */
  .recommendCenter {
    margin: 2rem auto 3rem;
    .infoTextArea {
      margin-bottom: 2rem;
      font-size: 1.3rem;
    }
  }

  /* 검색 결과 - 텍스트 */
  .searchTextArea {
    .searchContent {
      overflow: hidden;
      width: 100%;
      height: 2.2rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@media (#{$foldMax}) {
  /* 검색바 공통 */
  /* 검색 결과 */
  /* 검색 결과 목록 */
  .totalResultContainer {
    .productItemList {
      & > li {
        width: calc(50% - 1rem);
      }
    }
  }
  // 챗봇
  .totalResultContainer {
    .recommendChatbot {
      overflow: hidden;
      padding: 5.7rem 2rem;
    }
  }
  /* 검색 결과 사업자 안내 */
}

@media (#{$mobile}) {
  /* 검색바 공통 */
  /* 검색 결과 */
  /* 검색 결과 목록 */
  // 챗봇
  .totalResultContainer {
    .recommendChatbot {
      &:after {
        right: -4rem;
        width: 49.44%;//176px
        background-position: right bottom;
        background-size: 160%;
      }
    }
  }
  /* 검색 결과 사업자 안내 */
}

@media (#{$mobile-small}) {
  /* 검색바 공통 */
  /* 검색 결과 */
  /* 검색 결과 목록 */
  .totalResultContainer {
    .productItemList {
      & > li {
        width: calc(100% - 1rem);
      }
    }
  }
  /* 검색 결과 사업자 안내 */
}