// ------- 마이알뜰폰 ------- //
/* common */
[class*=myThrifty] {
  .contentArea {
    padding-bottom: 20rem;
    // background: $bgcolor-gray-05 image('myThrifty/img_content_bg.png') no-repeat right bottom -35rem/68.6rem 78.3rem;
  }
  .subTitleContainer {
    .strongText {
      &.iconBgLink {
        background-size: 1rem 1.6rem;
      }
    }
  }
  .field {
    .fieldLabel {
      @include font(1.4rem, 500, $black, 2rem);
    }
  }
  .fieldRadio {
    .fieldForm {
      height: 5.5rem;
      padding: 0 2rem;
      outline-offset: 0;
      box-sizing: border-box;
      border: 1px solid $border-color-02;
      border-radius: 4px;
      background-color: $white;
    }
  }
}
.subTitleContainer {
  .subTitleTop {
    @include flex(column, flex-end, flex-start);
    min-height: 26.5rem;
    position: relative;
    max-width: 147.6rem;
    margin: 0 auto;
    padding: 0 2rem 7.7rem;
    &::before {
      content: '';
      position: absolute;
      right: 2rem;
      bottom: -8.5rem;
      width: 45.6rem;
      height: 33.5rem;
      z-index: 0;
      background: image('myThrifty/img_subtitle_bg.png') no-repeat center/cover;
    }
  }
  .labelText {
    @include font(1.6rem, normal, $color-gray-04, 1.4);
  }
  .strongText {
    display: inline-block;
    margin-bottom: 1.4rem;
    padding-right: 2.8rem;
    @include font(3.4rem, normal, $black, 1.5);
    letter-spacing: -1.5px;
    strong {
      font-weight: bold;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .profileLabel {
    @include flex(row, flex-start, center);
    position: relative;
    z-index: 1;
    @include font(1.6rem, normal, $color-gray-06, 2.3rem);
    .memberLevel {
      height: 2.3rem;
      margin-right: 0.6rem;
      padding: 0 0.4rem;
      border: 1px solid $primary;
      font-size: 1.4rem;
      color: $primary;
      border-radius: 3px;
    }
    & > span {
      margin-right: 0.6rem;
      &:last-child {
        margin-right: 0;
      }
    }
    .bold {
      font-weight: bold;
    }
  }
  .subTitleBottom {
    padding: 2rem 0 2.3rem;
    background-color: $bgcolor-gray-03;
    .subTitleBottomArea {
      @include flex(row, flex-start, center);
      position: relative;
      max-width: 147.6rem;
      margin: 0 auto;
      padding: 0 2rem;
    }
    .dropdownLine {
      flex-basis: 70rem;
      margin-right: 2rem;
    }
    .dropdownTitle {
      background-color: $bgcolor-gray-03;
    }
    .myCouponBox, .hideInfoBtn {
      background-color: $bgcolor-gray-03;
    }
    .myCouponBox {
      margin-right: 2.4rem;
    }
  }
  .subTitleBottomArea {
    @include font(1.6rem, normal, $black, 1.4);
    [class*=iconBg] {
      & > span {
        @include no-ir;
      }
      strong {
        font-weight: bold;
      }
    }
    .iconBgLink {
      padding: 1rem 3rem 1rem 0;
    }
    .iconBgSetting {
      display: block;
      width: 6rem;
      height: 4rem;
      background-position: center;
      & > span {
        @include ir;
      }
    }
  }
  .titleLinks {
    @include flex(row, flex-start, center);
    .underline {
      font-weight: bold;
    }
    .iconBgSetting {
      margin-left: 5rem;
    }
  }
  // .hideInfoBtn {
  //   padding-right: 2rem;
  // }
  .underline {
    text-decoration: underline;
  }
}
.dataTitleArea {
  @include flex(row, space-between, center);
  width: 100%;
  margin-bottom: 3rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid $black;
  .dataTitle {
    display: block;
    @include font(1.6rem, bold, $black, 2.3rem);
    &.iconBgLink {
      width: 100%;
      background-position: right 1rem center;
      text-align: left;
    }
  }
  .dataText {
    margin-bottom: 2.5rem;
    @include font(1.6rem, normal, $black, 2.3rem);
    &:only-child {
      margin-bottom: 0;
    }
  }
  &.noneLine {
    margin-bottom: 2.5rem;
    padding-bottom: 0;
    border-bottom: none;
  }
  .btnRefresh {
    margin-right: auto;
    width: 3rem;
    height: 2rem;
    background: image('common/icon_summary_refesh.svg') no-repeat center / 2.2rem;
  }
}
.dataLabelArea {
  display: block;
  margin: 1.8rem 0;
  @include font(1.6rem, bold, $black, 1.4);
}
/* Field */
.fieldArea {
  @include flex(row, space-between, center);
  position: relative;
  width: 100%;
  min-height: 5.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  outline-offset: 0;
  box-sizing: border-box;
  border: 1px solid $border-color-02;
  border-radius: 4px;
  background-color: $white;
  &:only-child {
    margin-bottom: 0;
  }
  &.alignCenter {
    justify-content: center;
  }
  &.disabled {
    background-color: $bgcolor-gray-02;
    .fieldValue {
      color: $secondary;
    }
  }
  .fieldValue {
    @include font(1.6rem, normal, $color-gray-06, 1.4);
  }
  .space {
    &:before {
      content: '/';
      display: inline-block;
      margin: 0 0.5rem;
    }
  }
}

.extraItemList {
  margin-bottom: 3rem; 
  .listItem {
    @include flex(row, space-between, center);
    dt {
      @include flex(row, flex-start, center);
      @include font(1.6rem, 700, $color-gray-06, 2.3);
      &:before {
        content: '';
        flex-shrink: 0;
        align-self: flex-start;
        display: block;
        width: 0.3rem;
        height: 0.3rem;
        margin: 1.5rem 1rem 0;
        background-color: $color-gray-04;
        border-radius: 50%;
        transform: skew(-0.03deg);
      }
    }
    dd {
      @include font(1.6rem, 400, $color-gray-06, 2.3);
    }
  }
}
/* 공통 Type */
.typePhoneLine {
  &.disabled {
    .dataTitleArea {
      border-color: $secondary;
    }
    .dataTitle {
      color: $secondary;
    }
    .fieldArea {
      opacity: 0.6;
    }
  }
  &.fieldCheckbox,
  &.fieldRadio {
    .fieldArea {
      &.disabled,
      &.stopped {
        .fieldBox {
          width: calc(100% - 4rem)
        }
      }
    }
  }
  .fieldArea {
    justify-content: flex-start;
    height: auto;
    padding: 2.3rem 2rem;
    &.disabled {
      .lineLabel > * {
        color: rgba($color-gray-04, 0.5);
      }
      .lineMyPhone {
        .phone {
          color: rgba($color-gray-06, 0.5);
        }
      }
      .radio {
        opacity: 0.5;
      }
    }
    .fieldBox {
      @include flex(column, center, flex-start);
    }
    .radio {
      margin: 0;
      margin-right: 2rem;
      .radioLabel {
        &:before {
          margin-right: 0;
        }
      }
    }
    .checkbox {
      margin: 0;
      margin-right: 2rem;
    }
    .colorRed {
      font-size: 1.3rem;
    }
    .btn-delete {
      padding-bottom: 2px;
      @include font(1.4rem, normal, $secondary);
      border-bottom: 1px solid $secondary;
    }
  }
  .lineLabel {
    @include flex(row, flex-start, baseline);
    flex-wrap: wrap;
    margin-bottom: 1rem;
    & > * {
      @include font(1.6rem, normal, $color-gray-06);
    }
    .product {
      @include flex(row, flex-start, center);
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 9px;
        margin: 0 0.6rem;
        background-color: #999999;
      }
    }
    .price {
      color: $secondary;
    }
  }
  .lineMyPhone {
    @include flex(row, flex-start, center);
    .phone {
      margin-right: 1.4rem;
      @include font(1.8rem, bold, $color-gray-06, 2.3rem);
    }
    .colorLabel {
      height: 2.3rem;
      padding: 0 0.7rem;
      @include font(1.3rem, normal, $white, 2.3rem);
      background-color: $primary;
      border-radius: 3px;
    }
  }
  .innerLogo {
    padding: 3rem;
    .fieldBox {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      position: relative;
      .imgWrap {
        order: -1;
        @include flex(row, center, center);
        overflow: hidden;
        width: 13.7rem;
        height: 8rem;
        margin-right: 2rem;
      }
      .product {
        @include font(1.4rem, normal, $secondary, 1.4);
        &:after {
          display: none;
        }
      }
      .phone {
        order: -1;
        margin-right: 1rem;
        @include font(1.6rem, bold, $black);
      }
      .lineLabel {
        margin-bottom: 0.3rem;
      }
    }
  }
  .lineBlocked {
    @include flex(row, space-between, center);
    width: 100%;
    flex: 1;
    margin-top: 0.8rem;
  }
} // 회선 정보 박스
.typeLineDetail {
  .fieldArea {
    display: block;
    height: auto;
    padding: 2rem;
    border: none;
    background-color: $bgcolor-gray-07;
    div {
      @include flex(row, flex-start, flex-start);
      @include font(1.6rem, 400, $color-gray-06, 2);
    }
    dt {
      width: 10.5rem;
    }
    dd {
      font-weight: 700;
    }
  }
} // 회선 상세 리스트
.fieldInput {
  +.typeAddress, + .typeMMS {
    margin-bottom: 1rem;
  }
}

/* 명세서 유형 변경 */
.myThriftySpecsList {
  .typePhoneLine {
    margin-bottom: 7rem;
  }
}

/* summary common */
.fieldTop {
  &.flex {
    @include flex(row, flex-start, center);
  }
  border-bottom: 1px solid $border-color-02;
}
.fieldMiddle {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}
// notice
.noticeArea {
  margin-bottom: 6rem;
  @include font(1.8rem, normal, $color-gray-06, 1.4);
  text-align: center;
  &:last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 2rem;
    &:only-child {
      margin-bottom: 0;
    }
    &:last-child {
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }
}
// dl style
.dlColorBoxArea {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    @include font(1.6rem, bold, $black, 1.4);
  }
  .colorBoxBottom {
    margin-top: 1rem;
    text-align: right;
  }
  .dlGrayBox {
    padding: 0.8rem 0;
    &.noneBorder {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.dlGrayBox, .dlWhiteBox {
  padding: 0.5rem 0;
  border-radius: 1rem;
  &.noneBorder {
    border: 0;
  }
  .dlItemFlex {
    &:not(.borderType) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &.borderType {
      dt {
        font-weight: normal;
      }
    }
  }
}
.dlGrayBox {
  background-color: $bgcolor-gray-03;
  border: 1px solid $color-gray-03;
}
.dlWhiteBox {
  background-color: $white;
  border: 1px solid $border-color-02;
}
.dlItemFlex {
  position: relative;
  @include flex(row, space-between, center);
  margin: 0 2rem;
  & > * {
    &:only-child {
      width: 100%;
      text-align: center;
    }
  }
  dt {
    min-width: 10rem; 
    @include font(1.6rem, normal, $black, 1.4);
  }
  dd {
    @include font(1.6rem, bold, $black, 1.4);
    text-align: right;
    word-break: break-word;
    word-wrap: break-word;
  }
  [class*=color] {
    font-weight: bold;
  }

  //하단 보더
  &.borderType {
    border-bottom: 1px solid $border-color-02;
    &:last-child {
      border-bottom: none;
    }
    dt {
      @include font(1.6rem, bold, $color-gray-06, 1.4);
    }
    dd {
      @include font(1.8rem, bold, $color-gray-05, 1.4);
    }
  }
  [class*=iconBg] {
    @include flex(row, flex-start, center);
    height: 2.8rem;
    padding-left: 4rem;
    background-size: 2.8rem;
    line-height: 2.8rem;
  }
}
.usageItem {
  @include flex(row, space-between, center);
  dt {
    @include font(1.8rem, bold, $black, 1.4);
  }
  dd {
    position: relative;
    @include font(3.2rem, bold, $black, 1.4);
    text-align: right;
    span {
      position: relative;
    }
    .ir {
      @include no-ir;
      opacity: 0;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
    }
  }
  .del {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100% - 1.7rem);
    height: 1px;
    padding-right: 0;
    background-color: $secondary;
  }
  &.borderBox {
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.4rem 1.6rem;
    background-color: $white;
    border: 1px solid $border-color-02;
    border-radius: 0.4rem;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    dt {
      @include font(1.6rem, bold, $color-gray-04, 1.4);
    }
    dd {
      @include font(1.6rem, normal, $color-gray-04, 1.4);
    }
  }
  &.smaller {
    dt {
      @include font(1.6rem, normal, $secondary, 1.4);
    }
    dd {
      @include font(2.4rem, normal, $secondary, 1.4);
    }
  }
}
// 선불요금제/선불잔액조회
.subSmallText {
  text-align: right;
  @include font(1.3rem, normal, $color-gray-05, 1.4);
}
// bar graph
.dataGraphBar {
  .graphArea {
    margin-bottom: 1.6rem;
    border-bottom: 1px solid $bgcolor-gray-06;
    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
      .infoDetail {
        margin-bottom: 0;
      }
    }
  }
  .bar {
    overflow: hidden;
    position: relative;
    height: 0.9rem;
    background-color: rgba($border-color-04, 0.3);
    border-radius: 3rem;
    .barGage {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      height: 100%;
      border-radius: 3rem;
      background-color: $primary;
    }
    &.bgRed {
      .barGage {
        background-color: $accent;
      }
    }
    &.bgYellow {
      .barGage {
        background-color: $color-yellow-02;
      }
    }
    &.bgPurple02 {
      .barGage {
        background-color: $bgcolor-purple-03;
      }
    }
  }
  .dlItemFlex {
    margin-bottom: 1rem;
    padding-bottom: 0;
    border-bottom: none;
    dt, dd {
      font-size: 1.3rem;
      letter-spacing: 0.5px;
    }
    dt {
      color: $color-gray-06;
      font-weight: bold;
    }
    dd {
      color: $color-gray-05;
      font-weight: normal;
    }
    .barContent {
      @include flex(row, flex-end, center);
      color: $primary;
      font-weight: bold;
    }
  }
  .infoDetail {
    @include flex(row, space-between, center);
    margin: 1rem 0 1.6rem;
    @include font(1.3rem, normal, $color-gray-05, 1.4);
  }
}
// 쿠폰등록 인풋
.codeInputBox {
  @include flex(row, flex-start, center);
  .input {
    width: calc(100% - 11.5rem);
    margin-right: 0.4rem;
    & > input {
      height: 4.4rem;
    }
  }
  .btn {
    width: 11.1rem;
    font-size: 1.6rem;
  }
}
// .couponAddWrap {}
//나의 후기 3배열
.dlItemFlexDate {
  @include flex(row, flex-start, flex-start);
  padding: 0 2rem;
  word-break: keep-all;
  dt {
    flex-basis: 7rem;
    margin-right: 2.4rem;
    @include font(1.4rem, bold, $black, 1.4);
  }
  dd {
    flex-basis: 50rem;
    @include font(1.4rem, normal, $black, 1.4);
    word-break: break-word;
    word-wrap: break-word;
  }
  .updateLabel {
    flex-basis: 15rem;
    margin-left: auto;
    @include font(1.2rem, normal, $color-gray-05, 1.4);
    text-align: right;
  }
}

.summaryDataWrap {
  .dlGrayBox, .dlWhiteBox {
    padding: 1rem 0;
  }
  .dlWhiteBox {
    .dlItemFlex {
      min-height: 2rem;
    }
  }
  .dlItemFlex {
    min-height: 6.5rem;
    &.borderType {
      dt {
        font-weight: bold;
      }
    }
  }
  .dataGraphBar {
    padding: 0;
    .graphArea {
      margin: 1.6rem 2rem;
    }
    .dlItemFlex {
      margin: 0 0 0.9rem;
      min-height: 2rem;
    }
  }
  .swiper-slide {
    > * {
      width: 100%;
    }
  }
  .buttonArea {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    .btn {
      &:only-child {
        margin: 0;
      }
    }
  }
}
.summaryTitleArea {
  flex: 1;
  margin-bottom: 2rem;
  @include font(1.8rem, normal, $color-gray-04, 1.4);
  .imgWrap {
    overflow: hidden;
    width: 9.1rem;
    margin-bottom: 1rem;
  }
  .summaryBigTitle {
    display: block;
    margin-bottom: 1.8rem;
    @include font(2.4rem, bold, $color-gray-06, 1.4);
    
    button {
      text-align: left;
    }
  }
}
.summaryContent {
  // @include flex(row,flex-start, flex-start);
  // flex-wrap: wrap;
  margin: 0 -0.5rem;
  .summaryArea {
    width: calc(33.333% - 1rem);
    margin: 0 0.5rem 1rem;
    &.disabled {
      opacity: 0.5;
    }
    &.half {
      width: calc(66.666% - 1rem);
    }
    &.full {
      width: calc(100% - 1rem);
    }
  }
  .summaryInner {
    // overflow: hidden; // 달력 open시 가림 대응
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    background-color: $white;
    border: 1px solid $border-color-02;
    border-radius: 1.2rem;
    box-shadow: 0px 2px 6px rgba($black, 0.04), 0px 0px 1px rgba($black, 0.04);
    box-sizing: border-box;
    &:last-of-type {
      margin-bottom: 0;
    }
    .tableContainer {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .bgColorGray {
    background-color: $bgcolor-gray-03;
  }
  .bgColorGreen {
    background-color: $bgcolor-cyan-01;
  }
  .fieldMiddle {
    padding: 3rem;
    // border-radius: 0 0 1.2rem 1.2rem;
    @include font(1.8rem, normal, $black, 1.4);
  }
  .fieldBottom {
    position: relative;
    padding: 3rem 3rem 5rem;
    &.borderTop {
      border-top: 1rem solid $bgcolor-gray-07;
    }
  }
  .fieldTop {
    padding: 1.6rem 2rem;
    &.detailTitle {
      margin-top: 7rem;
      border-bottom: none;
      font-size: 1.8rem;
    }
  }
}
.summaryInner {
  /* nodata */
  .nodataContainer {
    margin: 2rem 0;
    padding: 5.3rem 1rem;
    text-align: center;
    background-color: $bgcolor-gray-07;
    border-radius: 1rem;
    @include font(1.6rem, normal, $black, 1.4);
  }
}
/* 즐겨찾기 */
.favoritContainer {
  overflow: hidden;
  max-width: 147.6rem;
  padding: 0 2rem;
  margin: 0 auto 3rem;
  .fieldTop, 
  .fieldMiddle {
    overflow: hidden;
    padding: 2rem 3rem;
    background-color: $white;
    border: 2px solid $primary;
  }
  .fieldTop {
    position: relative;
    border-bottom: 0;
    border-radius: 0.8rem 0.8rem 0 0;
    &:before {
      content: '';
      position: absolute;
      left: 3rem;
      right: 3rem;
      bottom: 1px;
      z-index: 1;
      height: 1px;
      background-color: $border-color-02;
    }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   z-index: 1;
    //   top: 0;
    //   right: 2rem;
    //   width: 3rem;
    //   height: calc(100% - 2px);
    //   border-radius: 0 0.8rem 0 0;
    //   background-image: linear-gradient(90deg, $white 0%, $white 50%, $white 100%);
    // }
  }
  .fieldMiddle {
    border-top: 0;
    border-radius: 0 0 0.8rem 0.8rem;
    &:only-child {
      padding: 1.6rem;
      border: 2px solid $primary;
      border-radius: 0.8rem;
    }
  }
  .fieldTitle01 {
    white-space: nowrap;
  }
  .iconBgSetting {
    display: block;
    padding: 1rem 0;
    margin: 0 2rem 0 1rem;
    background: none;
    > img {
      display: block;
      width: 2.3rem;
      height: auto;
    }
  }
  .fieldText {
    clear: both;
    width: calc(100% - 14.8rem);
  }
  .btn {
    height: 3.3rem;
    padding: 0 1rem;
    font-size: 1.4rem;
    border-width: 2px;
  }
  .swiper-slide {
    width: auto;
  }
}
.favoritButtons {
  @include flex(row, flex-start, center);
  overflow-x: auto;
  padding: 2px 0;
  .btn {
    margin: 0 0.25rem;
  }
} 
/* 즐겨 찾는 메뉴 변경 팝업 */
.checkList {
  & > li {
    margin-bottom: 0.8rem;
    &:last-child {
      margin-bottom: 0;
    }
    .checkbox {
      .checkboxLabel {
        @include flex(row, space-between, center);
        padding: 1.1rem 1.6rem;
        border: 1px solid $border-color-02;
        border-radius: 0.3rem;
        font-size: 1.4rem;
        color: $color-gray-06;
        .checkIcon {
          margin-left: 0;
          &:before {
            margin-right: 0;
          }
        }
      }
      input {
        &:checked {
          & + .checkboxLabel {
            border: 1px solid $primary;
          }
        }
      }
    }
  }
  &.borderTop {
    margin-top: 1.6rem;
    padding-top: 1.6rem;
    border-top: 1px solid $border-color-02;
  }
  &.bgSolidGray {
    & > li {
      padding: 2rem 1.6rem;
      margin-bottom: 2rem;
      background-color: $bgcolor-gray-07;
      border-radius: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/*popupAuthentication*/
.popup {
  .dataTitleArea {
    margin-bottom: 1.1rem;
    padding-bottom: 0;
    border: none;
    .dataTitle {
      @include font(1.3rem, 500, $black, 1.5);
    }
  }
  .typeCertification {
    .certificationWrap {
      margin: -0.2rem -0.3rem;
      [class*=btnCertify] {
        flex: 1 47%;
        min-width: 9.2rem;
        height: 9.8rem;
        margin: 0.2rem 0.3rem;
        border: 1px solid $border-color-02;
        border-radius: 0.2rem;
        font-size: 1.3rem;
        .icon {
          width: 6.4rem;
          height: 4.5rem;
          margin-bottom: 0.7rem;
        }
        &:after {
          border-radius: 0.2rem;
        }
        &:active {
          opacity: 1;
        }
      }
      .btnCertifyPass {
        .icon {
          background-size: 6.2rem 2.2rem;
        }
      }
      .btnCertifyToss {
        .icon {
          background-size: 6.1rem 1.6rem;
        }
      }
      .btnCertifyCard {
        .icon {
          background-size: 3.9rem 3rem;
        }
      }
      .btnCertifyNaver {
        .icon {
          background-size: 6.4rem 4.5rem;
        }
      }
      .btnCertifyKakao {
        .icon {
          background-size: 6.4rem 3.1rem;
        }
      }
      //서비스 점검
      .btnNotService {
        flex: 1 47%;
        min-width: inherit;
        height: 9.8rem;
        margin: 0.2rem 0.3rem;
        padding-bottom: 1.2rem;
        font-size: 1.3rem;
        border: 1px solid $border-color-02;
        border-radius: 2px;
        .label {
          margin-top: 1.7rem;
          font-size: 1.3rem;
        }
      }
    }
    //하단 주의사항
    .typeCaution {
      margin-top: 2rem;
      .fieldArea {
        padding: 0;
        background-color: transparent;
      }
    }
  }
  .cautionArea {
    .cautionWrap {
      li {
        font-size: 1.2rem;
        color: $secondary;
        &::before {
          background-color: $secondary;
        }
      }
    }
  }
}

/*popupChangePhoneNumber*/
.popupChangePhoneNumber {
  .popupContent {
    .buttonArea {
      margin-top: 0.6rem;
    }
  }
}

/* popupAgreement */
.popup {
  &.popupAgreement {
    .popupMiddle {
      padding: 0 0 1.6rem;
    }
  }
}
/* 약정 정보 현황 */
.agreementTop {
  margin-bottom:3.2rem;
  @include font(1.4rem, bold, $black, 1.3);
  text-align: center;
  dt {
    margin-bottom: 1.4rem;
  }
  dd {
    font-size: 2rem;
    span {
      font-size: 2.4rem;
    }
    &.date {
      margin-top: 0.6rem;
      font-size: 1.2rem;
      font-weight: normal;
      color: $secondary;
    }
  }
}
.dlInfoWrap {
  padding: 2rem 1.6rem 3rem;
  background-color: $white;
  border-bottom: 14px solid $bgcolor-gray-05;
  letter-spacing: 0.5px;
  &:last-child {
    border-bottom: none;
  }
  .dlInfoLabel {
    margin-bottom: 0.4rem;
    @include font(1.4rem, 700, $black, 1.5);
  }
  .dlInfoItem {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    margin: 0 0.4rem;
    padding: 1.6rem 0;
    border-bottom: 1px solid $border-color-02;
    dt {
      padding-right: 1rem;
      @include font(1.3rem, normal, $secondary, 1.5);
    }
    dd {
      @include font(1.4rem, bold, $color-gray-06, 1.5);
    }
  }
  .block {
    display: block;
  }
}



/* 마이알뜰폰 - 메인 */
.myThriftyMain {
  .fieldBottom {
    min-height: 21.7rem;
  }
  .summary01,
  .summary02 {
    .summaryInner {
      min-height: 82rem;
    }
  }
  .summary01 {
    .fieldDatepicker {
      margin: 0 auto;
    }
  }
  .summary02 {
    .fieldDatepicker {
      margin-top: 0;
    }
  }
  .summary04 {
    .fieldBottom {
      padding-top: 5.9rem;
      padding-bottom: 7.8rem;
    }
  }
  // .summary05 {
  //   .fieldBottom {
  //     padding-top: 5rem;
  //   }
  // }
  .infoBoxArea {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

/* 마이알뜰폰 - 사용량 조회 */
.myThriftyListUsage {
  .summary01 {
    .fieldDatepicker {
      margin: 0;
    }
  }
}
.swiper {
  .swiperControler {
    @include flex(row, center, center);
    height: 5.2rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    border: 1px solid $border-color-02;
    border-radius: 0.4rem;
    & > * {
      position: static;
      @include font(1.8rem, bold, $color-gray-06, 1.4);
      letter-spacing: -2px;
    }
    [class*=swiper-button] {
      @include flex(row, center, center);
      width: 4rem;
      height: 100%;
      margin: 0;
      background: image('common/arrow_swiper_left.svg') no-repeat center;
      &:after {
        @include ir;
      }
    }
    .swiper-button-prev {
      order: 2;
      background: image('common/arrow_swiper_right.svg') no-repeat center;
    }
    .swiper-pagination {
      width: calc(100% - 8rem);
    }
    .title {
      order: 1;
      width: calc(100% - 8rem);
      @include font(1.8rem, bold, $color-gray-06);
      text-align: center;
    }
    // 사용량
    &.textType {
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid $border-color-04;
      [class*=swiper-button] {
        width: auto;
        @include font(1.6rem, normal, $color-gray-04);
        white-space: nowrap;
      }
      .swiper-button-next {
        padding-left: 2rem;
        background-position: left center;
      }
      .swiper-button-prev {
        padding-right: 2rem;
        background-position: right center;
      }
    }
  }
}
// 사용량
.dataTabContainer {
  .tabList {
    margin-bottom: 3rem;
  }
  .captionShow {
    th, td {
      font-size: 1.4rem;
    }
  }
}
//그래프
.usageTabContainer {
  .tabContainer {
    margin-top: 1.5rem;
  }
  .stickChartArea {
    margin-bottom: 1.4rem;
  }
}
// 선불요금제
.summaryArea {
  .infoSummaryBottom {
    position: relative;
    .moType {
      display: none;
    }
    .noPhoneLineShow {
      display: block;
    }
    .summaryPagination, 
    .summaryPagination2 {
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 2rem;
    }
    .noPhoneLineShow {
      .btn {
        height: auto;
        padding: 2rem;
        padding-left: 6rem;
      }
    }
  }
}

/* 마이알뜰폰 - 요금 조회 */
.myThriftyListPayment {
  .summary02 {
    .fieldDatepicker {
      margin-top: 0;
    }
  }
}
.payTableContainer {
  margin-top: 3rem;
  .tableContainer {
    overflow: hidden;
    overflow-y: auto;
    max-height: 18rem;
  }
  .usageItem {
    &.borderBox {
      padding: 2rem;
      dt {
        font-weight: normal;
        color: $black;
      }
      dt, dd {
        font-size: 1.6rem;
      }
    }
  }
}

/* 마이알뜰폰 - 나의 후기 */
// .myThriftyListReview {}
.myWriteContainer {
  .writeTop {
    margin-bottom: 4rem;
    @include font(1.8em, normal, $color-gray-04, 1.4);
  }
  .writeMiddle {
    margin-bottom: 4rem;
  }
  .writeBottom {
    .textarea {
      margin-bottom: 5rem;
    }
  }
  .biggerTitle {
    margin-bottom: 1rem;
    @include font(2.4rem, bold, $black, 1.4);
    .line {
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
      &:after {
        content: '';
        position: absolute;
        right: -0.2rem;
        left: -0.2rem;
        bottom: 0.3rem;
        z-index: 0;
        height: 1.7rem;
        background-color: $accent;
      }
    }
  }
}
.myReviewContainer {
  .reviewTop {
    @include flex(row, space-between, center);
    margin-bottom: 3rem;
  }
  .starContainer {
    @include flex(row, flex-start, center);
    .startTitle {
      @include ir;
    }
  }
  .starDate {
    @include font(1.2rem, normal, $color-gray-05, 1.4);
  }
  .reviewMiddle {
    margin-bottom: 1.6rem;
  }
  .middleTitle {
    margin-bottom: 1.6rem;
    @include font(2rem, bold, $black, 1.4);
  }
  .reviewBottom {
    .dlGrayBox {
      padding: 2rem 0;
    }
  }
}
//별점
.starContainer {
  @include flex(column, center, center);
  .startTitle {
    order: 2;
    margin-top: 1.6rem;
    @include font(1.4rem, normal, $color-gray-05, 1.4);
  }
  .starGroup {
    @include flex(row, flex-start, center);
    & > li {
      @include flex(row, flex-start, center);
      position: relative;
      width: 5rem;
      height: 5rem;
      margin-right: 1.2rem;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        width: 100%;
        height: 100%;
        background: image('common/icon_star.svg') no-repeat center / cover;
      }
    }
    &.sizeSmall {
      margin-right: 1.4rem;
      & > li {
        width: 3rem;
        height: 3rem;
        margin-right: 0.8rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .startLabel {
    @include font(2rem, bold, $color-gray-05, 1.4);
    letter-spacing: 0.5px;
    strong {
      color: $primary ;
    }
  }
  [class*=btnStar] {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $bgcolor-gray-08;
    cursor: pointer;
    &.active {
      background-color: $primary;
    }
    span {
      @include ir;
    }
  }
}


/* myThriftyCircuitList */ 
// .myThriftyCircuitList {}
.typeCommit {
  .fieldArea {
    .fieldLabel {
      color: $secondary;
    }
  }
  .fieldValue {
    width: 100%;
    color: $secondary;
  }
}
.haveCommit {
  &.fieldArea {
    text-align: center;
    .fieldValue {
      line-height: 1.2;
    }
  }
  //약정 정보 있는 경우(스폰서 팝업 버튼 유)
  .dlCommit {
    @include flex(row, space-between, center);
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
    .btnSponser {
      position: relative;
      @include font(1.6rem, bold, $color-gray-04, 1.3);
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -1.5rem;
        width: 0.7rem;
        height: 1rem;
        margin-top: -0.45rem;
        background: image('common/arrow_link_r.svg') no-repeat right center;
      }
    }
  }
}

/* myThriftyCircuitInformation */
.myThriftyCircuitInformation {
  .subTitleBottom {
    .btn {
      width: 40rem;
      height: auto;
      padding: 0;
      border: none;
      background-color: transparent;
      color: $black;
      line-height: 1.2;
      text-decoration: underline;
      &.iconBgSetting {
        background-position: right 2rem center;
      }
    }
  }
  .typeId {
    .fieldForm {
      display: block;
    }
    .buttonArea {
      margin-left: 0;
      .btn {
        margin: 0;
      }
    }
    .joinDate {
      margin: 0.8rem 0 1.7rem;
      @include font(1.4rem, normal, $color-red-01, 2rem);
    }
  }
  .typeAgreement {
    .fieldLabel {
      margin-bottom: 0;
      @include font(1.4rem, normal, $color-gray-06, 1.4);// 운영 20221019
    }
  }
}
.typeSnsConnect {
  [class*=iconBg] {
    width: 3rem;
    height: 3rem;
  }
}
.withdrawalBtn {
  @include flex(row, flex-end, center);
  margin-top: 2rem;
}
.fieldLinkRight {// 운영 20221019
  @include flex(row, flex-end, center);
  margin: 2rem 0;
  &:only-child, &:last-child {
    margin-bottom: 0;
  }
}

/* myThriftySpecsChange */
.myThriftySpecsChange {
  .fieldSelect {
    .fieldForm {
      display: block;
    }
  }
}

/* myThriftyMultilineList */
.myThriftyMultilineList {
  .btnLineManage {
    @include flex(row, flex-start, center);
    [class*=btn] {
      @include font(1.4rem, 500, $secondary, 1.2);
    }
    .btnMainSetting {
      @include flex(row, flex-end, center);
      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 9px;
        margin: 0 1rem;
        background-color: $border-color-02;
      }
    }
  }
}

/* myThriftyListLostPause */
.myThriftyListLostPause {
  .summaryInner01 {
    .fieldBottom {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 6.7rem;
        bottom: 4.9rem;
        width: 34.7rem;
        height: 32.1rem;
        background: image('myThrifty/img_info.png') no-repeat center/cover;
      }
    }
  }
  .shortcutArea {
    margin-left: 2rem;
  }
  .shortcutItem {
    margin-bottom: 3rem;
    @include font(1.8rem, normal, $color-gray-06, 1.5);
    &:last-of-type {
      margin-bottom: 0;
    }
    .linkUnderline {
      margin-left: 0.5rem;
    }
  }
  .cautionArea {
    margin-left: 2rem;
    .cautionWrap {
      margin-left: 0.7rem;
    }
  }
}
.cautionArea {
  .label {
    @include font(1.8rem, 700, $color-gray-06, 1.5);
  }
  .cautionWrap {
    margin-top: 1.8rem;
    li {
      @include flex(row, flex-start, center);
      margin-bottom: 1.8rem;
      @include font(1.4rem, normal, $color-gray-06, 1.5);
      &:last-of-type {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        flex-shrink: 0;
        align-self: flex-start;
        display: inline-block;
        vertical-align: middle;
        width: 0.3rem;
        height: 0.3rem;
        margin: 0.8rem 0.5rem 0;
        background-color: $color-gray-06;
        border-radius: 50%;
        transform: skew(-0.03deg);
      }
    }
  }
  &.colorGray {
    .cautionWrap {
      padding: 0 0.5rem;
      li {
        font-size: 1.3rem;
        color: $color-gray-04;
      }
    }
  }
}

/* myThriftyListCoupon */
.myThriftyListCoupon {
  .summary02 {
    .fieldBottom {
      padding: 3rem 2.5rem 4.4rem;
    }
  }
  .nodataContainer {
    width: 100%;
    padding: 0;
    background-color: transparent;
  }
}
.couponArea {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  margin: -1.5rem;
}
.couponWrap {
  position: relative;
  @include flex(row, flex-start, center);
  // min-width: 32.2rem;
  margin: 1.5rem;
  border: 1px solid #868686;
  &::before, &::after {
    content: '';
    position: absolute;
    right: calc(9.6rem - 0.7rem);
    width: 1.5rem;
    height: 0.9rem;
    background: image('myThrifty/img_triangle.svg') no-repeat center/cover;
  }
  &::before {
    top: -0.1rem;
  }
  &::after {
    bottom: -0.1rem;
    transform: rotate(180deg);
  }
  &.coupon01 {
    .couponLeft {
      background:white image('myThrifty/img_coupon_bg_01.svg') no-repeat right 1em center/10.3rem 12.6rem;
    }
  }
  &.coupon02 {
    .couponLeft {
      background:white image('myThrifty/img_coupon_bg_02.svg') no-repeat right 1.85rem top 0.7rem/6.4rem 9.4rem;
    }
  }
  .couponLeft {
    @include flex(column, space-between, flex-start);
    width: 33.4rem;
    min-height: 16.1rem;
    padding: 2.7rem 4.7rem 3rem 2.4rem;
    border-right: 1px dashed #868686;
  }
  .couponRight {
    align-self: stretch;
    width: 9.6rem;
    padding: 1.3rem 1.4rem;
    background-color: $primary;
    @include font(1.4rem, 500, $white);
    .availableDate {
      width: 16.1rem;
      transform: rotate(-90deg) translate(-60px, -20px);
      text-align: center;
    }
  }
  .couponTitle {
    display: inline-block;
    margin-bottom: auto;
    @include font(2rem, 700, $color-gray-06, 1.35);
  }
  .couponDesc {
    margin-top: 2rem;
    @include font(1.3rem, normal, $color-gray-04, 1.5);
    &:last-child {
      margin-top: 0;
    }
  }
}

/* 마이알뜰폰 - 비회원 안내 페이지 */
.myThriftyIntroduce {
  .contentArea {
    padding-top: 0;
    padding-bottom: 0;
  }
  .subTitleContainer {
    .subTitleBottomArea {
      @include flex(row, flex-start, center);
    }
    .subTitleBottom {
      padding-bottom: 0;
    }
    .titleLinks {
      padding-bottom: 2rem;
    }
  }
}

/* 선불잔액조회 */
.myThriftyPrepaidPlanDetail {
  .detailTypeArea {
    padding-bottom: 30rem;
  }
}
.detailTypeArea {
  padding: 8.6rem 7rem;
  .fieldTop {
    padding: 0;
    margin-bottom: 4.4rem;
    border-bottom: 0;
  }
  .fieldTitle01 {
    font-size: 1.8rem;
  }
  .fieldBottom {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0;
  }
  .summaryDataWrap {
    padding: 3rem;
    margin-bottom: 6rem;
    background-color: $bgcolor-gray-07;
    border-radius: 1.2rem;
    text-align: center;
  }
  .usageItem {
    align-items: flex-end;
    justify-content: center;
    dt {
      margin-right: 1.2rem;
    }
    dt, dd {
      line-height: 1;
    }
  }
  .subSmallText {
    margin-top: 1rem;
    text-align: center;
  }
  .infoBoxArea {
    &.grayBox {
      padding: 0.6rem 0;
    }
    p {
      margin-bottom: 1.6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* 변경 이력 조회 */
.planChangeList {
  .normalBgTable {
    thead {
      th {
        padding: 0.9rem 0.8rem;
      }
      & + tbody {
        border-top: none;
      }
    }
    th, td {
      padding: 1.4rem 0.5rem;
      text-align: center;
      font-size: 1.1rem;
    }
  }
}

// *요금제 변경 리스트 *
.myThriftyChangeCharge {
  .popularDataList {
    margin: -1rem;
    .checkBoxItem {
      width: calc(50% - 2rem);
    }
  }
  .summaryArea {
    &.changecharge02 {
      width: calc(66.666% - 1rem);
    }
  }
  .resultContainer {
    margin-top: 2rem;
    padding-left: 2rem;
  }
  .resultMiddle {
    max-height: 170rem;
    overflow: hidden;
    overflow-y: auto;
  }

  .btnContainer {
    margin-top: 2rem; 
    .buttonArea {
      margin-bottom: 1rem; 
    }
  }
}
// 20220926 추가 시작
.popularDataList {
  .summaryBottomArea {
    @include flex(row, flex-start, flex-end);
    .usageItemArea {
      width: 100%;
    }
    .usageItem {
      &:only-of-type {
        margin-top: 2.2rem;
      }
    }
    .btn {
      min-width: 7.5rem;//ie11
      height: 2.7rem; 
      margin-left: 1rem;
      padding: 0 0.7rem; 
      font-size: 1.6rem; 
      line-height: 2.3rem;
    }
  }
}
// 20220926 추가 끝

/* [운영] 납부방법변경 안내 */
.specsChangeInfo {
  margin-top: 7rem;
  &:first-child {
    margin-top: 0;
  }
  .changeInfoArea {
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0;
    }
    .infoTop {
      margin-bottom: 1.6rem;
      @include font(1.4rem, bold, $black, 1.4);
    }
    .infomiddle {
      @include font(1.4rem, normal, $black, 1.4);
      .typeCaution {
        margin-top: 3rem;
      }
    }
    .tableContainer {
      margin-top: 5rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .infoVisual {
    @include flex(row, flex-start, flex-end);
    align-items: stretch;
    .infoVisTitle {
      @include flex(column, center, center);
      width: calc(50% - 1rem);
      margin: 0 0.5rem;
      padding: 3rem;
      background-color: $white;
      border-radius: 0.4rem;
    }
    [class*=icon] {
      width: 10rem;
      height: 10rem;
      margin-bottom: 2rem;
    }
  }
}

/* 요금제 변경 불가 안내 */
.linkGroup {
  margin: 0 -0.5rem;
  &.alignCenter {
    text-align: center;
  }
  .linkUnderline {
    display: inline-block;
    margin-top: 2rem;
    margin: 2rem 0.5rem 0;
    font-weight: bold;
  }
}


@media (#{$pc-middle}) {
  /* common */
  .subTitleContainer {
    .subTitleTop {
      &::before {
        right: 3rem;
      }
    }
    .subTitleBottom {
      .subTitleBottomArea {
        position: relative;
      }
    }
  }
  /* summary common */
  .summaryContent  {
    .summaryArea {
      width: calc(50% - 1rem);
    }
  }

  /* myThriftyListLostPause */
  .myThriftyListLostPause {
    .summaryContent {
      .summaryArea {
        width: 100%;
      }
    }
  }

  /* myThriftyListCoupon */
  .myThriftyListCoupon {
    .summaryArea {
      width: 100%;
      &.half {
        width: 100%;
      }
    }
  }

  /* 나의 후기 */
  .myThriftyListReview {
    .summaryContent {
      .summaryArea {
        width: 100%;
      }
    }
  }

  // 선불요금제
  .summaryArea {
    .infoSummaryBottom {
      .noPhoneLineShow {
        .btn {
          background-size: 1.9rem auto;
        }
      }
    }
  }

  /* 요금제 변경 */
  .myThriftyChangeCharge {
    .summaryArea {
      &.changecharge01 {
        width: calc(33.333% - 1rem);
      }
    }
  }
}

@media (#{$tablet}) {
  /* common */
  .subTitleContainer {
    .subTitleTop {
      min-height: 16.2rem;
      padding-bottom: 4.4rem;
      &:before {
        right: 3rem;
        top: 3rem;
        width: 6.7rem;
        height: 6.6rem;
        background-position: center bottom;
        background: image('myThrifty/img_subtitle_bg_mo.png') no-repeat center/cover;
      }
    }
    .subTitleBottom {
      .myCouponBox {
        margin-right: auto;
      }
      .subTitleBottomArea {
        display: block;
      }
      .dropdownLine {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
      }
      .bottomButtons {
        margin-top: 1rem;
      }
    }
    .titleLinks {
      margin-right: -1.5rem;
      padding-bottom: 0;
      .subText {
        max-width: calc(100% - 6rem);
      }
      br {
        display: none;
      }
      .iconBgSetting {
        margin-left: auto;
      }
    }
    // .hideInfoBtn {
    //   padding-right: 0.5rem;
    // }
  }
  .usageItem {
    &.smaller {
      dt {
        font-size: 1.3rem;
      }
      dd {
        font-size: 1.8rem;
      }
    }
  }
  /* summary common */
  .summaryContent  {
    .summaryArea {
      width: 100%;
      margin: 0 0 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .myThriftyMain {
    .summary01, 
    .summary02 {
      .summaryInner {
        min-height: auto;
      }
    }
    .fieldBottom {
      min-height: 0;
    }
  }

  /* 마이알뜰폰 - 비회원 안내 페이지 */
  .myThriftyIntroduce {
    .subTitleContainer {
      .subTitleBottomArea {
        display: block;
        .bottomButtons {
          padding-bottom: 2rem;
        }
      }
      .titleLinks {
        padding-bottom: 0;
      }
    }
  }
  /* myThriftyListLostPause */
  .myThriftyListLostPause {
    .summaryInner01 {
      .fieldBottom {
        &::after {
          display: none;
        }
      }
    }
    .shortcutArea {
      margin-left: 0;
    }
    .cautionArea {
      margin-left: 0;
    }
  }

  /* myThriftyListCoupon */
  .couponArea {
    justify-content: center;
  }

  /* myThriftyCircuitInformation */
  .withdrawalBtn {
    @include flex(row, flex-end, center);
    margin-top: 1.3rem;
  }
  
  /* 마이알뜰폰 - 요금 조회 */
  .payTableContainer {
    .usageItem {
      &.borderBox {
        padding: 1.4rem 1.6rem;
      }
    }
  }
  
  //선불 요금제
  .summaryArea {
    .infoSummaryBottom {
      background-color: transparent;
    }
  }
  
  /* 명세서 유형 변경 */
  .myThriftySpecsList {
    .typePhoneLine {
      margin-bottom: 3rem;
    }
  }

  /* 선불잔액조회 */
  .detailTypeArea {
    padding: 0;
    .fieldTop {
      padding: 1.6rem 2rem;
      margin-bottom: 0;
      border-bottom: 1px solid $border-color-02;
    }
    .fieldTitle01 {
      font-size: 1.4rem;
    }
    .fieldBottom {
      padding: 2rem 2rem 7rem;
    }
    .summaryDataWrap {
      padding: 0;
      margin-bottom: 3rem;
      background-color: transparent;
      border-radius: 0;
      text-align: left;
    }
    .usageItem {
      justify-content: space-between;
    }
    .subSmallText {
      text-align: right;
    }
    .infoBoxArea {
      font-size: 1.3rem;
      a {
        font-size: inherit;
      }
      &.grayBox {
        padding: 2.4rem 1.6rem;
      }
    }
  }

  /* 선불잔액조회 */
  .myThriftyPrepaidPlanDetail {
    .contentArea {
      padding-bottom: 10rem;
    }
    .detailTypeArea {
      padding-bottom: 10rem;
    }
  }

  /* 요금제 변경 */
  .myThriftyChangeCharge {
    .summaryArea {
      &.changecharge01, 
      &.changecharge02 {
        width: 100%; 
      }
    }
    .popularDataList {
      .checkBoxItem {
        margin: 1rem;
        .popularDataArea {
          height: 100%;
        }
      }
    }
    .resultContainer {
      padding-left:0; 
    }
    
    // background-color: $bgcolor-gray-05;
  }

}

@media (#{$foldMax}) {
  /* common */
  [class*=myThrifty] {
    .fieldRadio {
      .fieldForm {
        min-height: 4.8rem;
      }
    }
  }
  .summaryInner {
    // nodata
    .nodataContainer {
      padding: 3rem 1rem;
      font-size: 1.4rem;
    }
  }
  .subTitleContainer {
    .strongText {
      margin-bottom: 1.45rem;
      font-size: 2.2rem;
    }
    .subTitleBottomArea {
      .iconBgLink {
        width: 100%;
        padding-right: 1rem;
      }
    }
  }
  .formDataArea {
    .fieldData {
      margin-top: 5rem;
    }
  }
  .dataTitleArea {
    margin-bottom: 2rem;
    padding-bottom: 1.2rem;
    .dataTitle {
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
  .dataLabelArea {
    font-size: 1.4rem;
  }
  .dlItemFlex {
    [class*=iconBg] {
      padding-left: 3rem;
      background-size: 1.8rem auto;
      line-height: 2.8rem;
    }
  }
  /* Field */
  .fieldArea {
    min-height: 4.8rem;
    padding: 1rem 1.6rem;
    border-radius: 3px;
    .fieldValue {
      font-size: 1.4rem;
    }
  }
  .typePhoneLine {
    &.fieldCheckbox,
    &.fieldRadio {
      .fieldArea {
        &.disabled,
        &.stopped {
          .fieldBox {
            width: calc(100% - 2rem)
          }
        }
      }
    }
    .fieldArea {
      padding: 2.4rem 1.6rem;
      .radio {
        margin: 0 1rem 0 -0.6rem;
      }
      .checkbox {
        margin: 0 1rem 0 -0.6rem;
      }
      .colorRed {
        font-size: 1.2rem;
      }
    }
    .lineLabel {
      & > * {
        font-size: 1.4rem;
      }
      .product {
        margin-bottom: 0.5rem;
      }
    }
    .lineMyPhone {
      .phone {
        font-size: 1.6rem;
        line-height: 1.9rem;
      }
    }
    .innerLogo {
      .fieldBox {
        .imgWrap {
          width: 8rem;
          height: 5.1rem;
          margin-right: 1rem;
          img {
            width: 100%;
            height: auto;
          }
        }
        .product {
          font-size: 1.3rem;
        }
        .phone {
          font-size: 1.4rem;
        }
      }
    }
  } //회선 정보 박스
  
  /* myThriftySpecsChange */
  .myThriftySpecsChange {
    .typeCaution {
      margin-top: 2rem;
    }
  }
  /*myThriftyCircuitInformation*/
  .myThriftyCircuitInformation {
    .typeAddress {
      margin-bottom: 0.8rem;
    }
    .typeGender {
      .fieldForm {
        height: 4.8rem;
        font-size: 1.4rem;
      }
    }
    .typeSnsConnect {
      [class*=iconBg] {
        width: 2.7rem;
        height: 2.7rem;
      }
    }
    .typeAgreement {// 운영 20221019
      .fieldLabel {
        display: block;
        .moBlock {
          display: block;
        }
      }
    }
  }

  /* 일반 요금제 */
  .myThriftyListPlan {
    .accordionContainer {
      .accordionMiddle {
        margin-bottom: 2rem;
      }
    }
  }

  /* 요금제 변경 */
  .myThriftyChangeCharge {
    .popularDataList {
      margin: -1rem 0;
      .checkBoxItem {
        width: 100%;
        margin: 1rem 0;
        .popularDataArea {
          height: auto;
        }
      }
    }
    .resultMiddle {
      overflow-y: hidden;
      max-height: initial;
    }
  }

  /* myThriftyListLostPause */
  .myThriftyListLostPause {
    .moBlock {
      display: block;
    }
  }

  /* myThriftyListCoupon */
  .myThriftyListCoupon {
    .summary02 {
      .fieldBottom {
        padding: 3rem 2rem;
      }
    }
    .moBlock {
      display: block;
    }
  }
  .couponArea {
    margin: -1rem;
  }
  .couponWrap {
    width: calc(100% - 2rem);
    margin: 1rem;
    &::before, &::after {
      right: calc(5.6rem - 0.7rem);
    }
    &.coupon01 {
      .couponLeft {
        background-position: right 1.8rem top 0.7rem;
        background-size: 6.8rem auto;
      }
    }
    &.coupon02 {
      .couponLeft {
        background-position: right 1.8rem top 0.7rem;
        background-size: 3.8rem auto;
      }
    }
    .couponLeft {
      width: calc(100% - 5.6rem);
      min-height: 13rem;
      padding: 1.6rem 7.5rem 1.6rem 1.6rem;
    }
    .couponRight {
      width: 5.6rem;
      padding: 1.8rem 0.6rem 3.3rem 1rem;
      text-align: right;
      line-height: 1.3;
      .availableDate {
        width: 7.9rem;
        transform: rotate(-90deg) translate(-25px, -17px);
        text-align: right;
      }
    }
    .couponTitle {
      font-size: 1.8rem;
    }
  }

  // .myThriftyCircuitList {}
  //약정 정보 있는 경우(스폰서 팝업 버튼 유)
  .haveCommit {
    .dlCommit {
      .btnSponser {
        font-size: 1.4rem;
      }
    }
  }

  /* 나의 후기 */
  .dlItemFlexDate {
    display: block;
    dt {
      margin-bottom: 1.2rem;
    }
    dd {
      margin-right: 0;
      margin-bottom: 1.4rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .updateLabel {
      margin-left: 0;
      text-align: left;
    }
  }
  .myThriftyListReview {
    .summaryContent {
      .fieldBottom {
        padding-bottom: 5rem;
      }
      .summary02 {
        .fieldBottom {
          padding-bottom: 7rem;
        }
      }
    }
  }
  .myWriteContainer {
    .biggerTitle {
      font-size: 2.2rem;
      .line {
        &:after {
          height: 1.1rem;
        }
      }
    }
    .writeTop {
      margin-bottom: 3rem;
      font-size: 1.6rem;
    }
    .writeMiddle {
      margin-bottom: 3rem;
    }
    .writeBottom {
      .textarea {
        margin-bottom: 3rem;
      }
    }
  }
  .starContainer {
    .starGroup {
      &.sizeSmall {
        margin-right: 0.8rem;
        & > li {
          width: 2rem;
          height: 2rem;
          margin-right: 0.5rem;
        }
      }
    }
    .startLabel {
      font-size: 1.8rem;
    }
  }
  .myReviewContainer {
    .reviewTop {
      margin-bottom: 1.8rem;
    }
    .reviewMiddle {
      margin-bottom: 1.2rem;
    }
    .middleTitle {
      margin-bottom: 1.2rem;
      font-size: 1.8rem;
    }
  }
  
  // 선불요금제
  .myThriftyPrepaidPlan {
    .contentArea {
      padding-bottom: 0;
    }
  }
  .summaryArea {
    .infoSummaryBottom {
      .summaryInfoArea {
        .swiper-slide {
          border-radius: 0;
          border: 0;
        }
      }
      .summaryPagination, 
      .summaryPagination2 {
        position: static;
        background-color: $white;
        padding: 2rem 0 4.5rem;
      }
      .noPhoneLineShow {
        .imgWrap {
          background-color: rgba(235, 238, 240, 0.5);;
        }
      }
    }
  }
  
  /* 선불잔액조회 */
  .myThriftyPrepaidPlanDetail {
    .detailTypeArea {
      padding-bottom: 0;
    }
  }

  /* [운영] 납부방법변경 안내 */
  .specsChangeInfo {
    .infoVisual {
      .infoVisTitle {
        padding: 2.4rem;
        font-size: 1.3rem;
      }
      [class*=icon] {
        width: 7.2rem;
        height: 7.2rem;
        margin-bottom: 1.7rem;
        background-size: 100% auto;
      }
    }
  }

}

@media (#{$mobile}) {
  // layout
  [class*=myThrifty].detail,
  .myThriftyMultilineList {
    .contentArea {
      padding: 3rem 0 7rem;
    }
  }
  .myThriftyMain, [class*=myThriftyList] {
    .contentArea {
      padding: 0;
      padding-top: 2rem;
    }
  }
  /* common */
  .dlGrayBox, .dlWhiteBox {
    .dlItemFlex {
      dt, dd {
        font-size: 1.4rem;
      }
    }
  }
  .dlItemFlex {
    dt, dd {
      font-size: 1.4rem;
    }
    &.borderType {
      dt, dd {
        font-size: 1.4rem;
      }
    }
  }
  .noticeArea {
    margin-bottom: 5.4rem;
  }
  // 쿠폰등록 인풋
  .codeInputBox {
    .btn {
      font-size: 1.4rem;
    }
  }
  .swiper {
    .swiperControler {
      margin-top: 1.7rem;
    }
  }
  // title
  .subTitleContainer {
    .profileLabel {
      @include flex(column, flex-start, flex-start);
      .memberLevel {
        margin-right: 0;
        margin-bottom: 0.65rem;
        padding: 0 0.4rem;
        font-size: 1.3rem;
      }
      .phone {
        margin-right: 0;
        margin-left: 0;
      }
    }
    .subTitleBottom {
      padding: 2.5rem 0 0.6rem;
      .subTitleBottomArea {
        padding: 0 2rem;
      }
    }
  }

  /* favoritContainer */
  .favoritContainer {
    margin: 0 1rem 2rem;
    padding: 0;
    .fieldTop, 
    .fieldMiddle {
      border-width: 1px;
      &:only-child {
        border-width: 1px;
      }
    }
    .fieldTop {
      padding: 1.6rem;
      &:before {
        left: 0;
        right: 0;
      }
      &:after {
        right: 0;
      }
      &.flex {
        display: block;
      }
    }
    .fieldMiddle {
      padding: 1.6rem;
      p {
        font-size: 1.4rem;
      }
      strong {
        display: block;
      }
    }
    .fieldText {
      width: 100%;
    }
    .fieldTitle01 {
      float: left;
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .iconBgSetting {
      float: left;
      padding: 0;
      margin-right: 0;
      &:after {
        content: '';
        clear: both;
      }
      & > img {
        width: 2rem;
      }
    }
  }
  /* myThriftyMain */
  .myThriftyMain {
    .summary04 {
      .fieldBottom {
        padding-top: 5.2rem;
        padding-bottom: 6.6rem;
      }
    }
    .summary06, .summary07 {
      .fieldBottom {
        padding-top: 3rem;
        padding-bottom: 4.6rem;
      }
    }
    .infoBoxArea {
      .title {
        font-size: 1.4rem; 
      }
      .descArea {
        font-size: 1.4rem; 
      }
    }
  }
  .noticeArea {
    font-size: 1.6rem;
    p {
      margin-bottom: 2.8rem;
    }
    .moBlock {
      display: block;
    }
  }
  .dataGraphBar {
    .bar {
      height: 0.9rem;
    }
  }
  .extraItemList {
    .listItem {
      dt {
        font-size: 1.4rem; 
      }
      dd {
        font-size: 1.4rem; 
      }
    }
  }
  /* summary common */
  .summaryContent  {
    margin: 0 -2rem;
    .summaryArea {
      margin-bottom: 2rem;
      &.full {
        width: 100%;
      }
    }
    .summaryInner {
      border-radius: 0;
      border: 0;
    }
    .fieldMiddle {
      padding: 2rem;
      border-radius: 0;
      .usageItem {
        dt, dd {
          font-size: 1.4rem;
        }
      }
    }
    .fieldBottom {
      padding: 2.4rem 2rem 3.6rem;
    }
    .summaryTitleArea {
      font-size: 1.6rem;
      .summaryBigTitle {
        font-size: 2.2rem;
      }
    }
    .circleGraph {
      width: 22rem;
      height: 22rem;
    }
  }
  .summaryDataWrap {
    .dlItemFlex {
      min-height: 4.4rem;
    }
  }
  // myThriftyCircuitInformation
  .myThriftyCircuitInformation {
    .subTitleBottom {
      .btn {
        width: 100%;
        &.iconBgSetting {
          background-position: right center;
        }
      }
    }
    // 운영 20221019 삭제
  }

  /* myThriftyLostInput */
  .myThriftyLostInput {
    .typelostArea,
    .typelostCategory,
    .typeStop {
      .fieldForm {
        height: auto;
        padding: 1.4rem 2rem;
        .radio {
          min-width: 14.6rem;
          margin-right: 3rem;
          margin-bottom: 1rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  /* myThriftyLostPauseList */
  .myThriftyLostPauseList {
    .typeStop {
      .fieldForm {
        height: auto;
        padding: 1.4rem 2rem;
        .radio {
          min-width: 14.6rem;
          margin-right: 3rem;
          margin-bottom: 1rem;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  /* myThriftyListLostPause */
  .myThriftyListLostPause {
    .shortcutItem {
      font-size: 1.6rem;
    }
    .cautionArea {
      .label {
        font-size: 1.6rem;
      }
    }
  }

  //회선 정보 박스
  // .typePhoneLine {
  //   .lineLabel {
  //     display: block;
  //   }
  // } 

  /* 선불잔액조회 */
  .myThriftyPrepaidPlanDetail {
    .contentArea {
      padding-bottom: 0;
    }
  }
  
  /* 요금제 변경 */
  .myThriftyChangeCharge {
    &.detail {
      .contentArea {
        padding: 0;
      }
    }
    .summaryArea {
      margin-bottom: 0;
      
    }
    .resultContainer {
      margin-top: 0;
      padding-left: 2rem;
      padding-right: 2rem;
      border-top: 2rem solid $bgcolor-gray-05;
      .topFull {
        margin: 0 -2rem 2rem;
        padding: 1.4rem 2rem;
        border-bottom: 1px solid $border-color-02;
      }
      .resultTop {
        margin-bottom: 0.5rem;
      }
    }
    .popularDataList {
      margin: 0;
    }
  }
}

@media (#{$mobile-small}) {
  .typePhoneLine {
    .lineLabel {
      .product {
        line-height: 1.5;
        &::after {
          display: none;
        }
      }
    }
    .lineMyPhone {
      flex-direction: column;
      align-items: flex-start;
      .colorLabel {
        margin-top: 0.8rem;
      }
    }
    .innerLogo {
      padding: 1rem 2rem 2rem;
      .fieldBox {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  } //회선 정보 박스
  .typeLineDetail {
    .fieldArea {
      padding: 1.4rem 1.6rem;
      div {
        font-size: 1.4rem;
      }
      dt {
        width: 9.2rem;
      }
    }
  } // 회선 상세 리스트
  
  /* 나의 후기 */
  .myReviewContainer {
    .reviewTop {
      display: block;
      .starContainer {
        margin-bottom: 0.5rem;
      }
    }
  }
  .starContainer {
    .starGroup {
      & > li {
        width: 4rem;
        height: 4rem;
        margin-right: 0.8rem;
      }
    }
  }

  //선불 요금제
  .summaryArea {
    .infoSummaryBottom {
      .summaryInfoContent {
        [class*=iconBg] {
          width: calc(100% - 6.8rem);
          height: auto;
        }
      }
    }
  }

  // 20220926 추가 시작
  /* 요금제 변경 */
  .popularDataList {
    .summaryBottomArea {
      display: block;
      .btn {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
  // 20220926 추가 끝

  .dataTitleArea {
    flex-wrap: wrap;
  }
  
  /* 본인인증 - 팝업 */
  .popup {
    .typeCertification {
      .certificationWrap {
        //서비스 점검
        .btnNotService {
          width: calc(100% - 1.2rem);
        }
      }
    }
  }
}