// ------- product ------- //
// 상품 공통
[class*=product] {
  .contentArea {
    padding-top: 7rem;
  }
}
.productPlanCompare, //요금제 비교
.productPlanDetail, //요금제 상세
.usimDirectPurchase01, //바로배송유심구매 1/2
.usimDirectPurchase02, //바로배송유심구매 2/2
.sharingDetail, //데이터 쉐어링
.exchangeCancel, //데이터 주고받기 해지
.exchangeJoin, //데이터 주고받기 가입
.usimApply //셀프개통, 번호이동, 워치개통
{ 
  &:after {//하단 고정영역으로 인한 footer 가림 해소
    content: '';
    display: block;
    width: 100%;
    height: 16rem;
    background-color: $bgcolor-gray-03;
  }
}

.productPlanList, //요금제 리스트
.productPlanCompare //요금제 비교
{
  .contentArea {
    padding: 0;
  }
}
.productListContainer {
  padding-top: 8rem;
  background-color: $white;
}

[class*=productExtra] {
  .boardContainer {
    padding: 0;
    padding-bottom: 14rem;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.extraContainer {
  .extraTop {
    @include flex(row, flex-start, center);
    margin-bottom: 3.5rem;
    @include font(2.4rem, bold, $black, 1.4);
    &.spaceBetween {
      justify-content: space-between;
    }
  }
  .extraMiddle {
    border-top: 2px solid $black;
  }
  .extraBottom {
    margin-top: 4rem;
  }
  .extraTitle {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    position: relative;
    min-height: 7.5rem;
    border-bottom: 1px solid $bgcolor-gray-08;
    .title {
      @include flex(row, flex-start, center);
      flex: 1;
      padding: 2.6rem 2rem;
      padding-right: 0;
      margin-right: auto;
      flex-wrap: wrap;
      @include font(1.6rem, normal, $color-gray-06, 1.4);
    }
    .titleHead {
      @include flex(column, flex-start, flex-start);
      &:only-child {
        flex: 1;
      }
      .top {
        @include font(1.4rem, 700, $secondary, 2.3rem);
      }
      .middle {
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        margin-bottom: 0.35rem;
        @include font(2rem, 700, $color-gray-06, 1.4);
        &:only-child, &:last-child {
          width: 100%;
        }
        .desc {
          margin-right: 1rem;
          text-align: left;
        }
        [class*=type] {
          @include flex(row, center, center);
          width: auto;
          min-width: auto;
          margin-top: 0.2rem;
          padding: 6px 8px;
          border-radius: 1.3rem;
          @include font(1.2rem, 500, inherit, 1);
          background-color: $white;
          white-space: nowrap;
        }
        // 카테고리에 따라 색상 상이
        .typeData {
          border: 1px solid $color-category-01;
          color: $color-category-01;
        }
        .typeCall {
          border: 1px solid $color-category-02;
          color: $color-category-02;
        }
        .typePink {
          border: 1px solid $color-red-02;
          color: $color-red-02;
        }
      }
      .bottom {
        width: 100%;
        font-size: 1.3rem;
        color: $secondary;
      }
    }
    .titleBody {
      @include flex(row, space-between, center);
      margin-left: auto;
      @include font(2rem, 800, $color-gray-06, 2.3rem);
      word-break: break-word;
      word-wrap: break-word;
      .sideRight {
        align-items: center;
        margin-top: 0;
      }
    }
    .titleFoot {
      @include flex(row, flex-start, center);
      margin-left: auto;
      @include font(1.6rem, normal, $color-gray-04, 1.4);
      .date {
        margin-left: 2rem;
      }
    }
    .sideRight {
      @include flex(row, flex-end, center);
      margin-left: auto;
      & > * {
        display: block;
        margin-left: 2rem;
        &:first-child {
          margin-left: 0;
        }
      }
      .detailOpenBtn, 
      .extraBtn {
        margin-left: 0;
      }
    }
    .freeType {
      @include font(2rem, bold, $black, 1.4);
    }
    .linkUnderline {
      font-size: 1.6rem;
    }
    .labelItem {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
    }
    .radio {
      @include flex(row, center, center);
      margin-left: 2rem;
      .radioLabel {
        &:before {
          margin-right: 0;
        }
      }
    }
    .extraPrice {
      margin-left: 2rem;
      @include font(2rem, 700, $color-gray-06, 1.4);
    }
  }
  .extraBtn {
    min-width: 5rem;
    height: 5rem;
    background: image('common/arrow_line_down.svg') no-repeat right 2rem center;
    & > span {
      @include ir;
    }
  }
  .detailOpenBtn {
    min-width: 5rem;
    height: 5rem;
    background: image('common/icon_arrow_right.svg') no-repeat center/0.9rem 1.4rem;
    & > span {
      @include ir;
    }
  }
  .extraContent {
    display: none;
    min-height: 8.1rem;
    padding: 2.6rem 2rem;
    background-color: $bgcolor-gray-03;
    @include font(1.6rem, normal, $color-gray-06, 1.4);
    .textWrap {
      display: block;
      margin-bottom: 1.6rem;
      &:last-child {
        margin-bottom: 0;
      }
      p {
        padding-top: 2rem;
        @include font(1.6rem, 700, $color-gray-06, normal);
        &:first-child {
          padding-top: 0;
        }
      }
      span {
        @include font(1.6rem, 400, $color-gray-06, normal);
      }
    }
  }
  .extraArea {
    &:first-child {
      border-top: 0;
    }
    &.active {
      .extraTitle {
        background-color: $bgcolor-gray-03;
      }
      .extraBtn {
        background-image: image('common/arrow_line_up.svg');
      }
      .extraContent {
        display: block;
      }
    }
  }
  //xlsx dev
  .titleArea {
    @include font(1.6rem, 700, $color-gray-06, normal);
  }
  .textArea {
    margin-bottom: 2rem;
    @include font(1.6rem, 400, $color-gray-06, normal);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// 하단 고정 푸터
.fixedFooterContainer {
  overflow-x: hidden;
  overflow-y: auto;
  @include flex(column, center, center);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  max-height: 20rem;
  // min-height: 18.3rem;
  padding: 4rem 0;
  background-color: $bgcolor-gray-03;
  box-shadow: 0px -3px 14px rgba(0, 0, 0, 0.25), 0px -3px 14px rgba(0, 0, 0, 0.25);
  .moType {
    display: none;
  }
  .fieldToggleBtn {
    display: none;
    .openBtn {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      background: image('common/arrow_toggle_up.svg') no-repeat center;
      & > span {
        @include ir;
      }
    }
    &[aria-expanded="true"] {
      .openBtn {
        background: image('common/arrow_toggle_down.svg') no-repeat center;
      }
    }
  }
  // 비교하기
  .field {
    .fieldLabel {
      margin-bottom: 1.8rem;
      @include font(1.8rem, normal, $color-gray-04, 1.4);
    }
    .fieldForm {
      @include flex(row, flex-start, center);
    }
    .checkbox,
    .emptyArea {
      @include flex(row, flex-start, center);
      flex: 1;
      height: 5.7rem;
      padding: 0 2rem;
      margin-right: 1rem;
      background-color: $white;
      border: 1px solid $border-color-02;
      border-radius: 0.4rem;
      &:last-child {
        margin-right: 0;
      }
    }
    .checkbox {
      .checkboxLabel {
        width: 100%;
        .checkIcon {
          margin-left: auto;
          &:before {
            margin-right: 0;
          }
        }
        & > span {
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .emptyArea {
      color: $secondary;
    }
  }
}
.fixedFooterArea {
  @include flex(row, space-between, center);
  width: 100%;
  max-width: 147.6rem;
  padding: 0 2rem;
  .title {
    margin-bottom: 1rem;
    @include font(1.6rem, 700, $secondary, 1.4);
  }
  & > .descArea,
  & > .field {
    width: calc(100% - 27.6rem);
    @include font(1.6rem, normal, $color-gray-06, 1.4);
  }
  .descArea {
    @include flex(row, space-between, center);
    margin-right: 5rem;
    & + .buttonArea {
      flex: 1;//ie11
    }
  }
  .priceArea {
    @include font(3.2rem, bold, $color-gray-06, 4.6rem);
  }
  .left {
    .desc {
      margin-right: 1rem;
      @include font(3.2rem, 700, $color-gray-06, 1.4);
    }
  }
  .right {
    .desc {
      @include flex(row, flex-end, flex-end);
      @include font(1.8rem, 700, $color-gray-06, 1.4);
    }
    .priceArea {
      margin-left: 1rem;
      margin-bottom: -5px;
    }
  }
  .sideArea {
    flex: 1;//ie11
    @include font(1.6rem, normal, $color-gray-06, 1.4);
  }
  .comment {
    margin-bottom: 1rem;
  }
  .buttonArea {
    .btn {
      width: 26.6rem;
      &:only-child {//ie11
        max-width: 26.6rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
    }
  }
}
.fixedFootBottom {
  width: 100%;
  max-width: 147.6rem;
  margin-top: 1rem;
  padding: 0 2rem;
  @include font(1.4rem, 400, $color-gray-06, 1.4);
  & > div {
    padding: 0 2rem;
  }
  .alingRight {
    text-align: right;
  }
}

// 공통
.popularDataArea {//기본값
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  @include whiteBorderBox(3rem);
  box-shadow: 0px 2px 6px rgba($black, 0.04), 0px 0px 1px rgba($black, 0.04);
  .titleCompany {
    display: block;
    font-size: 1.3rem;
  }
  .dlItemFlex {
    min-height: 5.2rem;
    &.borderType {
      dt {
        font-size: 1.4rem;
        font-weight: bold;
      }
      dd {
        flex: 1;
        font-size: 1.6rem;
        text-align: right;
      }
    }
  }
  .dlGrayBox {
    border: none;
  }
  .dlColorBoxArea {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  // 목록 슬라이드
  .colorLabel {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    z-index: 1;
    display: block;
    margin-left: auto;
    padding: 0 0.7rem;
    @include font(1.3rem, normal, $white, 2.3rem);
    background-color: $primary;
    border-radius: 3px;
    &:after {
      content: '';
      clear: both;
    }
  }
}

// 목록 - 슬라이드
.productSummaryContainer {
  position: relative;
  max-width: 147.6rem;
  margin: 0 auto;
  padding: 14.9rem 2rem 12rem;
  .popularDataArea {// 목록 - 슬라이드
    .summaryBigTitle {
      font-size: 2.8rem;
    }
    .titleCompany {
      margin-bottom: 0.6rem;
    }
    .dlItemFlex {
      min-height: 6.6rem;
      dt {
        flex-basis: 10rem;
        font-size: 1.6rem;
        font-weight: bold;
      }
      dd {
        font-size: 1.8rem;
        text-align: right;
      }
      .subText {
        font-size: 1.3rem;
      }
    }
  }
}
// 선불요금제 안내사항
.planNoticeArea {
  max-width: 99.2rem;
  padding: 0 2rem;
  margin: 7rem auto 0;
  &.fullWidth {
    max-width: 100%;
    padding: 0;
  }
  .normalTitle {
    display: block;
    margin-bottom: 3rem;
    @include font(1.6rem, bold, $black, 1.4);
  }
}
.popularProductTitle {
  @include flex(row, flex-start, center);
  margin-bottom: 5.4rem;
  @include font(3rem, bold, $black);
  .colorLabel {
    order: -1;
    @include flex(row, flex-start, center);
    width: 5.9rem;
    height: 3rem;
    margin-right: 1rem;
    padding: 0 0.9rem;
    font-size: 1.4rem;
    background-color: $accent;
    color: $white;
    border-radius: 3px;
    &::after {
      content: "";
      flex-shrink: 0;
      width: 1rem;
      height: 1.4rem;
      margin-left: auto;
      background: image("product/icon_popular.svg") no-repeat center;
    }
  }
}
.popularSwiper {//상품 공통 슬라이드
  position: relative;
  .swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide {
    height: auto;
  }
  .react-pagination {
    top: auto;
    bottom: 0;
    height: 0.2rem;
    background-color: $border-color-02;
    .swiper-pagination-progressbar-fill {
      top: -0.25rem;
      height: 0.6rem;
      background-color: $color-gray-06;
    }
  }
  .popularBtnWrap {
    @include flex(row, space-between, center);
    position: static;
    width: 12.6rem;
    height: 100%;
    margin: 6rem auto 0;
    [class*=popularBtn] {
      overflow: hidden;
      position: relative;
      width: 3rem;
      height: 3rem;
      background: image('common/arrow_pagenation.svg') no-repeat center $white;
      background-size: cover;
      border-radius: 50%;
      & > span {
        display: block;
        width: 100%;
        height: 100%;
        color: transparent;
      }
      &:hover, &:focus-visible {
        background-image: image('common/arrow_pagenation_hover.svg');
      }
      &:active {
        background-image: image('common/arrow_pagenation_press.svg');
      }
      &.swiper-button-disabled {
        opacity: 0.5;
        &:hover, &:active {
          background-image: image('common/arrow_pagenation.svg');
        }
      }
    }
    .popularBtnNext {
      transform: translateY(0) rotate(180deg);
    }
    .swiper-pagination {
      position: static;
      width: auto;
      @include font(1.3rem, bold, $color-gray-04);
      .swiper-pagination-current {
        color: $primary;
      }
    }
  }
  .usageItem {
    dd {
      margin-left: auto;
    }
    .linkUnderline {
      font-size: 1.8rem;
    }
  }
}

// 리스트
.popularDataList {
  @include flex(row, flex-start, stretch);
  flex-wrap: wrap;
  .usageItem {
    dt {
      @include font(1.4rem, bold, $black, 1.4);
    }
    dd {
      @include font(2rem, bold, $black, 1.4);
      span {
        padding-right: 0.3rem;
      }
    }
    &.smaller {
      dt {
        @include font(1.4rem, normal, $secondary, 1.4);
      }
      dd {
        @include font(1.6rem, normal, $secondary, 1.4);
      }
    }
  }
  .checkBoxItem {
    width: calc(25% - 2rem);
    margin: 1rem;
  }
}
.checkBoxItem {
  position: relative;
  .checkbox {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    z-index: 1;
  }
  .popularDataArea {//체크박스용
    width: 100%;
    margin: 0;
    background-color: $bgcolor-gray-03;
  }
}
/* 리스트 - 요금제 > 목록/상세  공통 */
.popularDataList, .productListContainer {
  .popularDataArea { //목록/상세
    @include flex(column, flex-start, space-between);
    height: 47rem;
    .summaryTitleArea {
      flex: 0;
      min-height: 13rem;
      font-size: 1.3rem;
    }
    .summaryBigTitle {
      margin-bottom: 1.2rem;
      font-size: 2.1rem;
    }
    .titleCompany {
      margin-bottom: 0.3rem;
    }
    .dlItemFlex {
      min-height: 6.2rem;
      [class*="iconBg"] {
        flex-basis: 10rem;
        padding-left: 3.6rem;
        background-size: 2.4rem auto;
      }
    }
  }
  .usageItem {
    margin: 0;
    &:only-of-type {
      margin-top: auto;
    }
  }
}
/* 요금제 > 목록 */
.productPlanList {
  .contentArea {
    padding: 0;
  }
  .productSummaryContainer {
    max-width: none;
  }
  .popularProductTitle {
    width: 143.6rem;
    margin: 0 auto 5.4rem;
  }
  .popularDataList {
    margin: -1rem;
    .popularDataArea {//목록
      width: calc(25% - 2rem);
      margin: 1rem;
    }
  }
  .popularSwiper {//목록 슬라이드
    overflow: hidden;
    width: 100%;
    max-width: 143.6rem;
    margin: 0 auto;
    .swiper-slide {
      height: auto;
    }
  }
}

/* 요금제 상세 */
.productPlanDetail {
  .contentArea {
    padding-top: 6rem;
  }
  .summaryContent {
    padding: 0rem 2rem 0rem;
  }
  .suammryContent {
    padding: 0rem 0rem 0rem;
    .summaryArea {
      width: calc(33.333% - 1rem);
      margin: 0 0.5rem 1rem;
      .summaryInner {
        width: 100%;
        background-color: $white;
        border: 1px solid $border-color-02;
        border-radius: 1.2rem;
        box-shadow: 0px 2px 6px rgba($black, 0.04),
          0px 0px 1px rgba($black, 0.04);
      }
      &.half {
        width: calc(66% - 1rem);
      }
    }
  }
  .fieldInner {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .contentInner {
    padding-bottom: 3rem;
  }
  // 디테일 리스트
  .productPlanDetailList {
    margin: 0 -0.5rem;
  }
  .detailArea {
    width: calc(33.333% - 1rem);
    margin: 0 0.5rem 1rem;
  }
  .detailArea02 {
    width: calc(66.666% - 1rem);
  }
  // Kt 엠모바일
  .centerContainer {
    .centerArea {
      margin-top: 1rem;
      padding: 6%;
    }
    .imgWrap {
      width: 13.6rem;
    }
    .centerLeft {
      margin-right: 1rem;
    }
    .centerRight {
      width: calc(100% - 11rem);
    }
    .centerInfo {
      .text {
        font-size: 1.4rem;
      }
    }
    .centerUrl {
      font-size: 1.4rem;
    }
  }
  //요금제 정보
  .basicInfoArea {
    > li {
      @include flex(row, flex-start, center);
      padding-bottom: 1.5rem;
      @include font(1.4rem, 400, $color-gray-06, 2rem);
      .title {
        width: 130px;
      }
      .desc {
        font-weight: 500;
      }
    }
  }
  // 2차 버튼 영역 
  .buttonArea {
    > button {
      width: 26.6rem; 
    }
  }
}

/* 요금제 상세 > 요금제 변경 팝업 */
.popupProductPlanChange {
  .popupMiddle {
    overflow: hidden;
    padding: 0;
    &:last-child {
      padding-bottom: 0;
    }
  }
  .planChangeContent {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(51.1rem + 19.5rem);
    padding: 2rem 2rem 19.5rem;
  }
  // 하단 고정영역
  .fixedFooterContainer {
    position: absolute;
    background-color: $white;
    box-shadow: 0px -3px 14px rgba(0, 0, 0, 0.1), 0px -3px 14px rgba(0, 0, 0, 0.1);
  }
  .fixedFooterArea {
    // min-height: 14.5rem;
    .title {
      margin-bottom: 1rem;
      @include font(1.2rem, bold, $secondary, 1.4);
    }
    .priceArea {
      font-size: 2.6rem;
    }
    .buttonArea {
      margin-top: 0;
      .btn {
        width: auto;//ie11
        min-width: 15.7rem;
      }
    }
    .left {
      .desc {
        font-size: 2.6rem;
      }
    }
    .right {
      .desc {
        font-size: 1.4rem;
      }
    }
  }
}
.planChangeContent {
  .planInfoTitle {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    @include font(1.3rem, bold, $black, 1.4);
    border-bottom: 1px solid $bgcolor-gray-08;
  }
  .typeCaution {
      background-color: $white;
      &:last-child {
        margin-bottom: 0;
      }
      &.bgWhite {
        border: 1px solid $bgcolor-gray-08;
      }
      &.bgGray {
        background-color: $bgcolor-gray-03;
      }
      .fieldLabel {
        margin-bottom: 1rem;
        @include font(1.4rem, normal, $color-gray-06, 1.4);
      }
      .fieldArea {
        min-height: auto;
        padding: 0;
        background-color: transparent;
        & > li {
          margin-bottom: 0;
        }
      }
  }
  .planInfoContent {
    .typeCaution {
      margin-bottom: 1rem;
      padding: 2rem;
      border-radius: 1rem;
    }
  }
  .fieldCheckbox {
    .fieldForm {
      @include font(1.4rem, bold, $black, 1.4);
    }
  }
}
.planChangeTop {
  @include flex(row, flex-start, stretch);
  margin: 0 -1.8rem 5rem;
  & > [class*=planChange] {
    width: calc(50% - 3.6rem);
    margin: 0 1.8rem;
    .planInfoTitle {
      height: 3.6rem;
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
  }
  .popularDataArea {
    height: calc(100% - 3.6rem);
  }
  .summaryTitleArea {
    min-height: 12rem;
  }
}
.planChangeMiddle {
  .planInfoTitle {
    font-size: 1.6rem;
  }
}

//정렬 목록
.detailInfoArea {
  .detailTitle {
    @include flex(row, space-between, center);
    margin-bottom: 1rem;
    background: image("common/arrow_line_down.svg") no-repeat right 0rem center;
    border-bottom: 1px solid $bgcolor-gray-08;
    .title {
      width: 100%;
      @include flex(row, flex-start, flex-start);
      @include font(1.6rem, 700, $color-gray-06, 2.3);
    }

    .rotateBtn {
      position: relative;
      width: 3.4rem;
      height: 2rem;
      transition: all 0.5s;
      &[aria-expanded="true"] {
        color: $primary;
      }
      & > span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
      }
    }
  }

  .detailContent {
    display: none;
    padding: 2rem;
    background-color: $bgcolor-gray-03;
    border-radius: 10px;
    @include font(1.4rem, normal, $color-gray-06, 1.5);
    .bottom {
      padding-top: 2rem;
      border-top: 1px solid $bgcolor-gray-08;
    }
  
    .textWrap {
      display: block;
      margin-bottom: 1.6rem;
      margin-top: 1.6rem;
      @include font(1.4rem, 400, $color-gray-06, normal);
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      p {
        padding-top: 2rem;
        @include font(1.4rem, 700, $color-gray-06, normal);
        &:first-child {
          padding-top: 0;
        }
      }
      span {
        @include font(1.4rem, 400, $color-gray-06, normal);
      }
    }
    //xlsx dev
    .titleArea {
      @include font(1.4rem, 700, $color-gray-06, normal);
    }
    .textArea {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.active {
    .detailTitle {
      background: image("common/arrow_line_up.svg") no-repeat right 0rem center;
    }

    .detailContent {
      display: block;
    }
  }

  .cautionArea {
    .label {
      display: inline-block;
      padding-bottom: 1rem;
      @include font(1.4rem, 700, $color-gray-06, 2rem);
    }
    .label2 {
      display: inline-block;
      padding-bottom: 1rem;
      @include font(1.4rem, 400, $color-gray-06, 2rem);
    }
    .cautionWrap {
      margin-top: 0rem;
      > li {
        margin-left: 0.8rem;
        margin-bottom: 0;
      }
    }
  }
}

/* popup 요금제 비교 결과 .popupProductPlanCompare {} */
.productCompareList {
  @include flex(row, flex-start, flex-start);
  align-items: stretch;
  margin: 0 -0.45rem;
  .dlColorBoxArea {
    margin: 0;
  }
  // 2차 버튼 추가 
  .buttonArea {
    width: 266px; 
    margin:0 auto; 
    margin-top: 1.1rem; 
    font-weight: 700;
  }
  // 2차 스타일 변경 
  .popularDataArea {//요금제 비교 팝업
    margin: 0 0.45rem;
    padding: 0;
    border: none; 
    background-color: transparent; 
    border-radius: 0;
    box-shadow: none;
    .inner {
      border: 1px solid #ccc; 
      background-color: #fff; 
      border-radius: 1.2rem;
      box-shadow: 0px 2px 6px rgba($black, 0.04), 0px 0px 1px rgba($black, 0.04);

    }
    // 2차 스타일 변경 
  }
  .dlWhiteBox {
    .dlItemFlex {
      &.borderType {
        margin-bottom: 0;
      }
    }
  }
  [class*=headColor] {
    .dlItemFlex {
      dt {
        color: $color-gray-04;
        font-weight: normal;
      }
      dd {
        color: $color-gray-06;
        font-weight: 500;
      }
      &.active {
        &:after {
          content: "";
          position: absolute;
          top: -1px;
          left: -2rem;
          right: -2rem;
          bottom: -1px;
          z-index: 0;
        }
        dt,
        dd {
          position: relative;
          z-index: 1;
          font-weight: bold;
          font-size: 1.6rem;
        }
      }
    }
  }
  .summaryColorTit {
    @include flex(row, center, center);
    position: relative;
    height: 11.6rem;
    padding: 0 3rem;
    border-radius: 1.2rem 1.2rem 0 0;
    @include font(2.2rem, bold, $white, 1.4);
    text-align: center;
    word-break: break-all;
    .btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 4rem;
      height: 4rem;
      background: image("common/btn_white_close.svg") no-repeat center;
      border: none;
      & > span {
        @include ir;
      }
    }
  }
  .headColorBlue {
    .summaryColorTit {
      background-color: $bgcolor-blue-01;
    }
    .dlItemFlex {
      &.active {
        &:after {
          border: 1px solid $bgcolor-blue-01;
          background-color: rgba($bgcolor-blue-01, 0.1);
        }
      }
    }
  }
  .headColorGreen {
    .summaryColorTit {
      background-color: $primary;
    }
    .dlItemFlex {
      &.active {
        &:after {
          border: 1px solid $primary;
          background-color: rgba($primary, 0.1);
        }
      }
    }
  }
  .headColorPurple {
    .summaryColorTit {
      background-color: $bgcolor-purple-01;
    }
    .dlItemFlex {
      &.active {
        &:after {
          border: 1px solid $bgcolor-purple-01;
          background-color: rgba($bgcolor-purple-01, 0.1);
        }
      }
    }
  }
}
// 유의 사항
.dlColorBoxBottom {
  border-top: 1px solid $border-color-02;
  margin: 0 2rem 2rem;
  .bottomTitle {
    @include flex(row, flex-start, center);
    height: 5.2rem;
    padding: 1rem 0;
    @include font(1.6rem, normal, $color-gray-04, 1.4);
  }
  .bottomContent {
    @include flex(row, flex-start, center);
    height: 5.3rem;
    padding: 1.6rem;
    background-color: $bgcolor-gray-03;
    @include font(1.3rem, normal, $color-gray-06, 1.4);
  }
}

/* 요금제 비교 */
.productPlanCompare {
  .productListContainer {
    padding-top: 3.2rem;
  }
  .popularDataList {
    margin: -1rem;
  }
  .fixedFooterContainer {
    .checkbox {
      .imgWrap {
        display: block;
        max-width: 6rem;
      }
    }
  }
  .fixedFooterArea {
    align-items: flex-end;
  }
}

/* 부가서비스 */
.productExtra {
  .contentArea {
    padding: 0;
    padding-top: 7rem;
  }
  .accordionContainer {
    &.borderType {
      .accordionArea {
        background-color: $white;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04),0px 0px 1px rgba(0, 0, 0, 0.04);
        border-radius: 1.2rem;
      }
      .accordionTitle {
        padding: 2.2rem 3rem;
        background: image("common/arrow_line_down.svg") no-repeat right 3rem center;
      }
    }
    .accordionContent {
      padding: 0;
      color: $color-gray-06;
      .inner {
        @include flex(row, flex-start, center);
        margin: 0 3rem 3rem;
        font-size: 2rem;
        background-color: $bgcolor-gray-07;
        .right {
          padding: 4rem;
          line-height: 3rem;
        }
      }
    }
  }
  .accordionArea {
    & > h1, & > h2, & > h3, & > h4 , & > h5 {
      padding: 1.6rem 0 1.6rem 2rem;
      border-bottom: 1px solid $border-color-02;
      @include font(1.6rem, 700, $black, 2.3rem);
    }
    &.active {
      .accordionTitle {
        background: image("common/arrow_line_up.svg") no-repeat right 3rem
          center !important;
      }
    }
  }
  .popularSwiper {//부가서비스 슬라이드
    padding-bottom: 3.6rem;
    .summaryTitleArea {
      > p {
        height: 5.2rem;
        @include multi-text-hidden(hidden, 2);
      }
    }
    .summaryBigTitle {
      .title {
        width: 100%;
        @include flex(row, flex-start, center);
        > span {
          display: inline-block;
        }
        .type {
          flex-shrink: 0;
          margin-left: 1rem;
          padding: 3px 8px;
          border: 1px solid $black;
          border-radius: 1.4rem;
          @include font(1.2rem, 500, $black, 1.7rem);
          &.streamingType {
            border: 1px solid $color-red-02;
            color: $color-red-02;
          }
          &.callType {
            border: 1px solid $color-cyan-05;
            color: $color-cyan-05;
          }
        }
      }
    }
  }
  .usageItem {
    dd {
      margin-left: auto;
    }
  }
  // 중간 광고영역
  .middleBackgroundArea {
    position: relative;
    @include flex(row, center, center);
    align-items: stretch;
    .textArea {
      .title {
        margin-bottom: 0.9rem;
        @include font(2.8rem, 700, $black, 4rem);
      }
      .desc {
        @include font(1.6rem, 400, $black, 2.3rem);
      }
    }
    .iconArrow {
      order: 3;
      width: 2.8rem;
      height: 2.8rem;
      background: image("common/next_black_ic.svg") no-repeat center;
    }
    
    .box {
      @include flex(row, space-between, center);
      &.left,  &.right {
        @include flex(row, flex-start, center);
        width: 50%;
        padding: 0 2rem 0 5rem;
        &:after {
          content: '';
          display: block;
          width: 40rem;
          height: 20rem;
        }

      }
      &.left {
        background-color: #5DADE7;
        &:after {
          background: image("product/extra_bg_02.png") no-repeat right bottom / 100% auto;
        }
        &:before {
          content: '';
          display: block;
          width: calc(100% - 69rem);
        }
        .iconArrow {
          margin-left: auto;
        }
      }

      &.right {
        background-color: #FFE8A3;
        &:after {
          background: image("product/extra_bg_03.png") no-repeat right bottom / 100% auto;
        }
        .title {
          color: $color-yellow-03;
        }
        .desc {
          color: $color-yellow-03;
        }
      }

      &:only-child {
        width: 100%;
        max-width: 147.6rem;
        padding: 0 2rem;
        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 100%;
          background-color: #5DADE7;
        }
        &:after {
          margin-left: auto;
        }
        .iconArrow {
          margin-left: 0;
        }
        &:after,
        .textArea,
        .desc,
        .iconArrow {
          position: relative;
          z-index: 1;
        }
      }
    }
  }
  //검색
  .filterContainer {
    margin-bottom: 0;
    padding-bottom: 9.9rem;
    border-bottom: none;
    .sortingBar {
      &:after {
        right: 0;
      }
    }
  }
  .sortingBar {
    .fieldCheckbox {
      max-width: 100%;
      margin: 0;
      overflow-x: visible;
      &.btnStyle {
        width: 100%;
        margin: -0.35rem;
        flex-wrap: wrap;
        .checkbox {
          margin: 0.35rem;
        }
      }
    }
  }
  .boardContainer {
    .extraTop {
      font-size: 1.4rem;
      .nonBold {
        font-weight: 400;
      }
    }
  }
}
.noneActive {
  cursor: default;
}
.labelContainer {
  margin: -0.5rem;
  .labels {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
  }
  span {
    @include flex(row, center, center);
    min-height: 3.3rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid $border-color-02;
    background-color: $white;
    @include font(1.4rem, normal, $color-gray-04, 1.4);
    letter-spacing: 0.5px;
  }
}

/* 로밍 서비스 */
.productExtraLoaming, 
.productCombination {
  .contentInner {
    padding-bottom: 6.3rem;
  }
  .popularDataArea {//로밍 서비스 - 안내형
    @include flex(row, flex-start, center);
    margin-bottom: 1rem;
    padding: 3rem 3rem 3.5rem;
    .moType {
      display: none;
    }
  }
  .dataTextWrap {
    flex: 1;
    .summaryTitleArea {
      margin-bottom: 2.2rem;
      font-size: 1.6rem;
    }
    .summaryBigTitle {
      margin-top: 1rem;
      margin-bottom: 1.2rem;
    }
    .pcBlock {
      display: block;
    }
    .typeCaution {
      .fieldArea {
        padding: 2rem;
        background-color: $bgcolor-gray-03;
      }
      .fieldValue {
        margin-bottom: 0;
        line-height: 1.75;
      }
    }
  }
  .dataImgWrap {
    align-self: flex-start;
    margin-right: 3rem;
    border-radius: 0.4rem;
    > img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .foreignCautionWrap {
    @include font(1.4rem, normal, $color-gray-04, 1.45);
    dl {
      margin-bottom: 2.6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    dt {
      margin-bottom: 0.6rem;
      @include font(1.6rem, bold, $color-gray-06, 1.45);
    }
  }
  .boardContainer {
    padding-bottom: 0;
  }
}
.myLineWrap {
  margin-bottom: 2.2rem;
  .myLineTitle {
    margin-bottom: 0.8rem;
    @include font(1.4rem, bold, $black, 1.4);
  }
  .buttonArea {
    margin-top: 1.7rem;
  }
}

/* 인기 부가서비스 상세 */
/* 부가서비스 상세 */
.popularExtraDetail,
.extraLoamingDetail {
  .colorLabel {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    right: 0;
    height: 2.3rem;
    margin-left: 1rem;
    padding: 0 0.7rem;
    background-color: $primary;
    border-radius: 0.3rem;
    @include font(1.3rem, normal, $white);
  }
  .type {
    flex-shrink: 0;
    max-height: 2.6rem;
    padding: 3px 8px;
    border: 1px solid $black;
    border-radius: 1.4rem;
    @include font(1.2rem, 500, $black, 1.6);
    &.streamingType {
      border: 1px solid $color-red-02;
      color: $color-red-02;
    }
    &.callType {
      border: 1px solid $color-cyan-05;
      color: $color-cyan-05;
    }
    &.typeData {
      border-color: $color-category-01;
      color: $color-category-01;
    }
  }
  .summaryTitleArea {
    position: relative;
  }
  .summaryBigTitle {
    @include font(2rem, bold, $color-gray-06, 1.4);
    .titleCompany {
      display: block;
      margin-bottom: 0.8rem;
      @include font(1.4rem, bold, $secondary, 1.4);
    }
    .title {
      display: inline-flex;
      flex-wrap: wrap;
      > span {
        &:first-child {
          margin-right: 1rem;
        }
      }
    }
  }
  //xlsx dev
  .textWrap {
    display: block;
    padding: 2rem;
    background-color: $bgcolor-gray-03;
    border-radius: 1rem;
    word-break: break-all;
    @include font(1.2rem, 400, $color-gray-04, normal);
    > p {
      padding-top: 2rem;
      &:first-child {
        padding-top: 0;
      }
    }
    > span {
      @include font(1.6rem, 400, $color-gray-04, normal);
    }
  }
  .textArea {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $bgcolor-gray-08;
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  .titleArea {
    margin-bottom: 1rem;
  }
  .typeList {
    @include font(1.2rem, 400, $color-gray-04, 2.45rem);
    li {
      margin-bottom: 2.5rem;
      > * {
        display: block;
      }
      &:last-child, &:only-child {
        margin-bottom: 0;
      }
    }
    .title {
      position: relative;
      padding-left: 2rem;
      font-weight: bold;
      color: $color-gray-06;
      &::before {
        content: '';
        position: absolute;
        z-index: 0;
        top: 11px;
        left: 8px;
        width: 0.3rem;
        height: 0.3rem;
        background-color: $color-gray-04;
        border-radius: 50%;
        transform: skew(-0.03deg);
      }
    }
    .subTitle {
      font-weight: 500;
    }
  }
}

@media (#{$pc-middle}) {
  // 부가서비스 .productExtra {}
  // 로밍 서비스
  .productExtraLoaming {
    .contentArea {
      padding: 8.5rem 0 0;
    }
  }

  /* 요금제 리스트 */
  .productPlanList  {
    .popularProductTitle {
      width: calc(100% - 22rem);
    }
    .productListContainer {
      .popularDataArea {//목록 responsive size
        width: calc(33.33% - 2rem);
      }
    }
  }

  /* 요금제 비교 .productPlanCompare */
  .popularDataList {
    .checkBoxItem {
      width: calc(33.33% - 2rem);
    }
  }

  /*요금제 상세*/
  .productPlanDetail {
    .productPlanDetailList {
      margin: 0;
    }
    .centerContainer {
      .imgWrap {
        width: 15.6rem;
      }
      .centerRight {
        width: 100%;
        padding: 0 2rem;
      }
      .centerLeft {
        margin-right: auto;
      }
      .centerArea {
        padding: 3% 1%;
      }
    }
  }
}

@media (#{$pc-small}) {
  /* 요금제 리스트 */
  .productPlanList  {
    .productListContainer {
      .popularDataArea {//목록 responsive size
        width: calc(50% - 2rem);
      }
    }
  }
  /* 요금제 비교 .productPlanCompare */
  .popularDataList {
    .checkBoxItem {
      width: calc(50% - 2rem);
    }
  }
}

@media (#{$tablet}) {

  .popularSwiper {
    overflow: hidden;
  }
  // boardContainer
  [class*=productExtra] {
    .boardContainer {
      padding-bottom: 7rem;
      margin: 0;
    }
  }
  .extraContainer {
    .extraTop {
      flex-direction: column;
      margin-bottom: 0;
      font-size: 2rem;
      .buttonArea {
        order: -1;
        width: 100%;
        padding: 2rem;
        background-color: $white;
        border-bottom: 2rem solid $bgcolor-gray-05;
      }
      .title {
        width: 100%;
        padding: 1rem 2rem 2rem;
        &:focus-visible {
          outline: 2px solid $black;
        }
      }
    }
    .extraTitle {
      .title {
        flex-wrap: wrap;
        padding: 2rem;
        padding-right: 0;
        font-size: 1.4rem;
      }
    }
    .extraContent {
      font-size: 1.4rem;
      .textHead {
        min-width: 0;
      }
      .textWrap {
        font-size: 1.4rem;
      }
    }
  }
  // 하단 고정 푸터
  .fixedFooterContainer {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 1.2rem 1.2rem 0 0;
    background-color: $white;
  }
  .fixedFooterArea {
    display: block;
    .moType {
      display: block;
    }
    
    .buttonArea {
      // margin: 0;
      margin-top: 2rem;
      .btn {
        min-width: auto;
        width: 100%;
        &:only-child {//ie11
          max-width: 100%;
        }
      }
    }
    .priceArea {
      @include font(1.6rem, 700, $color-gray-06, 1.9rem);
    }
    .descArea {
      @include flex(row, space-between, flex-end);
      width: 100%;
      max-width: 100%;//ie11
    }
    .title {
      margin-bottom: 0.5rem;
      @include font(1.2rem, 700, $secondary, 1.7rem);
    }
    .normalTitle {
      font-size: 1.2rem;
    }
    .comment {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .sideArea {
      margin-top: 1rem;
    }
    .left {
      .desc {
        @include font(1.6rem, 700, $color-gray-06, 1.8rem);
      }
    }

    .right {
      .desc {
        @include font(1.2rem, 700, $color-gray-06, 1.9rem);
      }
      .priceArea {
        margin-right: 0.3rem;
        margin-bottom: 0;
      }
    }
  }
  .fixedFootBottom {
    font-size: 1.2rem;
  }
  
  // 목록 - 슬라이드 
  .productSummaryContainer {
    .popularDataArea {//목록 - 슬라이드 responsive font
      .dlItemFlex {
        min-height: 4.9rem;
        dt {
          font-size: 1.3rem;
        }
        dd {
          font-size: 1.4rem;
        }
      }
      .usageItem {
        dt {
          font-size: 1.4rem;
        }
        dd {
          font-size: 2.4rem;
        }
      }
    }
    .summaryTitleArea {
      font-size: 1.4rem;
      .summaryBigTitle {
        font-size: 2.2rem;
      }
    }
    .dlColorBoxArea {
      margin-bottom: 2rem;
      .dlGrayBox {
        padding: 1rem 0;
      }
    }
  }
  .popularSwiper {
    .popularBtnWrap {
      [class*=popularBtn] {
        &:focus {
          outline: none;
        }
      }
    }
    .usageItem {
      .linkUnderline {
        font-size: 1.4rem;
      }
    }
  }

  // 공통
  .popularDataArea {//기본값 responsive tablet
    .summaryTitleArea {
      margin-bottom: 2.3rem;
      font-size: 1.4rem;
      .summaryBigTitle {
        margin-bottom: 1.2rem;
        font-size: 2rem;
      }
    }
    .summaryColorTit {
      @include flex(column, flex-start, flex-start);
      height: auto;
      padding: 0;
      @include font(1.4rem, bold, $black, 1.4);
      text-align: left;
      > p {
        width: 100%;
        min-height: 5.2rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid $border-color-02;
      }
      .btn {
        position: static;
        width: 100%;
        height: 2.8rem;
        border: 1px solid $border-color-02;
        @include font(1.2rem, normal, $secondary);
        & > span {
          @include no-ir;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
        }
        &.using {
          letter-spacing: -1.5px;
          color: $black;
        }
      }
    }
    .dlColorBoxArea {
      margin-bottom: 2rem;
    }
    .usageItem {
      dt {
        font-size: 1.4rem;
      }
      dd {
        font-size: 2.2rem;
      }
    }
    .colorLabel {
      right: 2rem;
    }
  }
  .checkBoxItem {
    .popularDataArea {//체크박스형 responsive tablet
      padding: 2rem;
    }
  }
  
  /* 요금제 리스트 */
  .popularDataList, .productListContainer {
    .popularDataArea {//목록 responsive tablet
      height: 43rem;
      .dlColorBoxArea {
        margin-bottom: 2rem;
      }
      .dlItemFlex {
        min-height: 5.2rem;
      }
    }
  }

  /*요금제 상세*/
  .productPlanDetail {
    .contentArea {
      padding-top: 4rem;
    }
    .summaryTitleArea {
      font-size: 1.4rem;
    }
    .contentInner {
      padding-bottom: 0;
    }
    .popularDataArea {//상세 responsive tablet
      .summaryBigTitle {
        font-size: 2.2rem;
      }
      .dlColorBoxArea {
        margin-bottom: 0;
      }
    }
    .contentInner {
      padding-left: 0;
      padding-right: 0;
      .usageItem {
        dt {
          font-size: 1.4rem;
        }
        dd {
          font-size: 2.4rem;
        }
        &.smaller {
          dt {
            font-size: 1.3rem;
          }
          dd {
            font-size: 1.8rem;
          }
        }
      }
    }
    .detailArea, .detailArea02 {
      width: 100%;
      margin: 0;
    }
    .detailArea01 {
      padding: 0 2rem;
    }
    .detailArea02 {
      margin-top: 4.8rem;
      .summaryInner {
        padding: 3rem 2rem;
        border: none;
        border-radius: 0;
      }
    }
    .detailInfoArea {
      .detailTitle {
        .title {
          font-size: 1.4rem;
        }
      }

      .cautionArea {
        .label {
          font-size: 1.3rem;
        }
        .cautionWrap {
          > li {
            font-size: 1.3rem;
            &:before {
              margin-top: 0.8rem;
            }
          }
        }

        .label2 {
          font-size: 1.3rem;
        }
      }
    }

    .basicInfoArea {
      > li {
        font-size: 1.3rem;
      }
    }
  }
  
  /* 요금제 비교 */
  .productPlanCompare {
    .productListContainer {
      padding-top: 1.7rem;
    }
    //하단 고정
    .fixedFooterContainer {
      overflow: initial;
      max-height: initial;
      padding-top: 4rem;
      .field {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        &.active {
          .fieldForm {
            display: flex;
          }
        }
        .fieldLabel {
          @include flex(column, flex-start, flex-start);
          margin-bottom: 0;
          font-size: 1.4rem;
        }
        .fieldForm {
          @include flex(column, flex-start, flex-start);
          display: none;
          width: 100%;
          margin-top: 2rem;
        }
      }
      .checkbox, .emptyArea {
        flex: auto;
        width: 100%;
        margin-bottom: 0.6rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .checkbox {
        font-weight: bold;
      }
      .fieldToggleBtn {
        display: block;
      }
    }
  }
  
  /* popup 요금제 비교 결과 */
  .popupProductPlanCompare {
    &.popup {
      .popupContainer {
        width: 100%;
        height: 100%;
        max-height: 100%;
        border-radius: 0;
      }
      .popupMiddle {
        max-height: 100vh;
        padding: 0;
      }
      .productCompareList {
        overflow-x: auto;
        padding: 2rem 0 3rem;
        margin: 0;
      }
    }
  }
  .productCompareList {
    [class*="headColor"] {
      .dlItemFlex {
        &.active {
          background-color: transparent;
          dt, dd {
            font-size: 1.2rem;
          }
          &:after {
            display: none;
          }
        }
      }
      .dlItemFlex {
        dt, dd {
          text-align: left;
        }
      }
    }
    .headColorGreen {
      .summaryColorTit {
        background-color: transparent;
        color: $primary;
        > p {
          border-bottom-color: $primary;
        }
      }
      .dlItemFlex {
        &.active {
          dt {
            color: $primary;
          }
        }
      }
    }
    .headColorBlue {
      .summaryColorTit {
        background-color: transparent;
        color: $bgcolor-blue-01;
        > p {
          border-bottom-color: $bgcolor-blue-01;
        }
      }
      .dlItemFlex {
        &.active {
          dt {
            color: $bgcolor-blue-01;
          }
        }
      }
    }
    .headColorPurple {
      .summaryColorTit {
        background-color: transparent;
        color: $bgcolor-purple-01;
        > p {
          border-bottom-color: $bgcolor-purple-01;
        }
      }
      .dlItemFlex {
        &.active {
          dt {
            color: $bgcolor-purple-01;
          }
        }
      }
    }
    .popularDataArea {//요금제 비교 팝업 responsive tablet
      min-width: 10rem;
      &:first-child {
        margin-left: 1.6rem;
      }
      &:last-child {
        margin-right: 1.6rem;
      }
      .inner {
        border: none; 
        box-shadow: none;
        background-color: transparent; 
        border-radius: 0;
        .dlColorBoxArea {
          margin-bottom: 1rem; 
        }
      }
      .dlItemFlex {
        display: block;
        min-height: initial;
        height: auto;
        margin: 0;
        padding: 1rem 0;
        &:last-child {
          padding: 1rem 0;
        }
        dt {
          font-size: 1.2rem;
        }
        dd {
          font-size: 1.3rem;
        }
      }
    }
    .buttonArea {
      width: 100%; 
      .btn {
        height: 3.7rem; 
        font-size: 1.6rem; 
      }
    }
  }
  // 유의 사항
  .dlColorBoxBottom {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid $border-color-02;
    .bottomTitle {
      height: auto;
      padding: 0;
      font-size: 1.2rem;
    }
    .bottomContent {
      height: auto;
      padding: 0;
      background-color: transparent;
      font-size: 1.3rem;
    }
  }

  /* 부가서비스 */
  .productExtra {
    .accordionContainer {
      &.borderType {
        .accordionTitle {
          > p {
            > span {
              display: block;
            }
          }
          font-size: 1.4rem;
        }
      }
      .accordionContent {
        .inner {
          display: block;
          .left {
            width: 100%;
            > img {
              width: 100%;
            }
          }
          .right {
            padding: 2rem;
            font-size: 1.6rem;
            line-height: 2.3rem;
            word-break: break-word;
            word-wrap: break-word;
            br {
              display: none;
            }
          }
        }
      }
    }
    // 검색 뱃지
    .sortingBar {
      .fieldCheckbox {
        &.btnStyle {
          .checkbox {
            width: calc(25% - 0.5rem);
            min-width: 75px;
            margin-left: 0;
          }
        }
      }
    }
    //중간 광고 영역
    .middleBackgroundArea {
      display: block;
      width: 100%;
      .iconArrow {
        display: none;
      }
      .box {
        .title {
          font-size: 2rem;
          margin-bottom: 0;
        }
        .desc {
          font-size: 1.3rem;
        }
        &.left, &.right {
          width: 100%;
          padding: 0 2rem;
          &:after {
            margin-left: auto;
            width: 23rem;
            height: 14.4rem;
          }
        }
        &.left {
          &:after {
            background-image: image('product/extra_bg_02_mo.png');
          }
          &:before {
            display: none;
          }
        }
        &.right {
          &:after {
            background-image: image('product/extra_bg_03_mo.png');
            background-position: right bottom -8px;
          }
        }
      }
    }
  }
  
  /* 로밍 서비스 */
  .productExtraLoaming,
  .productCombination {
    .popularDataArea {//로밍 서비스 - 안내형 responsive tablet
      @include flex(column, flex-start, stretch);
      margin-bottom: 2rem;
    }
    .dataTextWrap {
      flex: auto;
    }
  }

  /* 요금제 상세 > 요금제 변경 팝업 */
  .popupProductPlanChange {
    .planChangeContent {
      max-height: calc(100vh - 5rem);
      padding-bottom: 25rem;
    }
    .fixedFooterArea {
      display: block;
      .left {
        .desc {
          font-size: 1.6rem;
        }
      }
      .right {
        .desc {
          font-size: 1.2rem;
        }
        .priceArea {
          margin-right: 0;
          font-size: 1.6rem;
        }
      }
      .descArea {
        width: 100%;
        margin-right: 0;
      }
      .buttonArea {
        margin-top: 2rem;
      }
    }
  }

  
  // 선불요금제 안내사항
  .planNoticeArea {
    &.fullWidth {
      padding: 0 2rem;
    }
    .normalTitle {
      margin-bottom: 2rem;
      font-size: 1.4rem;
    }
  }
}

@media (#{$foldMax}) {
  /* 리스트 - 요금제 > 목록/상세  공통 */ 
  .popularDataList, .productListContainer {
    .popularDataArea {//목록/상세 responsive foldMax
      height: auto;
      .summaryTitleArea {
        min-height: initial;
      }
    }
  }
  .productListContainer {
    padding-top: 3rem;
  }
  .popularDataList {
    .checkBoxItem {
      width: calc(100%);
      margin: 1rem 0;
    }
  }

  // 목록 - 슬라이드
  .productSummaryContainer {
    padding: 4rem 2rem;
    .popularDataArea {//목록 - 슬라이드 responsive foldMax
      padding: 2rem 2rem 3rem;
    }
    .popularBtnWrap {
      margin-top: 2.5rem;
    }
  }
  .popularProductTitle {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    .colorLabel {
      width: 5.2rem;
      height: 2rem;
      margin-right: 0.8rem;
      padding: 0 0.7rem;
      font-size: 1.3rem;
      &:after {
        margin-left: 0.5rem;
      }
    }
  }
  
  /* 요금제 리스트 */
  .productPlanList {
    .contentArea {
      padding-top: 0;
    }
    .popularDataList {
      margin: -0.7rem 0;
      .popularDataArea {//목록 responsive foldMax
        width: 100%;
        height: auto;
        padding: 3rem 2rem;
        margin: 0.7rem 0;
      }
    }
    .popularProductTitle {
      width: 100%;
      margin-bottom: 2.4rem;
    }
  }
  
  /* 요금제 비교 */
  .productPlanCompare {
    .popularDataList {
      margin: -1rem 0;
    }
  }
  
  // boardContainer
  [class*=productExtra],
  .productCombination,
  .newExtraApply {
    .contentInner {
      padding: 0;
    }
  }
  .extraContainer {
    .extraTop  {
      .title {
        padding: 1rem 2rem;
      }
    }
    .extraTitle {
      border-bottom: none;
      .titleHead {
        width: 100%;
        .top {
          font-size: 1.2rem;
        }
        .middle {
          font-size: 1.8rem;
          .desc {
            margin-right: 0.6rem;
          }
          .sideRight {
            width: 100%;
            margin-left: 0;
            .freeType {
              margin-left: auto;
            }
          }
        }
      }
      .titleBody {
        flex: 1;
        margin-left: 0;
        font-size: 1.8rem;
      }
      .sideRight {
        justify-content: flex-start;
        margin-top: 0.5rem;
        .freeType {
          font-size: 1.8rem;
        }
      }
      .labelItem {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
      }
      .linkUnderline {
        font-size: 1.4rem;
      }
      .extraPrice {
        margin-left: auto;
      }
    }
    .detailOpenBtn, 
    .extraBtn {
      margin-top: auto;
      margin-bottom: 1rem;
    }
    .extraArea {
      border-bottom: 1px solid $bgcolor-gray-08;
    }
    .extraContent {
      padding: 0 2rem 2rem 2rem;
      .textWrap {
        > p {
          font-size: 1.4rem;
        }
        > span {
          font-size: 1.4rem;
        }
      }
    }
  }
  
  /* 부가서비스 */
  .productExtra {
    .contentArea {
      padding-top: 0;
    }
    .accordionContainer {
      .contentInner {
        padding: 0;
      }
      &.borderType {
        .accordionArea {
          border: none;
          border-radius: 0;
        }
        .accordionTitle {
          padding: 2.2rem 2rem;
        }
      }
      .accordionContent {
        .inner {
          margin: 0 2rem 2.8rem;
          font-size: 1.6rem;
          .right {
            padding: 2rem;
          }
        }
      }
    }
    //slide
    .popularSwiper {//부가서비스 슬라이드 responsive foldMax
      padding-bottom: 5.4rem;
      .popularDataArea { // 부가서비스 - 스와이퍼
        padding: 2rem 2rem 2.5rem;
      }
      .summaryTitleArea {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        > p {
          height: 4rem;
        }
      }
      .summaryBigTitle {
        margin-bottom: 1.2rem;
        font-size: 2.2rem;
      }
    }
    //검색
    .filterContainer {
      padding: 0 2rem;
    }
    .boardContainer {
      .extraTop {
        font-size: 1.4rem;
        .nonBold {
          font-weight: 400;
        }
      }
    }
  }

  /* 로밍 서비스 */
  .productExtraLoaming,
  .productCombination {
    .contentArea {
      padding: 0;
    }
    .productListContainer {
      padding-bottom: 6rem;
    }
    .popularDataArea {//로밍 서비스 - 안내형 responsive foldMax
      padding: 3rem 2rem 4rem;
      border: none;
      border-radius: 0;
      box-shadow: none;
      .pcType {
        display: none;
      }
      .moType {
        display: block;
      }
      img {
        &.moType {
          width: 100%;
          max-width: 32rem;
        }
      }
    }
    .dataTextWrap {
      .summaryTitleArea {
        font-size: 1.4rem;
        p {
          margin-top: 1rem;
        }
      }
      .summaryBigTitle {
        margin-top: 0;
        margin-bottom: 2.6rem;
        font-size: 2rem;
        .moBlock {
          display: block;
        }
      }
      .pcBlock {
        display: none;
      }
    }
    .dataImgWrap {
      margin-right: 0;
    }
    .foreignCautionWrap {
      font-size: 1.3rem;
      dl {
        margin-bottom: 3rem;
      }
      dt {
        margin-bottom: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  /* 요금제 상세 > 요금제 변경 팝업 */
  .popupProductPlanChange {
    .planChangeContent {
      padding: 0 0 25rem;
    }
    // .fixedFooterContainer {
    //   max-height: 16rem;
    // }
    .fixedFooterArea {
      .buttonArea {
        .btn {
          flex: 1;
          min-width: 0;
          max-width: calc(100% - 0.6rem);
        }
      }
    }
  }
  .planChangeTop {
    display: block;
    margin: 0;
    & > [class*=planChange] {
      width: 100%;
      margin: 0;
      padding-bottom: 3.6rem;
      border-bottom: 2rem solid $bgcolor-gray-05;
      .planInfoTitle {
        height: auto;
        padding-bottom: 1rem;
        padding: 1.6rem 2rem;
        margin-bottom: 1.6rem;
        @include font(1.3rem, bold, $black, 1.4);
        border-bottom: 1px solid $bgcolor-gray-08;
      }
      .popularDataArea {
        width: calc(100% - 4rem);
        height: auto;
        margin: 0 2rem;
        padding: 3rem 2rem;
      }
    }
    .summaryTitleArea {
      font-size: 1.4rem;
      min-height: initial;
      .summaryBigTitle {
        font-size: 2rem;
      }
    }
  }
  .planChangeBottom {
    margin: 3rem 2rem 0;
  }
  .planChangeContent {
    .planInfoTitle {
      height: auto;
      padding-bottom: 1rem;
      padding: 1.6rem 2rem;
      margin-bottom: 1.6rem;
      @include font(1.3rem, bold, $black, 1.4);
      border-bottom: 1px solid $bgcolor-gray-08;
    }
    .planInfoContent {
      margin: 0 2rem;
    }
    .typeCaution {
      .fieldLabel {
        font-size: 1.3rem;
      }
    }
  }

}

@media (#{$mobile-small}) {
  /* 부가서비스 */
  .productExtra {
    //slide
    .popularSwiper {//부가서비스 슬라이드 responsive mobile small
      .summaryBigTitle {
        .title {
          @include flex(column, flex-start, flex-start);
          .type {
            margin-top: 1rem;
            margin-left: 0;
          }
        }
      }
    }
  }

  .fixedFooterArea {
    .buttonArea {
      flex-wrap: wrap;
      margin: 1.7rem -0.3rem -0.3rem;
      .btn {
        margin: 0.3rem;
      }
    }
  }
  
  /* 요금제 상세 > 요금제 변경 팝업 */
  .popupProductPlanChange {
    .fixedFooterArea {
      .descArea {
        flex-wrap: wrap;
      }
    }
  }
}