// ------- Service ------- //

[class*=service] {
  .contentContainer {
    display: block;
    background-color: $bgcolor-gray-05;
  }
}
.serviceIntroduce {
  .contentArea {
    padding-top: 0;
    // background-color: $bgcolor-gray-03;
  }
}
.introContainer {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 39%;
    background-color: #f7f8fa;
  }
}
.customerSupportGuide {
  .introContainer {
    &:after {
      height: 38.5%;
      background-color: $bgcolor-gray-05;
    }
  }
  .videoContainer {
    background-color: $bgcolor-gray-05;
  }
}
.videoContainer {
  background-color: $bgcolor-gray-03;
  + .introduceContainer {
    background-color: $bgcolor-gray-05;
  }
}
/* videosub */
.videosubArea {
  @include flex(column, flex-start, flex-start);
  background-color: $white;
  border: 1px solid $black;
  border-radius: 0 0 0.4rem 0.4rem;
  &.active {
    .videosubBtn {
      &:after {
        content:"";
        background: image('common/arrow_toggle_up.svg') no-repeat center;
      }
    }
    .videosubContent {
      display: block;
      height: auto;
    }
  }
  .videosubTitle,
  .videosubContent {
    width: 100%;
  }
  .videosubContent {
    order: -1;
  }
}
.videosubTitle {
  position: relative;
  .videosubBtn {
    @include flex(row, center, center);
    width: 100%;
    padding: 2.2rem 2.4rem 2.2rem;
    @include font(1.6rem, bold, $black, 1.4);
    &:after {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      background: image('common/arrow_toggle_down.svg') no-repeat center;
    }
  }
}
.videosubContent {
  display: none;
  overflow: hidden;
  height: 0;
  padding: 3rem;
  background-color: $white;
  @include font(1.6rem, normal, $color-gray-06, 1.4);
  word-break: break-word;
  word-wrap: break-word;
}

.serviceFriends {
  .contentArea {
    padding: 7.7rem 0 18.3rem 0;
  }
}
.serviceCorporation {
  .contentArea {
    padding: 14rem 0 0 0;
  }
  .serviceTitleArea {
    margin-bottom: 10rem;
    padding-top: 0;
    .pcBlock {
      display: block;
    }
  }
}

/* Service Introduce */
.introduceContainer {
  padding: 14rem 2rem 23rem;
  background-color: $bgcolor-gray-03;
  
  .contentArea {
    padding: 0;
    background-color: transparent
  }
  .linkArea {
    @include flex(row, center, center);
    margin: 3rem -0.3rem 0;
    .link {
      @include flex(row, center, center);
      flex: 1;
      min-width: 15rem;
      height: 5.7rem;
      margin: 0 0.3rem;
      padding: 0 1rem;
      border-radius: 0.4rem;
      @include font(1.6rem, 500, $white);
      background-color: $primary;
    }
  }
  .titleArea {
    margin-bottom: 11rem;
  }
  .titleBox {
    @include flex (column, flex-start, flex-start);
    span {
      position: relative;
      @include font (2.4rem, 400, $black, 3.5rem);
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 6%;
        width: 100%;
        height: 0.2rem;
        background-color: $black;
      }
    }
  }
}
.contentWrap {
  @include flex (row, space-between, flex-start);
  .contentBox {
    @include flex (column, flex-start, center);
    width: calc((100% - 10rem) / 3); // not sure
    .underline {
      @include font (1.4rem, 700, $primary, 2rem);
      text-decoration-line: underline;
    }
  }
  .iconBox {
    position: relative;
    width: 24rem;
    height: 24rem;
    border-radius: 11rem;
    background-color: $white;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.bannerArea {
  overflow: hidden;
  position: relative;
  height: 26.7rem;
  padding: 7.5rem 0 0 7.1rem;
  border-radius: 1.2rem;
  background: image('service/banner.png') no-repeat center/cover;
  .headingBox {
    span {
      display: block;
      @include font (2.4rem, 400, $color-gray-06, 3.5rem);
    }
  }
  a {
    display: inline-block;
    margin-top: 3rem;
    @include font (1.4rem, 400, $color-gray-06, 2rem);
    text-decoration-line: underline;
  }
  .qrBox {
    overflow: hidden;
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    width: 9.6rem;
    border-radius: 5px;
    border: 1px solid $bgcolor-gray-08;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.descBox {
  margin-top: 5rem;
  text-align: center;
  .label {
    margin-bottom: 1rem;
    @include font (1.6rem, 700, $color-gray-06, 2.3rem);
  }
  .text {
    margin-top: 1rem;
    @include font (1.4rem, 400, $color-gray-04, 2rem);
  }
}

/* Service Friends */
.friendsList {
  @include flex (row, flex-start, flex-start);
  flex-wrap: wrap;
  align-items: stretch;
  margin: -1rem;
  .list {
    overflow: hidden;
    width: calc(20% - 2rem);
    margin: 1rem;
    padding: 3.8rem 2rem 3rem;
    border-radius: 1.2rem;
    background-color: $white;
    .listBox {
      @include flex (column, flex-start, center);
      height: 100%;
      .name {
        margin-bottom: 1rem;
        @include font (1.6rem, 700, $black, 1);
      }
      .imgBox {
        img {
          display: block;
          width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }
  .underline {
    margin-top: 2rem;
    @include font (1.4rem, 700, $primary, 2rem);
    text-decoration-line: underline;
  }
}
.selfGuideIconsArea {
  @include flex (row, flex-end, center);
  margin-bottom: 3rem;
  .selfGuideIconBox {
    @include flex (row, center, center);
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .selfGuideText {
    @include font (1.6rem, 700, $color-gray-04, 1.3);
    text-align: center;
  }
  .selfIcon {
    &MyR,
    &Biz {
      width: 6.2rem;
      height: 6.2rem;
      margin-right: 1.2rem;
      border-radius: 6.2rem;
      background-color: $white;
    }
  }
  .selfIconMyR {
    &::before {
      background: image('service/icon_intersect_myr.png') no-repeat center / 4.2rem;
    }
  }
}
.selfOpenBox {
  position: absolute;
  @include flex (row, flex-start, flex-start);
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 1.2rem;
  .selfIconMyR {
    width: 7.5rem;
    height: 7.5rem;
    margin: -1.5rem 0 0 -1.5rem;
    &::before {
      background: image('service/icon_intersect_myr_bg.png') no-repeat center / cover;
    }
  }
  .selfIconBiz {
    padding: 0 0.8rem;
    margin-left: auto;
  }
}
/* 바로유심 가입 마이알뜰폰/사업자 구분 아이콘 */
.selfIcon {
  &MyR,
  &Biz {
    overflow: hidden;
    position: relative;
    @include flex (row, center, center);
    .irText {
      position: absolute;
      @include flex (row, center, center);
      top: 0;
      left: 0;
      z-index: -1;
      font-size: 6px;
    }
  }
  &MyR {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &Biz {
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid $primary;
    background-color: $white;
    @include font (1.4rem, 500, $primary, 1);
  }
}
/* Service Corporation */
.historyArea {
  .headingBox {
    @include font (3rem, 400, $black, 4.4rem);
  }
  .historyBox {
    @include flex (row, space-between, flex-start);
    width: 100%;
    margin-top: 6rem;
    .left{
      width: calc(50% - 2rem);
    }
    .right{
      width: calc(50% - 2rem);
    }
    .itemBox {
      @include flex (row, flex-start, flex-start);
      position: relative;
      .num {
        position: relative;
        width: 20%;
        padding:  1.6rem 0;
        border-top: 0.2rem solid $primary;
        span {
          padding-left: 0.2rem;
          @include font (1.8rem, 700, $primary, 2.1rem);
        }
      }
      .text {
        width: 80%;
        padding: 1.6rem 0;
        border-top: 0.2rem solid $border-color-02;
        span {
          padding-left: 0.2rem;
          @include font (1.6rem, 400, $color-gray-04, 2.1rem);
        }
      }
    }
  }
}
.serviceArea {
  padding: 11.5rem 0 17rem 0;
  .serviceBox {
    padding: 4rem 3rem;
    border-radius: 0.4rem;
    background-color: #e5e8eb;
    .title {
      @include font (2rem, 700, $color-gray-06, 2.9rem);
      margin-bottom: 2.4rem;
    }
    .list {
      li {
        @include flex(row, flex-start, center);
        position: relative;
        @include font (1.4rem, 400, $color-gray-04, 2rem);
        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }
        span {
          &.bullet {
            display: block;
            min-width: 0.3rem;
            height: 0.3rem;
            margin-right: 1rem;
            padding: 0;
            border-radius: 100%;
            background-color: $black;
          }
        }
      }
    }
  }
}

/* 공통 */
.serviceTitleArea {
  padding-top: 14rem;
  .titleBox {
    .title {
      @include font (3rem, 400, $black, 4.3rem);
    }
    .desc {
      margin-top: 1.8rem;
      @include font (1.6rem, 400, $color-gray-04, 2.3rem);
    }
  }
}

/* popupViewDetail */
.popupViewDetail {
  .detailArea {
    .imgBox {
      @include flex (row, center, center);
      width: 100%;
      max-width: 22.2rem;
      margin: 0 auto;
      padding-top: 2rem;
      // padding: 1.9rem 5.8rem; // not sure
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .detailBox {
      margin-top: 4rem;
      .name {
        @include font (1.6rem, 700, $black, 2.3rem)
      }
      .infoBox {
        margin-top: 0.6rem;
        padding-top: 1.5rem;
        border-top: 0.2rem solid $black;
        .icon {
          overflow: hidden;
          position: relative;
          display: block;
          width: 1.7rem;
          height: 1.7rem;
          margin-right: 0.8rem;
          .hiddenText {
            overflow: hidden;
            position: absolute;
            @include flex (row, center, center);
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            font-size: 1px;
          }
        }
        .tel, .time {
          @include flex (row, flex-start, center);
          a {
            @include font (1.6rem, 400, $color-gray-06, 1.4);
          }
          .text {
            @include font (1.6rem, 400, $color-gray-06, 1.4);
          }
        }
        .tel {
          .icon {
            background: image('service/icon_tel.svg') center no-repeat;
          }
        }
        .time {
          .icon {
            background: image('service/icon_clock.svg') center no-repeat;
          }
        }
      }
    }
  }
}

/* 바로유심 */
.serviceUsim {
  .contentArea {
    padding-top: 0;
  }
  .supportContainer {
    .supportTitle {
      background: $bgcolor-gray-03;
      .bigTitle {
        margin-right: 2rem;
      }
      .title {
        font-weight: bold;
      }
    }
    .supportContent {
      display: block;
      .textHead {
        min-width: 3.2rem;
      }
    }
  }
  .dot {
    @include flex(row, flex-start, center);
    &::before {
      content: '';
      flex-shrink: 0;
      align-self: flex-start;
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      margin: 1rem 1rem 0;
      background-color: $color-gray-04;
      border-radius: 50%;
      transform: skew(-0.03deg);
    }
  }
}
.usimVisualContent, .subVisualContent {
  position: relative;
  .usimTitle, .subVisualTitle {
    margin-bottom: 2rem;
    @include font (5rem, normal, $black, 1.4);
  }
  .usimText, .subVisualText {
    @include font (2rem, normal, $color-gray-04, 1.4);
  }
  .imgWrap {
    display: block;
    width: 100%;
  }
  .moType {
    display: none;
  }
  .usimVisualTop, .subVisualTop {
    @include flex(column, center, flex-start);
    position: absolute;
    top: 0;
    left: 12.6%;
    height: 100%;
    text-align: center;
  }
}
.usimGuideContent {
  padding-top: 12rem;
  padding-bottom: 15rem;
  background-color: $white;
  .guideTitle {
    margin-bottom: 1.8rem;
    @include font (3rem, bold, $black, 1.4);
  }
  .guideText {
    @include font (1.6rem, normal, $color-gray-04, 1.4);
  }
  .infoTitle {
    display: block;
    margin-bottom: 1.2rem;
    @include font (1.6rem, bold, $color-gray-06, 1.4);
  }
  .usimGuideTop {
    margin-bottom: 3.8rem;
  }
  .usimGuideBottom {
    @include flex(row, flex-start, center);
    align-items: stretch;
    margin: 0 -1rem;
    .guideInfo {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      flex: 1;
      padding: 4.4rem 5rem;
      margin: 0 1rem;
      background-color: $bgcolor-gray-05;
      border-radius: 1.2rem;
      @include font (1.4rem, normal, $color-gray-04, 1.4);
      &.bgImg01 {
        background: image('service/bg_usim_01.svg') no-repeat bottom right $bgcolor-gray-05;
        .infoTitle {
          margin-bottom: 4rem;
        }
      }
      &.bgImg02 {
        flex: 1;
        max-width: 56.2rem;
        padding-right: 12.9%;
        background: image('service/bg_usim_02.svg') no-repeat bottom right $bgcolor-gray-05;
        .infoTitle {
          margin-bottom: 1rem;
        }
      }
    }
    .infoConBox {
      // flex: 1;
      margin-right: 2rem;
      margin-bottom: 2.4rem;
      &:last-child {
        margin-right: 0;
      }
      &.stepBox {
        width: 35rem;
      }
    }
    .infoList {
      @include font(1.4rem, normal, $color-gray-04, 2.65rem);
      .dot {
        margin-top: 1.25rem;
        line-height: normal;
      }
      .block {
        display: block;
      }
    }
  }
  .guideVideoContainer {
    .videoBox {
      position: relative;
      width: 27.4rem;
      padding-top: 50.595%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        border: 1.7px solid rgba(255, 255, 255, 1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
    }
    .videoTextBox {
      @include font (1.4rem, normal, $color-gray-04, 1.4);
      margin-top: 1rem;
      .textBox {
        @include flex(row, flex-start, flex-start);
        margin-bottom: 0.4rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .timeline {
        display: inline-block;
        margin-right: 1rem;
      }
    }
  }
  .usimEventArea {
    position: relative;
    overflow: hidden;
    padding: 7.9rem 7.6%;
    margin-bottom: 10rem;
    background-color: $bgcolor-blue-gray-01;
    border-radius: 1.2rem;
    img {
      &.pcType {
        position: absolute;
        right: 5.3%;
        bottom: 0;
        width: 48%;
        height: auto;
      }
    }
    .eventTitle {
      @include font (2.8rem, bold, rgba($white, 0.9), 1.4);
      .pcBlock {
        display: block;
      }
    }
    .eventLink {
      display: inline-block;
      margin-top: 1.7rem;
      @include font (1.4rem, normal, rgba($white, 0.7), 1.8);
      text-decoration: underline;
    }
  }
  // 바로유심 > 편의점 아이콘
  .infoLinkWrap {
    display: block;
    [class*=mart-area] {
      width: 20.2rem;
      margin-right: 0;
      margin-bottom: 1.2rem;
      .imgBox {
        margin-right: auto;
      }
    }
  }
}
.usimFriendsContent {
  padding-top: 15rem;
  padding-bottom: 10rem;
  .guideTitle02 {
    margin-bottom: 3rem;
    @include font (2.4rem, normal, $black, 1.4);
    text-decoration: underline;
  }
  .friendsList {
    .list {
      overflow: visible;
      position: relative;
      border: 1px solid $border-color-02;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      // .selfOpen {
      //   position: absolute;
      //   top: -0.3rem;
      //   left: -0.3rem;
      //   width: 7.8rem;
      //   height: 7.9rem;
      //   background: image('service/img_intersect.svg') no-repeat center/cover;
      // }
    }
  }
}
// 바로유심 > 편의점 아이콘
.infoLinkWrap {
  @include flex(row, flex-start, center);
  .imgBox {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  & + .infoLinkWrap {
    margin-top: 1.6rem;
  }
  [class*=mart-area] {
    @include flex(row, flex-start, center);
    margin-right: 7rem;
    &:last-child {
      margin-right: 0;
    }
    .linkUnderline {
      margin-left: 1.5rem;
      white-space: nowrap;
    }
  }
  .mart-area-emart {
    .imgBox {
      width: 8.16rem;
    }
  }
  .mart-area-cu {
    .imgBox {
      width: 5.42rem;
    }
  }
}
// 유심 > 바로배송유심 구매 2단계
.marketInfoContainer {
  margin-top: 3rem;
  .marketInfoTop {
    margin-bottom: 2rem;
  }
  .marketInfoBottom {
    margin-top: 2rem;
  }
  .merketInfoTitle {
    @include font (1.6rem, bold, $black, 1.4);
  }
  .merketInfoText {
    @include font (1.6rem, normal, $color-gray-06, 1.4);
  }
  .beforeDot {
    margin-top: 0.8rem;
    font-size: 1.3rem;
    color: $color-gray-04;
  }
  .infoLinkWrap {
    justify-content: flex-end;
    .mart-area-cu {
      margin-right: 2rem;
      .imgBox {
        width: 3.9rem;
      }
    }
    .mart-area-emart {
      .imgBox {
        width: 7rem;
      }
    }
  }
}

@media (#{$pc-middle}) {
  .introContainer {
    &:after {
      height: 40.5%;
    }
  }
  .customerSupportGuide {
    .introContainer {
      &:after {
        height: 40%;
      }
    }
  }
}

@media (#{$pc-small}) {
  .friendsList {
    .list {
      width: calc(25% - 2rem);
    }
  }
}

@media (#{$tablet}) {
  .serviceIntroduce {
    .videoWrap {
      margin-bottom: 0;
    }
  }
  .contentWrap {
    @include flex (column, flex-start, center);
    .contentBox {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 6rem;
      }
      .underline {
        font-size: 1.3rem;
      }
    }
    .iconBox {
      width: 18rem;
      height: 18rem;
      // border-radius: 8.1rem;
      border-radius: 50%;
      img {
        width: 7.2rem;
      }
    }
  }
  .introduceContainer {
    padding: 8rem 0;
    .titleBox {
      span {
        font-size: 2rem;
      }
    }
  }

  .descBox {
    margin-top: 3rem;
    .label {
      @include font (1.6rem, 700, $color-gray-06, 2.3rem);
    }
    .text {
      margin-top: 0.8rem;
      @include font (1.3rem, 400, $color-gray-04, 1.9rem);
    }
  }
  .friendsList {
    .list {
      width: calc(33.3% - 2rem);
    }
  }
  .selfGuideIconsArea {
    .selfGuideIconBox {
      @include flex (column, center, center);
      flex: 1;
    }
    .selfGuideText {
      font-size: 1.3rem;
    }
    .selfIcon {
      &MyR,
      &Biz {
        margin-right: 0;
        margin-bottom: 0.4rem;
      }
    }
    .selfIconMyR {
      width: 5.8rem;
      height: 5.8rem;
      &::before {
        background-size: 4rem;
      }
    }
  }
  .selfOpenBox {
    padding: 0.8rem;
    .selfIconMyR {
      width: 5rem;
      height: 5rem;
      margin: -1.1rem 0 0 -1.1rem;
    }
    .selfIconBiz {
      padding: 0 0.6rem;
    }
  }
  /* 바로유심 가입 마이알뜰폰/사업자 구분 아이콘 */
  .selfIcon {
    &MyR {
      .irText {
        line-height: 4rem;
      }
    }
    &Biz {
      font-size: 1rem;
    }
  }

  /* 바로유심 */
  .serviceUsim {
    .boardContainer {
      .supportContainer {
        .supportTitle {
          min-height: 6.5rem;
          padding: 2.2rem 4rem 2.2rem 5.8rem;
        }
        .supportTop {
          .title {
            padding: 4rem 2rem 2.5rem;
          }
        }
        .supportContent {
          min-height: 8.7rem;
          padding: 2.4rem 2rem;
          .textHead {
            margin-right: 0.6rem;
          }
          .textBody {
            max-width: none;
          }
        }
      }
    }
  }
  .usimVisualContent, .subVisualContent {
    .usimVisualTop, .subVisualTop {
      left: 6%;
    }
    .usimTitle, .subVisualTitle {
      margin-bottom: 2rem;
      font-size: 4rem;
    }
    .usimText, .subVisualText {
      font-size: 1.6rem;
    }
  }
  .usimGuideContent {
    .usimGuideBottom {
      display: block;
      margin: 0;
      .guideInfo {
        width: 100%;
        margin: 0 0 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        &.bgImg01 {
          .infoTitle {
            margin-bottom: 1rem;
          }
        }
        &.bgImg02 {
          max-width: 100%;
          padding-right: 33%;
        }
      }
      .infoConBox {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2.4rem;
        &:last-child {
          margin-bottom: 0;
        }
        &.stepBox {
          width: 100%;
        }
      }
      .infoList {
        font-size: 1.3rem;
        .block {
          display: inline;
        }
      }
    }
    .usimEventArea {
      padding: 3.2rem;
      img {
        &.pcType {
          width: 40%;
        }
      }
    }
    .infoLinkWrap {
      display: flex;
      [class*=mart-area] {
        width: auto;
        margin-right: 1.6rem;
        margin-bottom: 0;
        &:last-child {
          margin-right: 0;
        }

        .imgBox {
          margin-right: 0;
        }
      }
    }
    .guideVideoContainer {
      .videoBox {
        width: 100%;
      }
      .videoTextBox {
        font-size: 1.3rem;
      }
    }
  }

}

@media (#{$foldMax}) {
  .introContainer {
    &:after {
      height: 42.5%;
    }
  }
  .customerSupportGuide {
    .introContainer {
      &:after {
        height: 42.5%;
      }
    }
  }
  .introduceContainer {
    .titleArea {
      margin-bottom: 5.6rem;
    }
  }
  .videosubTitle {
    .videosubBtn {
      padding: 1.2rem;
      font-size: 1.3rem;
    }
  }
  .videosubContent {
    font-size: 1.3rem;
  }
  .serviceCorporation {
    .contentArea {
      padding: 4rem 0 0 0;
    }
    .serviceTitleArea {
      margin-bottom: 4rem;
      .pcBlock {
        display: inline;
      }
    }
    .videoContainer {
      .videoWrap {
        margin-bottom: 0;
      }
    }
  }
  .serviceArea {
    padding: 6rem 0 7rem 0;
  }

  /* Service Introduce */
  .bannerArea {
    height: 33rem;
    padding: 2.6rem 0 0 2.2rem;
    background-image: image('service/banner_mo.png');
    .headingBox {
      span {
        @include font (2rem, 400, $color-gray-06, 2.9rem);
      }
    }
    a {
      margin-top: 2rem;
      @include font (1.4rem, 400, $color-gray-06, 1.6rem);
    }
    .qrBox { // temp
      bottom: 2.4rem;
      left: 2rem;
      width: 11rem;
    }
  }
  
  /* Service Friends */
  .friendsList {
    margin: -0.5rem;
    .list {
      width: calc(50% - 1rem);
      margin: 0.5rem;
      padding: 2.6rem 1.6rem 2rem;
      .listBox {
        .name {
          margin-bottom: 1rem;
          @include font (1.4rem, 700, $black, 2rem);
        }
      }
    }
    .underline {
      margin-top: 1rem;
      font-size: 1.3rem;
    }
  }

  /* Service Corporation */
  .historyArea {
    padding-top: 0;
    .headingBox {
      @include font (2rem, 400, $black, 2.9rem);
    }
    .historyBox {
      @include flex (column, flex-start,flex-start);
      margin-top: 4rem;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
      }
      .itemBox {
        // height: 5rem;
        .num {
          span {
            @include font(1.6rem, 700, $primary, 1.9rem);
          }
        }
        .text {
          span {
            @include font(1.4rem, 400, $color-gray-04, 1.9rem);
          }
        }
      }
    }
  }
  
  /* 바로유심 */
  .serviceUsim {
    .contentArea {
      padding-bottom: 0;
    }
  }
  .usimVisualContent, .subVisualContent {
    .moType {
      display: block;
    }
    .pcType {
      display: none;
    }
    .usimVisualTop, .subVisualTop {
      align-items: center;
      justify-content: flex-start;
      left: 0;
      width: 100%;
      padding-top: 4rem;
    }
    .usimTitle, .subVisualTitle {
      font-size: 2.8rem;
      .bold {
        font-size: 3rem;
      }
    }
    .block {
      display: block;
    }
  }
  .usimGuideContent {
    padding-top: 5rem;
    padding-bottom: 5.6rem;
    .guideTitle {
      margin-bottom: 1.2rem;
      font-size: 2rem;
    }
    .guideText {
      font-size: 1.4rem;
    }
    .usimGuideTop {
      margin-bottom: 3rem;
    }
    .usimGuideBottom {
      .guideInfo {
        padding: 3rem 2.4rem;
        &[class*=bgImg0] {
          border-radius: 0.4rem;
          background-image: none;
        }
        &.bgImg01 {
          .infoTitle {
            margin-bottom: 1.2rem;
            font-size: 1.4rem;
          }
        }
        &.bgImg02 {
          padding-right: 2.4rem;
        }
      }
    }
    .usimEventArea {
      padding: 3.2rem 2rem 0;
      margin-bottom: 5rem;
      text-align: center;
      img {
        &.pcType {
          display: none;
        }
        &.moType {
          display: block;
          width: 100%;
          height: auto;
          margin-top: -1.2rem;
        }
      }
      .block {
        display: block;
      }
      .eventTitle {
        font-size: 2rem;
      }
      .eventLink {
        margin-top: 1.2rem;
      }
    }
  }
  .usimFriendsContent {
    padding-top: 6rem;
    padding-bottom: 4rem;
    .guideTitle02 {
      margin-bottom: 2.6rem;
      font-size: 2rem;
    }
  }
  // 바로유심 > 편의점 아이콘
  .infoLinkWrap {
    display: block;
    & + .infoLinkWrap {
      margin-top: 1.2rem;
    }
    [class*=mart-area] {
      margin-right: 0;
      margin-bottom: 1.2rem;
      &:last-child {
        margin-bottom: 0;
      }
      .linkUnderline {
        margin-left: 1.2rem;
      }
    }
    .mart-area-emart {
      .imgBox {
        width: 8.7rem;
      }
    }
    .mart-area-cu {
      .imgBox {
        width: 4.8rem;
      }
    }
  }
  // 유심 > 바로배송유심 구매 2단계
  .marketInfoContainer {
    .marketInfoTop {
      margin-bottom: 1.5rem;
    }
    .merketInfoTitle {
      font-size: 1.4rem;
    }
    .merketInfoText {
      font-size: 1.4rem;
    }
    .beforeDot {
      font-size: 1.2rem;
    }
    .infoLinkWrap {
      display: flex;
      [class*=mart-area] {
        margin-bottom: 0;
      }
    }
  }
}

@media (#{$mobile}) {
  .introContainer {
    &:after {
      height: 36.2rem;
    }
  }
  .customerSupportGuide {
    .introContainer {
      &:after {
        height: 36.2rem;
      }
    }
  }
  .introduceContainer {
    .linkArea {
      @include flex (column, flex-start, center);
      margin: 5rem 0 0;
      .link {
        flex: none;
        width: 100%;
        height: 5rem;
        font-size: 1.4rem;
        &:not(:last-of-type) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
  .serviceFriends {
    .contentArea {
      padding: 3rem 0 7rem 0;
    }
  }
  .serviceCorporation {
    .serviceArea {
      .serviceBox {
        .title {
          @include font (1.8rem, 700, $color-gray-06, 2.6rem);
        }
        .list {
          li {
            align-items: flex-start;
            @include font (1.3rem, 400, $color-gray-04, 1.9rem);
            span {
              &.bullet {
                margin-top: 0.9rem;
              }
            }
          }
        } 
      }
    }
  }
  .serviceTitleArea {
    padding-top: 4rem;
    .titleBox {
      .title {
        @include font (2rem, 400, $black, 2.9rem);
      }
      .desc {
        margin-top: 1.2rem;
        @include font (1.4rem, 400, $color-gray-04, 2rem);
      }
    }
  }

  /* popupViewDetail */
  .popupViewDetail {
    .detailArea {
      // .imgBox {
      //   padding: 1.9rem 3.3rem; // not sure
      // }
      .detailBox {
        .name {
          @include font (1.4rem, 700, $black, 2rem)
        }
        .infoBox {
          .tel {
            a {
              @include font (1.4rem, 400, $color-gray-06, 1.6rem);
            }
          }
          .time {
            .text {
              @include font (1.4rem, 400, $color-gray-06, 1.6rem);
            }
          }
        }
      }
    }
  }

  /* 바로유심 */
  .usimFriendsContent {
    .friendsList {
      .list {
        .selfOpen {
          width: 6.4rem;
          height: 6.4rem;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .descBox {
    .text {
      & br {
        display: none;
        word-break: keep-all;
      }
    }
  }

  /* 바로유심 편의점 */
  .usimGuideContent {
    .infoLinkWrap {
      display: block;
      [class*=mart-area] {
        margin-right: 0;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (#{$mobile-small}) {
  .usimEventArea {
    .eventTitle {
      .block {
        display: inline;
      }
    }
  }
  .friendsList {
    margin: 0;
    .list {
      width: 100%;
      margin: 0 0 2rem 0;
      padding: 2rem 1.6rem;
    }
  }
}