<!-- header -->
<header class="work-header-container">
  <div class="work-header-area">
    <div class="header-left">
      <h1 class="header-title">
        <span>김윤희 웹포트폴리오</span>
      </h1>
    </div>
    <div class="header-right">
      <a href="../../index.html" class="btn" aria-label="HOME으로 이동" tabindex="0">
        <div class="hover-trans">
          <span aria-hidden="true">HOME</span>
          <span aria-hidden="true">HOME</span>
        </div>
      </a>
    </div>
  </div>
</header>
<!-- // header -->
