<!-- header -->
<header class="header-container">
  <div class="header-area">
    <div class="header-left">
      <h1 class="header-title">
        <a href="/"><span>김윤희 웹포트폴리오</span></a>
      </h1>
    </div>
    <div class="header-center">
      <nav class="gnb-container">
        <div class="gnb-area hover-bg">
          <ul class="gnb-list-box">
            <li class="gnb-list">
              <a href="#hero"><span>HOME</span> /</a>
            </li>
            <li class="gnb-list">
              <a href="#work"><span>WORKS</span> /</a>
            </li>
            <li class="gnb-list">
              <a href="#contact"><span>CONTACT</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-current-info">
        <span class="time">18:32</span>
        <span class="location">GMT+1</span>
      </div>
    </div>
  </div>
</header>
<!-- // header -->
