<!-- header -->
<header class="header-container">
  <div class="header-area">
    <h1 class="header-logo">
      <a href="javascript:void(0)"> </a>
    </h1>
    <div class="header-gnb">
      <nav class="gnb-container">
        <div class="gnb-area">
          <ul class="gnb-list-box">
            <li class="gnb-list">
              <a href="javascript:void(0)" class="depth01"><span></span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="bg"></div>
</header>
<!-- // header -->
