<!-- header -->
<header class="header-container">
  <div class="header-area">
    <div class="header-left">
      <h1 class="header-title">
        <a href="index.html"><span>김윤희 웹포트폴리오</span></a>
      </h1>
    </div>
    <div class="header-center">
      <nav class="gnb-container">
        <div class="gnb-area hover-bg">
          <ul class="gnb-list-box">
            <li class="gnb-list" data-id="#hero">
              <a href="javascript:void(0)">
                <span>HOME</span>
              </a>
            </li>
            <li class="gnb-list" data-id="#work">
              <a href="javascript:void(0)">
                <span>WORKS</span>
              </a>
            </li>
            <li class="gnb-list" data-id="#contact">
              <a href="javascript:void(0)">
                <span>CONTACT</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="header-right">
      <div class="header-current-info" aria-hidden="true">
        <span class="time"></span>
        <span class="location"></span>
        <span class="weather"></span>
      </div>
    </div>
  </div>
</header>
<!-- // header -->
