<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="stylesheet" type="text/css" href="./assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />

  <script src="https://unpkg.com/lenis@1.1.9/dist/lenis.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="./assets/js/lib/swiper-bundle.min.js"></script>
  <script src="./assets/js/bundle.js"></script>
  <script></script>
  <title>UNI | Portfolio</title>
</head>
