<li class="work-list-box" tabindex="0">
  <div class="work-inner">
    <div class="work-left">
      <div class="work-title">@@title</div>
      <div class="work-button">
        <!-- prettier-ignore -->
        @@for(var i = 0; i < button.length; i++) {
        @@include("workButton.html",  `+(JSON.stringify(button[i]))+`)
      }
      </div>
    </div>
    <div class="work-right">
      <div class="thumb-box">
        <img src="../../assets/images/works/dummy.png" alt="" />
      </div>
    </div>
  </div>
</li>
