.alert {
  &_small {
    width: 240px;
  }
}

.dialog {
  &_xlarge {
    width: 980px;
  }

  &_large {

  }

  &_medium {
    .search_section {
      margin-bottom: 24px;
      .search_box {
        .input_label {
          margin-right: 8px;
        }
      }
    }
  }

  .panel_group {
    margin-bottom: 24px;

    .panel {
      background-color: #f7f8fa;
    }
  }

  .field_inline {
    gap: 12px 24px;
  }

  &_title + &_desc {
    margin-top: 8px;
  }

  &_desc + &_form_box {
    margin-top: 12px;
  }

  &_footer {
    .btn_large {
      width: 151px;
    }
  }
}
