.field {
  @include flexbox;
  flex-direction: column;
  gap: 8px;

  &_title {
    min-width: 120px;
    @include flex(0 0 auto);
  }

  &_desc {
    color: var(--on_surface_container_highest);
  }

  &_group {
    @include inline-flex;
    align-items: center;
    gap: 8px;

    label {
      @include flex(0 0 auto);

      .tooltip-area {
        display: inline-block;
        vertical-align: top;
      }
    }

    .input_area {
      flex: auto;
    }
  }

  &_inline {
    @include flexbox;
    @include flex-wrap(wrap);
    align-items: baseline;
    gap: 16px 24px;
    width: 100%;

    .field_horiz {
      @include flexbox;
      @include flex-wrap(wrap);
    }

    &_group {
      gap: 0 8px;
    }
    & + .field_vertical {
      margin-top: 24px;
    }
  }

  &_horiz {
    @include flexbox;
    flex-direction: row;
    align-items: baseline;
    gap: 24px;

    label {
      @include flex(0 0 auto);
    }

    .field_inline {
      gap: 8px;
    }

    .field_vertical {
      width: auto;
    }
  }

  &_vertical {
    @include flexbox;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .field {
      + .field {
        padding-top: 16px;
      }
    }
    &:has(.btn_group) {
      gap: 16px;
    }
  }
}

label + .tooltip-area {
  margin-left: 4px;
}

// Datepicker
.datepicker {
  &_small {
    width: 153px;
  }
}

// Inputs Size (width)
.input_area {
  &_small {
    width: 80px;
  }
  &_medium {
    width: 160px;
  }
  &_large {
    width: 240px;
  }
  &_xlarge {
    width: 320px;
  }
}

.input_box {
  &_radius {
    border-radius: 50vh;
    &::after {
      border-radius: 50vh;
    }
  }
}

// Select
.option_wrap {
  .input_text {
    @include ellipsis;
  }
}

.option_medium {
  .input_select_box {
    .input_checkbox {
      padding: 4px 0 4px 12px;
    }
    .label_checkbox {
      padding: 4px 12px 6px 4px;
    }
  }
}

.option_group {
  &_header {
    padding: 12px;
    border-bottom: 1px solid var(--outline_ultimate);

    .field_group {
      > label {
        margin-right: 8px;
      }
    }
  }
  &_footer {
    padding: 8px 12px 12px 12px;
    border-top: 1px solid var(--outline_ultimate);
  }
  .option_list {
    max-height: unset;
  }
  .divider {
    border-style: dashed;
  }
}

.filter_option_box {
  min-width: 160px;
  width: auto !important;
}
