/* footer */
.project_sales_system {
  .footer {
    justify-content: center;
    background-color: #f7f8fa;
  }
  .footer_content {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 60px;
    text-align: center;
  }
}