button {
  cursor: pointer;
  @include fontfamhead;
}
.buttons-box {
  @include flex(row, center, center);
  button,
  a {
    flex: 1;
    margin: 0;
    min-width: 24rem;
    padding: 0 4rem;
    &:only-child {
      max-width: 24rem;
    }
    &:disabled,
    &.disabled {
      opacity: 0.3;
    }
  }
}
[class*='btn-line-'] {
  @include flex(row, center, center);
}
.btn-line-wh {
  height: 6rem;
  border: 1px solid $black;
  background-color: $white;
  @include fontfamhead;
  @include font(2.6rem, 400, $color-222222, 1);
  &:not(.disabled) {
    &:hover {
      color: $color-00AAD2;
      border-color: $color-00AAD2;
    }
  }
}

// arrow 포함 버튼/링크
[class^='btn-arrow'] {
  @include flex(row, flex-start, center);
  @include fontfamhead;
  &::after {
    content: '';
    flex-shrink: 0;
  }
}
.btn-arrow-rt {
  @include font(1.8rem, 400, $color-222222, normal);
  &::after {
    width: 0.7rem;
    height: 1.9rem;
    margin-left: 1.2rem;
    background: image('common/arrow_rt_black.png') no-repeat center/0.7rem 1.1rem;
  }
}
.btn-arrow-down {
  @include font(1.6rem, 500, $black, 1.25);
  letter-spacing: -0.05rem;
  &::after {
    width: 1.6rem;
    height: 2rem;
    margin-left: 1rem;
    background: image('common/arrow_down.png') no-repeat center/1.6rem 2rem;
  }
}
.btn-underline {
  display: inline-block;
  border-bottom: 1px solid $color-00AAD2;
  @include font(inherit, inherit, $color-00AAD2, inherit);
}

@media #{$tablet} {
  .btn-line-wh {
    height: 5rem;
    font-size: 2rem;
  }
}

@media #{$mobile_large} {
  .btn-arrow-rt {
    font-size: 1.6rem;
  }
}
