
/* Common */
.scroll-ani {
  opacity: 0;
  transform: translateY(-5rem);
  transition: opacity .5s,transform .6s cubic-bezier(0, 0, 0.2, 1);
  &.on {
    opacity: 1;
    transform: translateY(0);
  }

  &.ani-left {
    transform: translateX(-5rem);
    &.on {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.ani-right {
    transform: translateX(5rem);
    &.on {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.ani-top {
    transform: translateY(-5rem);
    &.on {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.ani-bottom {
    transform: translateY(5rem);
    &.on {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.use-pc {
  display: block !important;
}

.use-tablet {
  display: none !important;
}

.use-mo {
  display: none !important;
}

.hidden {
  display: none;
}

.link {
  text-decoration: underline;
  &:hover {
    color: #00AAD2;
  }
}

// home header
.home {
  .header-container:not(.scroll, .gnb-opened, .mo-gnb-opened, .active) {
    .header-logo {
      a{
        background: image("/common/hyundai-logo-white-pc.webp") no-repeat center / 16.2rem 2.4rem;
        background-size: contain;
      }
      img {
        display: none;
      }
    }

    .header-center-inner {
      background-color: transparent;
      border-color: transparent;
      &::before {
        background-color: transparent;
      }
    }
    .btn-tnb-htwo {
      color: $white;
      &::after {
        background: image('common/icon_outlink_s_white.svg') no-repeat center / 2rem;
      }

    }
    .gnb-container {
      .depth01 {
        color: $white;
      }
    }
    .tnb-container {
      .btn-tnb-search {
        color: $white;
        &::after {
          background: image("/common/icon_tnb_search_white.png") no-repeat center/ 2rem;
        }
        &:hover {
          color: #00AAD2;
          &::after {
            background: image('common/icon_tnb_search_hov.svg') no-repeat center / 1.8rem;
          }
        }
      }
    }
    .language-container:not(.show) {
      &:hover {
        .selected-lang {
          color: $color-00AAD2;
        }
        .btn-open-lang {
          background-image: image('common/arrow_tnb_lang_up.png');
          transform: rotate(180deg);
        }
      }
      
      .selected-lang {
        color: $white;
      }
      .btn-open-lang {
          background: image("/common/arrow_tnb_lang_down_white.png") no-repeat center/ 1.8rem;
      }
    }
    
    .header-search-button-area {
      .btn-search-open {
        background: image("/common/icon_tnb_search_white.png") no-repeat center/ 2rem;
      }
    }
    .header-button-area {
      .btn-gnb-open {
        background: image("/common/icon_gnb_open_white.png") no-repeat center/ 1.6rem auto;
      }
    }
  }
}

/* Header */
.header-container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  @include fontfamhead;
  transition: transform 0.3s;
  &.scroll {
    .header-center-inner {
      background: $white !important;
    }

    &:not(.mo-gnb-opened) {
      &.depth_02 {
        .header-center-inner {
          &.depth_01 {
            display: none;
          }
        }
      }
    }
  }

  .header-center-inner {
    background-color: $white;
    transition: all 0.3s;
  }

  &.depth_02 {
    .header-center-inner {
      &.link {
        padding: 0;
        text-decoration: none;
      }
    }
    .header-center-inner {
      &:not(.depth_01) {
        background: rgba(255, 255, 255, 0.85);
      }

      &::before {
        background-color: rgba($black, 0.15);
      }
    }
  }

  //gnb 메뉴 열림
  &.gnb-opened {
    height: auto;
    padding-top: 8rem;
    background-color: $white;
    &:before {
      display: block;
    }

    .depth_01 {
      z-index: 99;      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: $white;
      &::after {
        content: '';
        z-index: 1000;
        position: absolute;
        top: 8rem;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba($black, 0.12);
      }
    }
    .sub-menu-wrap {
      display: block;
    }
    .header-button-area {
      display: block;
    }
  }
  .header-center-inner {
    position: relative;
    border-bottom: 1px solid rgba($black, 0.12);
    &.depth_02 {
      .header-center-inner-box {
        align-items: center;
        height: 7.4rem;
        .top-navigation-container {
          width: 84rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .sub-links-box {
            padding-left: 4.6rem;
          }
        }
      }
    }
    &.link {
      .header-center-inner-box {
        @include flex(row, center, center);
      }

      .top-navigation-container {
        .sub-links-box {
          padding-right: 13.8rem;
          .page-link {
            margin: 0 6rem 0 0;
            &.selected {
              &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0.4rem;
                background-color: $color-00AAD2;
              }
            }
          }
        }
      }
    }

    .header-center-inner-box {
      @include flex(row, flex-start, flex-start);
      width: 100%;
      max-width: 176rem;
      padding: 0 2rem;
      margin: 0 auto;
    }
  }
  .header-logo {
    width: 25.6rem;
    a {
      @include flex(row, center, center);
      width: 16.2rem;
      height: 8rem;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .header-search-button-area {
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 5.6rem;
    transform: translateY(-50%);
    display: none;
    [class*='btn-search'] {
      width: 2.4rem;
      height: 2.4rem;
    }
    .btn-search-open {
      display: block;
      background: image('common/icon_tnb_search.png') no-repeat center / 2rem;
    }
    .btn-search-close {
      display: none;
      background: image('common/icon_gnb_mo_close.svg') no-repeat center / 1.6rem auto;
    }
  }

  .header-search-container {
    z-index: 999;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 0.3s;
    .header-search-area {
      padding: 4rem 2rem;
      border-top: 1px solid #ddd;
      background-color: $white;
    }
  }

  .header-button-area {
    position: absolute;
    z-index: 1;
    display: none;
    top: calc($header_8 + 2rem);
    left: 0;
    right: 0;
    max-width: 176rem;
    height: 4rem;
    margin: 0 auto;
    padding: 0 2rem;
    [class*='btn-gnb'] {
      position: absolute;
      right: 2rem;
      top: 1.3rem;
      width: 2.6rem;
      height: 2.6rem;
    }
    .btn-gnb-open {
      display: none;
    }
    .btn-gnb-close {
      display: block;
      background: image('common/icon_gnb_close.svg') no-repeat center / 2.6rem;
    }
  }

  .sub-page-title-box {
    // flex: 0 0 27.56%;
    .sub-page-title {
      cursor: pointer;
      @include font(2.2rem, 500, $black, normal);
    }
  }

  .top-navigation-container {
    overflow: visible;
    height: 7.4rem;
    background-color: transparent;
    box-shadow: none;
    .sub-links-box {
      .page-link {
        min-width: unset;
        margin-left: 6rem;
        padding: 0;
        &.selected {
          &::after {
            bottom: -1px;
          }
        }
      }
    }
  }
}

/* GNB */
.header-gnb {
  flex: 1;
  @include flex(row, flex-end, flex-start);
}

.btn-tnb-htwo {
  @include flex(row, flex-start, center);
  @include font(1.5rem, 500, $color-888888, normal);
  &::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: 0.8rem;
    background: image('common/icon_outlink_s.svg') no-repeat center / 2rem;
  }
  &:hover {
    color: $color-00AAD2 !important;
    &::after {
      background: image('common/icon_outlink_s_sel.svg') no-repeat center / 2rem !important;
    }
  }
}
.gnb-container {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  .gnb-menu-area {
    @include flex(row, flex-start, flex-start);
  }
  .gnb-search-area {
    display: none;
  }
  .main-menu-wrap {
    &:hover {
      .depth01 {
        color: $color-00AAD2;
        &:not(.btn-menu-htwo) {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  .sub-menu-wrap {
    display: none;
    padding: 2.5rem 0 4.5rem;
  }
  .depth01 {
    position: relative;
    @include flex(row, center, center);
    width: 21rem;
    height: $header_8;
    @include font(1.8rem, 500, $color-888888, normal);
    &:not(.btn-menu-htwo) {
      &:after {
        content: '';
        position: absolute;
        z-index: 3;
        left: 50%;
        bottom: 0;
        width: 0;
        border-bottom: 3px solid $color-00AAD2;
        transform: translateX(-50%);
        transition: width .3s ease-in-out;
      }
    }

    &.btn-menu-htwo {
      @include flex(row, flex-start, center);
      &::after {
        content: '';
        position: relative;
        top: -0.1rem;
        display: block;
        width: 2rem;
        height: 2rem;
        margin-left: 0.4rem;
        background: image('common/icon_outlink_s_black.svg') no-repeat center / 2rem;
      }
    }
  }
  .htwo-menu {
    display: none;
    padding-top: 4rem;
    border-top: 0.1rem solid #ddd;
  }
  .depth02 {
    @include flex(row, center, center);
    width: 21rem;
    padding: 1.5rem 0;
    @include font(1.6rem, 400, $color-888888, normal);
    word-break: keep-all;
    transition: all 0.5s;
    text-align: left;
    text-transform: capitalize;
    &:hover,
    &.active {
      color: $color-00AAD2;
    }
  }
  .icon-ev {
    display: inline-block;
    width: 22px;
    height: 12px;
    margin-left: 7px;
    font-size: 6px;
    color: rgba(0, 0, 0, 0);
    background: image('common/badge_ev.png') no-repeat center / 22px auto;
  }
}

.tnb-container {
  @include flex(row, flex-end, center);
  height: $header_8;
  .search-box {
    &.active {
      .btn-tnb-search {
        display: none;
      }
      .search-input-box {
        width: 21.9rem;
        .search-btn,
        .search-input {
          display: block;
        }
      }
    }
    .search-input-box {
      overflow: hidden;
      position: relative;
      width: 0;
      transition: all 0.3s;
      .search-btn {
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
        width: 2rem;
        height: 2rem;
        background: image('common/icon_tnb_search.png') no-repeat center / 2rem;
      }
      .search-input {
        display: none;
        width: 100%;
        height: 3rem;
        padding: 0 3rem 0 0.5rem;
        border: 1px solid #c4c4c4;
        background-color: #fff;
        @include font(1.5rem, 400, #888, normal);
      }
    }
  }


  .search-box {
    @include flex(row, flex-start, center);
    &:before {
      content: '';
      display: block;
      height: 2.25rem;
      margin-left: 1.4rem;
      padding-left: 1.4rem;
      border-left: 1px solid rgba($black, 0.1);
    }
  }

  .btn-tnb-search {
    @include flex(row, flex-start, center);
    @include font(1.5rem, 500, $color-888888, normal);
    &:after {
      margin-left: 0.8rem;
    }
    &:hover {
      color: #00AAD2;
      &::after {
        background: image('common/icon_tnb_search_hov.svg') no-repeat center / 1.8rem;
      }
    }
  }
}

.language-toggle-container {
  display: none
}

.language-container {
  @include flex(row, center, center);
  position: relative;
  &:before {
    content: '';
    display: block;
    height: 2.25rem;
    margin-left: 1.4rem;
    padding-left: 1.4rem;
    border-left: 1px solid rgba($black, 0.1);
  }
  &.show {
    .language-content {
      display: block;
    }
    .selected-lang {
      color: $color-00AAD2;
    }
    .btn-open-lang {
      background-image: image('common/arrow_tnb_lang_up.png');
    }
  }
  &:not(.show) {
    .language-button {
      &:hover {
        .selected-lang {
          color: $color-00AAD2;
        }
        .btn-open-lang {
          background-image: image('common/arrow_tnb_lang_up.png');
          transform: rotate(180deg);
        }
      }
    }
  }
  .language-button {
    cursor: pointer;
    position: relative;
    z-index: 2;
    @include flex(row, center, center);
  }
  .selected-lang {
    @include font(1.5rem, 500, $color-888888, normal);
  }
  .btn-open-lang {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.8rem;
    background: image('common/arrow_tnb_lang_down.png') no-repeat center / 1.8rem;
    transform: rotate(0);
  }
  .language-content {
    position: absolute;
    display: none;
    z-index: 1;
    top: -3px;
    left: 1.4rem;
    right: -3px;
    padding: 4rem 1rem 1.4rem;
    background-color: $white;
    border: 1px solid $color-A4A4A4;
  }
  .btn-select-lang {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    @include font(1.5rem, 500, $color-888888, 1.1);
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $color-00AAD2;
    }
  }
}

/* header icons */
.btn-tnb-search,
.btn-gnb-search {
  &:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    background: image('common/icon_tnb_search.png') no-repeat center / 20px;
  }
}

/* footer */
.footer-container {
  width: 100%;
  padding: 4rem 2rem 7.2rem;
  background-color: $color-1D1D1B;
  @include fontfamhead;
  .footer-center-inner {
    width: 100%;
    max-width: 129.6rem;
    margin: 0 auto;
  }
  .footer-top {
    @include flex(row, space-between, flex-start);
    margin-bottom: 5rem;
  }
  // .footer-middle {}
  .footer-bottom {
    margin-top: 4rem;
  }
  .footer-logo {
    width: 5.2rem;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .footer-sub-menu {
    @include flex(row, flex-end, center);
    & > li {
      @include flex(row, flex-start, center);
      &:after {
        content: '';
        height: 1.4rem;
        padding-right: 1.6rem;
        margin-right: 1.6rem;
        border-right: 1px solid $color-707070;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    a {
      @include font(1.8rem, 400, $color-CCCCCC, 1);
    }
  }
  .footer-main-menu {
    @include flex(row, flex-start, center);
    & > li {
      margin-right: 5.5rem;
    }
    a {
      @include fontfamhead;
      @include font(1.8rem, 500, $color-CCCCCC, 1.4);
    }
  }
  .copyright {
    @include font(1.6rem, 400, rgba($white, 0.5), 1.4);
  }
}
/* footer icons */
.fnb-icon-youtube {
  @include flex(row, flex-start, center);
  &:after {
    content: '';
    display: block;
    opacity: 0.6;
    width: 26px;
    height: 18px;
    margin-left: 4px;
    background: image('common/icon_footer_youtube.png') no-repeat center/ 26px auto;
  }
}
.fnb-icon-linkedin {
  @include flex(row, flex-start, center);
  &:after {
    content: '';
    display: block;
    position: relative;
    top: -0.2rem;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    background: image('common/icon_footer_linkedin.png') no-repeat center/ 20px auto;
  }
}
.fnb-icon-link {
  @include flex(row, flex-start, center);
  &:after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    margin-left: 4px;
    background: image('common/icon_footer_link.png') no-repeat center/ 17px auto;
  }
}

.footnote {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -0.4rem;
    transform: translateX(100%);
    width: 1.1rem;
    height: 1.1rem;
    background: image('common/ic_info_s.svg') no-repeat center/ 1.1rem;
  }
}

@media #{$pc_max} {
  .header-container {
    .header-center-inner {
      &.depth_02 {
        .header-center-inner-box {
          .top-navigation-container {
            width: 64rem;
            .sub-links-box {
              padding-left: 2.2rem;
            }
          }
        }
      }

      &.link {
        .top-navigation-container {
          .sub-links-box {
            padding-right: 0;
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  .gnb-container {
    .depth01 {
      width: 16rem;
    }
    .depth02 {
      width: 16rem;
      text-align: center;
    }
  }
}

@media #{$pc_large} {
  /* Header */
  .header-container {
    &:before {
      top: $header_6;
    }

    &.gnb-opened {
      padding-top: 6rem;
      .depth_01 {
        &::after {
          top: 6rem;
        }
      }
    }
    
    .header-center-inner {
      padding: 0 2rem 0 2rem;
      &.depth_01 {
        min-height: $header_5;
      }
      &.depth_02 {
        .header-center-inner-box {
          .top-navigation-container {
            width: 56rem;
            .sub-links-box {
              padding-left: 2.4rem;
            }
          }
        }
      }

      &.link {
        .top-navigation-container {
          .sub-links-box {
            padding-left: 14rem;
            padding-right: 0;
          }
        }
      }

      .header-center-inner-box {
        height: 100%;
        padding: 0;
      }
    }
    .header-logo {
      a {
        width: 16.2rem;
        height: 6rem;
      }
    }
    .header-button-area {
      top: calc($header_6 + 2rem);
    }

    .header-center-inner {
      &.link {
        .top-navigation-container {
          .sub-links-box {
            .page-link {
              margin: 0 7rem 0 0;
            }
          }
        }
      }
    }
  }
  /* GNB */
  .gnb-container {
    .depth01 {
      width: 13.5rem;
      height: $header_6;
      padding: 0;
      font-size: 1.5rem;
    }
    .depth02 {
      width: 13.5rem;
      padding: 0.5rem 0;
      margin-bottom: 2rem;
      font-size: 1.3rem;
    }
  }
  .tnb-container {
    height: $header_6;
  }

  /* footer */
}

@media #{$pc_middle} {
  .header-container {
    .header-center-inner {
      &.depth_02 {
        .header-center-inner-box {
          .top-navigation-container {
            .sub-links-box {

            }
          }
        }
      }

      &.link {
        .top-navigation-container {
          .sub-links-box {
            padding-left: 10.5rem;
          }
        }
      }
    }
  }

  .tnb-container {
    .search-box {
      &.active {
        .search-input-box {
          width: 17.3rem;
        }
      }
    }
  }

  .gnb-container {
    padding: 0;
  }
}


@media screen and (max-width: 1180px) {
  .header-container {
    .header-center-inner {
      &.depth_02 {
        .header-center-inner-box {
          .top-navigation-container {
            position: static;
            transform: none;
            margin-left: 11%;
            .sub-links-box {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}

@media #{$tablet} {
  /* Header */
  .header-container {
    .header-center-inner {
      &.depth_01 {
        .header-center-inner-box {
          height: 5rem;
        }
      }

      &.depth_02 {
        height: 5rem;
        .header-center-inner-box {
          height: auto;
          .top-navigation-container {
            margin-left: 0;
            .sub-links-box {
              .page-link {
                &::before {
                  bottom: 0;
                }
              }
            }
          }
        }
      }

      &.link {
        .header-center-inner-box {
          justify-content: flex-start;
        }
        .top-navigation-container {
          .sub-links-box {
            padding: 0 2rem;
            .page-link {
              margin: 0 3rem 0 0;
              &:last-of-type {
                margin-right: 0;
              }
              &::before {
                bottom: 0;
              }
            }
          }
        }
      }
    }

    &.mo-gnb-opened {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      width: 100%;

      &.depth_02 {
        .header-center-inner {
          background-color: $white;
        }
      }

      .header-center-inner {
        background-color: transparent;
      }

      .header-logo {
        opacity: 0;
        display: none;
      }
      .gnb-container {
        opacity: 1;
        transform: translateX(0%);
      }
      .htwo-menu {
        display: block;
      }

      .header-search-button-area {
        display: none;
      }

      .header-button-area {
        .btn-gnb-open {
          display: none;
        }
        .btn-gnb-close {
          display: block;
        }
      }

      .tnb-container {
        .language-container {
          display: none;
        } 
        .language-toggle-container {
          display: block;
        } 
      }
    }

    &.active {
      background-color: $white;
      .depth_02 {
        display: none;
      }

      .header-search-button-area {
        right: 2rem;
        .btn-search-open {
          display: none;
        }
        .btn-search-close {
          display: block;
        }
      }

      .header-button-area {
        display: none;
      }
    }

    .header-search-button-area {
      display: block;
    }

    .tnb-container {
      .btn-tnb-htwo {
        display: none;
      }
      .search-box {
        display: none;
      }
      .language-container {
        display: none;
      } 
    }
    .mo-gnb-dim {
      z-index: 1;
      opacity: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba($black, 0.5);
      transform: translateX(100%);
      .overflow & {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.3s;
      }
    }
    .language-container {
      &::before {
        display: none;
      }

      .language-button {
        display: none;
      }

      .language-content {
        @include flex(row, flex-start, center);
        position: static;
        padding: 0;
        border: 0;
        background-color: transparent;
      }

      .btn-select-lang {
        @include flex(row, flex-start, center);
        margin: 0;
        @include fontfamhead;
        @include font(1.6rem, 500, #999, normal);
        &.selected {
          color: #00AAD2;
        }
        + .btn-select-lang {
          &::before {
            content: '';
            display: block;
            width: 1px;
            height: 1.6rem;
            background-color: #d9d9d9;
            margin: 0 1rem;
          }
        }
      }
    }

    .language-toggle-container {
      .language-button {
        .change-lang {
          @include flex(row, flex-start, center);
          @include font(1.6rem, 500, #999, normal);
        }
        .selected-lang {
          @include flex(row, flex-start, center);
        }
        .icon {
          position: relative;
          top: -0.1rem;
          display: block;
          width: 1.3rem;
          height: 1.3rem;
          margin-left: 0.5rem;
          background: image('common/icon_change_lang.svg') no-repeat center / 1.3rem;
        }
      }
    }

    .header-logo {
      position: relative;
      top: 0.7rem;
      a {
        width: 8.1rem;
        height: 3.5rem;
      }
    }

    .header-button-area {
      z-index: 20;
      display: block;
      position: fixed;
      top: 1.3rem;
      left: auto;
      right: 1.6rem;
      width: auto;
      height: auto;
      padding: 0;
      [class*='btn-gnb'] {
        position: static;
        width: 2.4rem;
        height: 2.4rem;
      }
      .btn-gnb-open {
        display: block;
        background: image('common/icon_gnb_open.svg') no-repeat center / 1.6rem auto;
      }
      .btn-gnb-close {
        display: none;
        background: image('common/icon_gnb_mo_close.svg') no-repeat center / 1.6rem auto;
      }
    }
  }

  /* GNB */
  .gnb-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 7.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    margin: 0;
    background-color: $white;
    transform: translateX(110%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    .gnb-menu-area {
      display: block;
      padding: 4rem 2rem;
      width: calc(100% - 7.5rem);
      // border-top: 1px solid rgba(0, 0, 0, 0.12);
    }

    .gnb-search-area {
      position: relative;
      margin-bottom: 5rem;
      input {
        height: 3rem;
        padding-right: 3rem;
        background-color: rgba(255, 255, 255, 0);
        border-bottom: 1px solid $color-888888;
      }
      .btn-gnb-search {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0.5rem;
      }
    }

    .main-menu-wrap {
      margin: 3.6rem 0 0 0;
      &:hover {
        .depth01 {
          color: #000;
          &:not(.btn-menu-htwo) {
            &:after {
              width: 1.4rem;
            }
          }
        }
      }
      &:first-child {
        margin-top: 0;
      }
      &.mo-sub-opened {
        .sub-menu-wrap {
          display: block;
        }

        .depth01 {
          color: $color-00AAD2;
        }
        &.has-sub-menu {
          .depth01 {
            &::after {
              background: image('common/icon_m_minus_sel.svg') no-repeat center / 1.4rem;
            }
          }
        }
      }
      &.has-sub-menu {
        .depth01 {
          &:hover {
            &::after {
              width: 1.4rem;
            }
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            bottom: auto;
            left: auto;
            right: 0;
            transform: translateY(-50%);
            width: 1.4rem;
            height: 1.4rem;
            background: image('common/icon_m_plus.svg') no-repeat center / 1.4rem;
            border: 0;
          }
        }
      }
    }

    .sub-menu-wrap {
      display: none;
      margin-top: 1.9rem;
      padding: 0 0 0 2rem;
    }

    .depth01 {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      @include font(2rem, 500, $black, 1.1);
      text-align: left;
      &::after {
        display: none;
      }
      &:hover {
        color: $black;
      }
    }
    .depth02 {
      width: 100%;
      padding: 0;
      justify-content: flex-start;
      font-size: 1.8rem;
      color: $color-767676;
    }
    .icon-ev {
      display: none;
    }
  }

  .tnb-container {
    z-index: 20;
    position: fixed;
    top: 1.7rem;
    right: 5.3rem;
    height: auto;
    .btn-tnb-search {
      font-size: 0;
      text-indent: -9999px;
      &::after {
        margin: 0;
      }
    }
  }

  /* footer */
  .footer-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .footer-top {
      margin-bottom: 4rem;
    }
    .footer-logo {
      width: 4.9rem;
    }
    .footer-main-menu {
      display: block;
      & > li {
        margin-right: 0;
        margin-bottom: 1rem;
      }
      a {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    .copyright {
      font-size: 1.4rem;
    }
    .mo-block {
      display: block;
    }
  }
}

@media #{$mobile_large} {
  .use-pc {
    display: none !important;
  }
  .use-mo {
    display: block !important;
  }

  .header-container {
    .header-center-inner {
      &.depth_02 {
        .header-center-inner-box {
          .top-navigation-container {
            padding: 0 2rem;
          }
        }
      }
    }    
  }

  .tnb-container {
    .search-box {
      display: none;
    }
  }

  .footer-container {
    .footer-top {
      display: block;
    }

    .footer-top-right {
      margin-top: 2rem;
    }

    .footer-sub-menu {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      margin: -0.4rem 0;
      > li {
        width: 12.8rem;
        margin: 0.4rem 0;
        &:nth-child(2),
        &:nth-child(4) {
          position: relative;
          flex: 1 0 calc(100% - 12.8rem);
          padding-left: 2.2rem;
          &::after {
            display: block;
          }
        }

        &::after {
          display: none;
          position: absolute;
          left: 0;
          width: 1px;
          height: 1.4rem;
          margin: 0;
          padding: 0;
          border: 0;
          background-color: #707070;
        }
      }

      a {
        font-size: 1.6rem;
        line-height: 2.8rem;
      }
    }
  }
}

@media #{$mobile_small} {
  .footer-container {
    .footer-sub-menu {
      display: block;
      > li {
        &:nth-child(2),
        &:nth-child(4) {
          padding-left: 0;
          &::after {
            display: none;
          }
        }
      }
    }
  }
}