// 바닥에서 올라오는 팝업
@keyframes bottomShow {
  0%   {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.datepicker-container {
  @include flex(row, flex-start, center);
  input {
    width: 100%;
    height: 5.4rem;
    padding: 0 2rem;
    border: 1px solid $color-DDDDDD;
    background: image('common/icon_calendar.png') no-repeat right 18px center / 17px auto;
    &:focus,
    &:hover {
      border-color: $color-00AAD2;
    }
  }

  .space {
    display: block;
    margin: 0 3rem;
    &:after {
      content: '';
      display: block;
      width: 10px;
      border-bottom: 2px solid $color-A4A4A4;
    }
  }

  .datepicker {
    display: none;
  }
  .datepicker.active {
    display: block;
  }

  .datepicker-dropdown {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8rem 0;
    .datepicker-picker {
      position: relative;
      width: 30rem;
      padding: 2rem 2rem 3rem;
      border: 1px solid #888;
      border-radius: 0.4rem;
      background-color: #ffffff;
    }
  }

  .datepicker-label-box {
    display: none;
  }

  .datepicker-header {
    .datepicker-title {
      position: absolute;
      top: 2rem;
      left: 2rem;
      @include font(2rem, 700, #000, normal);
    }

    .datepicker-controls {
      @include flex(row, center, center);
      .button {
        &.view-switch {
          margin: 0 2.5rem;
          @include fontfamhead;
          @include font(1.8rem, 500, #000, 2.7rem);
        }
        &.prev-btn,
        &.next-btn {
          width: 2.4rem;
          height: 2.4rem;
          font-size: 0;
          text-indent: -9999px;
        }
        &.prev-btn {
          background: image('common/ic_datepicker_more_left.svg') no-repeat center / 1rem 1.6rem;
        }
        &.next-btn {
          background: image('common/ic_datepicker_more_right.svg') no-repeat center / 1rem 1.6rem;
        }
      }
    }
  }

  .datepicker-main {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ddd;
  }

  .days-of-week {
    @include flex(row, center, center);
    margin: 0 -0.7rem 0.8rem;
    .dow {
      width: 2.8rem;
      height: 2.4rem;
      margin: 0 0.7rem;
      @include font(1.6rem, 500, #353535, 2.4rem);
      text-align: center;
    }
  }

  .datepicker-grid {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin: 0 -0.7rem;
    &.months,
    &.years {
      margin: 0 -0.5rem;
      .datepicker-cell {
        width: calc(33.333% - 1rem);
        height: 2.7rem;
        margin: 2rem 0.5rem 0;
        color: #666;
        line-height: 2.7rem;
        &.disabled {
          opacity: 0.3;
        }
        &:nth-child(-n + 3) {
          margin-top: 0rem;
        }
        &:nth-child(n + 8) {
          margin-top: 2rem;
        }
      }
    }
    .datepicker-cell {
      cursor: pointer;
      width: 2.8rem;
      height: 2.8rem;
      margin: 0 0.7rem;
      border-radius: 100%;
      @include font(1.6rem, 400, #666, 2.7rem);
      text-align: center;
      &:nth-child(n + 8) {
        margin-top: 2.2rem;
      }
      &.prev,
      &.next {
        color: #dcdcdc;
      }

      &.selected {
        &:not(.range-start) {
          font-weight: 500;
          color: #00aad2;
        }
      }

      &.range {
        font-weight: 500;
        color: #00aad2;
      }

      &.range-start {
        font-weight: 500;
        color: #00aad2;
      }

      &.range-end {
        font-weight: 500;
        color: #00aad2;
      }
    }
  }

  .datepicker-footer {
    display: none;
    .datepicker-controls {
      position: absolute;
      top: 2rem;
      right: 2rem;
      @include flex(row, flex-start, center);
      .clear-btn {
        display: block !important;
        @include font(1.6rem, 400, #00aad2, normal);
        white-space: nowrap;
      }
      .close-btn {
        margin-left: 1.6rem;
        @include font(1.6rem, 400, #000, normal);
      }
      .submit-btn {
        display: none;
      }
      .close-button {
        width: 100%;
      }
      .cancel-button,
      .confirm-button {
        display: none;
      }
    }
  }
}

@media #{$tablet} {
  .datepicker-container {
    .space {
      margin: 0 1rem;
    }
  }
}

@media #{$mobile_large} {
  .datepicker-container {
    display: block;
    
    input {
      height: 4.6rem;
      background-position: right 10px center;
    }
    
    .space {
      margin: 1.3rem auto;
      &:after {
        margin: 0 auto;
      }
    }

    .datepicker-dropdown {
      width: 100%;
      max-width: 30rem;
      .datepicker-picker {
        width: 100%;
        .datepicker-label-box {
          display: none;
        }

        .datepicker-main {
          margin-top: 2.2rem;
        }

        .days-of-week {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          margin-bottom: 1.1rem;
          .dow {
            width: auto;
            height: auto;
            margin: 0;
          }
        }

        .datepicker-grid {
          display: grid;
          margin: 0;
          &:not(.months):not(.years) {
            grid-template-columns: repeat(7, 1fr);
            gap: 1.5rem;
            .datepicker-cell {
              margin: 0;
              width: auto;
              height: 0;
              padding-bottom: 100%;
              line-height: 3rem;
              &.selected,
              &.range-start,
              &.range-end {
                border: 0;
                background-color: #00aad2;
                color: #fff;
              }
            }
          }

          &.months,
          &.years {
            padding: 1.6rem 0 1rem;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            .datepicker-cell {
              width: auto;
              margin: 0;
            }
          }
        }

        .datepicker-footer {
          margin-top: 4.4rem;
          .datepicker-controls {
            position: static;

            .today-button,
            .clear-button {
              display: none !important;
            }

            .button {
              flex: 1;
              height: 5rem;
              padding: 0 1.6rem;
              border: 1px solid;
              border-radius: 0.4rem;
              @include font(1.8rem, 500, #353535, 2.4rem);
              &.cancel-button {
                display: block;
                border-color: #dcdcdc;
                background-color: #fff;
                color: #353535;
              }
              &.confirm-button {
                display: block;
                margin-left: 0.8rem;
                border-color: #00aad2;
                background-color: #00aad2;
                color: #fff;
              }
              &.close-btn {
                position: absolute;
                top: 2.4rem;
                right: 2rem;
                width: 2.4rem;
                height: 2.4rem;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 0;
                background: asset-image('ic_popup_close.svg') no-repeat center / 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}