/* layout */
.wrapper {
  @include flex(column, flex-start, center);
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &.overflow {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
}
.main {
  flex: 1;
  position: relative;
  width: 100%;
  margin: auto;
  &.utility {
    padding-top: $header_8;
  }
}
.content-container {
  //detail , sitemap
  &:first-child {
    .top-breadcrumb-container {
      padding: 0 2rem 0;
    }
  }
}
.hidden-wrap {
  overflow: hidden;
  opacity: 0;
  height: 0;
  pointer-events: none;
}

/* Sub Header */

.header-visual-container {
  overflow: hidden;
  position: relative;
  @include fontfamhead;
  width: 100%;
  .visual-front-area {
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .visual-back-area {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: auto;
      &.use-pc {
        width: auto;
        height: 100%;
      }
    }

    .visual-front-box {
      z-index: 11;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      .content-visual-image-box {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
    .visual-back-box {
      opacity: 0;
      z-index: -1;
      position: relative;
      height: 54rem;
    }
  }
  .visual-inner {
    @include flex(column, flex-start, stretch);
    max-width: 146rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .visual-title-middle {
    @include flex(column, center, center);
    &:only-child {
      padding-top: 29.2rem;
    }
  }
  .visual-title-main {
    @include font(6.4rem, 500, $white, normal);
  }
  .visual-text-normal {
    @include font(2.4rem, 400, $white, normal);
  }
  .visual-title-bottom {
    align-self: flex-start;
    margin-top: 14rem;
    padding-bottom: 2.6rem;
  }
}
.data-items-area {
  @include flex(row, flex-start, flex-end);
  width: 100%;
  .data-item-box {
    width: 33.333%;
    margin-right: 4rem;
    &:last-child {
      margin-right: 0;
    }
  }
  [class*='icon-spec'] {
    @include flex(row, flex-start, center);
    @include font(1.4rem, 500, $white, 1.4rem);
    &:before {
      content: '';
      display: block;
      width: 2.1rem;
      height: 2.1rem;
      margin-right: 0.9rem;
    }
  }
  .icon-spec-01 {
    &:before {
      background: image('common/icon_spec_01.png') no-repeat center / 21px;
    }
  }
  .icon-spec-02 {
    &:before {
      background: image('common/icon_spec_02.png') no-repeat center / 21px;
    }
  }
  .icon-spec-03 {
    &:before {
      background: image('common/icon_spec_03.png') no-repeat center / 21px;
    }
  }
  .spec-data-box {
    @include flex(row, flex-start, flex-end);
    .spec-number {
      @include font(7.8rem, 500, $white, 1);
      display: block;
    }
    .spec-unit {
      display: block;
      margin-left: 0.7rem;
      @include font(2.4rem, 500, $white, 1.9);
    }
  }
  .spec-text-box {
    @include font(1.8rem, 500, $white, 1.5);
  }
}
/* Sub Navigation */
.top-navigation-container {
  height: 7.2rem;
  background-color: $white;
  box-shadow: 0px 10px 25px 0px rgba($black, 0.05);
  // center
  .top-navigation-inner {
    @include flex(row, flex-start, flex-start);
    height: 100%;
    @extend .max-width-1416;
  }
  .page-title-area {
    @include flex(column, center, center);
    height: 100%;
    margin-right: auto;
  }
  .page-title {
    @include font(2.4rem, 500, $black, 1.4);
  }
  .page-linkgroup-area {
    position: relative;
    height: 100%;

    .active-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.2rem;
      background-color: $color-00AAD2;
      transition: left .2s, width .2s;
    }
  }
  .sub-links-box {
    @include flex(row, flex-end, center);
    height: 100%;
    .page-link {
      position: relative;
      @include flex(column, center, center);
      min-width: 14rem;
      height: 100%;
      padding: 0 1rem;
      margin-left: 3rem;
      @include fontfamhead;
      @include font(1.8rem, 500, $color-999999, normal);
      white-space: nowrap;
      text-transform: capitalize;
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -0.1rem;
        left: 0;
        width: 0;
        height: 0.2rem;
        background-color: $color-00AAD2;
        transition: left .2s, width .2s;
      }
      &:first-child {
        margin-left: 0;
      }
      &.active {
        color: $color-00AAD2;
        &::before {
          width: 100%;
        }
      }
    }
  }
}
/* Sub breadcrumb */
.top-breadcrumb-container {
  position: relative;
  @include flex(row, flex-start, flex-start);
  max-width: 145.6rem;
  margin: 2rem auto 0;
  padding: 0 2rem;
  .top-breadcrumb-inner {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
  }
  span {
    display: block;
    margin-right: 1rem;
    @include font(1.4rem, 400, $color-888888, noraml);
    @include fontfamhead;
    white-space: nowrap;
    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-left: 1rem;
      border: 1px solid $color-888888;
      border-top: none;
      border-left: none;
      transform: rotate(-45deg);
    }
    &:last-child {
      margin-right: 0;
      color: #000;
      &:after {
        display: none;
      }
    }
  }
  .page-search-area {
    .input-box {
      width: 30.6rem;
    }
  }
}

.content-visual-container {
  width: 100%;
  .content-visual-area {
    z-index: 11;
    overflow: hidden;
    position: relative;
    width: 100%;

    .visual-front-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // padding-bottom: 49.2%;
    
    }

    .visual-back-box {
      z-index: -1;
      position: relative;
      height: 94.5rem;
      img {
        visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
        &.use-pc {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .content-visual-content-box {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    padding-top: 24.7rem;
    transform: translateX(-50%);
    @extend .max-width-1416;
    &.white {
      .content-visual-title-box {
        .title {
          @include fontfamhead;
          font-size: 6.4rem;
          font-weight: 500;
          color: #000;
          line-height: normal;
          letter-spacing: 0;
        }
        .sub-title {
          margin-top: 1rem;
          @include fontfamhead;
          @include font(2.2rem, 400, #000, 2.4rem);
        }
        
      }
      .content-visual-desc-box {
        margin-top: 6.7rem;
        max-width: 56.6rem;
        .desc {
          @include fontfamtext;
          @include font(1.8rem, 400, #000, 2.8rem);
        }
      }
    }

    .content-visual-title-box {
      .title {
        @include fontfamhead;
        @include font(6rem, 500, $black, normal);
        white-space: pre-line;
      }
    }

    .content-visual-desc-box {
      margin-top: 1rem;
      .desc {
        @include fontfamhead;
        @include font(2.2rem, 400, #444, 2.4rem);
      }
    }

    .content-visual-button-box {
      position: absolute;
      bottom: 13.3rem;
      left: 2rem;
      .visual-btn {
        @include flex(row, flex-start, center);
        @include fontfamtext;
        @include font(2rem, 500, $black, normal);
        &::after {
          content: '';
          display: block;
        }
        &.btn-download {
          &::after {
            width: 1.4rem;
            height: 1.6rem;
            margin-left: 1rem;
            background: image('common/pip_ic_download.svg') no-repeat center / 1.4rem 1.6rem;
          }
        }

        &.btn-send-email {
          margin-top: 2rem;
          &::after {
            position: relative;
            top: -0.1rem;
            width: 1.6rem;
            height: 1.2rem;
            margin-left: 1rem;
            background: image('common/icon_email.svg') no-repeat center / 1.6rem 1.2rem;
          }
        }
      }
    }

    .scroll-arrow {
      display: none;
      position: absolute;
      bottom: 2.3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 3.2rem;
      height: 1.8rem;
      background: image('common/icon_visual_scroll_arrow.svg') no-repeat center / 3.2rem 1.8rem;
    }
  }

  .content-visual-image-box {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.send-email-box {
  display: none;
  z-index: 12;
  position: relative;
  padding-top: 9.7rem;
  padding-bottom: 10rem;
  &.active {
    display: block;
    border-bottom: 1px solid #B6B6B6;
  }
  .send-email-inner {
    @extend .max-width-1416;
    position: relative;
    .btn-close {
      position: absolute;
      right: 2rem;
      top: -4rem;
      width: 2.4rem;
      height: 2.4rem;
      background: image('common/icon_close.svg') no-repeat center / 2.4rem;
    }
  }

  .send-email-form {
    position: relative;
    @include flex(row, space-between, flex-start);
    width: $content_size_2;
    margin: 0 auto;

    .send-email-title {
      @include fontfamhead;
      @include font(4rem, 500, $color-1D1D1B, normal);
    }

    .form-box {
      .field-email-address {
        margin-bottom: 2rem;
      }
      .field-checkbox {
        + .field-checkbox {
          margin-top: 1.2rem;
        }
      }
    }

    .buttons-box {
      margin-top: 6rem;
      .btn-submit {
        width: 100%;
        max-width: none;
      }
    }
  }
}
.send-email-complete-box {
  text-align: center;
  &:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 6.5rem;
    height: 5rem;
    background: image('common/icon_send.svg') no-repeat center / 6.5rem 5rem;
  }
  .complete-message-box {
    margin-top: 4rem;
    @include font(4rem, 500, $black, normal);
    @include fontfamhead;
  }
  .complete-desc-box {
    margin-top: 2rem;
    @include font(1.8rem, 400, $black, 1.2);
    @include fontfamhead;
  }
}
//pc end
@media #{$pc_large} {
  .main {
    &.utility {
      padding-top: $header_6;
    }
  }

  .header-visual-container {
    .visual-title-middle {
      &:only-child {
        padding-top: 27.2rem;
      }
    }
  }
  
  /* Sub breadcrumb */
  .top-breadcrumb-container {
    .page-search-area {
      right: 2rem;
    }
  }
  .send-email-box {
    .send-email-form {
      width: 100%;
    }
  }

  .content-container {
    &:first-child {
      // padding-top: 6rem;
    }
  }
}

@media #{$pc_middle} {
  .main {
    &.utility {
      padding-top: $header_5;
    }
  }
  /* Sub Navigation */
  .top-navigation-container {
    .sub-links-box {
      .page-link {
        min-width: initial;
        margin-left: 0;
        font-size: 1.6rem;
      }
    }
  }
}

@media #{$tablet} {
  /* Sub Header */
  .header-visual-container {
    .visual-title-middle {
      &:only-child {
        padding-top: 26.2rem;
      }
    }
    .visual-inner {
      padding: 0 6rem;
    }
    .visual-title-main {
      font-size: 4.2rem;
    }
    .visual-text-normal {
      font-size: 1.4rem;
    }
  }

  /* Sub Navigation */
  .header-container {
    .sub-page-title-box {
      display: none;
    }
    .top-navigation-container {
      overflow: hidden;
      overflow-x: auto;
      height: 5rem;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
      .top-navigation-inner {
        padding: 0;
      }
      .page-title-area {
        display: none;
      }
      .page-search-area {
        display: none;
      }
      .sub-links-box {
        justify-content: flex-start;
        .page-link {
          margin: 0;
          margin-right: 2.4rem;
          padding: 0;
          font-weight: 400;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .send-email-box {
    padding: 2rem 0 0;
    &.active {
      padding-bottom: 6rem;
    }
    .send-email-inner {
      .btn-close {
        top: -4rem;
        right: 2rem;
        background-size: 1.6rem 1.6rem;
      }
    }
    &::before {
      height: 9.4rem;
    }
    .send-email-form {
      flex-direction: column;
      .send-email-title {
        font-size: 2.8rem;
      }
      .buttons-box {
        margin-top: 2.7rem;
      }
    }

    .send-email-form-right {
      width: 100%;
      margin-top: 3rem;
    }
  }
}

@media #{$mobile_large} {

  /* Sub Header */
  .header-container {
    &.scroll {
      + .main {
        .content-visual-container {
          .content-visual-content-box {
            &::before {
              // background-color: white;
            }
            .scroll-arrow {
              display: none;
            }
          }
        }
      }
    }

    .header-center-inner {
      &.depth_02 {
        padding: 0;
      }
      &.link {
        .header-center-inner-box {
          position: relative;
        }
      }
    }

    .top-navigation-container {
      .page-linkgroup-area {
        position: static;
      }
      .sub-links-box {
        padding: 0 2rem;
        &::after {
          content: '';
          opacity: 0.8;
          position: absolute;
          top: 0;
          right: 0;
          display: block;
          width: 2.7rem;
          height: 100%;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
        }
      }
    }
  }

  .header-visual-container {
    .visual-inner {
      @include flex(row, center, center);
      padding: 0 2rem;
    }

    .visual-title-middle {
      &:only-child {
        padding-top: 5rem;
      }
    }

    .visual-back-area {
      .visual-back-box {
        height: auto;
      }
      .image-pc {
        display: none;
      }
      .image-mo {
        display: block;
      }
      img {
        bottom: 20%;
        width: 100%;
        height: auto;
      }
    }
  }

  /* Sub breadcrumb */
  .top-breadcrumb-container {
    flex-direction: column;
    align-items: flex-start;

    .page-search-area {
      position: static;
      width: 100%;
      margin-top: 4rem;
      margin-left: 0;
      .input-box {
        width: 100%;
      }
    }
  }

  .send-email-complete-box {
    padding-bottom: 4rem;
    .complete-message-box {
      font-size: 2.8rem;
    }
  }
  .content-visual-container {
    .content-visual-area {
      height: 100vh;
      .visual-front-box {
        padding-bottom: calc(100vh - 5rem);
      }
      .visual-back-box {
        height: auto;
      }
    }
    .content-visual-content-box {
      padding-top: 13rem;
      padding-left: 2rem;
      &.white {
        .content-visual-title-box {
          .title {
            font-size: 3.2rem;
          }
        }
        .content-visual-desc-box {
          .desc {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
        .content-visual-button-box {
          top: auto;
          left: 2rem;
          bottom: 8rem;
  
          .visual-btn {
            font-size: 1.8rem;
          }
        }
      }
      .content-visual-title-box {
        .title {
          font-size: 3.2rem;
        }
      }
      .content-visual-desc-box {
        .desc {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
      .content-visual-button-box {
        top: auto;
        left: 2rem;
        bottom: 8rem;

        .visual-btn {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (hover: none) {
  .content-visual-container {
    .content-visual-content-box {
      .content-visual-button-box {
        width: 100%;
        padding: 8rem 2rem 8rem;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(204, 204, 204, 0.60) 55.45%, #FFF 100%);
      }
    }
  }
}