// checkout style
//주소 목록
.address-container {
  display: none;
  overflow-y: auto;
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 190px;
  background-color: $color-white;
  box-shadow: 0px 2px 5.5px 0.5px rgba(0, 0, 0, 0.2);
  &.active {
    display: block;
  }
  .list-box {
    & > li {
      justify-content: space-between;
      min-height: 38px;
      margin: 0;
      padding: 0 0 0 10px;
      border-color: $color-gray-cccccc;
      background-color: $color-white;
      &:active,
      &:focus {
        background-color: $color-fceaf0;
      }
    }
    .list-left {
      align-self: center;
      @include font($font16, 400, $color-gray-141414);
    }
  }
  // 주소 선택
  .icon-arrow {
    width: 38px;
    height: 38px;
  }
}
//카드 코드 인풋
.card-code {
  .input {
    width: 41.2%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -40px;
      width: 33px;
      height: 33px;
      background: asset-image("icon_card.png") no-repeat center/33px;
    }
  }
}
//핀코드
.pin-area {
  padding: 15px 10px;
  .field {
    min-height: 90px;
    text-align: center;
  }
  .field-form {
    justify-content: center;
  }
  .field-label {
    margin-bottom: 15px;
    @include font($font16, 600, $color-gray-141414, 1.1);
  }
  input {
    width: 35px;
    height: 40px;
    padding: 0;
    border: 1px solid $color-gray-757575;
    @include fontSize($font18);
    text-align: center;
  }
}
.pin-header {
  margin-bottom: 92px;
  @include font($font16, 300, $color-gray-141414, 1.1);
}
.pin-body {
  width: 189px;
  margin: 0 auto;
  &.bg-lock {
    @include flex(column, center, center);
    &::before {
      content: "";
      display: block;
      width: 160px;
      height: 160px;
      margin-bottom: 15px;
      background: asset-image("img_pincode.png") no-repeat center/cover;
    }
  }
}

// 상품 리스트
.product-item-area {
  .drag-area {
    // width: calc(100% + 78px);
    margin-left: 0;
    &.show-trash {
      .product-top,
      .thumbnail-area,
      .product-info,
      .product-price {
        opacity: 0.5;
      }
    }
  }
  .drag-item-box {
    padding-left: 30px;
  }
  .massage-box {
    margin: 0;
  }
  .messages-box-wrap {
    margin-top: -5px;
    padding-bottom: 15px;
  }
}
.product-item-box {
  margin: 0 -10px;
  padding: 15px 10px 5px;
  border-bottom: 2px solid $color-gray-e9e9e9;
  &:last-child {
    border-bottom: none;
  }
  .product-info {
    & + .product-price {
      padding-top: 10px;
      border-top: 1px solid $color-gray-e9e9e9;
      // > * {
      //   margin-right: 4px;
      // }
      // .discount {
      //   text-decoration: line-through;
      // }
    }
  }
  // .product-price {
  // > * {
  //   margin-right: 4px;
  // }
  // .discount {
  //   text-decoration: line-through;
  // }
  // }
}
.product-top {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.product-middle {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  .thumbnail-area {
    flex-shrink: 0;
    margin-right: 10px;
    .img-area {
      width: 92px;
      height: 92px;
      border: 1px solid #ddd;
    }
    &.type-combo {
      .img-area {
        width: 142px;
        height: 142px;
      }
    }
  }
  .info-area {
    flex: 1;
    > div:not(.brand-area) {
      margin-bottom: 10px;
    }
  }
  .quantity-container {
    margin-top: 10px;
    .quantity-counter {
      max-width: 140px;
    }
  }
}
.product-bottom {
  margin-top: 10px;
  margin-bottom: 15px;
}
.product-id {
  padding: 3px 0;
  @include font($font16, 400, $color-gray-505050, 1.13);
}
.product-title {
  width: 100%;
  @include font($font18, 400, $color-gray-141414, 1.1);
  letter-spacing: -0.5px;
}
.product-info {
  @include font($font12, 400, $color-gray-757575, 1.33);
  .spec {
    color: $color-gray-757575;
  }
}
.product-price {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  @include font($font18, 400, $color-gray-757575, 1.15);
  word-break: keep-all;
  .price {
    margin-bottom: 5px;
    font-weight: 600;
    color: $color-gray-141414;
    &:last-child {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  .total {
    font-weight: 600;
    color: $color-gray-141414;
  }
  .small-price {
    width: 100%;
    // margin-top: 5px;
    @include fontSize($font12);
    // &:first-child {
    //   margin-top: 0;
    // }
  }
  .total-price {
    font-weight: 600;
    color: $color-ce1c5e;
  }
  .discount {
    margin-bottom: 5px;
    margin-left: 4px;
    @include fontSize($font14);
    text-decoration: line-through;
  }
}
.product-total {
  margin: 0 -10px;
  padding: 10px 0;
  background-color: $color-gray-f8f8f8;
  @include font($font20, 600, $color-gray-141414, 1.25);
  text-align: center;
  p {
    margin-bottom: 5px;
    @include fontSize($font15);
    font-weight: 400;
  }
}
// 상품 아코디언
.product-accordion-container {
  &.active {
    .product-accordion-area {
      display: block;
    }
    .product-accordion-title {
      border-bottom: 1px solid $color-gray-e9e9e9;
    }
  }
}
.product-accordion-area {
  display: none;
}
.product-accordion-title {
  @include flex(row, space-between, center);
  margin: 0 -10px;
  padding: 15px 10px;
  @include font($font16, 600, $color-gray-141414, 1.25);

  .accordion-left,
  .sub {
    text-transform: uppercase;
  }
}
.btn-delete {
  @include font($font16, 600, $color-gray-505050, 1.1);
  text-transform: uppercase;
}

//바우처 내역
.valid-voucher-list {
  > li {
    @include flex(row, flex-start, center);
    margin: 10px 0;
    padding: 14px 13px 14px 10px;
    border: 1px solid $color-gray-ababab;
    border-radius: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.voucher-left {
  @include font($font15, 600, $color-gray-141414, 1.2);
  .cost {
    color: $color-ce1c5e;
  }
}
.voucher-right {
  margin-left: auto;
}

//모바일 연결
.connect-container {
  background-color: $color-white;
  input {
    height: 38px;
    padding: 5px 40px 5px 10px;
    border: 1px solid $color-gray-ababab;

    &:disabled,
    &:read-only,
    &.readonly {
      border: 1px solid $color-gray-ababab;
    }
  }
  .field {
    min-height: auto;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .field-label {
    text-transform: none;
  }
  .btn-icon-clear {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
  }
}
.connect-header {
  @include flex(row, center, center);
  height: 54px;
  padding: 13px 0;
  .logo-box {
    height: 100%;
  }
}
.connect-body {
  padding: 0 10px;
}
.connect-top {
  padding: 15px 0 30px;
  .thumb-box {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .desc-box {
    margin-top: 15px;
    text-align: center;
  }
  p {
    @include font($font14, normal, $color-gray-505050, 1.25);
    > span {
      color: $color-ce1c5e;
    }
  }
  .title {
    margin-bottom: 10px;
    @include font($font20, bold, $color-gray-141414, 1.25);
  }
}
