// detail style
// common
.detail-container {
  background-color: $color-white;
  .list-area {
    .list-left {
      @include font($font14, 300, $color-gray-505050, 1.4);
    }
  }
}
.detail-inner {
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 18px;
    background-color: $color-gray-e9e9e9;
    box-shadow: inset 0px 1px 2.3px 0.3px rgba(0, 0, 0, 0.15);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
  &.small-inner {
    &:after {
      height: 12px;
      box-shadow: none;
    }
  }
}
.section-title {
  @include font($font20, 700, $color-gray-141414, 1.3);
  text-transform: uppercase;
}
.product-area {
  padding: 15px 10px;
  border-bottom: 1px solid $color-gray-e9e9e9;
  &.padding-low {
    padding-top: 5px;
    padding-bottom: 8px;
  }
  .massage-box {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0 10px;
  }
}
//평점
.star-box {
  @include flex(row, flex-start, flex-start);
  margin-top: -3px;
  &.satr-small {
    img {
      height: 1.8rem;
    }
  }
  img {
    display: block;
    width: auto;
    height: 1.8rem;
    background-color: $color-white;
    background-position: left center;
  }
}

//아코디언
.accordion-container {
  &.column-center {
    .accordion-button {
      @include flex(row, center, center);
    }
  }
}
.accordion-area {
  // 확장
  &.active {
    .btn-more {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .accordion-button {
    margin-top: 15px;
    padding: 2px 0;
  }
}

// list type
.hyphen-list {
  margin: 15px 0;
  & > * {
    margin-bottom: 5px;
    @include font($font12, 400, $color-gray-757575, 1.15);
    &:before {
      content: "-";
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  & + .list-box {
    margin: 0 -10px;
    border-top: 1px solid $color-gray-e9e9e9;
    > li {
      margin: 0 10px;
    }
    .list-left {
      text-transform: uppercase;
      @include fontSize($font14);
    }
  }
}

// link text
.underline-blue {
  color: #0f42ff;
  text-decoration: underline;
}

// swiper
.product-swiper {
  .swiper-slide {
    height: auto;
  }
  .swiper-controller {
    [class^="swiper-btn"] {
      position: absolute;
      top: 50%;
      z-index: 1;
      width: 30px;
      height: 50px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .swiper-btn-prev {
      left: 10px;
      background: asset-image("icon_arrow_prev.png") no-repeat center/contain;
    }
    .swiper-btn-next {
      right: 10px;
      background: asset-image("icon_arrow_next.png") no-repeat center/contain;
    }
    .swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
    }
    .swiper-pagination {
      @include flex(flex, center, center);
      left: 50%;
      bottom: 16px;
      width: 4.1rem;
      padding: 3px 9px;
      transform: translateX(-50%);
      background-color: $color-black;
      @include font($font12, 600, $color-gray-949494, 1);
      border-radius: 10px;
      .swiper-pagination-current {
        color: $color-white;
      }
    }
  }
  .slide-soldout {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    @include font($font24, 600, $color-white);
  }
}
.product-info-area {
  & + .massage-box {
    margin-top: 16px;
  }
}
.tag-box {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin: -2.5px;
  [class^="tag-"] {
    display: inline-flex;
    align-items: center;
    height: 1.7rem;
    margin: .25rem;
    padding: 2px 3px;
    @include font($font12, 400, $color-ce1c5e, normal);
    letter-spacing: -0.024px;
    background-color: $color-white;
    word-break: break-all;
  }
  .tag-tsv {
    background-color: $color-ce1c5e;
    color: $color-white;
  }
  .tag-time-price {
    background-color: $color-762744;
    color: $color-white;
  }
  .tag-free {
    background-color: $color-fff6fa;
    color: $color-ce1c5e;
  }
  .tag-sale {
    border: 1px solid $color-ce1c5e;
    color: $color-ce1c5e;
  }
  .tag-discount {
    background-color: $color-ce1c5e;
    color: $color-white;
  }
}
.title-box {
  margin: 10px 0 5px;
  .title {
    @include font($font18, 400, $color-gray-141414, 1.1);
    @include multi-ellipsis(true, 2);
    position: relative;
    
    &.expand {
      -webkit-line-clamp: inherit;
      overflow: visible;
      .text-more{
        background: none;
        .text {
          font-size: 2rem;
          display: inline-block;
        }
        &:before {
          content: "";
          width:0;
          font-size: 0;
          padding:0;
        }
      }
    }
    .title-text{
      display: block;
    }
    .text-more {
      display: none;
      position: absolute;
      right:0;
      bottom:0;
      padding-left: 20px;
      align-items: baseline;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 25%);

      &:before {
        content: "...";
        font-size: 1.8rem;
        padding-right: 7px;
        display: inline-block;
      }

      .text{ 
        line-height: 1.4rem;
        font-size: 1.4rem;
        color: #141414;
        border: 1px solid #ababab;
        border-radius: 4px;
        padding: 0 4px;
      }

      .show {
        display: inline-flex;
      }
    }

  }
}
.brand-area {
  @include flex(row, flex-start, center);
  margin-bottom: 5px;
  @include font($font16, 400, $color-gray-757575, 1.1);
  .brand-image {
    overflow: hidden;
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    & > * {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.review-box {
  @include font($font14, 400, $color-gray-505050);
  @include flex(row, flex-start, center);
  flex-wrap: wrap;

  .id {
    margin-right: 6px;
  }
}

// general
.product-option-list-box {
  & + .product-option-list-box {
    margin-top: 15px;
  }
}
.option-title {
  margin-bottom: 10px;
  @include font($font14, 600, $color-gray-505050, 1.15);
  text-transform: uppercase;
  .type {
    margin-left: 5px;
    color: $color-ce1c5e;
    text-transform: none;
  }
}
.option-button-box {
  overflow-x: auto;
  @include flex(row, flex-start, center);
  margin-right: -10px;
  margin-bottom: -10px;
  padding-bottom: 10px;
  [class^="btn-"] {
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 8px;
    border: 1px solid $color-gray-141414;
    background-color: $color-white;
    border-radius: 2px;
    font-family: "LG Smart", "LG Smart Condensed Common", "Sans-serif";
    &:active {
      background-color: $color-gray-e4e4e4;
    }
    &.selected {
      border-color: $color-ce1c5e;
      background-color: $color-fceaf0;
      color: $color-ce1c5e;
    }
    &.soldout {
      border-color: $color-gray-757575;
      color: $color-gray-757575;
      cursor: default;
    }
  }
  .btn-image {
    width: 55px;
    height: 55px;
    &.soldout {
      img {
        opacity: 0.6;
      }
    }
  }
  .btn-text {
    min-width: 50px;
    padding: 8px 18px;
    @include font($font18, 400, $color-gray-141414);
  }
}
.massage-box {
  @include flex(row, flex-start, flex-start);
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 8px 9px;
  @include font($font14, 400, $color-gray-757575, 1.3);
  &[class*="icon-"] {
    &:before {
      content: "";
      display: block;
      min-width: 14px;
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 5px;
    }
  }
  &.icon-check-green {
    color: $color-00776e;
    &:before {
      background: asset-image("icon_check_green.png") no-repeat center/contain;
    }
    background-color: $color-e5fcf9;
  }
  &.icon-check-gray {
    color: $color-gray-757575;
    &:before {
      background: asset-image("icon_check_black.png") no-repeat center/contain;
    }
    background-color: $color-gray-f2f2f2;
  }
  &.icon-warning-gray {
    @include font($font12, 400, $color-gray-757575, 1.33);
    &:before {
      background: asset-image("icon_warning.png") no-repeat center/contain;
    }
  }

  &.type-notice {
    align-items: center;
    background: #f2f2f2;
    margin: 0 0 20px;
  }
}
.messages-box-wrap {
  padding: 0 0 20px;
}
.quantity-container {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  // margin-top: 15px;
  @include font($font14, 600, $color-gray-505050, 1.15);
  .quantity-counter {
    @include flex(row, center, stretch);
    width: 163px;
    border-top: 1px solid $color-gray-ababab;
    border-bottom: 1px solid $color-gray-ababab;
    text-align: center;
    > * {
      max-height: 80px;
    }
  }
  input {
    height: 40px;
    padding: 6px 4px;
    border: none;
    font-weight: 400;
    text-align: center;
  }
  [class^="btn-"] {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-left: 1px solid $color-gray-ababab;
    border-right: 1px solid $color-gray-ababab;
    &:disabled {
      cursor: default;
    }
  }
}
.price-info-area {
  & + .massage-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.price-box {
  @include flex(inline-flex, flex-start, center);
  flex-wrap: wrap;
  @include font($font14, 400, $color-gray-141414, 1.4);
  & > * {
    position: relative;
    margin-right: 2px;
    &:last-child {
      margin-right: 0;
    }
  }
  .channel {
    color: $color-gray-757575;
  }
  .price-original {
    color: $color-gray-757575;
    .through-line {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $color-gray-757575;
      transform: translateY(-50%);
      @include ir(absolute, 1, 0);
      color: rgba(255, 255, 255, 0);
    }
  }
  .discount {
    margin-right: 6px;
    @include font($font24, 600, $color-ce1c5e, 1);
  }
  .price-current {
    @include font($font24, 600, $color-gray-141414, 1);
  }
  .ir {
    @include ir(absolute, 0, 0);
    top: 0;
    left: 0;
  }
}
.call-info-box {
  @include font($font16, 400, $color-gray-141414, 1.1);
  .call-title {
    @include flex(row, flex-start, center);
    margin-bottom: 3px;
  }
  .icon-call {
    margin-right: 5px;
  }
  .call-num {
    @include font($font20, 700, $color-gray-141414, 1.1);
  }
}
.guide-info-box {
  padding: 15px 0;
  border-bottom: 1px solid $color-gray-e9e9e9;
  @include font($font14, 400, $color-gray-505050, 1.1);
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .guide-info-header {
    margin-bottom: 10px;
    @include font($font14, 600, $color-gray-141414, 1.1);
    text-transform: uppercase;
  }
  .guide-info-body {
    @include font($font12, 400, $color-gray-757575, 1.17);
    // .button-box {
    //   margin-bottom: 5px;
    // }
    strong {
      font-weight: 600;
      @include fontSize($font12);
    }
    .flex-row {
      margin-top: 15px;
      padding: 0;
      @include fontSize($font14);
      line-height: 1.3;
    }
    .button-box {
      justify-content: flex-end;
    }
    .accordion-box {
      @include multi-ellipsis(true, 5);
    }
    .accordion-area.active {
      .accordion-box {
        display: block;
        overflow: visible;
        text-overflow: initial;
      }
    }
  }
  p {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  .code-box {
    @include font($font15, 600, $color-gray-141414, 1.1);
    .code {
      color: $color-ce1c5e;
      text-transform: uppercase;
    }
  }
}
// YOU MAY LIKE
.recommend-area {
  background-color: $color-white;
  .recommend-header {
    padding: 16px 10px 13px;
    border-bottom: 1px solid $color-gray-e9e9e9;
  }
  .recommend-body {
    padding: 10px 0;
    margin: 0 10px;
  }
  .tag-box {
    [class^="tag-"] {
      @include fontSize($font09);
    }
  }
  .title-box {
    .title {
      font-weight: 300;
    }
  }
}
.recommend-list-box {
  @include flex(row, flex-start, stretch);
  flex-wrap: wrap;
  margin: 0 -05px;
}
.recommend-list {
  width: calc(50% - 10px);
  margin: 0 5px;
  padding-bottom: 50px;
  .img-area {
    position: relative;
    height: 165px;
    margin-bottom: 5px;
    border: 1px solid $color-gray-e9e9e9;
  }
  .badge-box {
    overflow: hidden;
    @include flex(row, center, center);
    position: absolute;
    top: .2rem;
    left: .2rem;
    width: 3.2rem;
    height: 2rem;
    padding: 0 8px;
    background-color: rgba($color-gray-141414, 0.8);
    @include font($font14, 700, $color-white);
    white-space: nowrap;
    border-radius: 3px;
    .ir {
      @include ir(absolute, 0, 0);
      top: 4px;
      left: 4px;
      width: 15px;
      height: 8px;
    }
  }
  .star-box {
    margin-left: 0;
  }
  .title-box {
    margin: 0 0 6px;
    @include fontSize($font16);
  }
  .price-box {
    align-items: baseline;
    .price {
      @include font($font20, 700, $color-gray-141414, 1.3);
    }
    .discount {
      margin-left: 2px;
      @include font($font12, 400, $color-gray-757575, 1.3);
      text-decoration: line-through;
    }
  }
}
// 리스트 공통
.list-area {
  .list-header {
    background-color: $color-gray-f8f8f8;
  }
  .sub {
    margin-left: 5px;
    color: $color-ce1c5e;
    text-transform: none;
  }
  .list-body {
    padding: 0 10px;
    .total-box {
      margin: 0 -10px;
    }
    .notice-box {
      min-height: 158px;
      .icon-notice {
        display: block;
        margin: 55px 0;
      }
    }
  }
  .list-middle {
    @include flex(row, flex-start, flex-start);
  }
  .list-left {
    overflow: hidden;
    align-self: flex-start;
    margin-right: 11px;
    @include font($font16, 400, $color-gray-141414, normal);

    .order-text {
      line-height: normal;

      &.total {
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  .list-center {
    flex: 1;
    margin-right: 25px;
    @include font($font16, 400, $color-gray-505050, 1.25);
  }
  .list-right {
    margin-left: auto;
    .check-icon {
      align-items: center;
      @include fontSize($font14);
    }
  }
  .list-title {
    padding: 6.5px 10px;
    &.bg-white {
      padding: 13px 10px;
    }
  }
  .field-area {
    padding: 15px 0;
  }
  .date {
    margin-left: 5px;
    color: $color-ce1c5e;
    text-transform: none;
  }
}
.list-title {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  @include font($font14, 700, $color-gray-141414, 1.15);
  text-transform: uppercase;
  & + .list-title {
    padding: 8px 10px;
    border-top: 1px solid $color-gray-e9e9e9;
  }
  &:first-child {
    @include fontSize($font16);
    &:only-child {
      @include fontSize($font14);
    }
  }
  &.bg-white {
    border-bottom: 1px solid $color-gray-e9e9e9;
    background-color: $color-white;
    @include font($font16, 700, $color-gray-141414, 1.3);
    text-transform: uppercase;
  }
  .title-left {
    input[type="checkbox"] {
      & + .check-icon {
        @include fontSize($font16);
        font-weight: 700;
      }
    }
    .num {
      color: $color-ce1c5e;
    }
  }
  .title-right {
    color: $color-gray-505050;
    input[type="checkbox"] {
      & + .check-icon {
        @include fontSize($font14);
        text-transform: capitalize;
      }
    }
  }
  input[type="checkbox"] {
    & + .check-icon {
      align-items: center;
    }
  }
  .title-brand {
    width: 24px;
    height: 24px;
    margin-right: 7px;
  }
}
.list-box {
  & > li {
    @include flex(row, flex-start, center);
    padding: 10px 0;
    border-bottom: 1px solid $color-gray-e9e9e9;
    &:last-child {
      border-bottom: 0;
    }
  }
  .name {
    @include ellipsis;
  }
  .price {
    @include font($font18, 700, $color-gray-141414, 1.4);
  }
  .label-box {
    @include font($font18, 600, $color-gray-141414, 1.4);
  }
  .list-date {
    @include fontSize($font12);
    color: $color-gray-757575;
  }
  .percent {
    color: $color-ce1c5e;
  }
  // 다운로드 완료
  .disabled {
    opacity: 0.5;
    .list-center {
      color: $color-gray-757575;
    }
    .label-box {
      color: $color-gray-757575;
    }
    .percent {
      color: $color-gray-757575;
    }
  }
  //checkout
  .normal-title {
    display: block;
    margin-bottom: 10px;
    @include font($font16, 600, $color-gray-141414, 1.4);
    &:only-child {
      margin-bottom: 0;
    }
    &.point {
      color: $color-ce1c5e;
    }
  }
  .normal-text {
    @include font($font14, 400, $color-gray-141414);
    & + .normal-text {
      margin-top: 5px;
    }
  }
  .nonedata-text {
    @include font($font16, 400, $color-gray-757575);
  }
  //ORDER COMPLETE
  .small-title {
    display: block;
    margin-bottom: 5px;
    @include font($font15, 700, $color-gray-141414, 1.4);
  }
  .small-text {
    @include font($font14, 400, $color-gray-505050, 1.4);
    word-break: break-all;
  }
  //error
  .error-desc {
    margin-top: 9px;
    @include font($font12, 400, $color-ce1c5e);
  }
}
.list-brand {
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  padding: 9px 10px;
  @include font($font16, 700, $color-gray-141414, 1.15);
  text-transform: uppercase;
  background-color: $color-white;
  border-top: 1px solid $color-gray-e9e9e9;
  border-bottom: 1px solid $color-gray-e9e9e9;
  &:first-child {
    border-top: 0;
  }
  .brand-image {
    width: 24px;
    height: 24px;
    margin-right: 7px;
  }
  .brand-count {
    margin-left: 6px;
    @include fontSize($font14);
    color: $color-ce1c5e;
  }
}

// 약관 동의 영역
.agree-container {
  .agree-right {
    margin-left: auto;
  }
  .agree-box-all {
    > .checkbox {
      padding: 13px 0 10px;
      .check-icon {
        align-items: flex-start;
        @include fontSize($font16);
        font-weight: 700;
      }
    }
  }
  .agree-box {
    & > li {
      @include flex(row, flex-start, center);
      padding: 10px;
      border-bottom: 1px solid $color-gray-e9e9e9;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  .icon-arrow {
    width: 24px;
    height: 24px;
  }
}
// flex
.flex-row {
  @include flex(row, space-between, center);
  padding: 15px 0;
  border-bottom: 1px solid $color-gray-e9e9e9;
  &:last-child {
    border-bottom: 0;
  }
}
//order
.order-text {
  @include font($font14, 400, $color-gray-505050);
  @include ellipsis;
}
.order-amount {
  display: block;
  @include font($font14, 600, $color-gray-505050, 1.25);
}
.total-box {
  padding: 15px 10px;
  background-color: $color-gray-f8f8f8;
  &.bg-white {
    background-color: $color-white;
  }
  .order-left {
    overflow: hidden;
    flex-shrink: 0;
  }
  .order-total {
    @include font($font20, 600, $color-gray-141414, 1);
    text-transform: uppercase;
  }
  .order-amount {
    display: block;
    @include font($font20, 700, $color-ce1c5e, 1.25);
    text-align: right;
    &.empty {
      color: $color-gray-757575;
    }
  }
  .order-pay {
    @include font($font12, 600, $color-gray-141414, 1.25);
  }
  .order-tax {
    @include font($font12, 400, $color-gray-141414, 1.25);
  }
  .order-notice-text {
    @include font($font14, 400, $color-ce1c5e, 1.25);
  }
  .flex-row {
    border-bottom: 0;
    padding: 0;
  }
  .massage-box {
    margin-top: 0;
    padding-bottom: 0;
  }
}
// 쿠폰 배너
.banner-box {
  padding: 15px 10px;
  background-color: $color-white;
  border-bottom: 1px solid $color-gray-e9e9e9;
}
.coupon-banner {
  padding: 17px 110px 16px 18px;
  border-radius: 5px;
  @include font($font20, 600, $color-0f3448, 1.3);
  &.bg-card {
    background: asset-image("img_coupon.png") no-repeat center right 20px/55px $color-e8f6fd;
  }
}
// notice
.notice-box {
  padding: 25px 10px;
  @include font($font16, 400, $color-gray-757575, 1.4);
  text-align: center;
  &[class*="bg-"] {
    @include font($font18, 700, $color-gray-141414);
    &:before {
      content: "";
      display: block;
      width: 160px;
      height: 160px;
      margin-bottom: 5px;
    }
  }
  // ORDER COMPLETE
  &.bg-bag {
    &:before {
      background: asset-image("img_final.png") no-repeat center/ 100% auto;
    }
  }
  &.only-child,
  &:only-child {
    @include flex(column, center, center);
    height: 100%;
  }
}
//hotel
.options-box {
  margin-bottom: 15px;
  .option-text {
    margin-bottom: 3px;
    color: $color-gray-757575;
  }
  .option-icons {
    @include flex(row, flex-start, flex-start);
    display: inline-flex;
    .img-area {
      width: 24px;
      height: 24px;
      margin-right: 3px;
    }
  }
}
.map-container {
  background-color: $color-white;
  .map-header {
    @include flex(row, flex-start, center);
    padding: 14px 10px;
  }
  .title {
    @include font($font16, 400, $color-gray-141414, 1.4);
  }
  .icon-map {
    flex-basis: 23px;
    margin-right: 5px;
  }
}

//drag & trash
.drag-area {
  @include flex(row, flex-start, stretch);
  left: 0;
  transition: all 0.5s;
  // 휴지통 활성화
  &.show-trash {
    position: relative;
    left: -68px;
    width: calc(100% + 78px);
    transition: all 0.5s;
    .drag-item-box {
      position: relative;
      width: calc(100% - 68px);
    }
    .drag-icon-box {
      display: block;
      margin-left: 10px;
    }
  }
  &:first-child {
    .drag-item-box {
      border-top: 0;
    }
  }
  .drag-item-box {
    @include flex(row, center, flex-start);
    width: 100%;
    padding: 15px 0;
    // padding-right: 10px;
    border-top: 1px solid $color-gray-e9e9e9;
    @include font($font16, 400, $color-gray-505050, 1.15);
    transition: all 0.5s;
  }
  .drag-icon-box {
    display: none;
    z-index: 1;
    min-width: 68px;
    margin-right: -10px;
    background-color: $color-ce1c5e;
  }
  .item-area {
    position: relative;
    width: 100%;
  }
  .adress-title {
    padding-right: 85px;
    margin-bottom: 15px;
    @include fontSize($font18);
    font-weight: 600;
    color: $color-gray-141414;
  }
  .adress-sub {
    margin-top: 4px;
    @include fontSize($font12);
    line-height: 1;
  }
  .btn-delete-sm {
    position: absolute;
    top: -10px;
    right: 44px;
    width: 44px;
    height: 44px;
  }
  .btn-edit {
    position: absolute;
    top: -10px;
    right: 0;
    width: 44px;
    height: 44px;
  }
  .btn-delete {
    width: 100%;
    height: 100%;
  }
  .checkbox {
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 1;
  }
  input[type="checkbox"] {
    & + .check-icon {
      &:before {
        margin-right: 0;
      }
    }
  }
}

//배송 주소
.addressing-container {
  @include flex(column, flex-start, flex-start);
  height: 100%;
  padding: 0 10px;
  & > * {
    width: 100%;
  }
  .addressing-bottom {
    @include flex(column, flex-end, flex-start);
    position: relative;
    flex: 1;
    padding: 10px 0;
  }
  .drag-area{
    .drag-item-box{
      position: relative;

      .checkbox{
        position: static;
        margin-right: 11px;
      }
    }
  }
}

// 결제수단
.payment-container {
  height: 100%;
  padding: 15px 10px 0;
}
.payment-box {
  position: relative;
  @include flex(column, flex-start, flex-start);
  @include font($font16, 400, $color-gray-505050, 1.4);
  word-break: break-all;
  &[class*="bg-card"] {
    overflow: hidden;
    width: 280px;
    height: 17.2rem;
    margin: 0 auto;
    padding: 15px 15px 20px;
    border-radius: 5px;
    .payment-name,
    .payment-number {
      color: $color-white;
    }
    .payment-number {
      margin-top: auto;
    }
  }
  &.bg-card {
    background-image: linear-gradient(to top, #8f23bb, #bd2762, #ba5c00);
  }
  &.bg-card-add {
    @include flex(row, center, center);
    background-color: $color-gray-505050;
  }
  .payment-name {
    font-size: 1.9rem; 
    font-weight: 700;
  }
  .payment-notice {
    position: absolute;
    @include flex(column, center, center);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include font($font24, 700, $color-white, 1.4);
    background-color: rgba($color-black, 0.6);
    text-align: center;
  }
  .payment-select-box {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    .checkbox {
      margin-left: auto;
      .check-icon {
        &::before {
          margin-right: 0;
        }
      }
    }
  }
  .paymnet-add-box {
    width: 100%;
    height: 100%;
  }
  .btn-add {
    width: 100%;
    height: 100%;
    background: asset-image("ico_card_plus.png") no-repeat center / 40px;
  }
}
.payment-swiper {
  .button-box {
    margin-top: 15px;
  }
  .swiper-slide {
    max-width: 360px;
    margin: 0 auto;
  }
}

.float-link-container {
  position: fixed;
  left: 0;
  bottom: 70px;
  width: 100%;

  .float-wrap{
    width: 100%;
    
    .btn-float {
      margin: 0 10px;
      display: block;
      background-color: #141414;
      color: #fff;
      font-size: 16px;
      text-align: center;
      padding: 10px 0;
    }
  }
}