.top-logo-container {
  margin-bottom: 5px;
  .top-logo-wrap {
    height: 15.28vw;
    @include flex(row, center, center);
    .logo {
      width: 34.45vw;
    }
  }
}
.top-banner-container {
  margin-bottom: 2.8vw;
}

/* home > hotpick's theme */
.hotpick-theme-container {
  .hotpick-theme-bottom {
    padding: 15px 10px 11px;
    border-top: 1px solid $color-gray-e9e9e9;
  }
  .call-num {
    margin-right: 6px;
  }
}
.hotpick-theme-area {
  .theme-flex {
    @include flex(row, flex-start, flex-start);
    .image-box {
      width: 50%;
    }
  }
  .image-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 202px;
    img {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      min-width: 100%;
      height: 202px;
      transform: translateY(-50%);
    }
  }
  .video-box {
    position: relative;
    width: 100%;
    .video {
      z-index: 1;
      width: 100%;
      height: auto;
      video {
        width: 100%;
        height: auto;
      }
    }
  }
}
.hotpicks-detail-swiper {
  position: relative;
  overflow: hidden;
  padding: 10px;
  .swiper-controller {
    position: relative;
    margin-top: 10px;
  }
  .swiper-button-prev{
    position: absolute;
    left: 10px;
    top: 50%;
    width: 3rem;
    height: 5rem;
    border-radius: 4px;
    background: asset-image("swiper_arrow_left.png") no-repeat center;
    background-size: 100%;
    &:after {
      content: '';
      display: none;
    }
  }
  .swiper-button-next{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 3rem;
    height: 5rem;
    border-radius: 4px;
    background: asset-image("swiper_arrow_right.png") no-repeat center;
    background-size: 100%;
    &:after {
      content: '';
      display: none;
    }
  }
  .hotpicks-pagination {
    position: static;
  }
  .swiper-pagination-progressbar {
    height: 6px;
    background-color: $color-gray-ebebeb;
    border-radius: 4px;
  }
  .swiper-pagination-progressbar-fill {
    margin-top: -3px;
    height: 12px;
    background-color: $color-gray-666666;
    border-radius: 10px;
  }
}
.row-product-area {
  @include flex(row, flex-start, flex-start);
  .img-area {
    position: relative;
    flex-shrink: 0;
    width: 14rem;
    height: 14rem;
    margin-right: .5rem;
    border: 1px solid $color-gray-e9e9e9;
  }
  .badge-box {
    overflow: hidden;
    @include flex(row, center, center);
    position: absolute;
    top: .2rem;
    left: .2rem;
    width: 3.2rem;
    height: 2rem;
    padding: 0 8px;
    background-color: rgba($color-gray-141414, 0.8);
    @include font($font14, 700, $color-white);
    white-space: nowrap;
    border-radius: 3px;
    .ir {
      @include ir(absolute, 0, 0);
      top: 4px;
      left: 4px;
      width: 15px;
      height: 8px;
    }
  }
  .star-box {
    margin-left: 0;
  }
  .title-box {
    margin: 0 0 6px;
    @include fontSize($font09);
    
  }
  .price-box {
    align-items: baseline;
    .price {
      @include font($font20, 700, $color-gray-141414, 1.3);
    }
    .discount {
      margin-left: 2px;
      @include font($font12, 400, $color-gray-757575, 1.3);
      text-decoration: line-through;
    }
  }
  .tag-box {
    [class^="tag-"] {
      padding: 0 2px;
      font-size: .9rem;
    }
  }

  .item-soldout {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    @include font($font14, 600, $color-white);
  }
}
/* home > Hotel */
.hotel-thumb-container {
  .hotel-title {
    padding: 11px 10px 12px 10px;
    @include font($font18, 600, $color-gray-141414, 1.3);
  }
  .hotels-thumb-bottom {
    border-top: 1px solid $color-gray-e9e9e9;
  }
  .link-arrow {
    @include flex(row, center, center);
    padding: 15px 10px 15px 10px;
    @include font($font14, 600, $color-gray-757575, 1);
    &:after {
      content: ">";
      margin-top: -1px;
      margin-left: 5px;
    }
  }
}

/* home > Hotel > detail */
.hotels-list-container {
  padding: 0 10px;
  .list-item {
    padding: 5px 0;
    border-bottom: 1px solid $color-gray-e9e9e9;
    &:last-child {
      border-bottom: none;
    }
  }
}

/* home > bottom banner */
.bottom-banner-container {
  .image-box {
    position: relative;

    .btn-banner-link {
      position: absolute;
      top: 43vw;
      width: 26.4vw;
      font-size: 0;

      &.app-store {
        left: 2.6vw;
      }
      &.google-play {
        left: 31vw;
      }
    }
  }
}
