/*
@charset "UTF-8";
@font-face { font-family: 'SpoqaHanSansNeo'; font-weight: 700; src: local("Spoqa Han Sans Neo Bold"), url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype"); }
@font-face { font-family: 'SpoqaHanSansNeo'; font-weight: 500; src: local("Spoqa Han Sans Neo Medium"), url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Medium.ttf") format("truetype"); }
@font-face { font-family: 'SpoqaHanSansNeo'; font-weight: 400; src: local("Spoqa Han Sans Neo Regular"), url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype"); }
@font-face { font-family: 'SpoqaHanSansNeo'; font-weight: 300; src: local("Spoqa Han Sans Neo Light"), url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Light.ttf") format("truetype"); }
*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }
body { -webkit-text-size-adjust: none; font-weight: 400; line-height: 1.5; font-size: 17px; letter-spacing: -0.1px; font-family: 'SpoqaHanSansNeo', 'Malgun Gothic', '맑은 고딕', sans-serif; color: #000; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, figure, figcaption { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; }
fieldset, img { border: 0 none; vertical-align: middle; }
dl, ul, ol, menu, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
input, select, textarea, button { font-size: 100%; vertical-align: middle; color: inherit; }
button { border: 0 none; background-color: transparent; cursor: pointer; }
table { border-collapse: collapse; border-spacing: 0; }
input[type='text'], input[type='password'], input[type='submit'], input[type='search'], input[type='number'], input[type='tel'], input[type='email'] { -webkit-appearance: none; border-radius: 0; }
button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] { -webkit-appearance: button; border-radius: 0; }
input, select, textarea, button, pre { font-family: 'SpoqaHanSansNeo', 'Malgun Gothic', '맑은 고딕', sans-serif; }
a { color: inherit; text-decoration: none; }
address, caption, cite, code, dfn, em, var { font-style: normal; }
caption { overflow: hidden; display: block; position: relative; z-index: -1; border: 0; width: 1px; height: 1px; margin: -1px; clip: rect(1px, 1px, 1px, 1px); }
select { -webkit-appearance: none; border: 1px solid #8e8e8e; font-family: inherit; }
select::-ms-expand { display: none; }
b, strong { font-weight: 700; }
i { font-style: normal; }
textarea { font-size: 100%; background: #fff; -webkit-appearance: none; border-radius: 0; }
textarea::-webkit-input-placeholder { font-size: 100%; }
textarea:-ms-input-placeholder { font-size: 100%; }
textarea::-ms-input-placeholder { font-size: 100%; }
textarea::placeholder { font-size: 100%; }
legend { overflow: hidden; display: inline-block; position: absolute; z-index: -1; border: 0; width: 0; height: 0; font-size: 0; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); }
main { display: block; }
::-webkit-input-placeholder { vertical-align: middle; color: #949494 !important; font-weight: 400; }
:-webkit-input-placeholder { vertical-align: middle; color: #949494 !important; font-weight: 400; }
::-moz-placeholder { vertical-align: middle; color: #949494 !important; font-weight: 400; }
:-moz-placeholder { vertical-align: middle; color: #949494 !important; font-weight: 400; }
:-ms-input-placeholder { vertical-align: middle; color: #949494 !important; font-weight: 400; }
input[type='search']::-ms-clear, input[type='search']::-ms-reveal { display: none; width: 0; height: 0; }
input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-results-button, input[type='search']::-webkit-search-results-decoration { -webkit-appearance: none; }
#accessibility { position: absolute; top: 0; width: 100%; margin: 0 auto; z-index: 9999; }
#accessibility a { text-indent: 0; background: #000; position: absolute; z-index: 1; top: -500px; width: 100%; padding: 5px 0px; text-align: center; }
#accessibility a:active { top: 0; font-size: 14px; font-weight: 700; color: #fff; }
#accessibility a:focus { top: 0; font-size: 14px; font-weight: 700; color: #fff; }
.loader-box { position: fixed; top: 0; bottom: 0; left: 0; right: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.loader { position: relative; margin: 0px auto; width: 40px; }
.loader:before { content: ''; display: block; padding-top: 100%; }
.loader-circular { -webkit-animation: load-rotate 2s linear infinite; animation: load-rotate 2s linear infinite; height: 100%; -webkit-transform-origin: center center; transform-origin: center center; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.loader-path { stroke-dasharray: 1, 200; stroke-dashoffset: 0; -webkit-animation: load-dash 1.5s ease-in-out infinite, load-color 6s ease-in-out infinite; animation: load-dash 1.5s ease-in-out infinite, load-color 6s ease-in-out infinite; stroke-linecap: round; }
 */

.ir { overflow: hidden; display: inline-block; position: relative; z-index: -1; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); -webkit-clip-path: inset(50%); clip-path: inset(50%); }
.blind { overflow: hidden; position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; }
.show-pc { display: block !important; }
.show-mobile { display: none !important; }
.al-center { text-align: center !important; }
.al-left { text-align: left !important; }
.al-right { text-align: right !important; }
.sp-mt { margin-top: 0 !important; }
.sp-ml { margin-left: 0 !important; }
.sp-mr0 { margin-right: 0 !important; }
.sp-mb0 { margin-bottom: 0 !important; }
.sp-pt { padding-top: 0 !important; }
.sp-pl { padding-left: 0 !important; }
.sp-pr0 { padding-right: 0 !important; }
.sp-pb0 { padding-bottom: 0 !important; }
button span { position: relative; }

/* 스토리 기본 스타일 */
.news-story {
	padding-bottom: 100px;
	font-size: 17px;
}


.head-title { font-size: 40px; font-weight: 500; line-height: 1.45; letter-spacing: -0.43px; }/* 220304 modify */
@media all and (min-width: 900px) and (max-width: 1399px) {
	.head-title { font-size: 2.85714vw; } /* 220304 modify */
}
@media all and (max-width: 899px) {
	.head-title { font-size: 25px; letter-spacing: -.23px; } /* 220304 modify */
}




.s__inner { position: relative; margin: 0 auto; max-width: 1028px; }

.component-key-visual { position: relative; color: #fff; }

.component-key-visual .s-main-poster { position: relative; padding-top: 56.25%; height: 100%; overflow: hidden; }

.component-key-visual .s-main-poster img, .component-key-visual .s-main-poster video { overflow: hidden; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 0; bottom: 0; width: auto; height: 100%; }

.component-key-visual .s-main-poster:before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); content: ""; display: block; width: 100%; height: 100%; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(94%, rgba(0, 0, 0, 0.6))); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 94%); z-index: 1; }

.component-key-visual .s-main-poster__img-ws { display: block; }

.component-key-visual .s-main-poster__img-ms { display: none; }

.component-key-visual .s-main-cont { position: absolute; bottom: 0; left: 0; right: 0; z-index: 2; }

.component-key-visual .s__inner { margin-bottom: 50px; }

.component-key-visual .s-main__sub-txt { line-height: 1.76; letter-spacing: -0.21px; }

.component-key-visual .s-main__sub-txt span + span { margin-left: 12px; }

.component-key-visual .s-main__sub-txt .icon-time:before { width: 24px; height: 24px; background-image: url("../../assets/images/common/ico_time.svg"); }

.component-key-visual .txt-bar { position: relative; padding-left: 12px; display: inline-block; }

.component-key-visual .txt-bar:before { content: ''; display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 0; width: 1px; height: 17px; background-color: rgba(255, 255, 255, 0.2); }

.component-key-visual .head-title { margin-top: 4px; }

.component-key-visual .btn-etc { margin-top: 30px; }

.component-key-visual .btn-etc:after { clear: both; content: ''; display: block; }

.component-key-visual .btn-etc .col-l { float: left; }

.component-key-visual .btn-etc .col-r { float: right; }

.component-key-visual .col-r .c-platbox-wrap { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); text-align: center; }

.component-key-visual .col-r .c-platbox-wrap ul { text-align: left; }

.component-key-visual .col-r .c-platbox-wrap .btn-icon__link:before { background-image: url("../../assets/images/common/ico_link_black.svg"); }

.component-summary { padding: 80px 0 20px; }

.component-summary .s-summary__txt { font-size: 30px; font-weight: 400; line-height: 1.67; letter-spacing: -0.21px; }

.component-summary-list { padding: 40px 0; }

.component-summary-list .s-summary__list { font-weight: 700; line-height: 1.88; letter-spacing: -0.21px; color: #111; }

.component-summary-list .s-summary__list li { position: relative; padding-left: 34px; background: url(../../assets/images/common/icn-arrow-regular.svg) no-repeat 0 4px/24px auto; }

.component-anchor .btn-toggle { display: none; position: absolute; left: 24px; top: 3px; width: 24px; height: 24px; background: url("../../assets/images/common/ico_sticky_list_unfold.svg") no-repeat center/100% auto; z-index: 5; }

.component-anchor .sticky-area { padding: 40px 0; -webkit-transition: all 0.3s; transition: all 0.3s; }

.component-anchor.is-sticky { border-bottom: 0; }

.component-anchor.is-sticky .sticky-area { position: fixed; top: 0; left: 0; right: 0; padding: 24px 0; background: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.1); overflow: hidden; z-index: 110; }

.component-anchor.is-sticky .s__inner { max-width: 1240px; }

.component-anchor.is-sticky .btn-toggle { display: block; }

.component-anchor.is-sticky .s-anchor__list { padding-left: 64px; border-left: 0; }

.component-anchor.is-sticky .s-anchor__list li { display: none; opacity: 0.45; margin-top: 0; }

.component-anchor.is-sticky .s-anchor__list li.on { display: block; opacity: 1; }

.component-anchor.is-sticky li.on { font-weight: 500; }

.component-anchor.is-sticky.is-open { height: auto; }

.component-anchor.is-sticky.is-open .btn-toggle { background-image: url("../../assets/images/common/ico_sticky_list_fold.svg"); }

.component-anchor.is-sticky.is-open li { display: block; }

.component-anchor.is-sticky.is-open li + li { margin-top: 6px; }

.component-anchor .s-anchor__list { padding-left: 20px; border-left: 4px solid rgba(17, 17, 17, 0.2); }

.component-anchor .s-anchor__list li + li { margin-top: 6px; }

.component-anchor .s-anchor__list a { color: #111; line-height: 1.88; letter-spacing: -0.21px; }

.component-anchor .s-anchor__list a:hover { font-weight: 700; }

.component-heading { padding: 80px 0 20px; }

.component-sub { padding: 40px 0 10px; }

.component-sub .s-sub-title { display: block; font-size: 24px; font-weight: 700; line-height: 1.5; letter-spacing: -0.21px; }

.component-content { padding: 10px 0 20px; }

.component-content .s-cont__txt { color: #111; line-height: 1.88; letter-spacing: -0.21px; }

.component-content .s-cont__txt .tooltip-platbox { z-index: 1; }

.component-content .s-cont__txt .tooltip-platbox__text { color: #01428b; border-bottom: 1px dashed #01428b; }

.component-content .s-cont__txt .tooltip-platbox__text:focus + .tooltip-wrap, .component-content .s-cont__txt .tooltip-platbox__text:hover + .tooltip-wrap { display: inline-block; }

.component-content .s-cont__txt .tooltip__close { display: none; }

.component-content p { margin-bottom: 0.8em; }

.component-quotation { position: relative; padding: 130px 0; text-align: center; }

.component-quotation:before { content: ''; top: 40px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: block; width: 36px; height: 30px; background: url("../../assets/images/common/icon_quotation_blue_open.png") no-repeat center/100% auto; }

.component-quotation:after { content: ''; bottom: 40px; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); display: block; width: 36px; height: 30px; background: url("../../assets/images/common/icon_quotation_blue_close.png") no-repeat center/100% auto; }

.component-quotation p { font-size: 30px; line-height: 1.67; letter-spacing: -0.21px; }

.component-image { padding: 40px 0; }

.component-image .s__inner { max-width: 1240px; }

.component-image .img { overflow: hidden; border-radius: 10px; }

.component-image .img img { width: 100%; }

.component-image .txt { margin-top: 8px; color: #111; font-size: 13px; font-weight: 300; line-height: 1.76; letter-spacing: -0.21px; }

.component-parallax { position: relative; z-index: 100; margin: 40px 0; }

.component-parallax .parallax__container .parallax { left: 0; right: 0; }

.component-slide-image { padding: 40px 0; position: relative; }

.component-slide-image .s__inner { max-width: 1240px; }

.component-slide-image .s-box--black { position: relative; padding: 50px 106px 70px; background: #1f1f1f; border-radius: 10px; overflow: hidden; }

.component-slide-image .swiper-slide { opacity: 0.3; margin: 0 12px; }

.component-slide-image .swiper-slide-active { opacity: 1; }

.component-slide-image .swiper-scrollbar { width: 620px; height: 6px; background-color: rgba(255, 255, 255, 0.2); position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 40px; }

.component-slide-image .swiper-scrollbar-drag { border-radius: 3px; background: #fff; }

.component-slide-image .btn-unit__fullscreen { position: absolute; bottom: 30px; right: 30px; width: 72px; height: 72px; background-size: 30px auto; }

.component-slide-media { padding: 40px 0; }

.component-slide-media .s__inner { max-width: 1240px; }

.component-slide-media .act-snippet-wrap { margin: 0; }

.component-gallery { padding: 40px 0; }

.component-gallery .s__inner { max-width: 1240px; }

.component-gallery .s-gallery-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: -40px; }

.component-gallery .s-gallery-list li { position: relative; margin-top: 40px; width: calc((100% - 26px) / 2); }

.component-gallery .s-gallery-list .s-gallery__img { overflow: hidden; position: relative; display: block; }

.component-gallery .s-gallery-list .s-gallery__img .img { position: relative; overflow: hidden; height: 340px; border-radius: 10px; }

.component-gallery .s-gallery-list .s-gallery__img .img:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; right: 0; height: 85px; background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000)); background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000); opacity: 0.3; }

.component-gallery .s-gallery-list .s-gallery__img .img img { min-width: 100%; height: 100%; }

.component-gallery .s-gallery-list .btn-unit__fullscreen { position: absolute; bottom: 30px; right: 30px; z-index: 1; }

.component-gallery .s-gallery-list .s-gallery__txt { margin-top: 8px; font-size: 13px; font-weight: 300; line-height: 1.92; letter-spacing: -0.26px; }

.component-video { padding: 40px 0; }

.component-video .s__inner { max-width: 1240px; }

.component-video .video { overflow: hidden; position: relative; border-radius: 10px; height: 700px; vertical-align: top; }

.component-video .video * { width: 100%; vertical-align: top; }

.component-video .txt { margin-top: 8px; color: #111; font-size: 13px; font-weight: 300; line-height: 1.76; letter-spacing: -0.21px; }

.component-col2 { padding: 40px 0 20px; }

.component-col2 .s__inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.component-col2 .txt { line-height: 1.76; letter-spacing: -0.21px; }

.component-col2 .img { overflow: hidden; border-radius: 10px; }

.component-col2 .img img { width: 100%; }

.component-col2 .desc { margin-top: 16px; font-size: 13px; font-weight: 300; line-height: 1.76; letter-spacing: -0.21px; }

.component-col2 .component-video { padding: 0; }

.component-col2 .component-video .video { height: auto; }

.component-col2.type1 .s-col-box { width: 46.5%; }

.component-col2.type1 .s-col-box .s-slide-fraction .s-slide-btn { top: 110px; }

.component-col2.type1 .s-col-box .s-slide-fraction .swiper-pagination-fraction { top: 230px; }

.component-col2.type2 .s-col-box:first-of-type { width: 59.2%; }

.component-col2.type2 .s-col-box:last-of-type { width: 36.3%; }

.component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .s-slide-btn { top: 80px; }

.component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .swiper-pagination-fraction { top: 175px; }

.component-col2.type3 .s__inner { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

.component-col2.type3 .s-col-box:first-of-type { width: 59.2%; }

.component-col2.type3 .s-col-box:last-of-type { width: 36.3%; }

.component-col2.type3 .txt { line-height: 1.76; letter-spacing: -0.21px; }

.component-col2 p { margin-bottom: 0.8em; }

.component-recommend-ly { position: fixed; left: 50%; bottom: 30px; margin-left: -620px; z-index: 100; }

.component-recommend-ly .tooltip-platbox { display: none; }

.component-recommend-ly .tooltip-platbox.is-open { display: inline; opacity: 0; }

.component-recommend-ly .tooltip-wrap { position: relative; z-index: 3; }

.component-recommend-ly .tooltip { width: 490px; height: auto; padding: 11px 30px 20px 20px; border-radius: 10px; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }

.component-recommend-ly .tooltip__link { display: block; }

.component-recommend-ly .tooltip__title { padding-bottom: 10px; font-size: 13px; letter-spacing: -0.21px; }

.component-recommend-ly .tooltip__img { margin-right: 14px; width: 114px; height: 64px; border: 0; border-radius: 12px; }

.component-recommend-ly .tooltip__img-ws { display: block; }

.component-recommend-ly .tooltip__img-ms { display: none; }

.component-recommend-ly .tooltip__text { margin-top: 3px; }

.component-recommend-ly .tooltip__text .inner { height: auto; margin-bottom: 4px; font-size: 17px; line-height: 1.88; letter-spacing: -0.21px; display: inline-block; overflow: hidden; max-width: 100%; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; }

.component-recommend-ly .tooltip__text .info { font-size: 13px; line-height: 1.76; letter-spacing: -0.21px; }

.component-recommend-ly .tooltip__text .info span + span { margin-left: 20px; }

.component-recommend-ly .tooltip__close { position: absolute; right: 0; top: 0; width: 40px; height: 40px; }

.component-recommend-ly .tooltip__close:before { content: ''; display: block; width: 18px; height: 18px; background: url("../../assets/images/common/ico_close_black.svg") no-repeat 0 0/100% auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.component-etc { max-width: 1028px; margin: 100px auto 120px; }

.component-etc .share-group.type-center { text-align: center; }

.component-etc .share-group.type-center .c-platbox-wrap { width: auto; text-align: left; }

.component-etc .btns-wrap { margin: 30px 0 0 0; }

.component-byline { padding: 40px 0 60px; border-top: 1px solid rgba(0, 0, 0, 0.1); color: #111; }

.component-byline .s-byline__list { display: -webkit-box; display: -ms-flexbox; display: flex; line-height: 1.76; letter-spacing: -0.21px; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.component-byline .s-byline__list li { position: relative; display: inline-block; padding: 0 8px; vertical-align: top; font-size: 15px; line-height: 2.13; letter-spacing: -0.19px; }

.component-byline .s-byline__list li::before { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 0; display: block; content: ""; width: 1px; height: 18px; background: rgba(0, 0, 0, 0.1); }

.component-byline .s-byline__list li:first-child { padding-left: 0; }

.component-byline .s-byline__list li:first-child:before { display: none; }

.component-byline .s-byline__list:after { clear: both; content: ''; display: block; }

.component-byline .s-byline__text { font-size: 13px; font-weight: 300; line-height: 1.76; letter-spacing: -0.21px; }

.component-byline .s-byline__block { display: block; margin-top: 6px; font-size: 13px; line-height: 1.85; letter-spacing: -0.09px; }

.component-byline .s-byline__link { color: #01428b; }

.component-byline .s-byline__link.link--under { text-decoration: underline; }

.s-slide-image { position: relative; }

.s-slide-image .s-slide__img { overflow: hidden; position: relative; width: 100%; border-radius: 10px; }

.s-slide-image .s-slide__img img { width: 100%; }

.s-slide-image .s-slide__desc { margin-top: 8px; color: #fff; font-size: 13px; font-weight: 300; line-height: 1.76; letter-spacing: -0.21px; }

.s-slide-image:hover .s-slide-btn { opacity: 1; }

.s-slide-btn { overflow: hidden; width: 50px; height: 50px; margin-top: 0; top: 314px; border-radius: 50%; background-color: #fff; background-image: none; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); -webkit-transition: opacity 0.3s linear; transition: opacity 0.3s linear; }

.s-slide-btn:before { content: ''; display: block; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 36px; height: 36px; background: url("../../assets/images/common/ico_arrow_bold.svg") no-repeat center/100%; }

.s-slide-btn.swiper-button-disabled { display: none; opacity: 0; }

.s-slide-btn.swiper-button-prev { left: 20px; }

.s-slide-btn.swiper-button-prev:before { -webkit-transform: translate(-50%, -50%) rotate(180deg); transform: translate(-50%, -50%) rotate(180deg); }

.s-slide-btn.swiper-button-next { right: 20px; }

.s-slide-fraction { overflow: hidden; position: relative; border-radius: 10px; }

.s-slide-fraction .s-slide-image .s-slide__img { height: auto; }

.s-slide-fraction .s-slide-btn { position: absolute; top: 160px; }

.s-slide-fraction .swiper-pagination-fraction { left: auto; right: 20px; top: 300px; display: inline-block; width: auto; height: 23px; padding: 0 8px; color: #fff; font-size: 13px; font-weight: 500; border-radius: 4px; line-height: 1.76; letter-spacing: -0.21px; text-align: center; background-color: rgba(0, 0, 0, 0.2); }

.btn-top-wrap { z-index: 110; position: fixed; left: 50%; bottom: 20px; margin-left: 646px; display: none; }

.btn-top-wrap .btn-unit { width: 54px; height: 54px; -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }

.btn-top-wrap .btn-unit__top { background: #fff url("../../assets/images/common/ico_arrow_top.svg") no-repeat center/36px; }

.full-screen-ly-pop { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 25px 100px; background-color: rgba(0, 0, 0, 0.8); z-index: 1000; }

.full-screen-ly-cont { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: calc(100% - 200px); max-width: 1440px; padding: 55px 100px; }

.full-screen-ly-slide { overflow: hidden; margin: 0 auto; height: calc(100vh - 160px); max-height: 864px; max-width: 1240px; }

.full-screen-ly-slide .full-image img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: auto; height: auto; max-width: 100%; max-height: 100%; }

.full-screen-ly-slide .s-slide-btn { opacity: 1; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.full-screen-ly-slide .s-slide-btn.swiper-button-next { right: 30px; }

.full-screen-ly-slide .s-slide-btn.swiper-button-prev { left: 30px; }

.full-screen-ly-slide .swiper-pagination-wrap { position: absolute; top: 0; left: 0; padding: 0 100px; width: 100%; color: #fff; line-height: 1.76; letter-spacing: -0.21px; text-align: left; }

.full-screen-ly-slide .swiper-pagination-wrap .swiper-pagination { display: inline-block; position: static; margin-right: 16px; width: auto; opacity: 0.7; text-align: left; }

.full-screen-ly-slide .swiper-pagination-wrap .swiper-pagination__txt { display: inline-block; }

.btn-unit__full-close { position: absolute; top: -10px; right: 100px; background-image: url("../../assets/images/common/ico_fullscreen_close.svg"); background-size: 22px; }

@media all and (min-width: 900px) and (max-width: 1399px) { .has-overlay .full-ly-container { padding-top: 5.71429vw; }
  .has-overlay .shadow-box.type-full { top: -5.71429vw; }
  [data-layout=scale] .full-ly-container { padding-top: 5.71429vw; }
  [data-layout=scale] .shadow-box.type-full { top: -5.71429vw; }
  .full-ly-close { top: 1.07143vw; margin-left: 0; left: auto; right: 0.6vw; }
  .full-ly-close .btn-ly-close:before { width: 1.78571vw; height: 1.78571vw; }
  .full-ly-btns .btn-dir { position: fixed; top: 50%; width: 3.57143vw; height: 3.57143vw; }
  .full-ly-btns .btn-dir--prev { margin: 0; left: 3.57143vw; }
  .full-ly-btns .btn-dir--next { margin: 0; right: 1.07143vw; }
  html.device-pc, html.device-pc body { width: 100%; }
  html.device-pc .full-ly-btns .btn-dir--prev { left: 3.14286vw; }
  html.device-pc .btn-top-wrap { margin: 0; left: auto; right: 0.57143vw; }
  .full-ly-container { padding-bottom: 7.14286vw; }
  .shadow-box { width: 88.57143vw; -webkit-box-shadow: 0 0 2.85714vw 0 rgba(0, 0, 0, 0.5); box-shadow: 0 0 2.85714vw 0 rgba(0, 0, 0, 0.5); border-radius: 0.71429vw; }
  .s__inner { max-width: 73.42857vw; }
  .component-key-visual .s__inner { margin-bottom: 3.57143vw; }
  .component-key-visual .s-main__sub-txt span + span { margin-left: 0.85714vw; }
  .component-key-visual .s-main__sub-txt .icon-time:before { width: 1.71429vw; height: 1.71429vw; }
  .component-key-visual .txt-bar { padding-left: 0.85714vw; }
  .component-key-visual .txt-bar:before { width: 0.07143vw; height: 1.21429vw; }
  .component-key-visual .head-title { margin-top: 0.28571vw; }
  .component-key-visual .btn-etc { margin-top: 2.14286vw; }
  .component-summary { padding: 5.71429vw 0 1.42857vw; }
  .component-summary .s-summary__txt { font-size: 2.14286vw; }
  .component-anchor .btn-toggle { left: 1.71429vw; top: 0.21429vw; width: 1.71429vw; height: 1.71429vw; }
  .component-anchor .sticky-area { padding: 2.85714vw 0; }
  .component-anchor.is-sticky .sticky-area { padding: 1.71429vw 0; }
  .component-anchor.is-sticky .s__inner { max-width: 88.57143vw; }
  .component-anchor.is-sticky .s-anchor__list { padding-left: 4.57143vw; }
  .component-anchor.is-sticky .s-anchor__list li { margin-top: 0; }
  .component-anchor.is-sticky.is-open li + li { margin-top: 0.42857vw; }
  .component-anchor .s-anchor__list { padding-left: 1.42857vw; border-left: 0.28571vw solid rgba(17, 17, 17, 0.2); }
  .component-anchor .s-anchor__list li + li { margin-top: 0.42857vw; }
  .component-heading { padding: 5.71429vw 0 1.42857vw; }
  .component-sub { padding: 2.85714vw 0 0.71429vw; }
  .component-sub .s-sub-title { font-size: 1.71429vw; }
  .component-content { padding: 0.71429vw 0 1.42857vw; }
  .component-quotation { padding: 9.28571vw 0; }
  .component-quotation:before { top: 2.85714vw; width: 2.57143vw; height: 2.14286vw; }
  .component-quotation:after { bottom: 2.85714vw; width: 2.57143vw; height: 2.14286vw; }
  .component-quotation p { font-size: 2.14286vw; }
  .component-image { padding: 2.85714vw 0; }
  .component-image .s__inner { max-width: 88.57143vw; }
  .component-image .img { border-radius: 0.71429vw; }
  .component-image .txt { margin-top: 0.57143vw; font-size: 0.92857vw; }
  .component-parallax { margin: 2.85714vw 0; }
  .component-slide-image { padding: 2.85714vw 0; }
  .component-slide-image .s__inner { max-width: 88.57143vw; }
  .component-slide-image .s-box--black { padding: 3.57143vw 7.57143vw 5vw; border-radius: 0.71429vw; }
  .component-slide-image .swiper-slide { margin: 0 0.85714vw; }
  .component-slide-image .swiper-scrollbar { width: 44.28571vw; height: 0.42857vw; bottom: 2.85714vw; }
  .component-slide-image .swiper-scrollbar-drag { border-radius: 0.21429vw; }
  .component-slide-image .btn-unit__fullscreen { bottom: 2.14286vw; right: 2.14286vw; width: 5.14286vw; height: 5.14286vw; background-size: 2.14286vw auto; }
  .component-slide-media { padding: 2.85714vw 0; }
  .component-slide-media .s__inner { max-width: 88.57143vw; }
  .component-gallery { padding: 2.85714vw 0; }
  .component-gallery .s__inner { max-width: 88.57143vw; }
  .component-gallery .s-gallery-list { margin-top: -2.85714vw; }
  .component-gallery .s-gallery-list li { margin-top: 2.85714vw; width: calc((100% - 1.857vw) / 2); }
  .component-gallery .s-gallery-list .s-gallery__img .img { height: 24.28571vw; border-radius: 0.71429vw; }
  .component-gallery .s-gallery-list .s-gallery__img .img:after { height: 6.07143vw; }
  .component-gallery .s-gallery-list .btn-unit__fullscreen { bottom: 2.14286vw; right: 2.14286vw; }
  .component-gallery .s-gallery-list .s-gallery__txt { margin-top: 0.57143vw; font-size: 0.92857vw; }
  .component-video { padding: 2.85714vw 0; }
  .component-video .s__inner { max-width: 88.57143vw; }
  .component-video .video { border-radius: 0.71429vw; height: 50vw; }
  .component-video .txt { margin-top: 0.57143vw; font-size: 0.92857vw; }
  .component-col2 { padding: 2.85714vw 0 1.42857vw; }
  .component-col2 .img { border-radius: 0.71429vw; }
  .component-col2 .desc { margin-top: 1.14286vw; font-size: 0.92857vw; }
  .component-col2.type1 .s-col-box { width: calc((100% - 5.286vw) / 2); }
  .component-col2.type1 .s-col-box .s-slide-fraction .s-slide-btn { top: 7.85714vw; }
  .component-col2.type1 .s-col-box .s-slide-fraction .swiper-pagination-fraction { top: 16.42857vw; }
  .component-col2.type2 .s-col-box:first-of-type { width: 43.42857vw; }
  .component-col2.type2 .s-col-box:last-of-type { width: 26.64286vw; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .s-slide-btn { top: 5.71429vw; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .swiper-pagination-fraction { top: 12.5vw; }
  .component-col2.type3 .s-col-box:first-of-type { width: 43.42857vw; }
  .component-col2.type3 .s-col-box:last-of-type { width: 26.64286vw; }
  .component-recommend-ly { bottom: 2.14286vw; margin-left: -44.28571vw; }
  .component-recommend-ly .tooltip { width: 35vw; padding: 0.78571vw 2.14286vw 1.42857vw 1.42857vw; border-radius: 0.71429vw; }
  .component-recommend-ly .tooltip__title { padding-bottom: 0.71429vw; font-size: 0.92857vw; }
  .component-recommend-ly .tooltip__img { margin-right: 1vw; width: 8.14286vw; height: 4.57143vw; border-radius: 0.85714vw; }
  .component-recommend-ly .tooltip__text { margin-top: 0.21429vw; }
  .component-recommend-ly .tooltip__text .inner { margin-bottom: 0.28571vw; font-size: 1.21429vw; }
  .component-recommend-ly .tooltip__text .info { font-size: 0.92857vw; }
  .component-recommend-ly .tooltip__text .info span + span { margin-left: 1.42857vw; }
  .component-recommend-ly .tooltip__close { width: 2.85714vw; height: 2.85714vw; }
  .component-recommend-ly .tooltip__close:before { width: 1.28571vw; height: 1.28571vw; }
  .component-etc { max-width: 73.42857vw; margin: 7.14286vw auto 8.57143vw; }
  .component-etc .tags-block { margin: 2.14286vw 0 0 0; }
  .s-slide-image .s-slide__img { border-radius: 0.71429vw; }
  .s-slide-image .s-slide__desc { margin-top: 0.57143vw; font-size: 0.92857vw; }
  .s-slide-btn { width: 3.57143vw; height: 3.57143vw; top: 22.42857vw; }
  .s-slide-btn:before { width: 2.57143vw; height: 2.57143vw; }
  .s-slide-btn.swiper-button-prev { left: 1.42857vw; }
  .s-slide-btn.swiper-button-next { right: 1.42857vw; }
  .s-slide-fraction { border-radius: 0.71429vw; }
  .s-slide-fraction .swiper-pagination-fraction { right: 1.42857vw; top: 21.42857vw; height: 1.64286vw; padding: 0 0.57143vw; font-size: 0.92857vw; border-radius: 0.28571vw; }
  .s-slide-fraction .s-slide-btn { top: 11.42857vw; }
  .s-byline__list { letter-spacing: -0.015vw; }
  .s-byline__list li { padding: 0 0.57143vw; font-size: 1.07143vw; letter-spacing: -0.01357vw; }
  .s-byline__list li::before { height: 1.28571vw; }
  .s-byline__text { font-size: 0.92857vw; letter-spacing: -0.01429vw; }
  .s-byline__block { margin-top: 0.42857vw; font-size: 0.92857vw; letter-spacing: -0.00643vw; }
  .btn-top-wrap { bottom: 1.42857vw; margin-left: 45.71429vw; }
  .btn-top-wrap .btn-unit { width: 3.85714vw; height: 3.85714vw; }
  .btn-top-wrap .btn-unit__top { background-size: 2.57143vw; }
  .full-screen-ly-pop { padding: 1.78571vw 7.14286vw; }
  .full-screen-ly-cont { width: calc(100% - 14.3vw); max-width: 102.85714vw; padding: 3.92857vw 7.14286vw; }
  .full-screen-ly-slide { height: calc(100vh - 11.43vw); max-height: 61.71429vw; max-width: 88.57143vw; }
  .full-screen-ly-slide .s-slide-btn.swiper-button-next { right: 2.14286vw; }
  .full-screen-ly-slide .s-slide-btn.swiper-button-prev { left: 2.14286vw; }
  .full-screen-ly-slide .swiper-pagination-wrap { padding: 0 7.14286vw; }
  .full-screen-ly-slide .swiper-pagination-wrap .swiper-pagination { margin-right: 1.14286vw; }
  .btn-unit__full-close { top: -0.71429vw; right: 7.14286vw; background-size: 1.57143vw; } }

@media all and (max-width: 899px) { .has-overlay .shadow-box.type-full { border-radius: 10px; }
  [data-layout=scale] .shadow-box.type-full { border-radius: 10px; top: 0; }
  .s__inner { max-width: 796px; }
  .full-ly-wrap.has--recommend-ly .full-ly-container { padding-bottom: 100px; }
  .full-ly-container { padding-bottom: 0; }
  .full-ly-close { top: 20px; left: auto; right: 10px; margin-left: 0; }
  .full-ly-close .btn-ly-close { width: 36px; height: 36px; }
  .full-ly-close .btn-ly-close:before { content: ''; display: block; width: 18px; height: 18px; background: url("../../assets/images/common/ico_close_black.svg") no-repeat 0 0/100% auto; }
  .shadow-box { width: 100%; margin: 0; }
  .component-key-visual { height: 504px; }
  .component-key-visual .s__inner { margin-bottom: 30px; }
  .component-key-visual .s-main__sub-txt { line-height: 1.71; letter-spacing: -0.1px; }
  .component-key-visual .s-main__sub-txt span + span { margin-left: 6px; }
  .component-key-visual .s-main__sub-txt .icon-time:before { margin-top: -3px; width: 18px; height: 18px; }
  .component-key-visual .txt-bar { padding-left: 10px; }
  .component-key-visual .txt-bar:before { height: 14px; background-color: rgba(255, 255, 255, 0.5); }
  .component-key-visual .head-title { margin-top: 8px; line-height: 1.4; letter-spacing: -0.23px; }
  .component-key-visual .btn-etc { margin-top: 24px; }
  .component-key-visual .c-platbox-wrap .btn-icon__link:before { background-image: url("../../assets/images/common/ico_link_black.svg"); }
  .component-key-visual .btn-line { font-size: 14px; line-height: 1.71; letter-spacing: -0.1px; }
  .component-summary { padding: 40px 0 16px; }
  .component-summary .s-summary__txt { font-size: 20px; line-height: 1.6; }
  .component-anchor .btn-toggle { left: 20px; top: -1px; }
  .component-anchor.is-sticky .sticky-area { padding: 26px 0 15px; }
  .component-anchor.is-sticky .s__inner { max-width: unset; }
  .component-anchor.is-sticky .s-anchor__list { padding-left: 60px; }
  .component-anchor.is-sticky .s-anchor__list li { opacity: 1; margin-top: 0; }
  .component-anchor.is-sticky.is-open li + li { margin-top: 8px; }
  .component-anchor .s-anchor__list li + li { margin-top: 8px; }
  .component-anchor .s-anchor__list a { font-size: 14px; line-height: 1.71; letter-spacing: -0.1px; }
  .component-heading { padding: 40px 0 16px; }
  .component-heading .page-title { font-size: 23px; line-height: 1.52; letter-spacing: -0.29px; }
  .component-sub { padding: 24px 0 12px; }
  .component-sub .s-sub-title { font-size: 18px; line-height: 1.67; letter-spacing: -0.05px; }
  .component-content { padding: 12px 0 20px; }
  .component-content .s-cont__txt { font-size: 16px; line-height: 1.75; letter-spacing: -0.02px; }
  .component-quotation { padding: 68px 0; }
  .component-quotation:before { top: 24px; width: 26px; height: 20px; }
  .component-quotation:after { bottom: 24px; width: 26px; height: 20px; }
  .component-quotation p { font-size: 20px; line-height: 1.6; letter-spacing: -0.03px; }
  .component-image { padding: 24px 0; }
  .component-image .s__inner { max-width: 796px; }
  .component-image .txt { color: #000; font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; }
  .component-parallax { margin: 24px 0; }
  .component-slide-image { padding: 24px 0; }
  .component-slide-image .s__inner { max-width: 796px; }
  .component-slide-image .s-box--black { padding: 24px 67px 34px; }
  .component-slide-image .swiper-slide { margin: 0 4px; }
  .component-slide-image .swiper-scrollbar { width: 44.44%; height: 4px; bottom: 12px; }
  .component-slide-image .swiper-scrollbar-drag { border-radius: 2px; }
  .component-slide-image .btn-unit__fullscreen { position: absolute; bottom: 16px; right: 16px; width: 36px; height: 36px; background-size: 15px; }
  .component-slide-media { padding: 24px 0; }
  .component-slide-media .s__inner { max-width: 796px; }
  .component-gallery { padding: 24px 0; }
  .component-gallery .s__inner { max-width: 796px; }
  .component-gallery .s-gallery-list { margin-top: -24px; }
  .component-gallery .s-gallery-list li { margin-top: 24px; width: calc((100% - 16px) / 2); }
  .component-gallery .s-gallery-list .s-gallery__img .img { height: 219px; }
  .component-gallery .s-gallery-list .s-gallery__img .img img { height: 100%; }
  .component-gallery .s-gallery-list .s-gallery__img .img:after { height: 40px; }
  .component-gallery .s-gallery-list .btn-unit { width: 24px; height: 24px; }
  .component-gallery .s-gallery-list .btn-unit__fullscreen { width: 24px; height: 24px; bottom: 10px; right: 10px; background-size: 10px auto; }
  .component-gallery .s-gallery-list .s-gallery__txt { margin-top: 8px; font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; }
  .component-video { padding: 24px 0; }
  .component-video .s__inner { max-width: 796px; }
  .component-video .video { border-radius: 10px; height: 448px; }
  .component-video .txt { color: #000; font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; }
  .component-col2 { padding: 24px 0 12px; }
  .component-col2 .desc { margin-top: 8px; font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; }
  .component-recommend-ly { margin-left: -398px; }
  .component-recommend-ly .tooltip { padding: 12px 30px 20px 20px; }
  .component-recommend-ly .tooltip__title { font-size: 16px; line-height: 1.75; letter-spacing: -0.02px; }
  .component-recommend-ly .tooltip__text .inner { font-size: 14px; line-height: 1.71; letter-spacing: -0.1px; }
  .component-recommend-ly .tooltip__text .info { font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; opacity: 0.7; }
  .component-etc { max-width: 796px; margin: 80px auto; }
  .component-byline { margin-top: 10px; padding: 20px 0 32px; }
  .component-byline .s-byline__list { font-size: 16px; line-height: 1.75; letter-spacing: -0.21px; }
  .component-byline .s-byline__text { margin-top: 20px; font-size: 14px; line-height: 1.71; letter-spacing: -.1px; }
  .component-byline .s-byline__block { margin-top: 10px; }
  .component-byline .s-byline__link { font-size: 14px; line-height: 1.71; letter-spacing: -.1px; }
  .component-summary-list .s-summary__list { font-size: 16px; line-height: 1.75; letter-spacing: -0.02px; }
  .component-summary-list .s-summary__list li { padding-left: 20px; background-size: 18px auto; background-position: 0 5px; }
  .component-image .txt { padding-left: 20px; padding-right: 20px; }
  .component-col2.type1 .s-col-box .s-slide-fraction .swiper-pagination-fraction { top: 178px; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .swiper-pagination-fraction { top: 135px; }
  .s-slide-image .s-slide__desc { font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; }
  .s-slide-btn { width: 35px; height: 35px; top: 192.5px; }
  .s-slide-btn:before { width: 30px; height: 30px; }
  .s-slide-fraction .swiper-pagination-fraction { right: 16px; top: 230px; height: 20px; font-size: 12px; line-height: 1.67; letter-spacing: -0.18px; }
  .s-slide-fraction .s-slide-btn { top: 140px; }
  .btn-top-wrap { margin-left: 366px; }
  .btn-top-wrap .btn-unit { width: 50px; height: 50px; }
  .btn-top-wrap .btn-unit__top { background-size: 32px; }
  .full-screen-ly-pop { padding: 56px 24px; }
  .full-screen-ly-cont { width: calc(100% - 48px); padding: 40px 50px; }
  .full-screen-ly-slide { height: calc(100vh - 192px); max-width: 100%; }
  .full-screen-ly-slide .s-slide-btn.swiper-button-next { right: 0; }
  .full-screen-ly-slide .s-slide-btn.swiper-button-prev { left: 0; }
  .full-screen-ly-slide .swiper-pagination-wrap { padding: 0 50px; font-weight: 500; line-height: 1.71; letter-spacing: -0.1px; }
  .full-screen-ly-slide .swiper-pagination-wrap .swiper-pagination { margin-right: 16px; }
  .btn-unit__full-close { right: 50px; background-size: 16px; } }

@media all and (max-width: 859px) { .has-overlay .full-ly-container { padding-top: 66px; }
  [data-layout=scale] .full-ly-container { padding-top: 66px; }
  .shadow-box { -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3); box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3); }
  .shadow-box .page-detail-byline { margin: 0 auto; max-width: 543px; }
  .s__inner { max-width: 543px; }
  .component-image .s__inner { max-width: 656px; }
  .component-slide-image .s__inner { max-width: 656px; }
  .component-slide-image .s-slide-btn { top: 160px; }
  .component-slide-media .s__inner { max-width: 656px; }
  .component-gallery .s__inner { max-width: 656px; }
  .component-gallery .s-gallery-list .s-gallery__img .img { height: 180px; }
  .component-video .s__inner { max-width: 656px; }
  .component-video .video { height: 369px; }
  .component-col2 .s__inner { display: block; }
  .component-col2.type1 .s-col-box { width: 100%; }
  .component-col2.type1 .s-col-box + .s-col-box { margin-top: 24px; }
  .component-col2.type1 .s-col-box .s-slide-fraction .s-slide-btn { top: 140px; }
  .component-col2.type1 .s-col-box .s-slide-fraction .swiper-pagination-fraction { top: 270px; }
  .component-col2.type1 .txt { line-height: 1.76; letter-spacing: -0.21px; }
  .component-col2.type2 .s-col-box:first-of-type { width: 100%; }
  .component-col2.type2 .s-col-box:last-of-type { width: 100%; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .s-slide-btn { top: 140px; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .swiper-pagination-fraction { top: 270px; }
  .component-col2.type2 .s-col-box + .s-col-box { margin-top: 24px; }
  .component-col2.type3 .s-col-box:first-of-type { width: 100%; }
  .component-col2.type3 .s-col-box:last-of-type { width: 100%; }
  .component-col2.type3 .s-col-box + .s-col-box { margin-top: 24px; }
  .component-recommend-ly { margin-left: -328px; }
  .component-etc .share-group.type-center { text-align: left; }
  .component-etc .tags-block { margin: 22px auto 72px; max-width: 543px; text-align: left; }
  .component-etc .tags-block .btn + .btn { margin-left: 0; }
  .component-etc .tags-block .btn { margin: 8px 4px 0 0; }
  .component-content .tooltip-platbox .tooltip-wrap { position: fixed; left: 50%; top: auto; bottom: 10px; margin: 0 0 0 -328px !important; z-index: 100; }
  .component-content .tooltip-platbox .tooltip { width: 490px; height: auto; }
  .component-content .tooltip-platbox .tooltip__close { position: absolute; right: 9px; top: 6px; display: block; width: 40px; height: 40px; }
  .component-content .tooltip-platbox .tooltip__close:before { content: ''; display: block; width: 18px; height: 18px; background: url("../../assets/images/common/ico_close_black.svg") no-repeat 0 0/100% auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .s-slide-fraction .swiper-pagination-fraction { top: 270px; }
  .s-slide-fraction .s-slide-btn { top: 140px; }
  .btn-top-wrap { margin-left: 290px; } }

@media all and (max-width: 719px) { .shadow-box { overflow: visible; }
  .full-ly-close { z-index: 115; }
  .s__inner { max-width: 448px; }
  .component-key-visual .s-main-poster__img-ws { display: block; }/* 220225 modify */
  .component-key-visual .s-main-poster__img-ms { display: none; }/* 220225 modify */
  .component-anchor .s-anchor__tit { display: none !important; display: inline-block; overflow: hidden; max-width: 100%; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; }
  .component-anchor.is-sticky .s-anchor__tit { display: block !important; padding: 0 60px; }
  .component-anchor.is-sticky .s-anchor__list { display: none; padding: 0 60px; }
  .component-anchor.is-sticky.is-open { -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2); border-bottom: 0; }
  .component-anchor.is-sticky.is-open li { display: block; }
  .component-anchor.is-sticky.is-open .s-anchor__list { display: block; margin: 19px -20px 0; padding: 24px 30px 15px 33px; border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .component-anchor.is-sticky.is-open .s-anchor__list li + li { margin-top: 0; }
  .component-anchor.is-sticky.is-open .s-anchor__list li.on a { color: #111; }
  .component-anchor.is-sticky.is-open .s-anchor__list li.on a:after { content: ''; display: block; left: 0; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 2px; height: 32px; background: #000; }
  .component-anchor.is-sticky.is-open .s-anchor__list li a { position: relative; padding: 10px 0 10px 17px; display: inline-block; overflow: hidden; max-width: 100%; text-overflow: ellipsis; vertical-align: middle; white-space: nowrap; color: rgba(17, 17, 17, 0.1); font-weight: 500; }
  .component-anchor.is-sticky.is-open .s-anchor__list li a:before { content: ''; display: block; position: absolute; left: 0; top: 0; width: 2px; height: 100%; background-color: rgba(0, 0, 0, 0.1); }
  .component-anchor.is-sticky.is-open .s-anchor__list li a:hover { color: #111; }
  .component-anchor.is-sticky.is-open .s-anchor__list li a:hover:after { content: ''; display: block; left: 0; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 2px; height: 32px; background: #000; }
  .component-image .s__inner { max-width: 488px; }
  .component-slide-image .s__inner { max-width: 488px; }
  .component-slide-image .s-slide-btn { top: 140px; }
  .component-slide-image .s-box--black { padding: 24px 20px 34px; }
  .component-slide-image .swiper-scrollbar { width: 160px; height: 4px; bottom: 12px; }
  .component-slide-media .s__inner { max-width: 448px; }
  .component-gallery .s__inner { max-width: 448px; }
  .component-gallery .s-gallery-list li { width: calc((100% - 8px) / 2); }
  .component-gallery .s-gallery-list .s-gallery__img .img { height: 123.75px; }
  .component-video .s__inner { max-width: 488px; }
  .component-video .video { height: 274.5px; }
  .component-recommend-ly { right: 0; left: 0; bottom: 0; margin-left: 0; }
  .component-recommend-ly .tooltip-platbox.is-open { display: block; }
  .component-recommend-ly .tooltip-platbox.is-open .tooltip-wrap { display: block; }
  .component-recommend-ly .tooltip { display: block; width: 100%; border-radius: 10px 10px 0 0; }
  .component-recommend-ly .tooltip__img { width: 80px; height: 80px; border-radius: 7px; }
  .component-recommend-ly .tooltip__img-ws { display: none; }
  .component-recommend-ly .tooltip__img-ms { display: block; }
  .component-recommend-ly .tooltip__text .inner { color: #111; display: inline-block; overflow: hidden; max-width: 100%; text-overflow: ellipsis; vertical-align: middle; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; }
  .component-recommend-ly .tooltip__close { position: absolute; right: 0; top: 0; display: block; width: 40px; height: 40px; }
  .component-recommend-ly .tooltip__close:before { content: ''; display: block; width: 18px; height: 18px; background: url("../../assets/images/common/ico_close_black.svg") no-repeat 0 0/100% auto; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .component-etc .tags-block { max-width: 448px; padding-left: 0px; padding-right: 0px; }
  .component-content .tooltip-platbox .tooltip-wrap { right: 0; left: 0; bottom: 0; margin: 0 !important; }
  .component-content .tooltip-platbox .tooltip { display: block; width: 100%; border-radius: 10px 10px 0 0; }
  .component-col2.type1 .s-col-box .s-slide-fraction .swiper-pagination-fraction { top: 215px; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .swiper-pagination-fraction { top: 215px; }
  .component .page-detail__contents .component-etc { margin-bottom: 80px; }
  .s-slide-image .s-slide__img { width: 100%; }
  .s-slide-fraction .swiper-pagination-fraction { top: 215px; }
  .btn-top-wrap { margin-left: 254px; }
  .full-screen-ly-pop { padding: 16px 24px; }
  .full-screen-ly-cont { top: 16px; padding: 40px 0 0 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
  .full-screen-ly-slide { height: calc(100vh - 56px); max-height: none; }
  .full-screen-ly-slide .swiper-pagination-wrap { padding: 0; }
  .btn-unit__full-close { top: -6px; right: 0; background-size: 16px; }
  .component-byline .s-byline__list li.s-byline__link { display: block; width: 100%; padding-left: 0; }
  .component-byline .s-byline__list li.s-byline__link:before { display: none; } }

@media all and (max-width: 630px) { .btn-top-wrap { margin-left: 0; right: 10px; left: auto; } }

@media all and (max-width: 488px) { .s__inner { max-width: 100%; padding: 0 20px; }
  .component-image .s__inner { max-width: 100%; padding: 0; }
  .component-image .img { border-radius: 0; }
  .component-slide-image .s__inner { max-width: 100%; padding: 0; }
  .component-slide-image .s-box--black { border-radius: 0; }
  .component-slide-media .s__inner { max-width: 100%; padding: 0 20px; }
  .component-gallery .s-gallery-list .s-gallery__img .img { height: auto; }
  .component-gallery .s-gallery-list .s-gallery__img .img img { width: 100%; }
  .component-video .s__inner { padding: 0; }
  .component-video .video { border-radius: 0; height: 56.25vw; }
  .component-video .txt { padding: 0 20px; }
  .component-etc .tags-block { max-width: 100%; padding: 0 20px; }
  .component-etc .btns-wrap { padding: 0 20px; }
  .component-col2.type1 .s-col-box .s-slide-fraction .swiper-pagination-fraction { top: 43.03279vw; }
  .component-col2.type2 .s-col-box:last-of-type .s-slide-fraction .swiper-pagination-fraction { top: 43.03279vw; }
  .s-slide-image .s-slide-btn { top: 27.72074vw; }
  .s-slide-fraction .swiper-pagination-fraction { top: 43.03279vw; } }

@media all and (min-width: 1441px) { [data-layout=scale].full-ly-wrap .full-ly-close, [data-layout=scale].full-ly-wrap .btn-top-wrap { left: auto; right: 15px; margin: 0; }
  [data-layout=scale].full-ly-wrap .full-ly-btns { left: auto; }
  [data-layout=scale].full-ly-wrap .full-ly-btns .btn-dir--prev, [data-layout=scale].full-ly-wrap .full-ly-btns .btn-dir--next { position: fixed; top: 50%; }
  [data-layout=scale].full-ly-wrap .full-ly-btns .btn-dir--prev { margin: 0; left: 50px; }
  [data-layout=scale].full-ly-wrap .full-ly-btns .btn-dir--next { margin: 0; right: 15px; }
  [data-layout=scale].full-ly-wrap .shadow-box { width: calc(100% - 80px * 2); } }

.page-print .shadow-box { width: 100%; margin-top: 0; -webkit-box-shadow: none; box-shadow: none; }

.page-print .full-ly-close { display: none; }

.page-print .page-detail-head .btn-etc { display: none; }

.page-print .component-etc .share-group { display: none; }

@media print { .shadow-box { width: 100% !important; margin: 0; page-break-after: always; } }




/* 후처리 */
.btn-etc { display: none; }
.component-parallax { height: auto !important; }
.component-parallax .s-parallax__img.parallax { background-size: cover; }