@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-style: normal;
  font-weight: 300;
  src: url('HyundaiSansHeadKRLight.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansHeadKRLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansHeadKRLight.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansHeadKRLight.woff') format('woff') /* Modern Browsers */
}
@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-style: normal;
  font-weight: 400;
  src: url('HyundaiSansHeadKRRegular.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansHeadKRRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansHeadKRRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansHeadKRRegular.woff') format('woff') /* Modern Browsers */
}
@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-style: normal;
  font-weight: 500;
  src: url('HyundaiSansHeadKRMedium.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansHeadKRMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansHeadKRMedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansHeadKRMedium.woff') format('woff') /* Modern Browsers */
}
@font-face {
  font-family: 'Hyundai Sans Head KR';
  font-style: normal;
  font-weight: 700;
  src: url('HyundaiSansHeadKRBold.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansHeadKRBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansHeadKRBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansHeadKRBold.woff') format('woff') /* Modern Browsers */
}


@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-style: normal;
  font-weight: 400;
  src: url('HyundaiSansTextKRRegular.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansTextKRRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansTextKRRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansTextKRRegular.woff') format('woff') /* Modern Browsers */
}
@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-style: normal;
  font-weight: 500;
  src: url('HyundaiSansTextKRMedium.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansTextKRMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansTextKRMedium.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansTextKRMedium.woff') format('woff') /* Modern Browsers */
}
@font-face {
  font-family: 'Hyundai Sans Text KR';
  font-style: normal;
  font-weight: 700;
  src: url('HyundaiSansTextKRBold.eot'); /* IE9 Compat Modes */
  src:
    url('HyundaiSansTextKRBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('HyundaiSansTextKRBold.woff2') format('woff2'), /* Super Modern Browsers */
    url('HyundaiSansTextKRBold.woff') format('woff') /* Modern Browsers */
}