.sub-page-container {
  &.building-info {
    .filter-box {
      .desc-box {
        p {
          &::before {
            display: none;
          }
        }
      }

      & > .button-box {
        justify-content: flex-start;
        margin-top: 2rem;
      }
      & + .button-box {
        @include flex(row, flex-end, flex-start);
      }
    }

    .filter-view-top-left {
      @include flex(row, flex-start, center);

      .search-list-box {
        .field-input {
          .field-form {
            .input-box {
              @include flex(row, space-between, center);
            }
          }
        }
        .button-box {
          margin: 0;
        }
      }
      .field-input {
        .field-form {
          width: 44rem;
          .input-box {
            display: block;
            input {
              width: 100%;
            }
          }
        }
      }

      .button-box {
        margin-left: 2.4rem;
      }
    }

    .filter-table-middle {
      margin-top: 3.6rem;
    }

    .law-table-box {
      .table-box {
        .table {
          th {
            padding: 0 1.6rem;
            font-size: 1.4rem;
            line-height: normal;
          }
          thead {
            th {
              height: 6.8rem;
              text-align: left;
            }
          }
          tbody {
            tr {
              &:hover {
                background: none;
              }
            }
            th {
              font-weight: 400;
            }
            td {
              padding: 0 1.6rem;
              text-align: left;
              .text-box {
                font-size: 1.4rem;
                line-height: normal;
              }
              .file-box {
                text-align: center;
              }
              .text-button-box {
                .btn-text {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
.building-info {
  .filter-table-middle {
    margin-top: 13.2rem;
  }
  .filter-table-bottom {
    margin-top: 13.2rem;
  }

  .filter-table-container {
    .filter-box {
      margin: 3.8rem 0 6.4rem;
      .title {
        @include flex(row, space-between, center);
        margin-bottom: 2.8rem;
        font-size: 2.4rem;
        font-weight: 700;
      }

      .filter-list {
        &.filter-list-address {
          .filter-info {
            .info-box {
              width: auto;
            }
          }
        }
      }
    }
    .filter-table-title-box {
      margin: 3.8rem 0;
      .title {
        @include flex(row, space-between, center);
        font-size: 2.4rem;
        font-weight: 700;
      }
      .desc-box {
        margin-top: 1.8rem;
        p {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .table-box {
    .table {
      border-top: 0.2rem solid $color_333;
    }
  }
}
.btn-building-history {
  @include flex(row, center, center);
  height: 3.6rem;
  padding: 0 1.6rem 0 2rem;
  border-radius: 0.8rem;
  border-color: $color_dcd;
  @include font(1.4rem, 500, $color_7f7, normal, 0);
}

.isotope-content-box {
  position: relative;
  // @include flex(row, flex-start, flex-start);
  .facility-block-container {
    width: 108.77777rem;
  }
  .facility-block-swiper-pagination {
    @include flex(row, center, center);
    position: absolute;
    bottom: -3.2rem;

    .swiper-pagination-bullet {
      opacity: 1;
      width: 0.8rem;
      min-width: 0.8rem;
      height: 0.8rem;
      margin: 0 0.4rem;
      background-color: $color_c4c;
      &.swiper-pagination-bullet-active {
        background-color: $primary;
      }
    }
  }

  .facility-block-swiper-button-prev,
  .facility-block-swiper-button-next {
    width: 6.4rem;
    height: 6.4rem;
    margin-top: -4rem;
    &::after {
      display: none;
    }
  }

  .facility-block-swiper-button-prev {
    background: asset-image('ic_go_before.svg') no-repeat center / 6.4rem;
  }
  .facility-block-swiper-button-next {
    background: asset-image('ic_go_next.svg') no-repeat center / 6.4rem;
  }
}
.search-list-box {
  &.active {
    .btn-search {
      display: none;
    }
    .search-result {
      display: block;
    }
    .search-list-button-box {
      display: block;
    }
    input[type='search'] {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  .field-input {
    &.field-small {
      .field-form {
        .btn {
          width: 3.4rem;
          min-width: 3.4rem;
        }
      }
      input[type='search'] {
        padding-right: 7.4rem;
      }
    }
  }
  .input-box {
    @include flex(row, flex-start, center);
    width: 100%;
    .input {
      width: 100%;
    }
  }
  .search-result {
    display: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    @include font(1.4rem, 400, $color_bfb, normal);
  }
  .search-list-button-box {
    display: none;
    margin-left: 0.8rem;
    .button-box {
      @include flex(row, flex-start, center);
    }
    .btn {
      @include flex(row, center, center);
      padding: 0;
    }
  }
}

.law-container {
  overflow: auto;
  max-height: 77.4rem;
  padding: 3.2rem;
  border-radius: 1.2rem;
  background-color: $color_faf;
  @include font(1.4rem, 400, $color_666, 140%, 0);
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $color_bfb;
    border-radius: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  .law-box {
    margin-top: 3.2rem;
    &:first-of-type {
      margin-top: 0;
    }
    .law-title-box {
      display: block;
      @include font(2rem, 700, $black, 140%, 0);
    }
    .law-sub-title {
      display: block;
      @include font(1.6rem, 700, $black, 140%, 0);
    }
    .law-content-box {
      margin-top: 1.6rem;
      &:first-of-type {
        margin-top: 0;
      }
      .law-link {
        @include flex(row, flex-start, center);
        margin-top: 1.6rem;
        font-weight: 500;
        color: $primary;
        &::after {
          content: '';
          display: inline-block;
          width: 2rem;
          height: 2rem;
          background: asset-image('ic_more_b.svg') no-repeat center / 2rem;
        }
      }
    }
    .law-desc {
      margin-top: 1.6rem;
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .building-info {
        &.sub-page-container {
          .sub-page-middle {
            margin-top: 2rem;
            > .tab-container {
              margin-bottom: 2.6rem;
              .tabs {
                @include clearfix;
                display: block;
                .tab {
                  float: left;
                  width: 50%;
                }
                .btn-tab {
                  display: none;
                  min-width: 10.7rem;
                  width: 100%;
                  &.tab-building,
                  &.tab-equipment {
                    display: block;
                  }
                }
              }
            }
          }

          &.equipment,
          &.equipment-info {
            .sub-page-middle {
              margin: 0;
            }
          }

          &.equipment-info {
            .tab-container {
              display: none;
            }

            .tab-content-box {
              margin: 0;
            }

            .filter-box {
              > .title {
                display: none;
              }
            }

            .filter-row {
              .filter-list {
                .filter-info {
                  .inner-table-box {
                    max-height: none;
                    col,
                    th,
                    td {
                      &:nth-child(1),
                      &:nth-child(4) {
                        display: none;
                      }
                    }

                    td {
                      > div {
                        max-width: 10rem;
                        margin: auto;
                      }
                    }
                  }
                }
              }
            }

            .filter-box {
              margin-top: 0;
              margin-bottom: 0;
              + .button-box {
                display: none;
              }
              .button-box {
                .btn-check-history {
                  max-width: 14rem;
                  margin: 0;
                }
              }
            }

            .btn-card-download {
              display: none;
            }
          }
        }

        &.equipment {
          .filter-table-middle {
            margin-top: 3.8rem;
          }
        }

        .sub-page-title {
          display: none;
        }

        .tab-container {
          + .tab-content-box {
            margin-top: 4rem;
          }
        }

        .filter-table-container {
          .filter-box {
            margin: 2.6rem 0 3.2rem;
            .title {
              margin-bottom: 2.4rem;
              font-size: 2rem;
              white-space: nowrap;
              .button-box {
                width: auto;
              }
            }

            .filter-info {
              flex-wrap: wrap;
            }

            .filter-list {
              &.filter-list-address {
                .btn {
                  flex: none;
                  width: auto;
                  min-width: unset;
                  margin-top: 1.2rem;
                  padding: 0 1.6rem;
                  font-size: 1.6rem;
                  line-height: 3.3rem;
                }
              }
            }

            .button-box {
              padding: 0;
              .btn-building-history {
                flex: none;
                height: auto;
                padding: 0;
                border: 0;
              }
            }
          }
        }

        .filter-view-container {
          .filter-view-top {
            position: relative;
          }
          .filter-view-top-right {
            .button-tooltip-box {
              .tooltip-container {
                .tooltip-box {
                  left: auto;
                  right: 0;
                  .tooltip-text {
                    padding: 0;
                    &:before {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }

        .filter-table-middle {
          margin-top: 6.4rem;
        }

        .filter-table-bottom {
          margin-top: 6.4rem;
        }
      }

      .isotope-content-box {
        // display: block;

        .facility-block-container {
          width: 100%;
        }

        .facility-block-swiper-button-prev,
        .facility-block-swiper-button-next {
          display: none;
        }

        .facility-block-swiper-pagination {
          display: block;
          margin: 0;
          bottom: -1.6rem;
        }
      }
    }
  }
}
