.survey-container {
  .survey-text-box {
    margin-bottom: 3.2rem;
    @include font(1.6rem, 400, $color_353, 2.2rem);
  }
  .field {
    flex-direction: column;
    .field-label {
      flex-basis: unset;
      padding-top: 0;
    }
    .field-form {
      margin-top: 2.4rem;
      width: 100%;
    }
  }
  .survey-bottom {
    margin-top: 2rem;
  }
  .survey-guide-text {
    margin-top: 0.8rem;
    @include font(1.4rem, 400, $color_666, 1.4);
  }
}

.notice-detail-container {
  .notice-detail-top {
    position: relative;
    padding-left: 2.8rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color_ebe;
    .title-box {
      @include font(1.6rem, 700, $color_353, 2rem);
      .ic {
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 2rem;
      }
    }
    .date-box {
      margin-top: 1.2rem;
      @include font(1.4rem, 400, $color_bfb, normal);
    }
  }

  .notice-detail-middle {
    margin-top: 2rem;
  }

  .download-box {
    @include flex(row, flex-start, center);
    position: relative;
    margin-bottom: 2rem;
    padding: 1.6rem 2rem;
    background-color: $color_f2f;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #353535;
    line-height: normal;
    letter-spacing: 0;
    &::before {
      content: '';
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.8rem;
      background: asset-image('ic_attached.svg') no-repeat center / 2.4rem;
    }
    .file-size,
    .file-name {
      z-index: 11;
      position: relative;
    }
    .file-size {
      display: none;
    }
    .download-link {
      z-index: 12;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: 0;
      font-size: 0;
      text-indent: -9999px;
    }
  }

  .notice-detail-content-box {
    .text {
      @include font(1.6rem, 400, $black, 2.2rem);
      word-break: keep-all;
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .sub-page-container {
        &.cs-survey {
          .sub-page-title {
            font-size: 2rem;
            line-height: 2.6rem;
          }
        }
      }

      .survey-list {
        .filter-table-container {
          .filter-table-middle {
            margin-top: 0;
          }
        }
        .mTable-lists {
          .mTable-list {
            .list-data-box {
              .list-sub-text-box {
                .label {
                  margin-right: 0;
                }
                .data {
                  &::before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 0.1rem;
                    height: 1.2rem;
                    margin: 0 0.8rem;
                    background-color: $color_bfb;
                  }
                }
              }
            }
          }
        }
      }
      .survey-container {
        .survey-box {
          margin-top: -3rem;
          .button-box {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 2rem 2rem 4rem 2rem;
            background-color: $white;
          }
        }
        .survey-text-box {
          font-weight: 700;
          color: $black;
        }
        .field {
          .field-label {
            @include font(1.6rem, 700, $black, 2.2rem);
          }
        }
        .form-container {
          .fieldset-container {
            border: none;
          }
        }

        .survey-bottom {
          margin-top: 0;
          padding-top: 4rem;
          .button-box {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 2rem 2rem 4rem 2rem;
            background-color: $white;
            .btn {
              height: 5.6rem;
            }
          }
        }
      }

      .cs {
        &.sub-page-container {
          padding-bottom: 0;
        }
      }

      .cs-survey {
        &.sub-page-container {
          .filter-box {
            &:not(.type2) {
              .filter {
                .filter-row {
                  &:last-of-type {
                    position: relative;
                    padding-bottom: 7.2rem;
                    .filter-list {
                      padding-bottom: 2rem;
                      border-bottom: 2px solid $color_eee;
                    }
                  }
                  .filter-list {
                    @include flex(row, space-between, flex-start);
                    &.filter-list-q-status {
                      @include flex(row, flex-start, center);
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      border: none;
                      .filter-label {
                        margin-top: 0;
                        margin-right: 0.8rem;
                        @include font(1.4rem, 500, $color_bfb, normal);
                      }
                      .filter-info {
                        @include font(1.4rem, 500, $color_7f7, normal);
                      }
                    }
                    .filter-label {
                      margin-top: 0.4rem;
                      margin-bottom: 0;
                      white-space: nowrap;
                    }
                    .filter-info {
                      flex: unset;
                      max-width: unset;
                      @include font(1.6rem, 700, $black, normal);
                      text-align: right;
                      .info-box {
                        .text {
                          line-height: normal;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .filter-table-middle {
          margin-top: 0;
        }
        .field {
          margin-top: 0;
        }
        .survey-container {
          .field {
            .field-label {
              margin-bottom: 1.2rem;
            }
          }
        }
      }

      .sub-page-container {
        &.notice {
          .sub-page-title-box {
            display: none;
          }
          .sub-page-middle {
            margin: 0;
          }
          .filter-table-middle {
            margin-top: 4rem;
          }
        }

        &.survey-list {
          .sub-page-top {
            display: none;
          }

          .filter-table-top {
            display: none;
          }

          .sub-page-middle {
            margin: 0;
          }
        }
      }
    }
  }
}
