.error-container {
  @include flex(row, center, center);
  .error-top {
    @include flex(column, center, center);
    padding: 0 2rem;
  }
  .error-content-box {
    text-align: center;
    word-break: keep-all;
    & + .error-notice-box {
      margin-top: 2.5rem;
    }
  }
  .error-title-box {
    @include font(2.4rem, 700, $color_353, 3.4rem);
    br {
      display: none;
    }
  }
  .error-desc-box {
    margin-top: 1.2rem;
    @include font(1.6rem, 500, $color_353, 2.2rem);
  }
  .error-notice-box {
    padding: 2rem 1.6rem;
    border-radius: 0.4rem;
    border: 1px solid #e6e6e8;
    background-color: #f5f6f7;
    @include font(1.4rem, 500, $color_646, normal);
    text-align: center;
  }
  .error-notice-title-box {
    margin-bottom: 0.4rem;
    color: $color_353;
  }
  .error-bottom {
    margin-top: 4.8rem;
    .button-box {
      @include flex(row, center, center);
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      main {
        &.error-container {
          padding: 0;
          &.system {
            .error-top {
              padding-bottom: 0;
            }
          }
          .error-top {
            padding-bottom: 9.6rem;
          }
          .error-title-box {
            br {
              display: block;
            }
          }
          .error-desc-box {
            margin-top: 1.6rem;
            font-size: 1.4rem;
            color: $color_7f7;
            line-height: 2rem;
          }
          .error-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            .button-box {
              padding: 2rem;
            }
            .btn {
              &.btn-large {
                height: 5rem;
              }
            }
          }
        }
      }
    }
  }
}
