.img {
  width: 9.2rem;
  height: 9.2rem;
  font-size: 0;
  &.img-building-ok {
    background: asset-image("img_building_ok.svg") no-repeat center / 9.2rem;
  }
  &.img-building-no {
    background: asset-image("img_no_building.svg") no-repeat center / 9.2rem;
  }
  &.img-executives {
    background: asset-image("img_staff.svg") no-repeat center / 9.2rem;
  }
  &.img-manager {
    background: asset-image("img_manager.svg") no-repeat center / 9.2rem;
  }
  &.img-plus-building {
    background: asset-image("img_plus_building.svg") no-repeat center / 9.2rem;
  }
  &.img-person-no {
    background: asset-image("img_no_staff.svg") no-repeat center / 9.2rem;
  }
}
.building-guide-layer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex(column, center, center);
  width: 46.1rem;
  min-height: 33.2rem;
  padding: 3.2rem 0 4.8rem 0;
  text-align: center;
  .title {
    @include font(2.4rem, 700, $color_353, 1.4, 0);
    & + .text {
      margin-top: 1.2rem;
    }
  }
  .text {
    margin-top: 0.8rem;
    @include font(1.6rem, 500, $color_353, 1.4, 0);
  }
  .button-box {
    margin-top: 4.8rem;
  }
}

.building-registration-container {
  .text-dot {
    position: relative;
    @include font(1.4rem, 500, $color_353, 1.4, 0);
    word-break: keep-all;
    &.red {
      margin-top: 0.8rem;
      &::before {
        background-color: $red;
      }
    }
    &::before {
      content: "";
      display: inline-block;
      width: 0.4rem;
      height: 0.4rem;
      margin-right: 0.4rem;
      background-color: $color_353;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}
.registration-lits-box {
  display: flex;
  justify-content: flex-start;
}
.registration-box {
  @include flex(column, center, center);
  width: 50%;
  height: 39.9rem;
  padding: 3.6rem 0 4.8rem 0;
  border-radius: 1.2rem;
  border: 1px solid $color_e4e;
  text-align: center;
  & + .registration-box {
    margin-left: 3.2rem;
  }

  .text-box {
    margin-top: 0.8rem;
    .title {
      margin-bottom: 1.2rem;
      @include font(2.4rem, 700, $color_353, 1.4, 0);
    }
  }
  .button-box {
    margin-top: auto;
  }
}

.owner-notice-box {
  @include flex(row, space-between, center);
  width: 100%;
  height: 21.2rem;
  padding: 5.4rem 4.8rem;
  margin-top: 6.4rem;
  border-radius: 0.8rem;
  background: #f3f7ff;
  .title {
    margin-bottom: 2rem;
    @include font(2.4rem, 700, $primary, 1, 0);
  }
  .text-dot {
    &::before {
      width: 0.3rem;
      height: 0.3rem;
    }
  }
}

.invite-notice-box {
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 3.6rem 4.8rem;
  margin-top: 6.4rem;
  border-radius: 1.2rem;
  border: 0.1rem solid $color_e4e;
  .img {
    margin-right: 3.2rem;
  }
  .title {
    margin-bottom: 1.2rem;
    @include font(2.4rem, 700, $color_353, 1.4, 0);
  }
  .text {
    @include font(1.6rem, 500, $color_353, 1.4, 0);
  }
  .button-box {
    margin-left: auto;
  }
}

.building-certification-list {
  position: relative;
  width: 100%;
  height: 21.4rem;
  padding: 7rem 4.8rem 4.8rem;
  margin-bottom: 3.2rem;
  border-radius: 1.2rem;
  background: #f3f7ff;
  &:last-child {
    margin-bottom: 0;
  }
  &.selected {
    .current-tag {
      display: block;
    }
    .building-name {
      color: $primary;
      &::before {
        content: "";
        display: inline-block;
        margin-right: 0.4rem;
        width: 2.4rem;
        height: 2.4rem;
        background: asset-image("ic_check.svg") no-repeat center / 2.4rem;
        vertical-align: middle;
      }
    }
    .tooltip-period-box {
      display: block;
    }
    .button-box {
      display: block;
    }
  }
  .current-tag {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 3.2rem;
    padding: 0.8rem 1.2rem;
    border-radius: 1.2rem 0rem;
    border: 1px solid $primary;
    background: $primary;
    @include font(1.6rem, 500, $white, 1, 0);
    text-align: center;
  }
  .building-name {
    @include font(2.4rem, 700, $color_353, 1, 0);
  }
  .building-address {
    margin-left: 0.8rem;
    @include font(1.6rem, 500, $color_353, 1, 0);
  }
  .detail-address {
    margin-top: 1.2rem;
    @include font(1.4rem, 500, $color_353, 1.4, 0);
  }
  .period-info-box {
    @include flex(row, flex-start, center);
    margin-top: 2rem;
    .period {
      position: relative;
      @include font(1.4rem, 400, $color_646, 1.4, 0);
      & + .period {
        margin-left: 1.6rem;
        padding-left: 1.6rem;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 0.1rem;
          height: 1.2rem;
          margin-top: -0.6rem;
          background-color: $color_bfb;
        }
      }
      &.end-period {
        .date {
          color: $red;
          font-weight: 500;
        }
      }
      .label {
        margin-right: 1.6rem;
        color: $color_7f7;
      }
      .date {
        position: relative;
      }
    }
  }
  .tooltip-period-box {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    height: 3.6rem;
    padding: 0.8rem 1.6rem;
    background-color: $red;
    border-radius: 3.2rem;
    @include font(1.4rem, 500, $white, 1.4, 0);
    white-space: nowrap;
    &::before {
      content: "";
      position: absolute;
      top: -0.8rem;
      left: 1.2rem;
      width: 1.4rem;
      height: 1.4rem;
      background: asset-image("tooltip_vector.svg") no-repeat center / 1.4rem;
    }
  }
  .button-box {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

.notice-certification {
  margin-top: 6.4rem;
}

// 건물 인증 승인 신청
.approval-info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  word-break: keep-all;
  .img {
    margin: 0 auto;
  }
  .title {
    margin: 0.8rem 0 1.2rem;
    @include font(2.4rem, 700, $color_353, 3.4rem, 0);
  }
  .text {
    @include font(1.6rem, 500, $color_353, 2.2rem, 0);
  }
}

// 임직원/입주사 초대 관리
.invite {
  &.sub-page-container {
    .sub-page-bottom {
      margin-top: 13.2rem;
    }
  }
  .filter-box {
    &.type2 {
      .input {
        width: 100%;
      }
      input[type="text"] {
        width: 100%;
      }
      .filter-tooltip-button-box {
        @include flex(row, flex-end, center);
        position: absolute;
        bottom: 0;
        right: 0;
        .tooltip-container {
          margin-right: 0.8rem;
          .tooltip-box {
            right: 3.1rem;
            left: auto;
            .tooltip-text {
              padding: 0;
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .filter-view-content-top {
    & > .button-box {
      @include flex(row, flex-end, flex-start);
      margin-top: 4.8rem;
    }
  }
  .filter-table-content-top {
    .filter-table-top {
      & > .button-box {
        @include flex(row, flex-end, center);
      }
    }
  }
  .filter-table-content-bottom {
    margin-top: 13.2rem;
  }
}

.filter-list-company {
  .company-name-box {
    display: none;
    margin-bottom: 1rem;
  }
  .company-name {
    @include flex(row, flex-start, center);
    @include font(1.6rem, 700, $color_353, 1.6rem);
  }
}

@media #{$mobile} {
  html {
    &.mobile {

      .img {
        width: 6.4rem;
        height: 6.4rem;
      }
    
      .building-guide-layer-box {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    
      .registration-lits-box {
        @include flex(column, flex-start, flex-start);
      }
    
      .registration-box {
        width: 100%;
        height: auto;
        padding: 2rem;
        & + .registration-box {
          margin-left: 0;
          margin-top: 2rem;
        }
        .text-box {
          margin: 1.2rem 0 2.4rem 0;
          .title {
            font-size: 1.8rem;
          }
        }
      }
      .owner-notice-box {
        @include flex(column, flex-start, flex-start);
        height: auto;
        padding: 3.6rem 2rem;
        .notice-text-box {
          margin-bottom: 3.6rem;
        }
        .title {
          margin-bottom: 1.6rem;
        }
      }
      .sub-page-container {
        &.building-add-company {
          .filter-box {
            .title {
              display: none;
            }
            &:not(.type2) {
              .filter {
                .filter-row {
                  .filter-list {
                    .filter-label {
                      display: none;
                    }
                    .filter-info {
                      padding: 1.3rem 1.6rem 1.9rem;
                      border-radius: 0.8rem;
                      background-color: $color_f2f;
                      @include font(1.4rem, 400, $color_7f7, 1.4rem);
                    }
                  }
                }
              }
            }
          }
          .form-container {
            margin-top: 1.6rem;
          }
          .field {
            .field-label {
              display: none;
            }
          }
          .field-radio {
            .radio-box {
              @include flex(column, flex-start, flex-start);
              margin: 0;
            }
            .radio {
              position: relative;
              width: 100%;
              height: 7.4rem;
              margin: 0;
              &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: -2rem;
                width: calc(100% + 4rem);
                height: 1px;
                background-color: $color_dcd;
              }
              label {
                height: 100%;
              }
            }
          }
          .desc-box {
            margin-top: 1.6rem;
          }
          .sub-page-bottom {
            .button-box {
              padding: 0;
              border: none;
            }
          }
        }
      }
      .filter-list-company {
        .company-name-box {
          display: block;
        }
      }
      .approval-info-box {
        width: 100%;
        padding: 0 2rem 4rem 2rem;
        .title {
          margin: 1.6rem 0 2.4rem;
          color: $primary;
        }
        .text {
          @include font(1.4rem, 400, $color_7f7, 2rem, 0);
        }
      }
      .building-guide-layer-box {
        .title {
          margin: 1.6rem 0 1.2rem;
          color: $primary;
        }
        .text {
          @include font(1.4rem, 400, $color_7f7, 2rem, 0);
        }
      }
      .building-certification {
        &.sub-page-container {
          .sub-page-bottom {
            .button-box {
              border: none;
            }
          }
        }
      }
      .building-certification-list {
        @include flex(row, flex-start, flex-start);
        padding: 2rem;
        height: auto;
        background: $color_f2f;
        &.selected {
          background: #BBE0FF;
          .current-tag {
            display: none;
          }
          .building-name {
            color: $color_353;
            &::before {
              display: none;
            }
          }
        }
        .building-name {
          @include font(1.6rem, 700, $color_353, 2.2rem);
          .building-address {
            display: block;
            margin: 1.4rem 0 0;
          }
        }
        .detail-address {
          display: none;
        }
        .period-info-box {
          display: none;
        }
        .button-box {
          top: 2rem;
          right: 1.2rem;
          transform: unset;
          width: fit-content;
        }
        .btn {
          padding: 0;
          @include font(1.4rem, 400, $color_7f7, 2.4rem);
          &.btn-large {
            height: auto;
          }
          &.btn-primary {
            border: none;
            border-radius: unset;
            background-color: transparent;
          }
          span {
            @include flex(row, center, center);
            &::after {
              content: '';
              display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: asset-image('ic_arrow_24.svg') no-repeat center / 2.4rem;
            }
          }
        }
      }
    }
    .sub-page-container  {
      &.tenant-invite {
        .filter-box {
          margin: 6.4rem 0;
        }
      }
    }
  }
}
