//---------- color ----------//
$black: #000000;
$white: #ffffff;
$accent: #ff5758;
$primary: #499690;
$secondary: #777777;
// $accent : ;

$color-gray-01: #374455;
$color-gray-02: #dcdcdc;
$color-gray-03: #999999;
$color-gray-04: #555555;
$color-gray-05: #646464; //#777777
$color-gray-06: #333333;
$color-gray-07: #949494;
$color-gray-08: #8f8f8f;
$color-gray-09: #A3A3A3;

$color-cyan-01: #73ebe0;
$color-cyan-02: #407773;
$color-cyan-03: #85dcdd;
$color-cyan-04: #22625d;
$color-cyan-05: #0099c9;
$color-cyan-06: #D1EFEF;

$color-red-01: #db0001;
$color-red-02: #ff17e8;

$color-yellow-01: #d16c00;
$color-yellow-02: #ffb15e;
$color-yellow-03: #856d25;

$border-color-01: #2d2d2d;
$border-color-02: #cccccc;
$border-color-03: #bbbbbb;
$border-color-04: #c9c9db;
$border-color-05: #eaeaf1;
$border-color-06: #E0E0E0;

$bgcolor-red-01: #f89151;

$bgcolor-gray-01: #f7f7f7;
$bgcolor-gray-02: #f9f9f9;
$bgcolor-gray-03: #f7f8fa;
$bgcolor-gray-04: #f2f2f6;
$bgcolor-gray-05: #eff1f3;
$bgcolor-gray-06: #e4e4e4;
$bgcolor-gray-07: #f8f8fa;
$bgcolor-gray-08: #c4c4c4;
$bgcolor-gray-09: #E5E8EB;

$bgcolor-cyan-01: #e5efee;

$bgcolor-blue-01: #288bc3;
$bgcolor-blue-02: #E6EDFF;

$bgcolor-purple-01: #c945ac;
$bgcolor-purple-03: #7D94E5;
$bgcolor-purple-02: #4E6BD2;

$placeholder: rgba($black, 0.5); //임시
// $disabled : ;
$color-disabled-01: #8abcb8;
$color-disabled-02: #c3dddb;

// 부가서비스 카테고리별 색상
$color-category-01: #1758ff;
$color-category-02: #3CBB00;

//메인 요금 요약 정보
$bgcolor-noLine: #ebeef080;

// 서비스>바로유심 이벤트 배너
$bgcolor-blue-gray-01: #4C5A65;


//---------- value ----------//
$headerHeight: 8.1rem;
// media screen common responsive value
$pc-large: "max-width: 1800px";
$pc-middle: "max-width: 1600px";
$pc-small: "max-width: 1280px";
$tablet: "max-width: 1024px";
$foldMax: "max-width: 717px"; //Galaxy fold 717 x 512
$mobile: "max-width: 512px"; //Galaxy fold 717 x 512 foldMin 280
$mobile-small: "max-width: 320px";
// @media (#{$pc-large}) {}
// @media (#{$pc-middle}) {}
// @media (#{$pc-small}) {}
// @media (#{$tablet}) {}
// @media (#{$foldMax}) {}
// @media (#{$mobile}) {}
// @media (#{$mobile-small}) {}