<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <title>SKT보이는 ARS</title>
  <link rel="stylesheet" type="text/css" href="/{version}/css{vars_type}/new_style.css" />
  <script type="text/javascript" src="/{version}/js/jquery/jquery.1.11.1.min.js"></script>
  <script type="text/javascript" src="/{version}/js/jquery/jquery-migrate-1.2.1.js"></script>
  <script type="text/javascript" src="/{version}/js/jquery.alerts-1.1/jquery.alerts.js"></script>
</head>
