$header: 4.4rem;
$footer: 4rem;
$timeNoticeText: 3rem;
$inputBox: 4.4rem;

$black: #000;
$white: #fff;
$primary: #3617ce;
$color-gray-01: #888888; //서브텍스트

$bg-gray: #f0f1f3;
$bg-gray-02: #f5f6f8;
$bg-gray-03: #57637f;
$bg-gray-04: #f0f0f5;
$bg-gray-05: #eeeef4;

$mobile_320: 'screen and (max-width: 320px)';
$mobile_280: 'screen and (max-width: 280px)';
