.floating-button-box {
  @include flex(column, flex-start, center);
  position: fixed;
  z-index: 97;
  bottom: 10rem;
  right: 12rem;
  > button,
  > div {
    display: block;
    overflow: hidden;
    position: relative;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    background-color: $white;
    @include font(1.6rem, 700, $black, 2.3rem);
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.16);
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $black;
      opacity: 0;
      transition: 0.2s;
    }
    @media (hover: hover) {
      &:hover {
        &::after {
          opacity: 0.2;
        }
      }
    }
    & + button {
      margin-top: 2rem;
    }
  }
  .support-link {
    display: none;
    &.show {
      display: block;
    }
    .support-link-box {
      @include flex(column, center, center);
      width: 100%;
      height: 100%;
    }
    a {
      @include flex(column, center, center);
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: $white;
      @include font(1.6rem, 700, $black, 2.3rem);
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $black;
        opacity: 0;
        transition: 0.2s;
      }
      @media (hover: hover) {
        &:hover {
          &::after {
            opacity: 0.2;
          }
        }
      }
      .strong {
        margin-bottom: 0.2rem;
        @include font(2rem, 700, $point-pink, 2.9rem);
      }
    }
  }
  .btn-inquiry {
    @include flex(column, center, center);
    .icon-inquiry {
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: 0.2rem;
      background: url("../images/clipboard-check.svg") no-repeat 100% center/cover;
    }
  }
  .btn-top {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 4.6rem;
      height: 4.6rem;
      background: url("../images/floating_top.svg") no-repeat 100% center/cover;
      transform: translate(-50%, -50%);
    }
  }
}

// 모바일
@media #{$mobile} {
  .floating-button-box {
    bottom: 4.5rem;
    right: 2.5rem;
    > button,
    > div {
      width: 4.8rem;
      height: 4.8rem;
      @include font(0.9rem, 700, $black, 1.3rem);
      & + button {
        margin-top: 1rem;
      }
    }
    .support-link {
      a {
        @include font(0.9rem, 700, $black, 1.3rem);
        .strong {
          font-size: 1rem;
          line-height: 1.4rem;
        }
      }
    }
    .btn-inquiry {
      .icon-inquiry {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: 0.1rem;
      }
    }
    .btn-top {
      &::before {
        width: 2.3rem;
        height: 2.3rem;
      }
    }
  }
}

// 태블릿
@media #{$tablet} {
  .floating-button-box {
    bottom: 5.2%;
    right: 6.25%;
  }
}