.header {
  position: fixed;
  width: 100%;
  z-index: 98;
  top: 0;
  left: 0;
  &.light-theme {
    .header-container {
      background-color: $white;
    }
    .header-area {
      .logo-box {
        .default {
          display: block;
        }
        .main-logo {
          display: none;
        }
      }
    }
    .gnb-list {
      &.active {
        .gnb-link {
          color: $black !important;
        }
      }
      .gnb-link {
        color: #8C8B9A !important;
        opacity: 1;
      }
    }
    .hamburger-box {
      .btn-menu-open {
        background: url("../images/m_ic_co_menu_b.svg") no-repeat 100% center/cover;
      }
    }
  }
  .header-container {
    width: 100%;
    height: 8rem;
    background-color: transparent;
    transition: 0.2s background;
  }
  .header-area {
    @include flex(row, space-between, center);
    position: relative;
    height: 100%;
    width: 137.1rem;
    margin: 0 auto;
    .left-box,
    .right-box {
      z-index: 12;
    }
    .logo-box {
      display: block;
      .voltup {
        display: block;
        width: 14.5rem;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .lguplus {
        width: 9.4rem;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .default {
        display: none;
      }
      .main-logo {
        display: block;
      }
    }
  }
  .gnb {
    z-index: 11;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    .gnb-area {
      height: 100%;
    }
    .gnb-box {
      @include flex(row, center, center);
      height: 100%;
    }
    .gnb-list {
      @include flex(row, center, center);
      height: 100%;
      padding: 0 2.4rem;
      transition: 0.2s color;
      &.active {
        .gnb-link {
          opacity: 1;
        }
      }
      .gnb-link {
        @include font(1.8rem, 700, $white, normal);
        opacity: 0.6;
      }
    }
    .mobile-uplus-box {
      display: none;
      width: 100%;
      height: 5.4rem;
      margin-bottom: 4rem;
      .mobile-uplus-link {
        @include flex(row, flex-start, center);
        height: 100%;
        position: relative;
        padding: 0 2rem;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 2rem;
          width: 2rem;
          height: 2rem;
          transform: translateY(-50%);
          background: url("../images/m_ic_arrow_right_20.svg") no-repeat 100% center/cover;
        }
        img {
          display: block;
          width: 6.6rem;
          height: 2rem;
        }
      }
    }
  }
  .hamburger-box {
    display: none;
    width: 2.4rem;
    height: 2.4rem;
    .btn-menu-open {
      width: 2.4rem;
      height: 2.4rem;
      background: url("../images/m_ic_co_menu_w.svg") no-repeat 100% center/cover;
    }
  }
}

@media #{$mobile} {
  .header {
    .header-area {
      .logo-box {
        .voltup {
          width: 8.9rem;
        }
      }
    }
  }
  .open { // wrapper
    // dim
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.4);
    }
    .voltup {
      display: block;
    }
    .header {
      left: auto;
      right: 0;
      width: calc(100% - 10rem);
      min-width: 26rem;
      height: 100%;
      background-color: $white;
      .header-container {
        height: 100%;
      }
      .header-area {
        @include flex(row, space-between, flex-start);
        padding-top: 1.4rem;
        .default {
          display: block !important;
        }
        .main-logo {
          display: none !important;
        }
      }
      .gnb {
        display: block;
        top: 5.4rem;
        height: 100%;
        .gnb-area {
          @include flex(column, space-between, flex-start);
          height: calc(100% - 5.4rem);
        }
        .gnb-box {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          height: 100%;
        }
        .gnb-list {
          width: 100%;
          height: 5.4rem;
          padding: 0;
          border-bottom: 1px solid #dbdbdb;
          .gnb-link {
            @include flex(row, flex-start, center);
            width: 100%;
            height: 100%;
            padding: 0 2rem;
            @include font(1.4rem, 500, #333333, 2.2rem);
            color: #333 !important;
            opacity: 1;
            span {
              position: relative;
              width: 100%;
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 2rem;
                height: 2rem;
                transform: translateY(-50%);
                background: url("../images/m_ic_arrow_right_20.svg") no-repeat 100% center/cover;
              }
            }
          }
        }
        .mobile-uplus-box {
          display: block;
        }
      }
    }
    .hamburger-box {
      .btn-menu-open {
        background: url("../images/m_ic_co_close.svg") no-repeat 100% center/cover !important;
      }
    }
  }
  .header {
    .header-container {
      height: 4.8rem;
    }
    .header-area {
      width: auto;
      padding: 0 2rem;
      .right-box {
        .logo-box {
          display: none;
        }
      }
      .logo-box {
        .voltup {
          width: 8.9rem;
        }
      }
    }
    .gnb {
      display: none;
    }
    .hamburger-box {
      display: block;
    }
  }
}

// 태블릿
@media #{$tablet} {
  .header {
    .header-area {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
