.fade-bottom {
  display: block;
  position: relative;
  transform: translateY(5rem);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1), opacity 0.5s cubic-bezier(0, 0, 0.2, 1);

  &.on {
    transform: translateY(0);
    opacity: 1;
  }
}
// -----animation

.brand-story {
  position: relative;
}

.brand-story-container {
  h2 {
    @include font(h1);
    letter-spacing: -0.12rem;
  }
}
// -----main container

.brand-visual-container {
  position: relative;

  .visual-img-box {
    width: 100%;
    // 임시 높이
    height: 200vh;
    height: 200dvh;
  }

  .brand-visual-area {
  }

  .brand-title-top {
    width: 100%;
    position: absolute;
    top: 34rem;
    left: 50%;
    transform: translateX(-50%);

    .title-box {
      text-align: center;

      .sub-title {
        @include font(h3, rgba($white, 0.8));
      }
      .title {
        margin-top: 2rem;
        color: $white;
      }
    }
  }

  .brand-title-bottom {
    position: absolute;
    left: 0;
    bottom: 46rem;
    width: 100%;

    .title-box {
      width: 174rem;
      margin: 0 auto;

      p {
        @include font(h2, $white);

        span {
          display: block;
          margin-top: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}

.brand-container {
  .brand-area {
    @include flex(row, space-between, center);
    gap: 26.8rem;
    width: 172.4rem;
    margin: 16rem auto;
    padding: 8.9rem 0;
  }

  .desc-box {
    // flex: 1;
    padding-left: 4.2rem;

    .desc {
      font-size: 4.4rem;
      font-weight: 700;
      line-height: 6.2rem;
      letter-spacing: -0.176rem;
    }
  }
  .img-box {
    overflow: hidden;
    width: 86rem;
    height: 78.2rem;
    border-radius: 2rem;
  }
}

.brand-banner-container {
  .banner-area {
    position: relative;
  }
  .desc-box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    .desc {
      width: 152rem;
      margin: 0 auto;
      @include font(h2, $white);

      span {
        display: block;
      }
    }
  }
  .img-box {
    width: 100%;
    height: 62rem;
  }
}

.story-container {
  background-color: $tan-200;

  .story-area {
    padding: 20rem 0 22.1rem;
  }

  .story-box-top {
    .title-box {
      text-align: center;
    }
  }
  .story-box-bottom {
    margin-top: 12.9rem;
  }
  .story-list-box {
    width: 148rem;
    margin: 0 auto;

    .story-list {
      display: flex;
      align-items: center;
      gap: 12rem;

      &:nth-of-type(2n) {
        flex-direction: row-reverse;

        .desc-box {
          text-align: right;
        }
      }
      &:nth-of-type(1) {
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 17rem;
          height: 12rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          background: asset-image('img_pc_story_smart_arrow_1.png') no-repeat center / cover;
          transform: translate(-50%, 50%);
        }
      }

      &:nth-of-type(2) {
        position: relative;
        &::after {
          content: '';
          display: block;
          width: 17rem;
          height: 12rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          background: asset-image('img_pc_story_smart_arrow_2.png') no-repeat center / cover;
          transform: translate(-50%, 50%);
        }
      }

      .img-box {
        width: 60rem;
        height: 50rem;
      }

      .desc-box {
        flex: 1;
        word-break: keep-all;

        .sub-title {
          @include font(h4, #1e2027);

          br {
            display: none;
          }
        }
        .desc {
          margin-top: 0.8rem;
          font-size: 2.2rem;
          font-weight: 500;
          line-height: 3.2rem;
          color: $gray-800;
        }
      }
    }
  }
}

.vision-container {
  .vision-area {
    width: 176rem;
    margin: 24rem auto 25rem;
  }

  .vision-box-top {
    .title-box {
      .title {
        text-align: center;
        span {
          display: block;
          color: rgba($black, 0.5);
        }
      }
    }
  }

  .vision-box-bottom {
    position: relative;
    margin-top: 6rem;
    .video-front {
      position: relative;
      z-index: 1;
    }
    .btn-view-iframe {
      width: 100%;
      height: 100%;
    }
    .video-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.brand-block-container {
  .brand-block-area {
    position: relative;

    .img-box {
      width: 100%;
      height: 115.9rem;
    }

    .desc-box {
      width: 152rem;
      position: absolute;
      top: 16rem;
      left: 50%;
      transform: translateX(-50%);

      p {
        @include font(h1, $white);
        letter-spacing: -0.12rem;
      }

      br {
        display: none;
      }
    }
  }
}

.character-container {
  background-color: $tan-100;

  .character-area {
    width: 176rem;
    margin: 0 auto;
    padding: 16rem 0 15rem;
  }

  .character-box-top {
    .title-box {
      .title {
      }
    }
  }

  .character-box-bottom {
    display: flex;
    gap: 6.8rem;
    margin-top: 6rem;

    .character-left {
      width: 60rem;
      border-top: 1px solid $gray-500;
    }

    .character-right {
      flex: 1;
      padding: 3rem 0;
      border-top: 1px solid $gray-500;

      .title-box {
        @include font(h4);

        span {
          padding-left: 1rem;
          color: $gray-600;
        }
      }
      .img-box {
        margin: 2rem 5rem 0 auto;
        width: 94rem;
        height: 36rem;
      }
    }

    .character-list-box {
    }
    .character-list {
      display: none;

      &.active {
        display: block;
      }

      .floor-box {
        & + * {
          margin-top: 8rem;
        }
      }
    }

    .desc-list-box {
    }

    .desc-list {
      padding: 3rem 0;
      border-bottom: 1px solid $gray-500;
      cursor: pointer;

      .list-name {
        @include flex(row, space-between, center);
        position: relative;
        width: 100%;
        @include font(h3);

        &::after {
          content: '';
          display: inline-block;
          width: 4rem;
          height: 4rem;
          background: asset-image('icon/ic_pc_faq_open.svg') no-repeat center / contain;
        }
      }

      .list-content {
        display: grid;
        grid-template-rows: 0fr;
        @include font(bs, $gray-600);
        font-weight: 700;
        overflow: hidden;
        transition: 0.25s grid-template-rows ease-out;

        .content {
          overflow: hidden;
          p {
            padding-top: 0.6rem;
          }
        }
      }

      &.active {
        .list-content {
          grid-template-rows: 1fr;
        }
        .list-name {
          &::after {
            background: asset-image('icon/ic_pc_faq_close.svg') no-repeat center / contain;
          }
        }
      }
    }
  }
}

.brand-list-container {
  .brand-list-area {
    width: 176rem;
    margin: 20rem auto 12rem;
  }

  .list-box-top {
    .title-box {
      .title {
      }

      br {
        display: none;
      }
    }
  }

  .list-box-bottom {
    margin-top: 4rem;
  }

  .brand-list-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .brand-list {
      @include flex(column, center, flex-start);
      row-gap: 2.4rem;
      padding: 4rem 0 5rem;
      background-color: $tan-100;
      border-radius: 2rem;
      overflow: hidden;
      transition: background-color 0.3s;

      .img-box {
        max-width: 40rem;
        width: 100%;
        margin: 0 auto;
        transition: transform 0.3s;
      }
      .sub-title-box {
        padding: 0 4rem;

        strong {
          @include font(h3);
        }
        p {
          margin-top: 0.4rem;
          @include font(bl, $gray-700);
        }
      }

      &:hover {
        background-color: $tan-200;

        .img-box {
          transform: scale(1.1);
        }
      }
    }
  }
}
// -----section container

@media #{$tablet} {
  .brand-story-container {
    h2 {
      font-size: 2.6rem;
      line-height: 3.4rem;
      letter-spacing: -0.104rem;
    }
  }

  .brand-visual-container {
    .visual-img-box {
      height: 100vh;
      height: 100dvh;
    }

    .brand-visual-area {
    }

    .brand-title-top {
      top: 10.7rem;

      .title-box {
        .sub-title {
          font-size: 2rem;
          line-height: 2.6rem;
        }
      }
    }

    .brand-title-bottom {
      bottom: 10rem;

      .title-box {
        width: 32rem;

        p {
          font-size: 2rem;
          line-height: 2.6rem;

          span {
            margin-top: 0.6rem;
            font-size: 1.8rem;
            line-height: 2.4rem;
          }
        }
      }
    }
  }

  .brand-container {
    .brand-area {
      justify-content: center;
      gap: 6rem;
      width: 100%;
      margin: 14rem auto 8rem;
      padding: 0 2rem;
    }

    .desc-box {
      padding-left: 0;

      .desc {
        font-size: 2.2rem;
        line-height: 2.8rem;
      }
    }
    .img-box {
      width: 100%;
      max-width: 32rem;
      height: 29rem;
      overflow: hidden;
    }
  }

  .brand-banner-container {
    .desc-box {
      top: 10rem;
      transform: translateY(0);

      .desc {
        width: 32rem;
        font-size: 2.6rem;
        line-height: 3.4rem;
        letter-spacing: -0.104rem;

        span {
          font-weight: 700;
        }
      }
    }
    .img-box {
      height: 58.3rem;
    }
  }

  .story-container {
    .story-area {
      padding: 12rem 0 10rem;
    }

    .story-box-top {
      .title-box {
        .title {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 2.8rem;
        }
      }
    }
    .story-box-bottom {
      margin-top: 3.2rem;
      margin: 3.2rem 2rem 0;
    }
    .story-list-box {
      width: 100%;
      max-width: 68rem;
      min-width: 32rem;

      .story-list {
        gap: 1rem;

        &:nth-of-type(1) {
          &::after {
            width: 8.5rem;
            height: 6rem;
            left: calc(50% - 4rem);
            bottom: -3.2rem;
            transform: translate(0, 100%);
          }
        }

        &:nth-of-type(2) {
          &::after {
            width: 8.5rem;
            height: 6rem;
            left: auto;
            right: calc(50% - 4rem);
            bottom: -3.2rem;
            transform: translate(0, 100%);
          }
        }

        & + * {
          margin-top: 9.2rem;
        }

        .img-box {
          width: 30rem;
          height: 25rem;
        }

        .desc-box {
          .sub-title {
            font-size: 1.6rem;
            font-weight: 700;
            color: $black;
            line-height: 2.2rem;
          }
          .desc {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 2rem;

            br {
              display: none;
            }
          }
        }
      }
    }
  }

  .vision-container {
    .vision-area {
      width: calc(100% - 4rem);
      margin: 12rem 2rem 12rem;
    }

    .vision-box-top {
      .title-box {
        .title {
          span {
          }
        }
      }
    }

    .vision-box-bottom {
      margin-top: 4rem;
    }
  }

  .brand-block-container {
    .brand-block-area {
      .img-box {
        height: 40rem;
        img {
          object-position: left;
        }
      }

      .desc-box {
        width: 100%;
        top: 6rem;
        left: 0;
        transform: translateX(0);
        p {
          width: calc(100% - 8rem);
          margin: 0 auto;
          font-size: 2.6rem;
          font-weight: 700;
          line-height: 3.4rem;
          letter-spacing: -0.104rem;
        }
        br {
          display: block;
        }
      }
    }
  }

  .character-container {
    .character-area {
      width: calc(100% - 4rem);
      padding: 8rem 0 6rem;
    }
    .character-box-bottom {
      flex-direction: column;
      gap: 4.1rem;
      margin-top: 3.4rem;

      .character-left {
        width: auto;
      }
      .character-right {
        padding: 0;
        border-top: none;

        .title-box {
          font-size: 1.6rem;
          line-height: 2.2rem;

          span {
            padding-left: 0.6rem;
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }

        .img-box {
          margin: 1rem 0 0;
          width: 100%;
          min-width: 32rem;
          height: auto;
          min-height: 12.2rem;
        }
      }
      .character-list {
        .floor-box {
          & + * {
            margin-top: 3.2rem;
          }
        }
      }
      .desc-list {
        padding: 1.2rem 0;

        .list-name {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }

        .list-content {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 2rem;
        }
      }
    }
  }

  .brand-list-container {
    .brand-list-area {
      width: 100%;
      margin: 12rem auto 2rem;
    }

    .list-box-top {
      padding: 0 2rem;

      .title-box {
        br {
          display: block;
        }
      }
    }

    .brand-list-box {
      display: flex;
      gap: 0;

      .brand-list {
        row-gap: 1.4rem;
        width: 28rem;
        height: 39rem;
        padding: 2.7rem 0 3.2rem;
        border-radius: 1.32rem;

        .img-box {
          max-width: 26.4rem;
        }
        .sub-title-box {
          padding: 0 2.4rem;

          strong {
            font-size: 2rem;
            line-height: 2.6rem;
          }
          p {
            margin-top: 0.6rem;
            font-size: 1.6rem;
            line-height: 2.2rem;
          }
        }
      }
    }
  }
}

@media #{$mobile_large} {
  .brand-container {
    .brand-area {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .img-box {
      width: 100%;
      max-width: none;
      min-width: 32rem;
      border-radius: 1rem;
    }
  }

  .story-container {
    .story-list-box {
      max-width: none;

      .story-list {
        flex-direction: column;
        align-items: flex-start;

        &:nth-of-type(2n) {
          flex-direction: column;
          align-items: flex-end;
        }
        &:nth-of-type(1) {
          &::after {
            // left: 6rem;
            left: clamp(6rem, 50%, calc(50% - 12rem));
          }
        }

        &:nth-of-type(2) {
          &::after {
            // right: 10rem;
            right: clamp(10rem, 50%, calc(50% - 10rem));
          }
        }

        .img-box {
          width: clamp(30rem, 70%, 72.8rem);
          height: auto;
          min-height: 25rem;
        }

        .desc-box {
          width: clamp(32rem, 70%, 72.8rem);

          .sub-title {
            br {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media #{$mobile_middle} {
  .story-container {
    .story-list-box {
      min-width: unset;
      .story-list {
        .desc-box {
          width: 100%;
        }
      }
    }
  }
}
