.detail {
  .main-container {
    flex-direction: row;
    align-items: flex-end;
    min-height: unset;
    height: auto;
  }
  .section-area {
    justify-content: center;
  }
}

@media #{$tablet} {
  .detail {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
    .header-container {
      z-index: 999 !important;
      position: fixed !important;
      top: 0;
      left: 0;
      border-bottom: 0;
    }
    .main-container {
      @include flex(column, flex-start, flex-start);
      padding-top: 19.3rem;
    }
  }
}
