.map-address-box {
  z-index: 101;
  position: absolute;
  top: 11.6rem;
  left: 8rem;
  @include flex(row, flex-start, center);
  padding: 1.4rem;
  border-radius: 1.6rem;
  background-color: rgba($black, 0.8);
  .address {
    @include flex(row, flex-start, center);
    @include font(bs, $white);
    &::before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.8rem;
      background: asset-image('icon/ic_pc_start_pin_grey.svg') no-repeat center / 2rem;
    }
  }

  .status {
    @include flex(row, flex-start, center);
    @include font(bs, $white);
    &::before {
      content: '';
      display: block;
      width: 1px;
      height: 2rem;
      margin: 0 1.2rem;
      background-color: $gray-600;
    }

    &.active {
      .round {
        background-color: #00cf58;
      }
    }

    .round {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 1.2rem;
      border-radius: 100%;
      background-color: $alert;
    }
  }
}

.canvas-box {
  .button-box {
    position: relative;
    margin-top: 6.5rem;
    gap: 1.2rem;
    &:not(.use-tablet) {
      display: flex !important;
    }
    .btn-control {
      @include font(lm, $white);
      text-align: center;
      &::before {
        content: '';
        display: block;
        width: 6rem;
        height: 6rem;
        margin-bottom: 0.2rem;
        border-radius: 3.3rem;
      }
      &:disabled {
        color: rgba($white, 0.5);
      }
      &.btn-rotate {
        &::before {
          background: rgba(0, 0, 0, 0.8) asset-image('icon/ic_pc_start_rotate_nor.svg') no-repeat center / 3.2rem;
        }
      }
      &.btn-reset {
        &::before {
          background: rgba(0, 0, 0, 0.8) asset-image('icon/ic_pc_start_back_nor.svg') no-repeat center / 3.2rem;
        }
        &:disabled {
          &::before {
            background: rgba(0, 0, 0, 0.8) asset-image('icon/ic_pc_start_back_dis.svg') no-repeat center / 3.2rem;
          }
        }
      }
    }
  }
}

.controller-box {
  z-index: 101;
  @include flex(column, flex-start, center);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  .house-box {
    position: relative;
    width: 100%;
    transform: rotate(calc(var(--rotate) * 1deg));

    .btn-drag {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(44px * var(--scale));
      min-width: calc(44px * var(--scale));
      height: calc(44px * var(--scale));
      background: asset-image('img_pc_start_house_handler.png') no-repeat center / contain;
    }

    .house {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      margin: auto;
      border-radius: 0.4rem;
      background: linear-gradient(90deg, #e3dbcf 3.23%, #d0c3af 82.26%);
      &.error {
        background: linear-gradient(0deg, rgba(234, 42, 42, 0.5) 0%, rgba(234, 42, 42, 0.5) 100%), linear-gradient(90deg, #e3dbcf 3.23%, #d0c3af 82.26%);
      }
    }

    .arrow {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 50%;
      width: 2.8rem;
      height: 1.4rem;
      background: asset-image('img_pc_start_house_arrow.svg') no-repeat center / contain;
      transform: translateX(-50%);
    }

    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 5.6rem);
      transform: translate(-50%, -50%);
      border: 1px dashed $white;
    }
  }
}

.widget-box {
  z-index: 101;
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);

  .location-box {
    border-radius: 1.6rem;
    background: rgba(0, 0, 0, 0.8);
    .btn-location {
      display: block;
      width: 5.8rem;
      height: 5.8rem;
      padding: 1.3rem;
    }
  }

  .zoom-box {
    margin-top: 1.2rem;
    padding: 0.4rem;
    border-radius: 1.6rem;
    background: rgba(0, 0, 0, 0.8);
    .btn-zoom {
      display: block;
      width: 5rem;
      margin: auto;
      padding: 0.9rem;
      border-radius: 1.6rem;
    }

    .magnification-box {
      @include flex(column, flex-start, center);
      .btn-magnification {
        width: 5rem;
        margin: auto;
        border-radius: 1.2rem;
        @include font(bs, $white);
        line-height: 5rem;

        &.active {
          background-color: $gray-800;
        }

        &:disabled {
          color: $gray-600;
        }
      }
    }
  }

  .rotate-box {
    display: none;
    .btn-screen-rotate {
      display: block;
      width: 4.4rem;
      padding: 1rem;
      border-radius: 1.6rem;
      background: rgba(0, 0, 0, 0.8);
      &.active {
        &::before {
          background: asset-image('icon/ic_mo_start_minus_sel.svg') no-repeat center / 2.4rem;
        }
      }
      &::before {
        content: '';
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background: asset-image('icon/ic_mo_start_minus_dis.svg') no-repeat center / 2.4rem;
      }
    }
  }
}

@media #{$tablet} {
  .full {
    .section-left-box {
      flex: 1;
      max-height: none;
    }
    .section-right-box {
      display: none;
    }
  }
  .canvas-box {
    .button-box {
      z-index: 101;
      position: absolute;
      bottom: 1.6rem;
      right: 6.6rem;
      gap: 0.6rem;
      margin: 0;
      &:not(.use-tablet) {
        display: none !important;
      }
      &.use-tablet {
        display: flex !important;
      }
      .btn-control {
        @include flex(row, flex-start, center);
        font-size: 1.4rem;
        line-height: 2rem;
        &::before {
          width: 4.4rem;
          height: 4.4rem;
          margin: 0;
          border-radius: 2.42rem;
          background-size: 2.4rem !important;
        }
        span {
          display: none;
          margin-left: 0.4rem;
        }
      }
    }
  }

  .controller-box {
    .house-box {
      z-index: 101;
      .btn-drag {
        width: calc(3rem * var(--scale));
        height: calc(3rem * var(--scale));
      }
    }
  }

  .widget-box {
    top: auto;
    bottom: 1.6rem;
    right: 1rem;
    transform: none;
    .location-box {
      margin-bottom: 0.6rem;
      padding: 0;
      border-radius: 1.2rem;
      .btn-location {
        width: 4.4rem;
        height: 4.4rem;
        padding: 1rem;
      }
    }

    .zoom-box {
      margin: 0;
      padding: 0.2rem;
      border-radius: 1.2rem;
      .btn-zoom {
        width: 4rem;
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        background: rgba(0, 0, 0, 0.8);
      }

      .magnification-box {
        .btn-magnification {
          width: 4rem;
          padding: 1rem 0;
          border-radius: 1rem;
          font-size: 1.4rem;
          line-height: 2rem;
          &.btn-2-magnification,
          &.btn-0-5-magnification {
            display: none;
          }
        }
      }
    }

    .rotate-box {
      display: block;
      margin-top: 0.6rem;
      .btn-screen-rotate {
        border-radius: 1.2rem;
      }
    }
  }
}

@media #{$tablet} {
  .map-address-box {
    top: 1.6rem;
    left: 50%;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%);
    background-color: transparent;
    .address {
      display: none;
    }

    .status {
      font-size: 1.4rem;
      line-height: 2rem;
      &::before {
        display: none;
      }
      .round {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.8rem;
      }
    }
  }
}

// 모바일 가로모드
@media #{$tablet} and (orientation: landscape) and (pointer:coarse) {
  .map-address-box {
    display: flex;
    top: 2rem;
    left: 2rem;
    padding: 0.8rem 1rem;
    border-radius: 1.2rem;
    background-color: rgba($black, 0.8);
    transform: none;
    .address {
      display: flex;
      font-size: 1.4rem;
      line-height: 2rem;
      &::before {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.4rem;
        background-size: 1.6rem;
      }
    }

    .status {
      font-size: 1.4rem;
      line-height: 2rem;
      &::before {
        display: block;
        height: 1.4rem;
        margin: 0 0.6rem;
      }
    }
  }

  .controller-box {
    .button-box {
      .btn-control {
        span {
          display: block;
        }
      }
    }
  }

  .widget-box {
    .rotate-box {
      display: none;
      .btn-screen-rotate {
        &::before {
          background: asset-image('icon/ic_mo_start_minus_sel.svg') no-repeat center / 2.4rem;
        }
      }
    }
  }
}
