$statusWidth: 2.6rem;
.progress-box {
  display: flex;
  gap: 2.4rem;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 8.6rem;
    padding-bottom: 3rem;
    &.check {
      .status {
        font-size: 0;
        background: asset-image('icon/circle-check.svg') no-repeat;
        background-size: 100%;
      }
      .text {
        color: $black;
      }
    }
    &.fail {
      .status {
        font-size: 0;
        background: asset-image('icon/circle-check-fail.svg') no-repeat;
        background-size: 100%;
      }
      .text {
        color: $black;
      }
    }
    .status {
      display: block;
      width: $statusWidth;
      height: 2.6rem;
      border-radius: 50%;
      background-color: rgba($black, 0.1);
      font-size: 1.4rem;
      font-weight: 700;
      color: $gray-500;
      line-height: 2.6rem;
      text-align: center;
    }
    .text {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: $gray-400;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
      white-space: nowrap;
    }
  }
  .item {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 1.1rem;
      left: calc(50% + $statusWidth / 2 + 0.4rem);
      min-width: 7.4rem;
      height: 0.4rem;
      border-radius: 0.2rem;
      background-color: $gray-50;
    }
    &:last-of-type {
      &::after {
        display: none;
      }
    }
  }
}

@media #{$tablet} {
  .progress-box {
    gap: 3rem;
    .item {
      min-width: 7.4rem;
      padding-bottom: 2.3rem;
      &::after {
        top: 0.9rem;
        left: calc(50% + 1rem + 0.2rem);
        min-width: 8rem;
        height: 0.2rem;
      }
      .status {
        width: 2rem;
        height: 2rem;
        padding-left: 0.1rem;
        font-size: 1.2rem;
        line-height: 2.2rem;
      }
      .text {
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
  }
}
