.result-option {
  padding: 2.4rem 0;
  border-top: 0.1rem solid $gray-100;
  &:first-of-type {
    border-color: $black;
  }
  .result-option-top {
    @include flex(row, space-between, flex-start);
    .category-box {
      @include font(bs, $gray-500);
    }
  }
  .result-option-bottom {
    @include flex(row, space-between, center);
    gap: 2rem;
    margin-top: 0.8rem;
    .result-thumb-box {
      @include flex(row, flex-start, center);
      gap: 3rem;
      .thumb-image-box {
        width: 8rem;
        height: 8rem;
        border-radius: 1.6rem;
        img {
          width: 100%;
        }
      }
      .title-box {
        @include font(ll, $gray-700);
      }
    }
    .result-num-box {
      @include font(bs, $gray-800);
    }
  }
}

@media #{$tablet} {
  .result-option {
    padding: 2rem 0;
    .result-option-top {
      .category-box {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }

    .result-option-bottom {
      margin-top: 0.6rem;
      .result-thumb-box {
        gap: 1.4rem;
        .thumb-image-box {
          width: 6rem;
          min-width: 6rem;
          height: 6rem;
        }
        .title-box {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }

      .result-num-box {
        font-size: 1.6rem;
        line-height: 2.2rem;
        white-space: nowrap;
      }
    }
  }
}
