.sub-page-search-address {
  .canvas-box {
    position: relative;
    &::before {
      content: '';
      z-index: 11;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 18rem;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .img_obj {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 100%;
    }
  }
}

.layout-content-box {
  min-height: 1px;
  padding: 8.2rem 0;

  .highlight {
    color: $accent;
    font-weight: 700;
  }
  .alert {
    color: $alert;
  }

  .layout-content-top {
    .title-box {
      @include font(bm, $gray-500);
      p {
        margin-bottom: 1rem;
      }
      .bold {
        display: block;
        @include font(h3);
      }
    }

    .desc-box {
      margin-top: 2.2rem;
      .desc {
        @include font(bm, $gray-500);
      }
    }

    .alert-box {
      margin-top: 2rem;
      padding: 0;
    }
  }

  .layout-content-bottom {
    margin-top: 6rem;
  }

  .address-search-field-box {
    .field-container {
      + .field-container {
        margin-top: 1rem;
      }
    }
  }

  .tip-box {
    padding-top: 4rem;
    .label-box {
      width: fit-content;
      padding: 0 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $accent;
      line-height: 3rem;
      border-radius: 0.8rem;
      background-color: rgba($accent, 0.1);
    }

    .desc-box {
      margin: 0.6rem 0 1.4rem;
      @include font(ll, $gray-700);
    }
  }

  .alert-box {
    margin-top: 2.4rem;
    @include font(lm, $gray-500);
    padding-left: 1rem;
    p {
      @include flex(row, flex-start, center);
      &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 0.6rem;
        background: asset-image('icon/ic_pc_co_alert.svg') no-repeat center / 2rem;
      }
    }
  }

  .guide-box {
    margin-top: 2.4rem;
    padding-left: 1.6rem;
    .title-box {
      @include font(ll, $gray-900);
    }

    .guide-list-box {
      margin-top: 1.2rem;

      .guide-list {
        + .guide-list {
          margin-top: 1.2rem;
        }
        .text-box {
          @include flex(row, flex-start, center);
          @include font(lm, $gray-700);
          &::before {
            content: '•';
            display: block;
            margin-right: 0.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: $gray-700;
            line-height: 2.4rem;
            letter-spacing: -0.02rem;
          }
        }
        .sub-text-box {
          margin-top: 0.2rem;
          padding-left: 1.4rem;
          @include font(lm, $gray-400);
        }
      }
    }
  }
}

.layout-desc-box {
  margin-top: 3rem;
  padding: 1.8rem 2.6rem;
  border-radius: 2rem;
  background-color: rgba($tan-400, 0.4);
  .layout-desc-lists {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    .layout-desc-list {
      display: flex;
      @include font(ls, $gray-500);
      &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: 0.7rem;
        width: 0.3rem;
        min-width: 0.3rem;
        height: 0.3rem;
        margin-right: 0.6rem;
        border-radius: 50%;
        background-color: $gray-500;
      }
    }
  }
}

@media #{$tablet} {
  .sub-page-search-address {
    .header-container {
      width: auto;
      left: auto;
      right: 0;
      .menu-box {
        .btn-menu {
          .bar {
            background-color: $white;
          }
        }
      }
    }

    .canvas-box {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 13rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
      }
    }
  }

  .layout-content-box {
    padding: 0;
    .layout-content-top {
      .title-box {
        font-size: 1.8rem;
        line-height: 2.4rem;
        p {
          margin-bottom: 0.4rem;
        }
        .bold {
          font-size: 2.6rem;
          line-height: 3.4rem;
          letter-spacing: -0.104rem;
          word-break: keep-all;
        }
      }

      .desc-box {
        margin-top: 2rem;
        .desc {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }
    }

    .layout-content-bottom {
      margin-top: 2.2rem;
    }

    .address-search-field-box {
      .field-container {
        + .field-container {
          margin-top: 0.6rem;
        }
      }
    }

    .guide-box {
      margin-top: 2rem;
      padding-left: 0;
      .title-box {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      .guide-list-box {
        margin-top: 1rem;
        .guide-list {
          + .guide-list {
            margin-top: 0.8rem;
          }
          .text-box {
            font-size: 1.4rem;
            line-height: 2rem;
            &::before {
              margin-right: 0.4rem;
              font-size: 1.4rem;
              line-height: 2rem;
              letter-spacing: 0;
            }
          }
          .sub-text-box {
            padding-left: 1.1rem;
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
      }
    }

    .alert-box {
      margin-top: 1.4rem;
      padding-left: 0;
      font-size: 1.4rem;
      line-height: 2rem;
      p {
        &::before {
          width: 1.6rem;
          height: 1.6rem;
          margin-right: 0.4rem;
          background-size: 1.6rem;
        }
      }
    }

    .tip-box {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      padding-top: 1.5rem;

      .label-box {
        margin-right: 0.6rem;
        font-size: 1.4rem;
        line-height: 2rem;
      }

      .desc-box {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2rem;
      }

      .download-box {
        width: 100%;
        margin-top: 1.6rem;
      }
    }
  }

  .layout-desc-box {
    padding: 1.4rem 1.2rem;
    .layout-desc-lists {
      gap: 1rem;
      .layout-desc-list {
        font-size: 1.3rem;
        line-height: 2rem;
      }
    }
  }

  .field-address {
    .field-box {
      position: relative;

      .field-button-box {
        z-index: 12;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .btn-search {
          min-width: unset;
          width: 100%;
          height: 100%;
          padding: 0;
          font-size: 0;
          background-color: transparent;
        }
      }
    }
  }
}
