.select-option-container {
  height: 100%;
  .select-option-area {
    @include flex(column, flex-start, flex-start);
    height: 100%;
    min-height: 0;
  }

  .select-option-top {
    width: 100%;
    padding: 2.2rem 8rem 3rem;
    .message-box {
      margin-top: 2.4rem;
      @include font(h1);
    }
  }

  .select-option-bottom {
    flex: 1;
    overflow: hidden;
    width: 100%;
  }

  .select-option-box {
    height: 100%;
    .select-option-list-box {
      @include flex(row, flex-start, flex-start);
      height: 100%;
      .select-option-list {
        flex: 1;
        height: 100%;
        .select-option {
          position: relative;
          height: 100%;
          &:hover {
            &::before {
              display: none;
            }
            .btn-select {
              display: block;
            }
          }
          &::before {
            content: '';
            z-index: 11;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
          }
          .image-box {
            height: 100%;
          }

          .text-box {
            z-index: 12;
            position: absolute;
            top: 7rem;
            left: 6rem;
            .desc-box {
              margin-bottom: 0.6rem;
              @include font(bl, $white);
            }
            .name-box {
              @include font(h3, $white);
            }
          }

          .btn-select {
            z-index: 12;
            display: none;
            position: absolute;
            left: 50%;
            bottom: 5rem;
            transform: translateX(-50%);
            width: 14.8rem;
          }
        }
      }
    }
  }
}

@media #{$tablet} {
  .select-option-container {
    .select-option-top {
      padding: 3rem 2rem;
      .message-box {
        margin: 0;
        font-size: 2.6rem;
        line-height: 3.4rem;
        letter-spacing: -0.104rem;
      }
    }

    .select-option-box {
      .select-option-list-box {
        flex-wrap: wrap;

        .select-option-list {
          overflow: hidden;
          width: 50%;
          height: 50%;
          flex: unset;
          &.type-field,
          &.type-mountain {
            // width: 100%;
          }
          .select-option {
            .image-box {
              position: relative;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 1px);
                height: calc(100% + 1px);
              }
            }

            .text-box {
              top: 2rem;
              left: 2rem;
              .desc-box {
                margin-bottom: 0.4rem;
                font-size: 1.6rem;
                line-height: 2.2rem;
              }
              .name-box {
                font-size: 2rem;
                line-height: 2.6rem;
              }
            }

            .btn-select {
              bottom: 3rem;
              width: 8rem;
              padding: 0.4rem 1.8rem;
              border-radius: 1.6rem;
              font-size: 1.4rem;
              line-height: 2.4rem;
            }
          }
        }
      }
    }
  }
  .sub-page-select-situation {
    .select-option-container {
      .select-option-box {
        .select-option-list-box {
          .select-option-list {
            width: 100%;
          }
        }
      }
    }
  }
}

@media #{$mobile_device} {
  .select-option-container {
    .select-option-box {
      .select-option-list-box {
        .select-option-list {
          &.active {
            .select-option {
              &::before {
                display: none;
              }
              .btn-select {
                display: block;
              }

              &:hover {
                &::before {
                  display: none;
                }
                .btn-select {
                  display: block;
                }
              }
            }
          }
          .select-option {
            &:hover {
              &::before {
                display: block;
              }
              .btn-select {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
