.start-info-container {
  width: 100%;
  padding-top: 9rem;
  .start-info-area {
    @include flex(row, center, flex-start);
    padding: 0 8rem;
  }

  .start-info-left-box {
    padding-top: 2rem;
    .title-box {
      .title {
        @include font(h1);
        letter-spacing: -0.012rem;
        word-break: keep-all;
      }
    }

    .desc-box {
      margin-top: 4rem;
      p {
        @include font(bm, $gray-500);
        line-height: 3.6rem;
        word-break: keep-all;
        .bold {
          font-weight: 700;
          color: $gray-800;
        }
      }
    }

    .button-box {
      margin-top: 10.7rem;
    }
  }

  .start-info-right-box {
    margin-left: 14.2rem;
  }

  .how-to-progress-box {
    padding: 12rem 10rem 12.2rem 11rem;
    border-radius: 2rem;
    background-color: $tan-100;

    .how-to-progress-box-top {
      width: 57.4rem;
      margin-bottom: 6rem;
      padding-bottom: 6rem;
      border-bottom: 1px solid $gray-100;
      .title-box {
        .title {
          @include font(h3, $gray-700);
          letter-spacing: -0.128rem;
        }
      }
    }
  }

  .progress-list-box {
    .progress-list {
      @include flex(row, flex-start, center);
      margin-top: 4rem;
      &:first-child {
        margin-top: 0;
      }

      &.type-dream {
        .label-box {
          &::before {
            background: asset-image('icon/ic_pc_start_dream.svg') no-repeat center / 3.2rem;
          }
        }
      }

      &.type-prepare {
        .label-box {
          &::before {
            background: asset-image('icon/ic_pc_start_prepare.svg') no-repeat center / 3.2rem;
          }
        }
      }

      &.type-realize {
        .label-box {
          &::before {
            background: asset-image('icon/ic_pc_start_realize.svg') no-repeat center / 3.2rem;
          }
        }
      }
      .label-box {
        @include flex(row, flex-start, center);
        &:before {
          content: '';
          display: block;
          width: 3.2rem;
          height: 3.2rem;
          margin-right: 1rem;
        }
        .label {
          width: 8.3rem;
          @include font(h4, $gray-700);
          white-space: nowrap;
        }
      }

      .text-box {
        margin-left: 3.2rem;
        @include font(bs, $gray-700);
      }
    }
  }
}

@media #{$tablet} {
  .start-info-container {
    overflow: auto;
    height: 100%;
    padding-top: 0;
    padding-bottom: 9.2rem;
    .start-info-area {
      display: block;
      padding: 0 2rem;
    }
    .start-info-left-box {
      padding-top: 2.2rem;

      .title-box {
        .title {
          font-size: 2.6rem;
          line-height: 3.4rem;
          letter-spacing: -0.104rem;
        }
      }

      .desc-box {
        margin-top: 3.2rem;
        p {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }

      .button-box {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 1.6rem 2rem 2rem;
        background-color: $white;
        .btn-start {
          width: 100%;
          padding: 1.6rem;
          border-radius: 1.2rem;
          font-size: 1.6rem;
          line-height: 2.4rem;
          .ic {
            display: none;
          }
        }
      }
    }

    .start-info-right-box {
      margin-top: 3rem;
      margin-left: 0;
    }

    .how-to-progress-box {
      padding: 2.6rem 2.4rem;
      border-radius: 1rem;

      .how-to-progress-box-top {
        width: 100%;
        margin-bottom: 2.4rem;
        padding-bottom: 2rem;
        .title-box {
          .title {
            font-size: 2rem;
            line-height: 2.8rem;
            letter-spacing: -0.08rem;
          }
        }
      }
    }

    .progress-list-box {
      .progress-list {
        display: block;
        margin-top: 3.2rem;
        .label-box {
          &::before {
            width: 2.4rem;
            height: 2.4rem;
            background-size: 2.4rem !important;
          }

          .label {
            width: auto;
            font-size: 1.8rem;
            line-height: normal;
          }
        }

        .text-box {
          margin-top: 0.8rem;
          margin-left: 0;
          font-size: 1.6rem;
          line-height: 2.2rem;
          letter-spacing: -0.064rem;
        }
      }
    }
  }
}
