.modal {
  &.modal-privacy-policy,
  &.modal-terms-of-service {
    .title-box {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 1.6rem;
      .title {
        @include font(bs);
      }
      .sub-title {
        color: $black;
      }
    }

    .modal-dropdown-box {
      margin-top: 3rem;
    }

    .modal-middle {
      &.scroll {
        max-height: 33.4rem;
      }
    }

    .content {
      display: none;
      @include font(bs, $gray-500);
      &.active {
        display: block;
      }

      a {
        color: $gray-500;
      }
    }
  }

  &.modal-request-confirm {
    .unit-box {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      padding: 1.8rem 0;
      border-top: 1px solid $gray-100;
      &:first-of-type {
        padding-top: 0;
        border: none;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
      & + .unit-box {
        margin: 0;
      }
      .unit-top {
        margin: 0;
        .title-box {
          @include font(bs);
        }
      }
      .data-box {
        @include flex(row, space-between, flex-start);
        gap: 2rem;
        @include font(lm);
        & + .data-box {
          margin-top: 0.4rem;
        }
        .label {
          color: $gray-400;
        }
      }
    }
  }

  &.modal-additional-request {
    .unit-box {
      padding: 2.4rem 2rem;
      border-radius: 2rem;
      background-color: $tan-100;
      .unit-top {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
        padding-bottom: 2.4rem;
      }
      .data-box {
        @include flex(row, space-between, flex-start);
        gap: 2rem;
        @include font(lm);
        .label {
          color: $gray-400;
        }
        .data {
          text-align: right;
        }
      }
      .unit-bottom {
        padding-top: 2.4rem;
        border-top: 1px solid $gray-100;
      }
      .text-box {
        @include font(bs);
        text-align: center;
      }
    }
    .modal-content-bottom {
      margin-top: 3.4rem;
      .tip-box {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        .tip {
          width: fit-content;
          padding: 0 1rem;
          border-radius: 0.8rem;
          background-color: rgba($accent, 0.1);
          font-size: 1.5rem;
          font-weight: 700;
          color: $accent;
          line-height: 3rem;
        }
        .desc-box {
          @include font(lm, $gray-500);
          .strong {
            color: inherit;
          }
        }
      }
    }
  }

  &.modal-request-complete {
    .unit-box {
      padding: 2.4rem 2rem;
      border-radius: 2rem;
      background-color: $tan-100;
      .title-box {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        text-align: center;
        .title {
          @include font(ll);
        }
        .desc {
          @include font(bs, $gray-500);
        }
      }
      .unit-bottom {
        margin-top: 3.2rem;
        .progress-box {
          justify-content: center;
        }
      }
    }
    .modal-content-bottom {
      margin-top: 2.4rem;
      .desc-box {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        text-align: center;
        .desc {
          @include font(lm, $gray-400);
        }
      }
    }
  }

  &.modal-download {
    &.modal-small {
      .modal-container {
        padding: 0;
      }
    }
    .modal-top {
      margin-bottom: 2rem;
      .modal-title-box {
        padding: 4rem 4rem 0 4rem;
      }
    }
    .modal-middle {
      padding: 0 4rem;
      .highlight {
        margin-top: 1.6rem;
        @include font(ls);
        color: $accent;
      }
    }
    .modal-bottom {
      padding: 0 4rem 5rem 4rem;
    }
  }

  &.modal-construction-info {
    .modal-content-box {
      .strong {
        color: $black;
      }
      .highlight {
        color: $accent;
      }
      .text {
        + .text {
          margin-top: 2rem;
        }
      }
      .modal-content-bottom {
        margin-top: 3.2rem;
      }
    }
    .construction-box {
      border-radius: 2rem;
      background-color: $tan-100;
      .construction-unit-box {
        @include flex(row, flex-start, center);
        gap: 2.4rem;
        padding: 3rem 3.2rem 2.4rem;
        border-top: 1px solid $gray-100;
        &:first-of-type {
          border: none;
        }
        .label-box {
          min-width: 6.3rem;
          @include font(h4, $accent);
        }
        .data-box {
          @include font(bs, $gray-500);
        }
      }
    }
  }

  &[class*='modal-search-address'] {
    .modal-container {
      padding: 3rem;
    }
    .modal-top {
      margin-bottom: 2rem;
    }
    .modal-middle {
      height: 56rem;
    }
    .address-middle {
      margin-top: 3rem;
      .address-heading-top {
        @include font(ll, $gray-900);
      }
      .address-heading-bottom {
        margin-top: 1.2rem;
      }
      .address-heading-lists {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }
      .address-heading-list {
        display: flex;
        @include font(lm, $gray-400);
        &::before {
          content: '';
          display: inline-block;
          position: relative;
          top: 1rem;
          width: 0.4rem;
          height: 0.4rem;
          margin-right: 0.8rem;
          border-radius: 50%;
          background-color: $gray-700;
        }
        .text-box {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
        }
        .strong {
          color: $gray-700;
          font-weight: 500;
        }
      }
    }
    .address-bottom {
      margin-top: 1.8rem;
      overflow-y: auto;
      max-height: 47.7rem;
    }
    .address-result-box {
      .total-box {
        display: flex;
        gap: 0.8rem;
        @include font(lm);
        .num {
          color: $accent;
        }
      }
      .address-result-list-box {
        margin-top: 1.4rem;
      }
    }
    .address-result-list {
      @include flex(row, space-between, center);
      gap: 2.6rem;
      padding: 1.4rem 0;
      border-bottom: 1px solid $gray-50;
      &:first-of-type {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      .address-result-list-left {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
      }
      .address-result-unit {
        display: flex;
        gap: 0.8rem;
        .badge {
          @include flex(row, center, center);
          width: 4.4rem;
          height: 2.4rem;
          border-radius: 0.4rem;
          border: 1px solid $gray-100;
          font-size: 1.3rem;
          font-weight: 500;
          color: $gray-300;
          line-height: 2rem;
        }
        .text-box {
          @include font(lm);
          color: $gray-700;
        }
      }
    }
  }
}

@media #{$tablet} {
  .modal {
    &.modal-privacy-policy,
    &.modal-terms-of-service {
      height: 90%;
      .modal-container {
        height: 100%;
      }

      .modal-area {
        @include flex(column, flex-start, flex-start);
        height: 100%;
      }

      .modal-top {
        width: 100%;
        margin-bottom: 1.4rem;
      }

      .title-box {
        .title {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }

      .modal-dropdown-box {
        margin-top: 1.6rem;
      }

      .modal-middle {
        width: 100%;
        padding-bottom: 9.2rem;
        &.scroll {
          flex: 1;
          max-height: none;
        }
      }

      .content {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      .modal-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 1.6rem 2rem 2rem;
        background-color: $white;
        box-shadow: 0 -1rem 2rem 0 rgba(255, 255, 255, 0.6);
      }
    }

    &.modal-request-confirm {
      .unit-box {
        gap: 1rem;
        padding: 1.6rem 0;
        .unit-top {
          .title-box {
            font-size: 1.6rem;
            line-height: 2.2rem;
          }
        }

        .data-box {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }

    &.modal-additional-request {
      .unit-box {
        .unit-top {
          gap: 0.6rem;
        }

        .data-box {
          font-size: 1.4rem;
          line-height: 2rem;
          .data {
            text-align: right;
            word-break: keep-all;
          }
        }

        .text-box {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }

      .modal-content-bottom {
        margin-top: 3rem;

        .tip-box {
          .tip {
            padding: 0.2rem 0.8rem;
            border-radius: 0.6rem;
            font-size: 1.3rem;
            line-height: 2rem;
          }

          .desc-box {
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
      }

      .modal-button-box {
        .btn {
          white-space: nowrap;
        }
      }
    }

    &.modal-request-complete {
      .unit-box {
        border-radius: 1.6rem;
        .unit-top {
          margin-bottom: 0;
        }

        .title-box {
          .title {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }

          .desc {
            font-size: 1.6rem;
            line-height: 2.2rem;
          }
        }

        .unit-bottom {
          margin-top: 2.8rem;
        }
      }

      .modal-content-bottom {
        margin-top: 3rem;
        .desc-box {
          gap: 1.2rem;
          .desc {
            line-height: 2.2rem;
          }
        }
      }

      .modal-bottom {
        margin-top: 3.2rem;
      }
    }

    &.modal-download {
      .modal-banner-box {
        background-color: $tan-200;
        img {
          width: auto;
          height: 24rem;
          margin: auto;
        }
      }
    }

    &.phone-number-guide-modal {
      .modal-banner-box {
        background: linear-gradient(180deg, #32b56a 86.25%, #22aa5c 100%);

        img {
          width: auto;
          height: 24rem;
          margin: auto;
        }
      }
    }

    &[class*='modal-search-address'] {
      overflow: hidden;
      height: 100dvh;
      max-height: none;

      .modal-container {
        height: 100%;
        padding: 0;
        border-radius: 0;
        .modal-area {
          @include flex(column, flex-start, flex-start);
          height: 100%;
        }
      }

      .btn-close {
        position: absolute;
        top: 1rem;
        width: 3.2rem;
        height: 3.2rem;
        background: asset-image('icon/ic_mo_top_close_b.svg') no-repeat center / 3.2rem;
      }

      .modal-top {
        width: 100%;
        margin-bottom: 2.7rem;
        padding: 1rem 2rem;
        text-align: center;

        .modal-title-box {
          .title {
            line-height: 3.2rem;
          }
        }
      }

      .modal-middle {
        flex: 1;
        width: 100%;
        min-height: 0;
        height: auto;
        padding: 0 0 9.2rem;
      }

      .address-container {
        height: 100%;
        .address-area {
          @include flex(column, flex-start, flex-start);
          height: 100%;
          > * {
            width: 100%;
          }
        }
      }

      .address-top {
        padding: 0 2rem;
      }

      .address-middle {
        margin-top: 2rem;
        padding: 0 2rem;

        .address-heading-top {
          font-size: 1.4rem;
          line-height: 2rem;
        }

        .address-heading-bottom {
          margin-top: 1rem;
        }

        .address-heading-lists {
          gap: 0.8rem;
        }

        .address-heading-list {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }

      .address-bottom {
        flex: 1;
        max-height: none;
        padding: 0 2rem;
      }

      .address-result-box {
        .total-box {
          gap: 0.6rem;
          font-size: 1.4rem;
          line-height: 2rem;
        }
        .address-result-list-box {
          margin-top: 1.3rem;
        }
      }

      .address-result-list {
        gap: 0.8rem;
        .address-result-list-left {
          gap: 0.7rem;
        }

        .address-result-unit {
          .badge {
            width: 4.2rem;
            height: 2.2rem;
            font-size: 1.2rem;
            line-height: 2.4rem;
          }
          .text-box {
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }

        .address-result-list-right {
          .btn {
            padding: 0.6rem 1.2rem;
          }
        }
      }

      .field-button-box {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.6rem 2rem;
        .btn {
          width: 100%;
          min-width: auto;
          height: 5.6rem;
          border-radius: 12px;
          background-color: $green-500;
        }
      }
    }
    &.modal-search-address-result {
      .modal-middle {
        padding-bottom: 0;
      }
      .field-button-box {
        display: none;
      }
    }
  }
}
