@@if(contentTop === 'normal') {
<div class="content-top-normal">
  <div class="content-top-inner">
    <!-- 20231031 디자인 개편 수정 : 오타수정 -->
    <div class="normal-title">@@title</div>
  </div>
</div>
} @@if(contentTop === 'edit') {
<div class="content-top-edit">
  <div class="content-top-inner">
    <div class="edit-title">@@title</div>
  </div>
</div>
} @@if(contentTop === 'detail') {
<div class="content-top-detail">
  <!-- 20231031 디자인 개편 수정 -->
  <div class="content-top-inner">
    <div class="detail-title-top">
      @@if(hasLabel) {
      <div class="type-label-box">
        <span class="type-label @@hasLabel.typeClass"><span>@@hasLabel.label</span></span>
      </div>
      }
      <div class="detail-title">@@title</div>
    </div>
    <div class="detail-title-bottom">
      <div class="detail-date">2023.09.08</div>
      <div class="button-box">
        <button type="button" class="btn-detail-edit">
          <span>수정</span>
          <span class="icon icon-edit"></span>
        </button>
        <button type="button" class="btn-detail-delete">
          <span>삭제</span>
          <span class="icon icon-delete"></span>
        </button>
      </div>
    </div>
  </div>
  <!-- // 20231031 디자인 개편 수정 -->
</div>
}
