<div class="file-manage-area">
  <div class="file-manage-top">
    <div class="file-left">
      <div class="file">
        <label for="file-select"><span>파일 찾기</span></label>
        <input type="file" name="file-select" id="file-select" />
      </div>
    </div>
    <div class="file-right">
      <button type="button" class="btn-delete-all"><span>전체 삭제</span></button>
    </div>
  </div>
  <div class="file-manage-middle">
    <div class="file-manage-item-box">
      @@for(var j = 0; j < file.length; j++){
      <div class="file-manage-item">
        <div class="file-name `+file[j].fileType+`">
          <span>`+file[j].fileName+`</span>
        </div>
        <button type="button" class="btn-delete"></button>
      </div>
      }
    </div>
  </div>
</div>
