<!-- 20240123 수정 -->
<footer class="footer-container">
  <div class="footer-area">
    <div class="footer-top">
      <div class="logo-box">
        <a href="javascript:void(0)">
          <!-- 20240422 수정 -->
          <img src="../../assets/images/Logo.svg" alt="insight plus" />
        </a>
      </div>
    </div>
    <div class="footer-middle">
      <ul class="site-map-list-box">
        <li class="site-map-list">
          <a href="javascript:void(0)" class="title"><span>인사이트 자료찾기</span></a>
          <ul class="list">
            <li>
              <a href="javascript:void(0)">뉴스레터</a>
            </li>
            <li>
              <a href="javascript:void(0)">CXI 대시보드</a>
            </li>
            <li>
              <a href="javascript:void(0)">보고서/자료</a>
            </li>
          </ul>
        </li>
        <li class="site-map-list">
          <a href="javascript:void(0)" class="title"><span>인사이트 도출하기</span></a>
          <ul class="list">
            <li>
              <a href="javascript:void(0)">고객조사 학습</a>
            </li>
            <li>
              <a href="javascript:void(0)">고객조사 의뢰</a>
            </li>
          </ul>
        </li>
        <li class="site-map-list">
          <a href="javascript:void(0)" class="title"><span>LSR 소개</span></a>
        </li>
        <li class="site-map-list">
          <a href="javascript:void(0)" class="title"><span>공지사항</span></a>
          <ul class="list">
            <li>
              <a href="javascript:void(0)">공지사항</a>
            </li>
            <li>
              <a href="javascript:void(0)">FAQ 및 Q&A</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="copyright">Copyright ⓒ LG Uplus Corp. All Rights Reserved.</p>
      <div class="family-site-box">
        <button type="button" class="btn-open"><span>Family Site</span></button>
        <!-- 20240205 수정 : 새창 열림으로 수정 -->
        <ul class="family-site-list">
          <li>
            <a href="javascript:void(0)" target="_blank">UX거버넌스플랫폼(UXGP)</a>
          </li>
          <li>
            <a href="javascript:void(0)" target="_blank">SINGLEX 고객의 소리</a>
          </li>
          <li>
            <a href="javascript:void(0)" target="_blank">데이터팜 (Data Farm)</a>
          </li>
        </ul>
        <!-- // 20240205 수정 : 새창 열림으로 수정 -->
      </div>
    </div>
  </div>
</footer>
<!-- // 20240123 수정 -->
