<li class="insight-list">
  <div class="insight-thumb-box">
    <a href="javascript:void(0)">
      <img src="../../assets/images/common/@@image" alt="" />
    </a>
  </div>
  <div class="insight-info-box">
    @@if(type.row) {
    <!-- 20231023 디자인 개편 수정 -->
    <div class="insight-title-box">
      <div class="insight-date">
        <!-- 20240422 수정 -->
        <span class="part">CX전략팀</span>
        <span class="date">2023.08</span>
      </div>
      <!-- 20231129 개발 검토 수정 : a태그로 변경 -->
      <a href="javascript:void(0)" class="insight-title">@@type.row.title</a>
    </div>
    <!-- prettier-ignore -->
    @@include("tagNormalBox.html")
    <!-- // 20231023 디자인 개편 수정 -->
    } @@if(type.column) {
    <div class="insight-info-top">
      <!-- 20231023 디자인 개편 수정 -->
      <div class="insight-title-box">
        <div class="insight-date">2023.08</div>
        <!-- 20231129 개발 검토 수정 : a태그로 변경 -->
        <a href="javascript:void(0)" class="insight-title">@@type.column.title</a>
      </div>
      <!-- prettier-ignore -->
      @@include("tagNormalBox.html")
      <!-- // 20231023 디자인 개편 수정 -->
    </div>
    <div class="insight-info-middle">
      <!-- prettier-ignore -->
      @@include("tagButtonBox.html", {
        "tag" : [
          {
            "title" : "CX",
            "selected" : "selected"
          },
          {
            "title" : "고객조사",
            "selected" : ""
          },
          {
            "title" : "인터뷰가이드",
            "selected" : ""
          },
          {
            "title" : "트렌드",
            "selected" : ""
          },
          {
            "title" : "통계",
            "selected" : ""
          }
        ]
      })
    </div>
    }
  </div>
</li>
