<div class="map-table-container">
  <div class="map-table-area">
    <table>
      <caption></caption>
      <colgroup>
        <col style="width: 100px" />
        <col style="width: 110px" />
        <col style="width: 185px" />
        <col style="width: 240px" />
        <col style="width: 200px" />
        <col style="width: 200px" />
        <col style="width: 200px" />
      </colgroup>
      <thead>
        <tr>
          <th scope="colgroup" colspan="4" class="head-link">
            <div class="map-head-box">
              <a href="javascript:void(0)" class="map-head-link">
                <span>거시트렌드</span>
                <span class="saperate"></span>
                <span>DRIVE 모델</span>
              </a>
            </div>
          </th>
          <th scope="colgroup" colspan="3" class="head-link">
            <div class="map-head-box head-link-02">
              <a href="javascript:void(0)" class="map-head-link">
                <span>미시 트렌드</span>
                <span class="saperate"></span>
                <span>고객 트렌드 Set</span>
              </a>
            </div>
          </th>
        </tr>
        <tr>
          <th scope="col">Factor</th>
          <th scope="col">Dimension</th>
          <th scope="col">Theme</th>
          <th scope="col">Direction(방향)</th>
          <th scope="col">2024년</th>
          <th scope="col">2023년</th>
          <th scope="col">~2022년</th>
        </tr>
      </thead>
      <tbody>
        <tr class="type-yellow">
          <th scope="rowgroup" rowspan="7" class="main-th">인구</th>
          <th scope="row" rowspan="2">저출산</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">1</span>
              <span>인구 구조 변화</span>
            </div>
          </td>
          <td>사람 중심에서 역할 중심으로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-yellow">
          <td>
            <div class="icon-theme-num">
              <span class="num">2</span>
              <span>인구 규모 변화</span>
            </div>
          </td>
          <td>고객 수에서 객단가로</td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-b">
              <span>키즈산업</span>
            </a>
          </td>
          <td></td>
        </tr>
        <tr class="type-yellow">
          <th scope="row" rowspan="2">고령화</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">3</span>
              <span>신생산자</span>
            </div>
          </td>
          <td>은퇴자에서 경제인으로</td>
          <td></td>
          <td></td>
          <td>
            <div class="icon-theme-en type-a">
              <span>신중년서비스</span>
            </div>
          </td>
        </tr>
        <tr class="type-yellow">
          <td>
            <div class="icon-theme-num">
              <span class="num">4</span>
              <span>신수요자</span>
            </div>
          </td>
          <td>절제에서 소비로</td>
          <td></td>
          <td>
            <div class="icon-theme-en type-t">
              <span>1인분 시대</span>
            </div>
            <div class="icon-theme-en type-a">
              <span>신중년</span>
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-a">
              <span>신중년</span>
            </a>
          </td>
        </tr>
        <tr class="type-yellow">
          <th scope="row" rowspan="3">가구 다양화</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">5</span>
              <span>1인가구</span>
            </div>
          </td>
          <td>비주류에서 주류로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-yellow">
          <td>
            <div class="icon-theme-num">
              <span class="num">6</span>
              <span>펫가구</span>
            </div>
          </td>
          <td>의무적 관계에서 선택적 관계로</td>
          <td></td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>MZ펫</span>
            </a>
          </td>
        </tr>
        <tr class="type-yellow">
          <td>
            <div class="icon-theme-num">
              <span class="num">7</span>
              <span>딩크/돌싱/다문화</span>
            </div>
          </td>
          <td>전형성에서 비전형성으로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <!-- //인구 : type-yellow -->

        <!-- 세대역할 : type-purple -->
        <tr class="type-purple">
          <th scope="rowgroup" rowspan="5" class="main-th">세대 역할</th>
          <th scope="row">BB세대</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">8</span>
              <span>산업역군</span>
            </div>
          </td>
          <td>잉여 자산 바탕의 새로운 역할</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-purple">
          <th scope="row">X세대</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">9</span>
              <span>오렌지족</span>
            </div>
          </td>
          <td>가족과 자신의 밸런스 추구</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-purple">
          <th scope="row">M세대</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">10</span>
              <span>개인주의</span>
            </div>
          </td>
          <td>개인의 가치 중시</td>
          <td>
            <div class="icon-theme-en type-a">
              <span>앱트렌드</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-m">
              <span>MZ스포츠</span>
            </div>
            <a href="javascript:void(0)" class="icon-theme-en link type-a">
              <span>앱트렌드</span>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>M&A육아</span>
            </a>
          </td>
        </tr>
        <tr class="type-purple">
          <th scope="row">Z세대</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">11</span>
              <span>지구인정체성</span>
            </div>
          </td>
          <td>개인 취향과 다양성 최우선</td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-a">
              <span>앱트렌드</span>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>Z세대소통</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>MZ구독</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>MZ건강</span>
            </a>
          </td>
        </tr>
        <tr class="type-purple">
          <th scope="row">알파세대</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">12</span>
              <span>디지털원주민</span>
            </div>
          </td>
          <td>기술적 진보를 자유롭게 경험</td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>호모알파스</span>
            </a>
          </td>
          <td></td>
        </tr>
        <!-- //세대역할 : type-purple -->

        <!-- 혁신기술 : type-blue -->
        <tr class="type-blue">
          <th scope="rowgroup" rowspan="6" class="main-th">혁신 기술</th>
          <th scope="row">모빌리티</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">13</span>
              <span>친환경</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">14</span>
              <span>자율주행</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">15</span>
              <span>UAM</span>
            </div>
          </td>
          <td>이동에서 거점/공간으로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-blue">
          <th scope="row">통신</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">16</span>
              <span>IoT</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">17</span>
              <span>6G</span>
            </div>
          </td>
          <td>제품/서비스에서 생태계/CX</td>
          <td></td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>Homeniverse</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>MZ통신</span>
            </a>
          </td>
        </tr>
        <tr class="type-blue">
          <th scope="row">버츄얼</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">18</span>
              <span>AR/VR/XR</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">19</span>
              <span>메타버스</span>
            </div>
          </td>
          <td>제약에서 시공간 초월로</td>
          <td></td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>Omni-tact</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>디지털그라데이션</span>
            </a>
          </td>
        </tr>
        <tr class="type-blue">
          <th scope="row">로보틱스</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">20</span>
              <span>휴머노이드</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">21</span>
              <span class="num">22</span>
              <span>개인/전문 로봇</span>
            </div>
          </td>
          <td>노동 대체에서 역할 대체로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-blue">
          <th scope="row">인공지능</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">23</span>
              <span>빅테이터</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">24</span>
              <span>클라우드</span>
            </div>
          </td>
          <td>데이터 경제에서 맥락 경제로</td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>폼생폼사</span>
            </a>
          </td>
          <td>
            <div class="icon-theme-en type-b">
              <span>빅 AI</span>
            </div>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>AI고객경험</span>
            </a>
          </td>
        </tr>
        <tr class="type-blue">
          <th scope="row">블록체인</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">25</span>
              <span>암호화폐</span>
            </div>
            <div class="icon-theme-num">
              <span class="num">26</span>
              <span>NFT</span>
            </div>
          </td>
          <td>금융에서 생활 영역으로</td>
          <td></td>
          <td>
            <div class="icon-theme-en type-b">
              <span>Web 3.0산업</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-b">
              <span>NFT산업</span>
            </div>
          </td>
        </tr>
        <!-- //혁신기술 : type-blue -->

        <!-- 가치 : type-green -->
        <tr class="type-green">
          <th scope="rowgroup" rowspan="7" class="main-th">가치</th>
          <th scope="row" rowspan="2">환경적 가치</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">27</span>
              <span>산업환경</span>
            </div>
          </td>
          <td>성장 관점에서 ESG로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-green">
          <td>
            <div class="icon-theme-num">
              <span class="num">28</span>
              <span>소비환경</span>
            </div>
          </td>
          <td>친환경에서 필환경으로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-green">
          <th scope="row" rowspan="2">사회적 가치</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">29</span>
              <span>집중화 해소</span>
            </div>
          </td>
          <td>정책 주도에서 시장 주도로</td>
          <td>
            <div class="icon-theme-en type-t">
              <span>폴러와칭</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-b">
              <span>미디어산업</span>
            </div>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>사이드콘텐츠</span>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>미디어 고객경험</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>MZ미디어</span>
            </a>
          </td>
        </tr>
        <tr class="type-green">
          <td>
            <div class="icon-theme-num">
              <span class="num">30</span>
              <span>양극화 해소</span>
            </div>
          </td>
          <td>배려에서 책임으로</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="type-green">
          <th scope="row" rowspan="3">개인적 가치</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">31</span>
              <span>공정성</span>
            </div>
          </td>
          <td>결과적 공정에서 절차적 공정으로</td>
          <td>
            <div class="icon-theme-en type-t">
              <span>데이터슈머</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-t">
              <span>페이크캔슬링</span>
            </div>
          </td>
          <td></td>
        </tr>
        <tr class="type-green">
          <td>
            <div class="icon-theme-num">
              <span class="num">32</span>
              <span>다양성</span>
            </div>
          </td>
          <td>주류 문화에서 서브 문화로</td>
          <td></td>
          <td>
            <div class="icon-theme-en type-m">
              <span>MZ 뉴스</span>
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>오디오 콘텐츠</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>K콘시대</span>
            </a>
          </td>
        </tr>
        <tr class="type-green">
          <td>
            <div class="icon-theme-num">
              <span class="num">33</span>
              <span>능동성</span>
            </div>
          </td>
          <td>컨슈머에서 프로슈머로</td>
          <td>
            <div class="icon-theme-en type-t">
              <span>포스트잇쉽</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-m">
              <span>MZ 기록/공유</span>
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>서비스 커뮤니티</span>
            </a>
          </td>
        </tr>
        <!-- //가치 : type-green -->

        <!-- 경제 : type-pink -->
        <tr class="type-pink">
          <th scope="rowgroup" rowspan="6" class="main-th">경제</th>
          <th scope="row" rowspan="3">소비정향</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">34</span>
              <span>고급소비</span>
            </div>
          </td>
          <td>과시에서 자기만족으로</td>
          <td></td>
          <td>
            <div class="icon-theme-en type-t">
              <span>플랜A</span>
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>홈족라이프</span>
            </a>
          </td>
        </tr>
        <tr class="type-pink">
          <td>
            <div class="icon-theme-num">
              <span class="num">35</span>
              <span>알뜰소비</span>
            </div>
          </td>
          <td>소배 대상에서 소비 방식으로</td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>환상의 짝꿍</span>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>스완소비력</span>
            </a>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>온라인구매</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-m">
              <span>MZ쇼핑</span>
            </a>
          </td>
        </tr>
        <tr class="type-pink">
          <td>
            <div class="icon-theme-num">
              <span class="num">36</span>
              <span>취향소비</span>
            </div>
          </td>
          <td>소수 덕후에서 전국민 덕후로</td>
          <td>
            <div class="icon-theme-en type-t">
              <span>극취저</span>
            </div>
          </td>
          <td></td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>스크롤살롱</span>
            </a>
          </td>
        </tr>
        <tr class="type-pink">
          <th scope="row" rowspan="3">전환</th>
          <td>
            <div class="icon-theme-num">
              <span class="num">37</span>
              <span>구매양식</span>
            </div>
          </td>
          <td>소유에서 향유로</td>
          <td></td>
          <td>
            <div class="icon-theme-en type-b">
              <span>구독산업</span>
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>광고</span>
            </a>
            <a href="javascript:void(0)" class="icon-theme-en link type-a">
              <span>타임프라이싱</span>
            </a>
          </td>
        </tr>
        <tr class="type-pink">
          <td>
            <div class="icon-theme-num">
              <span class="num">38</span>
              <span>노동형태</span>
            </div>
          </td>
          <td>직원에서 기업가로</td>
          <td></td>
          <td>
            <div class="icon-theme-en type-m">
              <span>MZ 금융</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-o">
              <span>디깅력</span>
            </div>
          </td>
        </tr>
        <tr class="type-pink">
          <td>
            <div class="icon-theme-num">
              <span class="num">39</span>
              <span>산업구조</span>
            </div>
          </td>
          <td>히스토리에서 스토리로</td>
          <td>
            <div class="icon-theme-en type-t">
              <span>부심톡</span>
            </div>
          </td>
          <td>
            <div class="icon-theme-en type-b">
              <span>오프라인</span>
            </div>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>아우라플레이스</span>
            </a>
          </td>
          <td>
            <div class="icon-theme-en type-t">
              <span>브랜드경험</span>
            </div>
            <a href="javascript:void(0)" class="icon-theme-en link type-t">
              <span>업뎃라이프</span>
            </a>
          </td>
        </tr>
        <!-- //경제 : type-pink -->
      </tbody>
    </table>
  </div>
  <div class="map-table-info-area">
    <div class="info-title">트렌드세션 :</div>
    <ul>
      <li>
        <div class="icon-theme-en type-t">
          <span>고객트렌드(보고서 : TrendI) , </span>
        </div>
      </li>
      <li>
        <div class="icon-theme-en type-b">
          <span>산업트렌드(전문가 강연) / </span>
        </div>
      </li>
      <li>
        <div class="icon-theme-en type-m">
          <span>MZ세대자문회의(보고서 : MZ트렌드 줍줍) / </span>
        </div>
      </li>
      <li>
        <div class="icon-theme-en type-a">
          <span>기타 보고</span>
        </div>
      </li>
    </ul>
  </div>
</div>
