<div class="pagination-area">
  <button type="button" class="btn-page-first" disabled></button>
  <button type="button" class="btn-page-prev" disabled></button>
  <div class="pagination-box">
    <!-- 현재 페이지 활성화 : current -->
    <button type="button" class="btn-page current"><span>1</span></button>
    <button type="button" class="btn-page"><span>2</span></button>
    <button type="button" class="btn-page"><span>3</span></button>
    <button type="button" class="btn-page"><span>4</span></button>
    <button type="button" class="btn-page"><span>5</span></button>
    <button type="button" class="btn-page"><span>6</span></button>
    <button type="button" class="btn-page"><span>7</span></button>
    <button type="button" class="btn-page"><span>8</span></button>
    <button type="button" class="btn-page"><span>9</span></button>
  </div>
  <button type="button" class="btn-page-next"></button>
  <button type="button" class="btn-page-last"></button>
</div>
