@@if(hasDetail) {
<div class="search-input-box">
  <button type="button" class="btn-search" title="검색하기"></button>
  <!-- 활성화 클래스 : .active -->
  <button type="button" class="btn-detail-open"><span>상세검색</span></button>
  <input type="text" name="" id="" title="검색하기" placeholder="최신 인사이트를 검색해보세요." />
</div>
} @@if(hasButton) {
<div class="search-input-box">
  <!-- 20231023 디자인 개편 수정 -->
  <input type="text" name="" id="" title="검색하기" placeholder="검색어를 입력해주세요" />
  <button type="button" class="btn btn-secondary btn-small"><span>검색</span></button>
  <!-- // 20231023 디자인 개편 수정 -->
</div>
} @@if(normal) {
<div class="search-input-box">
  <button type="button" class="btn-search" title="검색하기"></button>
  <input type="text" name="" id="" title="검색하기" placeholder="최신 인사이트를 검색해보세요." />
</div>
}
