<div class="total-search-container">
  <div class="total-search-top">
    @@if(detail) {
    <div class="search-input-box">
      <button type="button" class="btn-search" title="검색하기"></button>
      <!-- 활성화 클래스 : .active -->
      <button type="button" class="btn-detail-open"><span>상세검색</span></button>
      <input type="text" placeholder="최신 인사이트를 검색해보세요." />
    </div>
    } @@if(normal) {
    <div class="search-input-box">
      <button type="button" class="btn-search" title="검색하기"></button>
      <input type="text" placeholder="최신 인사이트를 검색해보세요." />
    </div>
    }
  </div>
  @@if(tag) {
  <div class="total-search-middle">
    <!-- prettier-ignore -->
    @@include("tagButtonBox.html", {
        "tag" : [
          {
            "title" : "CX",
            "selected" : "selected"
          },
          {
            "title" : "고객조사",
            "selected" : ""
          },
          {
            "title" : "인터뷰가이드",
            "selected" : ""
          },
          {
            "title" : "트렌드",
            "selected" : ""
          },
          {
            "title" : "통계",
            "selected" : ""
          },
          {
            "title" : "XY",
            "selected" : ""
          },
          {
            "title" : "의뢰",
            "selected" : ""
          },
          {
            "title" : "마케팅",
            "selected" : ""
          },
          {
            "title" : "ChatGPT",
            "selected" : ""
          },
          {
            "title" : "2023 트렌드",
            "selected" : ""
          }
        ]
      })
  </div>
  }
  <div class="total-search-bottom">
    <div class="search-filter-container">
      <div class="search-filter-top">
        <div class="search-filter-box">
          <div class="filter-box-left">
            <div class="filter-title">자료유형</div>
          </div>
          <div class="filter-box-right">
            <div class="filter-item-box">
              <div class="field-form">
                <!-- prettier-ignore -->
                @@include("checkbox.html", {
                  "checkbox" : [
                    {
                      "name" : "chk-all",
                      "label" : "전체",
                      "property" : "checked",
                      
                    },
                    {
                      "name" : "chk-01",
                      "label" : "CSI",
                      "property" : "disabled"
                    },
                    {
                      "name" : "chk-02",
                      "label" : "CXI",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-03",
                      "label" : "U&A",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-04",
                      "label" : "MZ자문",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-05",
                      "label" : "트렌드",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-06",
                      "label" : "강연",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-07",
                      "label" : "사외자료",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-08",
                      "label" : "기타",
                      "property" : "",
                      
                    }
                  ]
                })
              </div>
            </div>
          </div>
        </div>
        <div class="search-filter-box">
          <div class="filter-box-left">
            <div class="filter-title">주제</div>
          </div>
          <div class="filter-box-right">
            <div class="filter-item-box">
              <div class="field-form">
                <!-- prettier-ignore -->
                @@include("checkbox.html", {
                  "checkbox" : [
                    {
                      "name" : "chk-all-02",
                      "label" : "전체",
                      "property" : "checked",
                      
                    },
                    {
                      "name" : "chk-09",
                      "label" : "통신일반",
                      "property" : "disabled"
                    },
                    {
                      "name" : "chk-010",
                      "label" : "세그",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-011",
                      "label" : "반려동물",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-012",
                      "label" : "마케팅",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-013",
                      "label" : "미래예측",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-014",
                      "label" : "기술",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-015",
                      "label" : "B2B",
                      "property" : "",
                      
                    },
                    {
                      "name" : "chk-016",
                      "label" : "기타",
                      "property" : "",
                      
                    }
                  ]
                })
              </div>
            </div>
          </div>
        </div>
        <div class="search-filter-box">
          <div class="filter-box-left">
            <div class="filter-title">기간</div>
          </div>
          <div class="filter-box-right">
            <div class="filter-item-box">
              <div class="field-form">
                <!-- prettier-ignore -->
                @@include("checkbox.html", {
                  "checkbox" : [
                    {
                      "name" : "chk-all-03",
                      "label" : "전체",
                      "property" : "checked",
                      
                    },
                    {
                      "name" : "chk-016",
                      "label" : "기간설정",
                      "property" : "disabled"
                    },
                  ]
                })
                <!-- prettier-ignore -->
                @@include("customMonthPickerRange.html", {
                  "monthPicker" : true,
                  "datePicker" : ""
                })
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search-filter-bottom">
        <div class="button-box">
          <!-- 20231031 디자인 개편 수정 -->
          <button type="button" class="btn btn-large btn-primary"><span>검색하기</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
