.certification {
  .column-title-icon-box {
    padding-top: 1.6rem;
    &:before {
      display: none;
    }

    .circle-icon-box {
      @include flex(row, center, center);
      margin-bottom: 2rem;
    }
  }
  .form-certification-box {
    margin-top: 3.6rem;
    .form-certification {
      margin-bottom: 2rem;
    }
    .certinArea:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
