.form-reserve-setting {
  margin-top: 3.6rem;
}
.soldier-plan {
  .service-button-box {
    display: none;
    margin-top: 0;
    padding: 1rem 2rem 2rem;
    background-color: #fff;
    &.show {
      display: block;
    }
  }
}
.soldier-plan-container {
  .tab-content {
    display: none;
    &.show {
      display: block;
    }
    .caution-guide-title {
      @include flex(row, flex-start, center);
      position: relative;
      padding-left: 1.2rem;
      font-weight: 500;
      &.highlight {
        font-size: 1.4rem;
        font-weight: 700;
        &::before {
          display: none;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        margin: 1rem 0.4rem;
        width: 0.2rem;
        height: 0.2rem;
        background-color: $black;
        border-radius: 50%;
      }
      .guide-alert {
        margin-left: auto;
        @include font(1.4rem, 400, rgba($black, 0.7), normal);
        letter-spacing: -0.07rem;
      }
    }
    .caution-guide-box {
      .caution-text {
        &.highlight {
          margin-bottom: 2rem;
          font-weight: 700;
        }
      }
    }
  }
  .table-container {
    margin-top: 2rem;
  }
  .caution-guide-container {
    &:first-child {
      margin-top: 0;
      padding-top: 2rem;
    }
  }
  .plan-info-title {
    margin-top: 1rem;
    @include font(1.4rem, 400, $black, 1.8rem);
    letter-spacing: -0.07rem;
    text-align: center;
    > span {
      color: $primary;
    }
  }
}
.soldier-active-area {
  @include flex(row, center, flex-start);
  margin: 2rem -0.4rem 3.6rem;
  .plan-info-icon-box {
    flex: 1;
    @include flex(column, center, center);
    margin: 0 0.4rem;
  }
}

.soldier-discharge-area {
  @include flex(column, flex-start, center);
  margin: 2rem 0 3.6rem;
  .plan-info-icon-box {
    flex: 1;
    @include flex(row, center, center);
    .ic-next {
      display: block;
      width: 1.4rem;
      height: 1.4rem;
      margin: 0 0.8rem;
      background: image('icon/ic_next.png') no-repeat center/cover;
    }
  }
}
.plan-info-example-box {
  @include flex(row, flex-start, center);
  margin: 0 -1.5rem;
  .info-example {
    flex: 1;
    margin: 0 1.5rem;
    text-align: center;
    &.info-center {
      position: relative;
      &::before,
      &::after {
        content: '';
        flex-shrink: 0;
        position: absolute;
        top: 50%;
        display: inline-block;
        transform: translateY(-50%);
        width: 1.4rem;
        height: 1.4rem;
        margin: 0 0.8rem;
      }
      &::before {
        left: -3rem;
        background: image('icon/ic_subtract.png') no-repeat center/cover;
      }
      &::after {
        right: -3rem;
        background: image('icon/ic_eqaul.png') no-repeat center/cover;
      }
    }
  }
  .label {
    margin-bottom: 0.4rem;
    @include font(1.2rem, 400, rgba($black, 0.7), 1.4rem);
    letter-spacing: -0.06rem;
    word-break: keep-all;
  }
  .cost {
    @include font(1.6rem, 500, $black, 2rem);
    letter-spacing: -0.08rem;
  }
}
.soldier-plan-detail-area {
  dl {
    @include flex(row, flex-start, flex-start);
    & + dl {
      margin-top: 2rem;
    }
  }
  dt {
    flex-shrink: 0;
    width: 8.2rem;
    margin-right: 1.4rem;
    @include font(1.4rem, 700, $black, normal);
    word-break: keep-all;
  }
  dd {
    flex: 1;
    position: relative;
    padding-left: 1.2rem;
    @include font(1.4rem, 400, $black, normal);
    letter-spacing: -0.07rem;
    & + dd {
      margin-top: 1rem;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 0.2rem;
      height: 0.2rem;
      margin: 1rem 0.4rem;
      background-color: $black;
      border-radius: 50%;
    }
    .sub-text {
      @include flex(row, flex-start, flex-start);
      margin-top: 0.4rem;
      color: rgba($black, 0.7);
      &::before {
        content: '*';
        display: block;
        margin-right: 0.2rem;
      }
    }
  }
}
.soldier-plan-form-container {
  .column-title-icon-box {
    margin-bottom: 2.4rem;
  }
  .form-soldier-plan {
    .field-area {
      margin-bottom: 1.2rem;
    }
  }
  .caution-guide-container {
    margin-top: 2.4rem;
  }
}
@media #{$mobile_320} {
  .soldier-plan-container {
    .plan-info-title {
      font-size: 1.2rem;
    }
  }
  .soldier-active-area,
  .soldier-discharge-area {
    margin-bottom: 2rem;
  }
  .plan-info-example-box {
    .cost {
      font-size: 1.4rem;
    }
  }
  .soldier-plan-detail-area {
    dt {
      width: 5rem;
      font-size: 1.2rem;
    }
    dd {
      font-size: 1.2rem;
    }
  }
}
