.phone-pay-detail {
  .phone-pay-detail-container {
    .total-price-box {
      @include flex(row, space-between, center);
      padding: 1.6rem 1.4rem;
      @include bgBoxGray;
      .total-price-label {
        @include font(1.6rem, 500, $black, normal);
        letter-spacing: -0.032rem;
      }
      .total-price-data {
        @include font(1.6rem, 400, $primary, normal);
        strong {
          margin-right: 0.2rem;
          font-size: 2.4rem;
        }
      }
    }

    .phone-pay-detail-list-box,
    .pm-detail-history {
      margin-top: 1.4rem;
    }
    .phone-pay-detail-item,
    .pm-detail-history-item {
      margin-bottom: 1.4rem;
      padding: 1.6rem 1.4rem;
      @include bgBoxGray;
      &::last-child {
        margin-bottom: 0;
      }
      &.on {
        .phone-pay-detail-anc,
        .pm-detail-history-anc {
          &::after {
            transform: rotate(0);
          }
        }
      }
    }
    .phone-pay-detail-anc,
    .pm-detail-history-anc {
      @include flex(row, space-between, center);
      position: relative;
      padding-right: 3.2rem;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        flex: none;
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        background: image('icon/btn_input_arrow_up_bg_nor.png') no-repeat center / contain;
        transform: rotate(180deg);
      }
      .label {
        @include font(1.6rem, 500, $black, normal);
        letter-spacing: -0.032rem;
      }
      .value {
        @include flex(column, flex-start, flex-end);
      }
      .date {
        @include font(1.2rem, 500, $color-gray-01, normal);
        letter-spacing: -0.06rem;
        margin-bottom: 0.2rem;
      }
      .price {
        @include font(1.6rem, 500, $black, normal);
        letter-spacing: -0.032rem;
        strong {
          font-weight: 500;
        }
      }
    }
    .phone-pay-detail-sub,
    .pm-detail-history-sub {
      padding-top: 1.6rem;
      margin-top: 1.6rem;
      border-top: 0.1rem solid rgba($black, 0.1);
      display: none;
      .sub-list {
        @include flex(row, space-between, center);
        margin-bottom: 1.4rem;
        @include font(1.4rem, 400, rgba($black, 0.7), normal);
        &:last-child {
          margin-bottom: 0;
        }
        .label {
          letter-spacing: -0.07rem;
          .txt {
          }
        }
        .value {
          font-weight: 500;
          .price {
            font-weight: 400;
            strong {
              font-weight: 500;
            }
          }
          .call {
            color: $primary;
            &::before {
              content: '';
              margin-right: 0.4rem;
              display: inline-block;
              vertical-align: middle;
              width: 1.4rem;
              height: 1.4rem;
              background: image('icon/btn_call.png') no-repeat center / cover;
            }
          }
        }
      }
    }
  }
}
@media #{$mobile_320} {
  .member-contract {
    .member-contract-container {
      .member-contract-lists {
        li {
          flex-wrap: wrap;
        }
      }
    }
  }
}
