.main-index {
  .header-box {
    background-color: $primary;
  }
  &.big-font {
    .content-container {
      padding-bottom: 4rem;
    }
    .main-index-container {
      .main-index-notice-box {
        font-size: 1.8rem;
      }
    }
    .main-menu {
      li {
        width: 100%;
        height: 5.6rem;
        &::after {
          display: block !important;
          left: 0.8rem;
          right: auto;
          margin: 0 auto;
          width: calc(100% - 1.6rem);
        }
        // &:nth-of-type(even) {
        //   padding-left: 0;
        //   a {
        //     border: 0;
        //   }
        // }
        a {
          padding: 1.4rem 1.2rem;
          &::before {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 1rem;
          }
        }
        span {
          @include font(1.8rem, 500, $black, 2.7rem);
          letter-spacing: -0.09rem;
        }
      }
    }
  }

  .main-index-container {
    margin: 0 -2rem;
    padding: 0.8rem 2rem 3.2rem;
    background-color: $primary;
    .main-index-notice-box {
      @include flex(row, flex-start, center);
      margin-bottom: 1rem;
      @include font(1.5rem, 700, $white, 1.95rem);
      // 환영합니다 디폴트
      &:before {
        content: '';
        display: inline-block;
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.6rem;
        background-image: image('icon/ic_user_normal.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      // 지금은 ARS이용, 분실/통화품질, 피싱 피해, 로밍 상담만 가능합니다.
      &.notice-night {
        &:before {
          display: none;
        }
      }
      // VIP 고객님, 환영합니다.
      &.notice-vip {
        &:before {
          background-image: image('icon/ic_user_vip.png');
        }
      }
      // 장기 우수 고객님, 환영합니다.
      &.notice-long {
        &:before {
          background-image: image('icon/ic_user_long.png');
        }
      }
      // 최우수 고객님, 환영합니다.
      &.notice-best {
        &:before {
          background-image: image('icon/ic_user_best.png');
        }
      }
    }
    .main-index-ad {
      @include flex(row, space-between, center);
      // flex-wrap: wrap;
      height: 4rem;
      padding: 0 1rem 0 1.2rem;
      background-color: $white;
      border-radius: 1rem;
      @include font(1.4rem, 500, $black, normal);
      letter-spacing: -0.07rem;
      .ad-box {
        @include flex(row, flex-start, center);
        &:before {
          content: '';
          flex-shrink: 0;
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          margin-right: 0.6rem;
          background: image('icon/ic_headphone.png') no-repeat center / cover;
        }
      }

      .btn-ars {
        margin-left: auto;
        .text {
          color: $primary;
          &::after {
            content: '';
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            background: image('icon/btn_connect_counselor.png') no-repeat center / contain;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .content-container {
    padding-bottom: 3rem;
  }

  .main-menu-container {
    margin-top: -2.4rem;
  }
  .main-menu {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    align-items: stretch;
    background-color: $white;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(54, 23, 206, 0.2);
    overflow: hidden;
    li {
      @include flex(row, flex-start, flex-start);
      position: relative;
      width: 50%;
      height: 5.8rem;
      border-left: none;
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 0.8rem);
        height: 0.1rem;
        background-color: #f6f6f6;
      }
      // &:nth-child(-n + 2) {
      //   height: 5.6rem;
      //   padding-top: 1.2rem;
      //   a {
      //     padding-top: 0;
      //   }
      // }
      // &:nth-last-child(-n + 2) {
      //   height: 5.6rem;
      //   padding-bottom: 1.2rem;
      //   &::after {
      //     display: none;
      //   }
      //   a {
      //     padding-bottom: 0;
      //   }
      // }
      &:nth-of-type(even) {
        a {
          border-left: 0.1rem solid #f6f6f6;
        }
        &::after {
          right: auto;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(100% - 0.8rem);
        height: 0.1rem;
        background-color: #f6f6f6;
      }

      &:active {
        background-color: #f9f9f9;
      }

      a {
        @include flex(row, flex-start, center);
        flex: none;
        padding: 0.9rem 1.4rem;
        width: 100%;
        height: 100%;
        &::before {
          content: '';
          flex-shrink: 0;
          margin-right: 0.6rem;
          display: block;
          width: 2.4rem;
          height: 2.4rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        &.btn-all-menu {
          // 모든 메뉴보기
          &::before {
            background-image: image('icon/ic_all_menu.png');
          }
        }
        &:active {
          background-color: #f9f9f9;
        }
        &.ivr-pt4 {
          //청구요금확인
          &::before {
            background-image: image('icon/ic_billing.png');
          }
        }
        &.ivr-pt20 {
          //나의요금제/잔여량
          &::before {
            background-image: image('icon/ic_rate_plan.png');
          }
        }
        &.ivr-pt21 {
          //휴대폰 할부/선택약정
          &::before {
            background-image: image('icon/ic_installment.png');
          }
        }
        &.ivr-pt3 {
          //휴대폰 결제
          &::before {
            background-image: image('icon/ic_pay.png');
          }
        }
        &.ivr-pt10 {
          //납부 방법 확인
          &::before {
            background-image: image('icon/ic_payment.png');
          }
        }
        &.ivr-pd1 {
          //데이터 리필/선물
          &::before {
            background-image: image('icon/ic_gift.png');
          }
        }
        &.ivr-pt9 {
          //휴대폰 구입문의
          &::before {
            background-image: image('icon/ic_inquiry.png');
          }
        }
        &.ivr-a15 {
          //구독 상품
          &::before {
            background-image: image('icon/ic_subscribe.png');
          }
        }
        &.ivr-pd3 {
          //요금/세금계산서 발송, 수신
          &::before {
            background-image: image('icon/ic_send.png');
          }
        }
        &.ivr-ai1 {
          //외국어상담
          &::before {
            background-image: image('icon/ic_counselor.png');
          }
        }
        &.ivr-pi3 {
          //세금계산서 - 세금계산서 Fax수신
          &::before {
            background-image: image('icon/ic_fax.png');
          }
        }
        &.ivr-pi10 {
          //결제이력조회 - 휴대폰결제/콘텐츠이용료 선결제
          &::before {
            background-image: image('icon/ic_pay_content.png');
          }
        }
        &.ivr-pd4 {
          //5월종소세 - 납부이력 팩스/이메일 수신
          &::before {
            background-image: image('icon/ic_mail.png');
          }
        }
      }
      span {
        // 운영기준 폰트 적용
        @include font(4.17vw, 500, $black, normal);
        letter-spacing: -0.07rem;
        br {
          display: none !important;
        }
      }
    }
  }

  .main-banner {
    position: relative;
    margin-top: 0.8rem;
    .swiper-slide {
      overflow: hidden;
      // min-height: 6rem;
      border-radius: 1rem;
      a {
        display: flex;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .swiper-pagination {
      @include flex(row, center, center);
      width: 100%;
      margin-top: 1.2rem;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      flex-shrink: 0;
      width: 6px;
      height: 6px;
      margin: 0 0.2rem;
      background: #ececec;
    }
    .swiper-pagination-bullet-active {
      background: $primary;
    }
  }
}

// 운영기준 폰트 적용
@media screen and (min-width: 512px) {
  .main-index {
    .main-menu {
      li {
        span {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 360px) {
  .main-index {
    &.big-font {
      .main-index-container {
        .main-index-ad {
          height: 5.4rem;
          padding: 0 1rem 0 1.2rem;
          span {
            font-size: 1.5rem;
            &:not(.text)::before {
              width: 2.8rem;
              height: 2.8rem;
            }
          }
        }
      }
    }
  }
}

@media #{$mobile_280} {
  .main-index {
    .main-menu {
      li {
        a {
          padding: 1rem;
        }
      }
    }
  }
}
