.data-gift-container {
  .data-gift-form-box {
    & + .data-gift-form-box {
      margin-top: 2.4rem;
    }
    .field-label {
      @include flex(row, flex-start, center);
    }
    .field-area {
      position: relative;
    }
    .btn-view-recently {
      @include flex(row, center, center);
      width: 10rem;
      height: 3rem;
      margin-left: auto;
      padding: 0 1rem;
      border: 1px solid rgba($black, 0.15);
      @include font(1.4rem, 500, $black, normal);
      letter-spacing: -0.07rem;
      border-radius: 5rem;
      &:active {
        background-color: #f9f9f9;
      }
    }
    .btn-input-delete {
      display: none;
      position: absolute;
      top: 50%;
      right: 1.6rem;
      z-index: 1;
      transform: translateY(-50%);
      width: 1.8rem;
      height: 1.8rem;
      background: image('icon/btn_input_close_bg_nor.png') no-repeat center/cover;
      &.show {
        display: block;
      }
    }
  }
}

.data-gift-select-area {
  .data-gift-select-title-box {
    margin-bottom: 1rem;
    .field-label-desc {
      margin-top: 0.4rem;
      @include font(1.4rem, 400, rgba($black, 0.7), normal);
      letter-spacing: -0.07rem;
    }
  }
  .data-gift-select-content-box {
    padding: 1.6rem 1.4rem;
    @include bgBoxGray;
    &.active {
      .select-content-middle {
        .data-select-button-box {
          overflow: visible;
          max-height: initial;
        }
      }
      .select-content-bottom {
        .btn-more {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  .select-content-top {
    margin-bottom: 2.4rem;
    dl {
      @include flex(row, flex-start, center);
      @include font(1.4rem, 400, $black, normal);
      letter-spacing: -0.07rem;
      & + dl {
        margin-top: 1rem;
      }
    }
    dd {
      margin-left: auto;
      font-weight: 500;
    }
  }
  .select-content-middle {
    margin-bottom: 2.4rem;
    .data-select-button-box {
      overflow: hidden;
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      max-height: 8.8rem;
      margin: -0.4rem;
    }
    .btn-data-select {
      flex: 1 1 40%;
      display: none;
      justify-content: center;
      align-items: center;
      height: 3.6rem;
      margin: 0.4rem;
      padding: 0 1.4rem;
      border: 1px solid $primary;
      background-color: $white;
      border-radius: 5rem;
      @include font(1.6rem, 500, $primary, normal);
      letter-spacing: -0.032rem;
      text-align: center;
      &[data-default='true'] {
        display: flex;
      }
      &.show {
        display: flex;
      }
      &.active {
        border-color: $primary;
        background-color: $primary;
        color: $white;
      }
    }
  }
  .select-content-bottom {
    @include flex(row, center, center);
    .btn-more {
      @include font(1.4rem, 500, rgba($black, 0.7), normal);
      letter-spacing: -0.07rem;
      &::after {
        content: '';
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        margin-left: 0.4rem;
        background: image('icon/btn_input_arrow_down_nor.png') no-repeat center/cover;
        transition: 0.2s;
      }
    }
  }
}

// 팝업
// 최근 선물한 이력
.phone-select-list-box {
  padding: 0.4rem 0 1.2rem;
  .select-list {
    @include flex(row, center, center);
    @include font(1.6rem, 500, $black, normal);
    letter-spacing: -0.032rem;
    & + .select-list {
      margin-top: 1.4rem;
      padding-top: 1.4rem;
      border-top: 1px solid rgba($black, 0.1);
    }
  }
}
