<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      class="no-js">
<head>
  <title>왜 수소인가? | Hydrogen | HTWO (에이치투)</title>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="author" content=""/>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5"/>
  <meta name="apple-mobile-web-app-title" content="HTWO"/>
  <meta name="application-name" content="HTWO"/>
  <meta name="msapplication-TileColor" content="#da532c"/>
  <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="수소는 다음 세대까지 생각한 지속 가능한 친환경 청정 에너지원 입니다. 안전한 신재생 에너지, 수소의 다양한 활용을 확인해보세요. "/>
    <meta name="keyword" content="수소, 신재생에너지, 에너지, 친환경, 수소연료전지, hydrogen, 수소에너지, 친환경에너지, 청정에너지,HTWO"/>
    <meta property="og:type" content="site">
    <meta property="og:url" content="https://org-htwo.hyundai.com/ko/hydrogen/why-hydrogen">
    <meta property="og:title" content="왜 수소인가? | Hydrogen | HTWO (에이치투)">
    <meta property="og:image" content="https://org-htwo.hyundai.com/img/htwo_og_image.png">
    <meta property="og:description" content="수소는 다음 세대까지 생각한 지속 가능한 친환경 청정 에너지원 입니다. 안전한 신재생 에너지, 수소의 다양한 활용을 확인해보세요. ">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="왜 수소인가? | Hydrogen | HTWO (에이치투)"/>
    <meta name="twitter:description" content="수소는 다음 세대까지 생각한 지속 가능한 친환경 청정 에너지원 입니다. 안전한 신재생 에너지, 수소의 다양한 활용을 확인해보세요. "/>
    <meta name="twitter:image" content="https://org-htwo.hyundai.com/img/htwo_og_image.png"/>
    <link rel="canonical" href="https://www.htwo.hyundai.com/en/hydrogen/why-hydrogen.html" />
    <link rel="alternate" href="https://www.htwo.hyundai.com/ko/hydrogen/why-hydrogen.html" hreflang="ko"> <link rel="alternate" href="https://www.htwo.hyundai.com/en/hydrogen/why-hydrogen.html" hreflang="en">
  <link rel="stylesheet" type="text/css" href="/font/HyundaiSansKR/HyundaiSansKR.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
          integrity="sha512-NK1a+fwVgHnWk57liCcVd4/Cm9meSmYYY130YqQ3fEOD7gw3GQ36UJ+CZWVfpM/CtE08YkpIg4MBGzwNG2P3SQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/css/tooltipster.bundle.min.css"
          integrity="sha512-RwhQzi0EhwZ9hHs18SqM7ICqW/MH/B17PouhdCuzaUQYEdx2S4WPgkhLeZPvGr2Kb1FIm4gaIbMJGwZtxDCLQA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css"
          integrity="sha512-0V10q+b1Iumz67sVDL8LPFZEEavo6H/nBSyghr7mm9JEQkOAm91HNoZQRvQdjennBb/oEuW+8oZHVpIKq+d25g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.min.css?ver=20231114"/><!-- 231114 edit -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-ENV3TSNE81"></script> -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WSZHDGJR');</script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ENV3TSNE81');
  </script>
</head>
<body>
<div class="wrap">
  <!-- <div class="loader"></div> -->
  <!-- <header th:replace="~{ko/common/_header :: header}"></header> -->
  <header class="header">
  <div class="container">
    <a href="/ko/" class="logo">
      <img src="/img/HTWO_logo.svg" alt="HTWO"/>
      <img src="/img/HTWO_logo_w.svg" class="tr-logo" alt="HTWO"/>
    </a>
    <div class="site-name txt-head onM">
      왜 수소인가?
    </div>
    <button type="button" class="hamburger onM">
      <!-- <img src="/img/hamburger.svg" alt="Open Mobile Sidemenu" /> -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                <rect x="7" y="7.8" width="16" height="1.5"/>
        <rect x="7" y="14.2" width="16" height="1.5"/>
        <rect x="7" y="20.8" width="16" height="1.5"/>
            </svg>
    </button>
    <div class="overlay"></div>
    <ul class="menu">
      <li class="onM">
        <a href="/ko">HOME</a>
        <button type="button" class="close-menu"></button>
      </li>
      <li class="on">
        <a href="/ko/hydrogen/why-hydrogen" class="menu-major">Hydrogen</a>
        <div class="menu-sub">
          <a href="/ko/hydrogen/why-hydrogen" class="on">왜 수소인가?</a>
          <a href="/ko/hydrogen/value-chain">수소사회의 밸류체인</a>
        </div>
      </li>
      <li>
        <a href="/ko/technology/hydrogen-fuel-cell-system-product" class="menu-major">Technology</a>
        <div class="menu-sub">
          <a href="/ko/technology/hydrogen-fuel-cell-system-product">수소연료전지시스템 제품소개</a>
          <a href="/ko/technology/hydrogen-fuel-cell-system-application">수소연료전지시스템 어플리케이션</a>
        </div>
      </li>
      <li>
        <a href="/ko/worldwide/press-releases/list?category=NWS" class="menu-major">Worldwide</a>
        <div class="menu-sub">
          <!-- <a th:href="@{/{language}/worldwide/htwo-global-network(language=${langCode})}" th:class="${currentUri.startsWith('/worldwide/htwo-global-network') ? 'on' : ''}" th:text="#{htwo-global-network}">HTWO 글로벌 거점</a>
          <a th:href="@{/{language}/worldwide/news/list(language=${langCode})}" th:class="${currentUri.startsWith('/worldwide/news') ? 'on' : ''}" th:text="#{news-magazine}">뉴스 & 매거진</a> -->
          <a href="/ko/worldwide/press-releases/list?category=NWS">뉴스</a>
          <a href="/ko/worldwide/insights/list?category=STO">인사이트</a>
        </div>
      </li>
      <li>
        <a href="/ko/organization/who-we-are" class="menu-major">Organization</a>
        <div class="menu-sub">
          <a href="/ko/organization/who-we-are">브랜드 소개</a>
          <a href="/ko/organization/our-network">글로벌 거점 소개</a>
          <a href="/ko/organization/our-business">비즈니스 소개</a>
          <a href="/ko/organization/contact-us">Contact Us</a>
        </div>
      </li>
      <li class="change-lang-mo onMF">
        <a href="https://ecv.hyundai.com/global/en" target="_blank" class="ecv"><span>Electrified Commercial Vehicles</span></a>
        <div class="change-lang">
          <button type="button">
            <span>Language</span>
          </button>
          <div class="lang-list">
            <a href="/ko/hydrogen/why-hydrogen"
               class="true"><span>한국어</span></a>
            <a href="/en/hydrogen/why-hydrogen"
               class="false"><span>ENGLISH</span></a>
            <a href="/zh/hydrogen/why-hydrogen"
               class="false"><span>中文</span></a>
          </div>
        </div>
      </li>
    </ul>
    <div class="submenu onP">
      <a href="https://ecv.hyundai.com/global/en" target="_blank" class="onPN ecv"><span>Electrified Commercial Vehicles</span></a>
      <div class="change-lang">
        <button type="button">
          <span>Language</span>
        </button>
        <!-- <th:block th:text="${langCode}"></th:block> -->
        <div class="lang-list">
          <a href="/ko/hydrogen/why-hydrogen"
             class="true"><span>한국어</span></a>
          <a href="/en/hydrogen/why-hydrogen"
             class="false"><span>ENGLISH</span></a>
          <a href="/zh/hydrogen/why-hydrogen"
             class="false"><span>中文</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
  <div class="page page-sub page-why">
    <div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/ko" title="홈으로 가기">Home</a></li>
            <li><span>Hydrogen</span></li>
            <li><span>왜 수소인가?</span></li>
        </ul>
    </div>
</div>
  <div class="sub-header">
    <div class="container">
      <h1 class="page-name">왜 수소인가?</h1>
      <h2>지금 그리고 <br/>다음 세대를 위한 <br class="onM"/>에너지</h2>
      <button type="button" class="share">공유하기</button>
    </div>
    <div class="keyvisual">
      <img src="/attachment/smallImage/19.jpg"
           data-src="/attachment/image/19.jpg"
           class="onP lazy"/>
      <img src="/attachment/smallImage/20.jpg"
           data-src="/attachment/image/20.jpg"
           class="onM lazy"/>
        </div>
    </div>
    <div class="quotation sc-event sc-event-fade">
        <div class="container">
            <div class="quotation-text">
                <strong>수소</strong>는 인간 문명을 재구성하고 세계 경제와 <br />
                권력구조를 재편하는 새로운 에너지 체계로 부상할 것
            </div>
            <div class="quotation-by">
                <div class="byname-en">Jeremy Rifkin</div>
                <div class="byname-ko">제레미 리프킨</div>
                <div class="bywho">미국의 경제학자, 사회학자</div>
            </div>
        </div>
    </div>
    <div class="content-wrap right-nomargin" id="whyHydrogen1">
        <div class="container">
            <!-- Content 1 -->
            <div class="content" id="why1">
                <h3 class="content-label sc-event sc-event-fade">기후위기, <br />인류에게 화석연료와의 <br />결별을 요구하다</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p>지난 200여년 동안 화석연료의 힘으로 이룩한 인류의 눈부신 발전과 풍요는 지구 환경 파괴라는 인류의 생존을 위협하는 청구서로 되돌아오고 있습니다. 지구 환경을 급속도로 피폐하게 만들고 있는 전 세계의 온실가스 배출량은 무려 연간 515억톤*. 그 중 약 75%가 에너지를 생산하는 과정에서 발생합니다.
                            <br /><br />
                            생존의 기로에 선 인류를 위해 청정하고 지속가능한 에너지로의 전환은 더 이상 선택의 문제가 아니며 더 이상 미룰 수도 없습니다.
                            </p>
                        <p class="footnote">* 2019, 유엔환경계획 (UNEP)</p>
                    </div>
                    <div class="content-img content-divide sc-event sc-event-divide">
                        <div>
              <img src="/attachment/smallImage/21.jpg"
                   data-src="/attachment/image/21.jpg" class="onP lazy" />
              <img src="/attachment/smallImage/22.jpg"
                   data-src="/attachment/image/22.jpg" class="onM lazy" />
                        </div>
                        <div>
              <img src="/attachment/smallImage/23.jpg"
                   data-src="/attachment/image/23.jpg" class="onP lazy" />
              <img src="/attachment/smallImage/24.jpg"
                   data-src="/attachment/image/24.jpg" class="onMN lazy" />
              <img src="/attachment/smallImage/25.jpg"
                   data-src="/attachment/image/25.jpg" class="lazy" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content 2 -->
            <div class="content" id="why2">
                <h3 class="content-label sc-event sc-event-fade">자연에서 찾은 희망, <br />재생에너지</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p>이에 인류는 자연으로부터 얻을 수 있는 청정에너지인 태양광과 풍력으로 대표되는 재생에너지에 주목했습니다. 탄소 발생 없이 깨끗하고 무한한 에너지, 인류는 이를 적극 활용하는 방법과 기술을 연구 발전 시키고 있지만 극복할 수 없는 한계에도 직면하게 되었습니다.  </p>
                        <p class="bold">재생에너지의 한계, ‘간헐성’</p>
                        <p>자연의 힘으로 발전하는 재생에너지는 해가 구름에 가리거나 바람이 불지 않는 등 변화무쌍한 기상환경에 따라 발전량에 큰 편차가 발생하게 되고 이러한 불확실성으로 인해 에너지의 수요와 공급 사이의 균형을 맞추기 어렵다는 한계도 가지고 있습니다. 바로 재생에너지가 가진 ‘간헐성’이라는 한계입니다.
                            <br /><br />
                            재생에너지 발전의 산물인 전기에너지는 장기간 저장이 어려워 필요한 만큼 생산하고 소비되는 것이 가장 이상적인 에너지입니다. 필요보다 모자라거나 남아서 버려지는 재생에너지의 간헐적 발전 특성이 초래하는 한계, 즉 수요와 공급의 불균형을 해결할 방법은 잉여 전기에너지를 저장하는 획기적인 방법을 찾는 것 이었습니다.
                        </p>
                    </div>
                    <div class="content-img sc-event sc-event-fade">
                        <div>
              <img src="/attachment/smallImage/26.jpg"
                   data-src="/attachment/image/26.jpg" class="lazy" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Bodyhead1 -->
            <div class="content content-head" id="whyBodyhead1">
                <h2 class="content-headtxt">
                    <p>청정에너지, 그 자체로 운송 수단이 되다</p>
                    <strong>수소의 진정한 가치</strong>
                </h2>
                <div class="content-img">
                    <div>
            <img src="/attachment/smallImage/27.jpg" data-src="/attachment/image/27.jpg"
                 class="onP lazy"/>
            <img src="/attachment/smallImage/28.jpg"
                 data-src="/attachment/image/28.jpg" class="onM lazy"/>
                    </div>
                </div>
            </div>
            <!-- Content 3 -->
            <div class="content" id="why3">
                <h3 class="content-label sc-event sc-event-fade">수소에너지, <br />고민에 마침표를 찍다</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p>
                            수소는 물을 전기 분해하여 생산할 수 있으며, 이때 사용되는 전기는 재생에너지의 잉여전력을 활용함으로써 에너지 생산과정에서 배출가스 없이 청정한 에너지인 수소를 얻을 수 있습니다. 또한 이렇게 얻어진 수소를 산소와 결합시키면 다시 전기에너지를 얻을 수 있기도 합니다.
                            <br /><br />
                            수소는 기체 또는 액체의 형태로 존재하는 물질이기 때문에, 이러한 잉여 재생에너지의 대규모/장기간 저장과 함께 장거리 운송에도 용이합니다. 특히 재생에너지는 간헐성 뿐만 아니라, 해변이나 사막과 같은 곳에서 발전하기 좋은 특성이 있어 이를 에너지 수요가 큰 내륙이나 도심지역으로 운반할 수 있어야 하는데 수소가 이 또한 해결할 수 있는 것입니다.
                            <br /><br />
                            바로 에너지 그 자체이자 에너지 캐리어 역할까지 한 번에 해결 할 수 있는, 재생에너지와 완벽한 조화를 이루는 수소에너지라는 답을 찾게 된 것입니다.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Content 4 -->
            <div class="content" id="why4">
                <h3 class="content-label sc-event sc-event-fade">탄소 배출 <br />'Zero'</h3>
                <div class="content-inner">
                    <div class="content-img content-inline sc-event sc-event-toleft">
                        <div>
              <img src="/attachment/smallImage/29.jpg"
                   alt="현대자동차 수소연료전지시스템 브랜드 HTWO 탄소 배출‘0(Zero)’"
                   data-src="/attachment/image/29.jpg" class="onP lazy"/>
              <img src="/attachment/smallImage/30.jpg"
                   alt="현대자동차 수소연료전지시스템 브랜드 HTWO 탄소 배출‘0(Zero)’"
                   data-src="/attachment/image/30.jpg" class="onM lazy"/>
                        </div>
                        <div>
              <img src="/attachment/smallImage/31.jpg"
                   data-src="/attachment/image/31.jpg" class="lazy" />
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <p class="bold">활용 과정에서도 오염물질 배출이 없는 친환경 에너지</p>
                        <p>
                            이렇게 저장된 수소를 다시 우리가 사용하기 용이한 형태인 전기에너지로 바꿔주는 핵심 장치가 바로 수소연료전지시스템입니다. 수소는 연료전지에서 공기 중의 산소와 만나 전기에너지를 생성하고 부산물로는 순수한 물을 배출합니다. 다른 화석연료들과는 달리, 어떠한 오염물질도 배출하지 않는 것입니다.
                            <br /><br />
                            이와 같이 수소는 생산부터 활용까지 환경을 오염시키지 않는 진정한 친환경 에너지 솔루션입니다.
                        </p>
                    </div>
                </div>
            </div>
            <!-- whyBodyhead2 -->
            <div class="content content-head" id="whyBodyhead2">
                <h2 class="content-headtxt">
                    <p>에너지가 필요한 삶의 모든 순간을 위해</p>
                    <strong>수소의 폭넓은 활용성</strong>
                </h2>
                <div class="content-img">
                    <div>
            <img src="/attachment/smallImage/32.jpg" data-src="/attachment/image/32.jpg"
                 class="onP lazy"/>
            <img src="/attachment/smallImage/35.jpg"
                 data-src="/attachment/image/35.jpg" class="onM lazy"/>
                    </div>
                </div>
            </div>
            <!-- Content 5 -->
            <div class="content" id="why5">
                <h3 class="content-label sc-event sc-event-fade">일상에서 만나는 <br />수소에너지, 수소전기차</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p class="bold">수소전기차의 심장, 수소연료전지시스템</p>
                        <p>우리 주변에서 수소연료전지시스템을 가장 친숙하게 만나볼 수 있는 곳이 바로 자동차 분야입니다. 수소연료전지시스템을 엔진으로서 탑재한 수소전기차는 배출가스가 없는 친환경차로서, 배터리전기차와 함께 내연기관을 대체할 전동화(electrification)의 한 주축입니다. 배터리전기차와 수소전기차는 그 구동 원리에 따라 서로 다른 영역에서 강점을 보입니다. 이 외에도 사용자의 목적과 사용환경에 따라 두 동력원은 상호 보완적인 역할을 해 나가며 공존할 것으로 전망하고 있습니다.</p>
                    </div>
                    <div class="content-expand sc-event sc-event-fade" data-expanded="false">
                        <div class="exp-eyebrow">같은 전기차 아닌가요?</div>
                        <div class="exp-title">배터리전기차<em>(BEV)</em><br class="onM" /> VS <br class="onM" />수소전기차<em>(FCEV)</em></div>
                        <div class="exp-overview">
                            <img
                                src="/attachment/smallImage/36.jpg"
                                alt="현대자동차 수소연료전지시스템 브랜드 HTWO 배터리 전기차와 수소전기차"
                                data-src="/attachment/image/36.jpg" class="lazy"
                                />
                        </div>
                        <div class="exp-detail">
                            <dl>
                                <div>
                                    <div class="exp-box" style="background-image:url(/attachment/image/33.jpg);">
                                        <dt>
                                            <p>배터리전기차</p>
                                        </dt>
                                        <dd>
                                            <p>소형차/단거리 운행에 유리</p>
                                            <!-- <img th:src="${viewHolder.getSmallWhy_5_exp_1Url()}" th:data-src="${viewHolder.getWhy_5_exp_1Url()}" class="lazy" /> -->
                                        </dd>
                                    </div>
                                </div>
                                <div>
                                    <div class="exp-box" style="background-image:url(/attachment/image/34.jpg);">
                                        <dt>
                                            <p>수소전기차</p>
                                        </dt>
                                        <dd>
                                            <p>대형차/장거리 운행에 유리</p>
                                            <!-- <img th:src="${viewHolder.getSmallWhy_5_exp_2Url()}" th:data-src="${viewHolder.getWhy_5_exp_2Url()}" class="lazy" /> -->
                                        </dd>
                                    </div>
                                </div>
                            </dl>
                            <p>
                                일정량의 전기에너지를 배터리에 저장하여 주행하는 배터리전기차는 소형/단거리 차량을 운행하기에는 유리하나, 대형차를 움직이거나 장거리 운행을 위해서는 배터리 용량 자체를 늘려야 하므로 가격과 무게가 함께 올라가면서 비효율이 기하급수로 커지는 단점이 있습니다. 반면에 수소전기차는 수소만 지속 공급 되면 계속 전기에너지를 생산할 수 있으므로, 수소탱크의 용량만 늘리면 주행거리가 늘어난다는 장점이 있어 대형/장거리 주행에 유리한 특성을 갖습니다.
                                <br /><br />
                                한편, 수소전기차는 대형/장거리 주행에 유리한 상용차 외에도, 배터리가 제 성능을 내기 어려운 영하의 극한 추위나 짧은 충전시간을 요구하는 영업용 차량 등에서도 강점을 갖습니다. 이와 같이 우리는 사용환경과 목적에 따라서도 두 가지 중 최적의 솔루션을 선택해야 할 것입니다.
                            </p>
                        </div>
                        <button type="button" class="exp-toggle"></button>
                    </div>
                </div>
            </div>
            <div class="content" id="why5-5">
                <div class="content-inner">
                    <div class="content-img sc-event sc-event-toleft">
                        <!-- <div class="img-side img-left">
                            <img th:src="${viewHolder.getSmallWhy_6_leftUrl()}"
                                th:data-src="${viewHolder.getWhy_6_leftUrl()}"
                                th:alt="${viewHolder.why_6.getAlt(langCode)}"
                                class="lazy" />
                        </div>
                        <div>
                            <img th:src="${viewHolder.getSmallWhy_6Url()}"
                                th:alt="${viewHolder.why_6.getAlt(langCode)}"
                                th:data-src="${viewHolder.getWhy_6Url()}" class="onP lazy"/>
                            <img th:src="${viewHolder.getSmallWhy_6_mUrl()}"
                                th:alt="${viewHolder.why_6_m.getAlt(langCode)}"
                                th:data-src="${viewHolder.getWhy_6_mUrl()}" class="onM lazy"/>
                        </div>
                        <div class="img-side img-right">
                            <img th:src="${viewHolder.getSmallWhy_6_rightUrl()}"
                                th:alt="${viewHolder.why_6_right.getAlt(langCode)}"
                                th:data-src="${viewHolder.getWhy_6_rightUrl()}" class="lazy"/>
                        </div> -->
                        <div class="img-side img-left">
                            <img src="/attachment/image/38.jpg" alt="현대자동차 수소연료전지시스템 브랜드 HTWO의 수소 트레일러 드론" />
                        </div>
                        <div>
                            <img src="/attachment/image/37.jpg" class="onP" />
                            <img src="/attachment/image/39.jpg" class="onM" />
                        </div>
                        <div class="img-side img-right">
                            <img src="/attachment/image/40.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content 6 -->
            <div class="content" id="why6">
                <h3 class="content-label sc-event sc-event-fade">인류가 사용하는 <br />모든 동력원, <br />수소연료전지시스템</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p class="bold">어디에나 활용 가능한 에너지</p>
                        <p>
                            이미 우리 일상에 친숙한 수소전기차로 인해 수소연료전지시스템의 활용 분야가 자동차에 특화된 것처럼 느껴지기도 하지만 수소연료전지시스템의 활용 분야는 매우 다양합니다.
                            <br /><br />
                            지속적이고 높은 출력을 낼 수 있는 수소연료전지시스템은 그 특성상 열차, 선박, 항공 등 자동차를 넘어 다양한 모빌리티에도 활용할 수 있습니다. 뿐만 아니라, 우리가 생활하는 주택이나 아파트, 공장, 빌딩 등에서도 발전 용도로 활용할 수 있습니다. 즉, 전기에너지를 사용하는 우리 삶의 모든 곳에서 수소연료전지 시스템을 활용할 수 있다는 의미입니다.
                        </p>
                    </div>
                </div>
            </div>
            <!-- whyBodyhead3 -->
            <div class="content content-head" id="whyBodyhead3">
                <h2 class="content-headtxt">
                    <p>누구나 활용할 수 있는 에너지</p>
                    <strong>수소의 안전성</strong>
                </h2>
                <div class="content-img">
                    <div>
            <img src="/attachment/smallImage/41.jpg" data-src="/attachment/image/41.jpg"
                 class="onP lazy"/>
            <img src="/attachment/smallImage/45.jpg"
                 data-src="/attachment/image/45.jpg" class="onM lazy"/>
                    </div>
                </div>
            </div>
            <!-- Content 7 -->
            <div class="content" id="why7">
                <h3 class="content-label sc-event sc-event-fade">인류에게 가장 <br class="onP" />안전한 에너지</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p class="bold">수소에 대한 오해</p>
                        <p>수소에 대한 막연한 불안감으로 수소폭탄을 떠올리는 경우가 많습니다. 일반적으로 일컫는 수소에너지는 수소폭탄에 사용되는 중수소/삼중수소와는 다릅니다. 수소의 동위원소인 중수소/삼중수소는 우주상에 극소량 존재하여 일반적인 방법으로 얻기 힘들며, 이들의 핵융합 반응을 위해서는 1억℃가 넘는 온도가 구현되어야 하는데 실제로 수소폭탄은 그 온도를 얻기위해 기폭제로 원자폭탄을 사용할 정도입니다. 사실상 일상생활에서는 이러한 온도를 구현할 수 없는 것입니다.</p>
                    </div>
                    <div class="content-info sc-event sc-event-fade">
                        <div>
                            <div class="info-box">
                                <div class="info-title">수소전기차의 <br />연료로 사용</div>
                                <div class="info-img">
                  <img src="/attachment/smallImage/42.jpg"
                       data-src="/attachment/image/42.jpg" class="lazy"/>
                                    <p>수소&nbsp;&nbsp;<sup>1</sup><sub>1</sub>H</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="info-box">
                                <div class="info-title">
                                    수소폭탄에 사용
                                    <p>1억℃ 이상의 온도에서 가능</p>
                                </div>
                                <div class="info-img">
                  <img src="/attachment/smallImage/43.jpg"
                       data-src="/attachment/image/43.jpg" class="lazy"/>
                                    <p>중수소&nbsp;&nbsp;<sup>2</sup><sub>1</sub>H</p>
                                </div>
                                <div class="info-img">
                  <img src="/attachment/smallImage/44.jpg"
                       data-src="/attachment/image/44.jpg" class="lazy"/>
                                    <p>삼중수소&nbsp;&nbsp;<sup>3</sup><sub>1</sub>H</p>
                                </div>
                                <div class="info-legend">
                                    <img src="/img/hydrogen_why/why_7_02_3.png" alt="양성자,중성자,전자" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <p>모든 에너지원은 위험성을 가지고 있으나, 이를 잘 통제하는 기술이 접목되어 관리되고 활용됩니다. 수소는 반도체, 제철, 화학, 정유, 비료 등 산업 전반에 걸쳐 100년 이상 사용된 에너지로 안전하게 관리하는 방법이 널리 알려져 있습니다. 또한, 연료별 상대적 위험도를 보면 수소는 우리가 기존에 활용하던 석유/가스 등의 에너지원보다도 상대적으로 안전한 에너지입니다. 수소가 위험한 에너지원이었다면 지속가능한 미래 에너지로서 주목을 받을 수 없었을 것입니다.</p>
                    </div>
                    <div class="content-expand sc-event sc-event-fade" data-expanded="false">
                        <div class="exp-eyebrow">수소에너지에 대한 오해와 진실</div>
                        <div class="exp-title">연료 별 종합 위험도</div>
                        <div class="exp-overview">
              <img src="/attachment/smallImage/46.jpg"
                   alt="현대자동차 수소전기차 넥쏘(Nexo)"
                   data-src="/attachment/image/46.jpg" class="onP lazy"/>
              <img src="/attachment/smallImage/47.jpg"
                   alt="현대자동차 수소전기차 넥쏘(Nexo)"
                   data-src="/attachment/image/47.jpg" class="onM lazy"/>
                        </div>
                        <div class="exp-detail">
                            <img src="/img/hydrogen_why/why_7_exp.png" class="onP" />
                            <img src="/img/hydrogen_why/why_7_exp_m.png" class="onM" />
                            <div class="citation">* 출처 : 연료 별 상대적 위험도 (한국산업안전공단 MSDS, 미국화학공학회 DIPPR), 숫자가 낮을수록 안전</div>
                            <p class="bold">화석연료보다 안전한 에너지, 수소</p>
                            <p>수소는 자연 발화 온도, 독성, 불꽃 온도, 연소 속도 등 종합적인 위험도 측면에서 도시가스나 LPG 등 다른 연료에 비해 위험도가 낮습니다. 특히, 가장 가벼운 기체인 수소는 불의의 사고로 수소가 누출되더라도 빠르게 대기중으로 확산되어 폭발이 일어나기 어렵습니다.</p>
                        </div>
                        <button type="button" class="exp-toggle"></button>
                    </div>
                </div>
            </div>
            <!-- Content 8 -->
            <div class="content" id="why8">
                <h3 class="content-label sc-event sc-event-fade">검증된 안전성</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p class="bold">수소전기차, 모든 가혹조건을 테스트하다</p>
                        <p>현재 우리가 이용할 수 있는 수소전기차, 수소전기버스, 그리고 수소전기트럭에는 누적된 기술력을 바탕으로 개발된 다양한 안전장치들이 적용되어 있어 걱정하실 필요가 없습니다. 특히, 수소전기차에 탑재된 수소탱크의 경우에도 파열, 낙하, 화재 시험 등 다양한 테스트를 거쳐 개발되었습니다.</p>
                    </div>
                    <div class="content-icon sc-event sc-event-fade">
                        <div class="title">수소연료탱크의 <br class="onM" />주요 안전성 테스트 항목</div>
                        <ul>
                            <li id="hydrogenTest01">
                                <i></i>
                                <p>낙하 충격<br />시험</p>
                            </li>
                            <li id="hydrogenTest02">
                                <i></i>
                                <p>극한 온도<br />반복 시험</p>
                            </li>
                            <li id="hydrogenTest03">
                                <i></i>
                                <p>수소가스<br />반복 충전 시험</p>
                            </li>
                            <li id="hydrogenTest04">
                                <i></i>
                                <p>상온 압력<br />반복 시험</p>
                            </li>
                            <br class="onP" />
                            <li id="hydrogenTest05">
                                <i></i>
                                <p>투과 시험</p>
                            </li>
                            <li id="hydrogenTest06">
                                <i></i>
                                <p>화염 시험</p>
                            </li>
                            <li id="hydrogenTest07">
                                <i></i>
                                <p>환경 시험</p>
                            </li>
                            <li id="hydrogenTest08">
                                <i></i>
                                <p>총격 시험</p>
                            </li>
                            <li id="hydrogenTest09">
                                <i></i>
                                <p>가속응력 시험</p>
                            </li>
                        </ul>
                    </div>
                    <!-- Mobile -->
                    <div class="content-text sc-event sc-event-fade onM">
                        <p class="bold">세계가 확신하는 수소의 안전성</p>
                        <p>수소의 안전성은 세계적으로도 입증되고 있습니다. 우리나라의 국회의사당, 프랑스의 에펠탑과 일본의 도쿄타워 앞에는 수소충전소가 설치되어 그 안전성을 입증하면서 수소 인프라 확대에 앞장서고 있습니다. 안전성에 확신이 없었다면 유동인구가 많은 세계적 명소와 핵심시설 앞에 수소충전소를 설치할 수 없었을 것입니다.</p>
                    </div>
                    <!-- <div class="content-img sc-event sc-event-divide">
                        <div>
                            <img th:src="${viewHolder.getSmallWhy_8_exp_1Url()}"
                                th:alt="${viewHolder.why_8_exp_1.getAlt(langCode)}"
                                th:data-src="${viewHolder.getWhy_8_exp_1Url()}" class="lazy"/>
                        </div>
                    </div>
                    <div class="content-img content-divide sc-event sc-event-divide">
                        <div>
                            <img th:src="${viewHolder.getSmallWhy_8_exp_2Url()}"
                                th:alt="${viewHolder.why_8_exp_2.getAlt(langCode)}" class="lazy"/>
                        </div>
                        <div>
                            <img th:src="${viewHolder.getSmallWhy_8_exp_3Url()}"
                                th:alt="${viewHolder.why_8_exp_3.getAlt(langCode)}" class="lazy"/>
                        </div>
                    </div> -->
                    <div class="content-img sc-event sc-event-divide onMF">
                        <div>
                            <img src="/attachment/image/48.jpg" alt="한국의 국회 수소충전소(Hydrogen Station)" />
                        </div>
                    </div>
                    <div class="content-img content-divide sc-event sc-event-divide onMF">
                        <div>
                            <img src="/attachment/image/49.jpg" />
                        </div>
                        <div>
                            <img src="/attachment/image/50.jpg" />
                        </div>
                    </div>
                    <!-- Desktop -->
                    <div class="content-text sc-event sc-event-fade onP">
                        <p class="bold">세계가 확신하는 수소의 안전성</p>
                        <p>수소의 안전성은 세계적으로도 입증되고 있습니다. 우리나라의 국회의사당, 프랑스의 에펠탑과 일본의 도쿄타워 앞에는 수소충전소가 설치되어 그 안전성을 입증하면서 수소 인프라 확대에 앞장서고 있습니다. 안전성에 확신이 없었다면 유동인구가 많은 세계적 명소와 핵심시설 앞에 수소충전소를 설치할 수 없었을 것입니다.</p>
                    </div>
                    <div class="content-img sc-event sc-event-divide onPF">
                        <div>
                            <img src="/img/hydrogen_why/hydrogen_why_why_8_exp_1.jpg" alt="한국의 국회 수소충전소(Hydrogen Station)" />
                        </div>
                    </div>
                    <div class="content-img content-divide sc-event sc-event-divide onPF">
                        <div>
                            <img src="/img/hydrogen_why/hydrogen_why_why_8_exp_2.jpg" />
                        </div>
                        <div>
                            <img src="/img/hydrogen_why/hydrogen_why_why_8_exp_3.jpg" />
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <br /><br /><br />
                        <p>우리는 화석연료의 발견 이후 빛나는 발전과 풍요의 혜택을 온전히 누려온 반면 다음세대의 생존마저 위협하는 지구환경 파괴를 초래한 것이 사실입니다.</p>
                        <p>우리는 깨끗한 지구와 인류의 풍요로운 삶을 우리 후손에게 물려줘야 할 의무가 있습니다. 더 이상 미룰 수 없는 청정하고 지속가능한 에너지로의 전환. HTWO가 그 약속을 실천해 나가겠습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="scroll-top">
    <button type="button">TOP</button>
  </div>
  <footer>
    <div class="container">
        <a href="/ko/" class="logo">
            <img src="/img/HTWO_logo_w.svg" title="HTWO 홈으로" alt="HTWO 홈으로" />
        </a>
        <div class="footer-content">
            <div class="footer-link onM">
                <a href="/ko/customer-service/sitemap">사이트맵</a>
                <a href="/ko/customer-service/legal-notice">법적 고지</a>
                <a href="/ko/customer-service/privacy-policy">개인정보 처리 방침</a>
                <a href="/ko/customer-service/cookies-policy">쿠키 정책</a>
                <a href="https://audit.hyundai.com/" target="_blank">윤리경영 사이버 감사실</a>
            </div>
            <div class="footer-link onP">
                <a href="/ko/customer-service/sitemap">사이트맵</a>
                <a href="/ko/customer-service/legal-notice">법적 고지</a>
                <a href="/ko/customer-service/privacy-policy">개인정보 처리 방침</a>
                <a href="/ko/customer-service/cookies-policy">쿠키 정책</a>
                <a href="https://audit.hyundai.com/" target="_blank">윤리경영 사이버 감사실</a>
            </div>
            <div class="copyright onP">COPYRIGHT HYUNDAI MOTOR COMPANY. ALL RIGHTS RESERVED.</div>
        </div>
        <!-- 20220824 : 채널 연계 기능 추가 -->
        <div class="footer-etc">
            <div class="footer-channel">
                <th>
                    <a href="https://www.hyundai.com/kr/ko/e" class="channel-hyundai" target="_blank" title="현대닷컴">현대닷컴</a>
                    <a href="https://www.facebook.com/AboutHyundai" class="channel-facebook" target="_blank" title="Hyundai Facebook">Hyundai Facebook</a>
                    <a href="https://www.instagram.com/about_hyundai/" class="channel-instagram" target="_blank" title="Hyundai Instagram">Hyundai Instagram</a>
                    <a href="https://www.youtube.com/user/AboutHyundai" class="channel-youtube" target="_blank" title="Hyundai Youtube">Hyundai Youtube</a>
                    <a href="https://twitter.com/about_hyundai" class="channel-twitterX" target="_blank" title="Hyundai TwitterX">Hyundai X(twitter)</a><!--  230919 edit  -->
                </th>
            </div>
            <div class="footer-family">
                <div>
    <div class="dropdown" data-direction="top" data-footer>
        <button type="button">
            <span>현대자동차 그룹사 홈페이지 바로가기</span>
        </button>
        <ul>
            <li><a href="https://trucknbus.hyundai.com/hydrogen/ko" target="_blank" title="현대 수소 트럭&amp;버스">현대 수소 트럭&amp;버스</a></li>
            <li><a href="https://www.hyundai.com/" target="_blank" title="현대자동차">현대자동차</a></li>
            <li><a href="https://www.kia.com/" target="_blank" title="기아">기아</a></li>
            <li><a href="https://www.mobis.co.kr/" target="_blank" title="현대모비스">현대모비스</a></li>
            <li><a href="https://www.hyundai-steel.com/" target="_blank" title="현대제철">현대제철</a></li>
            <li><a href="https://www.hyundai-rotem.co.kr/" target="_blank" title="현대로템">현대로템</a></li>
            <li><a href="https://www.hyundai-wia.com/" target="_blank" title="현대위아">현대위아</a></li>
            <li><a href="https://www.hyundai-kefico.com/" target="_blank" title="현대케피코">현대케피코</a></li>
        </ul>
    </div>
</div>
                <div class="copyright onM">COPYRIGHT HYUNDAI MOTOR COMPANY. ALL RIGHTS RESERVED.</div>
            </div>
        </div>
    </div>
</footer>
  <div class="cookie" id="Cookie">
    <div class="container">
      <div class="cookie-wrap">
        <div class="cookie-title">이 사이트의 쿠키 사용 안내</div>
        <div class="cookie-text">
          당사 및 당사의 파트너사는 귀하에게 맞춤화된 경험을 제공하고, 측정 및 분석 목적으로 쿠키를 사용합니다.<br class="onP"/>
          당사의 웹사이트와 당사의 서비스를 이용하면 당사의 사이트 개인정보 처리방침 > 쿠키 정책에 기술된 쿠키 사용에 동의하는 것으로 간주됩니다.
        </div>
        <button class="btn btn-invert" onclick="acceptCookieConsent()">확인</button>
      </div>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
      integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
          integrity="sha512-E9ezH29tutgGF9ZEFg43IK/1B0rRriQm5oHCG5HyrJHAInBnZPOgoRcnsinWZ+/QcVRiatdpXrdBZQhzpbz7Rw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js" integrity="sha512-A2+khatRDWHUE2VUtN4xUTkr1nc4YfDBw9Sg3ea6x0aRPfpcYieDZji4D2edDHy/yF5NsYzP7kL8sSM8s5EqCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/js/tooltipster.bundle.min.js"
      integrity="sha512-ZKNW/Nk1v5trnyKMNuZ6kjL5aCM0kUATbpnWJLPSHFk/5FxnvF9XmpmjGbag6BEgmXiz7rL6o6uJF6InthyTSg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"
          integrity="sha512-zP5W8791v1A6FToy+viyoyUUyjCzx+4K8XZCKzW28AnCoepPNIXecxh9mvGuy3Rt78OzEsU+VCvcObwAMvBAww=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
      integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/lib/intersection-observer.js"></script>
<script src="/js/app.js"></script>
<script src="/js/effect.js"></script>
<script src="/js/qrcode.min.js"></script>
<script src="/js/inside.js"></script>
<script>
  var ieVersion = (function () {
    var version = -1;
    if (
        navigator.appName == 'Microsoft Internet Explorer' &&
        navigator.userAgent.toLowerCase().indexOf('msie') != -1 &&
        new RegExp('MSIE ([0-9]{1,}[\./0-9]{0,})').exec(navigator.userAgent) != null
    ) {
      version = parseInt(RegExp.$1);
    }
    return version;
  })();
  if (ieVersion !== -1 && ieVersion < 11) {
    document.body.innerHTML = '<div class="compatibility">' +
        '<div class="container">' +
        '<div class="cp-header">' +
        '<img src="/img/HTWO_logo.svg" alt="HTWO"/>' +
        '</div>' +
        '<div class="cp-body">' +
        '<h1>브라우저를 업데이트해 주세요</h1>' +
        '<p>' +
        'HTWO 홈페이지는 MICROSOFT EDGE와 Google Chrome 브라우저에 최적화 되어있습니다.<br />' +
        '브라우저를 업데이트하시거나, <br class="onM" />다른 브라우저를 이용해주세요.' +
        '</p>' +
        '<div class="btn-group">' +
        '<a class="download-edge" href="https://www.microsoft.com/ko-kr/edge">MICROSOFT EDGE 다운로드</a>'
        +
        '<a class="download-chrome" href="https://www.google.com/intl/ko/chrome/">Google Chrome 다운로드</a>'
        +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>';
  }
  // Create cookie
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  // Delete cookie
  function deleteCookie(cname) {
    const d = new Date();
    d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=;" + expires + ";path=/";
  }
  // Read cookie
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  // Set cookie consent
  function acceptCookieConsent() {
    deleteCookie('user_cookie_consent');
    setCookie('user_cookie_consent', 1, 30);
    document.getElementById("Cookie").style.display = "none";
  }
  let cookie_consent = getCookie("user_cookie_consent");
  if (cookie_consent !== "") {
    document.getElementById("Cookie").style.display = "none";
  } else {
    document.getElementById("Cookie").style.display = "block";
  }
  console.log('HTWO front version: 20220210')
</script>
  <div class="popup" id="qrPopup">
    <div class="popup-container">
      <div class="popup-body" id="qrBody">
      </div>
      <div class="popup-footer">
        <button type="button" class="btn close-popup" onclick="closePopup('qrPopup')">
          关闭
        </button>
      </div>
    </div>
  </div>
  <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
  <script>
    function fallbackCopyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.value = text;
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.position = "fixed";
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Fallback: Copying text command was ' + msg);
      } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
      }
      document.body.removeChild(textArea);1
    }
    function copyTextToClipboard() {
      const ogUrl = $('meta[property="og:url"]').attr('content');
      const urlCopy = "URL\uC774 \uBCF5\uC0AC\uB418\uC5C8\uC2B5\uB2C8\uB2E4."
      if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(ogUrl);
        return;
      }
      navigator.clipboard.writeText(ogUrl).then(function () {
        $.alert({
          theme: 'confirm',
          content:
            `<div class="icon icon-url"></div><p>${urlCopy}</p>`,
          backgroundDismiss: true,
          draggable: false,
          animationSpeed: 200,
          animateFromElement: false,
          useBootstrap: false,
          buttons: {
            confirm: {
              text: '확인',
              btnClass: 'btn btn-confirm',
            },
          }
        });
      }, function (err) {
        console.error('Async: Could not copy text: ', err);
      });
    }
    function shareTwitter() {
      const ogDescription = encodeURIComponent($('meta[property="og:description"]').attr('content'));
      const ogUrl = encodeURIComponent($('meta[property="og:url"]').attr('content'));
      const url = `https://twitter.com/intent/tweet?url=${ogUrl}&text=${ogDescription}`
      window.open(url, '_blank');
    }
    function shareFacebook() {
      const ogUrl = encodeURIComponent($('meta[property="og:url"]').attr('content'));
      window.open(`https://www.facebook.com/sharer/sharer.php?u=${ogUrl}`,'facebook-share-dialog','width=626,height=436');
    }
  </script>
  <script>
    function shareLinkedin() {
      const ogUrl = encodeURI($('meta[property="og:url"]').attr('content'));
      const url = `https://www.linkedin.com/sharing/share-offsite/?url=${ogUrl}`
      window.open(url, '_blank');
    }
    function shareMail() {
      const ogUrl = $('meta[property="og:url"]').attr('content');
      const ogTitle = $('meta[property="og:title"]').attr('content');
      const ogDescription = $('meta[property="og:description"]').attr('content');
      const body = encodeURIComponent(`${ogTitle}\n${ogDescription}\n\n${ogUrl}`);
      const mail = (`mailto:?&subject=${ogTitle}&body=${body}`);
      console.log(mail)
      window.open(mail,'_blank');
    }
  </script>
  <script>
    Kakao.init("a6051b786c3374f0ecd70347acd7514f");
    function shareKakaoTalk() {
      if (!Kakao.isInitialized()) {
        return
      }
      const ogTitle = $('meta[property="og:title"]').attr('content');
      const ogImage = $('meta[property="og:image"]').attr('content');
      const ogUrl = encodeURIComponent($('meta[property="og:url"]').attr('content'));
      const ogDescription = $('meta[property="og:description"]').attr('content');
      Kakao.Link.sendDefault({
        objectType: 'feed',
        content: {
          title: ogTitle,
          description: ogDescription,
          imageUrl:  ogImage,
          link: {
            mobileWebUrl: ogUrl,
            webUrl: ogUrl,
          },
        },
        buttons: [
          {
            title: '웹으로 보기',
            link: {
              mobileWebUrl: ogUrl,
              webUrl: ogUrl,
            },
          },
        ],
        installTalk: true,
      })
    }
    /* s:230919 edit */
    $(function () {
      $('.share').tooltipster({
        position: 'bottom',
        trigger: 'click',
        interactive: true,
        minWidth: 130,
        offsetX: 20,
        content: $(
            `<div class="share-menu">
            <a href="#" class="sns-facebook" onclick="shareFacebook()"><span>페이스북</span></a>
            <a href="#" class="sns-twitterX" onclick="shareTwitter()"><span>X(트위터)</span></a>
            <a href="#" class="sns-kakaotalk" onclick="shareKakaoTalk()"><span>카카오톡</span></a>
            <a href="#" class="sns-linkedin" onclick="shareLinkedin()"><span>링크드인</span></a>
            <a href="#" class="sns-url" onclick="copyTextToClipboard()"><span>URL 복사</span></a>
          </div>`
        )
      });
    })
    /* e:230919 edit */
  </script>
<script>
    $(function () {
    });
</script>
</body>
</html>