.badge-text {
  overflow: hidden;
  position: relative;
  @include flex(row, center, center);
  @include font(1.4rem, 700, $primary_10, 1);
  padding: 0 1rem;
  border-radius: 0.4rem;
  &.large {
    height: 2.8rem;
    padding: 0 1rem;
    .ic {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.4rem;
    }
  }

  &.medium {
    height: 2.4rem;
    padding: 0rem 0.8rem;
    .ic {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.3rem;
    }
  }

  &.small {
    height: 2rem;
    padding: 0 0.6rem;
    font-size: 1.2rem;
    .ic {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.2rem;
    }
  }

  &.primary {
    background-color: $primary_70;
  }
  &.secondary {
    background-color: $primary_15;
    color: $primary_60;
  }
  &.info {
    background-color: $information_20;
    color: $information_80;
  }
  &.confirm {
    background-color: $success_20;
    color: $success_80;
  }
  &.warning {
    background-color: $warning_20;
    color: $warning_80;
  }
  &.error {
    background-color: $error_20;
    color: $error_80;
  }

  .text {
    position: relative;
    top: -0.1rem;
  }
}
