.badge-circle {
  @include flex(row, center, center);
  @include font(1.2rem, 400, $primary_10, normal);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: $primary_10;
  &.large {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.6rem;
  }
  &.primary {
    background-color: $secondary_60;
  }
  &.secondary {
    background-color: $secondary_80;
  }
  &.info {
    background-color: $information_80;
  }
  &.confirm {
    background-color: $success_60;
  }
  &.warning {
    background-color: $warning_60;
  }
  &.error {
    background-color: $error_60;
  }
  &.primary-20 {
    background-color: $primary-40;
  }
  &.primary-80 {
    background-color: $primary-80;
  }
}
