.btn-charge-category {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
  gap: 0.8rem;
}

$chargeNames: (
  'dc-combo': (
    url: 'icon/ic_DCcombo.svg',
    fillUrl: 'icon/ic_DCcombo_fill.svg',
  ),
  'dc-demo': (
    url: 'icon/ic_DCdemo.svg',
    fillUrl: 'icon/ic_DCdemo_fill.svg',
  ),
  'ac': (
    url: 'icon/ic_AC3.svg',
    fillUrl: 'icon/ic_AC3_fill.svg',
  ),
  'nacs': (
    url: 'icon/ic_nacs.svg',
    fillUrl: 'icon/ic_nacs_fill.svg',
  ),
  'slow': (
    url: 'icon/ic_slow.svg',
    fillUrl: 'icon/ic_slow_fill.svg',
  ),
);
.btn-charge-item {
  @each $map, $value in $chargeNames {
    &.#{$map} {
      .btn-charge-check {
        &:checked {
          & + label {
            &:before {
              background: asset-image(map-get($value, fillUrl)) no-repeat center / 100%;
            }
          }
        }
      }
      label {
        &:before {
          background: asset-image(map-get($value, url)) no-repeat center / 100%;
        }
      }
    }
  }
}
.btn-charge-item {
  position: relative;
  width: 6rem;
  height: 6rem;
  .btn-charge-check {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    &:checked {
      & + label {
        background-color: $success_20;
        box-shadow: 0 0 0 0.1rem $secondary_60;
        color: $secondary_80;
        &::after {
          display: block;
        }
      }
    }
  }

  label {
    display: block;
    padding: 0.8rem;
    width: 6rem;
    height: 6rem;
    border-radius: 0.8rem;
    background-color: $primary_10;
    box-shadow: 0 0 0 0.1rem $primary_15;
    text-align: center;
    @include font(1.2rem, 400, $text_02, normal);
    &::before {
      content: '';
      margin: 0 auto 0.4rem;
      display: block;
      width: 2.4rem;
      height: 2.4rem;
    }
    &::after {
      content: '';
      display: none;
      position: absolute;
      top: 0.3rem;
      right: 0.3rem;
      width: 1.6rem;
      height: 1.6rem;
      background: asset-image('icon/ic_check.svg') no-repeat center / contain;
    }
  }
}
