.calendar-box {
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 0.8rem;
  border-radius: 0.6rem;
  background-color: $neutral_10;

  .icon-box {
    position: relative;
    top: 0.1rem;
    margin-right: 0.8rem;
  }

  .input-box {
    position: relative;
  }

  .calendar-open-button {
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-indent: -9999px;
  }

  .calendar-input {
    appearance: none;
    z-index: 11;
    position: relative;
    width: 9.5ch;
    min-width: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    @include font(1.4rem, 700, $text_01, normal);
    text-align: center;
    box-sizing: content-box;
    &::before {
      display: none;
    }
  }
  .separator {
    @include font(1.4rem, 700, $text_01, normal);
  }
}

.datepicker {
  display: none;
}
.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  z-index: 1000;
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  width: calc(100% - 2.4rem);
  max-width: 32.7rem;
  max-height: unset;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0.8rem;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .datepicker-picker {
    padding: 0 0 1.6rem 0;
  }

  .datepicker-view-date {
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    background-color: $primary_80;
    text-align: center;

    .desc-box {
      display: none;
      @include font(1.6rem, 400, $text_06, 2.2rem);
    }

    .datepicker-view-date-box {
      @include flex(row, flex-start, flex-end);
      gap: 1.2rem;
    }

    .date-single {
      .view-date-box {
        text-align: center;
        .year {
          @include font(1.4rem, 500, $text_06, 2rem);
        }
        .month {
          margin-top: 0.4rem;
          @include font(2rem, 500, $text_06, 2.6rem);
        }
      }
    }

    .separator-box {
      margin: 0 0 1.8rem;
      &::before {
        content: '';
        display: block;
        width: 0.8rem;
        height: 1px;
        background-color: $neutral_10;
      }
    }

    .view-date-box {
      flex: 1;
      text-align: left;

      &.disabled {
        .label-box {
          font-weight: 500;
          color: $text_05;
        }

        .btn-view-date {
          font-weight: 500;
          color: $text_04;
          .text-box {
            display: block;
          }
        }
      }

      .label-box {
        margin-bottom: 0.8rem;
        @include font(1.4rem, 700, $text_06, 2rem);
      }

      .btn-view-date {
        @include flex(row, flex-start, center);
        position: relative;
        width: 100%;
        height: 3.6rem;
        padding: 0 0.65rem 0 0.8rem;
        border-radius: 0.6rem;
        background-color: $neutral_10;
        @include font(1.4rem, 700, $text_02, 3.6rem);
        text-align: left;

        .date-box {
          flex: 1;
        }

        .text-box {
          display: none;
          width: 3.2rem;
          height: 2.8rem;
          border-radius: 0.3rem;
          border: 1px solid $primary_20;
          @include font(1.2rem, 400, $text_02, 2.6rem);
          text-align: center;
        }
      }
    }
  }

  .datepicker-header,
  .datepicker-main,
  .datepicker-footer {
    padding-left: 2.1rem;
    padding-right: 2.1rem;
  }
}

.datepicker-label-box {
  display: none;
}

.datepicker-header {
  padding: 0.8rem 0;
  .datepicker-title {
    display: none;
  }

  .datepicker-controls {
    @include flex(row, space-between, center);
    .button {
      &.view-switch {
        @include font(1.6rem, 700, $text_01, 2.2rem);
      }
      &.prev-btn,
      &.next-btn {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 0;
        text-indent: -9999px;
      }
      &.prev-btn {
        background: asset-image('icon/ic_calendar_arrow_l.svg') no-repeat center / 2.4rem;
      }
      &.next-btn {
        background: asset-image('icon/ic_calendar_arrow_r.svg') no-repeat center / 2.4rem;
      }
    }
  }
}

.datepicker-main {
  margin-top: 1.2rem;
}

.days-of-week {
  @include flex(row, center, center);
  .dow {
    position: relative;
    width: 4rem;
    height: 4rem;
    @include font(1.4rem, 500, $primary_90, 3.8rem);
    text-align: center;
  }
}

.datepicker-grid {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 0.4rem 0;
  &.months {
    .datepicker-cell {
      @include flex(row, center, center);
      width: 9.5rem;
      height: 4.4rem;
      border-radius: 0;
      line-height: 4.2rem;

      &.selected {
        position: relative;
        color: $text_06;
        background-color: transparent;
        .data {
          width: 4.4rem;
          height: 4.4rem;
        }
      }

      &.range {
        background-color: $primary_10;
        color: $primary_80;
      }

      &.range-start,
      &.range-end {
        position: relative;
        .data {
          width: 4.4rem;
          height: 4.4rem;
        }
      }

      &.range-start {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(245, 246, 250, 1) 50%, rgba(245, 246, 250, 1) 100%);
        &.range-end {
          background: transparent;
        }
      }

      &.range-end {
        background: linear-gradient(90deg, rgba(245, 246, 250, 1) 0%, rgba(245, 246, 250, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
      }
    }
  }

  .datepicker-cell {
    cursor: pointer;
    display: block;
    position: relative;
    width: 4rem;
    height: 4rem;
    @include font(1.4rem, 400, $neutral_80, 4rem);
    text-align: center;
    &.prev,
    &.next {
      color: rgba($neutral_80, 0.4);
    }
    &.selected {
      .data {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $primary_80;
        color: $text_06;
      }
    }
    &.range {
      background-color: $primary_10;
      border-radius: 0;
    }

    &.range-start,
    &.range-end {
      .data {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $primary_80;
        color: $text_06;
      }
    }

    &.range-start {
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(245, 246, 250, 1) 50%, rgba(245, 246, 250, 1) 100%);
      &.range-end {
        background: transparent;
      }
    }

    &.range-end {
      background: linear-gradient(90deg, rgba(245, 246, 250, 1) 0%, rgba(245, 246, 250, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
    }
  }
}

.datepicker-footer {
  margin-top: 1.2rem;
  .datepicker-controls {
    @include flex(row, flex-start, center);
    gap: 0.8rem;
    button {
      flex: 1;
      height: 4rem;
      border: 1px solid transparent;
      border-radius: 0.6rem;
      @include font(1.4rem, 500, $text_02, 3.8rem);
      &.cancel-button {
        border-color: $primary_20;
        background-color: $neutral_10;
        color: $text_02;
      }
      &.confirm-button {
        background-color: $primary_80;
        color: $text_06;
      }
    }
  }
}
