.chart-ratio {
  @include flex(row, center, center);
  width: 100%;
  &.empty {
    .progress-box {
      background-color: $primary_10 !important;
      .text-box {
        color: $primary_60;
      }
    }
  }

  .rec-box {
    width: 0.4rem;
    height: 1.6rem;
    border-radius: 0 0.2rem 0.2rem 0;
    background-color: $primary_30;
  }

  .chart-ratio-inner-box {
    @include flex(row, center, center);
    gap: 0.4rem;
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: 1px solid $primary_30;
    background-color: $neutral_10;
  }

  .progress-box {
    position: relative;
    height: 4rem;
    border-radius: 0.4rem;
    text-align: center;
    &:first-child {
      background-color: $primary_40;
    }
    &:last-child {
      background-color: $primary_80;
    }
    .text-box {
      @include font(1.6rem, 500, $neutral_10, 3.8rem);
      white-space: nowrap;
      .full-data {
        font-size: 1rem;
      }
    }
  }
}
