.chart-bar-ver {
  @include flex(row, flex-start, flex-end);
}

.chart-bar-ver-list {
  position: relative;
  min-width: 5.2rem;
  &.secondary {
    .chart-bar-ver-data-box {
      .chart-bar-ver-data {
        color: $primary_90;
      }
    }
    .chart-bar-ver-graph-box {
      .graph-deco {
        background-color: $primary_80;
      }
      .graph {
        background-color: $primary_80;
      }
    }
  }

  .tooltip-box {
    margin-bottom: 0.8rem;
  }

  .chart-bar-ver-data-box {
    @include flex(column-reverse, center, center);
    min-width: 5.2rem;
    margin-bottom: 0.4rem;
    text-align: center;
    .chart-bar-ver-data {
      position: relative;
      @include font(1rem, 400, $primary_60, 1.4rem);
      .ir-text {
        font-size: 0.6rem;
        white-space: nowrap;
      }
    }
  }

  .chart-bar-ver-graph-box {
    @include flex(column, flex-end, center);
    .graph-deco {
      position: relative;
      width: 3.2rem;
      height: 0.4rem;
      border-radius: 0.4rem 0.4rem 0 0;
      background-color: $primary_20;
    }

    .graph {
      width: 3.2rem;
      height: 0;
      max-height: 9.6rem;
      background-color: $primary_20;
      transition: height 0.3s;
    }
  }
}
