.charging-detail-list-contents {
  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }
  .list-content-title-box {
    @include flex(row, flex-start, center);
    gap: 1.2rem;
  }
  .list-content-label {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    gap: 1.2rem;
    padding: 0.4rem 0;
    .unit {
      @include flex(row, center, center);
      flex: none;
      @include font(1.4rem, 700, $text_03, 1.96rem);
      .ic {
        margin-right: 0.4rem;
      }
    }
    .info {
      margin-right: auto;
      font-size: 0;
      span {
        @include font(1.2rem, 400, $text_04, 1.96rem);
        &:not(:first-child) {
          &::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 0.1rem;
            height: 1rem;
            margin: 0 0.6rem;
            background-color: rgba($primary_100, 0.2);
          }
        }
      }
    }
    .price {
      @include font(1.4rem, 700, $success_80, 1.96rem);
    }
  }
  .list-state-cards {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    margin: 0.6rem -0.6rem -0.6rem;
    .list-state-card {
      position: relative;
      display: inline-block;
      margin: 0.6rem;
      padding: 1.6rem;
      width: calc((100% / 2) - 1.2rem);
      min-height: 7rem;
      border-radius: 0.6rem;
      overflow: hidden;
      background-color: $primary_10;
      border: 0.1rem solid $primary_15;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 0.6rem;
        border-radius: 0.6rem 0.6rem 0px 0px;
        background-color: $primary_50;
      }
      &.possible {
        background-color: $neutral_10;
        &::before {
          background-color: $success_50;
        }
        .state {
          color: $success_80;
        }
      }
      span {
        display: block;
      }
      .state {
        @include font(1.4rem, 700, $text_04, 1.96rem);
      }
      .text {
        margin-top: 0.2rem;
        @include font(1.2rem, 400, $text_04, 1.56rem);
      }
    }
  }
}
