@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bg {
  0% {
    background-color: rgba($primary_15, 1);
  }
  50% {
    background-color: rgba($primary_15, 0);
    background-color: rgba($primary_70, 0);
  }
  100% {
    background-color: rgba($primary_70, 1);
  }
}
.progress-container {
  overflow: hidden;
  position: relative;
  width: 21rem;
  height: 21rem;
  margin: auto;
  border-radius: 50%;
  &.charging {
    &.ing,
    &.end {
      .progress-image-box {
        .img-standby,
        .img-charging {
          animation: none;
        }
      }
      .progress-back {
        animation: none;
        background: $primary_70;
      }
    }
    &.ing {
      .progress-image-box {
        .img-standby {
          opacity: 0;
        }
        .img-charging {
          opacity: 1;
        }
        .img-end {
          opacity: 0;
        }
      }
      .progress-back {
        .progress-wave-box {
          display: block;
        }
      }
    }
    &.end {
      .progress-image-box {
        .img-standby {
          opacity: 0;
        }
        .img-charging {
          opacity: 0;
        }
        .img-end {
          opacity: 1;
        }
      }
      .progress-back {
        background: none;
        .progress-wave-box {
          display: block;
          bottom: 100% !important;
          background: url('../../assets/images/home/img_charge_end_bg.svg') no-repeat center / cover;
        }
      }
    }
    .progress-image-box {
      .img-standby {
        animation: fadeOut linear forwards;
        animation-duration: 1.5s;
      }
      .img-charging {
        opacity: 0;
        animation: fadeIn linear forwards;
        animation-delay: 1.5s;
        animation-duration: 1.5s;
      }
    }
    .progress-back {
      animation: bg 3s linear forwards;
      .progress-wave-box {
        display: none;
      }
    }
  }
  &.charge-slow {
    &.charging {
      &.ing,
      &.end {
        .progress-back {
          .progress-wave-box {
            display: none;
          }
          .progress-slow-box {
            opacity: 1;
            animation: none;
          }
        }
      }
      &.end {
        .progress-back {
          .progress-slow-box {
            background: url('../../assets/images/home/img_charge_end_slow_bg.svg') no-repeat center / cover;
          }
        }
      }
    }
    .progress-back {
      animation: none;
      .progress-wave-box {
        display: none;
      }
      .progress-slow-box {
        display: block;
        animation: fadeIn linear forwards;
        animation-delay: 1.5s;
        animation-duration: 1.5s;
      }
    }
  }
  .progress-area {
    height: 100%;
  }
  .progress-front,
  .progress-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  .progress-front {
    z-index: 1;
    border-radius: 50%;
  }
  .progress-image-box {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      &.img-standby {
        opacity: 1;
      }
      &.img-charging {
        opacity: 0;
      }
      &.img-end {
        opacity: 0;
      }
    }
  }
  .progress-back {
    overflow: hidden;
    border-radius: 50%;
    background-color: $primary_15;
    .progress-wave-box {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      background: url('../../assets/images/home/charge_progress_wave.webp') no-repeat center / cover;
    }
    .progress-slow-box {
      display: none;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../../assets/images/home/charge_bg_loop.webp') no-repeat center / cover;
    }
  }
}
