.field {
  & + .dropdown-container {
    margin-top: 1.6rem;
  }
}
.dropdown-container {
  width: 100%;
  & + .dropdown-container {
    margin-top: 1.6rem;
  }
  &.show {
    .dropdown-list-container {
      display: block;
    }
    .btn-dropdown {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  &.type-filled {
    .btn-dropdown {
      background-color: $primary_10;
      color: $text_02;
    }
  }
  .dropdown-top {
    margin-bottom: 0.4rem;
  }
  .dropdown-label-box {
    @include font(1.2rem, 400, $text_03, 1.6rem);
  }
  .dropdown-box {
    position: relative;
  }
  .btn-dropdown {
    @include ellipsis();
    position: relative;
    width: 100%;
    height: 4.8rem;
    padding: 1.2rem 3.6rem 1.2rem 2rem;
    border-radius: 0.8rem;
    border: 1px solid $primary_15;
    background-color: $neutral_10;
    @include font(1.4rem, 400, $primary_50, 2.2rem);
    text-align: left;
    &:focus {
      border: 1px solid $primary_80;
    }
    &.active {
      color: $text_02;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.2rem;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background: asset-image('icon/ic_arrow_down.svg') no-repeat center / contain;
    }
  }
  .dropdown-list-container {
    all: unset;
    z-index: 1;
    display: none;
    position: absolute;
    width: 100%;
    &::backdrop {
      display: none;
    }
    .dropdown-list-area {
      padding: 0.8rem;
      border-radius: 0.8rem;
      background-color: $neutral_10;
      box-shadow: $elevation_02;
    }
    .dropdown-list-box {
      overflow-y: auto;
      max-height: 19.2rem;
      &::-webkit-scrollbar {
        width: 0.4rem;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 0.3rem;
        background-color: $primary_30;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
    .btn-dropdown-list {
      @include ellipsis();
      width: 100%;
      height: 4.8rem;
      padding: 1.3rem 2rem;
      @include font(1.4rem, 400, $text_02, 2.2rem);
      text-align: left;
      &[aria-pressed='true'] {
        background-color: $neutral_15;
      }
    }
  }
}
