.header-container {
  position: relative;
  width: 100%;
  .header-box {
    @include flex(row, space-between, center);
    min-height: 6rem;
    padding: 1.6rem 2rem 0.8rem 1.2rem;
    &.align-center {
      @include flex(row-reverse, flex-start, center);
    }

    &.align-end {
      justify-content: flex-end;
    }

    .title {
      position: relative;
      top: -0.1rem;
      max-width: 16.4rem;
      @include ellipsis;
      @include font(1.6rem, 700, $primary_90, 3.6rem);
    }

    .header-box-left {
      .logo-box {
        padding: 2rem 0 0.8rem 1.2rem;
      }

      .title-box {
        @include flex(row, flex-start, center);
      }

      .previous-box {
        .btn-prev {
          @include flex(row, center, center);
          width: 3.6rem;
          height: 3.6rem;
        }
      }
    }

    .header-box-right {
      .button-box {
        @include flex(row, flex-start, center);
        gap: 0.8rem;

        .favorite-box {
          .bookmark-box {
            width: 3.6rem;
            height: 3.6rem;
            .bookmark-checkbox {
              width: 3.6rem;
              height: 3.6rem;
              background: asset-image('icon/ic_favorite.svg') no-repeat center / 2.4rem;
              &:checked {
                background: asset-image('icon/ic_favorite_yellow.svg') no-repeat center / 2.4rem;
              }
            }
          }
        }

        > button {
          &:not(.btn-text, .btn-qr) {
            @include flex(row, center, center);
            width: 3.6rem;
            height: 3.6rem;
          }
          &.btn-noti {
            &.active {
              .ic-notification-check {
                background: asset-image('icon/ic_notification_check_fill.svg') no-repeat center / 2.4rem;
              }
            }
          }
          &.btn-text {
            padding: 0.6rem;
            @include font(1.2rem, 500, $text_02, normal);
            text-decoration: underline;
          }
          &.btn-qr {
            @include flex(row, flex-start, center);
            padding: 0.6rem 0.8rem;
            border: 1px solid $primary_20;
            border-radius: 0.4rem;
            @include font(1.2rem, 400, $text_02, 1.56rem);
            .ic {
              width: 1.6rem;
              height: 1.6rem;
              margin-right: 0.4rem;
            }
          }
          &.new {
            .ic {
              position: relative;
              &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 100%;
                background-color: $secondary_60;
              }
            }
          }
        }
      }
    }

    .center-title-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
