.history-list {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4rem);
    height: 0.1rem;
    background-color: rgba($primary_100, 0.1);
  }
  &:last-of-type {
    &::after {
      display: none;
    }
  }
  .history-link {
    display: block;
    width: 100%;
    padding: 2rem;
    text-align: left;
  }
  .history-link-top {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 1.2rem;
  }
  .history-link-middle {
    margin-bottom: 0.4rem;
    .title-box {
      @include font(1.6rem, 700, $text_02, 2.2rem);
      word-break: keep-all;
    }
  }
  .history-link-info-box {
    @include flex(row, space-between, center);
    .history-link-info-left {
      @include flex(row, flex-start, flex-start);
      gap: 0.4rem;
      @include font(1.6rem, 500, $text_02, 2.2rem);
      .kwh-box {
        font-weight: 400;
        color: $text_04;
      }
    }
    .history-link-info-right {
      position: relative;
      margin-left: 0.4rem;
      @include font(1.2rem, 500, $text_04, 1.6rem);
      white-space: nowrap;
    }
  }
}
