.indicator-box {
  @include flex(row, center, center);
  gap: 1rem;
  padding: 2rem;
  .indicator {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    background-color: $primary_20;
    &.active {
      background-color: $primary_60;
    }
  }
}
