.list-a-box {
  width: 100%;
  background-color: $neutral_10;
}
.list-a-list {
  border-bottom: 1px solid rgba($primary_100, 0.1);
  &:last-of-type {
    border: none;
  }
  .list-a-content {
    @include flex(row, space-between, center);
    min-height: 5.8rem;
  }
  .list-a-left {
    .label-box {
      @include flex(row, flex-start, center);
      .ic {
        margin-right: 0.8rem;
      }
      .label {
        @include font(1.4rem, 500, $text_02, 2.2rem);
        white-space: nowrap;
        &.highlight {
          font-weight: 700;
        }
      }
    }
  }
  .list-a-right {
    text-align: right;
    .data-box {
      @include flex(row, flex-start, center);
      font-size: 0;
      .data {
        @include font(1.4rem, 400, $text_02, 2rem);
        word-break: break-all;
        & + .btn {
          margin-left: 0.4rem;
        }
        &.error {
          color: $error_80;
        }
        &.type2 {
          color: $text_03;
        }
        &.type3 {
          color: $text_04;
        }
        &.highlight {
          color: $secondary_80;
        }
      }
      .ic {
        margin-left: 0.4rem;
        margin-right: 0;
        width: 2rem;
        height: 2rem;
      }
      .btn-text {
        padding: 0;
      }
      .btn-language {
        color: $success_80;
      }
    }
  }
}
