.list-d-list-box {
  @include flex(column, flex-start, flex-start);
  gap: 0.8rem;
  width: 100%;
  & + .btn-add-list {
    margin-top: 0.8rem;
  }
}

.list-d-list {
  @include flex(row, space-between, center);
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid $primary_20;
  &.disabled {
    opacity: 0.4;
  }
  &.warning {
    .title-box {
      &::after {
        content: '';
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
        background: asset-image('icon/ic_warning_fill.svg') no-repeat center / contain;
      }
    }
  }
  &.no-border {
    border: none;
    .list-d-content {
      padding: 1.6rem 0;
    }
  }

  .drag-drop-box {
    padding-right: 2rem;
    .btn-drag-drop {
      @include flex(row, center, center);
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 0.4rem;
      border: 1px solid $primary_20;
      + .btn-drag-drop {
        margin-top: 0.6rem;
      }
    }
  }

  .list-d-content {
    flex: 1;
    @include flex(row, space-between, center);
    position: relative;
    padding: 1.6rem 2rem;
    .ir {
      position: absolute;
    }
  }
  .list-d-left {
    @include flex(row, flex-start, center);
    width: calc(100% - 4rem);
    .card-image-box {
      position: relative;
      width: 4.8rem;
      min-width: 4.8rem;
      height: 4.8rem;
      margin-right: 1.6rem;
      .logo-box {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 4rem;
        height: 4rem;
      }
      img {
        width: 100%;
      }
    }
  }
  .title-container {
    .title-top {
      margin-bottom: 0.4rem;
      .category-box {
        @include font(1.2rem, 700, $text_04, 1.6rem);
      }
    }
    .title-middle {
      margin-bottom: 0.4rem;
      .title-box {
        @include flex(row, flex-start, center);
        gap: 0.8rem;
        position: relative;
        @include font(1.6rem, 700, $text_02, 2.2rem);
      }
    }
    .title-bottom {
      .desc-box {
        @include font(1.2rem, 500, $text_04, 1.6rem);
      }
    }
  }
  .list-d-right {
    button:not(.btn-edit) {
      width: 2.4rem;
      height: 2.4rem;
    }
    .btn-edit {
      @include flex(row, center, center);
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      border: 1px solid $primary_20;
    }
  }
}

.btn-add-list {
  @include flex(row, center, center);
  gap: 0.4rem;
  width: 100%;
  padding: 1.4rem 1.2rem 1.4rem 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid $primary_20;
  @include font(1.6rem, 500, $text_02, 2.2rem);
  .ic {
    min-width: 2rem;
  }
}
