@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-box {
  position: relative;
  &.large {
    @include flex(column, center, center);
    .icon-box {
      .ic {
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    .message-box {
      margin-top: 2rem;
      @include font(1.6rem, 400, $text-02, 2.2rem);
      &.ir-text {
        word-break: break-all;
        font-size: 2rem;
      }
    }
  }

  &.small {
    @include flex(row, flex-start, center);
    .icon-box {
      .ic {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    .message-box {
      margin-left: 0.8rem;
      @include font(1.2rem, 400, $text-02, 1.7rem);
    }
  }

  .icon-box {
    animation: loading 1s linear infinite;
  }

  .message-box {
    &.ir-text {
      margin: 0;
      font-size: 0.4rem;
    }
  }
}
