.no-data-image-box {
  @include flex(column, center, center);
  img {
    width: 8rem;
    height: 8rem;
  }
  .text {
    margin-top: 2.4rem;
    @include font(1.8rem, 400, $text_04, 2.61rem);
    text-align: center;
  }
}
