.notification-box {
  width: 100%;
  padding: 0 1.2rem;
  border-radius: 0.6rem;
  background-color: $primary_15;
  .notification {
    @include flex(row, flex-start, center);
    width: inherit;
    height: 4rem;
    .ic {
      min-width: 2.4rem;
      height: 2.4rem;
      margin-right: 0.8rem;
    }
    .text-box {
      max-width: calc(100% - 2.8rem);
      @include font(1.2rem, 400, $text-02, normal);
      @include ellipsis;
    }
  }
}
