.popup {
  position: relative;
  overflow: hidden;
  width: calc(100% - 4.8rem);
  padding: 0;
  border: none;
  border-radius: 1rem;
  background-color: $neutral_10;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  &::backdrop {
    background: rgba($primary_100, 0.5);
  }
}
.popup-container {
  padding: 2.4rem 1.6rem;
  .popup-top {
    margin-bottom: 1.2rem;
  }
  .popup-middle {
    .field-box {
      margin-top: 2.4rem;
    }
  }
  .popup-bottom {
    margin-top: 2.4rem;
    margin-bottom: -1.2rem;
    @include flex(row, flex-start, flex-start);
    .btn {
      flex: 1;
      & + .btn {
        margin-left: 0.8rem;
      }
    }
  }
  .popup-title {
    @include font(1.6rem, 700, $text_01, normal);
    text-align: center;
  }
  .popup-text {
    @include font(1.4rem, 500, $text_02, 1.96rem);
    text-align: center;
    white-space: pre-line;
  }
  .button-center-box {
    @include flex(row, center, center);
  }
}

.popup-naiv {
  .check-button-box {
    @include flex(row, center, center);
    margin-top: 1.6rem;
  }
  .btn-navi {
    flex-direction: column-reverse;
    width: 10.8rem;
    padding: 1.6rem 0 0.8rem;
    color: $text_02;
    text-align: center;
    .ic {
      width: 4.8rem;
      height: 4.8rem;
      margin: 0;
    }
    span {
      margin-top: 0.8rem;
      font-weight: 700;
    }
  }
}
