.field-radio {
  position: relative;
  &.disabled {
    opacity: 0.4;
  }
  &.align-reverse {
    .radio-box {
      flex-direction: row-reverse;
      justify-content: space-between;
      .field-label {
        &:not(.ir) {
          margin-left: 0;
        }
      }
    }
  }
  input[type='radio'] {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    &:checked {
      & + .radio-box {
        .radio-icon {
          &::before {
            background: asset-image('icon/ic_radio_sel.svg') no-repeat center / contain;
          }
        }
      }
    }
    &:focus {
      & + .radio-box {
        .radio-icon {
          &::before {
            opacity: 1;
          }
        }
        .field-label {
          text-decoration-line: underline;
        }
      }
    }
  }

  .radio-box {
    @include flex(row, flex-start, flex-start);
    .radio-icon {
      &::before {
        content: '';
        opacity: 0.8;
        display: inline-block;
        min-width: 2rem;
        width: 2rem;
        height: 2rem;
        background: asset-image('icon/ic_radio.svg') no-repeat center / contain;
      }
    }
    .field-label {
      &:not(.ir) {
        margin-left: 1rem;
        @include font(1.4rem, 400, $text_02, 2rem);
      }
    }
  }
}
