<div class="couponInfoContainer @@addClass @@if(addClass == 'used'){cardLine}">
  <div class="couponInfoInner">
    @@if(type) {
    <div class="couponTypeBox">
      <span>@@type</span>
    </div>
    }
    <div class="couponNameBox">
      <strong>@@title</strong>
    </div>
    <div class="couponDateBox">
      @@if(availableAddText) {
      <p class="availableAdd">@@availableAddText</p>
      }
      <!-- prettier-ignore -->
      @@if(availableDateText) {
      <p class="availableDate">@@availableDateText</p>
      }
      <!-- prettier-ignore -->
      @@if(availableText) {
      <p class="availableText">@@availableText</p>
      }
    </div>
    @@if(addClass !== 'disabled' && addClass !== 'used') {
    <div class="couponFootBox">
      <a href="#" class="linkUnderline colorPrimary">쿠폰 등록</a>
    </div>
    }
  </div>
  @@if(addClass == 'disabled') {
  <div class="couponNoticeBox">
    <p>*만료 쿠폰은 만료 후 일주일 뒤 자동 삭제 됩니다.</p>
  </div>
  }
</div>
