<div class="field fieldCheckbox">
  <div class="fieldToggleBtn">
    <button type="button" class="openBtn" aria-expanded="false"><span>요금제 비교 열기</span></button>
  </div>
  <div class="fieldLabel">
    <div class="moType"><span>1</span>개의 요금제가 선택되었습니다.</div>
    최대 3개의 요금제를 비교해볼 수 있어요.
  </div>
  <div class="fieldForm">
    <div class="checkbox">
      <input type="checkbox" id="input-id-07" checked />
      <label for="input-id-07" class="checkboxLabel">
        <span class="imgWrap"><img src="../../assets/images/product/thumbnail_KT-Mobile.png" alt="" /></span>
        <span>데이터 맘껏 15GB+ / 300분</span>
        <span class="checkIcon"></span>
      </label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="input-id-08" checked />
      <label for="input-id-08" class="checkboxLabel">
        <span class="imgWrap"><img src="../../assets/images/product/thumbnail_liiv-mobile.png" alt="" /></span>
        <span>데이터 맘껏 15GB+ / 300분</span>
        <span class="checkIcon"></span>
      </label>
    </div>
    <div class="emptyArea">요금제를 선택해주세요.</div>
  </div>
</div>
