<div class="fieldArea@@if(image){ innerLogo}">
  <div class="fieldBox">
    <!-- prettier-ignore -->
    @@if(!image){ 
      @@for(var i = 0; i < infoBox.length; i++) { 
        @@include('../component/phone_line_info_box.html', `+(JSON.stringify(infoBox[i]))+`) } 
      }
    @@if(image){
    <div class="lineBox">
      <!-- prettier-ignore -->
      @@for(var i = 0; i < infoBox.length; i++) { 
        @@include('../component/phone_line_info_box.html', `+(JSON.stringify(infoBox[i]))+`) 
      }
    </div>
    <div class="imgWrap"><img src="../../assets/images/bizlogo/thumbnail_freet.png" alt="프리티" /></div>
    }
  </div>
</div>
