<section class="termsContainer">
  ㈜ 케이티(이하 “회사”라 한다)는 PASS 인증서의 원활한 진행을 위해 다음과 같은 정보를 주식회사 아톤, SK텔레콤 주식회사, 주식회사 케이티, 주식회사 LG유플러스에 제공합니다. 취득한 개인정보는 “통신비밀보호법”, “전자통신사업법”, 전자서명법 및 “정보통신망 이용촉진 및 정보보호 등에 관한 법률” 등 정보통신서비스 제공자가 준수하여야 할 관련 법령 상의 개인정보 보호 규정을 준수합니다.
  <br /><br />
  <ul>
    <li>- 제공받는자 : (주)아톤, SK텔레콤(주), (주)케이티, (주)LG유플러스</li>
    <li>- 제공 목적 : 본인 확인을 통한 부정이용 방지(인증서 발급/재발급/삭제, 서비스 제공)</li>
    <li>- 제공하는 개인정보 : 휴대폰 번호, 이름, 생년월일, 통신사</li>
    <li>- 보유기간 : 본 서비스 해지 시 까지 또는 관계 법령에 따른 보관의무 기간 동안 보관</li>
  </ul>
  <br />
  “서비스” 제공을 위해 필요한 최소한의 개인정보이므로 동의를 해주셔야 “서비스” 이용이 가능합니다.
</section>
