<section class="termsContainer">
  회사는 서비스 이용계약, A/S제공 및 그 부대업무 대행 등 고객에 대한 편의제공, 관리 등을 위하여 개인정보의 처리업무를 위탁하고 있으며, 회사는 위탁계약 시 관계 법령에 따라 개인 정보가 안전하게 관리될 수 있도록 필요한 조치를 하고 있습니다. <br />
  또한 위탁 처리하는 정보는 원할한 서비스를 제공하기 위하여 필요한 최소한의 정보에 국한됩니다. 회사의 개인정보 처리 위탁 시 수탁자 및 위탁 내용은 아래와 같습니다. <br /><br />
  <div class="tableContainer termsType">
    <table>
      <caption>
        수탁사, 위탁하는 업무의 목적 표
      </caption>
      <colgroup>
        <col />
        <col />
      </colgroup>
      <thead class="termsGrayBox">
        <tr>
          <th scope="col">수탁사</th>
          <th scope="col">위탁하는 업무의 목적</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>인성데이타㈜, ㈜만나코퍼레이션, ㈜바로고, ㈜메쉬코리아</td>
          <td>상품 배송</td>
        </tr>
        <tr>
          <td>㈜케이티엠앤에스</td>
          <td>배송 대행 수행을 위한 정보 이용</td>
        </tr>
        <tr>
          <td>㈜스마트로</td>
          <td>온라인 결제 대행</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
