//[내부용]피그마 Componet pages 참고

[class^='ic-'] {
  flex: none;
  display: block;
  width: 5.2rem;
  height: 5.2rem;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.ic-rate-plan-data {
  &::before {
    background-image: image('icon/ic_rate_plan_data_52.png');
  }
}
.ic-rate-plan-voice {
  &::before {
    background-image: image('icon/ic_rate_plan_voice_52.png');
  }
}
.ic-rate-plan-message {
  &::before {
    background-image: image('icon/ic_rate_plan_message_52.png');
  }
}

.ic-fax {
  &:before {
    background-image: image('icon/ic_fax.png');
  }
}

.ic-message {
  &:before {
    background-image: image('icon/ic_message.png');
  }
}
.ic-payment-detail {
  &:before {
    background-image: image('icon/ic_payment_detail.png');
  }
}
.ic-account {
  &:before {
    background-image: image('icon/ic_account.png');
  }
}
.ic-auto-payment {
  &:before {
    background-image: image('icon/ic_auto_payment.png');
  }
}
.ic-auto-payment-card {
  &:before {
    background-image: image('icon/ic_auto_payment_card.png');
  }
}
.ic-unrefunded {
  &:before {
    background-image: image('icon/ic_unrefunded.png');
  }
}

.ic-discount {
  &:before {
    background-image: image('icon/ic_discount.png');
  }
}
.ic-reset {
  &:before {
    background-image: image('icon/ic_reset.png');
  }
}
.ic-gift {
  &:before {
    background-image: image('icon/ic_gift.png');
  }
}
.ic-gift-fail {
  &:before {
    background-image: image('icon/ic_gift_fail.png');
  }
}
.ic-gift-complete {
  &:before {
    background-image: image('icon/ic_gift_complete.png');
  }
}
.ic-refill {
  &:before {
    background-image: image('icon/ic_refill.png');
  }
}
.ic-refill-fail {
  &:before {
    background-image: image('icon/ic_refill_fail.png');
  }
}
.ic-refill-complete {
  &:before {
    background-image: image('icon/ic_refill_complete.png');
  }
}
.ic-extra-service {
  &:before {
    background-image: image('icon/ic_extra_service.png');
  }
}
.ic-voiceview {
  &:before {
    background-image: image('icon/ic_voiceview.png');
  }
}
.ic-v-coloring {
  &:before {
    background-image: image('icon/ic_V_COLORING.png');
  }
}
.ic-flo {
  &:before {
    background-image: image('icon/ic_FLO.png');
  }
}
.ic-wavve {
  &:before {
    background-image: image('icon/ic_Wavve.png');
  }
}
.ic-t-ring {
  &:before {
    background-image: image('icon/ic_T_ring.png');
  }
}
.ic-call-waiting {
  &:before {
    background-image: image('icon/ic_ call_waiting.png');
  }
}
.ic-call-keeper {
  &:before {
    background-image: image('icon/ic_call_keeper.png');
  }
}
.ic-block {
  &:before {
    background-image: image('icon/ic_block.png');
  }
}
.ic-info-service {
  &:before {
    background-image: image('icon/ic_info_service.png');
  }
}
.ic-call {
  &:before {
    background-image: image('icon/ic_call.png');
  }
}
.ic-pay {
  &:before {
    background-image: image('icon/ic_pay.png');
  }
}
.ic-error {
  &:before {
    background-image: image('icon/ic_error.png');
  }
}
.ic-call-pause {
  &:before {
    background-image: image('icon/ic_call_pause.png');
  }
}
.ic-microphone {
  &:before {
    background-image: image('icon/ic_microphone.png');
  }
}
.ic-customer-center {
  &:before {
    background-image: image('icon/ic_customer_center.png');
  }
}
.ic-power {
  &:before {
    background-image: image('icon/ic_power.png');
  }
}
.ic-chattey {
  &:before {
    background-image: image('icon/ic_chatty.png');
  }
}
.ic-customer-center-error {
  &:before {
    background-image: image('icon/ic_customer_center_input_error.png');
  }
}
.ic-complete {
  &:before {
    background-image: image('icon/ic_complete.png');
  }
}
.ic-certification {
  &:before {
    background-image: image('icon/ic_certification.png');
  }
}
.ic-customer-center-certify {
  &:before {
    background-image: image('icon/ic_customer_center_certify.png');
  }
}
.ic-roaming {
  &:before {
    background-image: image('icon/ic_roaming.png');
  }
}
.ic-roaming-lock {
  &:before {
    background-image: image('icon/ic_roaming_lock.png');
  }
}
.ic-voice {
  &:before {
    background-image: image('icon/ic_voice.png');
  }
}
.ic-for-army {
  &:before {
    background-image: image('icon/ic_for_army.png');
  }
}
.ic-for-army-error {
  &:before {
    background-image: image('icon/ic_for_army_error.png');
  }
}
.ic-for-army-fause {
  &:before {
    background-image: image('icon/ic_for_army_fause.png');
  }
}
.ic-for-army-complete {
  &:before {
    background-image: image('icon/ic_for_army_complete.png');
  }
}
.ic-customer-center-lunch {
  &:before {
    background-image: image('icon/ic_customer_center_lunch.png');
  }
}
.ic-customer-center-error {
  &:before {
    background-image: image('icon/ic_customer_center_error.png');
  }
}

.ic-voice-microphone {
  &:before {
    background-image: image('icon/ic_voice_microphone.png');
  }
}
.ic-voice-accuracy {
  &:before {
    background-image: image('icon/ic_voice_accuracy.png');
  }
}
.ic-voice-lock {
  &:before {
    background-image: image('icon/ic_voice_lock.png');
  }
}
.ic-voice-safe {
  &:before {
    background-image: image('icon/ic_voice_safe.png');
  }
}
.ic-complete {
  &:before {
    background-image: image('icon/ic_complete.png');
  }
}
.ic-unlimited {
  &:before {
    background-image: image('icon/ic_plan_unlimited_52.png');
  }
}
.ic-plan-point {
  &:before {
    background-image: image('icon/ic_plan_point_52.png');
  }
}
.ic-plan-data-1G {
  &:before {
    background-image: image('icon/ic_plan_data_1G_52.png');
  }
}
.ic-plan-data-free {
  &:before {
    background-image: image('icon/ic_plan_data_2y_free_52.png');
  }
}
.ic-point {
  &:before {
    background-image: image('icon/ic_point.png');
  }
}
.ic-prepayment {
  &:before {
    background-image: image('icon/ic_prepayment.png');
  }
}
.ic-screen-voice {
  &:before {
    background-image: image('icon/ic_screen_voice.png');
  }
}
