/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

input[type='checkbox'],
input[type='radio'] {
  opacity: 0;
  position: absolute;
  padding: 0;
  margin: 0;
}

.field {
  position: relative;
  width: 100%;
  & + .field {
    margin-top: 1.4rem;
  }
  > div {
    flex: 1;
  }
  .unit {
    position: absolute;
    top: 50%;
    right: 1.4rem;
    z-index: 1;
    transform: translateY(-50%);
    @include font(1.6rem, 400, $black, 2.4rem);
  }
  .dash {
    display: block;
    margin: 0 0.4rem;
  }
}
.field-label {
  display: block;
  margin-bottom: 0.8rem;
  @include font(1.4rem, 700, $black, normal);
}
.field-area {
  position: relative;
  width: 100%;
}
.field-form {
  @include flex(row, flex-start, center);
  margin: 0 -0.4rem;
  .field-area {
    margin: 0 0.4rem;
  }
}

// Select
select {
  padding: 0 1.4rem;
  @include font(1.6rem, 400, rgba($black, 0.4), normal);
}
select,
.dropdown-area {
  width: 100%;
  height: $inputBox;
  border-radius: 1rem;
}
.dropdown-area {
  position: relative;
  &.active {
    .dropdown-list {
      display: block;
    }
    .btn-open {
      border: 2px solid $primary;
      border-bottom: none;
      border-radius: 1rem 1rem 0 0;
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  strong {
    font-weight: 400;
  }
  .btn-open {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.2rem 3.8rem 1.2rem 1.2rem;
    border: 2px solid transparent;
    @include bgBoxGray($bg-gray-05, 1rem);
    @include font(1.6rem, 400, rgba($black, 0.4), 2rem);
    letter-spacing: -0.032rem;
    text-align: left;
    border-radius: 1rem;
    &.in {
      color: rgba($black, 1);
      font-weight: 500;
      strong {
        font-weight: 500;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.4rem;
      z-index: 1;
      transform: translateY(-50%);
      width: 1.2rem;
      height: 1.2rem;
      background: image('icon/btn_input_arrow_down_nor.png') no-repeat center/cover;
      transition: 0.2s;
    }
  }
  .dropdown-list {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: 4.4rem;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 26rem;
    padding-bottom: 1.4rem;
    border: 2px solid $primary;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    background-color: $bg-gray-05;
    letter-spacing: -0.032rem;
    .list {
      @include flex(row, flex-start, center);
      margin-top: 1.6rem;
      > a {
        width: 100%;
        padding: 0 1.2rem;
        @include font(1.6rem, 500, $black, 2.4rem);
      }
    }
  }
}
select {
  background: $bg-gray-05 image('icon/btn_input_arrow_down_nor.png') no-repeat right 1.4rem center/1.2rem;
  &:focus-visible {
    outline: none;
  }
}

/* Input */
input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  width: 100%;
  height: $inputBox;
  padding: 1.4rem;
  border: none;
  background-color: $bg-gray-05 !important;
  @include font(1.6rem, 500, $black, 2.4rem);
  outline-offset: 0;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity: 1;
  &::placeholder {
    font-weight: 400;
    color: rgba($black, 0.4);
  }
  &:focus-visible {
    outline: none;
  }
}

/* radio */
.field-radio {
  .field-form {
    // flex-wrap: wrap;
    margin: -0.8rem;
    .field-area {
      width: auto;
      margin: 0.8rem;
    }
  }
}
input[type='radio'] {
  &:checked {
    + .radio-label {
      &::before {
        background: image('icon/btn_radio_sel.png') no-repeat center/cover;
      }
      &.round-label {
        color: $primary;
        &::before {
          border: 2px solid $primary;
        }
      }
    }
  }
  &:disabled {
    + .radio-label {
      opacity: 0.3;
    }
  }
  + .radio-label {
    @include flex(row, flex-start, center);
    @include font(1.6rem, 500, $black, normal);
    &.round-label {
      position: relative;
      @include flex(row, center, center);
      height: 3rem;
      padding: 0 1.4rem;
      @include font(1.4rem, 700, rgba($black, 0.3), 2.1rem);
      letter-spacing: -0.05rem;
      &::before {
        flex: none;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        margin-right: 0;
        border: 1px solid #e5e5e5;
        background: initial;
        border-radius: 2rem;
        transition: initial;
      }
    }
    &::before {
      content: '';
      flex-shrink: 0;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.4rem;
      background: image('icon/btn_radio_nor.png') no-repeat center/cover;
      -webkit-transition: background 0.15s;
      -moz-transition: background 0.15s;
      -ms-transition: background 0.15s;
      -o-transition: background 0.15s;
      transition: background 0.15s;
    }
  }
}

/* checkbox */
.field-checkbox {
}
input[type='checkbox'] {
  &:checked {
    + .checkbox-label {
      &::before {
        background: image('icon/btn_checkbox_sel.png') no-repeat center/cover;
      }
    }
  }
  &:disabled {
    + .checkbox-label {
      opacity: 0.3;
    }
  }
  + .checkbox-label {
    @include flex(row, flex-start, center);
    @include font(1.6rem, 500, $black, normal);
    &::before {
      content: '';
      flex-shrink: 0;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.4rem;
      background: image('icon/btn_checkbox_nor.png') no-repeat center/cover;
      -webkit-transition: background 0.15s;
      -moz-transition: background 0.15s;
      -ms-transition: background 0.15s;
      -o-transition: background 0.15s;
      transition: background 0.15s;
    }
  }
}

@media #{$mobile_320} {
  /* radio */
  input[type='radio'] {
    + .radio-label {
      &.round-label {
        padding: 0 1rem;
        font-size: 1.2rem;
      }
    }
  }
  .dropdown-area {
    .btn-open {
      font-size: 1.6rem;
      padding: 1rem 3rem 1rem 1rem;
    }
  }
}
