.wrapper {
  position: relative;
}
.hidden {
  display: none !important;
}
.usePc {
  display: block !important;
}
.useMobile {
  display: none !important;
}
.banner-container {
  position: relative;
  .banner-area {
    height: 100%;
  }
  .banner-area-forward {
    @include flex(column, center, flex-start);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .banner-area-back {
    overflow: hidden;
    height: 100%;
    img {
      @include imgbox;
    }
  }
  .banner-content-box {
    width: 100%;
    @extend .max-width-1440;
  }
  .banner-title-box {
    @include font(3.6rem, 400, $white, normal);
    letter-spacing: -0.05rem;
    .strong {
      font-size: 4.8rem;
      font-weight: 700;
      .voltup-logo {
        width: 26rem;
        height: auto;
        margin-left: 2rem;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.banner-desc-large {
  @include font(3.2rem, 400, $white, 1.45);
}
.banner-desc-middle {
  @include font(2.4rem, 500, $white, 1.45);
}
.main-title {
  margin-bottom: 10rem;
  @include font(4.8rem, 700, $black, 1.35);
  text-align: center;
}
.sub-title {
  @include font(3.6rem, 700, $black, 1.35);
  text-align: center;
}
// 타이틀 영역 설명글
.title-desc {
  margin-top: 1rem;
  @include font(2.4rem, 400, $color-gray-01, 1.45);
  word-break: keep-all;
}
// 설명글
.desc-text {
  @include font(2.4rem, 400, $color-gray-01, 1.45);
  word-break: keep-all;
  text-align: center;
}
.main-title-middle {
  width: 100%;
}
.main-title-bottom {
  margin-top: 20rem;
}
.main-title-container {
  @include flex(column, center, center);
  width: 100%;
  @extend .max-width-1440;
  padding-top: 20rem;
  padding-bottom: 20rem;
  .title {
    @include font(2rem, 700, $point-pink, 2.9rem);
  }
  .desc {
    margin-top: 2rem;
    @include font(4rem, 300, $black, 5.8rem);
    text-align: center;
    word-break: keep-all;
    .strong {
      font-weight: 700;
    }
  }
}
.section-container {
  padding: 20rem 0;
  &.bg-gray {
    background-color: #f8f8f8;
  }
  .section-area {
    @extend .max-width-1440;
    & + .section-area {
      padding-top: 10rem;
    }
  }
}
.section-title-box {
  @include flex(column, center, center);
  width: 137.1rem;
  margin: 0 auto;
  .title-box,
  .desc {
    text-align: center;
  }
  .title-box {
    @include font(4rem, 300, $black, 5.8rem);
    .strong {
      font-weight: 700;
    }
  }
  .desc {
    margin-top: 2rem;
    @include font(2.2rem, 500, #61606c, 3.4rem);
    word-break: keep-all;
  }
}
.strong-365 {
  font-weight: 700;
}
.color-primary {
  font-weight: 700;
  color: $point-pink;
}
.badge {
  display: inline-flex;
  min-height: 4.5rem;
  padding: 0.8rem 1.6rem;
  background-color: $point-pink;
  @include font(2rem, 700, $white, 1.35);
  border-radius: 12rem;
}

/* response */
@media #{$pc_1440} {
  .main {
    .section-title-box {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media #{$pc_1280} {
  .banner-container {
    .banner-title-box {
      font-size: 3rem;
      .strong {
        font-size: 4rem;
      }
    }
  }
}

@media #{$tablet_1024} {
  .main {
    .section-title-box {
      .title-box {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }

      .download-box {
        a {
          font-size: 1.4rem;
        }
      }
      .desc {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 2rem;
        br {
          display: none;
        }
      }
    }
  }
  .banner-container {
    .banner-title-box {
      font-size: 1.7rem;
      span {
        & + .strong {
          margin-top: 0.8rem;
        }
      }
      .strong {
        font-size: 3.2rem;
        line-height: 1.25;
      }
    }
  }
  .banner-desc-large {
    font-size: 1.7rem;
  }
  .banner-desc-middle {
    font-size: 1.4rem;
  }
  .main-title-container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    .title {
      font-size: 1.4rem;
      line-height: 2rem;
    }
    .desc {
      margin-top: 1rem;
      font-size: 1.8rem;
      line-height: 2.6rem;
      br {
        display: none;
      }
    }
  }
  .main-title-bottom {
    width: 100%;
    margin-top: 8rem;
  }
  .main-title {
    margin-bottom: 4rem;
    font-size: 2.6rem;
  }
  .sub-title {
    font-size: 2.2rem;
  }
  .title-desc {
    font-size: 1.4rem;
    br {
      display: none;
    }
  }
  .desc-text {
    font-size: 1.4rem;
  }
  .section-container {
    padding: 8rem 0;
    .section-area {
      & + .section-area {
        padding-top: 4rem;
      }
    }
  }
  .badge {
    min-height: 2.3rem;
    margin-right: 0;
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
  }
}

@media #{$tablet_768} {
  .banner-container {
    height: auto !important;
    .banner-area-forward {
      justify-content: flex-end;
      padding: 8rem 0;
    }
    .banner-title-box {
      .strong {
        .voltup-logo {
          display: block;
          width: 16.3rem;
          height: auto;
          margin-left: 0;
        }
      }
    }
  }
  .usePc {
    display: none !important;
  }
  .useMobile {
    display: block !important;
  }
}
