// Sub page (04)
.menu-04 {
  .section-container:last-child {
    padding-top: 0;
  }
  .banner-content-middle {
    margin-top: 2.5rem;
  }
  .section-button-box {
    margin: 20rem 0 0 0;
  }
  .support-block-container {
    @include flex(row, space-between, center);
    width: 137.1rem;
    margin: 0 auto;
    padding-top: 8rem;
    .support-block-box {
      @include flex(row, space-between, center);
      width: calc(33.33% - 1.28rem);
      height: 15.8rem;
      padding: 0 3.5rem;
      border-radius: 2rem;
      background-color: $white;
      box-shadow: 0 0.4rem 3rem 1.3rem rgba(67, 66, 146, 0.08);
      &.show-inquiry-popup {
        cursor: pointer;
      }
      .info-box {
        flex: 1;
        padding-left: 2.4rem;
      }
      .img-box {
        width: 10rem;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .title-box {
        @include font(2.4rem, 700, #08090e, 3.5rem);
        word-break: keep-all;
      }
      .desc-box {
        margin-top: 0.4rem;
        @include font(2rem, 500, #61606c, 2.9rem);
        word-break: break-all;
      }
    }
  }

  .notice-container {
    width: 137.1rem;
    margin: 0 auto;
    .notice-area {
      .notice-list-container {
        .notice-list-box {
          @include flex(column, flex-start, flex-start);
        }
        .notice-list {
          width: 100%;
          margin-bottom: 4rem;
          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            .title-box {
              &::after {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
          .title-box {
            padding: 4rem 8rem 4rem 4rem;
            width: 100%;
            border: 0.1rem solid rgba(#666, 0.4);
            border-radius: 20px;
            @include flex(row, flex-start, center);
            position: relative;
            @include font(2.8rem, 500, $black, normal);
            cursor: pointer;
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: 4rem;
              width: 3.2rem;
              height: 3.2rem;
              background: url('../images/ic_support_arrow_down.svg') no-repeat 100% center/cover;
              transform: translateY(-50%);
              transition: all 0.2s;
            }
            .num {
              margin-right: 0.4rem;
              color: $point-pink;
              text-align: center;
            }
            .icon-notice {
              width: 3.2rem;
              height: 3.2rem;
              margin-right: 1rem;
              background: url('../images/sub_04/icon_notice.svg') no-repeat 100% center/cover;
            }
            .category {
              position: relative;
              margin-right: 0.8rem;
              padding: 0 0.6rem;
              white-space: nowrap;
              &::before,
              &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }
              &::before {
                content: '[ ';
                left: -4px;
              }
              &::after {
                content: ' ]';
                right: -4px;
              }
            }
            .title {
              word-break: keep-all;
            }
          }
          .content-box {
            display: block;
            overflow: hidden;
            height: 0;
            transition: height 0.3s ease;
            .text-container {
              display: block;
              padding-top: 3rem;
              .text-area {
                display: block;
                padding: 4rem;
                border-radius: 2rem;
                background-color: #f8f8f8;
                .text-box {
                  display: block;
                }
                .text {
                  display: block;
                  @include font(2.4rem, 400, $black, normal);
                  white-space: pre-line;
                  word-break: keep-all;
                }
                strong {
                  font-weight: 700;
                }
                img {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .terms-table {
    display: flex;
    margin: 4rem 0;
    border: 0.1rem solid #b4b4b4;
    border-radius: 2rem;
    overflow: hidden;
  }
  .term-box {
    @include font(2.4rem, 400, $black, normal);
    & + .term-box {
      border-left: 0.1rem solid #b4b4b4;
    }
    .term-header {
      padding: 2rem;
      text-align: center;
      border-bottom: 0.1rem solid #b4b4b4;
    }
  }
  .term-content {
    padding: 4rem;

    &.long {
      min-height: 51.5rem;
      border-bottom: 0.1rem solid #b4b4b4;
    }
  }
}

// 태블릿
@media #{$pc_1440} {
  .menu-04 {
    .support-block-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      .support-block-box {
        padding: 0 2rem;
        .title-box {
          font-size: 2rem;
        }
        .desc-box {
          font-size: 1.8rem;
        }
        .img-box {
          width: 8rem;
        }
      }
    }

    .notice-container {
      width: 100%;
      .notice-area {
        .notice-bottom-container {
          padding: 0 2rem;
        }
      }
    }
  }
}

// 모바일
@media #{$tablet_1024} {
  .menu-04 {
    .banner-container {
      .banner-title-box {
        .strong {
          margin: 0;
          .voltup-logo {
            display: block;
            margin-left: 0;
          }
        }
      }
    }
    .main-title-container {
      padding: 3.2rem 2rem 2rem;
    }
    .support-block-container {
      @include flex(column, flex-start, flex-start);
      padding-top: 0;
      .support-block-box {
        width: 100%;
        height: auto;
        padding: 1.4rem;
        border-radius: 1.2rem;
        &:not(:first-of-type) {
          margin-top: 1rem;
        }
        .img-box {
          width: 4.4rem;
        }
        .info-box {
          padding-left: 1rem;
        }
        .title-box {
          font-size: 1.4rem;
          line-height: 2rem;
        }
        .desc-box {
          margin-top: 0.2rem;
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
      }
    }
    .section-button-box {
      margin: 8rem 0;
    }
    .section-container {
      padding: 0;
    }
    .notice-container {
      .notice-area {
        padding: 0 0 8rem;
        .notice-list-container {
          .notice-list {
            margin-bottom: 2rem;
            &.active {
              .title-box {
                &::after {
                  top: 15px;
                  transform: rotate(180deg);
                }
              }
            }

            .content-box {
              .text-container {
                padding-top: 1rem;
                .text-area {
                  padding: 2rem;
                  border-radius: 0.8rem;
                  .text {
                    font-size: 1.2rem;
                    line-height: normal;
                  }
                }
              }
              .terms-table {
                margin: 2rem 0;
              }
            }
            .title-box {
              align-items: flex-start;
              padding: 1.6rem 4rem 1.6rem 1.2rem;
              font-size: 1.4rem;
              line-height: 2rem;
              border-radius: 8px;
              color: #666;
              .icon-notice {
                width: 1.6rem;
                height: 1.6rem;
                margin-right: 0.4rem;
              }
              &::after {
                top: 2.5rem;
                right: 1.2rem;
                width: 1.6rem;
                height: 1.6rem;
              }
            }
          }
        }
      }
    }
    .terms-table {
      flex-direction: column;
      border: 0;
    }
    .term-box {
      font-size: 1.2rem;
      border-radius: 2rem;
      border: 0.1rem solid #b4b4b4;
      & + .term-box {
        margin-top: 2rem;
      }
      .term-header {
        padding: 1rem;
      }
    }
    .term-content {
      padding: 2rem;
      &.long {
        min-height: 100%;
      }
    }
  }
}
