/* STEP08 */ 
$header: 80px;

.wrap_step_09 {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  .main {
    padding: $header 0 0 $lnb;
  }
  .content_container {
    overflow: auto;
    height: 100%;
  }
  .header_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: $header;
    padding: 0 20px;
    background-color: rgb(170, 194, 206);
    box-sizing: border-box;
    .header_area {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(center);
      @include align-items(center);
      height: 100%;
    }
    .header_title {
      @include font-style(80, 700);
      color: #000;
    }
  }
}
