/* STEP03 */ 
.wrap_step_03 {
  .content_left {
    width: 200px;
  }
  .content_right {
    width: calc(100% - 200px);
  }
  // Grid
  .content_grid {
    grid-template-columns: 200px auto; 
    .content_right {
      width: auto;
    }
  }
}

