/* STEP04 */ 
.wrap_step_04 {
 
  &_01 {
    .content_left {
      width: calc(100% - 200px);
    }
    .content_right {
      width: 200px;
    }
    // Grid
    .content_05 {
      grid-template-columns: auto 200px; 
      .content_left {
        width: auto;
      }
    }
  }
  &_02 {
    .content_box {
      width: calc(50%);
    }
  }
  .content_area {
    min-height: 200px;
  }
  // Inline-block
  .content_01 {
    font-size: 0;
    .content_box {
      display: inline-block;
      vertical-align : top;
    }
    
  }
  // Table
  .content_02 {
    display: table;
    table-layout: fixed;
    width: 100%;
    .content_box {
      display: table-cell;
    }
  }
  // Float
  .content_03 {
    overflow: hidden;
    .content_box {
      float: left;
    }
  }
  // Flex
  .content_04 {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(flex-start);
  }
  // Grid
  .content_05 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    .content_box {
      width: auto;
    }
  }
  // Position
  .content_06 {
    position: relative;
    .content_box {
      position: absolute;
      top: 0;
      
    }
    .content_left {
      left: 0;
    }
    .content_right {
      right: 0;
    }
  }
}

