/* STEP07 */ 
.wrap_step_07 {
  .content_area {
    min-height: 200px;
  }
  // Table
  .content_02 {
    .content_inner {
      display: table;
      table-layout: fixed;
      width: 100%;
      border-collapse: separate;
      border-spacing: 10px 0;
    }
    .content_box {
      display: table-cell;
      vertical-align: middle;
    }
  }
  // Flex
  .content_04 {
    .content_inner {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(flex-start);
      column-gap: 10px;
      .content_box {
        flex: 1;
      }
    }
  }
  // Grid
  .content_05 {
    .content_inner {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      gap: 10px;
    }
  }
}

