/* STEP05 */ 
.wrap_step_05 {
  .content_area {
    min-height: 200px;
  }
  .content_box:not(.content_center) {
    width: 200px;
  }
  .content_center {
    width: calc(100% - 400px); 
  }
  // Inline-block
  .content_01 {
    font-size: 0;
    .content_box {
      display: inline-block;
      vertical-align : top;
    }
  }
  // Table
  .content_02 {
    display: table;
    table-layout: fixed;
    width: 100%;
    .content_box {
      display: table-cell;
    }
  }
  // Float
  .content_03 {
    overflow: hidden;
    .content_box {
      float: left;
    }
  }
  // Flex
  .content_04 {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(flex-start);
  }
  // Grid
  .content_05 {
    display: grid;
    grid-template-columns: 200px auto 200px; 
    .content_box {
      width: auto;
    }
  }
  // Position
  .content_06 {
    position: relative;
    .content_box {
      position: absolute;
      top: 0;
      
    }
    .content_left {
      left: 0;
    }
    .content_center {
      left: 50%;
      transform: translateX(-50%);
    }
    .content_right {
      right: 0;
    }
  }
}

