/* STEP06 */ 
.wrap_step_06 {
  &_01 {
    // Inline-block
    .content_inline_block {
      .content_box {
        width: calc((100% - 20px) / 3);
        & + .content_box {
          margin-left: 10px;
        }
      }
    }
    // Table
    .content_table {
      .content_box {
        position: relative;
        & + .content_box {
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 10px;
            height: 100%;
            background-color: #000;
          }
          .content_text {
            margin-left: 10px;
          }
        }
      }
      
    }
    // Float
    .content_float {
      .content_box {
        width: calc((100% - 20px) / 3);
        & + .content_box {
          margin-left: 10px;
        }
      }
    }
    // Flex
    .content_flex {
      column-gap: 10px;
      .content_box {
        flex: 1;
      }
    }
    // Grid
    .content_grid {
      grid-template-columns: repeat(3, 1fr); 
      column-gap: 10px;
    }
    // Position
    .content_position {
      .content_box {
        width: calc((100% - 20px) / 3);
        & + .content_box {
          margin-left: 10px;
        }
      }
      .content_center {
        left: calc(50% - 10px);
        transform: translateX(-50%);
      }
    }
  }
  &_02 {
    // Inline-block
    .content_inline_block {
      .content_box {
        width: calc((100% - 6%) / 3);
        & + .content_box {
          margin-left: 3%;
        }
      }
    }
    // Table
    .content_table {
      .content_box {
        position: relative;
        & + .content_box {
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 9%;
            height: 100%;
            background-color: #000;
          }
          .content_text {
            margin-left: 9%;
          }
        }
      }
    }
    // Float
    .content_float {
      .content_box {
        width: calc((100% - 6%) / 3);
        & + .content_box {
          margin-left: 3%;
        }
      }
    }
    // Flex
    .content_flex {
      column-gap: 3%;
      .content_box {
        flex: 1;
      }
    }
    // Grid
    .content_grid {
      grid-template-columns: repeat(3, 1fr); 
      column-gap: 3%;
    }
    // Position
    .content_position {
      .content_box {
        width: calc((100% - 6%) / 3);
        & + .content_box {
          margin-left: 3%;
        }
      }
      .content_center {
        left: calc(50% - 3%);
        transform: translateX(-50%);
      }
    }
  } 
  &_03 {
    min-width: 900px;
    // Inline-block
    .content_inline_block {
      .content_box {
        width: 300px;
        & + .content_box {
          margin-left: calc((100% - 900px) / 2)
        }
      }
    }
    // Table
    .content_table {
      .content_box {
        position: relative;
        width: 300px;
        & + .content_box {
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 9%;
            height: 100%;
            background-color: #000;
          }
          .content_text {
            margin-left: calc((100% - 900px) / 2)
          }
        }
      }
    }
    // Float
    .content_float {
      .content_box {
        width: 300px;
        & + .content_box {
          margin-left: calc((100% - 900px) / 2)
        }
      }
    }
    // Flex
    .content_flex {
      @include justify-content(space-between);
      .content_box {
        width: 300px;
      }
    }
    // Grid
    .content_grid {
      grid-template-columns: repeat(3, 300px); 
      @include justify-content(space-between);
    }
    // Position
    .content_position {
      .content_box {
        width: 300px;
        & + .content_box {
          margin-left: 3%;
        }
      }
      .content_center {
        left: calc(50% - 3%);
        transform: translateX(-50%);
      }
    }
  } 
}

