<!-- prettier-ignore -->
<div class="card-benefit-box">
  <div class="card-thumnb-box">
    <img src="../../assets/images/sub_03/@@image.png" alt="@@cardTitle" />
  </div>
  <div class="card-info-box">
    <div class="card-info-top">
      <div class="card-title">@@cardTitle</div>
      @@if(cardTitleDesc) {<div class="card-title-desc">@@cardTitleDesc</div>}
    </div>
    <div class="card-info-bottom">
      <div class="card-info-limit">
        <span class="card-limit-label">@@limitLabel</span>
        <span>@@limitText</span>
      </div>
      <div class="card-info-detail">
        <span class="card-detail-label">@@detailLabel</span>
        <div class="card-info-detail-inner">@@for(var i = 0; i < cardDetailItem.length; i++){@@include('cardDetailItem.html', `+(JSON.stringify(cardDetailItem[i]))+`)}</div>
      </div>
    </div>
  </div>
</div>
