<div class="charging-case-container @@caseClass">
  <!-- prettier-ignore -->
  <div class="charging-case-area">@@for(var i = 0 ; i < caseItem.length; i++) {
    <div class="charging-case-box">
      <div class="case-thumb-box">
        <img src="../../assets/images/sub_02/`+caseItem[i].src+`" alt="`+caseItem[i].title+`" />
      </div>
      <div class="case-info-box">
        <span class="num">`+caseItem[i].num+`</span>
        <div class="case-title">`+caseItem[i].title+`</div>
      </div>
    </div>}
  </div>
</div>
