<div class="customer-support-area">
  <div class="support-thumb-box">
    <img src="../../assets/images/sub_01/@@image" alt="@@title" />
  </div>
  <div class="support-info-box">
    <div class="support-info-top">
      <div class="support-title">@@title</div>
      @@if(subTitle) {
      <div class="support-sub-title">@@subTitle</div>
      }
    </div>
    <div class="support-middle">
      <div class="support-desc">@@desc</div>
    </div>
    @@if(supportBottom) {
    <div class="support-bottom">
      <div class="develop-item-box">
        <div class="develop-item">
          <span class="label">PnC</span>
          <span>Plug and Charge</span>
        </div>
        <div class="develop-item">
          <span class="label">V2G</span>
          <span>Vehicle To Grid</span>
        </div>
        <div class="develop-item">
          <span class="label">OCPP</span>
          <span>Open Charge Point Protocol</span>
        </div>
        <div class="develop-item">
          <span class="label">DR</span>
          <span>Demand Response</span>
        </div>
        <div class="develop-item">
          <span class="label">LB</span>
          <span>Load Balancing</span>
        </div>
      </div>
    </div>
    }
  </div>
</div>
