<!-- Footer version 2-->
<div class="footer-container v2">
  <div class="footer-area">
    <div class="footer-top">
      <div class="left-box">
        <div class="left-top-box">
          <ul class="footer-list-box">
            <li class="footer-list strong">
              <button type="button" class="btn-footer-popup">개인정보처리방침</button>
              <div class="footer-popup-container">@@include("../component/privacyPopup.html")</div>
            </li>
            <li class="footer-list">
              <button type="button" class="btn-footer-popup">이용약관</button>
              <div class="footer-popup-container">@@include("../component/termsPopup.html")</div>
            </li>
          </ul>
        </div>
        <div class="left-bottom-box">
          <dl class="footer-info-list-box">
            <div class="footer-info-list">
              <dt>회사명</dt>
              <dd>주)엘지유플러스볼트업</dd>
            </div>
            <div class="footer-info-list">
              <dt>대표이사</dt>
              <dd>OOO</dd>
            </div>
            <div class="footer-info-list">
              <dt>대표전화</dt>
              <dd>1660-0365</dd>
            </div>
            <div class="footer-info-list">
              <dt>사업자등록번호</dt>
              <dd>OOO-OO-OOOOO</dd>
            </div>
            <div class="footer-info-list">
              <dt>주소</dt>
              <dd>서울특별시 강남구 테헤란로98길 11</dd>
            </div>
            <div class="footer-info-list">
              <dt>통신판매신고</dt>
              <dd>제 OOOO-서울강남-OOOOO호</dd>
            </div>
          </dl>
          <span>Copyright ⓒ LG Uplus Corp. All Rights Reserved.</span>
        </div>
      </div>
      <div class="right-box">
        <div class="info-box">
          <div class="info-left">
            <div class="icon-box"></div>
            <span class="title"><span class="strong">24시간</span>365일 고객센터</span>
          </div>
          <div class="info-right">
            <span class="contact call">전화문의<span class="info">1660-0365 (유료)</span></span>
            <span class="contact email">Email 문의<span class="info">voltup@lguplus.co.kr</span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-list-box">
        <li class="footer-list">
          <a href="https://ethics.lg.co.kr/realName/insertDetailForm.do" target="_blank">
            <img src="../../assets/images/footer_02.png" alt="정도경영 사이버신문고" />
            <span>정도경영 사이버신문고</span>
          </a>
        </li>
        <li class="footer-list">
          <a href="http://www.wiseuser.go.kr/" target="_blank">
            <img src="../../assets/images/footer_03.png" alt="방송통신 이용자 정보포털" />
            <span>방송통신 이용자 정보포털</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
@@include("../component/inquiryPopup.html")
