<!-- Header version 2 -->
<div class="header-container v2">
  <div class="header-area">
    <div class="left-box">
      <!-- Logo: Voltup -->
      <a href="../../index.html" class="logo-box" title="Voltup">
        <span class="voltup">
          <img src="../../assets/images/img_logo_header_lg_v2.svg" alt="LG U+ 볼트업" />
        </span>
      </a>
    </div>
    <!-- GNB -->
    <nav class="gnb">
      <div class="gnb-area">
        <ul class="gnb-box">
          <li class="gnb-list @@if(page==='sub01') {active}">
            <a href="../sub/sub01.html" class="gnb-link">
              <span>무료 설치 안내</span>
            </a>
          </li>
          <li class="gnb-list @@if(page==='sub02') {active}">
            <a href="../sub/sub03.html" class="gnb-link">
              <span>이용 방법</span>
            </a>
          </li>
          <li class="gnb-list @@if(page==='sub03') {active}">
            <a href="../sub/sub02.html" class="gnb-link">
              <span>요금 및 할인</span>
            </a>
          </li>
          <li class="gnb-list @@if(page==='sub04') {active}">
            <a href="../sub/sub04.html" class="gnb-link">
              <span>고객 지원</span>
            </a>
          </li>
        </ul>
        <div class="mobile-uplus-box">
          <a href="https://www.lguplus.com/" target="_blank" class="mobile-uplus-link">
            <span>
              <img src="../../assets/images/m_img_logo_header_lg.svg" alt="" />
            </span>
          </a>
        </div>
      </div>
    </nav>
    <div class="right-box">
      <!-- Mobile -->
      <a class="hamburger-box">
        <button type="button" class="btn btn-menu-open"></button>
      </a>
    </div>
  </div>
</div>
