<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT" />
  <meta http-equiv="Expires" content="-1" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />

  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.ico" />

  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon-16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon-32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon-96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon-128.png" sizes="128x128" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon-195.png" sizes="195x195" />
  <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon-228.png" sizes="228x228" />

  <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon-36.png" sizes="36x36" />
  <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon-48.png" sizes="48x48" />
  <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon-72.png" sizes="72x72" />
  <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon-96.png" sizes="96x96" />
  <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon-144.png" sizes="144x144" />
  <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon/favicon-192.png" sizes="192x192" />

  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-57.png" sizes="57x57" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-60.png" sizes="60x60" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-72.png" sizes="72x72" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-76.png" sizes="76x76" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-114.png" sizes="114x114" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-120.png" sizes="120x120" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-144.png" sizes="144x144" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-152.png" sizes="152x152" />
  <link rel="apple-touch-icon" type="image/png" href="../../assets/images/favicon/favicon-180.png" sizes="180x180" />

  <link rel="stylesheet" href="../../assets/css/style.css?time=20231215" />
  <script src="../../assets/js/jquery-3.6.0.min.js?time=20231215"></script>
  <script src="../../assets/js/form-submission-handler.js?time=20231215"></script>
  <script src="../../assets/js/common.js?time=20231215"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KL8YFHPVRT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-KL8YFHPVRT');
  </script>

  <title>@@title</title>
</head>
