/*=== basic === */
.tableContainer{
  &.termsType {
    margin-bottom: 1rem; 
    padding-top: 1rem; 
    td
    {
      border-bottom: 1px solid #E9E9E9;
      border-right: 1px solid #E9E9E9;
      font-size: 1.3rem; 
      vertical-align:middle;
      &:last-child{
        border-right: none !important; 
      }
    }
    
    th {
      text-align: center; 
      border-bottom: 1px solid #E9E9E9;
    }
    &.special-table{
      td{
        padding: 0.4rem 2rem; 
        vertical-align:middle;
      }
    }
  }
}
.numberList {
  list-style: none;
  counter-reset: normalNumber;
  li {
    counter-increment: normalNumber;
    &::before {
      content: counter(normalNumber) ". ";
    }
    &.notNum {
      counter-increment: none !important; 
      &::before {
        content : '' !important;
      }
    }
  }
}
.termsContainer,
.termsBoardContainer {
  @include font(1.4rem, normal, $color-gray-04, 1.9);
  letter-spacing: -0.3px;

  strong {
    font-weight: bold;
  }

  .termsInner {
    margin-bottom: 4.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .termsContent {
    margin-bottom: 3rem;
  }

  // h2,
  .termsMainTitle {
    display: block;
    margin-bottom: 3.6rem;
    @include font(1.8rem, bold, $color-gray-01, 1.9);
  }

  .termsSubTitle {
    display: block;
    @include font(1.4rem, bold, $primary, 1.9);
  }

  // h3,
  .termsSubTitleLine {
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 2.4rem;
    border-bottom: 1px solid $primary;
    @include font(1.4rem, bold, $primary, 1.9);
  }

  // h4,
  .infoTitle {
    display: block;
    @include font(1.4rem, bold, $color-gray-01, 1.9);
  }

  .textColorGray {
    @include font(1.3rem, normal, $secondary, 1.9);
  }

  .termsGrayBox {
    padding: 2rem 2.4rem;
    margin: 1rem 0 2rem;
    background-color: $bgcolor-gray-03;
  }

  .termsContent {
    .lineHeightRow {
      line-height: 1.3;
    }
  }
}
/* //---- 약관 레이아웃 ----// */

/* 약관 에디터 가이드 */
.detailContainer {
  &.boderEditText {
    .termsContainer {
      .highTextArea {
        margin: 0 0 -0.8rem;
      }
    }
  }
}
.termsGuideWrap {
  @include flex(row, flex-start, flex-start);
  padding: 3rem 2rem;
  margin-bottom: 2.6rem;
  background-color: $bgcolor-gray-01;
  border-radius: 0.4rem;
  .termsGuide {
    position: relative;
    margin-right: 14.4rem;
    &:after {
      content: '';
      position: absolute;
      top: 0.7rem;
      bottom: 0.7rem;
      right: -7.1rem;
      z-index: 1;
      border-right: 1px solid $border-color-01;
    }
    .title {
      margin-bottom: 2rem;
      @include font(1.3rem, bold, $black, 1.4);
      &:before {
        content: '';
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        margin: -0.4rem 0.8rem 0;
        background: image('common/icon_information.svg') no-repeat center;
        vertical-align: middle;
      }
    }
  }
  .title {
    display: block;
  }
  .option {
    margin: 0 1rem;
    & > li {
      margin-bottom: 0.6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .dotted {
      color: $black;
    }
  }
  .termsExample {
    .title {
      margin-bottom: 1.5rem;
      @include font(1.2rem, normal, $black, 1.4);
    }
  }
  .preview {
    @include font(1.2rem, normal, $color-gray-01, 1.4);
    [class*=font] {
      margin-bottom: 1.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .font18 {
      font-size: 1.8rem;
      font-weight: bold;
    }
    .font16 {
      font-size: 1.6rem;
    }
    .font14 {
      font-size: 1.4rem;
    }
    .font12 {
      font-size: 1.2rem;
    }
  }
}


.commonCoverWait {
  @include flex(column, flex-end, center);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 7rem 0;
  background-color: rgba($white, 0.7);
  border-radius: 0.8rem;
  .noticeText {
    @include font(1.3rem, normal, $primary, 1.4);
    text-align: center;
  }
}
