/*=== 내 프로필 === */
[class$=MyProfileDetail] {
  .contentArea {
    overflow: hidden;
    border: 1px solid $border-color-02;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 1px 0px rgba($black, 0.04), 0px 2px 6px 0px rgba($black, 0.04);
  }
  .myProfileContainer,
  .detailContainer {
    margin-bottom: 0.8rem;
    padding: 3rem;
    border: none;
    border-radius: 0;
  }
  .btnUnderLine {
    margin-left: 2.4rem;
  }
  .contentBottom {
    margin-top: 1.4rem;
    padding-top: 0;
    .buttonArea {
      margin: 0;
    }
    .btnUnderLine {
      font-weight: bold;
    }
  }
}

.myProfileContainer {
  @include flex(row, space-between, center);
  .myInfoWrap {
    @include flex(row, flex-start, center);
  }
  .name {
    margin-right: 3rem;
    @include font(2.4rem, bold, $color-gray-01);
    > span {
      font-weight: normal;
    }
  }
  .company {
    @include font(1.6rem, normal, $color-gray-01, 1.5);
    strong {
      &::after {
        content: '';
        display: inline-block;
        width: 0.1rem;
        height: 1.6rem;
        margin: 0 0.8rem;
        background-color: $border-color-02;
        vertical-align: middle;
      }
    }
  }
  .position {
    font-weight: bold;
  }
  .profileRight {
    @include flex(row, flex-start, center);
    .buttonArea {
      justify-content: flex-start;
    }
  }
  .dateAlarm {
    @include flex(row, flex-start, center);
    margin-right: 1.2rem;
    @include font(1.4rem, normal, $secondary, 1.4);
    > span {
      margin: 0 0.2rem;
      font-weight: bold;
    }
    .required {
      &::before {
        content: '';
        display: inline-block;
        width: 1.3rem;
        height: 1.3rem;
        margin-top: 0.3rem;
        margin-right: 0.4rem;
        background: image('common/icon_error.svg') no-repeat center/cover;
      }
    }
  }
}