/*=== error page common === */
.commonErrorWrap {
  padding-top: 0;
  background-color: $white;
}
.logoHeader {
  @include flex(row, center, center);
  height: 8rem;
  background-color: $white;
  border-bottom: 1px solid $color-gray-02;
}
.footerCopyright {
  @include flex(row, center, center);
  height: 5.7rem;
  @include font(1.2rem, normal, $color-gray-03, 1.4);
}
// ------- error ------- //
.errorConatiner {
  @include flex(column, flex-start, center);
  margin: 13rem auto 21.5rem;
  padding: 0 2rem;
  @include font(1.4rem, normal, $color-gray-04, 1.4);
  word-break: keep-all;
  .errorTop {
    width: 100%;
    height: 100%;
    margin-bottom: 1.2rem;
    text-align: center;
    .imgWrap {
      width: 100%;
      max-width: 60rem;
      margin-bottom: 4rem;
      img {
        display: block;
      }
    }
  }
  .errorMiddle, 
  .errorBottom {
    width: 100%;
    max-width: 54rem;
  }
  .errorMiddle {
    margin-bottom: 4rem;
    text-align: center;
  }
  .errorTitle {
    @include font(4rem, bold, $color-gray-01, 1.4);
    strong {
      color: $primary;
    }
  }
  .errorBgGray {
    padding: 2.5rem 3.4rem;
    background-color: $bgcolor-gray-03;
    border-radius: 1rem;
  }
  .noticeDl {
    margin-bottom: 1.2rem;
    @include flex(row, flex-start, center);
    dt {
      flex-basis: 6.5rem;
      padding: 0 0.7rem;
      margin-right: 1.5rem;
      background-color: $primary;
      border-radius: 0.3rem;
      @include font(1.3rem, normal, $white, 2.3rem);
      white-space: nowrap;
    }
    dd {
      @include font(1.4rem, normal, $color-gray-01, 1.4);
    }
  }
  .buttonArea {
    margin: 0 -0.5rem;
    .btn {
      flex: 1;
      max-width: 18rem;
      height: 5.7rem;
      margin: 0 0.5rem;
    }
  }
}