/*=== FORM === */
legend, caption {
  @include ir;
}
/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    -webkit-border-radius: 0;
    font-family:  "Roboto", "Noto Sans KR", "Sans-serif";
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Select box 스타일 초기화 */ 
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 4rem;
  padding-right: 3rem;
  padding-left: 1.6rem;
  background: image('common/drop_down_btn.svg') no-repeat right 1.6rem center $white;
  border: 1px solid $border-color-03;
  border-radius: 0.4rem;
  @include font(1.4rem, normal, $color-gray-01);
  &:focus {
    outline: none;
    border-color: $primary;
  }
}
.select {
  flex-shrink: 0;
  min-width: 12rem;
  max-width: 17rem;
  &.typeRow {
    min-width: 10.8rem;
    width: 10.8rem;
  }
}
.maxWidthType01 {
  width: 100%;
  max-width: 32.2rem;
}
.maxWidthType02 {
  width: 100%;
  max-width: 70rem;
}

/* IE 에서 Select box 화살표 제거 */ 
select::-ms-expand { display: none; }

/* Input */
input[type=text],
input[type=number],
input[type=tel],
input[type=email],
input[type=password],
input[type=date] {
  width: 100%;
  height: 4rem;
  padding: 0 1.6rem;
  margin: 0;
  outline-offset: 0;
  box-sizing: border-box;
  border: 1px solid $border-color-03;
  border-radius: 4px;
  font-family:  "Noto Sans KR", "Sans-serif";
  @include font(1.4rem, normal, $color-gray-01);
  background-color: $white;
  &:focus {
    outline: none;
    border-color: $primary;
  }
  &::placeholder {
    color: $placeholder;
  }
  &:read-only, &.readonly,
  &:disabled, &.disabled {
    background-color: $bgcolor-gray-02;
    color: $secondary;
  }
}
input[type="date"] {
  width: auto;
  &::-webkit-calendar-picker-indicator {
    opacity: 0.6;
  }
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
  opacity: 0;
}

/* textarea */
textarea {
  display: block;
  width: 100%;
  height: 17.8rem;
  resize: none;
  padding: 1.6rem;
  border: 1px solid $border-color-01;
  border-radius: 0.4rem;
  box-sizing: border-box;
  font-family:  "Noto Sans KR", "Sans-serif";
  @include font(1.4rem, normal, $color-gray-01, 1.4);
  &:disabled {
    background-color: $bgcolor-gray-02;
  }
  &:read-only {
    border: none;
  }
  &.highLarge {
    height: 54rem;
  }
}
.textarea {
  .textCounter {
    z-index: 1;
    margin-top: 0.6rem;
    @include font(1.2rem, normal, $secondary, 1.4);
    text-align: right;
    strong {
      color: $primary;
      font-weight: bold;
    }
  }
}
.textareaReview {
  overflow: hidden;
  border: 1px solid $border-color-01;
  border-radius: 0.4rem;
  @include font(1.4rem, normal, $black, 1.4);
  .reviewInner {
    width: 100%;
    height: 21rem;
    padding: 1.6rem 2rem;
    overflow-y: auto;
  }
}
.fieldTextarea {
  textarea {
    margin-right: 0;
  }
}
.tableContainer {
  textarea {
    height: 19rem;
  }
}
/* Error */
.error {
  .description {
    color: rgb(10, 8, 8);
  }
}

/* Switch */
.switch {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    // &:focus {}
    &:disabled {
      & + .switch-slider {
        opacity: 0.5;
      }
    }
    &:checked {
      + .switch-slider {
        &:after {
          background-color: $primary;
          -webkit-transform: translateX(2.7rem);
          -ms-transform: translateX(2.7rem);
          transform: translateX(2.7rem);
        }
      }
    }
  }
  .switch-slider {
    display: block;
    position: relative;
    z-index: 1;
    width: 4rem;
    height: .6rem;
    border-radius: 2rem;
    background-color: $bgcolor-gray-03;
    box-shadow: inset 1px 0.5px 1.5px rgba(0, 0, 0, 0.1);
    &:before, &:after {
      content: '';
      position: absolute;
      transition: 0.3s all;
    }
    // dim
    &:before {
      display: none;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      border-radius: 2rem;
      background-color: rgba($black, 0.1);
    }
    &:after {
      top: -0.4rem;
      left: -1px;
      z-index: 0;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 2rem;
      background-color: $secondary;
      box-sizing: border-box;
    }
  }
}

/* Checkbox */
.checkbox {
  position: relative;
  @include font(1.4rem, normal, $color-gray-01);
  .checkboxLabel {
    @include flex(row, flex-start, center);
    .checkIcon {
      position: relative;
      margin-right: 0.7rem;
      &:before {
        content: '';
        display: block;
        width: 2.2rem;
        height: 2.2rem;
        border: 1px solid $primary;
        background-color: $white;
        border-radius: 0.3rem;
        box-sizing: border-box;
      }
      &:after {
        content: '';
        position: absolute;
        display: none;
        top: .6rem;
        left: .4rem;
        z-index: 1;
        width: 1.4rem;
        height: 1rem;
        background: image('common/icon_check_chk.svg') no-repeat center;
      }
      &:only-child {
        &:before {
          margin-right: 0;
        }
      }
    }
    span {
      & + .checkIcon {
        margin-left: 1rem;
      }
    }
  }
  input {
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    &:focus {
      & + .checkboxLabel {
        .checkIcon {
          &:before {
            border-width: 3px;
          }
        }
      }
    }
    // checked
    &:checked {
      & + .checkboxLabel {
        .checkIcon {
          &:before {
            background-color: $primary;
          }
          &:after {
            display: block;
          }
        }
      }
      &:disabled {
        & + .checkboxLabel {
          .checkIcon {
            &:before {
              border: 1px solid $primary;
              background-color: $color-disabled-01;
            }
          }
        }
      }
    }
    &:disabled {
      & + .checkboxLabel {
        .checkIcon {
          &:before {
            border: 1px solid $border-color-01;
            background-color: $bgcolor-gray-02;
          }
        }
      }
    }
  }
}

/* Radio */
.radio {
  position: relative;
  .radioLabel {
    @include flex(row, flex-start, center);
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
      border: 1px solid $border-color-01;
      border-radius: 2rem;
    }
    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 4px;
      z-index: 1;
      width: 1.4rem;
      height: 1.4rem;
      margin-top: -.7rem;
      background-color: $primary;
      border-radius: 1.4rem;
      transition: 0.3s all;
    }
  }
  input {
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    // checked
    &:checked {
      // normal
      & + .radioLabel {
        &:after {
          opacity: 1;
        }
      }
    }
    &:disabled {
      & + .radioLabel {
        opacity: 0.7;
      }
    }
  }
  &.center {
    margin-left: 0.8rem;
    .radioLabel {
      &:before {
        margin-right: 0;
      }
    }
  }
}

/* Field */
.field {
  .fieldLabel {
    @include font(1.4rem, 400, $black, 2.5rem);
  }
  &.spaceBetween {
    justify-content: space-between;
  }
  .description {
    margin-top: 0.8rem;
    @include font(1.4rem, 400, $primary, 1.3);
  }
}
.fieldForm {
  @include flex(row, flex-start, center);
  @include font(1.6rem, normal, $color-gray-01);
  &.fullSize {
    .select {
      flex: 1;
    }
  }
  &.block {
    display: block;
    &:only-child:first-child  {
      margin-top: -1rem;
    }
    .select,
    .input {
      margin: 1rem 0;
    }
    .select {
      max-width: 100%;
    }
  }
  &.alignCenter {
    justify-content: center;
  }
  & > * {
    margin-right: 0.8rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .radio,
  .checkbox {
    margin-right: 4rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .fieldInput {
    flex: 1;
  }
  .input {
    flex: 1;
  }
  ~ .fieldForm {
    margin-top: 0.8rem;
  }
  .addExplain {
    margin-top: 0;
    margin-left: 3rem;
  }
}
/* Field - Input */
.fieldInput {
  .fieldForm {
    justify-content: space-between;
    .input {
      flex: 1;
    }
  }
  ~.fieldInput {
    margin-top: 0.8rem;
  }
  .alignCenter {
    input {
      text-align: center;
    }
  }
  &.flexRow {
    @include flex(row, flex-start, center);
    .input {
      margin-right: 1.4rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
/* Field - switch */
.fieldSwitch {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  .fieldLabel {
    max-width: 50%;
  }
  .fieldForm {
    justify-content: flex-end;
  }
}
/* Field - checkbox */
.fieldCheckbox {
  .fieldForm {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    .checkbox {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 5rem;
      &:only-child {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        .checkboxLabel {
          &:before {
            margin-right: 0;
          }
        }
      }
      &:only-child, &:last-child {
        margin-right: 0;
      }
    }
  }
  &.spaceBetween {
    @include flex(row, space-between, center);
  }
}
/* Field - radio */
.fieldRadio {
  .fieldForm {
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    .radio {
      &:only-child, &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Field space */
.fieldNear {
  &.fieldCheckbox {
    .fieldForm {
      .checkbox {
        margin-right: 2.4rem;
      }
    }
  }
}

/* Button */
.buttonArea {
  @include flex(row, center, center);
  margin: 0 -0.3rem;
  // align
  &.btnCenter {
    .btn {
      flex: initial;
    }
  }
  &.btnLeft {
    justify-content: flex-start;
  }
  &.btnRight {
    justify-content: flex-end;
  }
  .btn {
    @include flex(row, center, center);
    min-width: 7rem;
    margin: 0 0.3rem;
  }
  .btnRefresh {
    @include flex(row, flex-start, center);
    margin-top: 0.8rem;
    @include font(1.4rem, normal, $primary);
    &::before {
      content: '';
      width: 2rem;
      height: 2rem;
      margin-right: 0.8rem;
      background: image('common/icon_refresh.svg') no-repeat center;
    }
  }
  
  //keyword style
  &.keywordArea {
    @include flex (row, flex-start, flex-start);
    width: fit-content;
    margin-top: 0.8rem;
    margin-left: 0.1rem;
    .btnKeyword {
      @include flex (row, space-between, center);
      position: relative;
      min-width: 6.6rem;
      height: 2.8rem;
      margin: 0;
      padding-right: 3rem;
      @include font (1.4rem, 400, $primary, 1.9rem);
      &:not(:last-of-type) {
        margin-right: 0.8rem;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 1rem;
        width: 0.9rem;
        height: 0.9rem;
        background: image('keywordclose.svg') no-repeat center/0.9rem;
        transform: translateY(-50%);
      }
    }
  }

  // 버튼 span 폰트 타입
  .thin {
    font-weight: 400;
    &Small {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}

.btnUnderLine {
  margin-left: 1rem;
  &:only-child {
    margin-left: 0;
  }
  &.colorRed {
    border-color: $color-red-01;
  }
}
.btn {
  @include flex(row, center, center);
  position: relative;
  display: block;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 0.4rem;
  border: 1px solid $primary;
  @include font(1.4rem, bold, $primary, 1.4);
  background-color: $white;
  white-space: nowrap;
  &:hover, &:focus-visible {
    background-color: rgba($primary, 0.1);
  }
  &:active {
    background-color: rgba($primary, 0.4);
  }
  &:after {
    content: '';
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 4px solid $primary;
  }
  &:disabled {
    opacity: .5;
    cursor: default;
    &:hover, &:focus-visible {
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
    &.btnDim {
      opacity: 1;
    }
  }

  &[class*=icon-] {
    & > span {
      @include no-ir;
    }
  }
  &.btnPrimary {
    background-color: $primary;
    color: $white;
    &:hover {
      background-color: $color-cyan-02;
      &::after {
        display: block;
      }
    }
    &:focus-visible {
      color: rgba($white, 0.6);
      background-color: $color-cyan-02;
    }
    &:disabled {
      opacity: .5;
      border: none;
      cursor: default;
      &:hover, &:focus-visible {
        background-color: $primary;
      }
      &:active {
        background-color: $primary;
      }
      &::after {
        display: none;
      }
    }
  }

  &.btnSecondary {
    background-color: $secondary;
    border: 1px solid $secondary;
    color: $white;
    &:hover {
      background-color: $color-gray-04;
      &::after {
        display: block;
        border-color: $black;
      }
    }
    &:focus-visible {
      color: rgba($white, 0.5);
      background-color: $color-gray-04;
    }
    &:disabled {
      opacity: .5;
      border: none;
      cursor: default;
      &:hover, &:focus-visible {
        background-color: $secondary;
      }
      &:active {
        background-color: $secondary;
      }
      &::after {
        display: none;
      }
    }
  }
  
  &.btnBlack {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
    &:hover {
      background-color: $color-gray-04;
    }
    &:focus-visible {
      color: rgba($white, 0.5);
      background-color: $color-gray-04;
    }
  }
  
  &.btnWhite {
    background-color: $white;
    border: 1px solid $border-color-02;
    color: $black;
  }
  
  &.btnLineGray {
    border-color: $secondary;
    color: $secondary;
    &:hover, &:focus-visible {
      background-color: rgba($secondary, 0.1);
    }
    &:active {
      background-color: rgba($secondary, 0.4);
    }
    &:disabled {
      opacity: .5;
      cursor: default;
      &:hover, &:focus-visible {
        background-color: transparent;
      }
      &:active {
        background-color: transparent;
      }
    }
  }

  &.btnDim {
    background-color: $color-disabled-01;
    color: $color-disabled-02;
    &:hover, &:active, &:focus-visible {
      background-color: $color-disabled-01;
      color: $color-disabled-02;
    }
  }
}
/* 필수 */
.required {
  &:before {
    content: '*';
    color: $primary;
  }
  span {
    @include ir;
  }
} 
/* 인풋 하단 추가설명 */
.addExplain {
  margin-top: 0.8rem;
  @include font(1.4rem, normal, $primary, 1.5);
  &.smaller {
    font-size: 1.3rem;
  }
}


/* Field - file */
.fieldForm {
  .file {
    position: relative;
    width: 100%;
    height: 4rem;
    input[type=file] {
      position: absolute;
      text-indent: -73px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      outline-offset: 0;
      box-sizing: border-box;
      border: 1px solid $border-color-03;
      border-radius: 4px;
      background-color: $white;
      line-height: 4rem;
      &:focus {
        outline: none;
        border-color: $primary;
      }
    }
  }
}
@media screen and (min-width:0\0){
  .fieldForm {
    .file {
      input[type=file] {
        text-indent: 0;
      }
    }
  }
}
/*  Field - wrap */
.fieldWrap {
  width: 100%;
  input[type=text], input[type=number], input[type=tel], input[type=email], input[type=password] {
    height: 5.5rem;
  }
  .select {
    &:only-child {
      width: 100%;
      max-width: 100%;
    }
    select {
      height: 5.5rem;
    }
  }
  //legend
  .fieldTitle {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $black;
    @include font(1.6rem, bold, $black, 1.4);
    text-align: center;
  }
  /* 찾기 */
  .fieldMiddle, .feildMiddle {
    margin-bottom: 7rem;
  }
  .fieldWhiteBox {
    @include flex(column, center, flex-start);
    padding: 1.2rem 2rem;
    margin-bottom: 3rem;
    background-color: $bgcolor-gray-03;
    box-sizing: border-box;
    &:only-child {
      min-height: 13.2rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .field {
    margin-bottom: 3rem;
    .fieldLabel {
      display: block;
      margin-bottom: 0.8rem;
      @include font(1.7rem, 500, $black, 1.4);
    }
    &.fieldCheckbox {
      label {
        @include font(1.4rem, 400, $black, 1.4);
      }
    }
  }
  .fieldInput {
    .fieldForm {
      justify-content: space-between;
      margin-bottom: 1.6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .input {
      width: 100%;
    }
    .btn {
      min-width: 11.8rem;
    }
  }
  .dlFlex {
    @include flex(row, flex-start, center);
    @include font(1.6rem, bold, $black, 1.4);
    dt {
      margin-right: 3rem;
      font-weight: normal;
    }
  }
  .btn {
    min-width: 15rem;
    height: 5.5rem;
    font-weight: normal;
    font-size: 1.6rem;
  }
  //약관
  .fieldTerms {
    .termsContainer {
      overflow-y: auto;
      height: 25.6rem;
      padding: 1.6rem 2rem;
      margin-bottom: 1.6rem;
      background-color: $bgcolor-gray-03;
      @include font(1.4rem, normal, $color-gray-04, 2);
    }
    .checkbox {
      .checkboxLabel {
        justify-content: flex-end;
        @include font(1.4rem, normal, $color-gray-01, 1.4);
      }
    }
  }
  // table
  .tableContainer {
    margin-top: 8rem;
    &:last-child {
      margin-top: 0;
      margin-bottom: 3.7rem;
    }
  }
}
/* 사업자 로고 */
.brandLogo {
  width: 100%;
  max-width: 40rem;
  img {
    display: inline-block;
    width: 100%;
    height: auto;
    line-height: 0;
  }
}
/* 요금 합계 */
.fieldTotal {
  span {
    display: inline-block;
    &::after {
      content: '';
      display: inline-block;
      width: 0.1rem;
      height: 1.9rem;
      margin: 0 3rem;
      background-color: $bgcolor-gray-06;
      vertical-align: middle;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  .promotion {
    color: $color-gray-04;
    font-weight: bold;
  }
}
/* Field - fieldUpload */
.fieldUpload {
  width: 40.2rem;
  .brandLogoWrap, .imageWrap {
    overflow: auto;
    position: relative;
    @include flex(row, center, center);
    width: 100%;
    height: 20.2rem;
    line-height: 0;
    margin-bottom: 1.6rem;
    border: 1px solid $border-color-03;
    border-radius: 0.4rem;
  }
  .brandLogo, .image {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .btnLogoDelete, .imageDelete {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    width: 2rem;
    height: 2rem;
    background: image('common/icon_logodelete.svg') no-repeat center;
    > span {
      @include ir;
    }
  }
  .buttonArea {
    .btn {
      margin: 0;
    }
  }
  &.splashType,
  &.bannerType {
    width: 32.2rem;
    .fieldForm {
      width: 100%;
    }
    .imageWrap {
      text-align: center;
    }
    img {
      height: auto;
      max-height: 100%;
      margin: 0 auto;
    }
    .btn {
      min-width: 7.1rem;
    }
  }
  &.splashType {
    .imageWrap {
      height: 18rem;
    }
    img {
      max-width: 7.6rem;
    }
  }
  &.bannerType {
    .imageWrap {
      height: 16.6rem;
    }
    img {
      max-width: 17rem;
    }
  }
}


/* table */
.tableContainer {
  border-top: 1px solid $border-color-01;
  caption {
    @include ir;
  }
  table {
    table-layout: fixed;
    width: 100%;
    tr {
      border-bottom: 1px solid $border-color-04;
    }
    th, td {
      height: 5.6rem;
      vertical-align: middle;
      word-break: break-all;
      word-wrap:break-word;
      &.alignCenter {
        text-align: center;
      }
    }
    th {
      padding: 1.6rem 1rem 1.6rem 1.6rem;
      background-color: $bgcolor-gray-03;
      @include font(1.4rem, bold, $color-gray-04, 1.4);
      text-align: left;
      letter-spacing: -1px;
    }
    td {
      padding: 1.6rem;
      @include font(1.4rem, normal, $color-gray-01, 1.4);
    }
    thead {
      th {
        padding: 1.6rem;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
  &.alignCenter {
    table {
      th, td {
        text-align: center;
      }
    }
  }
  &.alignLeft {
    table {
      th, td {
        text-align: left;
      }
    }
  }
  &[class*=sortmode] {
    td {
      span {
        display: none;
      }
      .iconBgDrag {
        display: block;
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
        background: image('common/icon_reorder.svg') no-repeat center;
      }
    }
  }
  .iconBgDrag {
    display: none;
  }
  .ui-sortable-handle {
    background-color: $white;
  }

  //수정
  .input {
    input {
      min-width: 4rem;
      padding: 0 0.7rem;
    }
  }
  .btn {
    min-width: 12rem;
    &:only-child {
      margin: 0 auto;
    }
  }

  a {
    &.colorRed {
      text-decoration: underline;
    }
  }

  th, td {
    position: relative;
    .checkbox {
      &:only-child {
        .checkboxLabel {
          span {
            & + .checkIcon {
              margin: 0 auto;
            }
          }
        }
      }
    }
  } 

  textarea {
    padding: 1rem 0.7rem;
    &:read-only {
      border: none;
      padding: 0;
    }
  }

  .iconBgNew {
    position: static;
    display: inline-block;
    margin-right: -1rem;
    vertical-align: top;
  }
}

/* Datepicter */

/* 검색어 */
.popup {
  .searchInput {
    .input {
      input {
        height: 4rem;
        padding-left: 1.6rem;
        padding-right: 5rem;
      }
    }
  }
}

.searchInput {
  position: relative;
  min-width: 22.7rem;
  .input {
    input {
      padding-right: 5.5rem;
    }
  }
  .btnSearch {
    position: absolute;
    z-index: 1;
    display: none;
    right: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    background: image('common/icon_search_cyan.svg') no-repeat center / 2rem;
    & > span {
      @include ir;
    }
  }
  .btnRemove {
    position: absolute;
    z-index: 2;
    display: none;
    right: 3rem;
    top: 50%;
    width: 4rem;
    height: 100%;
    background: image('common/icon_search_remove.svg') no-repeat center;
    transform: translateY(-50%);
    & > span {
      @include ir;
    }
  }
  .show {
    display: block;
  }
}

/* Tab */
.tabList {
  @include flex(row, flex-start, center);
  // overflow: hidden; 선택 된 탭 bottom border 없어야 함으로 삭제
  // overflow-x: auto; 선택 된 탭 bottom border 없어야 함으로 삭제
  height: 5.4rem;
  background-color: $bgcolor-gray-02;
  border-bottom: 1px solid $border-color-02;
  border-radius: 0.8rem 0.8rem 0 0;
  .tabButton {
    @include flex(row, center, center);
    position: relative;
    min-width: 20.2rem;
    height: 100%;
    padding: 0 1.2rem;
    border-right: 1px solid $border-color-02;
    @include font(1.6rem, normal, $secondary);
    &:first-child {
        border-radius: 0.8rem 0 0 0;
    }
    &[aria-selected="true"], &.active {
      background-color: $white;
      font-weight: bold;
      color: $primary;
      &:after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid $white;
      }
    }
  }
}
.tabContainer {
  margin-top: 3rem;
  .tabContent {
    display: none;
    &.show { //&[tabindex="0"]
      display: block;
    }
  }
}


/* pagenation */
.pagenation {
  @include flex(row, center, center);
  width: 100%;
  // max-width: 67.8rem;
  margin: 0 auto;
  .numPageBtn {
    @include flex(row, center, center);
    width: 4rem;
    height: 4rem;
    margin: 0 0.2rem;
    border-radius: 5rem;
    outline: none;
    border: 1px solid transparent;
    @include font(1.3rem, bold, $color-gray-04);
    &.current {
      color: $primary;
      text-decoration: underline;
    }
    &:hover, &:focus {
      border: 1px solid $primary;
      color: $primary;
      &.current {
        text-decoration: none;
      }
    }
    &:active {
      background-color: $primary;
      color: $white;
      &.current {
        text-decoration: none;
      }
    }
  }
  .prevPageBtn, .nextPageBtn {
    overflow: hidden;
    width: 3.6rem;
    height: 3.6rem;
    margin: 0;
    margin-right: 1.2rem;
    font-size: 0;
    border-radius: 50%;
    background: image('common/arrow_pagenation.svg') no-repeat center;
    &:hover, &:focus {
      background: image('common/arrow_pagenation_hover.svg') no-repeat center;
    }
    &:active {
      background: image('common/arrow_pagenation_press.svg') no-repeat center;
    }
    &:disabled {
      background: image('common/arrow_pagenation.svg') no-repeat center;
      &:hover, &:active {
        background: image('common/arrow_pagenation.svg') no-repeat center;
      }
    }
  }
  .nextPageBtn {
    transform: rotate(180deg) translateX(-1.2rem);
  }
}

/* filterContainer */
.filterContainer {
  margin-bottom: 1.2rem;
  legend {
    @include ir;
  }
  .filterBottom {
    margin-top: 2.6rem;
    .buttonArea {
      .btn {
        flex: 0;
        min-width: 12rem;
      }
    }
  }
  .input {
    flex: 1;
  }
  .select {
    &:only-child {
      width: 100%;
    }
  }
  .sortButtons {
    .btn {
      min-width: initial;
    }
  }
}

.resultContainer,
.detailContainer {
  // nodata
  .nodataContainer {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -1.7rem;
      left: -0.5rem;
      right: -0.5rem;
      z-index: 1;
      border-bottom: 1px solid $white;
    }
  }
}

/* resultContainer */
.resultContainer {
  // .contents {
  //   margin-bottom: 5rem;
  //   &:last-child {
  //     margin-bottom: 3.7rem;
  //   }
  // }
  .tableContainer {
    overflow-x: auto;
    &.visible {
      overflow: visible;
    }
    table {
      th, td {
        text-align: center;
      }
      
      td {
        padding: 1.6rem 0.5rem;
      }
    }
    .select {
      margin: 0 auto;
      &:only-child {
        max-width: 12rem;
      }
    }
  }
  .addExplain {
    text-align: left;
  }
  // nodata
  .nodataContainer {
    min-height: 35.7rem;
  }
}

/* 상세 화면 common detailContainer */
.detailContainer {
  /* 등록 화면 */
  &.boderEditText {
    .highTextArea {
      margin: -0.8rem 0;
      padding: 0.8rem;
      border: 1px solid $border-color-03;
      border-radius: 0.4rem;
    }
    .editGuideContainer {
      margin-top: -0.8rem;
      .highTextArea {
        margin-top: 0;
      }
    }
  }
  .detailTop {
    @include flex(row, flex-end, center);
    margin: -4rem -3rem 4rem;
    padding: 1.3rem 3rem;
    background-color: $bgcolor-gray-03;
    border-radius: 0.8rem 0.8rem 0 0;
    .buttonArea {
      margin-left: 1.8rem;
      &:first-child {
        margin-left: 0;
      }
      .btn {
        min-width: 7rem;
        &:last-child {
          min-width: 12rem;
        }
      }
    }
  }
  .detailBottom {
    @include flex(row, flex-end, center);
    margin-top: 3rem;
    .buttonArea {
      .btn {
        min-width: 7rem;
        &:last-child {
          min-width: 12rem;
        }
      }
    }
  }
  .contents {
    margin-bottom: 7rem;
    &:last-child {
      margin-bottom: 4rem;
    }
  }
  .select {
    width: 17rem;
  }

  // 문의 상세 사업자 배정 후 select 값이 텍스트로 들어간 경우
  .buttonArea {
    & > span {
      flex: 1;
      display: block;
      margin-right: auto;
    }
  }
  // nodata
  .nodataContainer {
    padding-top: 7rem;
  }
}


.explainListWrap {
  padding: 1.6rem;
  border-top: 1px solid $border-color-04;
  border-bottom: 1px solid $border-color-04;
}

/* 모바일 번호 추가 */
.fieldAdded {
  @include flex(row, flex-start, center);
  @include font(1.6rem, normal, $color-gray-01); 
  & + .fieldAdded {
    margin-top: 2rem;
  }
  .input {
    flex: 1;
  }
  .buttonArea {
    margin: 0 0 0 2rem;
  }
  .btnAdd, .btnDelete {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 0.4rem;
    &:first-child {
      margin-left: 0;
    }
    &:hover, &:focus-visible {
      background-color: rgba($primary, 0.1);
    }
    &:active {
      background-color: rgba($primary, 0.4);
    }
  }
  .btnAdd {
    border: 1px solid $primary;
  }
  .btnDelete {
    border: 1px solid $secondary;
  }
}
/* 앱 푸시 상태 */
.stateArea {
  @include flex(row, center, center);
  max-width: 56.7rem;
  padding: 2.8rem;
  background-color: $bgcolor-gray-01;
  @include font(1.4rem, normal, $color-gray-01, 1.4);
  .separation {
    margin: 0 10rem;
    &:after {
      content: '>';
      display: block;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  .stateTop {
    margin-bottom: 0.9rem;
  }
  .stateBottom {
    font-size: 1.3rem;
    color: $color-gray-04;
    text-align: center;
    & > span {
      display: block;
      margin-bottom: 0.9rem;
      &:only-child {
        margin-bottom: 0;
      }
    }
  }
  strong {
    font-weight: bold;
  }
}

/* 사업자 필터 버튼 */
.btnFilterBiz {
  position: relative;
  width: 17rem;
  .btn {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 4rem;
    min-width: 4rem;
    height: auto;
    border-radius: 0.4rem;
    background: image('common/icon_search_cyan.svg') no-repeat center / 2rem $white;
    border: none;
    & > span {
      @include ir;
    }
  }
  .input {
    input {
      padding: 0 4rem 0 1rem;
      background-color: $white;
    }
  }
}

/* 메인 배너 등록 */
.descriptionWrap {
  @include flex(row, flex-start, center);
  .maxWidth {
    width: 100%;
    max-width: 33.5rem;
  }
  .file {
    width: 27.5rem;
  }
  .dotted {
    margin-left: 2.4rem;
  }
}
.dotted {
  @include font(1.3rem, normal, $color-gray-01, 1.4);
  &:before {
    content: '';
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0.8rem;
    border-radius: 50%;
    background-color: $color-gray-01;
    vertical-align: top;
  }
  &.colorPrimary {
    color: $primary;
    &:before {
      background-color: $primary;
    }
  }
  
}

/* 사이즈 고정 form */
.maxWidthForm {
  .fieldInput {
    max-width: 32.2rem;
  }
  .buttonArea {
    .btn {
      min-width: 7rem;
    }
  }
}

/* fieldForm 상품판매 일시 20221011 */
.dateAndTimeWrap {
  .select {
    width: 16rem;  
  }
}