/* 할인 부가서비스 등록 팝업 */
.promotionExtraWrap {
  @include flex(row, flex-start, stretch);
  & > * {
    width: 50%;
    margin-left: 3rem;
    &:first-child {
      margin-left: 0;
    }
  }
  .title {
    margin-top: 1rem;
    margin-bottom: 2.3rem;
    @include font(1.3rem, bold, $color-gray-01, 1.4);
  }
  .promoteFinder {
    margin-bottom: 1.2rem;
  }
  .extraTable {
    .tableContainer {
      overflow: hidden;
      overflow-y: auto;
      max-height: 62rem;
    }
    .fieldForm {
      .input {
        max-width: 31.2rem;
      }
    }
  }
  .discountTable {
    width: calc(50% - 3rem);
    .select {
      max-width: 16rem;
      select {
        padding-left: 0.8rem;
        padding-right: 2.5rem;
        background-position: right 0.8rem center;
      }
    }
    .tableContainer {
      min-height: 42rem;
      margin-bottom: 3rem;
      &:last-child {
        margin-bottom: 0;
      }
      table {
        thead {
          th {
            padding-left: 0.8rem;
            padding-right: 0.8rem;
          }
        }
      }
    }
    .discountCheck {
      min-height: 42rem;
    }
    .addExplain {
      margin-top: 0.6rem;
      font-size: 1.3rem;
    }
    .descriptionBox {
      margin-top: 1rem;
      padding: 1.2rem 1.6rem;
      background-color: $bgcolor-gray-03;
      > p {
        + p {
          margin-top: 1.9rem;
        }
      }
    }
  }
  .tableContainer {
    .fieldDatepicker {
      max-width: 16rem;
    }
    .fieldForm {
      font-size: 1.4rem;
      .radio {
        margin-right: 2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    
  }
  .nodataContainer {
    height: calc(100% - 5.5rem);
  }
}
.nodataContainer {
  @include flex(column, center, center);
  @include font(1.3rem, normal, $secondary, 1.4);
}