// Main page
.home {

  .banner-container {
    .banner-area {
      position: relative;
      .btn-next-section {
        position: absolute;
        z-index: 999;
        bottom: 6rem;
        left: 50%;
        width: 3rem;
        height: 3rem;
        background: url("../images/ic_arrow_down_30.svg") no-repeat 100% center;
        transform: translateX(-50%);
      }
    }
  }

  .prevention-container {
    .prevention-card-lists {
      display: flex;
    }
  }

}

// 태블릿
@media #{$tablet} {
  .home {


  }
}

// 모바일
@media #{$mobile} {
  .home {


  }
}

@media #{$portrait} {
  .home {

  }
}