// Sub page (03)
.menu-03 {
  .main-title-container {
    width: 137.1rem;
    margin: 0 auto;
    padding-bottom: 8rem;
  }
  .plan-container {
    background-color: #F7F8FB;
    .plan-top-area {
      width: 100%;
      background: url("../images/plan_bg.png") no-repeat 100% center / cover;
      .plan-info-box {
        width: 137.1rem;
        margin: 0 auto;
        padding: 30rem 0 23.3rem;
        .title-box {
          @include font(5rem, 700, $white, 7.2rem);
        }
        .desc-box {
          @include flex(column, flex-start, flex-start);
          margin-top: 2.6rem;
          @include font(2.2rem,500, #f4f4f4, 3.4rem);
          span {
            position: relative;
            padding-left: 2.6rem;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 2rem;
              height: 2rem;
              background:  url("../images/ic_ use_arrow_20.svg") no-repeat 100% center/cover;
              transform: translateY(-50%);
            }
            &:not(:first-of-type) {
              margin-top: 0.8rem;
            }
          }
        }
      }
    }
    .plan-middle-area {
      width: 137.1rem;
      margin: 0 auto;
      margin-top: -19.2rem;
      .plan-block-container {
        .plan-block-list {
          @include flex(row, space-between, center);
          margin: 0 -1rem;
        }
        .plan-block-box {
          @include flex(column, flex-start, flex-start);
          overflow: hidden;
          width: calc(25% - 2rem);
          height: 41.6rem;
          margin: 0 1rem;
          border-radius: 2rem;
          box-shadow: 0 0.4rem 3rem 1.3rem rgba(67, 66, 146, 0.08);
          .plan-block {
            width: 100%;
            cursor: pointer;
          }
          .top-box {
            @include flex(row, flex-start, flex-end);
            width: 100%;
            padding: 11rem 0 4rem 3rem;
            background-color: #1E1D2A;
            .img-box {
              width: 13rem;
              img {
                display: block;
                width: 100%;
                height: auto;
              }
            }
          }
          .bottom-box {
            padding: 3rem 4rem;
            .title-box {
              @include font(2.2rem, 500, #333, 3.2rem);
              word-break: keep-all;
            }
          }
        }
      }
    }
    .plan-bottom-area {
      margin-top: 6rem;
      padding-bottom: 8rem;
      .notice-box {
        width: 137.1rem;
        margin: 0 auto;
        .title-box {
          @include font(1.8rem, 700, #61606C, 2.6rem);
        }
        .desc-box {
          @include flex(column, flex-start, flex-start);
          margin-top: 1.4rem;
          @include font(1.4rem, 500, #61606C, 2rem);
          span {
            position: relative;
            margin-left: 0.8rem;
            padding-left: 1rem;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 0.3rem;
              height: 0.3rem;
              border-radius: 50%;
              background-color: #61606C;
              transform: translateY(-50%);
            }
            &:not(:first-of-type) {
              margin-top: 0.8rem;
            }
          }
        }
      }
    }
  }
  .usage-container {
    width: 137.1rem;
    margin: 0 auto;
    padding: 12rem 0 19rem;
    .usage-content-container {
      overflow: hidden;
      margin-top: 6rem;
      padding: 0 2rem;
      border: 1px solid #EEEDF3;
      border-radius: 2rem;
      box-shadow: 0 0.4rem 3rem 1.3rem rgba(67, 66, 146, 0.08);
      .usage-content-area {
        @include flex(column, center, center);
      }
      .usage-title-box {
        @include flex(row, center, center);
        height: 3.9rem;
        margin-top: 4.8rem;
        padding: 0 2rem;
        border-radius: 2.7rem;
        background-color: #08090E;
        @include font(1.6rem, 700, $white, 2.3rem);
      }
      .usage-info-box {
        width: 100%;
        max-width: 114rem;
        margin-top: 3.6rem;
        .usage-video-container {
          .video-box {
            position: relative;
            padding-bottom: 56.2%;
            .youtube {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
        .usage-block-container {
          margin: 8rem 0 10rem;
          .usage-block-list {
            @include flex(row, space-between, center);
            .separator {
              &:last-child {
                display: none;
              }
              min-width: 2.8rem;
              height: 2.8rem;
              margin: 0 0.2rem;
              margin-top: -4rem;
              background: url("../images/ic_use_arrow_28.svg") no-repeat center/cover;
            }
            .usage-block-box {
              flex: 1;
            }
            .image-box {
              position: relative;
              img {
                display: block;
                width: 100%;
                height: auto;
              }
            }
            .title-box {
              margin-top: 3rem;
              @include font(1.6rem, 700, #333, 2.3rem);
              text-align: center;
            }
          }
        }
      }
    }
  }
}

// 태블릿
@media #{$tablet} {
  .menu-03  {
    .main-title-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .plan-container {
      .plan-top-area {
        .plan-info-box {
          width: 100%;
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }

      .plan-middle-area {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      
      .plan-bottom-area {
        .notice-box {
          width: 100%;
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }

    .usage-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// 모바일
@media #{$mobile} {
  .menu-03 {
    .plan-container {
      .plan-top-area {
        .plan-info-box {
          padding: 14.5rem 2rem 2rem;
          .title-box {
            font-size: 2.4rem;
            line-height: 3.5rem;
          }
          .desc-box {
            margin-top: 1.2rem;
            font-size: 1.4rem;
            line-height: 2rem;
            span {
              padding-left: 1.6rem;
              &::before {
                width: 1.2rem;
                height: 1.2rem;
              }
            }
          }
        }
      }
      .plan-middle-area {
        margin: 2rem 0 0 0;
        .plan-block-container {
          .plan-block-list {
            flex-wrap: wrap;
          }
          .plan-block-box {
            width: calc(50% - 1rem);
            height: auto;
            margin: 0 0.5rem;
            &:nth-of-type(1),
            &:nth-of-type(2) {
              margin-bottom: 1rem;
            }
            .top-box {
              padding: 1.6rem;
              .img-box {
                width: 7rem;
              }
            }
            .bottom-box {
              min-height: 6.8rem;
              padding: 1.2rem 1.2rem 1.6rem;
              .title-box {
                font-size: 1.4rem;
                line-height: 2rem;
              }
            }
          }
        }
      }
      .plan-bottom-area {
        margin-top: 2rem;
        padding-bottom: 4rem;
        .notice-box {
          .title-box {
            font-size: 1.4rem;
            line-height: 2rem;
          }
          .desc-box {
            margin-top: 0.8rem;
            font-size: 1.2rem;
            line-height: 1.7rem;
            span {
              &:not(:first-of-type) {
                margin-top: 0.2rem;
              }
            }
          }
        }
      }
    }
    .usage-container {
      padding: 6rem 2rem;
      .section-title-box {
        .desc {
          br {
            display: block;
          }
        }
      }
      .usage-content-container {
        position: relative;
        padding: 0;
        border: none;
        border-radius: unset;
        box-shadow: none;
        &:not(:last-of-type) {
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: calc(100% - 4rem);
            height: 1px;
            background-color: #dbdbdb;
            transform: translateX(-50%);
          }
        }
        .usage-title-box {
          height: 3.3rem;
          margin: 0;
          font-size: 1.2rem;
          line-height: 1.7rem;
        }
        .usage-info-box {
          margin-top: 2.4rem;
          .usage-block-container {
            margin: 3rem 0 4rem;
          }
        }
      }
    }
  }
}


// 768
@media #{$portrait} {
  .menu-03 {
    .usage-container {
      padding: 6rem 0 0 0;
      .section-title-box {
        .desc {
          br {
            display: none;
          }
        }
      }
      .usage-content-container {
        // position: relative;
        padding: 6rem 0 0 0;
        margin: 0;
        .usage-info-box {
          .usage-video-container {
            padding: 0 2rem;
          }
          .usage-block-container {
            overflow-x: auto;
            overflow-y: hidden;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            padding-left: 2rem;
            &::-webkit-scrollbar {
              display: none; /* Chrome, Safari, Opera*/
            }
            .usage-block-list {
              position: relative;
              &::after {
                content: '';
                display: block;
                min-width: 2rem;
                height: 1px;
                background-color: transparent;
              }
              .image-box {
                width: 22.4rem;
                img {
                  display: block;
                  width: 100%;
                }
              }
              .separator {
                width: 2rem;
                height: 2rem;
                margin: 0 0.4rem;
                margin-top: -2rem;
              }
              .title-box {
                margin-top: 1.4rem;
                font-size: 1.4rem;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }
  }
}