/* 비밀번호 인증 */
.login_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#F7F8FA, .9);
}
.login_area {
  max-width: 508px;
  width: calc(100% - 30px);
  padding: 48px;
  background-color: $white;
  border-radius: 10px;
  text-align: center;
  .input_area {
    margin-top: 32px;
  }
  .login_btn_area {
    margin-top: 40px;
  }
}
.dropdown_area {
  position: relative;
  width: 180px;
  margin: 15.2px auto;
  .btn_dropdown {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 8px 12px;
    border: 1px solid var(--outline_low);
    border-radius: 10vh;
  }
  .dropdown_list {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .input_text {
    margin: 0 8px;
    text-align: left;
  }
}

