<li class="accordion-list @@className">
  <div class="accordion-list-top">
    <div class="accordion-title-box">
      <span class="title">@@title</span>
    </div>
  </div>
  <div class="accordion-list-bottom">
    <div class="accordion-content-box">
      @@if(text) {
      <div class="accordion-content">
        <p class="text">@@text</p>
      </div>
      }
      <!-- prettier-ignore -->
      @@if(image) {
      <div class="accordion-content">
        <img src="../../assets/images/dummy/img_accordion_dummy.png" alt="" />
      </div>
      }
      <!-- prettier-ignore -->
      @@if(download) {
      <div class="accordion-content">
        <div class="download-box">
          <span class="text">첨부파일</span>
          <a href="" class="download-link" download>
            <span>smartcottage.pdf</span>
          </a>
        </div>
      </div>
      }
    </div>
  </div>
</li>
