<div class="field-container @@className">
  <div class="field-area">
    <div class="field-box">
      <div class="field-label-box" @@if(labelHide){hidden}>
        <span class="field-label">@@label</span>
      </div>
      <div class="field-file-box">
        <div class="field-file-left">
          <input type="text" class="file-name" placeholder="@@placeholder" value="파일 선택" disabled />
        </div>
        <div class="field-file-right">
          <input type="file" name="@@id" id="@@id" class="input-file" @@property />
          <label for="@@id" class="btn-file-upload">파일 첨부</label>
          <button type="button" class="btn-file-remove">
            <span>삭제</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
