<div class="field-container @@className">
  <div class="field-area">
    <div class="field-box">
      <div class="field-label-box" @@if(labelHide) {hidden}>
        <label for="@@id" class="field-label">@@label</label>
      </div>
      <div class="field-input-box">
        <div class="field-input">
          <input
            type="@@type"
            name="@@id"
            id="@@id"
            class="@@if(type === 'text') {input-text} @@if(type === 'password') {input-pw}"
            placeholder="@@placeholder"
            value="@@value"
            autocomplete="off"
            @@property
          />
          @@if(type === 'password') {
          <!-- prettier-ignore -->
          @@if(!pwEyeHide) {
          <button type="button" class="btn-show-pw"></button>
          } }
        </div>
        @@if(desc) {
        <div class="field-desc">
          <p class="desc">@@desc</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>
