<div class="pagination-box">
  <div class="pagination">
    <button type="button" class="btn-first" disabled></button>
    <button type="button" class="btn-prev" disabled></button>
    <ul class="pagination-lists">
      <li class="pagination-list active">
        <button type="button" class="btn-pagination">
          <span>1</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>2</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>3</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>4</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>5</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>6</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>7</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>8</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>9</span>
        </button>
      </li>
      <li class="pagination-list">
        <button type="button" class="btn-pagination">
          <span>10</span>
        </button>
      </li>
    </ul>
    <button type="button" class="btn-next"></button>
    <button type="button" class="btn-last"></button>
  </div>
  @@if(newButton) {
  <div class="button-box">
    <!-- prettier-ignore -->
    @@include("button.html", {
        "className" : "",
        "btnColor" : "btn-primary",
        "btnSize" : "small",
        "property" : "",
        "btnText" : "신규 등록",
        "iconClass" : "",
        "iconLeft" : "",
      })
  </div>
  }
</div>
