<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <!-- <link rel="icon" type="image/png" href="../assets/images/favicon/favicon.ico" /> -->
  <link rel="stylesheet" href="../../assets/css/admin.css" />
  <script src="../../assets/js/lib/datepicker-full.js"></script>
  <script src="../../assets/js/lib/datepicker-locales-ko.js"></script>
  <script src="../../assets/js/adminBundle.js"></script>
  <title>@@title</title>
</head>
