<div class="field-container @@className">
  <div class="field-area">
    <div class="field-box">
      <div class="field-search">
        <label for="@@id" class="field-label" hidden>@@label</label>
        <input type="search" name="@@id" id="@@id" class="input-search" placeholder="@@placeholder" value="@@value" autocomplete="off" @@property />
        <button type="button" class="btn-remove"></button>
        <button type="button" class="btn-search"></button>
      </div>
    </div>
  </div>
</div>
