<!-- prettier-ignore -->
<td class="td @@type align-@@align" @@if(type === 'empty') {colspan='6'}>
  @@if(type !== 'empty') {
    @@if(type === 'button') {
      <button type="button" class="btn-text">@@text</button>
    }
    @@if(type !== 'button') {
      <!-- prettier-ignore -->
      @@if(type !== 'button light') {
        <span>@@text</span>
      }
      <!-- prettier-ignore -->
      @@if(type === 'button light') {
        <button type="button" class="btn-text light">@@text</button>
      }
    }
  }
  @@if(type === 'empty') {
    <span>해당하는 내역이 없습니다.</span>
  }
</td>
