<div class="application-guide-list">
  <div class="application-guide-list-top">
    <div class="image-box">
      <img src="../../assets/images/@@image.path" alt="@@image.alt" />
    </div>

    @@if(status) {
    <div class="status-box">
      @@if(status === 'badge') {
      <div class="badge">현재 진행 단계</div>
      }
      <!-- prettier-ignore -->
      @@if(status === 'button') {
        @@include("button.html", {
          "className" : "btn-viwe-more",
          "btnColor" : "btn-text",
          "btnSize" : "",
          "property" : "",
          "btnText" : "자세히 알아보기",
          "iconClass" : "ic-arrow-24",
          "iconLeft" : "",
        })
      }
    </div>
    }
  </div>

  <div class="application-guide-list-middle">
    <div class="title-box">
      <h4 class="list-title">
        <span class="number">@@title.num</span>
        <span class="text">@@title.text</span>
      </h4>
    </div>

    <div class="desc-box">
      <p class="desc">@@desc</p>
    </div>
  </div>

  <div class="application-guide-list-bottom">
    <div class="sub-desc-box">
      <p class="desc">@@subDesc</p>
    </div>
  </div>
</div>
