<div class="field field-checkbox @@className">
  <div class="field-form">
    <input type="checkbox" name="@@checkboxName" id="@@checkboxId" class="input-checkbox" @@property />
    <div class="checkbox-box">
      <span class="checkbox-icon"></span>
      <label for="@@checkboxId" class="field-label">
        <!-- prettier-ignore -->
        @@if(required) {
        <span class="required">[필수]</span>
        @@label }
        <!-- prettier-ignore -->
        @@if(!required) {
          @@label
        }
      </label>
    </div>
  </div>
</div>
