<!-- Footer -->
<footer class="footer-container">
  <div class="footer-banner-area">
    <div class="img-box">
      <img src="../../assets/images/img_footer.jpg" alt="banner" />
    </div>
  </div>
  <div class="footer-area">
    <div class="footer-top">
      <div class="logo-box">
        <img src="../../assets/images/img_pc_top_logo_b.svg" alt="LG Smart Cottage" />
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-content-box">
        <div class="footer-content-top">
          <ul class="menu-lists">
            <li class="menu-list">
              <button class="btn-modal btn-terms" data-modal="modal-terms">
                <span>이용약관</span>
              </button>
            </li>
            <li class="menu-list">
              <button class="btn-modal btn-privacy" data-modal="modal-privacy">
                <span>개인정보 처리방침</span>
              </button>
            </li>
          </ul>
        </div>
        <div class="footer-content-middle">
          <ul class="content-lists">
            <li class="content-list">
              <span>주소 : 서울특별시 영등포구 여의대로128 LG트윈타워</span>
            </li>
            <li class="content-list">
              <span>상호 : LG전자 주식회사</span>
            </li>
            <li class="content-list">
              <span>대표자 성명 : 조주완</span>
            </li>
            <li class="content-list">
              <span>사업자등록번호 : 107-86-14075</span>
            </li>
            <li class="content-list">
              <span>통신판매업신고번호 : 2024-서울영등포-0150</span>
            </li>
            <li class="content-list">
              <span>연락처 : smartcottage@lge.com</span>
            </li>
          </ul>
        </div>
        <div class="footer-content-bottom">
          <div class="text-box">
            <span>본 사이트의 모든 콘텐츠는 저작권법의 보호를 받는 바, 무단 전재, 복사, 배포 등을 금합니다.</span>
          </div>
          <div class="copyright-box">
            <span>Copyright © 2024 LG Electronics.</span>
            <span>All Rights Reserved.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup 1 -->
  <dialog id="modal-terms" class="modal modal-medium modal-terms">
    <div class="modal-container">
      <div class="modal-area">
        <button type="button" class="btn-close"></button>
        <div class="modal-top">
          <div class="modal-title-box">
            <span class="title">이용약관</span>
          </div>
        </div>
        <div class="modal-middle scroll">
          <div class="modal-content-box">
            <div class="terms-box">
              <div class="title-box">
                <span class="title">약관 큰 타이틀</span>
                <span class="sub-title">약관 작은 타이틀</span>
              </div>
              <div class="text-box">
                <p>
                  약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이
                  들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-bottom">
          <div class="modal-button-box">
            <!-- prettier-ignore -->
            @@include("button.html", {
              "className" : "",
              "btnColor" : "btn-secondary",
              "btnSize" : "",
              "property" : "",
              "btnText" : "동의",
              "iconClass" : "",
              "iconLeft" : "",
            })
          </div>
        </div>
      </div>
    </div>
  </dialog>

  <!-- Popup 2 -->
  <dialog id="modal-privacy" class="modal modal-medium modal-privacy-policy">
    <div class="modal-container">
      <div class="modal-area">
        <button type="button" class="btn-close"></button>
        <div class="modal-top">
          <div class="modal-title-box">
            <span class="title">개인정보 처리방침</span>
          </div>
        </div>
        <div class="modal-middle scroll">
          <div class="modal-content-box">
            <div class="terms-box">
              <div class="title-box">
                <span class="title">약관 큰 타이틀</span>
                <span class="sub-title">약관 작은 타이틀</span>
              </div>
              <div class="text-box">
                <p>
                  약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이
                  들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다. 약관 내용이 들어갑니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-bottom">
          <div class="modal-button-box">
            <!-- prettier-ignore -->
            @@include("button.html", {
              "className" : "",
              "btnColor" : "btn-secondary",
              "btnSize" : "",
              "property" : "",
              "btnText" : "동의",
              "iconClass" : "",
              "iconLeft" : "",
            })
          </div>
        </div>
      </div>
    </div>
  </dialog>
  <script>
    document.addEventListener('DOMContentLoaded', function () {});
  </script>
</footer>
<!-- // Footer -->

<!-- top button -->
<div id="top" class="top-button-box">
  <button type="button" class="btn-top"></button>
</div>
