<!-- header -->
<header class="header-container @@className">
  <div class="header-area">
    <div class="header-left-box">
      <h1 class="logo-box">
        <a href="javascript:void(0);" class="logo">
          <img src="../../assets/images/img_pc_top_logo_b.svg" alt="LG Smart Cottage" />
        </a>
      </h1>
    </div>

    <!-- prettier-ignore -->
    @@if(list) {
    <div class="gnb-container">
      <div class="gnb-area">
        <ul class="gnb-box">
          <!--
              active : 메뉴 활성화
            -->
          <!-- prettier-ignore -->
          @@for(var i = 0; i < list.length; i++) {
            @@include("gnbList.html",  `+(JSON.stringify(list[i]))+`)
          }
        </ul>
      </div>
    </div>
    }

    <div class="header-right-box">
      @@if(myPage) {
      <div class="mypage-link-box">
        <!-- prettier-ignore -->
        @@include("button.html", {
          "className" : "btn-round mypage-link",
          "btnColor" : "btn-tan",
          "btnSize" : "small",
          "property" : "",
          "btnText" : "나의 스마트코티지",
          "iconClass" : "",
          "iconLeft" : "",
        })
      </div>
      }
      <div class="menu-box">
        <button type="button" class="btn-menu" title="메뉴">
          <span class="bar bar-1"></span>
          <span class="bar bar-2"></span>
          <span class="bar bar-3"></span>
        </button>
        <div class="menu-container">
          <div class="dim"></div>
          <div class="menu-area">
            <div class="logo-box use-tablet">
              <a href="javascript:void(0);" class="logo">
                <img src="../../assets/images/img_pc_top_logo_w.svg" alt="LG Smart Cottage" />
              </a>
            </div>
            <ul class="menu-list-box">
              <li class="menu-list" style="--index: 0">
                <div class="menu-link-box">
                  <a href="javascript:void(0);" class="menu-link">스마트코티지는</a>
                </div>
                <ul class="menu-sub-list-box">
                  <li class="menu-sub-list" style="--index: 1">
                    <div class="menu-sub-link-box">
                      <a href="javascript:void(0);" class="menu-sub-link">브랜드 스토리</a>
                    </div>
                  </li>
                  <li class="menu-sub-list" style="--index: 2">
                    <div class="menu-sub-link-box">
                      <a href="javascript:void(0);" class="menu-sub-link">모델 알아보기</a>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="menu-list" style="--index: 3">
                <div class="menu-link-box">
                  <a href="javascript:void(0);" class="menu-link">어떻게 진행되나요?</a>
                </div>
              </li>
              <li class="menu-list" style="--index: 4">
                <div class="menu-link-box">
                  <a href="javascript:void(0);" class="menu-link">궁금증 해결하고</a>
                </div>
              </li>
              <li class="menu-list" style="--index: 5">
                <div class="menu-link-box">
                  <a href="javascript:void(0);" class="menu-link">시작하기</a>
                </div>
              </li>
              <li class="menu-list" style="--index: 6">
                <div class="menu-link-box">
                  <a href="javascript:void(0);" class="menu-link">나의 스마트코티지</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- // header -->
