<li class="option-list">
  <input type="radio" id="@@id" name="model-form" class="option-radio" @@property />
  <label for="@@id" class="option">
    <span class="left-side">
      @@if(imageData) {
      <span class="image-box">
        <img src="../../assets/images/@@imageData.path" alt="@@imageData.alt" />
      </span>
      }
      <span class="radio-text-box">
        <span class="radio-label-box">
          @@if(modelLabel) {
          <span class="label">@@modelLabel</span>
          }
          <span class="price-box use-tablet">
            <span class="price">@@price</span>
          </span>
        </span>
        <span class="radio-desc-box">@@modelDesc</span>
        @@if(modelMetaData) {
        <span class="radio-metadata-box">
          @@for(var i = 0; i < modelMetaData.length; i++) {
          <em class="metadata `+modelMetaData[i].active+` `+modelMetaData[i].type+`">`+modelMetaData[i].text+`</em>
          }
        </span>
        }
      </span>
    </span>
    <span class="right-side">
      <span class="price-box use-pc">@@price</span>
    </span>
  </label>
  @@if(viewMore) {
  <button type="button" class="view-more">자세히 보기</button>
  }
</li>
