<!-- set unique class : ready-intro -->
<div class="wrapper ready-intro">
  <!-- prettier-ignore -->
  @@include("header.html", {
    "title" : "Header",
    "myPage" : true,
    "list" : [
      {
        "text"     : "스마트코티지는",
        "property" : "active",
      },
      {
        "text"     : "어떻게 진행되나요?",
        "property" : "",
      },
      {
        "text"     : "궁금증 해결하고",
        "property" : "",
      },
      {
        "text"     : "시작하기",
        "property" : "",
      },
    ],
    "className" : "fixed type-white"
  })
  <main class="main-container">
    <!-- section-container -->
    <section class="section-container">
      <div class="section-area">
        <div class="ready-intro-container">
          <div class="ready-intro-area">
            <div class="ready-intro-top">
              <div class="title-box">
                <h2 id="title-1" class="title show">나만의 스마트코티지가 <br class="use-tablet" />완성되었습니다.</h2>
              </div>
            </div>

            <div class="ready-intro-middle">
              <div class="back-bg-box">
                <img src="../../assets/images/start_ready/@@path" class="bg" alt="bg" />
              </div>
            </div>

            <div class="ready-intro-bottom">
              <div class="ready-info-box">
                <div class="my-cottage-box">
                  <div class="name-box">나만의 MONO+</div>
                  <div class="option-box">
                    <div class="option">WPC 화이트오크</div>
                    <div class="option">BIPV 태양광 패널</div>
                    <div class="option">우드 인테리어</div>
                  </div>

                  <div class="price-box">
                    <div class="box-top">
                      <div class="label">총 예상 가격<em class="use-tablet">(부가세 포함)</em></div>
                      <div class="price">
                        <span class="num">₩270,000,000</span>
                        <span class="tax use-pc">부가세 포함</span>
                      </div>
                    </div>

                    <div class="box-bottom">
                      <div class="apply-button-box">
                        <!-- prettier-ignore -->
                        @@include("button.html", {
                          "className" : "btn-round",
                          "btnColor" : "btn-secondary",
                          "btnSize" : "large",
                          "property" : "",
                          "btnText" : "현장실사 신청",
                          "iconClass" : "ic-arrow-b",
                          "iconLeft" : "",
                        })
                      </div>
                    </div>
                  </div>
                </div>

                <div class="button-box">
                  <div class="share-box">
                    <div class="label-box">
                      <div class="label">공유하기</div>
                    </div>

                    <div class="share-button-box">
                      <button type="button" class="share-button">
                        <img src="../../assets/images/icon/ic_pc_co_share_kakao.svg" alt="카카오톡" />
                        <span class="text">카카오톡</span>
                      </button>
                      <button type="button" class="share-button">
                        <img src="../../assets/images/icon/ic_pc_co_share_link.svg" alt="다운로드" />
                        <span class="text">다운로드</span>
                      </button>
                    </div>
                  </div>
                  <!-- PC용 : share-button-box 노출 -->
                  <button type="button" class="btn-icon btn-share use-pc">
                    <span class="text">공유하기</span>
                    <span class="tooltip-box">
                      <span class="tooltip">멋진 이미지로 공유해보세요!</span>
                    </span>
                  </button>
                  <!-- Mobile용 : 디바이스의 시스템 공유 기능 노출 -->
                  <button type="button" class="btn-icon btn-share use-tablet">
                    <span class="text">공유하기</span>
                    <span class="tooltip-box">
                      <span class="tooltip">멋진 이미지로 공유해보세요!</span>
                    </span>
                  </button>
                  <button type="button" class="btn-icon btn-restart">
                    <span class="text">다시하기</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- // section-container -->
  </main>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const readyCont = document.querySelector('.ready-intro-container');
    const titleBox1 = document.getElementById('title-1');
    const readyInfoBox = document.querySelector('.ready-info-box');
    const myCottageBox = document.querySelector('.my-cottage-box');
    const buttonBox = document.querySelector('.button-box');
    let aniBoolean = false;
    let windowWidth = window.window.innerWidth;

    function event() {
      windowWidth = window.window.innerWidth;

      if (!aniBoolean) {
        if (windowWidth > 1023) {
          setTimeout(function () {
            titleBox1.classList.remove('show');
            scrollToBottom(readyCont, 2000);
          }, 1000);
        } else {
          setTimeout(function () {
            titleBox1.classList.remove('show');

            setTimeout(function () {
              if (readyInfoBox) readyInfoBox.style.bottom = 0;
              aniBoolean = true;
            }, 500);
          }, 1000);
        }
      } else {
        if (windowWidth > 1023) {
          titleBox1.classList.remove('show');
          if (myCottageBox) myCottageBox.style.opacity = 1;
          if (buttonBox) buttonBox.style.opacity = 1;
          if (readyInfoBox) readyInfoBox.removeAttribute('style');
        } else {
          titleBox1.classList.remove('show');
          if (myCottageBox) myCottageBox.removeAttribute('style');
          if (buttonBox) buttonBox.removeAttribute('style');
          if (readyInfoBox) readyInfoBox.style.bottom = 0;
        }
      }
    }

    function easeInOutCubic(t) {
      return t < 0.5 ? 4 * t * t * t : 1 - Math.pow(-2 * t + 2, 3) / 2;
    }

    function scrollToBottom(element, duration) {
      var start = element.scrollTop;
      var startTime = performance.now();

      function scroll(timestamp) {
        var elapsed = timestamp - startTime;
        var progress = elapsed / duration;
        var easingProgress = easeInOutCubic(progress);

        element.scrollTop = start + (element.scrollHeight - start - element.clientHeight) * easingProgress;

        if (progress < 1) {
          window.requestAnimationFrame(scroll);
        } else {
          const readyInfoBox = document.querySelector('.ready-info-box');
          readyInfoBox.classList.add('show');
          const myCottageBox = document.querySelector('.my-cottage-box');
          const buttonBox = document.querySelector('.button-box');
          if (myCottageBox) myCottageBox.style.opacity = 1;
          if (buttonBox) buttonBox.style.opacity = 1;
          aniBoolean = true;
        }
      }

      window.requestAnimationFrame(scroll);
    }

    function resizeScroll(ele) {
      if (aniBoolean) {
        ele.scrollTop = ele.scrollHeight;
      } else {
        if (windowWidth > 1023) {
          titleBox1.style.display = 'none';
          if (myCottageBox) myCottageBox.style.opacity = 1;
          if (buttonBox) buttonBox.style.opacity = 1;
          if (readyInfoBox) readyInfoBox.removeAttribute('style');
        } else {
          titleBox1.style.display = 'none';
          if (myCottageBox) myCottageBox.removeAttribute('style');
          if (buttonBox) buttonBox.removeAttribute('style');
          if (readyInfoBox) readyInfoBox.style.bottom = 0;
        }

        ele.scrollTop = ele.scrollHeight;
        aniBoolean = true;
      }
    }

    event();

    window.addEventListener('resize', function () {
      event();
      resizeScroll(readyCont);
    });

    const btnShare = document.querySelector('.btn-share');

    btnShare.addEventListener('click', function () {
      if (buttonBox.className.indexOf('active') > -1) {
        buttonBox.classList.remove('active');
      } else {
        buttonBox.classList.add('active');
      }
    });
  });
</script>
