<li class="result-option">
  <div class="result-option-top">
    <div class="category-box">
      <span class="category">@@category</span>
    </div>
    @@if(button !== 'disabled') {
    <div class="button-box">
      <!-- prettier-ignore -->
      @@include("button.html", {
          "className" : "btn-underline",
          "btnColor" : "",
          "btnSize" : "",
          "property" : "",
          "btnText" : "변경",
          "iconClass" : "",
          "iconLeft" : "",
        })
    </div>
    } @@if(button === 'disabled') {
    <div class="button-box">
      <!-- prettier-ignore -->
      @@include("button.html", {
          "className" : "btn-underline",
          "btnColor" : "",
          "btnSize" : "",
          "property" : "disabled",
          "btnText" : "변경",
          "iconClass" : "",
          "iconLeft" : "",
        })
    </div>
    }
  </div>
  <div class="result-option-bottom">
    <div class="result-thumb-box">
      <div class="thumb-image-box">
        <img src="../../assets/images/option/@@image.path" alt="@@image.alt" />
      </div>
      <div class="title-box">
        <span class="title">@@title</span>
      </div>
    </div>
    <div class="result-num-box">
      <span class="num">@@num</span>
    </div>
  </div>
</li>
