/* TV 빌링 Pin code - common */
.pin-code-container {
  width: 100%;
  height: 100%;
  background-color: #000000;
  &.pin-code-toast {
    @include flex(column, flex-end, center);
    padding-bottom: 180px;
  }
  &.pin-code-popup {
    padding: 120px 0 96px;
  }
  // 버튼
  [class*=btn-pin-] {
    position: relative;
    span {
      @include flex(row, center, center);
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      background-color: #7d848c;
      @include font(30px, 600, #e6e6e6, 1);
      transition: all .3s;
      text-transform: uppercase;
    }
    &.focused, &.hover {
      span {
        background-color: #ffffff;
        color: #4c5059;
      }
    }
  }
}
/* TV 빌링 Pin code - input */
.pin-code-box {
  @include flex(column, center, center);
  color: #ffffff;
  .pin-code-header {
    margin-bottom: 178px;
    .title {
      @include font(72px, 300, #e6e6e6, 1);
    }
  }
  .pin-code-footer {
    @include flex(row, center, center);
    margin-top: 168px;
  }
  .code-input-box {
    @include flex(row, center, center);
    margin-bottom: 24px;
    .pin-input {
      @include flex(row, center, center);
      position: relative;
      width: 120px;
      height: 144px;
      margin: 0 9px;
      border-radius: 6px;
      background-color: #222222;
      transition: all .3s;
      &.active {
        background-color: #e6e6e6;
      }
      &.complete {
        .complete-dim {
          display: flex;
        }
        &.focused, &.hover {
          background-color: #222222;
        }
      }
      .complete-dim {
        @include flex(row, center, center);
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: #222222;
        &:after {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          background-color: #e6e6e6;
          border-radius: 18px;
        }
      }
      input {
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-family: "LG Smart";
      }
    }
  }
  .code-error-box {
    @include flex(column, center, center);
    min-height: 66px;
    @include font(30px, 600, #fb5656, 1);
    text-align: center;
  }
  .code-button-box {
    @include flex(row, center, center);
    margin-top: 60px;
    [class*=btn-code-] {
      @include flex(row, center, center);
      width: 84px;
      height: 84px;
      border-radius: 6px;
      font-family: "LG Smart";
      @include font(42px, 600, #e6e6e6, 1);
      transition: all .3s;
    }
    .btn-code-number {
      &.focused, &.hover {
        background-color: #e6e6e6;
        color: #4c5059;
      }
    }
    .btn-code-delete {
      background: transparent asset-image('ic_delete_nor.png') no-repeat center/54px;
      &.focused, &.hover {
        background: #e6e6e6 asset-image('ic_delete_foc.png') no-repeat center/54px;
      }
    }
  }
  //버튼
  [class*=btn-pin-] {
    width: 270px;
    height: 72px;
    margin: 0 9px;
    span {
      @include flex(row, center, center);
      top: 0;
      font-size: 36px;
    }
    &.focused, &.hover {
      span {
        top: 50%;
        width: 324px;
        height: 84px;
        margin-top: -42px;
      }
    }
  }
  .btn-pin {
    &-cancel {
      span {
        right: 0;
      }
    }
    &-ok {
      span {
        left: 0;
      }
    }
  }
}
/* TV 빌링 Pin code - error */
.pin-toast-box {
  @include flex(row, flex-start, center);
  width: 1014px;
  padding: 27px 45px;
  background-color: #c0c1c2;
  border-radius: 12px;
  box-shadow: 0px 20px 12px 0 rgba(0, 0, 0, 0.3);
  .pin-toast-area {
    flex: 1;
    margin-right: 40px;
    @include font(30px, 400, #000000, 1.17);
  }
  .pin-button-area {
    flex-shrink: 0;
    @include flex(column, center, center);
    margin: -8px 0;
  }
  [class*=btn-pin-] {
    width: 225px;
    height: 54px;
    margin: 8px 0;
    span {
      top: 50%;
      left: 50%;
      margin-top: -27px;
      margin-left: -112.5px;
    }
    &.focused, &.hover {
      span {
        width: 256px;
        height: 63px;
        margin-top: -31.5px;
        margin-left: -128px;
      }
    }
  }
}
