.card-box {
  margin-right: 4rem;
  width: calc(33.33% - 2rem);
  text-align: center;
  border-radius: 2rem;
  background-color: #fff;
  &:last-child {
    margin: 0;
  }
  .card-title {
    @include font(3.2rem, 700, $black, normal);
  }
  .card-desc {
    @include font(2.4rem, 400, #666, 1.6);
  }
}
.promise-list-container {
  .card-box {
    .card-inner {
      padding: 4rem 1rem;
    }
    .card-title {
      margin: 1.6rem 0 3.2rem;
      color: $point-pink;
    }
  }
}

.prevention-container {
  .card-box {
    border: 1px solid #cdcdcd;
    .card-inner {
      padding: 6rem 2rem;
    }
    .card-header {
      @include flex(row, center, center);
      width: 100%;
      padding: 2rem 0;
      border-radius: 2rem 2rem 0 0;
      background: $black;
      @include font(2.8rem, 700, $white, normal);
    }
  }
}

.satisfaction-list-container {
  .card-box {
    .card-inner {
      padding: 6rem 2rem;
    }
    .card-title {
      margin: 4rem 0 2rem;
    }
  }
}

@media #{$pc_1440} {
  .card-box {
    .card-desc {
      br {
        display: none;
      }
    }
  }
}

// 모바일
@media #{$tablet_1024} {
  .card-box {
    width: 100%;
    margin-bottom: 2rem;
    margin-right: 0;
    .card-desc {
      font-size: 1.6rem;
      br {
        display: block;
      }
    }
  }
  .promise-list-container {
    .card-box {
      .card-title {
        margin: 1rem 0;
        font-size: 2rem;
      }
    }
  }
  .prevention-container {
    .card-box {
      .card-header {
        padding: 1.4rem 0;
        font-size: 1.6rem;
      }
      .card-inner {
        padding: 2rem;
        img {
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }
  .satisfaction-list-container {
    .card-box {
      .card-inner {
        padding: 2rem;
        img {
          width: 6rem;
          height: 6rem;
        }
      }
      .card-title {
        margin: 1rem 0 0.4rem;
        font-size: 1.8rem;
      }
    }
  }
}
