.card-benefit-container {
  padding: 0 6.9rem;
}
.card-benefit-box {
  @include flex(row, flex-start, center);
  margin-bottom: 4rem;
  padding: 10rem;
  background-color: $white;
  border-radius: 2rem;
  .card-thumnb-box {
    overflow: hidden;
    flex-shrink: 0;
    width: 38rem;
    height: 24rem;
    img {
      @include imgbox;
    }
  }
}
.card-info-box {
  flex: 1;
  @include flex(column, space-between, flex-start);
  height: 28.8rem;
  margin-left: 12rem;
  > div {
    width: 100%;
  }
  .card-info-top {
    .card-title {
      @include font(3.8rem, 700, $black, normal);
    }
    .card-title-desc {
      margin-top: 1rem;
      @include font(2.4rem, 400, $color-gray-01, 1.25);
    }
  }
  .card-info-bottom {
    .card-info-limit {
      @include flex(row, space-between, flex-start);
      @include font(2.8rem, 700, $point-pink, normal);
      .card-limit-label {
        font-weight: 500;
      }
    }
    .card-info-detail {
      @include flex(row, space-between, flex-start);
      margin-top: 2rem;
      @include font(2.8rem, 500, $black, normal);
      .card-detail-item {
        @include flex(row, space-between, flex-start);
      }
      .card-detail-label {
        flex-shrink: 0;
      }
      .small-text {
        margin: 0 2.8rem 0 1rem;
        font-size: 2.6rem;
        color: $color-gray-01;
      }
      .percent {
        flex-shrink: 0;
        font-weight: 700;
      }
    }
  }
}

/* response */
@media #{$pc_1440} {
  .card-benefit-container {
    padding: 0;
  }
  .card-benefit-box {
    padding: 5rem;
  }
  .card-info-box {
    margin-left: 5rem;
  }
}
@media #{$pc_1280} {
  .card-benefit-box {
    .card-thumnb-box {
      width: 25rem;
      height: auto;
    }
  }
}
@media #{$tablet_1024} {
  .card-benefit-box {
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 2rem;
    .card-thumnb-box {
      width: 100%;
    }
  }
  .card-info-box {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-left: 0;
    .card-info-top {
      text-align: center;
      .card-title {
        font-size: 2rem;
      }
      .card-title-desc {
        margin-top: 0.8rem;
        font-size: 1.6rem;
      }
    }
    .card-info-bottom {
      margin-top: 2rem;
      .card-info-limit {
        font-size: 1.6rem;
      }
      .card-info-detail {
        display: block;
        position: relative;
        margin-top: 1rem;
        font-size: 1.6rem;
        .card-detail-item {
          margin-top: 0.7rem;
          &:only-child {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            margin-top: 0;
          }
        }
        .small-text {
          margin: 0;
          font-size: 1.6rem;
        }
      }
    }
  }
}
