.decision-list-box {
  @include flex(row, space-between, center);
  & + .decision-list-box {
    margin-top: 4rem;
  }
  .left-box {
    margin-right: 5%;
    width: 68rem;
    height: 46.3rem;
    border-radius: 2rem;
    background-color: #B7B7B7;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  .right-box {
    @include flex(column, center, flex-start);
    width: 47.5%;
    .title {
      @include font(4rem, 700, $black, normal);
    }
    .desc {
      margin-top: 1rem;
      @include font(2.8rem, 400, #666, 1.6);
    }
  }
}

@media #{$tablet_1024} {
  .decision-list-box {
    .left-box {
      width: 100%;
      height: 22rem;
      margin-right: 0;
    }
    .right-box {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
      .title {
        width: 100%;
        font-size: 2rem;
      }
      .desc {
        margin: 0.4rem auto 0;
        font-size: 1.4rem;
        br {
          display: none;
        }
      }
    }
  }
}