.footer-container {
  &.v2 {
    padding: 4rem 0;
    .footer-top {
      align-items: center;
      > div {
        flex-shrink: 0;
        width: calc(50% - 6rem);
      }
      .left-box {
        padding-right: 6rem;
        .left-top-box {
          .footer-list {
            padding: 0 1.4rem;
            &::before {
              height: 1.8rem;
              background-color: #3a3a3a;
            }
            &:first-of-type {
              padding: 0 1.4rem 0 0;
            }
            > a,
            > button {
              color: #f8f8f8;
            }
          }
        }
        .left-bottom-box {
          margin-top: 2.4rem;
        }
      }
      .right-box {
        padding-left: 6rem;
        &::before {
          top: 50%;
          transform: translateY(-50%);
          height: 7rem;
          background-color: #404040;
        }
        .icon-box {
          overflow: hidden;
          flex-shrink: 0;
          margin-right: 1.6rem;
          background-color: #f8f8f8;
          &::after {
            content: '';
            position: absolute;
            width: 4.6rem;
            height: 4.6rem;
            background: url('../images/footer_help_02.svg') no-repeat center/3.4rem;
          }
        }
        .info-box {
          @include flex(row, flex-start, center);
          margin: 0 -1.5rem;
          > div {
            margin: 0 1.5rem;
          }
          .info-left {
            @include flex(row, flex-start, center);
          }
          .title {
            @include font(2.4rem, 500, #f8f8f8, normal);
            .strong {
              display: block;
              font-weight: 700;
            }
          }
        }
        .contact {
          @include flex(row, flex-start, stretch);
          margin-bottom: 0.8rem;
          @include font(1.6rem, 700, #f8f8f8, normal);
          &::before {
            content: '';
            display: inline-block;
            width: 3rem;
            height: 3rem;
            margin-right: 0.6rem;
          }
          &.call {
            &::before {
              background: image('ic_footer_call.svg') no-repeat center/2.1rem;
            }
          }
          &.email {
            &::before {
              background: image('ic_footer_email.svg') no-repeat center/2.1rem;
            }
          }
          .info {
            margin-left: 0.5rem;
            font-weight: 500;
          }
        }
      }
    }
    .footer-bottom {
      margin-top: 1.8rem;
    }
  }
}

.footer-info-list-box {
  @include flex(row, space-between, flex-start);
  flex-wrap: wrap;
  margin: -0.5rem 0 2.4rem;
  .footer-info-list {
    @include flex(row, flex-start, flex-start);
    width: calc(50% - 3rem);
    margin: 0.5rem 0;
    @include font(1.2rem, 400, #f8f8f8, 1.55);
    dt {
      flex-shrink: 0;
      width: 7.8rem;
      margin-right: 1rem;
      color: #a7a7a7;
    }
  }
}

/* response */
@media #{$pc_1280} {
  .footer-container {
    &.v2 {
      .footer-top {
        > div {
          width: 50%;
        }
        .left-box {
          padding-right: 3rem;
        }
        .right-box {
          padding-left: 3rem;
          .info-box {
            margin: 0 -0.5rem;
            > div {
              margin: 0 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media #{$tablet_1024} {
  .footer-container {
    &.v2 {
      padding: 4rem;
      .footer-top {
        align-items: flex-start;
        > div {
          width: 100%;
        }
        .left-box {
          padding-right: 0;
          .left-top-box {
            .footer-list {
              padding: 0 1rem;
              &::before {
                height: 1.2rem;
              }
              &:first-of-type {
                padding: 0 1rem 0 0;
              }
            }
          }
          .left-bottom-box {
            margin-top: 2rem;
            padding-bottom: 2rem;
          }
        }
        .right-box {
          padding: 2rem 0 0 0;
          &::before {
            top: 0;
            transform: initial;
            height: 1px;
          }
          .icon-box {
            margin-right: 1rem;
            &::after {
              width: 3.4rem;
              height: 3.4rem;
              background: url('../images/footer_help_02.svg') no-repeat center/2.5rem;
            }
          }
          .info-box {
            display: block;
            margin: 0;
            > div {
              margin: 0 0 1rem;
            }
            .title {
              margin-bottom: 0;
              font-size: 1.4rem;
            }
          }
          .contact {
            margin-bottom: 0.6rem;
            font-size: 1rem;
            &::before {
              width: 1.6rem;
              height: 1.6rem;
              margin-right: 0.4rem;
            }
            &.call {
              &::before {
                background: image('ic_footer_call.svg') no-repeat center/1.12rem;
              }
            }
            &.email {
              &::before {
                background: image('ic_footer_email.svg') no-repeat center/1.12rem;
              }
            }
            .info {
              margin-left: 0.4rem;
            }
          }
        }
      }
      .footer-bottom {
        margin-top: 1rem;
      }
    }
  }
  .footer-info-list-box {
    margin: -0.5rem 0 1rem;
    .footer-info-list {
      width: 100%;
      font-size: 1rem;
      line-height: 1.35;
      dt {
        width: 6.5rem;
        margin-right: 2rem;
      }
    }
  }
}
