.loaming-list-area {
  .loaming-list {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: 0 -2rem;
    @media screen and (min-width: 1024px) {
      &:nth-child(odd) {
        .loaming-box {
          background-color: $white;
        }
      }
    }
  }
  .loaming-box {
    width: calc(50% - 4rem);
    @include flex(row, flex-start, flex-start);
    margin: 0 2rem;
    padding: 2.1rem 4rem;
    .loaming-left {
      margin-right: auto;
      @include font(2.8rem, 400, $color-gray-01, normal);
    }
    .loaming-right {
      @include flex(row, flex-start, center);
      @include font(2.4rem, 400, $black, normal);
      .num {
        font-weight: 700;
      }
      .small-text {
        margin-right: 1rem;
        font-size: 1.8rem;
        color: $color-gray-01;
      }
    }
  }
}

/* response */
@media #{$tablet_1024} {
  .loaming-list-area {
    .loaming-list {
      display: block;
      margin: 0;
    }
    .loaming-box {
      width: 100%;
      margin: 0;
      padding: 1.8rem 2rem;
      background-color: $white;
      & + .loaming-box {
        background-color: transparent;
      }
      .loaming-left {
        font-size: 1.6rem;
      }
      .loaming-right {
        font-size: 1.6rem;
        .small-text {
          margin-right: 0.4rem;
          font-size: 1.2rem;
        }
      }
    }
  }
}
