// color palette
$color-white: #fff;
$color-black: #000;

$color-gray-141414: #141414;
$color-gray-252525: #252525;
$color-gray-666666: #666666;
$color-gray-505050: #505050;
$color-gray-757575: #757575;
$color-gray-949494: #949494;
$color-gray-ababab: #ababab;
$color-gray-f8f8f8: #f8f8f8;
$color-gray-d8d8d8: #d8d8d8;
$color-gray-e9e9e9: #e9e9e9;
$color-gray-e4e4e4: #e4e4e4;
$color-gray-cccccc: #cccccc;
$color-gray-f2f2f2: #f2f2f2;
$color-gray-ebebeb: #ebebeb;
$color-gray-f0f0f0: #f0f0f0;

$color-b43c68: #b43c68;
$color-fff1f6: #fff1f6;
$color-762744: #762744;
$color-ce1c5e: #ce1c5e;
$color-e5fcf9: #e5fcf9;
$color-00776e: #00776e;
$color-fceaf0: #fceaf0;
$color-e8f6fd: #e8f6fd;
$color-0f3448: #0f3448;
$color-e5fcf9: #e5fcf9;
$color-fff6fa: #fff6fa;


// form
$placeholder: rgba(0, 0, 0, 0.4);

// font
$font09 : 0.9rem;
$font10 : 1rem;
$font12 : 1.2rem;
$font14 : 1.4rem;
$font15 : 1.5rem;
$font16 : 1.6rem;
$font17 : 1.7rem;
$font18 : 1.8rem;
$font20 : 2rem;
$font24 : 2.4rem;
$font27 : 2.7rem;

// ios font
$fontIos03 : 0.3rem;
$fontIos045 : 0.45rem;
$fontIos05 : 0.5rem;
$fontIos07 : 0.7rem;
$fontIos09 : 0.9rem;