<% let className = locals.className ? locals.className : '' %>
<%_ for(var i = 0; i < contentBox.length; i++){ %>
  <div class="content_box <%- className %>">
    <p class="content_text"><%- contentBox[i].desc -%></p>
  </div>
<%_ } %>