.gallery-block {
  .overlay-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    &.one {
      .overlay-controller {
        .btn-next,
        .btn-prev {
          display: none;
        }
      }
    }
    &.active {
      height: 100%;
    }
    .overlay-area {
      position: relative;
      width: 100%;
      height: 100%;
      .dim {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.75);
      }
    }

    .overloay-middle {
      position: absolute;
      top: 5rem;
      bottom: 5rem;
      left: 5rem;
      right: 5rem;
      width: calc(100% - 10rem);
      height: calc(100% - 10rem);
    }

    .overlay-detail-image-list-box {
      // display: none;
      overflow: hidden;
      height: 0;
      position: relative;
      &.active {
        height: 100%;
      }
    }

    .overlay-controller {
      .btn-close {
        display: block;
        z-index: 13;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 2.2rem;
        height: 2.2rem;
        background: image('common/icon_overlay_close.svg') no-repeat center / 2.2rem;
      }

      .btn-prev {
        display: block;
        z-index: 13;
        position: absolute;
        top: 50%;
        left: 2.2rem;
        width: 6rem;
        height: 6rem;
        background: image('common/icon_overlay_swiper_prev.png') no-repeat center / 6rem;
        transform: translateY(-50%);
      }

      .btn-next {
        display: block;
        z-index: 13;
        position: absolute;
        top: 50%;
        right: 2.2rem;
        width: 6rem;
        height: 6rem;
        background: image('common/icon_overlay_swiper_next.png') no-repeat center / 6rem;
        transform: translateY(-50%);
      }
    }

    .count-box {
      position: absolute;
      top: auto;
      left: auto;
      bottom: 2rem;
      right: 2rem;
      width: auto;
      @include fontfamhead;
      @include font(1.6rem, 400, rgba($white, 0.4), 2.6rem);
      letter-spacing: -0.04rem;
      .swiper-pagination-current {
        color: $white;
      }
    }

    .overlay-detail-image-list {
      .overlay-detail-image-box {
        height: 100%;
        img {
          @include imgbox;
        }
      }
      .detail-info-box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2.4rem 3rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);

        .detail-info-label {
          @include flex(column, flex-end, flex-start);
          height: 5.1rem;
          @include font(2rem, 500, $white, 2.8rem);
          text-transform: uppercase;
        }
        .detail-info-data {
          margin-top: 2rem;
          padding-right: 4rem;
          @include font(1.6rem, 400, #cfcfcf, 2.6rem);
          p {
            white-space: pre-line;
          }
        }
      }
    }
  }
}

@media #{$tablet} {
}

@media #{$mobile_large} {
  .gallery-block {
    .overlay-container {
      .overlay-controller {
        .btn-close {
          top: 1rem;
          right: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          background-size: 1rem;
        }
        .btn-prev {
          left: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          background-size: 2.5rem;
        }
        .btn-next {
          right: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          background-size: 2.5rem;
        }
      }

      .overloay-middle {
        top: 1rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
      }
      .overlay-detail-image-list {
        .detail-info-box {
          display: none;
          .detail-info-label {
            color: $color-222222;
            height: auto;
          }
          .detail-info-data {
            margin-top: 1.6rem;
            color: $color-444444;
          }
        }
      }
    }
  }
}
