.overlay-content-container {
  .overlay-detail-content {
    display: none;
    padding: 2rem 0 0; 
    &.active {
      display: block;
    }

    .detail-info-box {
      .detail-info-label {
        @include fontfamhead;
        @include font(1.8rem, 500, #222222, 2.2rem);
      }

      .detail-info-data {
        margin-top: 1.6rem;
        @include font(1.6rem, 400, #444444, 2.2rem);
      }
    }
  }
}
