.safety-block-container {
  &.align-reverse {
    .safety-block-middle {
      @include flex(row-reverse, space-between, flex-start);
    }

    .safety-block-box-left {
      padding-bottom: 6.5rem;
    }

    .safety-block-box-right {
      margin-right: 4rem;
      margin-left: 0;
    }
  }

  .safety-block-middle {
    @include flex(row, space-between, flex-start);
  }

  .safety-block-image-box {
    img {
      width: 100%;
      height: auto;
    }
  }

  .safety-block-box-left {
    position: relative;
    max-width: 71.2rem;
    margin: 0;

    .swiper-box {
      z-index: 12;
      position: relative;
    }

    .safety-block-image-box-wrapper {
      .safety-block-image-box {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }

  .safety-block-box-right {
    flex: 0 0 41.8rem;
    margin-left: 4rem;
  }

  .image-deco {
    position: absolute;
    bottom: 0;
    left: 6.6rem;
    width: 100%;
    height: calc(100% - 6.6rem);
    background-color: #eee;
  }

  .safety-block-info-sub-title {
    margin-bottom: 2rem;
    @include font(1.8rem, 500, $color-00AAD2, normal);
    @include fontfamhead;
  }

  .safety-block-info-box {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      margin: 2rem 0;
      padding: 2rem 0;
      border-top: 1px solid #A3A3A3;
      border-bottom: 1px solid #A3A3A3;
      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      .safety-block-info-title {
        @include font(2.4rem, 500, #000, 3.6rem);
        &::before {
          display: none;
        }
      }

      .safety-block-info-desc-box {
        height: auto;
      }
    }

    .safety-block-info-title {
      cursor: pointer;
      @include flex(row, flex-start, center);
      @include fontfamhead;
      @include font(1.8rem, 500, #747474, normal);
      text-transform: capitalize;
      &::before {
        content: '+';
        margin-right: 1.5rem;
        @include fontfamhead;
        @include font(2.4rem, 500, #747474, 3rem);
      }
    }

    .safety-block-info-desc-box {
      overflow: hidden;
      height: 0;
      transition: all 0.3s;
      .safety-block-info-desc {
        padding-top: 2rem;
        @include font(1.6rem, 400, #000, 2.4rem);
      }
    }
  }
}

@media #{$pc_middle} {
  .safety-block-container {
    &.align-reverse {
      .safety-block-middle {
        align-items: flex-start;
      }
    }
    
    .safety-block-middle {
      align-items: flex-start;
    }
  }
}

@media #{$tablet} {
  .safety-block-container {
    .safety-block-box-left {
      max-width: 50%;
    }
    .safety-block-box-right {
      flex: 1;
      max-width: 40rem;
    }
  }
}

@media #{$mobile_large} {
  .safety-block-container {
    &.align-reverse {
      .safety-block-middle {
        display: block;
      }
      .safety-block-box-left {
        padding: 0;
      }
      .safety-block-box-right {
        margin: 4rem 0 0 0;
      }
    }

    .image-deco {
      display: none;
    }

    .safety-block-middle {
      display: block;
    }

    .safety-block-box-left {
      max-width: 100%; 
    }

    .safety-block-box-right {
      width: 100%;
      max-width: 100%; 
      margin: 4rem 0 0 0;
      .safety-block-info-box {
        width: 100%;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        &.active {
          .safety-block-info-title {
            font-size: 2.4rem;
            line-height: normal;
          }
        }

        .safety-block-info-title {
          font-size: 1.6rem;
        }

        .safety-block-info-desc-box {
          .safety-block-info-desc {
            padding-top: 2rem;
            font-size: 1.6rem;
            line-height: 2.4rem;
          }
        }
        .safety-block-info-title {
          font-size: 1.6rem;
          &::before {
            margin-right: 2rem;
          }
        }
      }
    }

    .safety-block-info-box {
      .safety-block-info-title {
        &::before {
          margin-right: 2rem;
        }
      }
    }

    .safety-block-info-sub-title {
      margin: 0 0 2rem;
    }
  }
}
