.accordion-container {
  &.normal {
    .accordion-list {
      .accordion-item {
        .accordion-content {
          .content-top {
            height: 7rem;
            @include flex(row, flex-start, center);
          }

          .content-bottom {
            padding: 0;
            height: 24.7rem;
            padding: 0.8rem 0.8rem 0 3.2rem;
            .answer-box {
              height: 100%;
              padding: 3.2rem 0;
              overflow-y: auto;
              &::-webkit-scrollbar {
                width: 0.5rem;
              }
              &::-webkit-scrollbar-thumb {
                background: $color_bfb;
                border-radius: 0.4rem;
              }
              &::-webkit-scrollbar-track {
                background: transparent;
              }
            }
          }
        }
        .content-top-left {
          flex: 1;
          @include flex(row, flex-start, center);
          padding-right: 3.2rem;
        }

        input[type='checkbox'] {
          + label {
            @include font(1.6rem, 500, $black, 1.8rem, 0);
            .checkbox-label {
              margin-top: 1px;
              margin-left: 1.5rem;
            }
          }
        }

        .detail-view-box {
          margin-left: 0.8rem;
          @include font(1.6rem, 500, $primary, normal, 0);
          white-space: nowrap;
        }

        .answer-box {
          .answer {
            display: block;
            // white-space: normal;
            &::before {
              display: none;
            }
            strong {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .accordion-list {
    .accordion-item {
      overflow: hidden;
      border-radius: 1.1rem;
      border: 1px solid $color_ebe;
      background-color: $white;
      + .accordion-item {
        margin-top: 1.7rem;
      }
      &.active {
        .accordion-content {
          .btn-collapse {
            transform: rotate(0);
          }
          .content-bottom {
            display: block;
          }
        }
      }
      .accordion-content {
        .content-top {
          position: relative;
          @include flex(row, flex-start, flex-start);
          padding: 1.9rem 8.7rem 1.6rem 3.2rem;
          .title-box {
            @include font(1.8rem, 400, $black, normal, 0);
          }
        }
        .content-bottom {
          display: none;
          padding: 3.4rem 2rem 3rem 31.8rem;
          background-color: $color_faf;

          .content-image-box {
            height: 100%;
            text-align: center;
            img {
              display: inline-block;
              width: auto;
              height: 100%;
            }
          }
        }
      }

      .content-top-left {
        width: 25.6rem;
      }
      .content-top-right {
        width: calc(100% - 25.6rem);
      }

      .btn-collapse {
        position: absolute;
        top: 2.1rem;
        right: 2.4rem;
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        background: asset-image('ic_list_up.svg') no-repeat center / 3.2rem;
        transform: rotate(180deg);
      }

      .question-box {
        min-width: 25.6rem;
        @include font(1.8rem, 700, $color_7f7, normal, 0);
        &::before {
          content: 'Q';
          margin-right: 1.6rem;
          @include font(2rem, 700, $color_7f7, normal, 0);
        }
      }

      .title-box {
        @include flex(row, flex-start, center);
        width: 100%;
        .title {
          width: calc(100% - 8rem);
          margin-left: 1.2rem;
          p {
            display: block;
            width: 100%;
            overflow: hidden;
            @include font(1.8rem, 700, $black, normal, 0);
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .date-box {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        margin-top: 2rem;
        > .date {
          @include flex(row, flex-start, center);
          &::after {
            content: '';
            display: block;
            width: 1px;
            height: 1.2rem;
            margin: 0 1.6rem;
            background-color: $color_bfb;
          }
          + .date {
            &::after {
              display: none;
            }
          }
          .label {
            margin-right: 1.6rem;
            white-space: nowrap;
            @include font(1.4rem, 400, $color_bfb, normal, 0);
          }
          .data {
            @include font(1.4rem, 400, $color_7f7, normal, 0);
          }
        }
      }

      .answer-box {
        .answer {
          @include flex(row, flex-start, flex-start);
          @include font(1.6rem, 400, $color_353, normal, 0);
          &::before {
            content: 'A';
            margin-top: -0.2rem;
            margin-right: 1.6rem;
            @include font(2rem, 700, $primary, normal, 0);
          }
        }
      }

      .evaluation-box {
        @include flex(row, flex-start, center);
        margin-top: 2.8rem;
        padding-left: 3rem;
        .label {
          @include font(1.4rem, 400, $primary, normal, 0);
        }
      }

      .rate-box {
        @include flex(row, flex-start, center);
        margin-left: 1.6rem;
        @include font(1.4rem, 500, $primary, normal, 0);
        &::before {
          content: '';
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          margin-right: 0.4rem;
          background: asset-image('ic_star.svg') no-repeat center / 1.6rem;
        }
      }
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .accordion-container {
        &.normal {
          .accordion-list {
            .accordion-item {
              border-radius: 0.4rem;
              .accordion-content {
                .content-top {
                  flex-direction: row;
                  justify-content: flex-start;
                  height: 5.6rem;
                  padding: 1.2rem 1.6rem;
                }

                .content-bottom {
                  height: 27rem;
                  padding: 1.6rem 0.8rem 1.6rem 1.5rem;
                  .answer-box {
                    padding: 0;
                  }
                }
              }
              .btn-collapse {
                top: 1.2rem;
                width: 3.2rem;
                height: 3.2rem;
                background-size: 3.2rem;
              }
            }
          }
        }

        .accordion-list {
          .accordion-item {
            &.active {
              .accordion-content {
                .btn-collapse {
                  transform: rotate(0);
                }
              }
            }
            .btn-collapse {
              right: 1.6rem;
              top: 2rem;
              width: 1.8rem;
              height: 1.8rem;
              background-size: 1.8rem;
              transform: rotate(180deg);
            }

            .content-top-left {
              width: auto;
            }

            .content-top-right {
              margin-top: 2rem;
              width: 100%;
            }

            .question-box {
              font-size: 1.4rem;
              &::before {
                margin-right: 0.4rem;
                font-size: 1.6rem;
              }
            }

            .answer-box {
              .answer {
                font-size: 1.4rem;
                color: $black;
                white-space: normal;
                word-break: keep-all;
              }
            }

            .accordion-content {
              .content-top {
                flex-direction: column;
                padding: 2rem;
              }
              .content-bottom {
                height: auto;
                padding: 2.3rem 2rem 2rem 2rem;
                .content-image-box {
                  img {
                    display: block;
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }

            .title-box {
              align-items: flex-start;
              .title {
                p {
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  white-space: normal;
                  text-overflow: ellipsis;
                  @include font(1.6rem, 700, $black, normal);
                }
              }
            }

            .date-box {
              > .date {
                .label {
                  margin-right: 0.6rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
