.breadcrumb-container {
  border-top: 1px solid $color_f2f;
  border-bottom: 1px solid $color_f2f;
  .backbutton-box {
    display: none;
  }
  .breadcrumb-area {
    @include flex(row, space-between, center);
    width: $contentSize;
    height: 5.2rem;
    margin: 0 auto;

    .page-title-box {
      @include font(1.6rem, 500, $black, normal);
    }
  }
}

.breadcrumb {
  @include flex(row, flex-start, center);
  .breadcrumb-list {
    @include flex(row, flex-start, center);
    @include font(1.4rem, 500, $color_7f7, normal);
    + .breadcrumb-list {
      &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        background: asset-image('ic_more_w.svg') no-repeat center / 2rem;
      }
    }
    a {
      color: $color_7f7;
    }
  }
}


@media #{$tablet} {
  .breadcrumb-container {
    .breadcrumb-area {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .breadcrumb-container {
        z-index: 99;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        padding: 0 1.6rem;
        background-color: $white;
        .breadcrumb-area {
          position: relative;
          justify-content: center;
          .page-title-box {
            @include font(1.8rem, 500, $black, normal);
          }
        }
    
        .backbutton-box {
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          .btn-back {
            display: block;
            width: 3.2rem;
            height: 3.2rem;
            background: asset-image('ic_back_arrow.svg') no-repeat center / 3.2rem;
          }
        }
    
        .breadcrumb {
          display: none;
        }
      }
    }
  }
}