.dropdown-container {
  display: inline-block;
  &.disabled {
    .btn-dropdown {
      cursor: default;
      background-color: $color_f2f !important;
      border-color: $color_ddd !important;
      &::after {
        background: asset-image('ic_combobox_b_arrow_dim.svg') no-repeat center / 2.4rem !important;
      }
      .text,
      .placeholder {
        color: $color_bfb !important;
      }
    }
    .dropdown-list-container {
      display: none !important;
    }
  }

  &.show {
    &:not(.disabled) {
      .btn-dropdown {
        border-color: $primary;
      }
      .btn-dropdown {
        &:after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .dropdown-list-container {
        display: block;
      }
    }
  }

  // Size
  &.dropdown-small {
    width: 24.3rem;
    .btn-dropdown {
      padding: 0.8rem 3.8rem 0.8rem 1.4rem;
      &::after {
        right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        background: asset-image('ic_dropdown_arrow_s.svg') no-repeat center / 2.4rem;
      }
      .text,
      .placeholder {
        @include font(1.4rem, 500, $color_353, 1.7rem);
      }
      .placeholder {
        color: $color_bfb;
      }
    }
  }
  &.dropdown-medium {
    width: 22.1rem;
    .btn-dropdown {
      padding: 1.4rem 3.4rem 1.4rem 1.6rem;
      &::after {
        right: 1.6rem;
        width: 1.8rem;
        height: 1.8rem;
        background: asset-image('ic_dropdown_arrow_m.svg') no-repeat center / 1.8rem;
      }
      .text,
      .placeholder {
        @include font(1.6rem, 500, $color_353, 1.9rem);
      }
      .placeholder {
        color: $color_bfb;
      }
    }
  }
  &.dropdown-large {
    width: 39.2rem;
    .btn-dropdown {
      padding: 1.8rem 6.4rem 1.8rem 1.6rem;
      &::after {
        right: 1.6rem;
        width: 3.2rem;
        height: 3.2rem;
        background: asset-image('ic_dropdown_arrow_l.svg') no-repeat center / 3.2rem;
      }
      .text {
        @include font(1.6rem, 400, $black, normal);
      }
      .placeholder {
        @include font(1.6rem, 400, $color_bfb, normal);
      }
    }
    .dropdown-list-container {
      border-radius: 0.4rem;
    }
  }

  .dropdown-top {
    position: relative;
  }

  .btn-dropdown {
    position: relative;
    width: 100%;
    border: 1px solid $color_ddd;
    border-radius: 0.4rem;
    background-color: $white;
    text-align: left;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .dropdown-title-box {
    display: none;
  }

  .dropdown-list-confirm {
    display: none;
  }

  .dropdown-list-container {
    display: none;
    z-index: 99;
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    padding: 0.8rem 0 1.2rem 0;
    background-color: $white;
    border: 1px solid $color_dcd;
    border-radius: 0.2rem;
    .dropdown-list {
      cursor: pointer;
      padding: 0.5rem 2rem;
      @include font(1.4rem, 400, $color_646, normal);
      &.active {
        color: $primary;
      }
      &:hover {
        background-color: $color_faf;
      }
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .dropdown-container {
        &.show {
          &:not(.disabled) {
            .dropdown-list-container {
              @include flex(column, flex-end, center);
            }
          }
        }
        &.dropdown-large {
          width: 100%;
          .dropdown-list-container {
            border-radius: 0;
          }
        }

        .dropdown-list-confirm {
          display: block;
          width: 100%;
          padding: 2rem;
          .btn-confirm {
            width: 100%;
            height: 5rem;
          }
        }

        .dropdown-list-container {
          z-index: 9998;
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          border-radius: 0;
          background-color: transparent;
          transform: none;
          &::before {
            content: '';
            z-index: 11;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.15);
          }

          .dropdown-list-area {
            z-index: 12;
            @include flex(column, flex-start, flex-start);
            position: relative;
            overflow-y: auto;
            width: 100%;
            max-height: 80vh;
            border-radius: 1rem 1rem 0 0;
            background-color: $white;
            animation: bottomShow 0.3s;
          }

          .dropdown-title-box {
            display: block;
            position: relative;
            width: 100%;
            padding: 2.4rem 2rem;
            @include font(2rem, 700, $black, normal);
            .btn-dropdown-close {
              position: absolute;
              top: 50%;
              right: 2rem;
              transform: translateY(-50%);
              width: 2.4rem;
              height: 2.4rem;
              background: asset-image('ic_popup_close.svg') no-repeat center / 2.4rem;
            }
          }

          .dropdown-list-box {
            z-index: 12;
            position: relative;
            overflow-y: auto;
            width: 100%;
            max-height: 80vh;
            padding: 0 0 1.6rem;
            &.chckbox {
              padding-bottom: 0;
            }
          }

          .dropdown-list {
            @include flex(row, space-between, center);
            padding: 1.6rem 2rem;
            @include font(1.6rem, 400, $black, normal);
            &:hover {
              background-color: transparent;
            }
            &.active {
              &::after {
                content: '';
                display: block;
                width: 2.4rem;
                height: 2.4rem;
                background: asset-image('ic_dropdown_sel.svg') no-repeat center / 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}
