.footer-container {
  border-top: 1px solid $color_f2f;
  .footer-area {
    @include flex(row, space-between, flex-start);
    width: $contentSize;
    margin: 0 auto;
    padding: 30px 0;
  }
}

.footer-lists {
  margin-bottom: 1rem;
  @include flex(row, flex-start, center);
  .footer-list {
    @include flex(row, flex-start, center);
    + .footer-list {
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 0.8rem;
        margin: 0 0.5rem;
        background-color: $color_dcd;
      }
    }
    .link-box {
      @include font(1.1rem, 400, $color_7f7, normal);
    }
  }
}

.address-box {
  margin-bottom: 1rem;
  @include font(1rem, 400, $color_7f7, normal);
}

.copylight-box {
  @include font(1.1rem, 400, $color_7f7, normal);
}

@media #{$tablet} {
  .footer-container {
    .footer-area {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .footer-container {
        border: 0;
        .footer-area {
          display: none;
        }
      }
    }
  }
}