.header-container {
  width: 100%;
  background-color: $white;
  &.tenant,
  &.tenant2 {
    & + .content-container {
      border-top: 1px solid $color_e4e;
    }
  }
}
.header-top-container {
  border-bottom: 1px solid $color_e4e;
  .header-top-area {
    @include flex(row, space-between, center);
    width: $contentSize;
    margin: 0 auto;
    height: 4rem;
    .header-top-left {
      height: inherit;
    }
  }

  .button-box {
    @include flex(row, flex-start, center);
    height: inherit;
    .btn-go-to-page {
      height: inherit;
      @include flex(row, flex-start, center);
      @include font(1.2rem, 700, $primary, normal);
      &::before {
        content: '';
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        background: asset-image('ico_search.svg') no-repeat center / 1.6rem;
      }
      span {
        position: relative;
        &::before {
          content: '';
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 1px;
          margin-top: 0.2rem;
          background-color: $primary;
        }
      }
    }
  }

  .tooltip-container {
    .ic-tooltip {
      width: 1.6rem;
      height: 1.6rem;
      background: asset-image('ic_header_tooltip.svg') no-repeat center / 1.6rem;
    }

    .tooltip-box {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.header-bottom-container {
  .header-bottom-area {
    @include flex(row, space-between, center);
    width: $contentSize;
    margin: 0 auto;
  }
  .header-logo-box {
    @include flex(row, flex-start, center);
    height: 5.6rem;
  }
}

.search-box {
  @include flex(row, flex-start, center);
  height: inherit;
  .building-name-box {
    @include flex(row, center, center);
    height: inherit;
    margin-right: 1rem;
    padding: 0 1.2rem;
    border-left: 1px solid $color_e4e;
    border-right: 1px solid $color_e4e;
    @include font(1.2rem, 700, $color_353, normal, -0.05rem);
  }

  .building-select-box {
    margin-right: 1rem;
    .dropdown-container {
      width: auto;
      min-width: 12.4rem;
      max-width: 25.9rem; // 16자
      .btn-dropdown {
        height: 4rem;
        padding: 0 4rem 0 1.2rem;
        border: 0;
        border-left: 1px solid $color_e4e;
        border-right: 1px solid $color_e4e;
        border-radius: 0;
        @include font(1.2rem, 700, $color_353, normal);
        @include ellipsis;
        &:after {
          width: 2rem;
          height: 2rem;
          background: asset-image('ic_header_arrow.svg') no-repeat center / 2rem;
        }
      }
      .dropdown-list-container {
        left: 0;
        transform: none;
      }
      .dropdown-list {
        white-space: nowrap;
      }
    }
  }
}

.header-menu-lists {
  @include flex(row, flex-start, center);
  .header-menu-list {
    + .header-menu-list {
      @include flex(row, flex-start, center);
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 1rem;
        margin: 0 1rem;
        background-color: $color_ebe;
      }
    }
  }
}

.user-box {
  @include flex(row, flex-start, center);
  .user-name-box {
    @include font(1.2rem, 500, $color_353, 1.4rem);
  }

  .button-box {
    margin-left: 1rem;
    .btn-edit {
      height: 2rem;
      padding: 0 0.6rem;
      @include font(1rem, 500, $color_353, 1.8rem);
    }
  }
}

.link-box {
  .btn-mgmt {
    @include font(1.2rem, 500, $color_353, 1.4rem);
    text-decoration: underline;
    text-underline-position: under;
  }
}

.logout-box {
  .btn-text {
    @include font(1.2rem, 500, $color_353, 1.4rem);
  }
}

.login-box {
  @include flex(row, flex-start, center);
  .guide {
    margin-right: 1rem;
    @include font(1.2rem, 500, $color_bfb, normal);
  }
}

.menu-button-box {
  .btn-menu {
    width: 3.2rem;
    height: 2.4rem;
    background: asset-image('ic_hamburger.svg') no-repeat center / 3.2rem 2.4rem;
  }
}

@media #{$tablet} {
  .header-top-container {
    .header-top-area {
      width: 100%;
      padding: 0 2rem;
    }
  }

  .header-bottom-container {
    .header-bottom-area {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .header-container {
        display: none;
      }
    }
  }
}
