.menu-container {
  z-index: 9998;
  display: none;
  position: fixed;
  top: 9.8rem;
  bottom: 0;
  right: 0;
  width: 36rem;
  padding: 4rem;
  background-color: $white;
  border-top: 1px solid $color_e4e;
  border-left: 1px solid $color_e4e;
  &.active {
    display: block;
  }
  
  .menu-area {
    height: 100%;
  }

  .menu-top {
    @include flex(row, space-between, center);
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;
    border-bottom: 1px solid $color_e4e;
    .menu-title-box {
      @include font(2rem, 700, $black, normal);
    }

    .btn-menu-close {
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      background: asset-image('ic_closehamburger.svg') no-repeat center / 3.2rem;
    }
  }
  
  .menu-lists {
    .menu-list {
      + .menu-list {
        margin-top: 2.4rem;
      }

      &.active {
        .depth-1-box {
          .name {
            &::after {
              transform: rotate(180deg);
            }
          }
        }

        .depth-2-box {
          display: block;
        }
      }
      
      .depth-1-box {
        .name {
          @include flex(row, space-between, center);
          width: 100%;
          @include font(1.8rem, 500, $black, 3.2rem);
          text-align: left;
          &::after {
            content: '';
            display: block;
            width: 3.2rem;
            height: 3.2rem;
            background: asset-image('ic_list_down.svg') no-repeat center / 3.2rem;
          }
        }
      }

      .depth-2-box {
        display: none;
      }

      .depth-2-menu-lists {
        padding: 2.4rem 0 1.6rem;
        .depth-2-menu-list {
          + .depth-2-menu-list {
            margin-top: 1.6rem;
          }
          .link {
            padding: 0 1.6rem;
            @include font(1.6rem, 500, $black, normal);
            &.active {
              color: $primary;
            }
          }
        }
      }
    }
  }
}