.pagination,
.pager {
  @include flex(row, flex-start, center);
  > * {
    margin-left: 0.4rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
.pagination {
  .pager {
    @include flex(row, center, center);
  }
  > .page {
    border-radius: 0.2rem;
    border: 1px solid $color_dcd;
    background-color: $white !important;
    &:hover {
      &:not(:disabled) {
        background-color: #eaf2fd !important;
      }
    }
  }
  .page {
    width: 2.6rem;
    height: 2.6rem;
    @include font(1.4rem, 500, $color_9b9, normal);
    &.page-first {
      background: asset-image('ic_page_first_nor.svg') no-repeat center / 2.6rem;
    }
    &.page-prev {
      background: asset-image('ic_page_prev_nor.svg') no-repeat center / 2.6rem;
    }
    &.page-next {
      background: asset-image('ic_page_next_nor.svg') no-repeat center / 2.6rem;
    }
    &.page-last {
      background: asset-image('ic_page_last_nor.svg') no-repeat center / 2.6rem;
    }
    &:disabled {
      &.page-first {
        background: asset-image('ic_page_first_dis.svg') no-repeat center / 2.6rem;
      }
      &.page-prev {
        background: asset-image('ic_page_prev_dis.svg') no-repeat center / 2.6rem;
      }
      &.page-next {
        background: asset-image('ic_page_next_dis.svg') no-repeat center / 2.6rem;
      }
      &.page-last {
        background: asset-image('ic_page_last_dis.svg') no-repeat center / 2.6rem;
      }
    }
    &.current {
      color: $color_222;
    }
    &:hover {
      &:not(.current, :disabled) {
        color: $color_222;
      }
    }
  }
}
