.quick-menu-container {
  position: fixed;
  right: 50%;
  top: 28rem;
  transform: translateX(76.6rem);
  width: fit-content;
}
.quick-menu-list-box {
  width: 9.8rem;
  padding: 2.4rem 2rem 3.4rem 2rem;
  border: 1px solid $color_c4c;
  border-radius: 1.2rem;
  background-color: $white;
  box-shadow: 0 4px 16px rgba(100, 110, 122, 0.15);
  .quick-menu-list {
    margin-top: 1.6rem;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.btn-quick-menu {
  @include flex(column, flex-start, center);
  position: relative;
  &.new {
    &::before {
      content: 'N';
      @include flex(row, center, center);
      position: absolute;
      top: 0.4rem;
      right: 0.7rem;
      width: 1.6rem;
      height: 1.6rem;
      background-color: $primary;
      border-radius: 50%;
      @include font(0.9rem, 700, $white, normal);
    }
  }
  .quick-menu-img-box {
    img {
      display: block;
    }
  }
  .quick-menu-text-box {
    @include font(1.2rem, 700, $black, normal);
    text-align: center;
  }
}

@media screen and (max-width: 1600px) {
  .quick-menu-container {
    display: none;
  }
}