.table-box {
  overflow-x: auto;
  margin-bottom: -25rem;
  padding-bottom: 25rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $color_bfb;
    border-radius: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  .table {
    table-layout: fixed;
    min-width: 100%;
    padding: 0 2rem;
    border-top: 0.2rem solid $color_333;
    border-bottom: 1px solid $color_ebe;
    background-color: $white;

    th,
    td {
      &:first-child {
        padding-left: 4rem;
      }
      &:last-child {
        padding-right: 4rem;
      }
    }

    th {
      padding: 1.6rem 2rem;
      background-color: $color_faf;
      @include font(1.6rem, 500, $color_353, normal, 0);
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
    }

    thead {
      tr {
        + tr {
          border-top: 1px solid $color_ebe;
        }
      }
    }

    tbody {
      tr {
        &.fix-data {
          + tr {
            border-color: $color_b4b;
          }
        }
        &.active {
          background-color: #d5e6fd;
        }
        &:hover {
          &:not(.active) {
            background-color: #eaf2fd;
          }
        }
        + tr {
          border-top: 1px solid $color_ebe;
        }
      }
      td {
        max-width: 53rem;
        padding: 0 2rem;
        height: 6.4rem;
        text-align: center;
        vertical-align: middle;
        .text-box {
          @include font(1.6rem, 400, $color_353, 1.9rem, 0);
          @include ellipsis();
          .empty {
            color: $color_c4c;
          }
        }

        .link-box {
          .link {
            @include font(1.6rem, 400, $color_353, 1.9rem, 0);
            @include ellipsis();
          }
        }

        .button-box {
          .btn {
            height: 3.4rem;
            font-size: 1.6rem;
            line-height: 3.4rem;
            white-space: nowrap;
          }
        }

        .dropdown-box {
          .dropdown-container {
            width: auto;
            .btn-dropdown {
              padding: 0.2rem 1.8rem 0.2rem 0.7rem;
              white-space: nowrap;
              &::after {
                width: 1.8rem;
                height: 1.8rem;
                right: 0.2rem;
              }
              .text,
              .placeholder {
                line-height: 2rem;
              }
            }
            .dropdown-list {
              white-space: nowrap;
            }
          }
        }

        .rate-box {
          @include flex(row, center, center);
          @include font(1.6rem, 400, $primary, 1.9rem, 0);
          &::before {
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            margin-right: 0.4rem;
            background: asset-image('ic_star.svg') no-repeat center / 2rem;
          }
        }

        .file-box {
          .download {
            @include flex(row, center, center);
            @include font(1.6rem, 400, $black, normal);
            &::before {
              content: '';
              display: inline-block;
              width: 2.4rem;
              height: 2.4rem;
              background: asset-image('ic_attached.svg') no-repeat center / 2.4rem;
            }
            span {
              margin-left: 0.4rem;
            }
          }
        }

        .text-button-box {
          .btn-text {
            @include flex(row, flex-start, center);
            @include font(1.6rem, 500, $primary, normal, 0);
            &::after {
              content: '';
              display: block;
              width: 2rem;
              height: 2rem;
              background: asset-image('ic_more_b.svg') no-repeat center / 2rem;
            }
          }
        }

        .input-box {
          input[type="text"] {
            width: calc(100% - 1.2rem);
            height: 3.4rem;
            padding: 0 1rem;
            @include font(1.4rem, 400, $color_353, normal);
          }
        }

        .badge-box {
          @include flex(row, center, center);
          .text {
            @include font(1.6rem, 400, $color_353, normal);
            &+.badge {
              min-width: 6rem;
              height: 2.4rem;
              margin-left: 1.2rem;
              font-size: 1.2rem;
              line-height: 2.4rem;
            }
          }
        }

        .empty-text-box {
          @include font(1.6rem, 400, $color_c4c, normal);
        }
      }
    }
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      .table-box {
        .table {
          th,
          td {
            padding: 1.6rem;
            &:first-child {
              padding: 1.6rem;
            }
          }
    
          th {
            font-size: 1.2rem;
          }
    
          tbody {
            tr {
              &:hover {
                &:not(.active) {
                  background-color: $white;
                }
              }
            }
            td {
              .text-box {
                font-size: 1.2rem;
              }
              .link-box {
                .link {
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}