.timepicker-box {
  position: relative;
  &.timepicker-large {
    .timepicker-input {
      input {
        width: 15.2rem;
        min-width: 15.2rem;
        height: 5.6rem;
        padding: 0 1.6rem;
        background-size: 3.2rem;
      }
    }
  }
  &.timepicker-small {
    .timepicker-input {
      input {
        width: 24.3rem;
        min-width: 24.3rem;
        height: 3.4rem;
        padding: 0 1rem;
        background-size: 2.4rem;
        background-position: calc(100% - 1rem);
        font-size: 1.4rem;
      }
    }
  }

  .timepicker-input {
    input {
      border-radius: 0.4rem;
      border: 1px solid $color_dcd;
      @include font(1.6rem, 400, $color_353, normal);
      background: $white asset-image('ic_clock.svg') no-repeat calc(100% - 1.6rem);
      &:focus {
        border-color: $primary;
        outline: none;
      }
      &:disabled {
        color: $color_bfb;
        background: $color_f2f asset-image('ic_clock_dis.svg') no-repeat calc(100% - 1.6rem);
      }
    }
  }

  .timepicker {
    display: none;
    width: 24.3rem;
    &.active {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      &.bottom {
        top: auto;
        bottom: 100%;
      }
    }
    .timepicker-picker-container {
      padding: 0.8rem 0;
    }

    .timepicker-picker {
      @include flex(row, space-between, flex-start);
      padding: 0.8rem;
      border: 1px solid $color_dcd;
      border-radius: 0.4rem;
      background-color: $white;
      .time {
        flex: 1;
        overflow: auto;
        @include flex(column, flex-start, center);
        max-height: 24.8rem;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera*/
        }

        + .time {
          margin-left: 0.4rem;
        }
        .list {
          display: block;
          width: 100%;
          height: 3.2rem;
          min-height: 3.2rem;
          border-radius: 0.4rem;
          border: 1px solid transparent;
          @include font(1.4rem, 400, $color_646, normal);
          &.active,
          &:hover {
            border-color: $primary;
            color: $primary;
          }
          + .list {
            margin-top: 0.4rem;
          }
        }
      }
    }
  }

  .timepicker-title-box {
    display: none;
  }

  .timepicker-button-box {
    display: none;
  }
}

// .picker {
//   .picker-dialog {
//     border: 0;
//     border-radius: 1rem 1rem 0 0;
//     .picker-header {
//       position: relative;
//       padding: 2.4rem 2rem;
//       .picker-title {
//         @include font(2rem, 700, $black, normal);
//       }
//       .picker-close {
//         top: 2.4rem;
//         right: 2rem;
//         width: 2.4rem;
//         height: 2.4rem;
//         background: asset-image('ic_popup_close.svg') no-repeat center / 2.4rem;
//         font-size: 0;
//       }
//     }

//     .picker-body {
//       padding: 8.7rem 0;
//     }

//     .picker-footer {
//       @include flex(row, space-between, center);
//       padding: 2rem;

//       button {
//         flex: 1;
//         height: 5rem;
//         @include font(1.6rem, 500, $color_353, normal);
//         border-radius: 0.4rem;
//         &.picker-cancel {
//           border: 1px solid $color_dcd;
//         }

//         &.picker-confirm {
//           margin-left: 0.8rem;
//           background-color: $primary;
//           color: $white;
//         }
//       }
//     }

//     .picker-grid {
//       @include flex(row, center, center);
//       .picker-cell {
//         display: block;
//       }
//     }
//   }

//   .picker-cell__body {
//     &:after,
//     &::before {
//       display: none;
//     }
//   }

//   .picker-cell {
//     &::before,
//     &::after {
//       display: none;
//     }
//   }

//   .picker-list {
//     // height: 19.3rem;
//     margin: 0;
//   }

//   .picker-item {
//     margin-top: 3.2rem;
//     padding: 0;
//     @include font(3.6rem, 400, $color_dcd, normal);
//     &:first-child {
//       // margin-top: -7.5rem;
//     }
//     &.picker-picked {
//       color: $primary;
//     }
//   }

//   .picker-cell {
//     + .picker-cell {
//       border-left: 0;
//       &::before {
//       }
//     }
//   }
// }

.m-timepicker-box {
  .timepicker-input {
    input {
      width: 100%;
      // min-width: 15.2rem;
      height: 5.6rem;
      padding: 0 1.6rem;
      border-radius: 0.4rem;
      border: 1px solid $color_dcd;
      background: $white asset-image('ic_clock.svg') no-repeat calc(100% - 1.6rem) / 3.2rem;
      @include font(1.6rem, 400, $color_353, normal);
      &:focus {
        border-color: $primary;
        outline: none;
      }
      &:disabled {
        color: $color_bfb;
        background: $color_f2f asset-image('ic_clock_dis.svg') no-repeat calc(100% - 1.6rem) / 3.2rem;
      }
    }
  }

  .timepicker {
    // display: none;
    z-index: 9998;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    &.active {
      // display: block;
      height: auto;
      overflow: visible;
      animation: bottomShow 0.3s;
    }
    .timepicker-container {
      position: relative;
      @include flex(column, flex-end, center);
      width: 100%;
      height: 100%;
      padding: 0;
      &::before {
        content: '';
        z-index: 11;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
      }
      .timepicker-area {
        z-index: 12;
        position: relative;
        width: 100%;
        background-color: $white;
        border-radius: 1rem 1rem 0px 0px;
      }
    }

    .picker {
      overflow: hidden;
      @include flex(row, center, center);
      height: 24rem;
      margin: 5.7rem 0;
      .separator-box {
        @include flex(column, center, center);
        margin: 0 2.4rem;
        .separator {
          @include font(3.6rem, 400, $primary, 4rem);
        }
      }

      .swiper-container {
        width: auto;
        height: 24rem;
        margin: 0;
        &.hours {
          width: 4.5rem;
          margin-left: 2.4rem;
        }

        &.minutes {
          width: 4.5rem;
        }

        .swiper-wrapper {
          display: block;
          .swiper-slide {
            @include flex(row, flex-end, center);
            height: auto;
            @include font(3.6rem, 400, $color_dcd, 4rem);
            white-space: nowrap;
            &:last-child {
              padding-bottom: 0;
            }
            &.hour,
            &.minute {
              width: 4.5rem;
            }
            &.swiper-slide-active {
              color: $primary;
            }
          }
        }
      }
    }
  }

  .timepicker-header {
    @include flex(row, space-between, center);
    padding: 2.4rem 2rem;

    .timepicker-title {
      @include font(2rem, 700, $black, normal);
    }

    .btn-timepicker-close {
      width: 2.4rem;
      height: 2.4rem;
      padding: 0;
      border: 0;
      background: asset-image('ic_popup_close.svg') no-repeat center / 2.4rem;
    }
  }

  .timepicker-bottom {
    .button-box {
      @include flex(row, space-between, center);
      padding: 2rem;
      .btn {
        flex: 1;
      }
    }
  }
}

@media #{$mobile} {
}
