// 말줄임
@mixin ellipsis($line: 1) {
  @if ($line > 1) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin font($size, $weight, $color, $height: normal) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $height;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;

  // Set flex //
  @if $direction==row {
    flex-direction: row;
  } @else if $direction==row-reverse {
    flex-direction: row-reverse;
  } @else if $direction==column {
    flex-direction: column;
  } @else if $direction==column-reverse {
    flex-direction: column-reverse;
  }

  // set justify-content //
  @if $justify==flex-start {
    justify-content: flex-start;
  } @else if $justify==flex-end {
    justify-content: flex-end;
  } @else if $justify==center {
    justify-content: center;
  } @else if $justify==space-between {
    justify-content: space-between;
  }

  // set align-items //
  @if $align==flex-start {
    align-items: flex-start;
  } @else if $align==flex-end {
    align-items: flex-end;
  } @else if $align==center {
    align-items: center;
  } @else if $align==stretch {
    align-items: stretch;
  } @else if $align==baseline {
    align-items: baseline;
  }
}

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
// set ir
@mixin ir($position, $opacity, $indent) {
  position: $position;
  opacity: $opacity;
  text-indent: $indent;
  font-size: 5px;
  word-break: break-all;
}

@mixin imgbox() {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
