// basic layout height size
$header: 6.4rem;
$header: 6.4rem;
$footer: 45.6rem;
//공통
$primary: #171717;
$secondary: #f4f3ed;

$tablet_1024: 'screen and (max-width: 1024px)';
$mobile_720: 'screen and (max-width: 720px)';
$mobile_480: 'screen and (max-width: 480px)';
$effective_device: '(hover: hover) and (pointer: fine) and (min-width: 1024px)';
