// basic layout height size
$header: 6.4rem;
$footer: 45.6rem;
//공통
$white: #fff;
$black: #000;
$color-primary: #8a54f7;
$color-secondary: #110138;
$color-gray-01: #181a1b; //메인텍스트
$color-gray-02: #666666; //서브텍스트
// 특정영역
