// basic layout height size
$header: 6.4rem;
$header: 6.4rem;
$footer: 45.6rem;
//공통
$primary: #bed0cf;
$secondary: #171717;
$third: #ececea;

$tablet_1000: 'screen and (max-width: 1000px)';
$mobile_720: 'screen and (max-width: 720px)';
$mobile_480: 'screen and (max-width: 480px)';
$effective_device: '(hover: hover) and (pointer: fine) and (min-width: 1000px)';
