// LG_Smart_UI
@font-face {
  font-family: "LG Smart";
  font-weight: 300;
  src: local("LG_Smart_UI-Light"), url("../fonts/LG_Smart_UI-Light.woff") format("woff");
}
@font-face {
  font-family: "LG Smart";
  font-weight: 400;
  src: local("LG_Smart_UI-Regular"), url("../fonts/LG_Smart_UI-Regular.woff") format("woff");
}
@font-face {
  font-family: "LG Smart";
  font-weight: 600;
  src: local("LG_Smart_UI-SemiBold"), url("../fonts/LG_Smart_UI-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "LG Smart";
  font-weight: 700;
  src: local("LG_Smart_UI-Bold"), url("../fonts/LG_Smart_UI-Bold.woff") format("woff");
}
@font-face {
  font-family: "LG Smart Condensed";
  font-weight: 400;
  src: local("LG_Smart_UI_Condensed-Regular"), url("../fonts/LG_Smart_UI_Condensed-Regular.ttf") format("truetype");
  unicode-range: U+0030-0039;
}
@font-face {
  font-family: "LG Smart Condensed";
  font-weight: 700;
  src: local("LG_Smart_UI_Condensed-Bold"), url("../fonts/LG_Smart_UI_Condensed-Bold.ttf") format("truetype");
  unicode-range: U+0030-0039;
}
@font-face {
  font-family: "LG Smart Condensed Common";
  font-weight: 400;
  src: local("LG_Smart_UI_Condensed-Regular"), url("../fonts/LG_Smart_UI_Condensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LG Smart Condensed Common";
  font-weight: 700;
  src: local("LG_Smart_UI_Condensed-Bold"), url("../fonts/LG_Smart_UI_Condensed-Bold.ttf") format("truetype");
}