/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"] {
  font-family: "LG Smart Condensed Common", "LG Smart", "Sans-serif";
  font-stretch: condensed;
}
.field-area {
  padding: 15px 10px 11px;
  .massage-box {
    align-items: flex-start;
    margin: 15px 0 0;
    padding: 0;
  }
}
.field {
  position: relative;
  min-height: 75.4px;
  margin-top: 25px;
  &:only-child {
    min-height: auto;
  }
  &:first-child {
    margin-top: 0;
  }
  .field-label {
    display: block;
    margin-bottom: 5px;
    @include font($font14, 400, $color-gray-505050, 1.1);
    text-transform: uppercase;
  }
}
.field-divide {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  .divide-area {
    width: 50%;
    &:last-child {
      margin-left: 10px;
    }

    .input {
      margin-bottom: 0;
    }
  }
}
.desc,
.error-desc {
  margin-top: 5px;
  @include font($font12, 400, $color-gray-757575);
}
.error-desc {
  color: $color-ce1c5e;
}
.error {
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  .dropdown-container .btn-open {
    border-color: $color-ce1c5e;
  }
}
.field-form {
  @include flex(row, flex-start, flex-start);
  margin: 0 -5px;
  .input,
  .dropdown-container {
    margin: 0 5px;
  }
}
.fix-bottom-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  .btn-more {
    width: 100%;
    height: 100%;
    padding: 18px 10px;
    border-top: 1px solid $color-gray-e9e9e9;
    @include font($font14, 600, $color-gray-757575, 1);
  }
}
.button-box {
  @include flex(row, flex-start, stretch);
  width: 100%;
  &.between-50 {
    flex-wrap: wrap;
    margin-top: 5px;
    .btn-border {
      min-width: 48%;
      margin-bottom: 5px;
      & + .btn-border {
        &:nth-child(even) {
          margin-left: 5px;
        }
      }
      & + .btn-border:before {
        content: "";
        width: 0;
        height: 0;
        display: none;
      }
    }
  }
  .btn {
    & + .btn {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 26px;
        background-color: #989898;
      }
    }
  }
}
.btn {
  position: relative;
  flex: 1;
  min-width: 80px;
  // height: 56px;
  padding: 18px 10px;
  background-color: $color-gray-141414;
  @include font($font18, 400, $color-white);
  text-transform: uppercase;
  &:active {
    background-color: $color-gray-252525;
  }
  &:disabled {
    background-color: $color-gray-141414;
    cursor: default;
    & > span,
    & > * {
      opacity: 0.3;
    }
  }
  &.btn-icon-like {
    max-width: 19.15%;
    background: $color-gray-141414 asset-image("icon_favorite_nor.png") no-repeat center/28px;
    &.active {
      background: $color-gray-141414 asset-image("icon_favorite_sel.png") no-repeat center/28px;
    }
    &:disabled {
      background: $color-gray-141414 asset-image("icon_favorite_dim.png") no-repeat center/28px;
    }
    &::after {
      content: "";
      display: block;
      padding: 9px;
    }
  }
  &.btn-medium {
    padding: 11px 7px;
    @include fontSize($font16);
  }
  &.btn-small {
    padding: 7px;
    @include fontSize($font14);
  }
  &.btn-layer {
    width: 100%;
    background-color: $color-white;
    color: $color-gray-141414;
    text-transform: none;
    &.selected {
      background-color: $color-gray-141414;
      font-weight: 600;
      color: $color-white;
      text-decoration: underline;
      &:active {
        background-color: $color-gray-141414;
        color: $color-white;
      }
    }
    &:active {
      background-color: $color-gray-e4e4e4;
    }
    &:disabled {
      background-color: #eeeeee;
      color: $color-gray-757575;
      text-decoration: line-through;
    }
  }
  &.btn-coupon {
    @include flex(row, center, center);
    max-width: 163px;
    height: 38px;
    padding: 0 8px;
    border: 1px solid $color-gray-141414;
    background-color: $color-white;
    border-radius: 2px;
    color: $color-gray-141414;
    font-weight: 600;
    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 2px;
      background: asset-image("ic_download_small.png") no-repeat center/cover;
      vertical-align: middle;
    }
  }
  &.btn-delete {
    padding: 8px 7px;
    @include fontSize($font14);
  }
  &.btn-border {
    border: 1px solid #141414;
    background-color: #fff;
    color: #141414
  }
}

.btn-more {
  @include flex(row, center, center);
  @include font($font14, 500, $color-gray-757575, 1.1);
  text-transform: uppercase;
  &.active {
    &:after {
      transform: rotate(180deg);
    }
  }
  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    background: asset-image("icon_more_nor.png") no-repeat center/contain;
  }
  .plus {
    display: block;
    margin: 0 3px;
    color: $color-ce1c5e;
  }
}

/* Input */
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"] {
  width: 100%;
  height: 32px;
  padding: 0 28px 4px 0;
  border: none;
  border-bottom: 1px solid $color-gray-757575;
  outline-offset: 0;
  @include font($font16, 600, $color-gray-141414);
  box-sizing: border-box;
  caret-color: $color-ce1c5e;
  &::placeholder {
    @include font($font16, 400, $color-gray-757575);
  }
}
.input--readonly {
  opacity: 1;
  padding: 0 10px;
  background-color: $color-gray-f0f0f0;
  border-bottom-color:  $color-gray-f0f0f0;
  color: $color-gray-505050;
}
.input {
  flex: 1;
  display: block;
  position: relative;
  margin-bottom: 5px;
  &.disabled, 
  &.readonly {
    .btn-icon-clear {
      display: none;
    }
    input {
      @extend .input--readonly;
    }
  }
  input {
    &:disabled, 
    &:read-only, 
    &.readonly {
      @extend .input--readonly;
    }
  }
  [class*="btn-"] {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.field-box {
  position: relative;
  flex: 1;
  input {
    padding-right: 113px;
  }
  .btn-icon-clear {
    right: 80px;
    margin-right: 8px;
  }
  .btn-small {
    position: absolute;
    top: 3%;
    right: 0;
  }
}
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
}
legend {
  overflow: hidden;
  height: 0;
  @include ir(relative, 0, 0);
}
/* textarea */
textarea {
  appearance: none;
  width: 100%;
  margin: 0;
  outline-offset: 0;
  box-sizing: border-box;
  border: none;
  resize: none;
}
/* Checkbox */
input[type="checkbox"] {
  opacity: 0;
  &:checked {
    + .check-icon {
      &:before {
        background: asset-image("icon_checkbox_sel.png") no-repeat center / 24px;
      }
    }
    &:disabled {
      cursor: default;
      + .check-icon {
        &:before {
          background: asset-image("icon_checkbox_dim.png") no-repeat center / 24px;
        }
      }
    }
  }

  &:disabled {
    + .check-icon {
      &:before {
        background: asset-image("icon_checkbox_dim.png") no-repeat center / 24px;
      }
    }
  }

  + .check-icon {
    @include flex(row, flex-start, center);
    @include font($font14, 400, $color-gray-141414, 1.2);
    &:before {
      content: "";
      flex-shrink: 0;
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 7px;
      background: asset-image("icon_checkbox_nor.png") no-repeat center / 24px;
      -webkit-transition: background 0.25s;
      -moz-transition: background 0.25s;
      -ms-transition: background 0.25s;
      -o-transition: background 0.25s;
      transition: background 0.25s;
    }
  }
}
.checkbox {
  position: relative;
}
/* radio */
.radio {
  @include flex(row, flex-start, center);
}
input[type="radio"] {
  &:checked {
    + .radio-icon {
      &:before {
        background: asset-image("btn_radio_sel.png") no-repeat center / 24px;
      }
    }
    &:disabled {
      + .radio-icon {
        &:before {
          background: asset-image("btn_radio_dim.png") no-repeat center / 24px;
        }
      }
    }
  }

  &:disabled {
    + .radio-icon {
      &:before {
        background: asset-image("btn_radio_dim.png") no-repeat center / 24px;
      }
    }
  }

  + .radio-icon {
    @include flex(row, flex-start, center);
    &:before {
      content: "";
      flex-shrink: 0;
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background: asset-image("btn_radio_nor.png") no-repeat center / 24px;
      -webkit-transition: background 0.3s;
      -moz-transition: background 0.3s;
      -ms-transition: background 0.3s;
      -o-transition: background 0.3s;
      transition: background 0.3s;
    }
  }
}
/* Dropdown */
.dropdown-container {
  @include flex(row, flex-start, center);
  width: 100%;
  .dropdown-area {
    flex: 1;
    position: relative;
    max-width: 100%;
    height: 38px;
    cursor: pointer;
    outline: none;
    transition: all 0.25s;
    &.active {
      .dropdown-list {
        display: block;
      }
      .btn-open {
        &:after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }
  .btn-open {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 30px 10px 10px;
    border: 1px solid $color-gray-ababab;
    text-align: left;
    outline: none;
    outline-offset: 0;
    box-sizing: border-box;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 10px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%) rotate(0);
      background: asset-image("icon_dropdown_nor.png") no-repeat center / cover;
      transition: all 0.25s;
    }
    select {
      display: none;
    }
    span {
      @include font($font16, 400, $color-gray-757575);
      &.filled {
        color: $color-gray-141414;
      }
    }
    &:disabled {
      border-color: $color-gray-ababab;
      cursor: default;
      span {
        font-weight: 600;
        color: $color-gray-141414;
      }
    }
  }
  .dropdown-list {
    display: none;
    overflow-y: auto;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 108px;
    background-color: $color-white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  }
  .option {
    display: block;
    width: 100%;
    padding: 10px 50px 10px 10px;
    @include font($font16, 400, $color-gray-141414);
    text-align: left;
    &:disabled {
      color: rgba(136, 136, 136, 0.8);
      cursor: default;
    }
    &[title="selected"] {
      font-weight: 600;
    }
  }
}
// switch
.field-switch {
  @include flex(row, space-between, center);
  .field-label {
    margin-bottom: 0;
    @include font($font16, 600, $color-gray-141414);
  }
  input {
    &:checked {
      & + .slider {
        background: asset-image("btn_toggle_on.png") no-repeat center/cover;
      }
    }
  }
  .slider {
    display: block;
    width: 48px;
    height: 26px;
    margin-left: auto;
    background: asset-image("btn_toggle_off.png") no-repeat center/cover;
    transition: 0.1s ease;
  }
}

@media screen and (max-width: 340px) {
  .btn {
    @include fontSize($font15);
    &.btn-layer {
      @include fontSize($font16);
    }
  }
}
