/* Noto Sans KR - 300 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans KR'),
      url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
      url('../fonts/NotoSansKR-Light.woff') format('woff'),
      url('../fonts/NotoSansKR-Light.otf') format('opentype')
}

/* Noto Sans KR - 400 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
      url('../fonts/NotoSansKR-Regular.woff') format('woff'),
      url('../fonts/NotoSansKR-Regular.otf') format('opentype')
}

/* Noto Sans KR - 500 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
      url('../fonts/NotoSansKR-Medium.woff') format('woff'),
      url('../fonts/NotoSansKR-Medium.otf') format('opentype')
}

/* Noto Sans KR - 700 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR'),
      url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
      url('../fonts/NotoSansKR-Bold.woff') format('woff'),
      url('../fonts/NotoSansKR-Bold.otf') format('opentype')
}