@charset "utf-8";

/* font */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("NotoSans Bold"),
    url("./assets/fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NotoSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/NotoSans-Bold.woff") format("woff"),
    url("./assets/fonts/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("NotoSans Medium"),
    url("./assets/fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NotoSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/NotoSans-Medium.woff") format("woff"),
    url("./assets/fonts/NotoSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NotoSans Regular"),
    url("./assets/fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/NotoSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/NotoSans-Regular.woff") format("woff"),
    url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
}

/* Reset */
:root {
  overflow-wrap: break-word;
  word-break: break-word;
}

/* Webkit 기반 브라우저 (Chrome, Safari 등) */
::-webkit-scrollbar {
  width: 7px;
  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* 스크롤바의 배경색 */
}

::-webkit-scrollbar-thumb {
  background: #aaa9a9;
  /* 스크롤바 채워진 부분의 색상 */
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
  /* 사용자가 스크롤바에 마우스를 올렸을 때의 색상 */
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
hr,
html,
iframe,
legend,
ol,
ul,
li,
p,
textarea {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 10px;
  color: #333333;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  /* outline: 0; */
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Noto Sans', sans-serif;
  vertical-align: middle;
}

button,
a {
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

button:disabled,
input:disabled {
  cursor: default;
}

input,
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

input:is([type="checkbox"], [type="radio"]):checked:disabled {
  opacity: initial;
  background-color: rgba(255, 255, 255, 0);
}

input:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {

  button,
  input {
    outline: none;
  }

  a {
    outline: none;
  }
}