  <%- include('./include/head.ejs',{"title": "OJT 과제 : 레이아웃", "listTitle": "레이아웃 : 레이아웃"})%>
  <body data-pagestatus="new : 24.12.16">
    <div class="wrap wrap_step_07">
      <!-- Contents -->
      <main class="main">
        <section class="content_container">
          <div class="content_top">
            <h1 class="content_title">STEP07</h1>
            <p class="content_desc">width : 유동 / 여백 : 고정 / 갯수 줄이면 자동으로 width 조정</p>
          </div>
          <div class="content_middle">
            <!-- Inline-block -->
            <div class="content_area content_01">
              <div class="wrap">
                <%- include('include/layout.ejs',{
                  contentBox : [
                    {text : '테스트'}
                  ]
                }) %>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Inline-block</p>
                </div>
              </div>
            </div>
            <!-- // Inline-block -->
            <!-- Table -->
            <div class="content_area content_02">
              <div class="content_box">
                <p class="content_text">Table</p>
              </div>
              <div class="content_box">
                <p class="content_text">Table</p>
              </div>
            </div>
            <!-- // Table -->
            <!-- Float -->
            <div class="content_area content_03">
              <div class="content_box">
                <p class="content_text">Float</p>
              </div>
              <div class="content_box">
                <p class="content_text">Float</p>
              </div>
            </div>
            <!-- // Float -->
            <!-- Flex -->
            <div class="content_area content_04">
              <div class="content_box">
                <p class="content_text">Flex</p>
              </div>
              <div class="content_box">
                <p class="content_text">Flex</p>
              </div>
            </div>
            <!-- // Flex -->
            <!-- Grid -->
            <div class="content_area content_05">
              <div class="content_box">
                <p class="content_text">Grid</p>
              </div>
              <div class="content_box">
                <p class="content_text">Grid</p>
              </div>
            </div>
            <!-- // Grid -->
            <!-- Position -->
            <div class="content_area content_06">
              <div class="content_box">
                <p class="content_text">Position</p>
              </div>
              <div class="content_box">
                <p class="content_text">Position</p>
              </div>
            </div>
            <!-- // Position -->
          </div>
        </section>
      </main>
      <!-- // Contents -->
    </div>
    
    <%-include('./include/script.ejs')%>
  </body>
</html>
