 <%-include('./include/head.ejs',{"title": "OJT 과제 : 레이아웃", "listTitle": "STEP-07 : 레이아웃"})%>
  <body data-pagestatus="new : 24.12.18">
    <div class="wrap wrap_step_07">
      <!-- Contents -->
      <main class="main">
        <section class="content_container">
          <div class="content_top">
            <h1 class="content_title">STEP07</h1>
            <p class="content_desc">width : 유동 / 여백 : 고정 / 갯수 줄이면 자동으로 width 조정</p>
          </div>
          <div class="content_middle">
            <!-- Table -->
            <div class="content_area content_table">
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Table</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Table</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Table</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Table</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Table</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Table</p>
                </div>
              </div>
            </div>
            <!-- // Table -->
            <!-- Flex -->
            <div class="content_area content_flex">
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Flex</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Flex</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Flex</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Flex</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Flex</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Flex</p>
                </div>
              </div>
            </div>
            <!-- // Flex -->
            <!-- Grid -->
            <div class="content_area content_grid">
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Grid</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Grid</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Grid</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Grid</p>
                </div>
                <div class="content_box">
                  <p class="content_text">Grid</p>
                </div>
              </div>
              <div class="content_inner">
                <div class="content_box">
                  <p class="content_text">Grid</p>
                </div>
              </div>
            </div>
            <!-- // Grid -->
          </div>
        </section>
      </main>
      <!-- // Contents -->
    </div>
  </body>
</html>
