  <%-include('./include/head.ejs',{"title": "OJT 과제 : 레이아웃", "listTitle": "STEP-01 : 레이아웃"})%>
  <body data-pagestatus="new : 24.12.18">
    <div class="wrap wrap_step_01">
      <!-- Contents -->
      <main class="main">
        <section class="content_container">
          <div class="content_top">
            <h1 class="content_title">STEP01</h1>
            <p class="content_desc">width : 고정 / height: 고정</p>
          </div>
          <div class="content_middle">
            <!-- Inline-block -->
            <div class="content_area content_inline_block">
              <div class="content_box content_left">
                <p class="content_text">Inline-block</p>
              </div>
              <div class="content_box content_right">
                <p class="content_text">Inline-block</p>
              </div>
            </div>
            <!-- // Inline-block -->
            <!-- Table -->
            <div class="content_area content_table">
              <div class="content_box content_left">
                <p class="content_text">Table</p>
              </div>
              <div class="content_box content_right">
                <p class="content_text">Table</p>
              </div>
            </div>
            <!-- // Table -->
            <!-- Float -->
            <div class="content_area content_float">
              <div class="content_box content_left">
                <p class="content_text">Float</p>
              </div>
              <div class="content_box content_right">
                <p class="content_text">Float</p>
              </div>
            </div>
            <!-- // Float -->
            <!-- Flex -->
            <div class="content_area content_flex">
              <div class="content_box content_left">
                <p class="content_text">Flex</p>
              </div>
              <div class="content_box content_right">
                <p class="content_text">Flex</p>
              </div>
            </div>
            <!-- // Flex -->
            <!-- Grid -->
            <div class="content_area content_grid">
              <div class="content_box content_left">
                <p class="content_text">Grid</p>
              </div>
              <div class="content_box content_right">
                <p class="content_text">Grid</p>
              </div>
            </div>
            <!-- // Grid -->
            <!-- Position -->
            <div class="content_area content_position">
              <div class="content_box content_left">
                <p class="content_text">Position</p>
              </div>
              <div class="content_box content_right">
                <p class="content_text">Position</p>
              </div>
            </div>
            <!-- // Position -->
          </div>
        </section>
      </main>
      <!-- // Contents -->
    </div>
  </body>
</html>
