<%-include('./include/head.ejs',{"title": "OJT 과제 : 레이아웃", "listTitle": "레이아웃 : 레이아웃"})%>
<body data-pagestatus="update : 진행중">
  <div class="wrap wrap_step_01">
    <!-- Contents -->
    <main class="main">
      <section class="content_container">
        <div class="content_top">
          <h1 class="content_title">STEP01</h1>
          <p class="content_desc">width : 고정 / height: 고정</p>
        </div>
        <div class="content_middle">
          <!-- Inline-block -->
          <div class="content_area content_01">
            <div class="content_box content_left">
              <p class="content_text">Inline-block</p>
            </div>
            <div class="content_box content_right">
              <p class="content_text">Inline-block</p>
            </div>
          </div>
          <!-- // Inline-block -->
          <!-- Table -->
          <div class="content_area content_02">
            <div class="content_box content_left">
              <p class="content_text">Table</p>
            </div>
            <div class="content_box content_right">
              <p class="content_text">Table</p>
            </div>
          </div>
          <!-- // Table -->
          <!-- Float -->
          <div class="content_area content_03">
            <div class="content_box content_left">
              <p class="content_text">Float</p>
            </div>
            <div class="content_box content_right">
              <p class="content_text">Float</p>
            </div>
          </div>
          <!-- // Float -->
          <!-- Flex -->
          <div class="content_area content_04">
            <div class="content_box content_left">
              <p class="content_text">Flex</p>
            </div>
            <div class="content_box content_right">
              <p class="content_text">Flex</p>
            </div>
          </div>
          <!-- // Flex -->
          <!-- Grid -->
          <div class="content_area content_05">
            <div class="content_box content_left">
              <p class="content_text">Grid</p>
            </div>
            <div class="content_box content_right">
              <p class="content_text">Grid</p>
            </div>
          </div>
          <!-- // Grid -->
          <!-- Position -->
          <div class="content_area content_06">
            <div class="content_box content_left">
              <p class="content_text">BOX01</p>
            </div>
            <div class="content_box content_right">
              <p class="content_text">BOX02</p>
            </div>
          </div>
          <!-- // Position -->
        </div>
      </section>
    </main>
    <!-- // Contents -->
  </div>
   
  <%-include('./include/script.ejs')%>
</body>
</html>
