<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPGA</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!-- Header Area -->
    <header>
        <h1><a href="#"><img src="images/logo.png" alt="KPGA"></a></h1>
        <ul>
            <li><a href="#">STATS</a></li>
            <li><a href="#">선수 위치 찾기 서비스</a></li>
        </ul>
        <a href="#" target="_blank" class="live_link" title="새창열기">LIVE SCORE</a>
    </header>
    <!-- Container Area -->
    <div class="container">
        <!-- Rank Area -->
        <div class="rank_area">
            <div class="inner">
                <!-- Title -->
                <div class="group_num">
                    <h2>20조</h2>
                    <p class="start_time">출발 시간 : <span> #1, AM 11:08</span></p>
                </div>
                <!-- Table -->
                <table>
                    <caption><span class="blind">선수 현황</span></caption>
                    <!-- thead -->
                    <thead>
                        <tr>
                            <th scope="col" class="header_cell">선수</th>
                            <th scope="col" class="header_cell">순위</th>
                            <th scope="col" class="header_cell">오늘 스코어</th>
                            <th scope="col" class="header_cell">누적 스코어</th>
                            <th scope="col" class="header_cell">제네시스 포인트</th>
                            <th scope="col" class="header_cell">제네시스 상금 순위</th>
                            <th scope="col" class="header_cell">평균 타수</th>
                        </tr>
                    </thead>
                    <!-- tbody -->
                    <tbody>
                        <tr class="kimbyeongjun">
                            <th scope="row" class="player">김병준</th>
                            <td class="rank_num">2</td>
                            <td class="today_score">E</td>
                            <td class="accu_score">-9</td>
                            <td class="gene_point"><span class="count_num">89th</span><span class="point_num">3,142 points</span></td>
                            <td class="gene_rank"><span class="count_num">36th</span><span class="rank_prize">&#92;133,600,000</span></td>
                            <td class="average">70.25</td>
                        </tr>
                        <tr class="leeseongtack">
                            <th scope="row" class="player">이승택</th>
                            <td class="rank_num">4</td>
                            <td class="today_score">+1</td>
                            <td class="accu_score">-9</td>
                            <td class="gene_point"><span class="count_num">89th</span><span class="point_num">3,142 points</span></td>
                            <td class="gene_rank"><span class="count_num">36th</span><span class="rank_prize">&#92;133,600,000</span></td>
                            <td class="average">70.25</td>
                        </tr>
                        <tr class="kimtaewoo">
                            <th scope="row" class="player">김태우</th>
                            <td class="rank_num">3</td>
                            <td class="today_score">-1</td>
                            <td class="accu_score">-9</td>
                            <td class="gene_point"><span class="count_num">89th</span><span class="point_num">3,142 points</span></td>
                            <td class="gene_rank"><span class="count_num">36th</span><span class="rank_prize">&#92;133,600,000</span></td>
                            <td class="average">70.25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Hole Score -->
        <div class="hole_score">
            <div class="inner">
                <!-- Table -->
                <table>
                    <caption><span><strong>홀 바이 홀</strong><span class="hole_count">11 Hole</span> Par 4, 431yds</span></caption>
                    <!-- thead -->
                    <thead>
                        <tr>
                            <th scope="row">HOLE</th>
                            <th scope="row">1</th>
                            <th scope="row">2</th>
                            <th scope="row">3</th>
                            <th scope="row">4</th>
                            <th scope="row">5</th>
                            <th scope="row">6</th>
                            <th scope="row">7</th>
                            <th scope="row">8</th>
                            <th scope="row">9</th>
                            <th scope="row" class="out_num">OUT</th>
                            <th scope="row">10</th>
                            <th scope="row" class="curr_round">11</th>
                            <th scope="row">12</th>
                            <th scope="row">13</th>
                            <th scope="row">14</th>
                            <th scope="row">15</th>
                            <th scope="row">16</th>
                            <th scope="row">17</th>
                            <th scope="row">18</th>
                            <th scope="row" class="in_num">IN</th>
                            <th scope="row" class="total_num">TOTAL</th>
                        </tr>
                    </thead>
                    <!-- tbody -->
                    <tbody>
                        <tr>
                            <th scope="row">PAR</th>
                            <td>4</td>
                            <td>4</td>
                            <td>5</td>
                            <td>4</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>3</td>
                            <td>5</td>
                            <td class="out_num">43</td>
                            <td>3</td>
                            <td class="curr_round">4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td class="in_num">43</td>
                            <td class="total_num">72</td>
                        </tr>
                        <tr>
                            <th scope="row">김병준</th>
                            <td class="double_cell">7</td>
                            <td class="double_cell">7</td>
                            <td class="par_cell">5</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">3</td>
                            <td class="bogey_cell">5</td>
                            <td class="par_cell">5</td>
                            <td class="par_cell">3</td>
                            <td class="par_cell">5</td>
                            <td class="out_num">38</td>
                            <td class="birdie_cell">3</td>
                            <td class="curr_round">3</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="double_cell">6</td>
                            <td class="in_num">38</td>
                            <td class="total_num">38</td>
                        </tr>
                        <tr>
                            <th scope="row">이승택</th>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">5</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">3</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">5</td>
                            <td class="birdie_cell">3</td>
                            <td class="bogey_cell">6</td>
                            <td class="out_num">32</td>
                            <td class="birdie_cell">2</td>
                            <td class="curr_round">2</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">3</td>
                            <td class="eagle_cell">2</td>
                            <td class="par_cell">5</td>
                            <td class="in_num">32</td>
                            <td class="total_num">76</td>
                        </tr>
                        <tr>
                            <th scope="row">김태우</th>
                            <td class="par_cell">5</td>
                            <td class="double_cell">6</td>
                            <td class="par_cell">6</td>
                            <td class="double_cell">6</td>
                            <td class="par_cell">3</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">5</td>
                            <td class="par_cell">3</td>
                            <td class="par_cell">5</td>
                            <td class="out_num">31</td>
                            <td class="par_cell">3</td>
                            <td class="curr_round"></td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">3</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">5</td>
                            <td class="par_cell">3</td>
                            <td class="par_cell">4</td>
                            <td class="par_cell">3</td>
                            <td class="in_num">31</td>
                            <td class="out_num">73</td>
                        </tr>
                    </tbody>
                </table>
                <div class="legend">
                    <ul>
                        <li class="albatross">알바트로스</li>
                        <li class="eagle">이글</li>
                        <li class="birdie">버디</li>
                        <li class="par">파</li>
                        <li class="bogey">보기</li>
                        <li class="double">더블보기</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Shot Tracker -->
        <div class="shot_tracker">
            <div class="inner">
                <h2>샷 트래커</h2>
                <ul class="group_tracker_btn" role="tablist">
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">1</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">2</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">3</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">4</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">5</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">6</button></li>
                    <li class="btn_tracker"  role="tab" aria-selected="false"><button type="button">7</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">8</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">9</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">10</button></li>
                    <li id="tracker11" role="tab" aria-selected="true" class="btn_tracker btn_tab_on" aria-controls="tab_wrap"><button type="button">11</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">12</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">13</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">14</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">15</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">16</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">17</button></li>
                    <li class="btn_tracker" role="tab" aria-selected="false"><button type="button">18</button></li>
                </ul>
                <div id="tab_wrap" class="tab_wrap" role="tabpanel" aria-labelledby="tracker11">
                    <h3>11 HOLE <span>Par 4, 431Yds</span></h3>
                    <ul role="tablist" class="tracker_menu">
                        <li class="tracker_nav" role="tab" aria-selected="false"><button type="button">Round1</button></li>
                        <li class="tracker_nav" role="tab" aria-selected="false"><button type="button">Round2</button></li>
                        <li class="tracker_nav" role="tab" aria-selected="false"><button type="button">Round3</button></li>
                        <li id="btn_round" class="tracker_nav btn_tab_on" role="tab" aria-selected="true" aria-controls="round_info4"><button type="button">Round4</button></li>
                    </ul>
                    <div id="round_info4" class="tab_con" role="tabpanel" aria-labelledby="btn_round">
                        <div class="map_area">
                            <img src="images/round.jpg" alt="11라운드 궤적 표시 이미지" class="roung_img">
                            <div class="tooltip tooltip_off">
                                <div class="player_info">
                                    <span class="curr_player_name">김태우</span>
                                    <span class="remaining_distance">Shot 1 : 251.5Yds<br>(남은 거리 166Yds)</span>
                                    <button type="button" class="btn_close" aria-label="닫기" aria-pressed="false">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Player Record -->
                        <div class="player_record">
                            <ul role="tablist" class="player_tab">
                                <li id="play_order01" class="btn_tab_player play_order01" role="tab" aria-selected="false" aria-controls="player01_record">
                                    <button type="button"><span>김병준</span></button>
                                </li>
                                <li id="play_order02" class="btn_tab_player play_order02" role="tab" aria-selected="false" aria-controls="player02_record" >
                                    <button type="button"><span>이승택</span></button>
                                </li>
                                <li id="play_order03" class="btn_tab_player play_order03 btn_tab_on" role="tab" aria-selected="true" aria-controls="player03_record">
                                    <button type="button"><span>김태우</span></button>
                                </li>
                            </ul>
                            <div id="player01_record" class="info_tabpanel" role="tabpanel" aria-labelledby="play_order01" tabindex="-1">내용 없음</div>
                            <div id="player02_record" class="info_tabpanel" role="tabpanel" aria-labelledby="play_order02"  tabindex="-1">내용 없음</div>
                            <div id="player03_record" class="info_tabpanel tabpanel_on" role="tabpanel" aria-labelledby="play_order03" tabindex="0">
                                <div class="info_history">
                                    <ul>
                                        <li>Shot 1 : 251.5 Yds 페어웨이(남은 거리 166.1 Yds)</li>
                                        <li>Shot 2 : 173.3 Yds 러프(남은 거리 11.3 Yds)</li>
                                        <li>Shot 3 : 11.9 Yds 그린(남은 거리 0.9 Yds)</li>
                                        <li>Shot 4 : 홀인</li>
                                        <li>Shot 3 : 11.9 Yds 그린(남은 거리 0.9 Yds)</li>
                                        <li>Shot 1 : 251.5 Yds 페어웨이(남은 거리 166.1 Yds)</li>
                                        <li>Shot 2 : 173.3 Yds 러프(남은 거리 11.3 Yds)</li>
                                        <li>Shot 3 : 11.9 Yds 그린(남은 거리 0.9 Yds)</li>
                                        <li>Shot 4 : 홀인</li>
                                        <li>Shot 3 : 11.9 Yds 그린(남은 거리 0.9 Yds)</li>
                                    </ul>
                                </div>
                                <div class="info_record">
                                    <div class="hole_graph">
                                        <h3>홀성적</h3>
                                        <div class="img_wrap"><img src="images/graph.png" alt="홀성적 그래프 이미지"></div>
                                        <ul class="legend_list">
                                            <li class="holeinone">홀인원<span class="blind">30%</span></li>
                                            <li class="albatross">알바트로스<span class="blind">20%</span></li>
                                            <li class="eagle">이글<span class="blind">10%</span></li>
                                            <li class="birdie">버디<span class="blind">10%</span></li>
                                            <li class="par">파<span class="blind">50$</span></li>
                                            <li class="bogey">보기<span class="blind">40%</span></li>
                                            <li class="double bogey">더블보기<span class="blind">14%</span></li>
                                            <li class="triple_bogey">3+ 보기<span class="blind">10%</span></li>
                                        </ul>
                                    </div>
                                    <div class="hole_record">
                                        <table>
                                            <caption><span>홀 기록</span></caption>
                                            <tr><th scope="row">총 난이도</th><td>9</td></tr>
                                            <tr><th scope="row">평균타수</th><td>4.09</td></tr>
                                            <tr><th scope="row">최장타</th><td>301 Yards</td></tr>
                                            <tr><th scope="row">페어웨이 안착률</th><td>68.15%</td></tr>
                                            <tr><th scope="row">그린적중률(GIR)</th><td>65.83%</td></tr>
                                            <tr><th scope="row">최장퍼팅</th><td>19 Yards</td></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="record_detail">선수정보 상세보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src="js/index.js"></script>
</body>
</html>