<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPGA</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1 class="logo"><a href="#"><span class="blind">KPGA STATS</span></a></h1>
        <a href="#" class="location">선수 위치 찾기 서비스</a>
        <a href="#" class="link_score">LIVE SCORE</a>
    </header>
    <main>
        <section class="sec_group">
            <div class="inner">
                <h2 class="title">20조</h2>
                <span class="time"><em>출발시간 :</em> #1, AM 11:08</span>
                <table>
                    <caption class="blind">20조 선수 기록표</caption>
                    <colgroup>
                        <col style="width: 295px">
                        <col style="width: 166px">
                        <col style="width: 162px">
                        <col style="width: 166px">
                        <col style="width: 163px">
                        <col style="width: 165px">
                        <col style="width: 163px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">선수</th>
                            <th scope="col">순위</th>
                            <th scope="col">오늘 스코어</th>
                            <th scope="col">누적 스코어</th>
                            <th scope="col">제네시스 포인트</th>
                            <th scope="col">제네시스 상금 순위</th>
                            <th scope="col">평균 타수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="player01">
                                <div class="player_img">
                                    <img src="images/img_player1.png" alt="김병준 선수 이미지">
                                </div>
                                김병준
                            </th>
                            <td class="td_rank">2</td>
                            <td>E</td>
                            <td>-9</td>
                            <td>89th<span>3,142 points</span></td>
                            <td>36th<span>￦113,600,000</span></td>
                            <td>70.25</td>
                        </tr>
                        <tr>
                            <th scope="row" class="player02">
                                <div class="player_img">
                                    <img src="images/img_player2.png" alt="이승택 선수 이미지">
                                </div>
                                이승택
                            </th>
                            <td class="td_rank">4</td>
                            <td class="plus_score">+1</td>
                            <td>-9</td>
                            <td>89th<span>3,142 points</span></td>
                            <td>36th<span>￦113,600,000</span></td>
                            <td>70.25</td>
                        </tr>
                        <tr>
                            <th scope="row" class="player03">
                                <div class="player_img">
                                    <img src="images/img_player3.png" alt="김태우 선수 이미지">
                                </div>
                                김태우
                            </th>
                            <td class="td_rank">3</td>
                            <td class="minus_score">-1</td>
                            <td>-9</td>
                            <td>89th<span>3,142 points</span></td>
                            <td>36th<span>￦113,600,000</span></td>
                            <td>70.25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="sec_hole">
            <div class="inner">
                <div class="title_wrap">
                    <h2 class="title">홀 바이 홀</h2>
                    <span class="txt_yard"><em>11 Hole</em>Par 4, 431yds</span>
                </div>
                <table>
                    <caption class="blind">홀바이홀 선수 기록표</caption>
                    <colgroup>
                        <col style="width: 90px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col style="width: 55px">
                        <col>
                        </colgroup>
                    <thead>
                        <tr>
                            <th scope="row" id="hole">HOLE</th>
                            <th scope="col" id="hole1">1</th>
                            <th scope="col" id="hole2">2</th>
                            <th scope="col" id="hole3">3</th>
                            <th scope="col" id="hole4">4</th>
                            <th scope="col" id="hole5">5</th>
                            <th scope="col" id="hole6">6</th>
                            <th scope="col" id="hole7">7</th>
                            <th scope="col" id="hole8">8</th>
                            <th scope="col" id="hole9">9</th>
                            <th scope="col" id="out" class="course">OUT</th>
                            <th scope="col" id="hole10">10</th>
                            <th scope="col" id="hole11" class="current_round current_hole">11</th>
                            <th scope="col" id="hole12">12</th>
                            <th scope="col" id="hole13">13</th>
                            <th scope="col" id="hole14">14</th>
                            <th scope="col" id="hole15">15</th>
                            <th scope="col" id="hole16">16</th>
                            <th scope="col" id="hole17">17</th>
                            <th scope="col" id="hole18">18</th>
                            <th scope="col" id="in" class="course">IN</th>
                            <th scope="col" id="total" class="total">TOTAL</th>
                        </tr>
                        <tr>
                            <th scope="row" id="par">PAR</th>
                            <th scope="col" id="hole1_par">4</th>
                            <th scope="col" id="hole2_par">4</th>
                            <th scope="col" id="hole3_par">5</th>
                            <th scope="col" id="hole4_par">4</th>
                            <th scope="col" id="hole5_par">3</th>
                            <th scope="col" id="hole6_par">4</th>
                            <th scope="col" id="hole7_par">5</th>
                            <th scope="col" id="hole8_par">3</th>
                            <th scope="col" id="hole9_par">5</th>
                            <th scope="col" id="out_par" class="course">43</th>
                            <th scope="col" id="hole10_par">3</th>
                            <th scope="col" id="hole11_par" class="current_round">4</th>
                            <th scope="col" id="hole12_par">4</th>
                            <th scope="col" id="hole13_par">4</th>
                            <th scope="col" id="hole14_par">4</th>
                            <th scope="col" id="hole15_par">4</th>
                            <th scope="col" id="hole16_par">4</th>
                            <th scope="col" id="hole17_par">4</th>
                            <th scope="col" id="hole18_par">4</th>
                            <th scope="col" id="in_par" class="course">43</th>
                            <th scope="col" id="total_par" class="total">72</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" id="player1">김병준</th>
                            <td headers="hole hole1 par hole1_par player1" class="double_bogey">7</td>
                            <td headers="hole hole2 par hole2_par player1" class="double_bogey">7</td>
                            <td headers="hole hole3 par hole3_par player1">5</td>
                            <td headers="hole hole4 par hole4_par player1">4</td>
                            <td headers="hole hole5 par hole5_par player1">3</td>
                            <td headers="hole hole6 par hole6_par player1"class="bogey">5</td>
                            <td headers="hole hole7 par hole7_par player1">5</td>
                            <td headers="hole hole8 par hole8_par player1">3</td>
                            <td headers="hole hole9 par hole9_par player1">5</td>
                            <td headers="hole out par out_par player1" class="course">38</td>
                            <td headers="hole hole10 par hole10_par player1" class="birdie">3</td>
                            <td headers="hole hole11 par hole11_par player1" class="current_round">3</td>
                            <td headers="hole hole12 par hole12_par player1">4</td>
                            <td headers="hole hole13 par hole13_par player1">4</td>
                            <td headers="hole hole14 par hole14_par player1">4</td>
                            <td headers="hole hole15 par hole15_par player1">4</td>
                            <td headers="hole hole16 par hole16_par player1">4</td>
                            <td headers="hole hole17 par hole17_par player1">4</td>
                            <td headers="hole hole18 par hole18_par player1" class="double_bogey">6</td>
                            <td headers="hole in par in_par player1" class="course">38</td>
                            <td headers="hole total par total_par player1" class="total">38</td>
                        </tr>
                        <tr>
                            <th scope="row" id="player2">이승택</th>
                            <td headers="hole hole1 par hole1_par player2">4</td>
                            <td headers="hole hole2 par hole2_par player2">4</td>
                            <td headers="hole hole3 par hole3_par player2">5</td>
                            <td headers="hole hole4 par hole4_par player2">4</td>
                            <td headers="hole hole5 par hole5_par player2">3</td>
                            <td headers="hole hole6 par hole6_par player2">4</td>
                            <td headers="hole hole7 par hole7_par player2">5</td>
                            <td headers="hole hole8 par hole8_par player2" class="birdie">3</td>
                            <td headers="hole hole9 par hole9_par player2" class="bogey">6</td>
                            <td headers="hole out par out_par player2" class="course">32</td>
                            <td headers="hole hole10 par hole10_par player2" class="birdie">2</td>
                            <td headers="hole hole11 par hole11_par player2" class="current_round">2</td>
                            <td headers="hole hole12 par hole12_par player2">4</td>
                            <td headers="hole hole13 par hole13_par player2">4</td>
                            <td headers="hole hole14 par hole14_par player2">4</td>
                            <td headers="hole hole15 par hole15_par player2">4</td>
                            <td headers="hole hole16 par hole16_par player2">3</td>
                            <td headers="hole hole17 par hole17_par player2" class="eagle">2</td>
                            <td headers="hole hole18 par hole18_par player2">5</td>
                            <td headers="hole in par in_par player2" class="course">32</td>
                            <td headers="hole total par total_par player2" class="total">76</td>
                        </tr>
                        <tr>
                            <th scope="row" id="player3">김태우</th>
                            <td headers="hole hole1 par hole1_par player3">5</td>
                            <td headers="hole hole2 par hole2_par player3" class="double_bogey">6</td>
                            <td headers="hole hole3 par hole3_par player3">6</td>
                            <td headers="hole hole4 par hole4_par player3" class="double_bogey">6</td>
                            <td headers="hole hole5 par hole5_par player3">3</td>
                            <td headers="hole hole6 par hole6_par player3">4</td>
                            <td headers="hole hole7 par hole7_par player3">5</td>
                            <td headers="hole hole8 par hole8_par player3">3</td>
                            <td headers="hole hole9 par hole9_par player3">5</td>
                            <td headers="hole out par out_par player3" class="course">31</td>
                            <td headers="hole hole10 par hole10_par player3">3</td>
                            <td headers="hole hole11 par hole11_par player3" class="current_round"><span class="blind">내용없음</span></td>
                            <td headers="hole hole12 par hole12_par player3">4</td>
                            <td headers="hole hole13 par hole13_par player3">3</td>
                            <td headers="hole hole14 par hole14_par player3">4</td>
                            <td headers="hole hole15 par hole15_par player3">5</td>
                            <td headers="hole hole16 par hole16_par player3">3</td>
                            <td headers="hole hole17 par hole17_par player3">4</td>
                            <td headers="hole hole18 par hole18_par player3">3</td>
                            <td headers="hole in par in_par player3" class="course">31</td>
                            <td headers="hole total par total_par player3" class="total">73</td>
                        </tr>
                    </tbody>
                </table>
                <div class="score_name">
                    <ul>
                        <li class="albatross">알바트로스</li>
                        <li class="eagle">이글</li>
                        <li class="birdie">버디</li>
                        <li class="par">파</li>
                        <li class="bogey">보기</li>
                        <li class="double_bogey">더블보기</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="sec_tracker">
            <div class="inner">
                <h2 class="title">샷 트랙커</h2>
                <ul class="tab_nav_trancker">
                    <li><button class="tab">1</button></li>
                    <li><button class="tab">2</button></li>
                    <li><button class="tab">3</button></li>
                    <li><button class="tab">4</button></li>
                    <li><button class="tab">5</button></li>
                    <li><button class="tab">6</button></li>
                    <li><button class="tab">7</button></li>
                    <li><button class="tab">8</button></li>
                    <li><button class="tab">9</button></li>
                    <li><button class="tab">10</button></li>
                    <li><button class="tab is_active">11</button></li>
                    <li><button class="tab">12</button></li>
                    <li><button class="tab">13</button></li>
                    <li><button class="tab">14</button></li>
                    <li><button class="tab">15</button></li>
                    <li><button class="tab">16</button></li>
                    <li><button class="tab">17</button></li>
                    <li><button class="tab">18</button></li>
                </ul>
                <!-- tab_1 -->
                <div class="tab_cont_tracker">
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">1 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">2 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">3 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">4 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">5 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">6 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">7 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">8 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">9 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">10 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont is_show">
                        <div class="title_wrap">
                            <strong class="title_hole">11 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                        <ul class="tab_nav_round">
                            <li><button class="tab_round">Round 1</button></li>
                            <li><button class="tab_round">Round 2</button></li>
                            <li><button class="tab_round">Round 3</button></li>
                            <li><button class="tab_round is_active">Round 4</button></li>
                        </ul>
                        <div class="tab_cont_round">
                            <div class="round">
                                <strong class="blind">Round 1 샷 트랙커 영역</strong>
                                Round 1
                            </div>
                            <div class="round">
                                <strong class="blind">Round 2 샷 트랙커 영역</strong>
                                Round 2
                            </div>
                            <div class="round">
                                <strong class="blind">Round 3 샷 트랙커 영역</strong>
                                Round 3
                            </div>
                            <div class="round is_show">
                                <strong class="blind">Round 4 샷 트랙커 영역</strong>
                                <div class="field_img">
                                    <div class="img_wrap">
                                        <img src="images/img_field.jpg" alt="골프 필드 이미지">                        
                                    </div>
                                    <div class="player_tracker player_tracker01">      
                                        <div class="player_img">
                                            <img src="images/img_player1.png" alt="김병준 이미지">
                                        </div>
                                        <div class="player_info">
                                            <strong class="name">김병준</strong>                                
                                            <span class="shot_Yards">Shot 1 : 217.5Yds</span>
                                            <span class="remaining_yards">(남은 거리 166Yds)</span>
                                            <button class="btn_close" type="button"><span class="blind">닫기 버튼</span></button>
                                        </div>
                                    </div>
                                    <div class="player_tracker player_tracker02">      
                                        <div class="player_img">
                                            <img src="images/img_player2.png" alt="이승택 이미지">
                                        </div>
                                        <div class="player_info">
                                            <strong class="name">이승택</strong>                                
                                            <span class="shot_Yards">Shot 1 : 251.5Yds</span>
                                            <span class="remaining_yards">(남은 거리 146Yds)</span>
                                            <button class="btn_close" type="button"><span class="blind">닫기 버튼</span></button>
                                        </div>
                                    </div>
                                    <div class="player_tracker player_tracker03 is_show">      
                                        <div class="player_img">
                                            <img src="images/img_player3.png" alt="김태우 이미지">
                                        </div>
                                        <div class="player_info">
                                            <strong class="name">김태우</strong>                                
                                            <span class="shot_Yards">Shot 1 : 268.5Yds</span>
                                            <span class="remaining_yards">(남은 거리 132Yds)</span>
                                            <button class="btn_close" type="button"><span class="blind">닫기 버튼</span></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="info">
                                    <ul class="tab_nav_player">
                                        <li>
                                            <button class="tab_player tab_player01">김병준</button>
                                        </li>
                                        <li>
                                            <button class="tab_player tab_player02">이승택</button>
                                        </li>
                                        <li>
                                            <button class="tab_player tab_player03 is_active">김태우</button>
                                        </li>
                                    </ul>
                                    <ul class="shot">
                                        <li>Shot 1 : 251.5 Yds 페어웨이(남은 거리 166.1 Yds)</li>
                                        <li>Shot 2 : 173.3 Yds 러프(남은 거리 11.3 Yds)</li>
                                        <li>Shot 3 : 11.9 Yds 그린(남은거리 0.9 Yds)</li>
                                        <li>Shot 4 : 홀인</li>
                                        <li>Shot 5 : 11.9 Yds 그린(남은거리 0.9 Yds)</li>
                                        <li>Shot 6 : 11.9 Yds 그린(남은거리 0.9 Yds)</li>
                                        <li>Shot 7 : 11.9 Yds 그린(남은거리 0.9 Yds)</li>
                                    </ul>
                                    <div class="recode_wrap">
                                        <div class="hole_results">
                                            <strong>홀 성적</strong>
                                            <div class="graph_img">
                                                <img src="images/img_graph.png" alt="홀 성적 그래프 이미지">
                                            </div>
                                            <ul>
                                                <li class="hole_in_one">홀인원</li>
                                                <li class="albatross">알바트로스</li>
                                                <li class="eagle">이글</li>
                                                <li class="birdie">버디</li>
                                                <li class="par">파</li>
                                                <li class="bogey">보기</li>
                                                <li class="double_bogey">더블보기</li>
                                                <li class="bogey_3">3+보기</li>
                                            </ul>
                                        </div>
                                        <div class="hole_record">
                                            <strong>홀기록</strong>
                                            <ul>
                                                <li>
                                                    <em>총난이도</em>
                                                    <span>9</span>
                                                </li>
                                                <li>
                                                    <em>평균타수</em>
                                                    <span>4.09</span>
                                                </li>
                                                <li>
                                                    <em>최장타</em>
                                                    <span>301 Yards</span>
                                                </li>
                                                <li>
                                                    <em>페어웨이 안착률</em>
                                                    <span>68.15%</span>
                                                </li>
                                                <li>
                                                    <em>그린적중률(GIR)</em>
                                                    <span>65.83%</span>
                                                </li>
                                                <li>
                                                    <em>최장퍼팅</em>
                                                    <span>19 Yards</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="#" class="more_player">선수 정보 상세보기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">12 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">13 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">14 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">15 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">16 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">17 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                    <div class="cont">
                         <div class="title_wrap">
                            <strong class="title_hole">18 HOLE</strong>
                            <span class="txt_yard">Par 4, 431Yds</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>