<%-include('./include/head.ejs',{
  "title": "시스템-0008-A-HK_Site Map / Site Map",
  "listTitle": "Site Map : 00-공통/시스템"
})%>
<body class="project_sales_system" data-pagestatus="new : 2025.02.27">
  <%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs',{
      type:'01'
    })%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs',{
    })%>
    <!-- // LNB -->

    <!-- Contents -->
    <main id="content" class="content">
      <div class="content_head"></div>
      <div class="content_body">
        <!-- [D] 탭패널 활성화 : is_active 클래스 & tabindex="0" 설정 -->
        <div id="tab_01" tabindex="0" role="tabpanel" aria-labelledby="tab_anchor_01" class="tab_panel is_active">
          <div class="control_section">
            <%- include('./include/breadcrumb.ejs', {
              breadcrumbItems: [
                { text: "계출관리", href: "#none" },
                { text: "계약출고", href: "#none" },
                { text: "결재진행조회", id: "CON0001BH" }
              ]
            }) %>
            <%- include('./include/utility_toolbar.ejs', {
              btnInfo: true
            }) %>
          </div>
          <div class="panel_group">
            <div class="panel">
              <div class="field_inline">
                <div class="field_group">
                  <label for="main_menu" class="title_small">메인메뉴</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea: 'input_area_medium',
                    inputBox : 'input_small',
                    inputText : 'body_small',
                    inputVal : '전체',
                    id : 'main_menu',
                  }) %>
                </div>
                <div class="field_group">
                  <label for="select_search" class="title_small">검색</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea: 'input_area_medium',
                    inputBox : 'input_small',
                    inputText : 'body_small',
                    inputVal : '전체',
                    id : 'select_search',
                  }) %>
                  <%- include('./include/input_area.ejs', {
                    inputArea: 'input_area_large',
                    inputBox : 'input_small',
                    search : true,
                    ariaLabel : '',
                    placeholder : '화면명, 화면 ID를 검색해보세요',
                  }) %>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="panel panel_bottom">
              <div class="btn_group btn_group_center">
                <button type="button" class="btn btn_fill btn_primary btn_with_ic btn_medium"><span class="btn_inner_text title_small">조회</span></button>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="table_wrap">
              <div class="table_util">
                <div class="option_group">
                  <span class="title_small">총 <strong class="num">9999</strong>개</span>
                </div>
                <div class="btn_group">
                  <!-- [D] 비활성화 disabled 속성 추가 -->
                  <button type="button" class="btn btn_outline btn_with_ic btn_small">
                    <span class="ic ic_download_bold_16px"></span>
                    <span class="btn_inner_text body_small">엑셀다운로드</span>
                  </button>
                </div>
              </div>
              <div class="table_inner">
                <!-- AG Grid -->
                <div id="grid_container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- // Contents -->
  </div>
  <%-include('./include/script.ejs')%>
  <script src="../js/react.bundle.js"></script>
  </body>
  </html>
