<%-include('./include/head.ejs',{
  "title": "비밀번호 인증",
  "listTitle": "비밀번호 인증"
})%>
<body class="project_sales_system" data-pagestatus="new : 2025.02.27">
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs')%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs')%>
    <!-- // LNB -->

    <div class="login_wrap">
      <div class="login_area">
        <div class="login_top">
          <strong class="title_medium">김현대 님</strong>
          <div class="dropdown_area">
            <button type="button" class="btn_dropdown" aria-haspopup="listbox" aria-expanded="false">
              <div class="avatar_circle avatar_icon avatar_xsmall">
                <div class="avatar_box">
                  <span class="ic ic_person_filled_20px"></span>
                </div>
              </div>
              <span class="input_text body_small">249099</span>
              <span class="ic ic_arrow_down_bold_20px"></span>
            </button>
            <ul class="dropdown_list" role="listbox">
              <li class="dropdown_item" role="option">
                <span>메뉴1</span>
              </li>
              <li class="dropdown_item" role="option">
                <span>메뉴2</span>
              </li>
            </ul>
          </div>
          <p class="body_small">계속하려면 본인임을 인증하세요</p>
        </div>
        <div class="input_area">
          <div class="input_box input_xlarge">
            <input type="password" aria-label="비밀번호 입력" class="input_text body_small" placeholder="비밀번호 입력"  autocomplete="current-password">
            <button type="button" class="btn_view_input" aria-label="비밀번호 보기">
              <span class="ic ic_view_hidden_bold_20px"></span>
            </button>
          </div>
          <p clautss="input_desc" aria-live="polite" style="display:none">잘못된 비밀번호입니다. 다시 시도하세요.</p>
        </div>
        <div class="login_btn_area">
          <button type="button" class="btn btn_fill btn_primary btn_xlarge btn_full">
            <span class="btn_inner_text title_small">확인</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <%-include('./include/script.ejs')%>
  <!-- [D] 마크업 검수용, 개발제외 -->
  <%- include('./include/caseview.ejs', {
    viewItems : [
      {id : 'caseBtn4', text : '로그인_비밀번호 표시'},
      {id : 'caseBtn5', text : '로그인_error'},
    ]
  }) %>
  <script type="text/javascript">
    $(document).ready(function () {
      // 케이스뷰 목록 오픈
      $('.btn_open').click(function () {
        $('.case_view').toggle();
      });

      // 케이스뷰 버튼 활성화 상태 변경
      $(".btn-caseview").click(function () {
        $(".btn-caseview").removeClass("is_active");
        $(this).addClass("is_active");
      });

      // 브랜드 모드 뷰 설정 (HYUNDAI/KIA/BO/HMG)
      const themeClasses = 'theme_hyundai theme_kia theme_bo';

      // Theme hyundai - Brand Font
      $("#caseBtn1").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_hyundai');
        $('.nav_logo img').attr("src","../img/logo_hyundai.svg").prop("alt", "Hyundai");
      });

      // Theme kia - Brand Font
      $("#caseBtn2").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_kia');
        $('.nav_logo img').attr("src","../img/logo_kia.svg").prop("alt", "Kia");
      });

      // Theme bo
      $("#caseBtn3").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_bo');
      });

      // 로그인_비밀번호 표시
      $("#caseBtn4").click(function () {
        $('.login_wrap .input_area').find('.input_box').removeClass('input_error').find('.input_text').attr('type', 'text');
        $('.login_wrap .input_area').find('.btn_view_input').attr('aria-label', '비밀번호 숨김');
        $('.login_wrap .input_area').find('.btn_view_input .ic').attr('class', 'ic ic_view_bold_20px');
        $('.input_desc').hide();
      });

      // 로그인_error
      $("#caseBtn5").click(function () {
        $('.login_wrap .input_area').find('.input_box').addClass('input_error').find('.input_text').val('99999999');
        $('.login_btn_area').eq(0).find('button').attr('disabled', '');
        $('.input_desc').show();
      });
    })
  </script>
  <!-- // [D] 마크업 검수용, 개발제외 -->
</body>
</html>