<%-include('./include/head.ejs',{
  "title": "기준-0069-A-HK, 기준-0069-B-HK, 기준-0069-C-HK, 기준-0069-D-HK / 사용자 관리",
  "listTitle": "계정 관리 > 사용자 관리 : 01-기준정보"
})%>
<body class="project_sales_system" data-pagestatus="new : 2025.03.27">
  <%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs',{
      type:'01'
    })%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs',{
    })%>
    <!-- // LNB -->

    <!-- Contents -->
    <main id="content" class="content user_manage">
      <div class="content_head">
        <%- include('./include/tab.ejs', {
          tabItems : [
            {
              tabAnchor : 'tab_anchor_01',
              ariaControls : 'tab_01',
              text : 'Tab 01'
            },
            {
              tabAnchor : 'tab_anchor_02',
              ariaControls : 'tab_02',
              text : 'Tab 02'
            },
            {
              tabAnchor : 'tab_anchor_03',
              ariaControls : 'tab_03',
              text : 'Tab 03'
            },
            {
              tabAnchor : 'tab_anchor_04',
              ariaControls : 'tab_04',
              text : 'Tab 04'
            },
          ]
        }) %>
        <div class="btn_arrow_box">
          <button type="button" class="btn_prev" aria-label="다음">
            <span class="ic ic_arrow_back_bold_20px"></span>
          </button>
          <button type="button" class="btn_next" aria-label="이전">
            <span class="ic ic_arrow_forward_bold_20px"></span>
          </button>
        </div>
      </div>
      <div class="content_body">
        <!-- [D] 탭패널 활성화 : is_active 클래스 & tabindex="0" 설정 -->
        <div id="tab_01" tabindex="0" role="tabpanel" aria-labelledby="tab_anchor_01" class="tab_panel is_active">
          <div class="control_section">
            <%- include('./include/breadcrumb.ejs', {
              breadcrumbItems: [
                { text: "기준정보", href: "#none" },
                { text: "기타마스터 관리", href: "#none" },
                { text: "권한 관리", href: "#none" },
                { text: "사용자 관리", id: "A0000000" }
              ]
            }) %>
            <div class="btn_group">
              <div role="group" class="zoom_control">
                <button type="button" class="btn btn_only_ic" aria-label="축소"><span class="ic ic_minus_bold_16px"></span></button>
                <span role="status" class="body_small" aria-live="polite">100%</span>
                <button type="button" class="btn btn_only_ic" aria-label="확대"><span class="ic ic_plus_bold_16px"></span></button>
              </div>
              <button type="button" class="btn btn_radius btn_only_ic btn_small" aria-pressed="false" aria-label="전체 화면보기로 전환"><span class="ic ic_fullscreen_bold_16px"></span></button>
              <a href="#none" target="_blank" class="btn btn_radius btn_only_ic btn_small" aria-label="새 창에서 열기"><span class="ic ic_open_in_new_bold_16px"></span></a>
              <button type="button" class="btn btn_radius btn_only_ic btn_small" aria-label="도움말"><span class="ic ic_help_bold_16px"></span></button>
            </div>
          </div>
          <%- include('./include/tabs_section.ejs', {
            tabsSize: 'tabs_xlarge',
            tabItems: [
              { id: 'tab2_1', ariaControls:'tabpanel2_1', text: '사용자 관리', ariaSelected: true },
              { id: 'tab2_2', ariaControls:'tabpanel2_2', text: '사용자별 프로필 관리', ariaSelected: false },
              { id: 'tab2_3', ariaControls:'tabpanel2_3', text: '소속코드 예외 관리', ariaSelected: false },
              { id: 'tab2_4', ariaControls:'tabpanel2_4', text: '보직코드 관리', ariaSelected: false },
            ],
          }) %>
          <!-- [D] 탭패널 id와 연관된 버튼의 aria-controls값 참조 / aria-labelledby와 연관된 탭버튼의 id값 참조 -->
          <div id="tabpanel2_1" role="tabpanel" aria-labelledby="tab2_1" tabindex="0">
            <div class="panel_group">
              <div class="panel">
                <div class="field_inline">
                  <div class="field_group">
                    <label for="" class="title_small">ID/성명</label>
                    <div style="position: relative;">
                      <div class="autocomplete_wrap autocomplete_small"><!-- open: class="autocomplete_open" -->
                        <div class="input_area input_area_large" role="combobox">
                          <div class="input_box input_small">
                            <input type="text" aria-label="ID 또는 성명" class="input_text body_small" placeholder="ID 또는 성명을 입력하세요">
                            <button type="button" class="btn_clear_input" aria-label="삭제" style="display:none">
                              <span class="ic ic_close_circle_filled_16px"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="autocomplete_box shadow_4dp">
                        <ul class="autocomplete_list" role="listbox">
                          <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small">000000 김현대</span></li>
                          <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small">000000 김현대</span></li>
                          <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small">000000 김현대</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="field_group">
                    <label for="" class="title_small">휴면계정</label>
                    <%- include('./include/option_wrap.ejs', {
                      optionWrap : 'option_small',
                      inputArea : 'input_area_small',
                      inputBox : 'input_small',
                      tabindex : true,
                      inputText : 'body_small',
                      inputVal : '전체',
                    }) %>
                  </div>
                  <div class="field_group">
                    <label for="" class="title_small">계정잠금</label>
                    <%- include('./include/option_wrap.ejs', {
                      optionWrap : 'option_small',
                      inputArea : 'input_area_small',
                      inputBox : 'input_small',
                      tabindex : true,
                      inputText : 'body_small',
                      inputVal : '전체',
                    }) %>
                  </div>
                  <div class="field_group">
                    <label for="" class="title_small">멀티프로필</label>
                    <%- include('./include/option_wrap.ejs', {
                      optionWrap : 'option_small',
                      inputArea : 'input_area_small',
                      inputBox : 'input_small',
                      tabindex : true,
                      inputText : 'body_small',
                      inputVal : '전체',
                    }) %>
                  </div>
                  <div class="field_group">
                    <label for="" class="title_small">권한그룹</label>
                    <div class="input_area input_area_large">
                      <div class="input_box input_small">
                        <input type="text" aria-label="권한 그룹 코드" class="input_text body_small" placeholder="권한 그룹 코드를 입력하세요">
                        <button type="button" class="btn_search" aria-label="검색" aria-haspopup="dialog"><span class="ic ic_search_bold_16px"></span></button>
                      </div>
                    </div>
                  </div>
                  <!-- [D] 기아 -->
                  <div class="field_group">
                    <label for="" class="title_small">메뉴별 개별권한</label>
                    <%- include('./include/option_wrap.ejs', {
                      optionWrap : 'option_small',
                      inputArea : 'input_area_small',
                      inputBox : 'input_small',
                      tabindex : true,
                      inputText : 'body_small',
                      inputVal : '전체',
                    }) %>
                    <div class="input_area input_area_large">
                      <div class="input_box input_small">
                        <input type="text" aria-label="메뉴별 개별권한 ID" class="input_text body_small" placeholder="메뉴ID를 입력하세요">
                        <button type="button" class="btn_search" aria-label="검색" aria-haspopup="dialog"><span class="ic ic_search_bold_16px"></span></button>
                      </div>
                    </div>
                  </div>
                  <!-- // [D] 기아 -->
                </div>
                <div class="divider"></div>
                <div class="field_vertical">
                  <label class="field_title title_medium">국내판매시스템 정보</label>
                  <div class="field_inline">
                    <div class="field_group">
                      <label for="">소속구분</label>
                      <%- include('./include/option_wrap.ejs', {
                        optionWrap : 'option_small',
                        inputArea : 'input_area_medium',
                        inputBox : 'input_small',
                        tabindex : true,
                        inputText : 'body_small',
                        inputVal : '전체',
                      }) %>
                    </div>
                    <div class="field_group">
                      <label for="">소속</label>
                      <div style="position:relative;">
                        <div class="autocomplete_wrap autocomplete_small"><!-- open: class="autocomplete_open" -->
                          <div class="input_area input_area_large" role="combobox">
                            <div class="input_box input_small">
                              <input type="text" aria-label="소속명 또는 소속코드" class="input_text body_small" placeholder="소속명 또는 소속코드 입력">
                              <button type="button" class="btn_clear_input" aria-label="삭제" style="display:none">
                                <span class="ic ic_close_circle_filled_16px"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="autocomplete_box shadow_4dp">
                          <ul class="autocomplete_list" role="listbox">
                            <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small">소속명</span></li>
                            <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small"><strong>00000</strong> 소속코드</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="field_group">
                      <label for="">보직</label>
                      <!-- 옵션 내 검색 기능 추가 예정 -->
                      <%- include('./include/option_wrap.ejs', {
                        optionWrap : 'option_small',
                        inputArea : 'input_area_medium',
                        inputBox : 'input_small',
                        tabindex : true,
                        inputText : 'body_small',
                        inputVal : '전체',
                      }) %>
                    </div>
                  </div>
                </div>
                <div class="field_vertical">
                  <label class="field_title title_medium">인사 정보</label>
                  <div class="field_inline">
                    <div class="field_group">
                      <label for="">본부명</label>
                      <div style="position: relative;">
                        <div class="autocomplete_wrap autocomplete_small"><!-- open: class="autocomplete_open" -->
                          <div class="input_area input_area_medium" role="combobox">
                            <div class="input_box input_small">
                              <input type="text" aria-label="본부명" class="input_text body_small" placeholder="본부명 입력">
                              <button type="button" class="btn_clear_input" aria-label="삭제" style="display:none">
                                <span class="ic ic_close_circle_filled_16px"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="autocomplete_box shadow_4dp">
                          <ul class="autocomplete_list" role="listbox">
                            <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small">조직명</span></li>
                            <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small"><strong>00000</strong> 조직코드</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="field_group">
                      <label for="">인사조직</label>
                      <div style="position: relative;">
                        <div class="autocomplete_wrap autocomplete_small"><!-- open: class="autocomplete_open" -->
                          <div class="input_area input_area_large" role="combobox">
                            <div class="input_box input_small">
                              <input type="text" aria-label="조직명 또는 조직코드" class="input_text body_small" placeholder="조직명 또는 조직코드 입력">
                              <button type="button" class="btn_clear_input" aria-label="삭제" style="display:none">
                                <span class="ic ic_close_circle_filled_16px"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="autocomplete_box shadow_4dp">
                          <ul class="autocomplete_list" role="listbox">
                            <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small">조직명</span></li>
                            <li class="autocomplete_item" role="option" tabindex="0"><span class="autocomplete_text body_small"><strong>00000</strong> 조직코드</span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="field_group">
                      <label for="">인사보직</label>
                      <%- include('./include/option_wrap.ejs', {
                        optionWrap : 'option_small',
                        inputArea : 'input_area_medium',
                        inputBox : 'input_small',
                        tabindex : true,
                        inputText : 'body_small',
                        inputVal : '전체',
                      }) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
              <div class="panel panel_bottom">
                <div class="input_select_wrap">
                  <span class="input_select_box input_select_medium">
                    <input type="checkbox" id="uio_checkbox1_1" class="input_checkbox">
                    <label for="uio_checkbox1_1" class="label_checkbox"><span class="label_text body_small">조회조건저장</span></label>
                  </span>
                </div>
                <div class="btn_group btn_group_center">
                  <button type="button" class="btn btn_outline btn_with_ic btn_large"><span class="ic ic_refresh_bold_20px"></span><span class="btn_inner_text title_small">초기화</span></button>
                  <button type="button" class="btn btn_fill btn_primary btn_with_ic btn_medium"><span class="btn_inner_text title_small">조회</span></button>
                </div>
                <div class="toggle_btn">
                  <button type="button" class="btn btn_text btn_with_ic btn_medium"><span class="btn_inner_text body_small">접기</span><span class="ic ic_arrow_up_bold_16px"></span></button>
                </div>
              </div>
            </div>
            <div class="panel">
              <div class="table_wrap">
                <div class="table_util">
                  <div class="btn_group">
                    <button type="button" class="btn btn_outline btn_small" aria-haspopup="dialog" disabled><span class="btn_inner_text body_small">비밀번호 초기화</span></button>
                    <button type="button" class="btn btn_outline btn_small" aria-haspopup="dialog" disabled><span class="btn_inner_text body_small">권한복사</span></button>
                  </div>
                </div>
                <div class="table_util">
                  <div class="option_group">
                    <span class="title_small">총 <span class="num">9999</span>개</span>
                    <span class="label_medium">조회일시 YYYY-MM-DD HH:MM:SS<span class="ic ic_refresh_bold_12px"></span></span>
                  </div>
                  <div class="btn_group">
                    <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">계정설정</span></button>
                    <button type="button" class="btn btn_fill btn_primary_higher btn_small" disabled><span class="btn_inner_text body_small">프로필 설정</span></button>
                    <button type="button" class="btn btn_fill btn_primary_higher btn_small" disabled><span class="btn_inner_text body_small">삭제</span></button>
                    <button type="button" class="btn btn_outline btn_with_ic btn_small" disabled><span class="ic ic_download_bold_16px"></span><span class="btn_inner_text body_small">엑셀다운로드</span></button>
                  </div>
                </div>
                <div class="table_inner">
                  <!-- AG Grid -->
                  <div id="grid_container"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- // Contents -->
  </div>
  <%-include('./include/script.ejs')%>

</body>
</html>