<%- include('./include/head.ejs',{
  title: "기준-0001-HK_차량정보관리",
  listTitle: "판매기준정보관리 > 판매코드관리 > 차량정보관리 : 02-기준정보_판매코드"
}) %>

<body class="project_sales_system" data-pagestatus="new : 2025.03.31">
<%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs')%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs')%>
    <!-- // LNB -->

    <!-- Contents -->
    <main id="content" class="content">
      <div class="content_head"></div>
      <div class="content_body">
        <!-- [D] 탭패널 활성화 : is_active 클래스 & tabindex="0" 설정 -->
        <div id="tab_01" tabindex="0" role="tabpanel" aria-labelledby="tab_anchor_01" class="tab_panel is_active">
          <div class="control_section">
            <%- include('./include/breadcrumb.ejs', {
              breadcrumbItems: [
                { text: "기준정보관리", href: "#none" },
                { text: "판매기준정보관리", href: "#none" },
                { text: "판매코드관리", id: "CON0001BH" }
              ]
            }) %>
            <%- include('./include/utility_toolbar.ejs', {
              btnInfo: true
            }) %>
          </div>
          <div class="panel_group">
            <div class="panel">
              <div class="field_inline">
                <div class="field_group">
                  <label for="select_vehicle_1-1" class="title_small">차종</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_large',
                    inputBox : 'input_small',
                    inputVal : '전체',
                    id : 'select_vehicle_1-1'
                  }) %>
                </div>
                <div class="field_group">
                  <label for="select_vehicle_1-2" class="title_small">대표차명</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_large',
                    inputBox : 'input_small',
                    inputVal : '전체',
                    id : 'select_vehicle_1-2'
                  }) %>
                </div>
                <div class="field_group">
                  <label for="select_vehicle_1-3" class="title_small">사용여부</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_medium',
                    inputBox : 'input_small',
                    inputVal : '전체',
                    id : 'select_vehicle_1-3'
                  }) %>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="panel panel_bottom">
              <div class="btn_group btn_group_center">
                <button type="button" class="btn btn_fill btn_primary btn_with_ic btn_medium"><span class="btn_inner_text title_small">조회</span></button>
              </div>
            </div>
          </div>
          <%-include('./include/tabs_section.ejs', {
            tabsSize: 'tabs_xlarge',
            tabItems: [
              { id: 'tab_1-1', ariaControls:'tabpanel_1-1', text: '대표차명 관리', ariaSelected: true },
              { id: 'tab_1-2', ariaControls:'tabpanel_1-2', text: '차명 관리' },
              { id: 'tab_1-3', ariaControls:'tabpanel_1-3', text: '모델명 관리' },
            ]
          }) %>
          <!-- Tab Content: 대표차명 관리 -->
          <div role="tabpanel" id="tabpanel_1-1" class="tab_content is_active" aria-labelledby="tab_1-1" tabindex="0">
            <div class="control_section">
              <div class="btn_group">
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">대표차명등록</span></button>
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">차명등록</span></button>
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">모델명등록</span></button>
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">차명순서관리</span></button>
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">차종관리</span></button>
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">현장관리예약</span></button>
                <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">패밀리차명관리</span></button>
              </div>
            </div>
            <div class="panel">
              <div class="table_wrap">
                <div class="table_util">
                  <div class="option_group">
                    <span class="title_small">총 <strong class="num">9999</strong>개</span>
                    <div class="date_time_box">
                      <p class="label_medium">조회일시 YYYY-MM-DD HH:MM:SS</p>
                      <button type="button" class="btn_reload" aria-label="새로고침">
                        <span class="ic ic_refresh_bold_12px"></span>
                      </button>
                    </div>
                    <%- include('./include/input_area.ejs', {
                      inputArea : 'input_area_large',
                      search: true,
                      ariaLabel : '검색창',
                      ariaDescribedby : '015',
                      inputBox : 'input_small',
                      placeholder : '검색어를 입력해주세요',
                    }) %>
                  </div>
                  <div class="btn_group">
                    <!-- [D] 비활성화 disabled 속성 추가 -->
                    <button type="button" class="btn btn_fill btn_primary_higher btn_small" >
                      <span class="btn_inner_text body_small">삭제</span>
                    </button>
                    <button type="button" class="btn btn_outline btn_with_ic btn_small">
                      <span class="ic ic_download_bold_16px"></span>
                      <span class="btn_inner_text body_small">엑셀다운로드</span>
                    </button>
                  </div>
                </div>
                <div class="table_inner">
                  <!-- AG Grid -->
                  <div id="grid_container"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Tab Content: 차명 관리 -->
          <div role="tabpanel" id="tabpanel_1-2" class="tab_content is_active" aria-labelledby="tab_1-2" tabindex="-1"></div>

          <!-- Tab Content: 모델명 관리 -->
          <div role="tabpanel" id="tabpanel_1-3" class="tab_content is_active" aria-labelledby="tab_1-3" tabindex="-1"></div>
        </div>
      </div>
    </main>
    <!-- // Contents -->
  </div>

  <%- include('./include/option_menu_popup.ejs') %>
  <%- include('./include/script.ejs') %>
  <script src="../js/react.bundle.js"></script> <!-- React 번들 -->

  <!-- [D] 마크업 검수용, 개발제외 -->
  <%- include('./include/caseview.ejs', {
    popupItems : [
      {id: '', text:'대표차명 등록'},
      {id: '', text:'대표차명 정보'},
      {id: '', text:'차명등록'},
      {id: '', text:'차명수정'},
      {id: '', text:'모델명 등록'},
      {id: '', text:'모델명 정보'},
      {id: '', text:'모델명 수정'},
      {id: '', text:'차명순서관리'},
      {id: '', text:'차종관리'},
      {id: '', text:'현장공개예약'},
      {id: '', text:'패밀리 차명 관리'},
    ]
  }) %>
  <script type="text/javascript">
    $(document).ready(function () {
      // 케이스뷰 목록 오픈
      $('.btn_open').click(function () {
        $('.case_view').toggle();
      });

      // 케이스뷰 버튼 활성화 상태 변경
      $(".btn-caseview").click(function () {
        $(".btn-caseview").removeClass("is_active");
        $(this).addClass("is_active");
      });

      // 브랜드 모드 뷰 설정 (HYUNDAI/KIA/BO/HMG)
      const themeClasses = 'theme_hyundai theme_kia theme_bo';

      // Theme hyundai - Brand Font
      $("#caseBtn1").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_hyundai');
        $('.nav_logo img').attr("src","../img/logo_hyundai.svg").prop("alt", "Hyundai");
      });

      // Theme kia - Brand Font
      $("#caseBtn2").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_kia');
        $('.nav_logo img').attr("src","../img/logo_kia.svg").prop("alt", "Kia");
      });

      // Theme bo
      $("#caseBtn3").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_bo');
      });
    })
  </script>
  <!-- // [D] 마크업 검수용, 개발제외 -->
</body>
</html>