<%-include('./include/head.ejs',{
  "title": "계출-0074-A-HK_배정요청 순서조정",
  "listTitle": "배정요청 순서조정 : 03-계약출고"
})%>
<body class="project_sales_system" data-pagestatus="">
  <%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs',{
      type:'01'
    })%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs',{
    })%>
    <!-- // LNB -->

    <!-- Contents -->
    <main id="content" class="content">
      <div class="content_head"></div>
      <div class="content_body">
        <!-- [D] 탭패널 활성화 : is_active 클래스 & tabindex="0" 설정 -->
        <div id="tab_01" tabindex="0" role="tabpanel" aria-labelledby="tab_anchor_01" class="tab_panel is_active">
          <div class="control_section">
            <%- include('./include/breadcrumb.ejs', {
              breadcrumbItems: [
                { text: "계약출고", href: "#none" },
                { text: "계약출고", href: "#none" },
                { text: "배정요청 순서조정", id: "CON0069BH" }
              ]
            }) %>
            <div class="btn_group">
              <div role="group" class="zoom_control">
                <button type="button" class="btn btn_only_ic" aria-label="축소"><span class="ic ic_minus_bold_16px"></span></button>
                <span role="status" class="body_small" aria-live="polite">100%</span>
                <button type="button" class="btn btn_only_ic" aria-label="확대"><span class="ic ic_plus_bold_16px"></span></button>
              </div>
              <button type="button" class="btn btn_radius btn_only_ic btn_small" aria-pressed="false" aria-label="전체 화면보기로 전환"><span class="ic ic_fullscreen_bold_16px"></span></button>
              <a href="#none" target="_blank" class="btn btn_radius btn_only_ic btn_small" aria-label="새 창에서 열기"><span class="ic ic_open_in_new_bold_16px"></span></a>
              <button type="button" class="btn btn_radius btn_only_ic btn_small" aria-label="도움말"><span class="ic ic_help_bold_16px"></span></button>
            </div>
          </div>

          <div class="panel_group">
            <div class="panel">
              <div class="field_inline">
                <div class="field_group">
                  <label for="" class="title_small">소속</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_medium',
                    inputBox : 'input_small',
                    inputVal : '전체',
                  }) %>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_medium',
                    inputBox : 'input_small',
                    inputVal : '전체',
                  }) %>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_medium',
                    inputBox : 'input_small',
                    inputVal : '전체',
                  }) %>
                </div>

                <div class="field_group">
                  <label for="" class="title_small">영업담당</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_medium',
                    inputBox : 'input_small',
                    inputVal : '전체',
                  }) %>
                </div>
              </div>

              <div class="field_inline">
                <div class="field_group">
                  <label for="" class="title_small">결재상태</label>
                  <%- include('./include/option_wrap.ejs', {
                    optionWrap : 'option_small',
                    inputArea : 'input_area_medium',
                    inputBox : 'input_small',
                    inputVal : '진행중',
                  }) %>
                </div>
                <div class="field_group">
                  <label for="period" class="title_small">상신일</label>
                  <%- include('./include/date_picker.ejs', {
                    ariaLabelledby: 'period',
                    inlineStyle: 'width: 328px',
                    range: true,
                    startValue: '2025-03-01',
                    endValue: '2025-03-31',
                  }) %>
                </div>
              </div>

              <div class="divider"></div>
              <div class="field_inline">
                <div class="field_group">
                  <label class="title_medium">계약번호</label>
                  <%- include('./include/input_area.ejs', {
                    inputBox : 'input_suffix input_small',
                    ariaLabel : '',
                    placeholder : '판매코드 공통 입력',
                  }) %>
                  <p class="field_desc label_medium">※ 계약번호를 직접 입력한 경우 위에서 선택한 조건과 무관하게 계약번호 기준으로 조회됩니다. </p>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="panel panel_bottom">
              <div class="btn_group btn_group_center">
                <button type="button" class="btn btn_fill btn_primary btn_large"><span class="btn_inner_text title_small">조회</span></button>
              </div>
            </div>
          </div>

          <div class="btn_group btn_group_right">
            <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">순서조정 요청</span></button>
            <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">승인</span></button>
            <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">반려</span></button>
            <button type="button" class="btn btn_fill btn_primary_higher btn_small"><span class="btn_inner_text body_small">코드별조정횟수</span></button>
          </div>

          <div class="panel">
            <div class="table_wrap">
              <div class="table_util">
                <div class="option_group">
                  <span class="title_small">총 <strong class="num">9999</strong>개</span>
                  <div class="date_time_box">
                    <p class="label_medium">조회일시 YYYY-MM-DD HH:MM:SS</p>
                    <button type="button" class="btn_reload" aria-label="새로고침">
                      <span class="ic ic_refresh_bold_12px"></span>
                    </button>
                  </div>
                  <%- include('./include/input_area.ejs', {
                    inputArea : 'input_area_large',
                    search: true,
                    ariaLabel : '검색창',
                    ariaDescribedby : '015',
                    inputBox : 'input_small',
                    placeholder : '검색어를 입력해주세요',
                  }) %>
                </div>
                <div class="btn_group">
                  <button type="button" class="btn btn_outline btn_with_ic btn_small">
                    <span class="ic ic_download_bold_16px"></span>
                    <span class="btn_inner_text body_small">엑셀다운로드</span>
                  </button>
                </div>
              </div>
              <div class="table_inner">
                <!-- AG Grid -->
                <div id="grid_container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- // Contents -->
  </div>
  <%-include('./include/script.ejs')%>
  <script src="../js/react.bundle.js"></script> <!-- React 번들 -->

  <!-- [D] 마크업 검수용, 개발제외 -->
  <%- include('./include/caseview.ejs') %>
  <script type="text/javascript">
    $(document).ready(function () {
      // 케이스뷰 목록 오픈
      $('.btn_open').click(function () {
        $('.case_view').toggle();
      });

      // 케이스뷰 버튼 활성화 상태 변경
      $(".btn-caseview").click(function () {
        $(".btn-caseview").removeClass("is_active");
        $(this).addClass("is_active");
      });

      // 브랜드 모드 뷰 설정 (HYUNDAI/KIA/BO/HMG)
      const themeClasses = 'theme_hyundai theme_kia theme_bo';

      // 1. Theme hyundai - Brand Font
      $("#caseBtn1").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_hyundai');
        $('.nav_logo img').attr("src","../img/logo_hyundai.svg").prop("alt", "Hyundai");
      });

      // 2. Theme kia - Brand Font
      $("#caseBtn2").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_kia');
        $('.nav_logo img').attr("src","../img/logo_kia.svg").prop("alt", "Kia");
      });

      // 3. Theme bo
      $("#caseBtn3").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_bo');
      });

    })
  </script>
  <!-- // [D] 마크업 검수용, 개발제외 -->
  </body>
  </html>
