<%-include('./include/head.ejs',{
  "title": "계출-0117-A-HK_특장업체 배출가스 소음인증 내용 확인서 발급",
  "listTitle": "특장업체 배출가스 소음인증 내용 확인서 발급 : 03-계약출고"
})%>
<body class="project_sales_system">
  <%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs',{
      type:'01'
    })%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs',{
    })%>
    <!-- // LNB -->

    <!-- Contents -->
    <main id="content" class="content">
      <div class="content_head"></div>
      <div class="content_body">
        <!-- [D] 탭패널 활성화 : is_active 클래스 & tabindex="0" 설정 -->
        <div id="tab_01" tabindex="0" role="tabpanel" aria-labelledby="tab_anchor_01" class="tab_panel is_active">
          <div class="control_section">
            <%- include('./include/breadcrumb.ejs', {
              breadcrumbItems: [
                { text: "계약출고", href: "#none" },
                { text: "계약출고", href: "#none" },
                { text: "특장업체 배출가스 소음인증 내용 확인서 발급 ", id: "CON0069BH" }
              ]
            }) %>
            <div class="btn_group">
              <div role="group" class="zoom_control">
                <button type="button" class="btn btn_only_ic" aria-label="축소"><span class="ic ic_minus_bold_16px"></span></button>
                <span role="status" class="body_small" aria-live="polite">100%</span>
                <button type="button" class="btn btn_only_ic" aria-label="확대"><span class="ic ic_plus_bold_16px"></span></button>
              </div>
              <button type="button" class="btn btn_radius btn_only_ic btn_small" aria-pressed="false" aria-label="전체 화면보기로 전환"><span class="ic ic_fullscreen_bold_16px"></span></button>
              <a href="#none" target="_blank" class="btn btn_radius btn_only_ic btn_small" aria-label="새 창에서 열기"><span class="ic ic_open_in_new_bold_16px"></span></a>
              <button type="button" class="btn btn_radius btn_only_ic btn_small" aria-label="도움말"><span class="ic ic_help_bold_16px"></span></button>
            </div>
          </div>

          <%- include('./include/search_section.ejs', {
            labelID: 'search_field',
            labelText: '계약번호',
            inputPlaceholder: '계약번호',
            inputValue: '24A01146452',
            searchButtonItems: [
              { text: '조회' }
            ]
          }) %>

          <div class="panel">
            <div class="table_wrap">
              <div class="table_util">
                <span class="title_large">기본정보</span>
                <div class="btn_group">
                  <button type="button" class="btn btn_fill btn_primary_higher btn_medium"><span class="btn_inner_text body_small">확인서발급</span></button>
                  <button type="button" class="btn btn_fill btn_primary_higher btn_medium" disabled><span class="btn_inner_text body_small">확인서발급</span></button>
                </div>
              </div>
              <div class="table_inner">
                <div class="table_flex">
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">문서번호</strong></div>
                    <div class="td">
                      <span class="body_small">24Axxxxxxxx-3</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">출고일</strong></div>
                    <div class="td">
                      <span class="body_small">2024-12-26</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">제작증 발급일</strong></div>
                    <div class="td">
                      <span class="body_small">증차</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">확인서 발급 횟수</strong></div>
                    <div class="td">
                      <span class="body_small">2</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table_wrap">
              <div class="table_util">
                <span class="title_large">기인증자동차</span>
              </div>
              <div class="table_inner">
                <div class="table_flex">
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">차명</strong></div>
                    <div class="td">
                      <span class="body_small">파비스(PAVISE)</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><label for="" class="title_small">차종/사용연료</label></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputArea : 'input_area_large',
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '차종/사용연료',
                        inputVal : '초대형화물'
                      }) %>
                      <span class="body_small">&nbsp;&nbsp; / 경유</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">엔진형식</strong></div>
                    <div class="td">
                      <span class="body_small">D6GB</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">총 중량</strong></div>
                    <div class="td">
                      <span class="body_small">11,285 kg</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">제원관리번호</strong></div>
                    <div class="td">
                      <span class="body_small">A085-00199-0848-3021</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table_wrap">
              <div class="table_util">
                <span class="title_large">특장자동차</span>
              </div>
              <div class="table_inner">
                <div class="table_flex">
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">① 차명</strong></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '① 차명',
                        inputVal : ''
                      }) %>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><label for="" class="title_small">② 자동차형식</label></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '② 자동차형식'
                      }) %>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">③ 용도</strong></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '③ 용도',
                        inputVal : ''
                      }) %>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><label for="" class="title_small">④ 차종/사용연료</label></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '④ 차종/사용연료'
                      }) %>
                      <span class="body_small">&nbsp;&nbsp; / 경유</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑤ 엔진형식</strong></div>
                    <div class="td">
                      <span class="body_small">D6GB</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑥ 엔진배기량</strong></div>
                    <div class="td">
                      <span class="body_small">6,798cc</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑦ 최대출력</strong></div>
                    <div class="td">
                      <div class="text_wrap">
                        <span class="body_small">300ps</span>
                        <span class="body_small">2500rpm</span>
                      </div>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑧ 변속기</strong></div>
                    <div class="td">
                      <span class="body_small">수동변속기(6/1)</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑨ 공차중량</strong></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '⑨ 공차중량',
                        inputVal : ''
                      }) %>
                      <span class="body_small">&nbsp; kg</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑩ 총 중량</strong></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '⑩ 총 중량',
                        inputVal : ''
                      }) %>
                      <span class="body_small">&nbsp; kg</span>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑪ 제원관리번호</strong></div>
                    <div class="td">
                      <%- include('./include/input_area.ejs', {
                        inputBox : 'input_suffix input_small',
                        ariaLabel : '⑪ 제원관리번호',
                        inputVal : ''
                      }) %>
                    </div>
                  </div>
                  <div class="col colspan_2">
                    <div class="th medium"><strong class="title_small">⑫ 차대번호(1-14자리)</strong></div>
                    <div class="td">
                      <span class="body_small">KMXXXXXXXXXXXX</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table_bottom btn_group_center">
              <button type="button" class="btn btn_fill btn_primary btn_xlarge"><span class="btn_inner_text title_small">확인서발급</span></button>
            </div>

            <ul class="list_wrap list_dot">
              <li class="list_item">
                <p class="list_primary body_small">모든 항목은 필수입력이며, 각 항목 특장업체 확인 필수</p>
              </li>
              <li class="list_item">
                <p class="list_desc body_small">
                  <span class="align_indent">특장자동차 ④차종 : </span>
                  <span class="align_indent">⑩총중량이 15,000kg 이상이면 초대형화물 or 초대형 버스 <br>⑩총중량이 15,000kg 미만이면 대형화물 or 대형 버스</span>
                </p>
              </li>
              <li class="list_item">
                <p class="list_desc body_small">기타 문의사항 : 차종담당자 및 상용법규인증팀</p>
              </li>
            </ul>

          </div>

        </div>
      </div>
    </main>
    <!-- // Contents -->
  </div>
  <%-include('./include/script.ejs')%>

  <!-- [D] 마크업 검수용, 개발제외 -->
  <%- include('./include/caseview.ejs') %>
  <script type="text/javascript">
    $(document).ready(function () {
      // 케이스뷰 목록 오픈
      $('.btn_open').click(function () {
        $('.case_view').toggle();
      });

      // 케이스뷰 버튼 활성화 상태 변경
      $(".btn-caseview").click(function () {
        $(".btn-caseview").removeClass("is_active");
        $(this).addClass("is_active");
      });

      // 브랜드 모드 뷰 설정 (HYUNDAI/KIA/BO/HMG)
      const themeClasses = 'theme_hyundai theme_kia theme_bo';

      // 1. Theme hyundai - Brand Font
      $("#caseBtn1").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_hyundai');
        $('.nav_logo img').attr("src","../img/logo_hyundai.svg").prop("alt", "Hyundai");
      });

      // 2. Theme kia - Brand Font
      $("#caseBtn2").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_kia');
        $('.nav_logo img').attr("src","../img/logo_kia.svg").prop("alt", "Kia");
      });

      // 3. Theme bo
      $("#caseBtn3").click(function () {
        $("body").removeClass(themeClasses).addClass('theme_bo');
      });

    })
  </script>
  <!-- // [D] 마크업 검수용, 개발제외 -->
  </body>
  </html>