<%-include('./include/head.ejs',{
  "title": "계출-0001-A-HK_주문서_계약이력정보",
  "listTitle": "계약출고 > 계약출고 > 주문서 > 계약이력 정보 : 04-계약출고_주문서"
})%>
<body class="project_sales_system" data-pagestatus="new : 2025.03.31">
  <%-include('./include/skipnavigation.ejs')%>
  <div class="wrap">
    <!-- Header -->
    <%-include('./include/header.ejs',{
      type:'01'
    })%>
    <!-- //Header -->

    <!-- LNB -->
    <%-include('./include/lnb.ejs')%>
    <!-- // LNB -->

    <!-- Contents -->
    <main id="content" class="content">
      <div class="content_head"></div>
      <div class="content_body">
        <!-- [D] 탭패널 활성화 : is_active 클래스 & tabindex="0" 설정 -->
        <div id="tab_01" tabindex="0" role="tabpanel" aria-labelledby="tab_anchor_01" class="tab_panel is_active">
          <div class="control_section">
            <%- include('./include/breadcrumb.ejs', {
              breadcrumbItems: [
                { text: "계약출고", href: "#none" },
                { text: "계약출고", href: "#none" },
                { text: "주문서", href: "#none" },
                { text: "계약이력정보", id: "CON0001BH" },
              ]
            }) %>
            <%- include('./include/utility_toolbar.ejs', {
              btnCopy: true,
              btnInfo: true
            }) %>
          </div>
          <%- include('./include/search_section.ejs', {
            labelID: 'search_field',
            labelText: '계약번호',
            inputPlaceholder: '계약번호',
            inputValue: '23 A 123-5678',
            searchButtonItems: [
              { text: "계약번호조회" },
              { text: "계약상세검색" },
            ],
          }) %>

          <%- include('./include/tabs_section.ejs', {
            tabsSize: 'tabs_xlarge',
            tabItems: [
              { id: 'tab_1-1', ariaControls:'tabpanel_1-1', text: '계약출고진행' },
              { id: 'tab_1-2', ariaControls:'tabpanel_1-2', text: '판매조건결재' },
              { id: 'tab_1-3', ariaControls:'tabpanel_1-3', text: '계약이력정보', ariaSelected: true },
            ],
          }) %>
          <div class="content_section">
            <!-- 좌측: 주문서 데이터 테이블 영역 -->
            <div class="data_area">
              <div class="accordion accordion_panel">
                <!-- [D] 아코디언 활성화 클래스: accordion_open -->
                <div class="accordion_item accordion_open">
                  <div class="accordion_panel_header">
                    <!-- [D] id와 연관된 활성화 버튼 aria-labelledby값 연결 -->
                    <div id="accordion_panel_01" class="accordion_title">
                      <span class="title_large">계약출고 이력</span>
                    </div>
                    <div class="accordion_control">
                      <button type="button" class="btn btn_filter btn_only_ic btn_xxsmall" aria-label="링크 복사"><span class="ic ic_link_bold_20px"></span></button>
                      <!-- [D] 활성화: aria-expended="true", 비활성화: aria-expended="false" / aria-controls와 연관된 콘텐츠의 id값 연결 / aria-labelledby와 연관된 상위 타이틀의 id값 연결 -->
                      <button type="button" class="btn_accordion" aria-expanded="true" aria-controls="accordion_panel_content_01" aria-labelledby="accordion_panel_01"><span class="ic ic_arrow_down_regular_24px"></span></button>
                    </div>
                  </div>
                  <!-- [D] id와 연관된 상위 button의 aria-controls값 연결 -->
                  <div id="accordion_panel_content_01" class="accordion_content" role="region" style="display: block">
                    <div class="accordion_panel_content">
                      <!-- Ag-grid -->
                      <div id="grid_container"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion accordion_panel">
                <!-- [D] 아코디언 활성화 클래스: accordion_open -->
                <div class="accordion_item accordion_open">
                  <div class="accordion_panel_header">
                    <div id="accordion_panel_02" class="accordion_title">
                      <span class="title_large">알림발송 이력</span>
                    </div>
                    <div class="accordion_control">
                      <button type="button" class="btn btn_filter btn_only_ic btn_xxsmall" aria-label="링크 복사"><span class="ic ic_link_bold_20px"></span></button>
                      <button type="button" class="btn_accordion" aria-expanded="true" aria-controls="accordion_panel_content_02" aria-labelledby="accordion_panel_02"><span class="ic ic_arrow_down_regular_24px"></span></button>
                    </div>
                  </div>
                  <div id="accordion_panel_content_02" class="accordion_content" role="region" style="display: block">
                    <div class="accordion_panel_content">
                      <!-- Ag-grid -->
                      <div id="grid_container"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 우측: 계약 관련 정보 영역  -->
            <div class="info_area">
              <div class="menu_box">
                <%- include('./include/tree.ejs', {
                  treeClass: 'tree_small tree_line',
                  treeItems: [
                    {
                      stateClass: 'tree_selected',
                      treeText: 'body_small',
                      title: '계약출고 이력',
                    },
                    {
                      treeText: 'body_small',
                      title: '알림 발송 이력',
                    },
                    {
                      treeText: 'body_small',
                      title: '업무 처리 이력',
                    },
                    {
                      stateClass: 'tree_expanded',
                      stateValue: true,
                      treeText: 'body_small',
                      title: '이관 이력',
                      children: [
                        {title: '이관 정보', treeText: 'body_small', treeMenuBtn: false},
                        {title: '실적 변경 이력', treeText: 'body_small', treeMenuBtn: false},
                        {title: '실적 이관 이력', treeText: 'body_small', treeMenuBtn: false},
                        {title: '제작증 발급 이력', treeText: 'body_small', treeMenuBtn: false},
                      ]
                    },
                  ]
                }) %>
              </div>
              <div class="payment_box">
                <div class="payment_title">
                  <strong class="title_large">가격/매출 정보</strong>
                  <!-- [D] 전체 접기 시 (default): aria-expanded="false" & 트리 메뉴 Lv2까지 노출 / 전체 펼치기 시: aria-expanded="true" & 트리 메뉴 Lv3까지 노출 -->
                  <button type="button" class="btn btn_filter btn_only_ic btn_xxsmall btn_tree_payment" aria-label="전체 펼치기 토글" aria-expanded="false"><span class="ic ic_arrow_down_regular_24px"></span></button>
                </div>
                <div class="payment_content">
                  <%- include('./include/tree_payment.ejs', {
                    treeItems: [
                      {
                        title: '구입정보',
                        num: '100,000,000',
                      },
                    ],
                  }) %>
                  <div class="total_amount title_large">
                    <span class="title">총 구입비용</span>
                    <span class="num text_ellipsis">38,880,000</span>
                  </div>
                  <%- include('./include/tree_payment.ejs', {
                    treeItems: [
                      {
                        title: '지불정보',
                        num: '100,000,000',
                      },
                    ],
                  }) %>
                  <div class="total_amount title_large">
                    <span class="title">총 지불비용</span>
                    <span class="num text_ellipsis">38,880,000</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- // Contents -->
  </div>

  <%-include('./include/script.ejs')%>
  <script src="../js/react.bundle.js"></script> <!-- React 번들 -->
  <!-- [D] 마크업 확인용, 개발 제외 영역 -->
  <script type="text/javascript">
    $(document).ready(function() {
      // 가격/매출 정보 메뉴: depth04 tree_box tabindex 제거
      $(".tree_payment .tree_item .tree_item .tree_item .tree_box").removeAttr("tabindex");
  });
  </script>
  <!-- [D] // 마크업 확인용, 개발 제외 영역 -->

</body>
</html>
