.modal {
  padding: 0;
  border-radius: 3rem;
  border: none;
  &::backdrop {
    background: rgba($black, 0.3);
  }

  &.modal-small {
    width: 35.6rem;
    .modal-container {
      padding: 3.2rem;
    }
  }

  &.modal-medium {
    width: 54rem;
  }

  &.modal-large {
    width: 90rem;
  }

  .btn-close {
    display: block;
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
    width: 3.2rem;
    height: 3.2rem;
    background: admin-image('ic_pc_co_close.svg') no-repeat center / contain;
  }
  .modal-container {
    padding: 3.2rem;
  }
  .modal-top {
    margin-bottom: 2.6rem;
    .modal-title-box {
      .title {
        @include font(1.8rem, 500, $black, 2.4rem);
      }
    }
  }

  .modal-middle {
    // overflow-y: auto;
    // max-height: 39.2rem;
  }

  .modal-content-box {
    @include font(1.6rem, 500, $gray-500, 2.4rem);
    .text {
      word-break: keep-all;
      letter-spacing: -0.032rem;
      + .text {
        margin-top: 1.2rem;
      }
    }
    .field-radio {
      + .field-radio {
        margin-top: 0.5rem;
      }
    }
  }

  .modal-bottom {
    margin-top: 3rem;
    .modal-button-box {
      @include flex(row, center, center);
      gap: 1rem;
    }
    .btn {
      gap: 0.6rem;
      width: 100%;
      padding: 1.2rem 1.4rem;
      border-radius: 1.2rem;
      @include font(1.4rem, 500, $white, 1.8rem);
      letter-spacing: -0.028rem;
    }
  }

  .schedule-container {
    padding: 0;
  }

  .tab-box {
    padding-top: 1.8rem;
    .tab-lists {
      @include flex(row, flex-start, center);
      padding: 0.4rem;
      border-radius: 1.2rem;
      background-color: rgba($black, 0.03);
      .tab-list {
        flex: 1;
        .btn-tab {
          display: block;
          width: 100%;
          height: 3.6rem;
          border-radius: 0.8rem;
          background-color: transparent;
          @include font(1.6rem, 700, $gray-500, 3.8rem);
          text-align: center;
          &.active {
            background-color: $white;
            color: $accent;
          }
        }
      }
    }

    .field-box {
      padding-top: 2rem;
      margin-bottom: 2rem;
    }

    .desc-box {
      @include font(1.4rem, 500, $gray-400, 2rem);
      text-align: center;
    }

    .tab-content-box {
      display: none;
      &.active {
        display: block;
      }
      &:last-child {
        .desc-box {
          margin-top: 1rem;
        }
      }
    }
  }

  .tab-content-box {
    .calendar-box {
      margin-top: 2rem;
    }
    .react-datepicker {
      .react-datepicker__day {
        border-radius: 50%;
        &.react-datepicker__day--selected {
          background-color: transparent;
          color: $gray-500;
        }
        &.react-datepicker__day--highlighted {
          border-color: $accent;
          background-color: $accent;
          color: $white;
        }
      }
    }
  }

  .field-textarea-box {
    height: 14rem;
  }

  &.modal-send-noti-message {
    width: 78.2rem;
    .send-message-container {
      .send-message-area {
        @include flex(row, space-between, flex-start);
        gap: 3.2rem;
      }

      .send-message-left {
        flex: 1;
      }

      .send-message-right {
        width: 39.4rem;
        padding: 2.6rem 2.6rem 2.6rem 2.6rem;
        border-radius: 2rem;
        background-color: $tan-100;
      }

      .message-box {
        @include font(1.6rem, 500, $gray-500, 2.4rem);
        letter-spacing: -0.032rem;
        word-break: keep-all;
      }

      .alert-box {
        margin-top: 3rem;
        .label-box {
          @include font(1.6rem, 700, $accent, 2.4rem);
          letter-spacing: -0.032rem;
        }

        .desc-box {
          margin-top: 0.4rem;
          @include font(1.6rem, 500, $black, 2.4rem);
          letter-spacing: -0.032rem;
        }
      }

      .information-box {
        @include font(1.4rem, 500, $black, 1.8rem);
        letter-spacing: -0.028rem;
      }
    }
  }

  &.modal-virtual-account {
    width: 46rem;
    .fieldset-box {
      .message-box {
        @include font(1.6rem, 400, $gray-500, 2.4rem);
        letter-spacing: -0.032rem;
      }

      .form-box {
        margin-top: 2.4rem;
      }
    }
  }

  .field-container {
    .field-desc {
      &::before {
        display: none;
      }
    }
  }
}
