.menu-container {
  overflow: clip;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  &.active {
    pointer-events: auto;
    .dim {
      opacity: 1;
    }

    .menu-area {
      right: 0;
    }

    .menu-link,
    .menu-sub-link {
      transition: translate 1s calc(var(--index) * 0.05s) cubic-bezier(0.19, 1, 0.22, 1);
      translate: 0 0;
    }
  }

  .dim {
    opacity: 0;
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
    transition: opacity 0.3s linear;
  }

  .menu-area {
    z-index: 13;
    position: absolute;
    top: 0;
    right: -100%;
    width: 96rem;
    height: 100%;
    padding: 12rem 0 0 10rem;
    background-color: $black;
    transition: right 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.menu-list-box {
  .menu-list {
    margin-top: 4rem;
    &:first-child {
      margin-top: 0;
    }

    .menu-link-box {
      overflow: clip;
      .menu-link {
        @include font(h3, $gray-300);
        &:hover,
        &.hover {
          color: $white;
        }
      }
    }
  }
}

.menu-sub-list-box {
  margin-top: 0.8rem;
  .menu-sub-list {
    margin-top: 0.6rem;
    &:first-child {
      margin-top: 0;
    }
    .menu-sub-link-box {
      overflow: clip;
      .menu-sub-link {
        @include font(h4, $gray-300);
        &:hover {
          color: $white;
        }
      }
    }
  }
}

.menu-link,
.menu-sub-link {
  display: block;
  translate: 0 105%;
}

@media #{$tablet} {
  .menu-container {
    .menu-area {
      width: 100%;
      padding: 8.8rem 0 0 2rem;
    }

    .logo-box {
      position: absolute;
      top: 1.6rem;
      left: 2rem;
    }
  }

  .menu-list-box {
    .menu-list {
      margin-top: 2.4rem;
      .menu-link-box {
        .menu-link {
          font-size: 2rem;
          line-height: 2.6rem;
          &:hover,
          &.hover {
            color: $gray-300;
          }
        }
      }
    }
  }

  .menu-sub-list-box {
    margin-top: 0.4rem;
    .menu-sub-list {
      margin-top: 0.4rem;
      .menu-sub-link-box {
        .menu-sub-link {
          font-size: 1.6rem;
          line-height: 2.2rem;
          &:hover {
            color: $gray-300;
          }
        }
      }
    }
  }
}

@media #{$mobile_device} {
  .menu-list-box {
    .menu-list {
      .menu-link-box {
        .menu-link {
          &:hover,
          &.hover {
            color: $gray-300;
          }
        }
      }
    }
  }

  .menu-sub-list-box {
    .menu-sub-list {
      .menu-sub-link-box {
        .menu-sub-link {
          &:hover {
            color: $gray-300;
          }
        }
      }
    }
  }
}
