/* cookie */
.cookie-conainer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  padding: 8rem 10rem;
  background-color: $color-F2F2F2;
  @include fontfamhead;
  .cookie-area {
    @include flex(row, flex-start, flex-start);
  }

  .cookie-left {
    flex: 1;
    @include flex(row, flex-start, flex-start);
    margin-right: 6rem;
  }
  
  .cookie-title {

    @include fontfamhead;
    @include font(2.8rem, 500, $black, normal);
  }
  
  .cookie-text {
    flex: 1;
    margin-left: 6rem;
    .btn-underline {
      border: 0;
      text-decoration: underline;
    }
  }

  .cookie-text,
  .btn-underline {
    @include font(1.8rem, 400, $black, 2.8rem);
    letter-spacing: -0.016rem;
  }

  .btn-line-wh {
    padding: 0 4rem;
    @include fontfamhead;
    font-size: 2.6rem;
    font-weight: 400;
    white-space: nowrap;
  }
}

// ------ pc end

@media #{$pc_large} {
  /* cookie */
  .cookie-conainer {
    padding: 5rem 2.4rem;
  }
}

@media #{$pc_middle} {
}

@media screen and (max-width: 1144px) {
  .cookie-conainer {
    .cookie-text {
      br {
        display: none;
      }
    }
  }
}

@media #{$tablet} {
  /* cookie */
  .cookie-conainer {
    padding: 4rem 2rem;
    .cookie-area {
      display: block;
    }

    .cookie-left {
      display: block;
      margin: 0 0 3rem 0;
    }

    .cookie-title {
      margin-bottom: 2rem;
      @include font(1.8rem, 500, #000, normal);
      text-align: center;
    }

    .cookie-text {
      margin: 0;
      br {
        display: block;
      }
    }

    .cookie-text,
    .btn-underline {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    .btn-line-wh {
      width: 100%;
      height: 5rem;
      margin: 0 auto;
      padding: 0 2rem;
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .cookie-conainer {
    .cookie-text {
      br {
        display: none;
      }
    }
  }
}
