//product common layout
.parallax-mirror {
  &.section-visual-front {
    &::before {
      content: '';
      z-index: 12;
      position: absolute;
      left: 50%;
      top: -1px;
      display: block;
      width: calc(100% + 1rem);
      transform: translateX(-50%);
      padding-bottom: calc(8.4% + 1px);
      background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
  }
}


.product-content-container {
  margin: 0 auto;
  .content-visual-container {
    .content-visual-content-box {
      padding-top: 22rem;
    }
  }
}

.product-container {
  .section-container {
    margin-bottom: 24rem;
    &:nth-last-child(1 of .section-container) {
      margin-bottom: 0;
    }

    &.section-technology,
    &.section-safety {
      .section-middle {
        margin-top: -5.6rem;
      }
    }
  }
  .section-top {
    z-index: 12;
    position: relative;
    @extend .max-width-1416;
    .title-box {
      @include fontfamhead;
      @include font(4rem, 500, #747474, normal);
      text-align: center;
      text-transform: capitalize;
    }
    .sub-text-box {
      margin-top: 1rem;
      @include fontfamhead;
      @include font(5.2rem, 500, $black, normal);
      text-align: center;
    }
    .desc-box {
      margin-top: 2rem;
      @include fontfamtext;
      @include font(1.6rem, 400, $color-444444, 2.4rem);
      text-align: center;
    }
  }

  .product-info-block-container {
    width: 119rem;
    margin: 6rem auto 24rem;
    padding: 0 2rem;
  }

  .video-desc-box {
    margin-top: 7rem;
    @include font(1.6rem, 400, $color-444444, 1.5);
  }

  .video-box {
    position: relative;
    max-width: 141rem;
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
    &:hover {
      .video-controller-box {
        display: block;
      }
    }

    .video {
      position: relative;
      padding-bottom: 56.3%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .section-highlights {
    .section-middle {
      @extend .max-width-1416;
    }
    .section-bottom {
      @include flex(row, space-between, flex-start);
      @extend .max-width-1416;
      margin-top: 18rem;
      .section-bottom-left {
        flex: 1;
      }
      .section-bottom-right {
        margin-left: 13.7rem;
      }
    }
  }

  .section-safety {
    .section-bottom {
      margin-top: 18rem;
      .deco-visual-box {
        @extend .max-width-1416;
        @include flex(row, space-between, flex-start); 

        .deco-visual-box-left {
          @include flex(row, flex-start, flex-start); 
          flex: 1;
        }

        .deco-visual-image {
          + .deco-visual-image {
            margin-left: 3rem;
          }
          img {
            @include imgbox;
          }
        }

        .deco-visual-box-right {
          width: 45rem;
          margin-left: 3rem;
        }

        .deco-visual-desc-box {
          .title-box {
            @include fontfamhead;
            @include font(4.4rem, 500, #000, 5rem);
          }
          .deco-visual-desc {
            margin-top: 2rem;
            @include font(1.6rem, 400, #444, 2.4rem);
          }
        }
      }
    }
  }

  .highlights-text-block-box {
    .highlights-text-block-title {
      @include fontfamhead;
      @include font(4.4rem, 500, $black, normal);
    }
    
    .highlights-text-block-sub-title {
      margin-top: 3rem;
      @include fontfamhead;
      @include font(2.8rem, 500, #1d1d1d, normal);
    }

    .highlights-text-block-desc {
      margin-top: 2rem;
      @include font(1.6rem, 400, #000, 2.4rem);
    }
  }

  .highlights-block-container {
    width: 86.8rem;
  }

  .highlights-block-wrapper {
    @include flex(row, flex-start, flex-start);

    .highlights-block {
      .highlights-block-image-box {
        overflow: hidden;
        position: relative;
        &::before {
          content: '';
          opacity: 0.2;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 7.8rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        }
        img {
          display: block;
          width: 100%;
          transition: all 0.3s;
        }
        .image-title-box {
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
          @include fontfamhead;
          @include font(1.8rem, 500, $white, normal);
          white-space: nowrap;
        }
      }

      .highlights-block-desc-box {
        margin-top: 2rem;
        @include font(1.4rem, 400, $color-444444, 1.8rem);
        word-break: keep-all;
      }
    }
  }

  .section-visual-box {
    overflow: hidden;
    z-index: 11;
    position: relative;
    margin-bottom: 18rem;
    .section-visual {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .section-visual-front {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .background {
      width: 100%;
      height: 100%;
    }

    .section-visual-back {
      img {
        visibility: hidden;
        display: block;
        width: 100%;
        height: auto;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }

  .gallery-block-container {
    margin-top: 5rem;
    .gallery-block-tab-box {
      @include flex(row, center, center);

      .tab {
        position: relative;
        padding: 1rem 0;
        margin: 0 3rem;
        @include font(2.8rem, 500, $color-888888, normal);
        &.active {
          color: $color-00AAD2;
          &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: $color-00AAD2;
          }
        }
      }
    }

    .gallery-block-middle {
      margin-top: 6rem;
    }

    .gallery-block-content-box {
      max-width: 121rem;
      margin: 0 auto;
      padding: 0 2rem;
    }

    .detail-image {
      position: relative;
      margin-top: 0.6rem;
      .detail-image-controller {
        button {
          position: absolute;
          top: 50%;
          width: 4.4rem;
          height: 4.4rem;
          margin-top: -2.2rem;
          &.btn-detail-image-prev {
            left: -6rem;
            background: image('common/icon_aboutus_arrow_prev.svg') no-repeat center / 4.4rem;
          }
          &.btn-detail-image-next {
            right: -6rem;
            background: image('common/icon_aboutus_arrow_next.svg') no-repeat center / 4.4rem;
          }
        }
      }
    }
  }

  .gallery-collect-container {
    @extend .max-width-1416;
    margin-top: 18rem;
    .gallery-collect-top {
      @include flex(row, space-between, flex-start);
      margin-bottom: 1rem; // 갤러리 이미지 마진값과 합쳐서 4rem
      .title-box {
        @include fontfamhead;
        @include font(4.4rem, 500, $black, 5rem);
      }

      .desc-box {
        .desc-title-box {
          margin-bottom: 1rem;
          @include fontfamhead;
          @include font(1.8rem, 500, $color-00AAD2, normal);
        }

        .desc-text-box {
          @include font(1.6rem, 400, $color-1D1D1B, 2.4rem);
        }
      }
    }

    .gallery-collect-middle {
      opacity: 0;
    }

    .gallery-collect-box {
      overflow: hidden;

      .gallery-collect-item {
        width: calc(33.33% - 2rem);
        margin-top: 3rem;
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
        .img-box {
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 100%;
        }
        img {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
          transition: all 0.5s;
        }
      }
    }
  }
  .parts-desc-container {
    @extend .max-width-1416;
  }

  .safety-block-container {
    @extend .max-width-1416;
    + .safety-block-container {
      margin-top: 18rem;
    }
  }
  .tab-box {
    padding: 1.3rem 2.75rem 1.1rem;
    background-color: $white;
    @include font(1.6rem, 500, $color-888888);
    border: 1px solid #ddd;
    margin-right: 2rem;
    &:last-child {
      margin: 0;
    }
    &.active {
      border-color: #00aad2;
      color: #00aad2;
    }
  }

  .grey-bg-container {
    position: relative;
    background-color: $color-F8F8F8;
    .grey-bg-area {
      @extend .max-width-1416;
    }
    .grey-bg-top {
      @include flex(row, flex-start, flex-start);
      padding-top: 8.8rem;
    }
    .grey-bg-title {
      position: relative;
      z-index: 1;
      @include fontfamhead;
      @include font(4.4rem, 500, $black, 5rem);
      white-space: nowrap;
    }
    .grey-bg-content-text {
      margin-top: 2rem;
      @include fontfamtext;
      @include font(1.6rem, 400, $color-1D1D1B, 2.8rem);
    }
    .grey-bg-image-box {
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .grey-bg-desc-box {
      @include flex(column, flex-start, flex-end);
      position: absolute;
      bottom: -5.5rem;
      right: 0;
      .label {
        @include fontfamhead;
        @include font(1.8rem, 500, $color-888888, normal);
      }
      .data {
        margin-top: 1.2rem;
        @include fontfamhead;
        @include font(2.4rem, 500, $color-1D1D1B, 2.4rem);
      }
    }
  }

  .section-technology {
    .parts-desc-container {
      + .parts-desc-container {
        margin-top: 18rem;
      }
    }
  }

  .gallery-collect-container {
    .gallery-collect-top {
      .gallery-collect-top-right {
        .truck & {
          max-width: 61.4rem;
        }
        .tractor & {
          max-width: 62.3rem;
        }
        .universe & {
          max-width: 60.4rem;
        }
      }
    }
  }
}

.product-find-out-more-container {
  @include flex(row, center, center);
  position: relative;
  height: 45rem;
  background: image('products/hyundai-ecv-find-out-more-banner-pc.jpg') no-repeat center / cover;
}

.product-find-out-more-area {
  width: 100%;
  height: 100%;
}

.product-find-out-more-box {
  @include flex(column, center, center);
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  .title {
    @include font(5.2rem, 700, $black, normal);
    @include fontfamhead;
    text-transform: capitalize;
  }
  .text {
    margin-top: 2rem;
    @include font(1.6rem, 400, $black, 2.4rem);
    text-align: center;
  }

  .link-text {
    @include flex(row, center, center);
    margin-top: 3rem;
    @include fontfamhead;
    @include font(1.8rem, 500, $black, 3.2rem);
    text-align: center;
    &::after {
      content: '';
      display: block;
      position: relative;
      top: -0.2rem;
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 1.2rem;
      background: image('common/icon_outlink_b.svg') no-repeat center / 1.6rem;
    }
  }

  button {
    @include flex(row, center, center);
    width: 24rem;
    margin: 5rem auto 0;
    @include fontfamhead;
    line-height: normal;
    span {
      position: relative;
      top: 0.2rem;
    }
    &::after {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 1rem;
      background: image('common/icon_outlink.svg') no-repeat center / 1.6rem;
    }
  }
}

@media #{$pc_middle} {
  .product-container {
    section {
      br {
        content: '';
        display: inline-block;
        padding: 0 0.2rem;
      }
    }
    .product-info-block-container {
      width: 100%;
    }

    .section-highlights {
      .section-middle {
        width: 100%;
      }
    }

    .gallery-block-container {
      .gallery-block-content-box {
        max-width: calc(100% - 10rem);
      }
    }
  }
}

@media #{$tablet} {
  .product-container {
    .section-safety {
      .section-bottom {
        .deco-visual-box {
          .deco-visual-image {
            + .deco-visual-image {
              margin-left: 1rem;
            }
          }
          .deco-visual-box-right {
            width: 30rem;
          }
        }
      }
    }

    .gallery-collect-container {
      .gallery-collect-top {
        .gallery-collect-top-right {
          max-width: 50%;
          .truck &,
          .tractor &,
          .universe & {
            max-width: 50%;
          }
        }
      }
    }
  }
}

@media #{$mobile_large} {

  .parallax-mirror {
    &.visual-front-box {
      &::before {
        content: '';
        z-index: 12;
        display: block;
        position: absolute;
        bottom: 0;
        left: -1px;
        right: -1px;
        height: 19rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
        transition: all 0.3s;
      }
    }
  }

  .product-content-container {
    .content-visual-container {
      .content-visual-content-box {
        padding-top: 14rem;
      }
    }
  }

  .product-container {
    .product-info-block-container {
      margin-bottom: 8rem;
    }

    .section-container {
      margin-bottom: 16rem;
    }

    .section-top {
      .desc-box {
        margin-top: 4rem;
      }
    }

    .grey-bg-container {
      .grey-bg-title {
        font-size: 2.8rem;
        line-height: normal;
        white-space: unset;
      }
      .grey-bg-content-text {
        color: $color-444444;
        line-height: 2.2rem;
      }
      .grey-bg-desc-box {
        .label {
          font-size: 1.6rem;
        }
        .data {
          margin-top: 1rem;
        }
      }
    }

    .gallery-collect-container {
      .gallery-collect-top {
        .gallery-collect-top-right {
          max-width: none;
          .truck &,
          .tractor &,
          .universe & {
            max-width: none;
          }
        }
      }
    }

    .section-technology {
      .parts-desc-container {
        + .parts-desc-container {
          margin-top: 12rem;
        }
      }
    }
  }
}
@media #{$mobile_large} {
  //product common layout
  .parallax-mirror {
    &.section-visual-front {
      &::before {
        top: -1px;
        padding-bottom: calc(28.5% + 1px);
        background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  .product-container {
    padding: 0;
    br {
      content: " ";
      display: inline-block;
      padding: 0 2px;
    }
    .section-container {
      .section-top {
        .title-box {
          font-size: 2rem;
        }
        .sub-text-box {
          margin-top: 1rem;
          font-size: 2.8rem;
        }
      }
      .video-box {
        margin-top: 4rem;
        .video-controller-box {
          display: block;
          .btn-controll {
            width: 4.2rem;
            height: 4.2rem;
            background-size: 4.2rem;
          }
        }

        .video-progress-box {
          left: 1rem;
          right: 1rem;
          bottom: 1rem;
          .video-progress-line-box {
            overflow: hidden;
            .video-progress-line {
              display: none;
              width: 100%;
              flex: 0 0 100%;
              &.active {
                display: block;
              }
            }
          }
          .video-progress-text-box {
            overflow: hidden;
            .video-progress-text {
              display: none;
              width: 100%;
              flex: 0 0 100%;
              font-size: 1.4rem;
              &.active {
                display: block;
              }
            }
          }
        }
      }
    }

    .safety-block-container {
      + .safety-block-container {
        margin-top: 12rem;
      }
    }

    .product-info-block-container {
      margin-top: 4rem;
      margin-bottom: 16rem;
    }

    .section-highlights {
      .section-bottom {
        display: block;
        margin-top: 4rem;
        .section-bottom-right {
          width: 100%;
          margin-top: 3rem;
          margin-left: 0;
        }
      }
    }

    .video-box {
      .video-controller-box {
        display: block;
        .btn-controll {
          width: 4.2rem;
          height: 4.2rem;
          background-size: 4.2rem;
        }
      }

      .video-progress-box {
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        .video-progress-line-box {
          overflow: hidden;
          .video-progress-line {
            display: none;
            width: 100%;
            flex: 0 0 100%;
            &.active {
              display: block;
            }
          }
        }
        .video-progress-text-box {
          overflow: hidden;
          .video-progress-text {
            display: none;
            width: 100%;
            flex: 0 0 100%;
            font-size: 1.4rem;
            &.active {
              display: block;
            }
          }
        }
      }
    }

    .gallery-block-container {
      margin-top: 3rem;
      .gallery-block-content-box {
        max-width: 100%;
        padding: 2rem;
        background-color: #f6f3f2;
      }
      .gallery-block-tab-box {
        .tab {
          margin: 0 1.5rem;
          font-size: 1.6rem;
          line-height: normal;
        }
      }
      .gallery-block-middle {
        margin-top: 4rem;
      }
      .detail-image {
        margin-top: 2rem;
        padding: 0 1.8rem;
        .detail-image-controller {
          button {
            top: 0;
            margin-top: 0;
            &.btn-detail-image-prev {
              left: 0;
              width: 1.6rem;
              height: 100%;
              background: image('common/ico_arrow_mo.svg') no-repeat center / 1.6rem auto;
            }
            &.btn-detail-image-next {
              right: 0;
              width: 1.6rem;
              height: 100%;
              background: image('common/ico_arrow_mo.svg') no-repeat center / 1.6rem auto;
              transform: rotate(-180deg);
            }
          }
        }
      }
    }
    .gallery-collect-container {
      margin-top: 12rem;
      .gallery-collect-box {
        .gallery-collect-item {
          width: calc(50% - 1rem);
          margin-top: 1rem;
        }
      }
      .gallery-collect-top {
        @include flex(column, flex-start, flex-start);
        margin-bottom: 3rem; // 갤러리 이미지 간격 포함 4rem
        text-align: left;
        .gallery-collect-top-left {
          width: 100%;
        }
        .title-box {
          font-size: 2.4rem;
          line-height: 2.8rem;
          margin-bottom: 1rem;
          text-align: center;
        }
        .desc-box {
          .desc-title-box {
            margin-bottom: 2rem;
            text-align: center;
          }
          .desc-text-box {
            font-size: 1.8rem;
            line-height: 2.5rem;
            text-align: center;
          }
        }
      }
    }
    
    .section-safety {
      .section-bottom {
        margin-top: 12rem;
        .deco-visual-box {
          @include flex(column-reverse, center, center);

          .deco-visual-desc-box {
            .title-box {
              font-size: 2.4rem;
              line-height: 2.4rem;
              text-align: center;
            }
            
            .deco-visual-desc {
              margin-top: 1.6rem;
              font-size: 1.6rem;
              line-height: 2.4rem;
              text-align: center;
            }
          }

          .deco-visual-box-left {
            display: block;
            width: 100%;
            margin-top: 4rem;
          }

          .deco-visual-image {
            width: 100%;
            margin: 0;
            + .deco-visual-image {
              margin: 2rem 0 0;
            }
          }

          .deco-visual-box-right {
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    .section-visual-box {
      margin-bottom: 12rem;
    }

    .grey-bg-container {
      .grey-bg-title {
        br {
          content: " ";
          display: inline-block;
          padding: 0 2px;
        }
      }
    }

    .tab-box {
      padding: 0.75rem 1.5rem;
      font-size: 1.6rem;
      line-height: 2rem;
      margin-right: 1rem;
    }
  }

  .product-find-out-more-container {
    display: block;
    height: 40rem;
    background: image('products/hyundai-ecv-find-out-more-banner-mo.jpg') no-repeat top left / cover;

    .product-find-out-more-box {
      padding: 3.6rem 2rem 0;
      .title {
        font-size: 2.8rem;
      }
      .text {
        margin-top: 4rem;
        line-height: 2.2rem;
      }
      button {
        width: 100%;
        max-width: 33.5rem;
        margin: 4rem auto 0;
      }
    }
  }
}

@media (hover: none) {
  .section-visual-back {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 16.2rem;
      background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    }
  }
}