/* Site Map */
.sitemap-content-container {
  @extend .max-width-1416;
  margin-bottom: 22.5rem;
  .top-breadcrumb-container {
    padding-left: 0;
  }
  .sitemap-top-conainer {
    margin: 18.5rem 0 17.2rem;
    text-align: center;
    h1,
    h2 {
      @include font(6.4rem, 500, $black, normal);
      @include fontfamhead;
    }
  }
}

.sitemap-list {
  @include fontfamhead;
  & > li {
    margin-top: 10rem;
    &:first-of-type {
      margin-top: 0;
    }
    .sitemap-depth01 {
      padding-bottom: 1rem;
      @include fontfamhead;
      @include font(2.8rem, 500, $black, normal);
      border-bottom: 1px solid $color-CACACA;
    }
  }
  .sitemap-sub-list {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: 2.5rem -1.5rem 0;
    & > li {
      width: 21rem;
      margin: 1.5rem;
      .sitemap-depth02 {
        @include font(1.8rem, 400, $color-444444, normal);
      }
    }
  }
  .sitemap-last-list {
    margin-top: 2rem;
    padding-left: 1rem;
    & > li {
      &:last-child {
        .sitemap-depth03 {
          margin-bottom: 0;
        }
      }
      .sitemap-depth03 {
        display: block;
        margin-bottom: 2rem;
        @include font(1.7rem, 400, $color-888888, normal);
      }
    }
  }
  a {
    color: inherit;
    @media (hover: hover) {
      &:hover {
        color: $color-00AAD2;
      }
    }
  }
}

/* nodata 결과 사이트맵 */
.sitemap-container {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  @include fontfamhead;
  margin: -1rem;
  .sitemap-area {
    @include flex(column, flex-start, flex-start);
    width: calc(25% - 2rem);
    margin: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  .sitemap-box-depth02 {
    margin-top: 2rem;
    margin: 1rem -1rem -1rem -1rem;
  }
  .sitemap-depth01 {
    @include font(2.2rem, 500, $black, normal);
  }
  .sitemap-depth02 {
    margin: 1rem;
    @include font(1.6rem, 400, $color-585858, normal);
  }
}

@media #{$mobile_large} {
  .sitemap-content-container {
    margin-bottom: 12rem;
    .sitemap-top-conainer {
      margin: 8.4rem 0 14rem;
      h1, h2 {
        @include font(4.2rem, 500, $black, 4.2rem);
      }
    }
  }
  .sitemap-list {
    & > li {
      margin-top: 8rem;
    }
    .sitemap-sub-list {
      margin: 2rem -1rem 0;
      & > li {
        width: 100%;
        margin: 2rem 1rem 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          .sitemap-last-list {
            padding-bottom: 0;
          }
        }
        
        .sitemap-depth02 {
          font-size: 1.8rem;
        }
      }
    }
    .sitemap-last-list {
      margin-top: 1rem;
      padding: 1rem 0 2rem 1rem;
    }
  }
  /* nodata 결과 사이트맵 */
  .sitemap-container {
    flex-direction: column;
    margin: -2rem;
    .sitemap-area {
      width: calc(100% - 4rem);
      margin: 2rem;
    }
    .sitemap-depth01 {
      font-size: 1.8rem;
    }
    .sitemap-box-depth02 {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      margin: 1.5rem -0.5rem -0.5rem;
    }
    .sitemap-depth02 {
      font-size: 1.4rem;
      margin: 0.5rem;
    }
  }
}