.section-specification {
  .section-middle {
    @extend .max-width-1416;
  }
  .anchor-menu {
    margin-top: 6rem;
  }

  .spec-tab-box {
    @include flex(row, center, center);
    margin-top: 5rem;
    .spec-tab {
      flex: 1;
      max-width: 50rem;
      padding: 1rem 0;
      border-bottom: 0.2rem solid #ddd;
      @include fontfamhead;
      @include font(2.8rem, 500, #888, normal);
      &.active {
        border-color: $color-00AAD2;
        color: #000;
      }
      & + .spec-tab{
        margin-left: 0.1rem;
      }
    }

    + .spec-tab-content {
      .spec-container {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}

.anchor-menu {
  @include flex(row, center, center);
  ul {
    @include flex(row, flex-start, flex-start);
  }
  li {
    margin-right: 6rem;
    &:last-child {
      margin-right: 0;
    }

    &.selected,
    &:hover {
      a {
        color: $color-00AAD2;
        border-bottom: 0.2rem solid $color-00AAD2;
      }
    }
  }
  a {
    padding: 1rem 0;
    @include fontfamhead;
    @include font(2.8rem, 500, $color-888888, normal);
  }
}

.key-specs-box {
  margin-top: 11rem;
}

.fuel-cell-specs-box {
  margin-top: 10rem;
}

.specification-image-box {
  @include flex(row, center, flex-start);
  margin-bottom: 10rem;
  img {
    width: 100%;
    height: auto;
  }
}

.resources-box {
  margin-top: 24rem;
  @include flex(row, space-between, flex-start);
  flex-wrap: wrap;
}
.resources-desc-box {
  width: 100%;
  margin-top: 6rem;
  .desc-label {
    @include fontfamhead;
    @include font(1.8rem, 500, #a4a4a4, 2.2rem);
  }
  .desc-box {
    margin-top: 1rem;
    .desc {
      @include flex(row, flex-start, flex-start);
      @include font(1.6rem, 400, #a4a4a4, 2rem);
      + .desc {
        margin-top: 1rem;
      }
      &::before {
        content: '';
        display: block;
        flex: 0 0 1.8rem;
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 1rem;
        background: image('common/icon_info.svg') no-repeat center / 1.8rem;
      }
    }
  }
}
.resources-content-title {
  .content-title {
    @include fontfamhead;
    @include font(4.4rem, 700, $black, 5rem);
  }
  p {
    margin-top: 2rem;
    @include fontfamhead;
    @include font(2.8rem, 500, $black, normal);
  }
}

.fuel-cell-image-box {
  position: relative;
  margin: 0 auto;
  text-align: center;
  .counter-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  [class^='counter-0'] {
    position: absolute;
    display: inline-block;
    text-align: left;
  }

  .counter-label {
    display: block;
    @include fontfamhead;
    @include font(1.8rem, 700, $black, normal);
  }
  .counter-value {
    display: inline-block;
    margin-top: 1.7rem;
    @include fontfamhead;
    @include font(3.6rem, 400, $black, normal);
    white-space: nowrap;
  }
  .small-text {
    @include font(2.2rem, 400, $black, normal);
  }
}

.product-content-bottom {
  margin-top: 24rem;
  background-color: $color-F6F3F2;
}

.contact-us-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  @extend .max-width-1416;
  text-align: center;
  .title {
    @include font(5.2rem, 500, $black, normal);
    @include fontfamhead;
  }
  .text {
    margin-top: 2rem;
    @include font(1.6rem, 400, $black, 2.4rem);
    text-align: center;
  }
  button {
    width: 24rem;
    margin: 9rem auto 0;
  }
}

.product-swiper-container {
  @extend .max-width-1416;
  padding: 10.9rem 0 9rem;
}

.product-thumb-swiper {
  padding: 0 9rem;
  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    width: 9rem;
    height: 100%;
    background-color: $color-F6F3F2;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
  .swiper-wrapper {
    align-items: stretch;
  }
  .swiper-slide {
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 1;
    width: 4rem;
    height: 4rem;
    z-index: 3;
    &:after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 3.2rem;
    background: image('products/arrow_products_swiper_next.svg') no-repeat center / cover;
    transform: rotate(-180deg);
  }
  .swiper-button-next {
    right: 3.2rem;
    background: image('products/arrow_products_swiper_next.svg') no-repeat center / cover;
  }
  .title {
    margin-top: 1.7rem;
    @include font(2.2rem, 500, $color-222222, normal);
    letter-spacing: -0.22px;
  }
}
.pc-img {
  display: block;
}
.mobile-img {
  display: none;
}

.use-pc-img {
  display: block;
}

.use-tablet-img {
  display: none;
}

@media #{$mobile_large} {
  .use-pc-img {
    display: none;
  }
  .use-tablet-img {
    display: block;
  }

  .resources-content-title {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
    h4 {
      font-size: 2.8rem;
      line-height: normal;
    }
    .desc {
      margin-top: 1rem;
      font-size: 1.8rem;
    }
  }

  .resources-desc-box {
    .desc-label {
      font-size: 1.6rem;
      line-height: normal;
    }
    .desc-box {
      .desc {
        font-size: 1.4rem;
        line-height: normal;
      }
    }
  }
}

@media #{$mobile_large} {
  .fuel-cell-image-box {
    .counter-label {
      max-width: 8.4rem;
      font-size: 1.6rem;
    }
    .counter-value {
      margin-top: 0.6rem;
      font-size: 1.4rem;
      .counter {
        margin-right: 0.4rem;
        font-size: 2.4rem;
      }
    }
    .small-text {
      margin-top: 0.4rem;
      font-size: 1.4rem;
    }
  }

  .section-specification {
    .anchor-menu {
      margin-top: 4rem;
    }

    .spec-tab-box {
      .spec-tab {
        padding: 1.5rem 0;
        font-size: 1.6rem;
        line-height: normal;
      }
    }
  }

  .key-specs-box {
    margin-top: 9rem;
  }

  .anchor-menu {
    li {
      margin-right: 3rem;
    }
    a {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  .specification-image-box {
    margin-top: 8rem;
  }

  .fuel-cell-specs-box {
    margin-top: 8rem;
  }

  .resources-box {
    margin-top: 16rem;
  }

  .product-content-bottom {
    margin-top: 16rem;
  }

  .contact-us-box {
    .title {
      font-size: 2.8rem;
    }
    .text {
      margin-top: 4rem;
      line-height: 2.2rem;
    }
    button {
      width: 100%;
      max-width: 33.5rem;
      margin: 8rem auto 0;
    }
  }


  .product-swiper-container {
    padding: 4rem 0;
  }

  .product-thumb-swiper {
    padding: 0 3.2rem;
    .title {
      margin-top: 1rem;
      font-size: 1.8rem;
      letter-spacing: -0.018rem;
      white-space: pre-line;
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 9rem;
      width: 3.2rem;
      height: 3.2rem;
      margin: 0;
    }
    .swiper-button-prev {
      left: 0;
      background: image('common/icon_mobile_swiper_arrow.svg') no-repeat 0.6rem center / 0.8rem 1.2rem;
    }
    .swiper-button-next {
      right: 0;
      background: image('common/icon_mobile_swiper_arrow.svg') no-repeat 0.6rem center / 0.8rem 1.2rem;
    }
  }

  .product-thumb-swiper {
    .swiper-slide {
      .image-box {
        overflow: hidden;
        position: relative;
        height: 19rem;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .product-thumb-swiper:before,
  .product-thumb-swiper:after {
    width: 3.2rem;
  }
}

@media #{$mobile_middle} {
  .fuel-cell-image-box {
    .counter-label {
      max-width: 7.3rem;
      font-size: 4.8vw;
    }
    .counter-value {
      margin-top: 1.6vw;
      .counter {
        font-size: 6.4vw;
      }
    }
    .small-text {
      font-size: 3.75vw;
    }
  }
}
@media screen and (max-width: 366px) {
  .anchor-menu {
    li {
      margin-right: 2rem;
    }
  }
}
