/* Legal */
.terms-content-container {
  @extend .max-width-1416;
  margin-top: 18.5rem;
  margin-bottom: 24rem;
  .term-cotent-top {
    margin-bottom: 6rem;
    padding-bottom: 17.2rem;
    border-bottom: 1px solid $color-CACACA;
  }
  .term-top-title {
    @include fontfamhead;
    @include font(6.4rem, 500, $black, normal);
    text-align: center;
  }
}

.term-container {
  margin-bottom: 6rem;
  .term-title-area {
    margin-bottom: 2rem;
  }
  .term-title-large {
    @include fontfamhead;
    @include font(2.4rem, 500, $black, normal);
  }
  .term-title-small {
    margin-bottom: -1rem;
    @include fontfamhead;
    @include font(1.8rem, 500, #000, 2.9rem);
  }
  .term-text-area {
    @include font(1.8rem, 400, $color-434343, 2.8rem);
    &:first-child {
      margin-top: 0;
    }
    h4 {
      @include font(1.8rem, 500, $color-434343, 2.9rem);
    }
    p {
      white-space: pre-line;
    }
    a {
      text-decoration: underline;
    }
    ul {
      padding-left: 2rem;
      li {
        list-style-type: disc;
        p {
          white-space: normal;
        }
      }
    }

    table {
      table-layout: fixed;
      width: 100%;
      margin: 2.5rem 0;
      thead {
        border-top: 2px solid #a4a4a4;
        border-bottom: 1px solid #D9D9D9;
        background-color: #F3F3F3;
        th {
          padding: 1.5rem 2rem;
          text-align: center;
          vertical-align: middle;
          border-right: 1px solid #D9D9D9;
          &:last-child {
            border-right: 0;
          }
          span {
            @include font(1.6rem, 500, #444, normal);
            letter-spacing: -0.04rem;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #D9D9D9;
        }
        td {
          padding: 1.5rem 2rem;
          border-right: 1px solid #D9D9D9;
          text-align: center;
          vertical-align: middle;
          word-break: break-all;
          &:last-child {
            border-right: 0;
          }

          span,
          a {
            @include font(1.6rem, 400, #999, normal);
            letter-spacing: -0.04rem;
          }
        }
      }
    }

    .mobile-table {
      display: none;
      margin: 2.5rem 0;
      .row {
        margin-top: 3rem;
        border-top: 2px solid #a4a4a4;
        border-bottom: 1px solid #D9D9D9;
        &:first-child {
          margin-top: 0;
        }
        .thead {
          .th {
            padding: 1.5rem 1.7rem;
            background-color: #E5E5E5;
            border-bottom: 1px solid #D9D9D9;
            @include font(1.6rem, 700, #444, normal);
            letter-spacing: -0.04rem;
          }
        }

        .tbody {
          .sub-th {
            padding: 1.5rem 1.7rem;
            background: #F3F3F3;
            border-top: 1px solid #d9d9d9;
            @include font(1.6rem, 500, #444, normal);
            letter-spacing: -0.04rem;
          }

          .td {
            padding: 1.5rem 1.7rem;
            border-top: 1px solid #d9d9d9;
            @include font(1.6rem, 400, #999, normal);
            letter-spacing: -0.04rem;
          }
        }
      }
    }
  }
}

// ------ pc end

@media #{$mobile_large} {
  /* Legal */
  .terms-content-container {
    margin-top: 8.4rem;
    margin-bottom: 16rem;
    .term-cotent-top {
      margin-bottom: 4rem;
      padding-bottom: 14rem;
    }
    .term-top-title {
      font-size: 4.2rem;
    }
  }
  .term-container {
    margin-bottom: 4rem;
    .term-title-large {
      font-size: 2.2rem;
    }
    .term-text-area {
      table {
        display: none;
      }
      .mobile-table {
        display: block;
      }
    }
  }
}
