//product tractor page
.tractor {

  .section-highlights {
    .section-middle {
      width: 121rem;
      margin: 0 auto;
    }
    .section-bottom {
      margin-top: 18rem;
      .section-bottom-left {
        flex: 1;
      }
      .section-bottom-right {
        margin-left: 13.7rem;
      }
    }
  }

  .highlights-text-block-box {
    .highlights-text-block-title {
      @include font(4.4rem, 500, $black, normal);
    }

    .highlights-text-block-sub-title {
      margin-top: 3rem;
      @include font(2.8rem, 500, #1d1d1d, normal);
    }

    .highlights-text-block-desc {
      margin-top: 1rem;
      @include font(1.6rem, 400, #1d1d1d, 2.4rem);
    }

    .highlights-article-box {
      @include flex(row, flex-start, center);
      margin-top: 2rem;
      @include font(1.6rem, 400, #a4a4a4, normal);
      &:before {
        content: '';
        position: relative;
        top: -0.1rem;
        display: block;
        min-width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.5rem;
        background: image('common/icon_alert.svg') no-repeat center / 1.8rem;
      }
    }
  }
  .highlights-block-container {
    width: 86.8rem;
  }
  .highlights-block-wrapper {
    @include flex(row, flex-start, flex-start);

    .highlights-block {
      width: 25%;
      .highlights-block-image-box {
        overflow: hidden;
        position: relative;
        padding-bottom: 140.6%;
        &::before {
          content: '';
          opacity: 0.2;
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 7.8rem;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          @include imgbox;
          transition: all 0.3s;
        }
        .image-title-box {
          position: absolute;
          bottom: 2rem;
          left: 0;
          right: 0;
          width: 100%;
          padding: 0 2rem;
          transform: none;
          @include fontfamhead;
          @include font(1.8rem, 500, $white, normal);
          text-align: center;
          white-space: wrap;
          word-break: keep-all;
        }
      }

      .highlights-block-desc-box {
        margin-top: 1.9rem;
        @include font(1.4rem, 400, $color-444444, 1.8rem);
        word-break: keep-all;
      }
    }
  }

  .gallery-block {
    &.interior {
      .dot-box {
        .dot {
          &.dot-1 {
            top: 41.5%;
            left: 29%;
          }
          &.dot-2 {
            top: 19.5%;
            left: 29%;
          }
          &.dot-3 {
            top: 26.5%;
            left: 67.5%;
          }
          &.dot-4 {
            display: none;
            top: 26.5%;
            left: 67.5%;
          }
          &.dot-5 {
            top: 61.5%;
            left: 49.5%;
          }
          &.dot-6 {
            top: 27%;
            left: 82%;
          }
          &.dot-7 {
            top: 37%;
            left: 48.5%;
          }
        }
      }
    }
    &.exterior {
      .dot-box {
        .dot {
          &.dot-1 {
            top: 66%;
            left: 8.5%;
          }
          &.dot-2 {
            top: 66%;
            left: 8.5%;
          }
          &.dot-3 {
            top: 66%;
            left: 5%;
          }
          &.dot-4 {
            top: 35.5%;
            left: 9%;
          }
          &.dot-5 {
            top: 55.5%;
            left: 6%;
          }
          &.dot-6 {
            top: 48%;
            left: 12.5%;
          }
          &.dot-7 {
            top: 67%;
            left: 14%;
          }
          &.dot-8 {
            top: 53%;
            left: 87%;
          }
          &.dot-9 {
            top: 67%;
            left: 32.5%;
          }
        }
      }
    }
  }

  .fuel-cell-image-box {
    width: 89.5rem;
    margin: auto;
    margin-bottom: 6rem;
    img {
      width: 100%;
      height: auto;
    }

    .counter-01 {
      top: 0;
      left: -4rem;
    }
    .counter-02 {
      top: 0;
      left: calc(100% + 2rem);
    }
    .counter-03 {
      bottom: 5rem;
      left: -4rem;
    }
    .counter-04 {
      bottom: 3rem;
      left: calc(100% + 2rem);
    }
  }

  .specs-lists {
    margin-top: 0;
  }
}

@media #{$pc_large} {
  .tractor {
    .section-highlights {
      .section-bottom {
        .section-bottom-left {
          flex: none;
          width: 30rem;
        }
        .section-bottom-right {
          width: calc(100% - 35rem);
          margin-left: 5rem;
        }
      }

      .highlights-block-container {
        width: 100%;
      }
  
      .highlights-block-wrapper {
        .highlights-block {
          min-width: 20.2rem;
        }
      }
    }
  }
}

@media #{$pc_middle} {
  .tractor {
    .parts-desc-container {
      &.align-normal {
        .parts-desc-box-left {
          width: 63.4%;
        }
      }
      &.align-reverse {
        .parts-desc-box-left {
          width: 63.4%;
        }
      }
    }

    .section-highlights {
      .section-middle {
        width: 100%;
      }
    }

    .fuel-cell-specs-box {
      margin-top: 12rem;
    }

    .fuel-cell-image-box {
      width: 60rem;
      margin-bottom: 9.6rem;
      .counter-01 {
        top: -0.3rem;
        left: -5rem;
      }
      .counter-02 {
        top: -0.5rem;
      }
      .counter-03 {
        left: -6rem;
        bottom: 0.5rem;
      }
      .counter-04 {
        bottom: -1.5rem;
      }
    }
  }
}

@media #{$tablet} {
  .tractor {
    .parts-desc-container {
      &.align-normal {
        .parts-desc-box-left {
          width: 100%;
        }
      }
      &.align-reverse {
        .parts-desc-box-left {
          width: 100%;
        }
      }
    }

    .fuel-cell-image-box {
      width: 55%;
      .counter-01 {
        top: -0.4rem;
        left: -5rem;
      }
      
      .counter-02 {
        top: -0.4rem;
        left: auto;
        right: -18rem;
      }

      .counter-03 {
        bottom: -1.8rem;
        left: -6rem;
      }

      .counter-04 {
        bottom: -1.8rem;
        left: auto;
        right: -15rem;
      }
    }
  }
}

@media #{$mobile_large} {
  .tractor {
    .gallery-block {
      &.interior {
        .dot-box {
          .dot {
            &.dot-1 {
              top: 50.5%;
              left: 25%;
            }
          }
        }
      }

      &.exterior {
        .full-image-box {
          .full-image  {
            img {
              transform: scale(2);
              position: relative;
              left: 40%;
              margin-top: -4%;
            }
          }
        }

        .dot-box {
          .dot {
            &.dot-1 {
              top: 90.5%;
              left: 12%;
            }
            &.dot-2 {
              top: 90.5%;
              left: 12%;
            }
            &.dot-3 {
              top: 87%;
              left: 5%;
            }
            &.dot-4 {
              top: 26.5%;
              left: 12%;
            }
            &.dot-5 {
              top: 69%;
              left: 7%;
            }
            &.dot-6 {
              top: 48%;
              left: 19.5%;
            }
            &.dot-7 {
              top: 92%;
              left: 21%;
            }
            &.dot-8 {
              display: none;
            }
          }
        }
      }
    }

    .content-visual-container {
      .content-visual-content-box {
        .content-visual-desc-box {
          .desc {
            max-width: 17.7rem;
          }
        }
      }
    }

    .product-container {
      .section-container {
        .video-box {
          padding: 0;
        }
      }
    }
    
    .section-highlights {
      .section-bottom {
        display: block;
        margin-top: 4rem;
        .section-bottom-left {
          width: 100%;
        }
        .section-bottom-right {
          width: calc(100% + 4rem);
          margin: 4rem -2rem 0;
        }
      }

      .highlights-text-block-box {
        .highlights-text-block-title {
          font-size: 2.2rem;
        }
        .highlights-text-block-sub-title {
          margin-top: 2rem;
          font-size: 1.8rem;
        }
        .highlights-text-block-desc {
          margin-top: 1rem;
          line-height: 2.2rem;
        }
      }
  
      .highlights-block-wrapper {
        @include flex(row, flex-start, flex-start);
        .highlights-block {
          width: 33.333%;
          min-width: auto;
          .highlights-block-image-box {
            .image-title-box {
              bottom: 1rem;
              font-size: 1.2rem;
            }
          }
        }
      }
  
      .highlights-block-image-box {
        position: relative;
  
        .image-title-box {
          position: absolute;
          bottom: 2.3rem;
          left: 50%;
          transform: translateX(-50%);
          @include font(2rem, 500, $white, normal);
        }
      }
  
      .highlights-block-wrapper {
        .highlights-block {
          .highlights-block-desc-box {
            margin-top: 1rem;
            font-size: 1.3rem;
          }
        }
      }
    }

    .section-visual-box {
      height: 56.8rem;
      margin-bottom: 12rem;
    }

    .fuel-cell-image-box {
      width: 33.8rem;
      .counter-01 {
        top: 0.2rem;
        left: 0;
      }
      .counter-02 {
        top: 0.1rem;
        left: auto;
        right: -3rem;
      }
      .counter-03 {
        bottom: 0;
        left: -1rem;
      }
      .counter-04 {
        bottom: -1.8rem;
        left: auto;
        right: -1rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .tractor {
    .fuel-cell-image-box {
      width: 27.7rem;

      .counter-01 {
        top: 0;
        left: -1rem;
      }
      .counter-02 {
        top: 0;
        left: auto;
        right: -5rem;
      }
      .counter-03 {
        bottom: -1rem;
        left: -2rem;
      }
      .counter-04 {
        bottom: -2.8rem;
        left: auto;
        right: -3rem;
      }
    }
  }
}

@media #{$mobile_middle} {
  .tractor {
    .gallery-block {
      // &.interior {
      //   .dot-box {
      //     .dot {
      //       &.dot-1 {
      //         top: 20vw;
      //         left: 26vw;
      //       }
      //       &.dot-2 {
      //         top: 14vw;
      //         left: 25vw;
      //       }
      //       &.dot-3 {
      //         top: 14vw;
      //         left: 42vw;
      //       }
      //       &.dot-4 {
      //         top: 14vw;
      //         left: 42vw;
      //       }
      //       &.dot-5 {
      //         top: 26vw;
      //         left: 34vw;
      //       }
      //       &.dot-6 {
      //         top: 15.5vw;
      //         left: 48vw;
      //       }
      //       &.dot-7 {
      //         top: 23vw;
      //         left: 48vw;
      //       }
      //       &.dot-8 {
      //         top: 21vw;
      //         left: 35vw;
      //       }
      //     }
      //   }
      // }
    }

    .fuel-cell-specs-box {
      margin-top: 0rem;
    }

    .fuel-cell-image-box {
      transform: scale(0.8);
      width: 100%;
      margin-bottom: 2rem;
      .counter-02 {
        right: -10vw;
      }
      .counter-03 {
        bottom: -1vw;
      }
      .counter-04 {
        bottom: -2.3rem;
        right: -2rem;
      }
    }
  }
}