.universe {
  .parts-desc-container {
    .parts-desc-image-box {
      .parts-desc-image {
        .image-box {
          &:nth-child(4) {
            .overlay-image-box-0 {
              animation-delay: 1s;
            }
          }
        }
      }
    }
  }

  .gallery-block {
    &.interior {
      .dot-box {
        .dot {
          &.dot-1 {
            top: 20%;
            left: 40%;
          }
          &.dot-2 {
            top: 30%;
            left: 88%;
          }
          &.dot-3 {
            top: 76%;
            left: 8%;
          }
          &.dot-4 {
            top: 36%;
            left: 72%;
          }
        }
      }
    }
    &.interior2 {
      .dot-box {
        .dot {
          &.dot-1 {
            top: 39%;
            left: 47%;
          }
          &.dot-2 {
            top: 1%;
            left: 53%;
          }
          &.dot-3 {
            top: 2%;
            left: 78%;
          }
          &.dot-4 {
            top: 87%;
            left: 33%;        
          }
          &.dot-5 {
            top: 55%;
            left: 71%;
          }
        }
      }
    }
    &.exterior {
      .dot-box {
        .dot {
          &.dot-1 {
            top: 67%;
            left: 64%;
          }
          &.dot-2 {
            top: 58%;
            left: 39%
          }
          &.dot-3 {
            top: 51%;
            left: 12%;
          }
          &.dot-4 {
            top: 52%;
            left: 56%;    
          }
          &.dot-5 {
            top: 50%;
            left: 29%;
          }
        }
      }
    }
  }

  .content-visual-container {
    .content-visual-content-box {
      .content-visual-title-box {
        .title {
          white-space: nowrap;
        }
      }
    }
  }

  .product-container {
    .section-highlights {
      .section-middle {
        .image-box {
          position: relative;
          margin-top: 6rem;
          padding-bottom: 56.3%;
          img {
            position: absolute;
            top: 0;
            left: 0;
            @include imgbox;
          }
        }
      }
      
      .section-bottom {
        position: relative;
        height: 73.9rem;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .section-bottom-left {
        position: absolute;
        top: 0;
        left: 2rem;
        flex: 0;
      }

      .highlights-text-block-title {
        white-space: nowrap;
        line-height: 5rem;
      }
      
      .highlights-text-block-desc {
        max-width: 70.4rem;
        margin-top: 6rem;
      }
  
      .section-bottom-right {
        flex: 0 0 105rem;
        margin: 0;
      }
  
      .highlights-image-box {
        @include flex(row, space-between, flex-end);
        width: 100%;
        .highlights-image {
          &.highlights-image-01 {
            width: 45.14%;
          }
          &.highlights-image-02 {
            padding-bottom: 6.9rem;
            width: 52%;
          }

          img {
            @include imgbox;
          }
        }
      }
    }

    .gallery-collect-container {
      .gallery-collect-top  {
        margin-bottom: 6rem;
      }
      .gallery-collect-middle  {
        opacity: 1;
        @include flex(row, space-between, center);
        .image-box {
          &:first-child {
            margin-right: 3rem;
          }
        }
      }
    }

    .section-specification {
      .spec-tab-box {
        margin-top: 5rem;
      }
    }
  }
}

@media #{$pc_middle} {
  .universe {
    .product-container {
      .section-highlights {
        .section-bottom {
          height: auto;
          padding-bottom: 52.4%;
        }

        .section-bottom-left {
          width: 54%;
        }

        .highlights-text-block-title {
          white-space: wrap;
        }

        .section-bottom-right {
          position: absolute;
          right: 2rem;
          bottom: 0;
          flex: none;
          width: 74.47%;
        }
      }
    }
  }
}

@media #{$tablet} {
  .universe {
    .product-container {
      .section-highlights {
        .section-bottom {
          display: block;
          padding-bottom: 0;
        }

        .section-bottom-left {
          position: static;
          width: 100%;
        }

        .highlights-text-block-title {
          text-align: center;
        }

        .highlights-text-block-desc {
          max-width: none;
        }

        .section-bottom-right {
          position: static;
          width: 100%;
          margin-top: 4rem;
        }

        .highlights-image-box {
          .highlights-image {
            position: relative;
            &.highlights-image-01 {
              width: calc(50% - 0.2rem);
              padding-bottom: calc(50% - 0.2rem);
            }
            &.highlights-image-02 {
              width: calc(50% - 0.2rem);
              padding-bottom: calc(50% - 0.2rem);
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }

    .resources-lists {
      justify-content: center;
    }
  }
}

@media #{$mobile_large} {
  .universe {
    .content-visual-container {
      .content-visual-content-box {
        .content-visual-title-box {
          .title {
            white-space: pre-line;
            letter-spacing: -0.032rem;
          }
        }
      }
    }

    .product-container {
      .section-highlights {
        .section-middle {
          .image-box {
            margin-top: 4rem;
          }
        }

        .section-bottom {
          margin-top: 12rem;
        }
        
        .highlights-text-block-title {
          font-size: 2.4rem;
          line-height: normal;
        }
        
        .highlights-text-block-desc {
          margin-top: 4rem;
          line-height: 2.2rem;
        }
      }

      .section-gallery {
        .gallery-collect-container {
          .gallery-collect-top {
            margin-bottom: 2rem;

            .title-box {
              margin-bottom: 2rem;
            }
          }

          .gallery-collect-middle {
            @include flex(row, space-between, flex-start);
            .image-box {
              position: relative;
              width: calc(50% - 0.2rem);
              padding-bottom: calc(50% - 0.2rem);
              &:first-child {
                margin-right: 0;
              }

              img {
                position: absolute;
                top: 0;
                left: 0;
              }
            }
          }
        }
      }
      .gallery-collect-container {
        .gallery-collect-top {
          .gallery-collect-top-right {
            .desc-box {
              .desc-text-box {
                text-align: left;
              }
            }
        
          }
        }
      }
      .section-specification {
        .spec-tab-container {
          margin-top: 3rem;
        }
        .spec-tab-box {
          margin: 0 -2rem;
          .spec-tab {
            padding: 1rem 3rem;
            text-align: center;
            & + .spec-tab {
              margin-left: 0;
            }

            span {
              display: inline-block;
              max-width: 13.8rem;
            }
          }
        }
      }
    }
  }
}
