.mail-unsubscribed-container {
  margin-bottom: 19.2rem;
  @extend .max-width-1416;
}
.unsubscribed-container {
  @include flex(column, center, center);
  height: 71.6rem;
  border-bottom: 1px solid #ddd;
}
.unsubscribed-box {
  text-align: center;
  &::before {
    content: '';
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    margin: 0 auto 3rem;
    background: image('common/icon_unsubscribed.png') no-repeat center / 7.2rem;
  }
  .unsubscribed-title {
    @include font(3.2rem, 500, $black, normal);
    @include fontfamhead;
  }
  .unsubscribed-text {
    margin-top: 1rem;
    @include font(1.8rem, 400, $color-767676, 2.8rem);
  }
}


@media #{$mobile_large} {
  .mail-unsubscribed-container {
    margin-bottom: 8rem;
  }
  .unsubscribed-container {
    height: 54.4rem;
  }
  .unsubscribed-box {
    &::before {
      margin: 0 auto 3rem;
    }
    .unsubscribed-title {
      font-size: 2.4rem;
    }
    .unsubscribed-text {
      font-size: 1.4rem;
    }
  }
  
}
