/* About Us > Who we are */
.about-who-container {

    .sub-section-head {
      margin: 0;
    }
    .section-container {
      margin-bottom: 24rem;
      &:last-child {
        margin-bottom: 24rem;
      }
    }
  
    .section-our-vision {
      @extend .max-width-1416;
      margin-top: 14.5rem;
      .sub-section-head {
        margin-bottom: 10rem;
        .sub-text-level-2 {
          margin-top: 2rem;
        }
      }

      .sub-section-body {
        margin: 0;
      }

      .vision-picture-container {
        position: relative;
        padding-top: 11.5rem;
        @include flex(row, center, flex-start);
        opacity: 1;
        transform: none;
        &.on {
          opacity: 1;
          transform: none;
          .vision-picture-left {
            opacity: 1;
            transform: translateY(0);
          }
          .vision-picture-right {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
  
      .vision-picture-left {
        width: 57.447%;
        opacity: 0;
        transform: translateY(100%);
        transition-duration: 2s;
        transition-timing-function: easeOutCubic;
        &.on {
          transform: translateY(0);
        }
      }
      
      .vision-picture-right {
        width: 40.426%;
        margin-left: 3rem;
        opacity: 0;
        transform: translateY(100%);
        transition-duration: 2s;
        transition-timing-function: easeOutCubic;
        transition-delay: 0.5s;
        &.on {
          transform: translateY(0);
        }
        .vision-picture-box {
          margin-top: -11.5rem;;
        }
      }
  
      .vision-picture-box {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        &:last-child {
          margin-top: 3rem;
        }
  
        &.is-shadow {
          &::before {
            content: '';
            display: block;
            z-index: 12;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 8.8rem;
            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
          }
  
        }
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        &.size-l {
          padding-bottom: 58.27%;
          // bottom: -7.6rem;
          // width: 57.4468%;
          // padding-bottom: 33.475%;
        }
  
        &.size-m {
          // width: 40.425%;
          // padding-bottom: 36.52%;
          padding-bottom: 90.35%;
        }
  
        &.size-s {
          // bottom: -8rem;
          // width: 34%;
          // margin-left: 23.404%;
          width: 59.26%;
          margin-left: auto;
          padding-bottom: 42.13%;
        }
  
        &.size-xs {
          // width: 25.8%;
          // padding-bottom: 23.546%;
          width: 64.092%;
          padding-bottom: 58.458%;
        }
  
        .vision-picture-text {
          z-index: 13;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 7.6rem;
          &::before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
            opacity: 0.5;
          }
          span {
            @include flex(row, flex-start, flex-end);
            z-index: 10;
            position: relative;
            height: 100%;
            padding: 1rem 2rem;
            @include font(2.4rem, 500, $white, normal);
            text-transform: capitalize;
            @include fontfamhead;
          }
        }
      }
    }
  
    .section-hydrogen {
      position: relative;
      background: image('aboutus/img_who_hydrogen_bg.jpg') no-repeat top left / 100% auto;
  
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
      }
  
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 65rem;
        background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
        transform: rotate(-180deg);
      }

      .section-area {
        position: relative;
        z-index: 10;
      }
      .sub-section-head {
        .sub-title-level-1{
          margin: 0 0 2rem;
        }
      }

      .sub-section-body {
        margin-top: 10rem;
      }
    }
  
    .section-hydrogen-inner {
      max-width: 120rem;
      margin: 0 auto;
      padding: 0 2rem;
    }
  
    .hydrogen-video-box {
      .video-box {
        position: relative;
        max-width: 141rem;
        margin: 0 auto;
      }
      .video{ 
        //16:9
        position: relative; 
        width: 100%; 
        height: 0; 
        padding-bottom: 56.25%; 
        iframe{ 
          position: absolute; 
          width: 100%; 
          height: 100% 
        }
      } 
  
    }
  
    .hydrogen-thumb-bottom {
      position: relative;
      margin-top: 1rem;
      .swiper-controller {
        .swiper-button {
          width: 4.4rem;
          height: 4.4rem;
          &::after {
            display: none;
          }
          &.swiper-button-prev {
            left: -6rem;
            background: image('common/icon_detail_img_arrow_prev.png') no-repeat center / 4.4rem;
          }
          &.swiper-button-next {
            right: -6rem;
            background: image('common/icon_detail_img_arrow_next.png') no-repeat center / 4.4rem;
          }
        }
      }
    }
  
    .hydrogen-thumb-swiper {
      .swiper-slide {
        cursor: pointer;
        position: relative;
        padding-bottom: 14%;
        &.swiper-slide-thumb-active{
          &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 4px solid #00aad2;
            z-index: 10;
          }
        }
      }
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .section-partner {
      max-width: 192rem;
      width: 100%;
      padding-left: 13.3%;
      margin-left: auto;
      margin-right: auto;
      .section-area {
        width: 100%;
      }
      .sub-section-head {
        .sub-title-level-1 {
          width: 100%;
          margin-top: 2rem;
          margin-bottom: 6rem;
        }
      }
      .sub-section-body {
        overflow: hidden;
        @include flex(row, space-between, flex-start);
        display: inline-flex;
        width: 100%;
        margin: 0;
      }
    }
  
    .partner-section-left {
      width: 57rem;
      min-width: 57rem;
  
      .sub-section-head {
        margin-top: 0;
        text-align: left;
      }
  
      .sub-title-label {
        width: 100%;
      }
    }

    .partner-section-right {
      flex: 1;
      min-width: 70rem;
      max-width: 96rem;
    }
  
    .partner-image-row {
      @include flex(row, center, center);
      width: 100%;
      + .partner-image-row {
        margin-top: 3rem;
      }
    }
  
    .partner-image-box {
      overflow: hidden;
      position: relative;
      width: 38.74%;
      padding-bottom: 38.74%;

      + .partner-image-box  {
        margin-left: 3rem;
      }
  
      &.size-l {
        flex: 1;
      }
  
      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
}

@media #{$pc_middle} {
  .about-who-container {
    .section-partner {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 2rem;

      .sub-section-head {
        text-align: center;
      }

      .sub-section-body {
        display: block;
      }
    }
    .partner-section-left {
      width: 100%;
      margin-right: 0;
    }

    .partner-section-right {
      width: 100%;
      max-width: none;
      margin-top: 4rem;
    }
  }
}
@media #{$pc_large} {
  .about-who-container {
    .section-hydrogen-inner {
      max-width: 100%;
      width: calc(100% - 12rem);
    }
  }
}

@media #{$mobile_large} {
    .about-who-container {
      .section-hydrogen {
        height: auto;
      }

      .section-hydrogen-inner {
        width: 100%;
        padding: 0;
        .sub-section-body {
          margin-top: 4rem;
          padding: 0 2rem;
        }
      }

      .hydrogen-thumb-swiper {
        .swiper-slide {
          width: 26.86%;
          padding-bottom: 17.9%;
        }
      }

      .section-partner {
        padding: 0 2rem;
        .sub-section-body {
          flex-direction: column;
        }
      .partner-section-left {
        min-width: auto;
        margin-right: 0;
        margin-bottom: 4rem;
        .sub-section-head {
          text-align: center;
          .sub-title-level-1 {
            margin-top: 1rem;
            margin-bottom: 2rem;
          }
        }
      }

      .partner-section-right {
        width: 100%;
        min-width: auto;
      }

      .partner-image-box {
        width: 39%;
        height: 32.5vw;
        &.size-l {
          width: 61%;
        }
      }
    }

    .hydrogen-thumb-bottom {
      padding: 0 1.8rem;
      .swiper-controller {
        .swiper-button {
          top: 50%;
          width: 1.6rem;
          height: 1.6rem;
          margin-top: 0;
          transform: translateY(-50%);
          &.swiper-button-prev {
            left: 0;
            background: image('common/ico_arrow_mo.svg') no-repeat center / 1.6rem;
          }
          &.swiper-button-next {
            right: 0;
            background: image('common/ico_arrow_mo.svg') no-repeat center / 1.6rem;
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
  }
}


@media #{$mobile_large} {
  .about-who-container {
    .sub-text-level-2 {
      text-align: center;
      br {
        display: none;
      }
    }

    .section-container {
      margin-bottom: 16rem;
      &:last-child {
        margin-bottom: 16rem;
      }
    }

    .section-our-vision {
      margin-top: 8.3rem;
      .sub-section-head {
        margin-bottom: 7rem;
      }

      .vision-picture-container {
        padding-top: 3.3rem;
      }

      .vision-picture-left {
        width: 52.24%;
      }

      .vision-picture-right {
        width: 41.79%;
        margin-left: 2rem;

        .vision-picture-box {
          margin-top: -3.3rem;
        }
      }

      .vision-picture-box {
        &:last-child {
          margin-top: 2rem;
        }

        &.is-shadow {
          &::before {
            height: 100%;
            background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 19.73%, rgba(0, 0, 0, 0.00) 59.96%, rgba(4, 4, 6, 0.40) 100%, #000 100%);
          }
        }

        &.size-l {
          // bottom: -6.3rem;
          // width: 52.239%;
          // padding-bottom: 65.67%;
          padding-bottom: 125.7%;
        }

        &.size-m {
          // width: 41.8%;
          // padding-bottom: 56.7%;
          padding-bottom: 135.7%;
        }

        &.size-s {
          // bottom: -6.3rem;
          // width: 52.239%;
          // margin-left: 0;
          // padding-bottom: 35.82%;
          width: 100%;
          padding-bottom: 68.57%;
        }

        &.size-xs {
          // width: 41.8%;
          // padding-bottom: 41.8%;
          width: 100%;
          padding-bottom: 100%;
        }

        .vision-picture-text {
          height: auto;
          span {
            padding: 1rem 1.5rem;
            font-size: 1.4rem;
          }
        }
      }
    }
    .section-hydrogen {
      background: image('aboutus/img_who_mobile_hydrogen_bg.jpg') no-repeat top left / 100% auto;
    }

    .partner-image-row {
      + .partner-image-row {
        margin-top: 1rem;
      }
    }
    
    .partner-image-box {
      height: 12.2rem;
      + .partner-image-box {
        margin-left: 1rem;
      }
    }
  }
}