/* Color Palette */
$primary_10: #f5f6fa;
$primary_15: #e8ebf0;
$primary_20: #dadde2;
$primary_30: #bec2cb;
$primary_40: #9da3b2;
$primary_50: #848c9d;
$primary_60: #697387;
$primary_70: #4b5468;
$primary_80: #354056;
$primary_90: #262f44;
$primary_100: #172033;

$text_01: $primary_90;
$text_02: $primary_80;
$text_03: $primary_70;
$text_04: $primary_60;
$text_05: $primary_30;
$text_06: #ffffff;
$text_07: $primary_10;

$secondary_10: #f6fef9;
$secondary_15: #ecfdf3;
$secondary_20: #d1fadf;
$secondary_30: #a6f4c5;
$secondary_40: #6ce9a6;
$secondary_50: #32d583;
$secondary_60: #12b76a;
$secondary_70: #03a864;
$secondary_80: #027948;
$secondary_90: #05603a;
$secondary_100: #054f31;

$neutral_10: #ffffff;
$neutral_15: #f7f7f7;
$neutral_20: #eeeeee;
$neutral_30: #d3d3d3;
$neutral_40: #ababab;
$neutral_50: #8f8f8f;
$neutral_60: #757575;
$neutral_70: #555555;
$neutral_80: #333333;
$neutral_90: #111111;
$neutral_100: #000000;

$error_10: #fffafa;
$error_15: #fef3f2;
$error_20: #fee4e2;
$error_30: #fecdca;
$error_40: #fda29b;
$error_50: #f97066;
$error_60: #f04438;
$error_70: #d92d20;
$error_80: #b32318;
$error_90: #912018;
$error_100: #7a271a;

$warning_10: #fffcf5;
$warning_15: #fffaeb;
$warning_20: #feefc7;
$warning_30: #fedf89;
$warning_40: #fec84b;
$warning_50: #fdb022;
$warning_60: #f79009;
$warning_70: #dc6803;
$warning_80: #b54708;
$warning_90: #93370d;
$warning_100: #792e0d;

$information_10: #f6faff;
$information_15: #eff6ff;
$information_20: #ddecff;
$information_30: #c6deff;
$information_40: #93c0ff;
$information_50: #5a9cff;
$information_60: #3887fd;
$information_70: #1d76fb;
$information_80: #0e66e8;
$information_90: #1158c2;
$information_100: #0343a4;

$success_10: #f6fef9;
$success_15: #ecfdf3;
$success_20: #d1fadf;
$success_30: #a6f4c5;
$success_40: #6ce9a6;
$success_50: #32d583;
$success_60: #12b76a;
$success_70: #039855;
$success_80: #027948;
$success_90: #05603a;
$success_100: #054f31;

/* Elevation */
$elevation_00: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
$elevation_01: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
$elevation_02: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
$elevation_03: 0px 10px 20px 0px rgba(0, 0, 0, 0.08);
$elevation_04: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
$elevation_05: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
