<div class="swiper business-swiper" id="@@swiperid">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="business-video-container">
        <div class="video-box">
          <div class="video">
            <iframe src="https://www.youtube.com/embed/AfhunizgB0s?si=uNMC4e0maQKIfO0e" title="H. A single letter." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="business-video-container">
        <div class="video-box">
          <div class="video">
            <iframe src="https://www.youtube.com/embed/AfhunizgB0s?si=uNMC4e0maQKIfO0e" title="H. A single letter." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="business-video-container">
        <div class="video-box">
          <div class="video">
            <iframe src="https://www.youtube.com/embed/AfhunizgB0s?si=uNMC4e0maQKIfO0e" title="H. A single letter." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="business-video-container">
        <div class="video-box">
          <div class="video">
            <iframe src="https://www.youtube.com/embed/AfhunizgB0s?si=uNMC4e0maQKIfO0e" title="H. A single letter." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
