<div class="sub-subscribe-container">
  <div class="subscribe-left">
    <div class="image-box">
      <img width="989px" height="558px" class="lazy" data-src="../../assets/images/newsroom/hyundai-ecv-newsroom-xcient-fuel-cell-tractor-subscribe-pc.webp" alt="Hyundai XCIENT Fuel Cell Tractor passing by wind turbine" />
    </div>
  </div>
  <div class="subscribe-right">
    <div class="subscribe-area">
      <div class="subscribe-head">
        <div class="scribe-title-box">
          <strong class="scribe-title-large">Subscribe</strong>
          to Our Newsletter<em>Stay up to date on the latest news from Hyundai Electrified Commercial Vehicles.</em>
        </div>
      </div>
      <div class="subscribe-body">
        <div class="field">
          <label class="field-label" for="subscribe-input">Your E-mail Address<span class="mark-required"></span></label>
          <div class="field-form">
            <div class="input">
              <input type="text" id="subscribe-input" placeholder="Email" required />
            </div>
          </div>
          <!-- field-desc 오류 클래스 : error-box -->
          <div class="field-desc">
            <div class="checkbox">
              <input type="checkbox" id="subscribe-chk" />
              <label for="subscribe-chk" class="label">
                <span class="check-icon"></span>
                I confirm and agree to the collection and use of my personal information.
              </label>
            </div>
          </div>
        </div>
        <div class="buttons-box">
          <button type="button" class="btn-line-wh"><span>Subscribe</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
