@@if(type === 'normal'){
<div class="checkbox">
  <input type="checkbox" name="@@id" id="@@id" @@if(checked) {@@checked} @@if(disabled){@@disabled} />
  <label for="@@id" class="label">
    <span class="check-icon"></span>
    @@if(label) {
    <span>@@label</span>
    }
  </label>
</div>
} @@if(type === 'lineWhite'){
<div class="checkbox type-line-wh">
  <input type="checkbox" name="@@id" id="@@id" @@if(checked) {@@checked} @@if(disabled){@@disabled} />
  <label for="@@id" class="label">
    <span class="check-icon"></span>
    @@if(label) {
    <span>@@label</span>
    }
  </label>
</div>
} @@if(type === 'button'){
<div class="checkbox-btn">
  <input type="checkbox" name="@@id" id="@@id" @@if(checked) {@@checked} @@if(disabled){@@disabled} />
  <label for="@@id" class="label">
    <span class="check-icon"></span>
    @@if(label) {
    <span>@@label</span>
    }
  </label>
</div>
}
