<div class="error-content-container">
  <div class="error-content-area">
    <div class="error-content-box">
        <h1 class="error-title">
          @@errorTitle
        </h1>
        <p class="error-text">@@errorText</p>
    </div>
    <div class="error-content-btn">
      <div class="buttons-box">
        <button type="button" class="btn-line-wh"><span>Home</span></button>
        <button type="button" class="btn-line-wh"><span>Previous</span></button>
      </div>
    </div>
  </div>
</div>