<div class="faq-accordion-list active">
  <button type="button" class="faq-accordion-title">
    <strong class="num">1</strong>
    <h3>
      How is hydrogen produced?
    </h3>
    <i class="faq-accordion-plus"></i> 
  </button>
  <div class="faq-accordion-content">
    <div class="faq-content-box">
      <div class="divide-box">
        <div class="left-box">
          <div class="image-box">
            <img width="480px" height="270px" src="../../assets/images/faq/hyundai-ecv-faqs-how-is-hydrogen-produced-pc.webp" alt="FAQ of How is hydrogen produced">
          </div>
        </div>
        <div class="right-box">
          <div class="text-box">
            <p>
              Hydrogen, the universe's most abundant element, consists of one proton and one electron. Though plentiful on Earth, it's rarely found as a free gas but often binds with other elements.<br/>
Therefore, hydrogen production involves extracting it from molecules in which it is bound. The two most commonly used methods are electrolysis and steam-methane reforming.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-accordion-list">
  <button type="button" class="faq-accordion-title">
    <strong class="num">2</strong>
    <h3>
      Electrolysis
    </h3>
    <i class="faq-accordion-plus"></i>
  </button>
  <div class="faq-accordion-content">
    <div class="faq-content-box">
      <div class="divide-box">
        <div class="left-box">
          <div class="image-box">
            <img width="480px" height="270px" src="../../assets/images/faq/hyundai-ecv-faqs-electrolysis-pc.webp" alt="FAQ of Electrolysis">
          </div>
        </div>
        <div class="right-box">
          <div class="text-box">
            <p>
              Electrolysis separates hydrogen from water (H2O) by using an electric current. Pure hydrogen and oxygen are the sole products of electrolysis, without any other byproducts or emissions. If the electricity powering this process is from renewable energy, it is labeled Green Hydrogen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-accordion-list">
  <button type="button" class="faq-accordion-title">
    <strong class="num">3</strong>
    <h3>
      Steam-methane reforming (SMR)
    </h3>
    <i class="faq-accordion-plus"></i>
  </button>
  <div class="faq-accordion-content">
    <div class="faq-content-box">
      <div class="divide-box">
        <div class="left-box">
          <div class="image-box">
            <img width="480px" height="270px" src="../../assets/images/faq/hyundai-ecv-faqs-steam-methane-reforming-pc.webp" alt="FAQ of Steam-methane reforming">
          </div>
        </div>
        <div class="right-box">
          <div class="text-box">
            <p>
              75% of global commercial hydrogen is produced via steam-methane reforming (SMR). In this process, steam (1,300°F to 1,800°F) reacts with methane at pressure (3-25 bar), yielding primarily hydrogen. The primary source of methane is natural gas.
              <br/><br />
              Other methods of hydrogen production include thermochemical processes that transform biomass into gases or liquids to extract the hydrogen, photolytic methods that utilize solar power to break water into its hydrogen and oxygen component, and biological techniques that involves using organisms like bacteria and microalgae to generate hydrogen through natural reactions.<br />
              Apart from the previous active productions, there exists a type known as by-product hydrogen, which means hydrogen is collected as a side product of petrochemical processes. It offers the benefit of being economically efficient, as it doesn't necessitate extra investment in infrastructure for its production.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="faq-accordion-list">
  <button type="button" class="faq-accordion-title">
    <strong class="num">4</strong>
    <h3>
      What are major challenges with hydrogen?
    </h3>
    <i class="faq-accordion-plus"></i>
  </button>
  <div class="faq-accordion-content">
    <div class="faq-content-box">
      <div class="text-box">
        <p>
          There are still several obstacles to tackle before we fully embrace a hydrogen society.
        </p>
      </div>
      <div class="text-box">
        <div class="num-text-box">
          <span>1.</span>
          <p> 
            <strong>Pricing Challenges:&nbsp;</strong>
            Renewable hydrogen production costs are much higher than their fossil counterparts. It needs to achieve economies of scale to reduce the consumer price.
          </p>
        </div>
        <div class="num-text-box">
          <span>2.</span>
          <p>
            <strong>Lack of Infrastructure:&nbsp;</strong>
            Tapping into renewable resources from distant sites necessitates infrastructure investments, everything from pipelines to storage solutions.
          </p>
        </div>
        <div class="num-text-box">
          <span>3.</span>
          <p>
            <strong>Differentiation Issues:&nbsp;</strong>
            Currently, there's no standardized method to distinguish low-carbon hydrogen from its fossil-based counterpart. This absence results in challenges to creating incentives for production, and leaving consumers uninformed about the source and environmental footprint of the hydrogen they consume.
          </p>
        </div>
        <div class="num-text-box">
          <span>4.</span>
          <p>
            <strong>Absence of Hydrogen Market:&nbsp;</strong>
            Since hydrogen isn't traded as a commodity yet, it lacks a price index. This lack of transparency and competition can elevate costs for consumers.
          </p>
        </div>

      </div>
      <div class="text-box">
        <p>
          However, various efforts are being made to overcome these challenges. In 2023, the EU planned to allocate up to €471 billion ($500 billion) in advancing CO2-free renewable energy sourced hydrogen. Concurrently, in 2023, the U.S. Department of Energy unveiled a $47.7 million allocation for 16 hydrogen technology research and development initiatives, emphasizing cost reduction and infrastructure enhancement.
        </p>
      </div>
    </div>
  </div>
</div>