<!-- footer -->
<footer class="footer-container">
  <div class="footer-center-inner">
    <div class="footer-top">
      <div class="footer-top-left">
        <div class="footer-logo">
          <img src="../../assets/images/common/footer_ci.svg" alt="Hyundai" />
        </div>
      </div>
      <div class="footer-top-right">
        <ul class="footer-sub-menu">
          <li><a href="javascript:void(0);">Legal Notice</a></li>
          <li><a href="javascript:void(0);">Privacy Policy</a></li>
          <li><a href="javascript:void(0);">Cookies Policy</a></li>
          <li><a href="javascript:void(0);">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-middle">
      <ul class="footer-main-menu">
        <!-- [수정20230823] fnb-icon-link 클래스 추가 -->
        <li><a href="javascript:void(0);" class="fnb-icon-link">Worldwide</a></li>
        <!-- [수정20230823] fnb-icon-link 클래스 추가 -->
        <li><a href="javascript:void(0);" class="fnb-icon-link">HTWO</a></li>
        <!-- [수정20230804] 아이콘 클래스 , target 속성 추가 -->
        <li><a href="javascript:void(0);" class="fnb-icon-link" target="_blank">Bluelink Fleet</a></li>
        <li><a href="javascript:void(0);" class="fnb-icon-linkedin" target="_blank">Linked</a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="copyright">ⓒ Hyundai Motor Company. <span class="mo-block">All rights reserved.</span></p>
    </div>
  </div>
</footer>
<!-- //footer -->
