<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="format-detection" content="telephone=no" />

  <link rel="icon" type="image/png" href="../../assets/images/common/favicon.png" />
  <link rel="shortcut icon" sizes="48x48" href="../../assets/images/common/favicon.png" />
  <link rel="apple-touch-icon" href="../../assets/images/common/favicon.png" />
  <meta name="Keywords" content="" />
  <meta property="og:title" content="@@title | Hyundai" />
  <meta property="og:description" content="@@description" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="@@url" />
  <meta property="og:image" content="../../assets/images/og/@@image" />
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <title>@@title | Hyundai</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/lib/reset.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css" />
</head>
