<!-- jQuery -->
<script type="application/x-javascript" src="../../assets/js/lib/jquery.min.js"></script>
<!-- Lazy LazyLoad -->
<script type="application/x-javascript" src="../../assets/js/lib/lazyload.min.js"></script>
<!-- 슬라이드 -->
<script type="application/x-javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
<!-- 인터랙션 -->
<script type="application/x-javascript" src="../../assets/js/lib/gsap.min.js"></script>
<script type="application/x-javascript" src="../../assets/js/lib/ScrollTrigger.min.js"></script>
@@if(datepicker) {
<!-- 달력 -->
<script type="application/x-javascript" src="../../assets/js/lib/vanillajs-datepicker.js"></script>
}
@@if(masonry) {
<!-- masonry -->
<script type="application/x-javascript" src="../../assets/js/lib/masonry.pkgd.min.js"></script>
}
@@if(parallax) {
<!-- parallax -->
<script type="application/x-javascript" src="../../assets/js/lib/parallax.min.js"></script>
}
<!-- Added pub JS -->
<script type="application/x-javascript" src="../../assets/js/bundle.js"></script>
