<div class="card-item-area">
  <div class="card-img-box"><img src="../../assets/images/@@imagesSrc" alt="" /></div>
  <div class="card-info-box">
    <div class="card-info-top">
      <p class="card-title">Hyundai and The Road to Carbon Neutrality</p>
      <span class="card-date">Jun 23 2023</span>
    </div>
    <div class="card-info-middle">
      <div class="card-icons">
        <button type="button" class="icon-download" title="download"></button>

        <button type="button" class="icon-cart" title="cart"></button>
        <!--[1024 카트에 담겼을 때 ]-->
        <div class="tooltip-box">
          <div class="message-box">Added <span class="highlight">3/20</span> files</div>
          <!--[1026]-->
          <!-- <div class="message-box">Reached max <span class="highlight">20/20</span> files</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
