<!-- prettier-ignore -->
@@for(var i = 0; i < radio.length; i++) {
  <div class="radio @@type `+radio[i].tooltip.position+`">
    <input type="radio" name="@@id" id="@@id-`+ [i+1]  +`" `+radio[i].checked+` `+radio[i].disabled+` />
    <label for="@@id-`+ [i+1]  +`" class="label">
      <span>`+radio[i].label+`</span>
    </label>
    <!-- ToolTip -->
    <div class="tooltip-container">
      <button type="button" class="tooltip-open" title="open tooltip"></button>
      <div class="tooltip-area">
        <div class="tooltip-content">`+radio[i].tooltip.tooltiptext+`</div>
        <button type="button" class="tooltip-close" title="close tooltip"></button>
      </div>
    </div>
  </div>
}
