<div class="keyword-list-container">
  <ol class="keyword-area">
    <li><a href="javascript:void(0);" class="keyword-item">truck</a></li>
    <li><a href="javascript:void(0);" class="keyword-item">hyndai motor company</a></li>
    <li><a href="javascript:void(0);" class="keyword-item">cost</a></li>
    <li><a href="javascript:void(0);" class="keyword-item">innovaion</a></li>
    <li><a href="javascript:void(0);" class="keyword-item">eco</a></li>
    <li><a href="javascript:void(0);" class="keyword-item">tractor</a></li>
    <li><a href="javascript:void(0);" class="keyword-item">moter</a></li>
  </ol>
</div>
