<div class="recommend-keyword-area">
  <div class="recommend-left">
    <strong class="recommend-title">Recommended Keyword</strong>
  </div>
  <div class="recommend-right">
    <div class="recommend-area">
      <a href="javascript:void(0);" class="recommend-link">hydrogen</a>
      <a href="javascript:void(0);" class="recommend-link">fuel cell</a>
      <a href="javascript:void(0);" class="recommend-link">truck</a>
      <a href="javascript:void(0);" class="recommend-link">tractor</a>
      <a href="javascript:void(0);" class="recommend-link">bus</a>
    </div>
  </div>
</div>
