<!-- 지도 -->
@@if(type === 'name') {
<div class="worldmap-container">
  <div class="worldmap-area">
    <!-- 기본 활성화 : active-asia -->
    <div class="map-list-area active-asia">
      <!-- 기본 활성화 : active -->
      <div class="map-area map-america" data-bg="active-america">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
          </div>
          <strong class="map-title">Americas</strong>
        </button>
      </div>
      <div class="map-area map-europe " data-bg="active-europe">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <strong class="map-title">Europe</strong>
        </button>
      </div>
      <div class="map-area map-middleEastAfrica" data-bg="active-middleEastAfrica">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
          </div>
          <strong class="map-title">Middle East & Africa</strong>
        </button>
      </div>
      <div class="map-area map-asia active" data-bg="active-asia">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
          </div>
          <strong class="map-title">Asia</strong>
        </button>
      </div>
      <div class="map-area map-oceania" data-bg="active-oceania">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
          </div>
          <strong class="map-title">Oceania</strong>
        </button>
      </div>
    </div>
    <div class="basic-image-area">
      <img src="../../assets/images/aboutus/bg_map_asia.svg" alt="" aria-hidden="true" />
    </div>
  </div>
</div>
<div class="map-arrow-box">
  <div class="map-arrow map-arrow-left"></div>
  <div class="map-arrow map-arrow-right"></div>
</div>
}

@@if(type === 'image') {
<div class="worldmap-container has-images">
  <div class="worldmap-area">
    <!-- 기본 활성화 : active-asia -->
    <div class="map-list-area active-asia">
      <!-- 기본 활성화 : active -->
      <div class="map-area map-america " data-bg="active-america">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
          </div>
          <strong class="map-title">Americas</strong>
        </button>
        <div class="map-middle">
          <div class="map-country bg-america">
            <span class="country-name">United States</span>
            <div class="country-image">
              <div class="image-area">
                <span class="image-box">
                  <img width="172px" height="172px" src="../../assets/images/aboutus/hyundai-ecv-our-network-region-us-pc.webp" alt="Learn more about Hyundai ECV’s Network in US" />
                </span>
              </div>
              <span class="line"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="map-area map-europe" data-bg="active-europe">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
            <span></span>
          </div>
          <strong class="map-title">Europe</strong>
        </button>
        <div class="map-middle">
          <div class="map-country bg-switzerland">
            <span class="country-name">Switzerland</span>
            <div class="country-image">
              <div class="image-area">
                <span class="image-box">
                  <img width="172px" height="172px" src="../../assets/images/aboutus/hyundai-ecv-our-network-region-switzerland-pc.webp" alt="Learn more about Hyundai ECV’s Network in Switzerland" />
                </span>
              </div>
              <span class="line"></span>
            </div>
          </div>
          <div class="map-country bg-germany">
            <span class="country-name">Germany</span>
            <div class="country-image">
              <div class="image-area">
                <span class="image-box">
                  <img width="172px" height="172px" src="../../assets/images/aboutus/hyundai-ecv-our-network-region-germany-pc.webp" alt="Learn more about Hyundai ECV’s Network in Germany" />
                </span>
              </div>
              <span class="line"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="map-area map-asia active" data-bg="active-asia">
        <button type="button" class="map-top" title="show cuntry">
          <div class="dots-box">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <strong class="map-title">Asia</strong>
        </button>
        <div class="map-middle">
          <div class="map-country bg-china">
            <span class="country-name">China</span>
            <div class="country-image">
              <div class="image-area">
                <span class="image-box">
                  <img width="172px" height="172px" src="../../assets/images/aboutus/hyundai-ecv-our-network-region-china-pc.webp" alt="Learn more about Hyundai ECV’s Network in China" />
                </span>
              </div>
              <span class="line"></span>
            </div>
          </div>
          <div class="map-country bg-korea">
            <span class="country-name">Korea</span>
            <div class="country-image">
              <div class="image-area">
                <span class="image-box">
                  <img width="172px" height="172px" src="../../assets/images/aboutus/hyundai-ecv-our-network-region-korea-pc.webp" alt="Learn more about Hyundai ECV’s Network in Korea" />
                </span>
              </div>
              <span class="line"></span>
            </div>
          </div>
          <div class="map-country bg-japan">
            <span class="country-name">Japan</span>
            <div class="country-image">
              <div class="image-area">
                <span class="image-box">
                  <img width="172px" height="172px" src="../../assets/images/aboutus/hyundai-ecv-our-network-region-japan-pc.webp" alt="Learn more about Hyundai ECV’s Network in Japan" />
                </span>
              </div>
              <span class="line"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="basic-image-area">
      <img src="../../assets/images/aboutus/bg_map_asia.svg" alt="" aria-hidden="true" />
    </div>
  </div>
</div>
<div class="map-arrow-box">
  <div class="map-arrow map-arrow-left"></div>
  <div class="map-arrow map-arrow-right"></div>
</div>
}
<!-- //지도 -->
