// 버튼 아이콘들 
[class^=btn-icon-] {
  display: inline-block;
  position: relative;
  // &:hover:not(:disabled) {
  //   background-color: #eee;
  // }
  // &:active {
  //   background-color: rgb(155, 199, 219);
  // }
  // &:disabled {
  //   cursor: default;
  //   opacity: 0.4;
  // }
  }

//헤더 아이콘
.btn-icon-prev {
  background: asset-image('icon_back_nor.png') no-repeat center/cover;
}
.btn-icon-search {
  background: asset-image('icon_search_nor.png') no-repeat center/cover;
}
.btn-icon-cart {
  background: asset-image('icon_detail_cart_nor.png') no-repeat center/cover;
}
.btn-icon-share {
  background: asset-image('icon_share_b_nor.png') no-repeat center/cover;
}

// 브랜드 아이콘
.icon-brand {
  width: 24px;
  height: 24px;
  margin-right: 07px;
}
$brandIcons : (
  hsn : (url: 'icon_brand_hsn.jpg'),
  qvc : (url: 'icon_brand_qvc.jpg'),
  ontv : (url: 'icon_brand_ontv.jpg'),
  jtv : (url: 'icon_brand_jtv.jpg')
);
@each $map, $value in $brandIcons {
  .#{$map} {
    background: asset-image(map-get($value, url)) no-repeat center/cover;
  }
}

//별점
.icon-star {
  width: 18px;
  height: 18px;
  background: asset-image('icon_item_star_full.png') no-repeat center/cover;
  &.full {
    background: asset-image('icon_item_star_full.png') no-repeat center/cover;
  }
  &.half {
    background: asset-image('icon_item_star_half.png') no-repeat center/cover;
  }
}

// 그룹 상세 이동
.icon-arrow {
  display: block;
  width: 18px;
  height: 18px;
  background: asset-image('icon_arrow_r_nor.png') no-repeat center/18px;
  &:hover {
    background: asset-image('icon_arrow_r_pre.png') no-repeat center/18px;
  }
  &:disabled {
    background: asset-image('icon_arrow_r_dim.png') no-repeat center/18px;
  }
}

// 쿠폰 다운로드
.icon-download {
  display: block;
  width: 34px;
  height: 34px;
  background: asset-image('btn_download_nor.png') no-repeat center/24px;
  &:active {
    background: asset-image('btn_download_pre.png') no-repeat center/24px;
  }
  &:disabled {
    background: asset-image('btn_download_dim.png') no-repeat center/24px;
  }
}

// call to order
.icon-call {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background: asset-image('icon_call_nor.png') no-repeat center/cover;
}

.btn-icon-clear {
  display: none;
  width: 28px;
  height: 28px;
  background: $color-white asset-image('icon_close_b_nor.png') no-repeat center/18px;
}

// map
.icon-map {
  display: block;
  width: 18px;
  height: 18px;
  background: asset-image('ic_location.svg') no-repeat center/contain;
}

//notice
.icon-notice {
  &::before {
    content: '';
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 auto 10px;
    background: asset-image('icon_pop_notice.png') no-repeat center/cover;
  }
}

// popup close
.btn-icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  background: asset-image('icon_close_b_nor.png') no-repeat center/24px;
}

// plus, mius
.btn-icon-minus {
  &:after{
    content: '\2014';
    font-size: 28px;
  }
  // background: asset-image('btn_minus_nor.png') no-repeat center/80%;
  &:active {
    &:after{
      content: '\2014';
      font-size: 28px;
    }
    // background: asset-image('btn_minus_pre.png') no-repeat center/80%;
  }
  &:disabled {
    opacity: 0.8
    // background: asset-image('btn_minus_dim.png') no-repeat center/80%;
  }
}
.btn-icon-plus {
  background: asset-image('icon_plus_nor.png') no-repeat center/80%;
  &:active {
    background: asset-image('icon_plus_pre.png') no-repeat center/80%;
  }
  &:disabled {
    background: asset-image('icon_plus_dim.png') no-repeat center/80%;
  }
}
//toast popup
.icon-toast-warning {
  &::before {
    background: asset-image('btn_pip_mode_nor_01.png') no-repeat center/cover;
  }
}
.icon-toast-add {
  &::before {
    background: asset-image('btn_pip_mode_nor_02.png') no-repeat center/cover;
  }
}
.icon-trash-sm {
  background: asset-image('ic_delete_b_nor.png') no-repeat center;
  &:disabled {
    background: asset-image('ic_delete_b_nor.png') no-repeat center;
  }
}

// edit button
.icon-edit {
  background: asset-image('ic_edit_b_nor.png') no-repeat center;
  background-size: 100%;
  &:disabled {
    background: asset-image('ic_edit_b_nor.png') no-repeat center;
    background-size: 100%;
  }
}

// edit delete
.icon-trash {
  background: asset-image('icon_delete_w_nor.png') no-repeat center/24px;
  &:disabled {
    background: asset-image('icon_delete_w_dim.png') no-repeat center/24px;
  }
}

// icon delete
.icon-delete {
  width: 18px;
  height: 18px;
  background: asset-image('btn_delete_clear_nor.png') no-repeat center/cover;
}

// product accordion
.btn-icon-unfold {
  display: block;
  width: 18px;
  height: 18px;
  background: asset-image('btn_up_r_nor.png') no-repeat center/18px;
  transition: all 0.25s;
  &[aria-expanded=false] {
    transform: rotate(180deg)
  }
}