* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans KR', 'sans-serif';
  font-size: 10px;
  -webkit-tap-highlight-color : transparent !important;
}

.scroll-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  &:not(.home) {
    .main {
      padding-top: $header-height;
    }
  }
}

.hidden {
  display: none !important;
}

.usePc {
  display: block !important;
}
.useMobile {
  display: none !important;
}

.ir {
  position: absolute;
  text-indent: -9999px;
  display: block !important;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  padding: 0;
  position: fixed;
  white-space: nowrap;
  font-size: 1px !important;
  -webkit-transform: translateX(-100px) scale(0.0001);
  transform: translateX(-100px) scale(0.0001);
  z-index: -1;
}

.main {
  .main-title-container {
    @include flex(column, center, center);
    width: 137.1rem;
    margin: 0 auto;
    padding-top: 12rem;
    .title {
      @include font(2rem, 700, $point-pink, 2.9rem);
    }
    .desc {
      margin-top: 2rem;
      @include font(4rem, 300, $black, 5.8rem);
      text-align: center;
      word-break: keep-all;
      .strong {
        font-weight: 700;
      }
    }
  }
  .section-title-box {
    @include flex(column, center, center);
    width: 137.1rem;
    margin: 0 auto;
    .title-box,
    .desc {
      text-align: center;
    }
    .title-box {
      @include font(4rem, 300, $black, 5.8rem);
      .strong {
        font-weight: 700;
      }
    }
    .desc {
      margin-top: 2rem;
      @include font(2.2rem, 500, #61606C, 3.4rem);
      word-break: keep-all;
    }
  }
}

// Scroll Button
.section-button-box,
.tab-button-box {
  @include flex(row, center, center);
  margin-top: 5.2rem;
  button {
    & + button {
      margin-left: 2rem;
    }
  }
}
.btn-section, 
.btn-tab {
  @include flex(row, center, center);
  width: 21.2rem;
  height: 5.5rem;
  border: 2px solid #8C8B9A;
  border-radius: 2rem;
  @include font(1.6rem, 700, #8C8B9A, 2.3rem);
  @media (hover: hover) {
    &:hover {
      border-color: $point-pink;
      background-color: $point-pink;
      color: $white;
      transition: 0.15s all;
    }
  }
}
.btn-tab {
  &.active {
    border-color: $point-pink;
    background-color: $point-pink;
    color: $white;
  }
}

.strong-365 {
  font-weight: 700;
}

// 태블릿
@media #{$tablet} {
  .main {
    .main-title-container {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .section-title-box {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

// 모바일
@media #{$mobile} {
  .usePc {
    display: none !important;
  }
  .useMobile {
    display: block !important;
  }
  
  .wrapper {
    &:not(.home) {
      .main {
        padding-top: 4.8rem;
      }
    }
  }
  .section-tab-box,
  .section-button-box {
    margin-top: 3.2rem;
    button {
      & + button {
        margin-left: 1rem;
      }
    }
  }
  .btn-section,
  .btn-tab {
    width: 15.5rem;
    height: 4.5rem;
    border: 1px solid #8C8B9A;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .main {
    .section-title-box {
      .title-box {
        font-size: 1.8rem;
        line-height: 2.6rem;
      }

      .download-box {
        a {
          font-size: 1.4rem;
        }
      }
      .desc {
        margin-top: 0.8rem;
        font-size: 1.4rem;
        line-height: 2rem;
        br {
          display: none;
        }
      }
    }
    .main-title-container {
      padding: 3.2rem 2rem 6rem;
      .title {
        font-size: 1.4rem;
        line-height: 2rem;
      }
      .desc {
        margin-top: 1rem;
        font-size: 1.8rem;
        line-height: 2.6rem;
        br {
          display: none;
        }
      }
    }
  }
}