@charset "UTF-8";

.wrap.mypage_wrap .container .myInfo {
  background-image: url(../images/bg_myInfo.png);
  background-position: right 70px top 497px;
  background-repeat: no-repeat;
}

.myInfodata {
  padding: 0 70px 0 66px;
  text-align: left;
  color: #333333;
  font-size: 34px;
  letter-spacing: -0.5px;
}

.myInfodata dl {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  border-top: 2px dashed #bec6d0;
}

.myInfodata dl:first-child {
  margin:0;
  border:0;
}

.myInfodata dl:after {
  display:none;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #333333;
  transform: translateY(-50%);
}

.myInfodata dl dt, .myInfodata dl dd {
  display: inline-block;
  line-height: 54px;
}

.myInfodata dl dt {
  font-weight: 600;
  width: 330px;
}

.myInfodata dl dd {
  background-color: #e5e7f1;
  width:810px;
  padding: 0 20px;
  border-radius: 5px;
}

.myInfodata dl dd span {
  font-size: 20px;
  color: #c91d53;
  float: right;
  font-weight: 600;
}

.myInfodata dl .area-button {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
}

.myInfodata dl .area-button .btn-more {
    order: 2;
    position: relative;
    width: 180px;
    height: 54px;
    font-size: 26px;
    color: #fff;
    background-color: #666666;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 6px 7px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;
}

.myInfodata dl .area-button .btn-more:hover {
  color: #fff;
  background-color: #666666;
}
.myInfodata dl .area-button .btn-more.pin {
  font-size: 30px;
  outline: 0;
  color: #fff;
  background-color: #333333;
}
.myInfodata dl .area-button .btn-more:active,
.myInfodata dl .area-button .btn-more.active {
  font-size: 26px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 6px 7px rgba(0, 0, 0, 0.1);
  background-color: #666666;
}
.myInfodata dl .area-button .btn-more.pin::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 4px solid #c70850;
  border-radius: 6px;
}

/*.qrDownload {*/
/*  position: absolute;*/
/*  bottom: 60px;*/
/*  right: 0;*/
/*  font-size: 0;*/
/*  background-image: url(../images/bg_myInfoQR.png);*/
/*  background-repeat: no-repeat;*/
/*  background-position: right center;*/
/*  width: 955px;*/
/*  height: 345px;*/
/*}*/

.qrMessage {
  position: absolute;
  bottom: 40px;
  right: 90px;
  text-align: right;
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  width: 475px;
  text-align: center;
}