@charset "UTF-8";

.right {
  float: right !important;
}
.delDim,
.delSelect,
.timeDim,
.timeCont {
  display: none;
}
/* JCK 200607 레이아웃수정 */
.mySupport {
  letter-spacing: -0.2px;
  /* margin-top: 50px; */
  position: absolute;
  right: 0;
  width: calc(100% - 414px);
  height: auto;
}
.mySupport::after {
  content: '';
  clear: both;
  display: block;
}
.mySupport .h-max {
  min-height: 388px;
  height: auto;
  overflow: visible;
  position: relative;
  margin: 0 90px 0 67px;
  /* background-color: #f2f6fb; */ /* JCK 200605 배경어색함 */
}

/* JCK 200605 공통처리
.mySupport .up-tab {
  width: auto;
  margin: 0px 90px 0px 67px;
  padding: 0px 0 0px 0;
  position: relative;
  bottom: 0px;
  border-bottom: 2px solid #c70850;
}
.mySupport .up-tab .nav-tabs {
  z-index: 10;
}
.mySupport .up-tab .nav-tabs,
.mySupport .up-tab .nav-tabs.nav-justified {
}
.mySupport .up-tab .nav::before {
  display: table;
  content: " ";
}
.mySupport .up-tab .nav::after {
  clear: both;
  display: table;
  content: " ";
}
.mySupport .up-tab .nav > li {
  position: relative;
  display: block;
}
.mySupport .up-tab .nav-tabs > li {
  float: left;
  margin-bottom: 0px;
}
.mySupport .up-tab .nav-tabs > li > a {
  width: 260px;
  height: 58px;
  margin-right: -1px;
  font-size: 30px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.5px;
  color: #666666;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background: #ffffff;
  border: 1px solid #ccc;
  border-bottom: 0;
  display: block;
  border-radius: 10px 10px 0 0;
}
.mySupport .up-tab .nav-tabs > li > a:hover {
  border-color: rgba(199, 8, 80, 0.5);
  background: #ffffff;
}
.mySupport .up-tab .nav-tabs > li.active > a,
.mySupport .up-tab .nav-tabs > li.active > a:hover,
.mySupport .up-tab .nav-tabs > li.active > a:focus {
  color: #ffffff;
  background: #c70850;
  border-radius: 10px 10px 0px 0px;
}
.mySupport .up-tab .nav-tabs > li.active > a,
.mySupport .up-tab .nav-tabs > li.active > a:hover,
.mySupport .up-tab .nav-tabs > li.active > a:focus,
.mySupport .up-tab .nav-tabs > .dropdown.active.open > a:hover {
  color: #ffffff;
  background: #c70850;
  border-radius: 10px 10px 0px 0px;
}
.mySupport .mySupport-inwrap {
}
*/
/* .mySupport .mySupport-inwrap {position: relative;width: 100%;height: 100%;min-height: 358px;overflow: hidden;padding: 112px 0 60px 0px;} */
.mySupport .mySupport-inwrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 570px;
  /* overflow: hidden; 아이템 그림자 가림 */
  /* padding: 0 0 155px 0px; */
  /* padding: 0 0 80px 0px; */
}
.mySupport .mySupport-inwrap .myHead {
  padding: 0;
  height: auto;
  /* margin-bottom:12px; */
  margin-bottom: 0px;
  justify-content: flex-start;
}
.mySupport .mySupport-inwrap .myHead::before {
  display: none;
  left: 0;
}
.mySupport .mySupport-inwrap .notify {
  text-align: left;
  padding-left: 0;
}
/* JCK 200605 공통사용
.mySupport .mySupport-inwrap .notify {
  font-size: 28px;
  font-weight: 500;
  color: #333333;
  line-height: 70px;
  letter-spacing: -0.5px;
  text-align: left;
  width: 99%;
  height: 55px;
  margin: 0;
  position: absolute;
  top: 36px;
  left: 0;
}
*/
.mySupport .mySupport-inwrap .notify.bottom {
  top: auto;
  bottom: 75px;
  left: 0;
  text-align: center;
  font-size: 28px;
  line-height: 38px;
  padding-top: 25px;
}
.mySupport .mySupport-inwrap .notify.bottom .text-lg{
  color: #333;
  font-size: 24px;
  line-height: 1.25;
 }
 .mySupport .mySupport-inwrap .notify.bottom .text-sm {
  margin-top: 23px;
  color: #888;
  font-size: 18px;
  line-height: 1.44;
 }
.mySupport .mySupport-inwrap .notify.bottom span {
  font-size: 24px;
}
.mySupport .mySupport-inwrap .listNoti {
  display: block;
  width: 1349px;
  /* height: 680px; */
  height: 640px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: -5px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
/* JCK 200605 공지사항 메세지없는경우 여백처리 */
/* 
.mySupport .mySupport-inwrap .listNoti.basic {
  margin-top:30px;
}
 */
.mySupport .mySupport-inwrap .listNoti::-webkit-scrollbar {
  width: 5px;
  background-color: #333333;
  border-radius: 100%;
  position: relative;
  top: 30px;
}
.mySupport .mySupport-inwrap .listNoti::-webkit-scrollbar-thumb {
  /* background-color: #333333; */
  background-color: rgba(0, 0, 0, 0.15); /* 스크롤통일 */
  border-radius: 100px;
}
.mySupport .mySupport-inwrap .listNoti::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 100px;
}
/* JCK 200605 레이아웃수정 */
.mySupport .mySupport-inwrap .listNoti .noti-cont {
  display: flex;
  width: 1327px;
  height: 70px;
  margin: 0 0 10px 0;
  display: inline-flex;
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  background: #fefefe;
  box-shadow: 0px 3px 5.64px 0.36px rgba(0, 0, 0, 0.11);
  /*
  box-shadow: -2px 15px 20px -20px rgba(0, 0, 0, 0.1),
  -2px 15px 20px -20px rgba(0, 0, 0, 0.1);
  */
}
.mySupport .mySupport-inwrap .listNoti .noti-cont-hover {
  border-color: #c70850;
}
.mySupport .mySupport-inwrap .listNoti .noti-cont::after {
  clear: both;
  content: '';
  display: block;
}
.mySupport .mySupport-inwrap .listNoti .noti-cont div {
  color: #333333;
  /* height: 68px; */
  line-height: 68px;
  background: #fefefe;
}
.mySupport .mySupport-inwrap .listNoti .noti-cont .noti-tit {
  flex: 1 1 auto;
  width: auto;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  border-radius: 8px 0px 0px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mySupport .mySupport-inwrap .listNoti .noti-cont .noti-day {
  width: 216px;
  font-size: 24px;
  color: #333333;
  text-align: right;
  padding-right: 40px;
  border-radius: 0px 8px 8px 0px;
}
/* .mySupport .mySupport-inwrap .listNoti .noti-cont:hover, */
/* .mySupport .mySupport-inwrap .listNoti .noti-cont:focus ,{ */
.mySupport .mySupport-inwrap .listNoti .noti-cont.active,
.mySupport .mySupport-inwrap .listNoti .noti-cont.pin {
  position: relative;
  /* z-index: 200; */
  /* width: 1307px; /* JCK 200605 영역수정 */
  height: 70px;
  display: inline-flex;
  border: 1px solid #c70850;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 3px 5.64px 0.36px rgba(0, 0, 0, 0.49);
  /*
  box-shadow: -2px 15px 20px -20px rgba(0, 0, 0, 0.3),
  -2px 15px 20px -20px rgba(0, 0, 0, 0.3);
  */
}
/* 
.mySupport .mySupport-inwrap .listNoti .noti-cont.active .noti-tit,
.mySupport .mySupport-inwrap .listNoti .noti-cont.pin .noti-tit,
.mySupport .mySupport-inwrap .listNoti .noti-cont:hover .noti-tit,
.mySupport .mySupport-inwrap .listNoti .noti-cont:focus .noti-tit {
  color:#c70850;
}
 */
/* .mySupport .mySupport-inwrap .listNoti .noti-cont:hover::after, */
/* .mySupport .mySupport-inwrap .listNoti .noti-cont:focus::after { */
.mySupport .mySupport-inwrap .listNoti .noti-cont.active::after,
.mySupport .mySupport-inwrap .listNoti .noti-cont.pin::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  /* width: 1307px; /* JCK 200605 영역수정 */
  width: 100%;
  height: 100%;
  display: block;
  border: 4px solid #c70850;
  border-radius: 7px;
  box-sizing: border-box;
  outline: none;
}

/* faq */
.mySupport .mySupport-inwrap .listNoti.faq-tip .noti-cont .noti-num {
  width: 180px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  border-radius: 8px 0px 0px 8px;
  background: #edeff3;
}
.mySupport .mySupport-inwrap .listNoti.faq-tip .noti-cont .noti-tit {
  width: 1307px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding-left: 30px;
  padding-right: 40px;
  border-radius: 8px 8px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* contact-tip */
.mySupport .mySupport-inwrap .listNoti.contact-tip {
  display: block;
  width: 1349px;
  height: 587px;
  box-sizing: border-box;
  padding-top: 5px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont {
  width: 1328px;
  height: auto;
  min-height: 119.5px;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div {
  height: auto;
  padding: 15px 0px;
  line-height: 34px;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont .noti-patners {
  width: 240px;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  padding-left: 25px;
  border-radius: 8px 0px 0px 8px;
  background: #edeff3;
  display: flex;
  align-items: center;
  justify-content: start;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont.ru .noti-patners {
  width: 300px;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont .noti-patners span {
  vertical-align: middle;
  display: contents;
  letter-spacing: -0.5px;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont .noti-patners span img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont .noti-tit {
  width: 1109px;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 30px;
  border-radius: 0px 8px 8px 0px;
  /* display: block; */
  word-break: break-word;
  flex-direction: column;
  margin: auto 0;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont.ru .noti-tit {
  width: 1079px;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div {
  width: 1052px;
  height: auto;
  display: block;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  vertical-align: middle;
  line-height: 38px;
  letter-spacing: -0.5px;
  margin: auto 0;
  padding: 0 0 0 0;
}
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div span {
  width: 100%;
  margin-left: -3px;
  font-size: 28px;
}
/* .mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div span.tit-P:before{content: 'Phone: ';width: 115px;} */
/* .mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div span.tit-M:before{content: 'Email: ';width: 95px;} */
/* .mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div span.tit-U:before{content: 'URL: ';width:85px;} */
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div span.tit-P:after,
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div span.tit-M:after {
  content: '|';
  font-size: 26px;
  color: #999999;
  padding: 0 5px;
  position: relative;
  top: -3px;
}
/* 
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont:hover div.noti-tit div span:after, 
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont:focus div.noti-tit div span:after{color:#c70850;}
 */
.mySupport .mySupport-inwrap .listNoti.contact-tip .noti-cont div.noti-tit div.tit-etc {
  width: 100%;
  display: block;
  justify-content: space-around;
}

.mySupport-footer.row {
  min-height: 1px;
}
.mySupport-footer .area-button {
  text-align: right;
}
.mySupport .mySupport-footer {
  position: relative;
  width: auto;
  height: 100%;
}
.mySupport .mySupport-footer .area-button {
  margin: 0px;
  height: 80px;
  display: inline-flex;
  justify-content: normal;
}
.mySupport .mySupport-footer .area-button button {
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  border-radius: 10px;
}
.mySupport .mySupport-footer .area-button .btn-more {
  width: 340px;
  height: 80px;
  outline: none;
  text-align: center;
  font-size: 34px;
  color: #ffffff;
  background-color: #c70850;
  margin: 0 auto;
  padding: 0;
}
.mySupport .mySupport-footer .area-button .btn-more.btn-donot {
  background: #999999;
  margin-right: 10px;
}
.mySupport .mySupport-footer .area-button button.active,
.mySupport .mySupport-footer .area-button button:active,
.mySupport .mySupport-footer .area-button button:focus {
  transition: all 0.2s;
  font-size: 40px;
}

/* switch */
.mySupport .switchBox {
  height: 40px;
  padding: 20px 0;
  text-align: left;
}
.mySupport .switchBox .switchName {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #333333;
  padding: 0px 20px;
  position: relative;
  bottom: 15px;
}
.mySupport .switchBox .switch {
  cursor: pointer;
  position: relative;
}
.mySupport .switchBox .switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.mySupport .switchBox .switch span {
  position: relative;
  width: 76px;
  height: 38px;
  border-radius: 50px;
  background-color: #f2f6fb;
  display: inline-block;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  left: 0px;
  border: 5px solid #333333;
}
.mySupport .switchBox .switch span:after {
  content: '';
  position: absolute;
  background-color: #999999;
  width: 26px;
  height: 26px;
  top: 6px;
  left: 7px;
  border-radius: 50px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.mySupport .switchBox .switch input:checked + span:after {
  left: 43px;
  background-color: #c70850;
}
.mySupport .switchBox .switch input:checked + span {
  background-color: #f2f6fb;
}
