//콜게이트만의 ui
.time-notice-sub {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  height: 3rem;
  padding: 0.4rem 2rem;
  background: $black;
  @include font(1.4rem, 500, $white, 2.2rem);
  letter-spacing: -0.07rem;
  & + .main {
    padding-top: $timeNoticeText;
  }
}
