// color palette
$color-white: #fff;
$color-black: #000;

$color-gray-222222: #222222;
$color-gray-1a1a1a: #1a1a1a;
$color-gray-1e1e1e: #1e1e1e;
$color-gray-333333: #333333;
$color-gray-606060: #606060;
$color-gray-767676: #767676;
$color-gray-999999: #999999;
$color-gray-808080: #808080;
$color-gray-555555: #555555;
$color-gray-eeeeee: #eeeeee;
$color-gray-dddddd: #dddddd;
$color-gray-d5d5d5: #d5d5d5;
$color-gray-dadada: #dadada;
$color-gray-d9d9d9: #d9d9d9;
$color-gray-e4e4e4: #e4e4e4;
$color-gray-e9e9e9: #e9e9e9;
$color-gray-7a808d: #7a808d;
$color-gray-f8f8f8: #f8f8f8;
$color-gray-f2f2f2: #f2f2f2;
$color-gray-fcfcfc: #fcfcfc;
$color-gray-f0f0f0: #f0f0f0;
$color-gray-cccccc: #cccccc;
$color-gray-1e1e1e: #1e1e1e;
$color-gray-b5b5b5: #b5b5b5;
$color-gray-a3a3a3: #a3a3a3;
$color-gray-8290a0: #8290a0;
$color-gray-373737: #373737;
$color-gray-4b4b4b: #4b4b4b;
$color-gray-252525: #252525;
$color-gray-e7e7e7: #e7e7e7;
$color-gray-ececec: #ececec;
$color-gray-ebebeb: #ebebeb;
$color-gray-e5e5e5: #e5e5e5;

$color-c70850: #c70850;
$color-c72054: #c72054;
$color-ce1c5e: #ce1c5e;
$color-ff0000: #ff0000;
$color-f40000: #f40000;
$color-e50459: #e50459;
$color-2b303d: #2b303d;
$color-2c343f: #2c343f;
$color-5ac4ff: #5ac4ff;
$color-d7f2e0: #d7f2e0;
$color-08c749: #08c749;
$color-505b69: #505b69;
$color-e7ebef: #e7ebef;
$color-4f172c: #4f172c;
$color-1c222b: #1c222b;

// tab button thumbnail etc
$focused: #c70850;
$selected: #4f172c;
$selected-foc: #c70850;

//focused border & shadow
.focusShadow {
  box-shadow: 0 0 16px 0 rgba(2, 3, 3, 0.7);
  border: 4px solid $focused;
}

//onlyShadow
.onlyShadow {
  box-shadow: 0 0 16px 0 rgba(2, 3, 3, 0.7);
}
.onlyBorder {
  border: 4px solid $focused;
}

// position focused
.afterBorderShadow {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.6);
  border: 4px solid $focused;
  pointer-events: none;
}
.afterBorder {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  border: 4px solid $focused;
  pointer-events: none;
}

.none-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
