// basic layout height size
$header: 6.4rem;
$footer: 45.6rem;

// popup size
$full: 100%;

// color palette
//공통
$white: #fff;
$black: #000;
$color-primary: #8a54f7;
$color-secondary: #110138;
$color-gray-01: #181a1b; //메인텍스트
$color-gray-02: #666666; //서브텍스트
$color-gray-03: #e7ebee; //라인

// 특정영역
$color-47484A: #47484a;
$color-FAFAFA: #fafafa;
$color-F2F3F4: #f2f3f4;
$color-DDDDDD: #dddddd;
$color-C5C7CC: #c5c7cc;
$color-D6DBE8: #d6dbe8;
$color-EEEEEE: #eeeeee;
$color-3A3A3D: #3a3a3d;
$color-525960: #525960;
$color-DCE0E5: #dce0e5;
$color-888888: #888888;
$color-E3E4E5: #e3e4e5;
$color-D5D6D7: #d5d6d7;
$color-F8F7FB: #f8f7fb;
$color-66707A: #66707a;
$color-A8B3BD: #a8b3bd;

$color-EFE7FE: #efe7fe;
$color-FFEBF7: #ffebf7;
$color-E3F3FF: #e3f3ff;
$color-F5EFFF: #f5efff;
$color-EF3484: #ef3484;

//theme-num
$color-yellow-theme: #ffb800;
$color-purple-theme: #a788ff;
$color-blue-theme: #70a9f1;
$color-green-theme: #99d057;
$color-pink-theme: #ff849c;

// max-width
.max-width-1040 {
  width: 104rem;
  margin: 0 auto;
}
