/* Reset
---------------------------------------------------------------------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  display: inline;
  position: relative;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; /*-webkit-tap-highlight-color:transparent;*/
  box-sizing: border-box;
}
ins {
  background-color: transparent;
  text-decoration: none;
}
mark {
  background-color: transparent;
  font-style: normal;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  margin: 1em 0;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e3e3e3;
}
input,
select {
  vertical-align: baseline;
}
button {
  cursor: pointer;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
[hidden] {
  display: none;
}

/* Base
---------------------------------------------------------------------------------------------- */
html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}

/* IE Fixes
---------------------------------------------------------------------------------------------- */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}

/* Links
---------------------------------------------------------------------------------------------- */
a {
  text-decoration: none;
  color: initial;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}

/* Typography
---------------------------------------------------------------------------------------------- */

b,
strong {
  font-weight: bold;
}
dfn,
em {
  font-style: italic;
  font-style: normal;
}
small,
sub,
sup {
  font-size: 75%;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Forms
---------------------------------------------------------------------------------------------- */
legend {
  border: 0;
  display: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}

/* Tables
---------------------------------------------------------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 10px;
}
table caption {
  display: none;
}

/* Common
---------------------------------------------------------------------------------------------- */
.blind,
.hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: -99999;
}
.clear:before,
.clear:after {
  content: '';
  display: block;
  clear: both;
}

/* Accessibility
---------------------------------------------------------------------------------------------- */
a.skip_area {
  width: 100%;
  height: 50px;
  display: block;
  position: absolute;
  left: 0;
  top: -60px;
  font-size: 13px;
  text-align: center;
  line-height: 50px;
  color: #ccc;
  background: #3e3f41;
  z-index: 500;
}
a.skip_area:active,
a.skip_area:focus {
  position: absolute;
  top: 0;
}
//뉴개편에서 추가 함
button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
}
