<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      class="no-js">
<head>
  <title>Who we are | Hyundai Motor's Hydrogen Fuel Cell system | HTWO</title>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="author" content=""/>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5"/>
  <meta name="apple-mobile-web-app-title" content="HTWO"/>
  <meta name="application-name" content="HTWO"/>
  <meta name="msapplication-TileColor" content="#da532c"/>
  <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="HTWO hydrogen fuel cell goes beyond automobiles to advance for humanity. Experience the new wave for the hydrogen society with VR."/>
    <meta name="keyword" content="vr, hydrogen, hydrogen fuel cell, HTWO"/>
    <meta property="og:type" content="site">
    <meta property="og:url" content="https://devhtwo.hyundai.com/en/operator/brand-story">
    <meta property="og:title" content="Who we are | Hyundai Motor&#39;s Hydrogen Fuel Cell system | HTWO">
    <meta property="og:image" content="https://devhtwo.hyundai.com/img/htwo_og_image.png">
    <meta property="og:description" content="HTWO hydrogen fuel cell goes beyond automobiles to advance for humanity. Experience the new wave for the hydrogen society with VR.">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Who we are | Hyundai Motor&#39;s Hydrogen Fuel Cell system | HTWO"/>
    <meta name="twitter:description" content="HTWO hydrogen fuel cell goes beyond automobiles to advance for humanity. Experience the new wave for the hydrogen society with VR."/>
    <meta name="twitter:image" content="https://devhtwo.hyundai.com/img/htwo_og_image.png"/>
    <link rel="canonical" href="https://www.htwo.hyundai.com/en/operator/brand-story">
    <link rel="alternate" href="https://www.htwo.hyundai.com/ko/operator/brand-story" hreflang="ko"> <link rel="alternate" href="https://www.htwo.hyundai.com/en/operator/brand-story" hreflang="en">
  <link rel="stylesheet" type="text/css" href="/font/HyundaiSans/HyundaiSans.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
          integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
          integrity="sha512-NK1a+fwVgHnWk57liCcVd4/Cm9meSmYYY130YqQ3fEOD7gw3GQ36UJ+CZWVfpM/CtE08YkpIg4MBGzwNG2P3SQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/css/tooltipster.bundle.min.css"
          integrity="sha512-RwhQzi0EhwZ9hHs18SqM7ICqW/MH/B17PouhdCuzaUQYEdx2S4WPgkhLeZPvGr2Kb1FIm4gaIbMJGwZtxDCLQA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css"
          integrity="sha512-0V10q+b1Iumz67sVDL8LPFZEEavo6H/nBSyghr7mm9JEQkOAm91HNoZQRvQdjennBb/oEuW+8oZHVpIKq+d25g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.min.css?ver=20231114"/><!-- 231114 edit -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-ENV3TSNE81"></script> -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WSZHDGJR');</script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ENV3TSNE81');
  </script>
</head>
<body>
<div class="wrap">
  <!-- <div class="loader"></div> -->
  <!-- <header th:replace="~{ko/common/_header :: header}"></header> -->
  <header class="header">
  <div class="container">
    <a href="/en/" class="logo">
      <img src="/img/HTWO_logo.svg" alt="HTWO"/>
      <img src="/img/HTWO_logo_w.svg" class="tr-logo" alt="HTWO"/>
    </a>
    <div class="site-name txt-head onM">
        Who we are <!-- 231128 modify -->
    </div>
    <button type="button" class="hamburger onM">
      <!-- <img src="/img/hamburger.svg" alt="Open Mobile Sidemenu" /> -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                <rect x="7" y="7.8" width="16" height="1.5"/>
        <rect x="7" y="14.2" width="16" height="1.5"/>
        <rect x="7" y="20.8" width="16" height="1.5"/>
            </svg>
    </button>
    <div class="overlay"></div>
    <ul class="menu">
      <li class="onM">
        <a href="/en">HOME</a>
        <button type="button" class="close-menu"></button>
      </li>
      <li>
        <a href="/en/hydrogen/why-hydrogen" class="menu-major">Hydrogen</a>
        <div class="menu-sub">
          <a href="/en/hydrogen/why-hydrogen">Why Hydrogen?</a>
          <a href="/en/hydrogen/value-chain">Value chain of hydrogen society</a>
        </div>
      </li>
      <li>
        <a href="/en/technology/hydrogen-fuel-cell-system" class="menu-major">Technology</a>
        <div class="menu-sub">
          <a href="/en/technology/hydrogen-fuel-cell-system">Hydrogen fuel cell system product</a>
          <a href="/en/technology/technical-achievement">Hydrogen fuel cell system application</a>
        </div>
      </li>
      <li>
        <a href="/en/worldwide/news/list?category=NWS" class="menu-major">Worldwide</a>
        <div class="menu-sub">
          <!-- <a th:href="@{/{language}/worldwide/htwo-global-network(language=${langCode})}" th:class="${currentUri.startsWith('/worldwide/htwo-global-network') ? 'on' : ''}" th:text="#{htwo-global-network}">HTWO 글로벌 거점</a>
          <a th:href="@{/{language}/worldwide/news/list(language=${langCode})}" th:class="${currentUri.startsWith('/worldwide/news') ? 'on' : ''}" th:text="#{news-magazine}">뉴스 & 매거진</a> -->
          <a href="/en/worldwide/news/list?category=NWS">Press Releases</a>
          <a href="/en/worldwide/news/list?category=STO">Insights</a>
        </div>
      </li>
      <li class="on">
        <a href="/en/operator/brand-story" class="menu-major">Organization</a>
        <div class="menu-sub">
          <a href="/en/operator/brand-story" class="on">Who we are</a>
          <a href="/en/worldwide/htwo-global-network">Our Network</a>
          <a href="/en/operator/hyundai-business">Our Business</a>
          <a href="/en/operator/contact">Contact Us</a>
        </div>
      </li>
      <li class="change-lang-mo onMF">
        <a href="/download/HTWO_Fuelcellsystem_e-Brochure.pdf" download="HTWO_Fuelcellsystem_e-Brochure" target="_blank" class="ecv"><span>Electrified Commercial Vehicles</span></a>
        <div class="change-lang">
          <button type="button">
            <span>Language</span>
          </button>
          <div class="lang-list">
            <a href="/ko/operator/brand-story"
               class="false"><span>한국어</span></a>
            <a href="/en/operator/brand-story"
               class="true"><span>ENGLISH</span></a>
            <a href="/zh/operator/brand-story"
               class="false"><span>中文</span></a>
          </div>
        </div>
      </li>
    </ul>
    <div class="submenu onP">
      <a href="https://ecv.hyundai.com/global/en" target="_blank" class="onPN ecv"><span>Electrified Commercial Vehicles</span></a>
      <div class="change-lang">
        <button type="button">
          <span>Language</span>
        </button>
        <!-- <th:block th:text="${langCode}"></th:block> -->
        <div class="lang-list">
          <a href="/ko/operator/brand-story"
             class="false"><span>한국어</span></a>
          <a href="/en/operator/brand-story"
             class="true"><span>ENGLISH</span></a>
          <a href="/zh/operator/brand-story"
             class="false"><span>中文</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
  <div class="page page-sub page-brandstory">
    <div class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/en" title="Back to Home">Home</a></li>
            <li><span>Organization</span></li>
            <li><span>Who we are</span></li>
        </ul>
    </div>
</div><!-- 231026 edit -->
    <div class="sub-header">
        <div class="container">
            <h1 class="page-name">Who we are</h1><!-- 231026 edit -->
            <h2>HTWO, technology for humanity</h2>
            <button type="button" class="share">Share</button>
        </div>
        <div class="keyvisual">
            <img src="/attachment/image/100.jpg" class="onP" alt="현대자동차 수소전기차 넥쏘(Nexo)" />
            <img src="/attachment/image/101.jpg" class="onM" alt="현대자동차 수소전기차 넥쏘(Nexo)" />
        </div>
    </div>
    <div class="content-wrap" id="brandStoryIntro">
        <div class="container">
            <div class="content-title sc-event sc-event-fade">
                <h2>HTWO - Who we are</h2><!-- 231026 edit -->
            </div>
            <!-- Content 1 -->
            <div class="content" id="brandStory1">
                <h3 class="content-label sc-event sc-event-fade">Hydrogen fuel cells <br />benefit humanity</h3>
                <div class="content-inner">
                    <div class="content-img content-divide sc-event sc-event-divide">
                        <div>
                            <img src="/attachment/image/89.jpg" alt="현대자동차 수소전기차 넥쏘(Nexo)" />
                        </div>
                        <div>
                            <img src="/attachment/image/90.jpg" />
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <p>
                            Hyundai Motor Co.'s 'Progress for Humanity' motto expresses its pursuit of technological advancement for the progress of humanity.
                            <br /><br />
                            The fuel cell system, created through more than 20 years of research and development, represents Hyundai's commitment to creating a new paradigm—the hydrogen society.
                            <br /><br />
                            Today, Hyundai is continuing its 'Progress for Humanity' journey with HTWO by expanding fuel cell technology beyond automobiles.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Content 2 -->
            <div class="content" id="brandStory2">
                <h3 class="content-label sc-event sc-event-fade">Humanity meets hydrogen</h3>
                <div class="content-inner">
                    <div class="content-img content-divide sc-event sc-event-divide">
                        <div>
                            <img src="/attachment/image/91.jpg" />
                        </div>
                        <div>
                            <img src="/attachment/image/92.jpg" alt="수소(Hydrogen)과 인류(Humanity)를 더하는 현대자동차 수소연료전지시스템 브랜드 HTWO" />
                            <img src="/attachment/image/93.jpg" />
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <p>The HTWO logo neatly encapsulates the 'Hydrogen for Humanity' message. Two interlocking Hs stand for Hydrogen and Humanity, and the twin Hs also create the '+' positive charge symbol used in fuel cell chemistry.</p>
                    </div>
                </div>
            </div>
            <!-- Content 3 -->
            <div class="content" id="brandStory3">
                <h3 class="content-label sc-event sc-event-fade">Hydrogen <br />meets technology</h3>
                <div class="content-inner">
                    <div class="content-img content-inline onP sc-event sc-event-toleft">
                        <div>
                            <img src="/attachment/image/94.jpg" alt="현대자동차 수소연료전지시스템 브랜드 HTWO의 수소연료전지시스템" />
                        </div>
                        <div>
                            <img src="/attachment/image/95.jpg" alt="현대자동차 수소전기차 최초 모델" />
                        </div>
                        <div>
                            <img src="/attachment/image/96.jpg" alt="현대자동차 수소전기 대형 트럭 엑시언트(Xcient Fuel Cell)" />
                        </div>
                    </div>
                    <div class="content-img content-divide onMF sc-event sc-event-fade">
                        <div>
                            <img src="/attachment/image/94.jpg" alt="현대자동차 수소연료전지시스템 브랜드 HTWO의 수소연료전지시스템" />
                        </div>
                        <div>
                            <img src="/attachment/image/95.jpg" alt="현대자동차 수소전기차 최초 모델" />
                        </div>
                    </div>
                    <div class="content-img onM sc-event sc-event-fade">
                        <div>
                            <img src="/attachment/image/97.jpg" alt="현대자동차 수소전기 대형 트럭 엑시언트(Xcient Fuel Cell)" />
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <!-- Desktop -->
                        <div class="brand-history onP">
                            <dl class="history-line">
                                <div>
                                    <dt>1998</dt>
                                    <dd><p>Fuel cell research and <br />development begins <br />in earnest.</p></dd>
                                </div>
                                <div>
                                    <dt>2000</dt>
                                    <dd>
                                        <p>Developed <br />the first FCEV.</p>
                                        <em>(Based on Santa Fe)</em>
                                    </dd>
                                </div>
                                <div>
                                    <dt>2004</dt>
                                    <dd><p>Independently <br />developed <br />the fuel cell stack.</p></dd>
                                </div>
                                <div>
                                    <dt>2005</dt>
                                    <dd><p>Independently developed <br />the fuel cell system</p></dd>
                                </div>
                            </dl>
                            <dl class="history-line">
                                <div>
                                    <dt>2013</dt>
                                    <dd>
                                        <p>World's first <br />mass-produced FCEV.</p>
                                        <em>(Tucson iX35 FCEV)</em>
                                    </dd>
                                </div>
                                <div>
                                    <dt>2018</dt>
                                    <dd>
                                        <p>NEXO, the second-<br />generation FCEV, <br />launched.</p>
                                    </dd>
                                </div>
                                <div>
                                    <dt>2020</dt>
                                    <dd>
                                        <p>Hyundai Motor Group <br />Fuel Cell system brand <br />‘HTWO’ Launched</p>
                                        <p>Hyundai's hydrogen-electric <br />heavy-duty commercial vehicle launched.</p>
                                        <em>(XCIENT Fuel Cell, ELEC CITY bus)</em>
                                    </dd>
                                </div>
                                <div>
                                    <dt>2022</dt>
                                    <dd>
                                        <p>Hyundai's hydrogen-electric <br />heavy-duty commercial vehicle launched.</p>
                                        <em>(Fuel Cell garbage truck, Universe fuel cell express bus)</em>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                        <!-- Mobile -->
                        <div class="brand-history onM">
                            <dl class="history-line">
                                <div>
                                    <dt>1998</dt>
                                    <dd><p>Fuel cell research <br />and development <br />begins in earnest.</p></dd>
                                </div>
                                <div>
                                    <dt>2000</dt>
                                    <dd>
                                        <p>Developed <br />the first FCEV.</p>
                                        <em>(Based on Santa Fe)</em>
                                    </dd>
                                </div>
                            </dl>
                            <dl class="history-line">
                                <div>
                                    <dt>2004</dt>
                                    <dd><p>Independently <br />developed the <br />fuel cell stack.</p></dd>
                                </div>
                                <div>
                                    <dt>2005</dt>
                                    <dd><p>Independently <br />developed the <br />fuel cell system</p></dd>
                                </div>
                            </dl>
                            <dl class="history-line">
                                <div>
                                    <dt>2013</dt>
                                    <dd>
                                        <p>World's first <br />mass-produced FCEV.</p>
                                        <em>(Tucson iX35 FCEV)</em>
                                    </dd>
                                </div>
                                <div>
                                    <dt>2018</dt>
                                    <dd>
                                        <p>NEXO, the second-<br />generation FCEV, <br />launched.</p>
                                    </dd>
                                </div>
                            </dl>
                            <dl class="history-line">
                                <div>
                                    <dt>2020</dt>
                                    <dd>
                                        <p>Hyundai Motor Group Fuel Cell system brand ‘HTWO’ Launched</p>
                                        <p>Hyundai's hydrogen-electric heavy-duty commercial vehicle launched.</p>
                                        <em>(XCIENT Fuel Cell, ELEC CITY bus)</em>
                                    </dd>
                                </div>
                                <div>
                                    <dt>2022</dt>
                                    <dd>
                                        <p>Hyundai's hydrogen-electric heavy-duty commercial vehicle launched.</p>
                                        <em>(Fuel Cell garbage truck, Universe fuel cell express bus)</em>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content 4 -->
            <div class="content" id="brandStory4">
                <h3 class="content-label sc-event sc-event-fade">HTWO, <br />leading the transition <br />to a hydrogen society</h3>
                <div class="content-inner">
                    <div class="content-img sc-event sc-event-fade">
                        <div>
                            <!-- <img th:src="${viewHolder.getBrandstory_4Url()}" class="onP" th:alt="${viewHolder.brandstory_4.getAlt(langCode)}" />
                            <img th:src="${viewHolder.brandstory_4_m()}" class="onM" th:alt="${viewHolder.brandstory_2_1.getAlt(langCode)}" /> -->
                            <img src="/attachment/smallImage/98.jpg"
                                data-src="/attachment/image/98.jpg" class="onP lazy"/>
                            <img src="/attachment/smallImage/99.jpg"
                                data-src="/attachment/image/99.jpg" class="onM lazy"/>
                        </div>
                    </div>
                    <div class="content-text sc-event sc-event-fade">
                        <p>HTWO's hydrogen fuel cell system will power the future hydrogen society realizing a cleaner planet and a sustainable economy that benefits all: It is our solemn promise to future generations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap" id="brandStoryWave">
        <div class="container">
            <div class="content-title sc-event sc-event-fade">
                <h2>Hydrogen Wave</h2>
            </div>
        </div>
        <div class="banner banner-center sc-event sc-event-fade" id="brandStoryKeyvisual">
            <div class="banner-bg">
                <video
                    src="/attachment/video/15.mp4"
                    poster="/attachment/image/108.jpg"
                    autoplay loop muted playsinline
                    class="onP"></video>
                <video
                    src="/attachment/video/16.mp4"
                    poster="/attachment/video/16.jpg"
                    autoplay loop muted playsinline
                    class="onM"></video>
            </div>
            <div class="banner-content">
                <div class="banner-title txt-head">Hydrogen for<br />Everyone, <br class="onM" />Everything, <br class="onM" />Everywhere</div>
            </div>
        </div>
        <div class="container">
            <div class="content" id="wave1">
                <h3 class="content-label sc-event sc-event-fade">The new wave for <br />a hydrogen society</h3>
                <div class="content-inner">
                    <div class="content-text sc-event sc-event-fade">
                        <p>
                            Hyundai Motor Group's vision for a hydrogen society is that by 2040, hydrogen energy will go far beyond transportation and affect all aspects of human life and industry.<br />
                            The goal is to make hydrogen friendly and broadly usable "for everyone, everything and everywhere."<br />
                            HTWO: We're the driving force behind Hyundai Motor Group's vision for a future hydrogen society.<br /><br />
                            The hydrogen wave for earth and humanity has already begun.
                        </p>
                    </div>
                </div>
            </div>
            <!-- s:231026 delete --
            <div class="content" id="wave2">
                <h3 class="content-label sc-event sc-event-fade">
                    <span>Hydroville</span>
                    <a th:href="${vrHost} + '/HTWO_VR_en/index.html'" class="btn">Entering the VR Pavilion</a>
                </h3>
                <div class="content-inner sc-event sc-event-fade">
                    <div class="content-banner">
                        <a th:href="${vrHost} + '/HTWO_VR_en/index.html'" target="_blank" class="banner banner-center">
                            <div class="banner-bg">
                                <img th:src="${viewHolder.getVr_1Url()}" class="onP" th:alt="${viewHolder.vr_1.getAlt(langCode)}" />
                                <img th:src="${viewHolder.getVr_1_mUrl()}" class="onM" th:alt="${viewHolder.vr_1_m.getAlt(langCode)}" />
                            </div>
                            <div class="banner-content">
                                <div class="banner-title">Hydroville VR</div>
                                <div class="banner-desc">Take a VR tour of Hydroville.</div>
                            </div>
                        </a>
                    </div>
                    <div class="content-img content-divide onPF">
                        <div>
                            <img th:src="${viewHolder.getVr_2Url()}" th:alt="${viewHolder.vr_2.getAlt(langCode)}" />
                        </div>
                        <div>
                            <img th:src="${viewHolder.getVr_3Url()}" th:alt="${viewHolder.vr_3.getAlt(langCode)}" />
                        </div>
                    </div>
                    <div class="content-img onM">
                        <div>
                            <img th:src="${viewHolder.getVr_2_mUrl()}" th:alt="${viewHolder.vr_2_m.getAlt(langCode)}" />
                        </div>
                    </div>
                    <div class="content-img onM">
                        <div>
                            <img th:src="${viewHolder.getVr_3_mUrl()}" th:alt="${viewHolder.vr_3_m.getAlt(langCode)}" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- //e:231026 delete -->
        </div>
    </div>
</div>
  <div class="scroll-top">
    <button type="button">TOP</button>
  </div>
  <footer>
    <div class="container">
        <a href="/en/" class="logo">
            <img src="/img/HTWO_logo_w.svg" title="HTWO Home" alt="HTWO Home" />
        </a>
        <div class="footer-content">
            <div class="footer-link onM">
                <a href="/en/customer-service/sitemap">Site map</a>
                <a href="/en/customer-service/legal-notice">Legal notice</a>
                <a href="/en/customer-service/privacy-policy">Privacy policy</a>
                <a href="/en/customer-service/cookies-policy">Cookies policy</a>
                <a href="https://audit.hyundai.com/" target="_blank">Ethical Management Cyber Audit Office</a>
            </div>
            <div class="footer-link onP">
                <a href="/en/customer-service/sitemap">Site map</a>
                <a href="/en/customer-service/legal-notice">Legal notice</a>
                <a href="/en/customer-service/privacy-policy">Privacy policy</a>
                <a href="/en/customer-service/cookies-policy">Cookies policy</a>
                <a href="https://audit.hyundai.com/" target="_blank">Ethical Management Cyber Audit Office</a>
            </div>
            <div class="copyright onP">COPYRIGHT HYUNDAI MOTOR COMPANY. ALL RIGHTS RESERVED.</div>
        </div>
        <!-- 20220824 : 채널 연계 기능 추가 -->
        <div class="footer-etc">
            <div class="footer-channel">
                <th>
                    <a href="https://www.hyundai.com/worldwide/en/" class="channel-hyundai" target="_blank" title="Hyundai Worldwide">Hyundai Worldwide</a>
                    <a href="https://www.facebook.com/Hyundaiworldwide" class="channel-facebook" target="_blank" title="Hyundai Facebook">Hyundai Facebook</a>
                    <a href="https://www.instagram.com/hyundai/" class="channel-instagram" target="_blank" title="Hyundai Instagram">Hyundai Instagram</a>
                    <a href="https://www.youtube.com/user/hyundaiworldwide" class="channel-youtube" target="_blank" title="Hyundai Youtube">Hyundai Youtube</a>
                    <a href="https://twitter.com/hyundai_global" class="channel-twitterX" target="_blank" title="Hyundai Twitter">Hyundai X(twitter)</a><!--  230919 edit  -->
                </th>
            </div>
            <div class="footer-family">
                <div>
    <div class="dropdown" data-direction="top" data-footer>
        <button type="button">
            <span>Go to the Hyundai Motor Group website</span>
        </button>
        <ul>
            <li><a href="https://trucknbus.hyundai.com/hydrogen/en" target="_blank" title="Hyundai Fuel Cell Truck&amp;Bus">Hyundai Fuel Cell Truck&amp;Bus</a></li>
            <li><a href="https://www.hyundai.com/kr/en/main/" target="_blank" title="Hyundai Motor">Hyundai Motor</a></li>
            <li><a href="https://www.kia.com/" target="_blank" title="Kia">Kia</a></li>
            <li><a href="https://www.mobis.co.kr/" target="_blank" title="Hyundai Mobis">Hyundai Mobis</a></li>
            <li><a href="https://www.hyundai-steel.com/" target="_blank" title="Hyundai Steel">Hyundai Steel</a></li>
            <li><a href="https://www.hyundai-rotem.co.kr/" target="_blank" title="Hyundai Rotem">Hyundai Rotem</a></li>
            <li><a href="https://www.hyundai-wia.com/" target="_blank" title="Hyundai Wia">Hyundai Wia</a></li>
            <li><a href="https://www.hyundai-kefico.com/" target="_blank" title="Hyundai Kefico">Hyundai Kefico</a></li>
        </ul>
    </div>
</div>
                <div class="copyright onM">COPYRIGHT HYUNDAI MOTOR COMPANY. ALL RIGHTS RESERVED.</div>
            </div>
        </div>
    </div>
</footer>
  <div class="cookie" id="Cookie">
    <div class="container">
      <div class="cookie-wrap">
        <div class="cookie-title">About cookies used on this site.</div>
        <div class="cookie-text">
          Hyundai Motor Co. and our affiliates collect cookies to analyze usage patterns so as to
          improve our website and provide a personalized experience.<br/>
          By using our website and services, you are consenting to our cookie policy.
        </div>
        <button class="btn btn-invert" onclick="acceptCookieConsent()">Confirm</button>
      </div>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
      integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
          integrity="sha512-E9ezH29tutgGF9ZEFg43IK/1B0rRriQm5oHCG5HyrJHAInBnZPOgoRcnsinWZ+/QcVRiatdpXrdBZQhzpbz7Rw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js" integrity="sha512-A2+khatRDWHUE2VUtN4xUTkr1nc4YfDBw9Sg3ea6x0aRPfpcYieDZji4D2edDHy/yF5NsYzP7kL8sSM8s5EqCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/4.2.8/js/tooltipster.bundle.min.js"
      integrity="sha512-ZKNW/Nk1v5trnyKMNuZ6kjL5aCM0kUATbpnWJLPSHFk/5FxnvF9XmpmjGbag6BEgmXiz7rL6o6uJF6InthyTSg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"
          integrity="sha512-zP5W8791v1A6FToy+viyoyUUyjCzx+4K8XZCKzW28AnCoepPNIXecxh9mvGuy3Rt78OzEsU+VCvcObwAMvBAww=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
      integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/lib/intersection-observer.js"></script>
<script src="/js/app.js"></script>
<script src="/js/effect.js"></script>
<script src="/js/qrcode.min.js"></script>
<script src="/js/inside.js"></script>
<script>
  var ieVersion = (function () {
    var version = -1;
    if (
        navigator.appName == 'Microsoft Internet Explorer' &&
        navigator.userAgent.toLowerCase().indexOf('msie') != -1 &&
        new RegExp('MSIE ([0-9]{1,}[\./0-9]{0,})').exec(navigator.userAgent) != null
    ) {
      version = parseInt(RegExp.$1);
    }
    return version;
  })();
  if (ieVersion !== -1 && ieVersion < 11) {
    document.body.innerHTML = '<div class="compatibility">' +
        '<div class="container">' +
        '<div class="cp-header">' +
        '<img src="/img/HTWO_logo.svg" alt="HTWO"/>' +
        '</div>' +
        '<div class="cp-body">' +
        '<h1>브라우저를 업데이트해 주세요</h1>' +
        '<p>' +
        'HTWO 홈페이지는 MICROSOFT EDGE와 Google Chrome 브라우저에 최적화 되어있습니다.<br />' +
        '브라우저를 업데이트하시거나, <br class="onM" />다른 브라우저를 이용해주세요.' +
        '</p>' +
        '<div class="btn-group">' +
        '<a class="download-edge" href="https://www.microsoft.com/ko-kr/edge">MICROSOFT EDGE 다운로드</a>'
        +
        '<a class="download-chrome" href="https://www.google.com/intl/ko/chrome/">Google Chrome 다운로드</a>'
        +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>';
  }
  // Create cookie
  function setCookie(cname, cvalue, exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  // Delete cookie
  function deleteCookie(cname) {
    const d = new Date();
    d.setTime(d.getTime() + (24 * 60 * 60 * 1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=;" + expires + ";path=/";
  }
  // Read cookie
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
  // Set cookie consent
  function acceptCookieConsent() {
    deleteCookie('user_cookie_consent');
    setCookie('user_cookie_consent', 1, 30);
    document.getElementById("Cookie").style.display = "none";
  }
  let cookie_consent = getCookie("user_cookie_consent");
  if (cookie_consent !== "") {
    document.getElementById("Cookie").style.display = "none";
  } else {
    document.getElementById("Cookie").style.display = "block";
  }
  console.log('HTWO front version: 20220210')
</script>
  <div class="popup" id="qrPopup">
    <div class="popup-container">
      <div class="popup-body" id="qrBody">
      </div>
      <div class="popup-footer">
        <button type="button" class="btn close-popup" onclick="closePopup('qrPopup')">
          关闭
        </button>
      </div>
    </div>
  </div>
  <script>
    function fallbackCopyTextToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.value = text;
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.position = "fixed";
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        console.log('Fallback: Copying text command was ' + msg);
      } catch (err) {
        console.error('Fallback: Oops, unable to copy', err);
      }
      document.body.removeChild(textArea);1
    }
    function copyTextToClipboard() {
      const ogUrl = $('meta[property="og:url"]').attr('content');
      const urlCopy = "URL copied to clipboard."
      if (!navigator.clipboard) {
        fallbackCopyTextToClipboard(ogUrl);
        return;
      }
      navigator.clipboard.writeText(ogUrl).then(function () {
        $.alert({
          theme: 'confirm',
          content:
            `<div class="icon icon-url"></div><p>${urlCopy}</p>`,
          backgroundDismiss: true,
          draggable: false,
          animationSpeed: 200,
          animateFromElement: false,
          useBootstrap: false,
          buttons: {
            confirm: {
              text: '확인',
              btnClass: 'btn btn-confirm',
            },
          }
        });
      }, function (err) {
        console.error('Async: Could not copy text: ', err);
      });
    }
    function shareTwitter() {
      const ogDescription = encodeURIComponent($('meta[property="og:description"]').attr('content'));
      const ogUrl = encodeURIComponent($('meta[property="og:url"]').attr('content'));
      const url = `https://twitter.com/intent/tweet?url=${ogUrl}&text=${ogDescription}`
      window.open(url, '_blank');
    }
    function shareFacebook() {
      const ogUrl = encodeURIComponent($('meta[property="og:url"]').attr('content'));
      window.open(`https://www.facebook.com/sharer/sharer.php?u=${ogUrl}`,'facebook-share-dialog','width=626,height=436');
    }
  </script>
  <script>
    function shareLinkedin() {
      const ogUrl = encodeURI($('meta[property="og:url"]').attr('content'));
      const url = `https://www.linkedin.com/sharing/share-offsite/?url=${ogUrl}`
      window.open(url, '_blank');
    }
    function shareMail() {
      const ogUrl = $('meta[property="og:url"]').attr('content');
      const ogTitle = $('meta[property="og:title"]').attr('content');
      const ogDescription = $('meta[property="og:description"]').attr('content');
      const body = encodeURIComponent(`${ogTitle}\n${ogDescription}\n\n${ogUrl}`);
      const mail = (`mailto:?&subject=${ogTitle}&body=${body}`);
      console.log(mail)
      window.open(mail,'_blank');
    }
  </script>
  <script>
  /* s:230919 edit */
  $(function () {
    $('.share').tooltipster({
      position: 'bottom',
      trigger: 'click',
      interactive: true,
      minWidth: 130,
      offsetX: 20,
      content: $(
          `<div class="share-menu">
          <a href="#" class="sns-facebook" onclick="shareFacebook()"><span>Facebook</span></a>
          <a href="#" class="sns-twitterX" onclick="shareTwitter()"><span>X(Twitter)</span></a>
          <a href="#" class="sns-linkedin" onclick="shareLinkedin()"><span>LinkedIn</span></a>
          <a href="#" class="sns-mail" onclick="shareMail()"><span>Mail</span></a>
          <a href="#" class="sns-url" onclick="copyTextToClipboard()"><span>URL copy</span></a>
        </div>`
      )
    });
  })
  /* e:230919 edit */
  </script>
<script>
</script>
</body>
</html>