<div class="announce-container">
  <div class="announce-area">
    <div class="announce-middle">
      @@if(image) {
        <div class="deco-image-box">
          <img src="../../assets/images/@@image" class="deco-image" alt="" />
        </div>
      }

      @@if(title) {
        <div class="title-box">
          <h3 class="title">@@title</h3>
        </div>
      }

      @@if(message) {
        <div class="message-box">
          <p class="message"> 
            @@message
          </p>
        </div>
      }

      @@if(date) {
        <div class="date-box">
          <div class="text-box reason">
            <span>1. 점검안내 : @@date.reason</span>
          </div>
          <div class="text-box date">
            <span>2. 점검시간 : @@date.date</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>