<!-- Footer -->
<div class="footer-container">
  <div class="footer-area">
    <div class="footer-top">
      <div class="left-box">
        <div class="left-top-box">
          <ul class="footer-list-box">
            <li class="footer-list">
              <a href="https://www.lguplus.com/about/ko" target="_blank"><span>회사소개</span></a>
            </li>
            <li class="footer-list strong">
              <button type="button" class="btn-footer-popup">개인정보처리방침</button>
              <div class="footer-popup-container">
                @@include("../component/privacyPopup.html")
              </div>
            </li>
            <li class="footer-list">
              <button type="button" class="btn-footer-popup">이용약관</button>
              <div class="footer-popup-container">
                @@include("../component/termsPopup.html")
              </div>
            </li>
          </ul>
        </div>
        <div class="left-bottom-box">
          <div class="info">
            <span>㈜엘지유플러스 서울특별시 용산구 한강대로 32</span>
            <span>대표이사 황현식 사업자등록번호 220-81-39938</span>
            <span>통신판매신고 제 2015-서울용산-00481호</span>
            <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=2208139938" target="_blank">
              <span>사업자정보확인</span>
            </a>
          </div>
          <span>Copyright ⓒ LG Uplus Corp. All Rights Reserved.</span>
        </div>
      </div>
      <div class="right-box">
        <div class="icon-box"></div>
        <div class="info-box">
          <span class="title">365일&nbsp;<span class="strong">24시간</span>&nbsp;고객센터</span>
          <span class="contact">전화문의&nbsp;<span class="info">1660-0<span class="strong-365">365</span> (24시간, 유료)</span></span>
          <span class="contact">Email 문의&nbsp;<span class="info">voltup@lguplus.co.kr</span></span>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-list-box">
        <!-- <li class="footer-list">
          <a href="http://www.webwatch.or.kr/Situation/WA_Situation.html?MenuCD=110" target="_blank">
            <img src="../../assets/images/footer_01.png" alt="과학기술정보통신부 웹접근성 준수">
            <span>과학기술정보통신부 웹접근성 준수</span>
          </a>
        </li> -->
        <li class="footer-list">
          <a href="https://ethics.lg.co.kr/realName/insertDetailForm.do" target="_blank">
            <img src="../../assets/images/footer_02.png" alt="정도경영 사이버신문고">
            <span>정도경영 사이버신문고</span>
          </a>
        </li>
        <li class="footer-list">
          <a href="http://www.wiseuser.go.kr/" target="_blank">
            <img src="../../assets/images/footer_03.png" alt="방송통신 이용자 정보포털">
            <span>방송통신 이용자 정보포털</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
@@include("../component/inquiryPopup.html")