<div class="popup-container product-popup">
  <div class="dim"></div>
  <div class="popup-area">
    <div class="popup-box">
      <div class="popup-top">
        <div class="title-box">
          <span>충전기 소개</span>
        </div>
        <button type="button" class="btn-icon-close"></button>
      </div>
      <div class="popup-bottom">
        <!-- ls -->
        <div class="popup-content-container @@if(popup==='ls') {show-popup}">
          <div class="product-info-container">
            <div class="logo-box">
              <img src="../../assets/images/ls_logo.svg" alt="" />
            </div>
            <div class="info-box">
              <span>강화 유리를 적용한 수려한 외관</span>
              <span>직관적이고 편리한 사용성</span>
              <span>내부 부속 전력기기 모두 LS ELECTRIC 제품적용</span>
            </div>
          </div>
          <div class="popup-block-container">
            <div class="popup-content-block">
              <div class="popup-left-container">
                <div class="img-box">
                  <img src="../../assets/images/img_popup_ls_1.png" alt="">
                </div>
              </div>
              <div class="popup-right-container">
                <div class="info-area">
                  <div class="item-box">
                    <span class="category">입력</span>
                    <span class="info">220V, 60Hz</span>
                  </div>
                  <div class="item-box">
                    <span class="category">출력</span>
                    <span class="info">Max, 220V/32A (7kW)</span>
                  </div>
                  <div class="item-box">
                    <span class="category">설치 구분</span>
                    <span class="info">벽부형 / 스탠드형</span>
                  </div>
                  <div class="item-box">
                    <span class="category">보호 등급</span>
                    <span class="info">IP44</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="popup-content-block">
              <div class="popup-left-container">
                <div class="img-box">
                  <img src="../../assets/images/img_popup_ls_2.png" alt="">
                </div>
              </div>
              <div class="popup-right-container">
                <div class="info-area">
                  <div class="item-box">
                    <span class="category">입력</span>
                    <span class="info">380V, 60Hz</span>
                  </div>
                  <div class="item-box">
                    <span class="category">출력</span>
                    <span class="info">200~600/120~200A (50~100kW)</span>
                  </div>
                  <div class="item-box">
                    <span class="category">설치 구분</span>
                    <span class="info">스탠드형</span>
                  </div>
                  <div class="item-box">
                    <span class="category">보호 등급</span>
                    <span class="info">IP44</span>
                  </div>
                </div>
                <div class="notice-box">
                  <span>* 충전기의 외관은 적용 사양과 기타 사유로 달라질 수 있습니다.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- evar -->
        <div class="popup-content-container @@if(popup==='evar') {show-popup}">
          <div class="product-info-container">
            <div class="logo-box">
              <img src="../../assets/images/img_logo_popup_evar.svg" alt="" />
            </div>
            <div class="info-box">
              <span>심플하고 쉬운 사용 인터페이스</span>
              <span>사용량 확인이 가능한 전면 Hidden Display</span>
              <span>친숙하고 부드러운 유선형 디자인</span>
            </div>
          </div>
          <div class="popup-block-container">
            <div class="popup-content-block">
              <div class="popup-left-container">
                <div class="img-box">
                  <img src="../../assets/images/img_popup_evar.png" alt="">
                </div>
              </div>
              <div class="popup-right-container">
                <div class="info-area">
                  <div class="item-box">
                    <span class="category">입력</span>
                    <span class="info">220V, 60Hz</span>
                  </div>
                  <div class="item-box">
                    <span class="category">출력</span>
                    <span class="info">Max, 220V/32A (7kW)</span>
                  </div>
                  <div class="item-box">
                    <span class="category">설치 구분</span>
                    <span class="info">벽부형</span>
                  </div>
                  <div class="item-box">
                    <span class="category">보호 등급</span>
                    <span class="info">IP44</span>
                  </div>
                </div>
                <div class="notice-box">
                  <span>* 충전기의 외관은 적용 사양과 기타 사유로 달라질 수 있습니다.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- lg -->
        <div class="popup-content-container @@if(popup==='lg') {show-popup}">
          <div class="product-info-container">
            <div class="logo-box">
              <img src="../../assets/images/img_logo_popup_lg.svg" alt="" />
            </div>
            <div class="info-box">
              <span>LG 전자 충전기 설명</span>
              <span>LG 전자 충전기 설명</span>
              <span>LG 전자 충전기 설명</span>
            </div>
          </div>
          <!-- <div class="popup-block-container">
            <div class="popup-content-block">
              <div class="popup-left-container">
                <div class="img-box">
                  <img src="../../assets/images/img_popup_evar.png" alt="">
                </div>
              </div>
              <div class="popup-right-container">
                <div class="info-area">
                  <div class="item-box">
                    <span class="category">입력</span>
                    <span class="info">220V, 60Hz</span>
                  </div>
                  <div class="item-box">
                    <span class="category">출력</span>
                    <span class="info">Max, 220V/32A (7kW)</span>
                  </div>
                  <div class="item-box">
                    <span class="category">설치 구분</span>
                    <span class="info">벽부형</span>
                  </div>
                  <div class="item-box">
                    <span class="category">보호 등급</span>
                    <span class="info">IP44</span>
                  </div>
                </div>
                <div class="notice-box">
                  <span>* 충전기의 외관은 적용 사양과 기타 사유로 달라질 수 있습니다.</span>
                </div>
              </div>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>