//common button
.btn-solid {
  &-gray,
  &-dark,
  &-white,
  &-primary,
  &-lightgray {
    @include flex(row, center, center);
    position: relative;
    height: 78px;
    padding: 0 30px;
    border-radius: 12px;
    letter-spacing: -0.75px;
    &::before {
      content: '';
      position: absolute;
      display: none;
      z-index: 1;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: 12px;
    }
    &.btn-small {
      height: 60px;
      padding: 0 12px;
      border-radius: 6px;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 0;
    }
    .icon-arrow-down,
    .icon-arrow-up {
      margin-left: 12px;
    }
  }
  &-gray,
  &-dark {
    @include font(30px, 600, $color-white);
    &.focused, &.hover {
      background-color: $focused;
      @extend .onlyShadow;
    }
    &.selected {
      background-color: $selected;
      &.focused, &.hover {
        background-color: $selected-foc;
      }
    }
    &.disabled {
      opacity: 0.3;
    }
    .icon-arrow-down {
      background: asset-image('ic_arrow_down.png') no-repeat center/42px;
    }
  }
  &-gray {
    background-color: $color-gray-7a808d;
  }
  &-dark {
    background-color: $color-gray-808080;
  }
  &-lightgray {
    background-color: $color-white;
  }
  &-white {
    background-image: linear-gradient(to top, #f5f5f5, #fff);
  }
  &-white,
  &-lightgray {
    border: 1px solid $color-gray-dadada;
    @include font(30px, 600, $color-gray-808080);
    &.focused, &.hover {
      // border-color: transparent;
      background-image: none;
      background-color: $color-white;
      color: $focused;
      @extend .onlyShadow;
      &::before {
        display: block;
        border: 3px solid $focused;
      }
      .icon-arrow-down {
        background: asset-image('btn_dropdown_foc.png') no-repeat center/42px;
      }
    }
    &.selected {
      opacity: 0.5;
      background-color: $color-white;
    }
    .icon-arrow-down {
      background: asset-image('btn_dropdown_nor.png') no-repeat center/42px;
    }
  }
  // &-lightgray {
  //   background-color: $color-gray-fcfcfc;
  // }
  &-primary {
    background-color: $color-c70850;
    @include font(30px, bold, $color-white);
    &.disabled {
      opacity: 0.3;
    }
    .icon-arrow-down {
      background: asset-image('ic_arrow_down.png') no-repeat center/42px;
    }
  }
}

// you may like button
.btn-icon-heart {
  overflow: hidden;
  display: block;
  width: 78px;
  height: 78px;
  padding: 0;
  background: asset-image('ic_heart_nor.png') no-repeat center/54px $color-gray-7a808d;
  border-radius: 12px;
  &.selected {
    background-image: asset-image('ic_heart_sel.png');
    &.focused, &.hover {
      background-color: $focused;
      @extend .onlyShadow;
    }
  }
  &.focused, &.hover {
    background-color: $focused;
    @extend .onlyShadow;
  }
}

// submit buttons
.button-box {
  @include flex(row, center, center);
  margin: 0 -6px;
  &.flex-column {
    @include flex(column, center, center);
    margin: -6px 0;
    button {
      flex: none;
      width: 100%;
      margin: 6px 0;
    }
  }
  &.child-flex-none {
    button {
      flex: none;
      min-width: 240px;
    }
  }
  button {
    flex: 1;
    margin: 0 6px;
    text-transform: uppercase;
  }
  .btn-icon-heart {
    flex: initial;
    width: 78px;
  }
}

// my orders
.btn-order-submit {
  @include flex(row, center, center);
  position: relative;
  width: 360px;
  height: 60px;
  margin: 3px 0;
  padding: 0 12px;
  border: 1px solid $color-gray-dadada;
  background-image: linear-gradient(to top, #f5f5f5, #fff);
  @include font(24px, normal, $color-gray-808080);
  text-transform: uppercase;
  border-radius: 6px;
  &.focused, &.hover {
    border: none;
    background-image: none;
    background-color: $focused;
    color: $color-white;
    font-weight: bold;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  }
}

// back 
.btn-detail-back {
  overflow: hidden;
  flex-shrink: 0;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 14px;
  background: asset-image('btn_60_bk_back_nor.png') no-repeat center;
  border-radius: 12px;
  &.focused, &.hover {
    background: asset-image('btn_60_wh_back_foc.png') no-repeat center;
    @extend .onlyShadow;
  }
  &:disabled, &.disabled {
    opacity: 1;
    background: asset-image('btn_60_bk_back_dim.png') no-repeat center;
  }
}
