// order detail container
.order-detail-container {
  width: 780px;
  .order-detail-body {
    overflow-y: auto;
    height: 550px;
    border: 1px solid $color-gray-dadada;
    // @include scrollbarUi(8px, 0);
  }

  &.has-footer {
    //footer가 있는 경우
    .order-detail-body {
      max-height: 456px;
    }
  }
  .order-detail-footer {
    //footer
    height: 96px;
    background-color: $color-2c343f;
    .detail-record-box {
      padding: 0 30px;
      height: 100%;
      align-items: center;
    }
    .record-box-title {
      margin-bottom: 0;
      @include font(30px, bold, $color-white, 30px);
    }
    .record-box-content {
      @include font(42px, bold, $color-white, 30px);
    }
  }
}

// order detail
.order-detail-area {
  border-bottom: 1px solid $color-gray-dadada;
  &:last-child {
    border-bottom: none;
  }
  .order-detail-top {
    @include flex(row, flex-start, center);
    height: 78px;
    padding: 10px 53px 10px 33px;
    background-color: $color-white;
    @include font(24px, bold, $color-gray-333333, 30px);
    .icon-partners {
      margin-right: 12px;
    }
    .product-name {
      @include ellipsis;
    }
    .sub-text {
      margin-left: 11px;
      @include font(24px, normal, $color-gray-222222);
    }
  }
  .order-detail-middle {
    padding: 30px 60px 30px 30px;
    background-color: $color-gray-f2f2f2;
  }
}

// order detail item
.detail-record-box {
  margin-top: 18px;
  &:first-child {
    margin-top: 0;
  }
  &.flex-row {
    @include flex(row, flex-start, flex-start);
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
    .record-box-title {
      margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
    }
    .record-box-content {
      margin-left: auto;
    }
  }
  .record-box-title {
    margin-bottom: 12px;
    @include font(24px, bold, $color-gray-333333, 1.3);
  }
  .record-box-content {
    @include font(24px, normal, $color-gray-808080, 1.2);
  }
  .record-time {
    display: inline-block;
    margin-right: 21px;
  }
}

// order detail steps
.order-steps-box {
  position: relative;
  padding-left: 66px;
  .step {
    position: relative;
    padding-bottom: 24px;
    @include font(24px, normal, $color-gray-808080, 30px);
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      //진행 선
      left: -43px;
      width: 3px;
    }
    &:after {
      //상태 표시 이미지
      z-index: 3;
      top: 0;
      left: -66px;
      width: 48px;
      height: 48px;
      border-radius: 48px;
      background: asset-image("ic_track_scheduled.png") no-repeat center $color-gray-f2f2f2;
    }
    &:not([class*="state-"]) {
      //예정
      &:before {
        z-index: 2;
        bottom: 100%;
        height: 100%;
        background-color: $color-gray-808080;
      }
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
    &[class*="state-"] {
      //완료, 진행중
      &:before {
        top: 0;
        z-index: 1;
        height: 100%;
      }
    }
    &.state-complete {
      //완료
      &:before {
        background-color: $color-ce1c5e;
      }
      &:after {
        background-image: asset-image("ic_track_completed.png");
      }
    }
    &.state-ongoing {
      //진행중
      &:before {
        background-color: $color-ce1c5e;
      }
      &:after {
        background-image: asset-image("ic_track_ongoing.png");
      }
    }
    .step-state {
      //상태 제목
      @include font(30px, bold, $color-gray-333333, 30px);
    }
  }
}
