//tab
// tab buttons
.tab-container {
  max-width: 1680px;
}
.tab-button-area {
  @include flex(row, flex-start, flex-start);
  border-bottom: 1px solid $color-c70850;
  .tab-button-left {
    @include flex(row, flex-start, flex-start);
  }
  .tab-button-right {
    margin-left: auto;
  }
  .btn-tab {
    flex-shrink: 0;
    @include flex(row, center, center);
    min-width: 348px;
    height: 66px;
    padding: 0 35px;
    background-color: $color-gray-808080;
    @include font(24px, bold, $color-white);
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
    &.selected, &.focused, &.hover {
      color: $color-white;
    }
    &.focused, &.hover {
      background-color: $focused;
      border-color: $focused;
      z-index: 3;
      @extend .onlyShadow;
    }
    &.selected {
      background-color: $selected;
      border-color: $selected;
      &.focused, &.hover {
        background-color: $selected-foc;
        border-color: $selected-foc;
        @extend .onlyShadow;
      }
    }
  }
}
.tab-content-container {
  overflow: hidden;
  // overflow-y: auto;
  height: 822px;
  // padding: 60px 0;
  border-right: 1px solid $color-gray-dadada;
  border-left: 1px solid $color-gray-dadada;
  border-bottom: 1px solid $color-gray-dadada;
  // @include scrollbarUi(8px, 0);
  @include noScroll;
}

.my-page-content-container,
.my-terms-content-container,
.category-content-container {
  .tab-content-area {
    padding-top: 60px;
    .section-area {
      padding-top: 0;
    }
  }
  .btn-tab {
    min-width: 330px;
    border: 1px solid $color-gray-dadada;
    background-color: $color-white;
    color: $color-gray-808080;
    &:nth-child(n + 1) {
      margin-right: -1px;
    }
  }
}
