// .order-list-container {}
.product-item-area {
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 12px;
  &:last-child {
    margin-bottom: 0;
  }

  .product-box-container {
    border-radius: 12px;
    border: solid 1px $color-gray-dadada;
    background-color: $color-white;
    margin-bottom: 20px;

    .product-item-middle {
      border-radius: 0 0 12px 12px;
    }
  }

  //item-header
  .product-item-top {
    @include flex(row, space-between, center);
    height: 78px;
    padding: 0 30px;
    background: $color-white;
    border-radius: 12px 12px 0 0;
    border-bottom: solid 1px $color-gray-dadada;
    @include font(24px, normal, $color-gray-555555);
  }
  .item-brand-box {
    @include flex(row, flex-start, center);
    .product-name {
      margin-bottom: 0;
    }
  }
  .item-name,
  .total-title {
    @include font(30px, bold, $color-gray-222222);
  }
  .item-counter {
    text-transform: uppercase;
  }
  .item-counter,
  .total-price {
    @include font(30px, bold, $color-c70850);
  }
  .item-id {
    @include font(24px, normal, $color-gray-808080);
  }
  .icon-partners {
    margin-right: 7px;
  }

  //item-body
  .product-item-middle {
    @include flex(row, flex-start, stretch);
    background-color: $color-white;
    border-radius: 0 0 12px 12px;
    &:only-child {
      border-bottom: none;
    }
  }
  .item-preview-box {
    flex: 1;
    padding: 30px 30px 36px;
  }
  .item-control-box {
    flex-shrink: 0;
    @include flex(column, center, center);
    margin-left: auto;
    border-left: solid 1px $color-gray-dadada;
    .btn-delete {
      @include flex(row, center, center);
      width: 260px;
      height: 100%;
      &.focused,
      &.hover {
        .icon-trash {
          background: asset-image("btn_60_delete_foc.png") no-repeat center;
        }
      }
      &.disabled,
      &:disabled {
        opacity: 1;
        .icon-trash {
          background: asset-image("btn_60_delete_dim.png") no-repeat center;
        }
      }
    }
  }

  // 상품 안내 문구
  .notice-box-product {
    margin-top: 12px;
  }
  // preview header
  .preview-item-header {
    margin-bottom: 12px;
  }

  // preview body
  .preview-item-body {
    @include flex(row, flex-start, flex-start);
    .thumb-box {
      position: relative;
      width: 180px;
      height: 180px;
      margin-right: 24px;
    }
    [class*="notice-label-"] {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    [class*="btn-solid"] {
      &:only-child {
        span:not(.icon-arrow-down) {
          width: 426px;
        }
      }
    }
    .row-input-box {
      margin-top: 30px;
      width: 400px;
      .counter-btn-box {
        width: 100%;
      }
    }
  }
  .desc-box {
    width: 600px;
    .item-brand-box {
      margin-bottom: 12px;
    }
    > .product-name {
      margin-bottom: 14px;
      display: block;
      overflow: visible;
      text-overflow: initial;

      & + .product-desc {
        margin-top: 0;
      }
    }
    .product-desc {
      @include flex(row, flex-start, center);
      margin-top: 20px;
    }
    .discount {
      margin-right: 7px;
    }
  }
  .button-box {
    margin-top: 30px;
  }

  // preview footer
  .preview-item-footer {
    margin-top: 18px;
    .button-box {
      margin-top: 0;
    }
  }
}

// notice label
.notice-label-green,
.notice-label-gray {
  padding: 12px 18px;
  @include font(18px, bold, $color-gray-333333, 1);
}
.notice-label-green {
  background-color: $color-d7f2e0;
  color: $color-08c749;
}
.notice-label-gray {
  padding: 12px 18px;
  background-color: $color-gray-e5e5e5;
}

// popup inner title & content section > order-list
.inner-section-container {
  padding: 30px 0;
  border-bottom: 1px solid rgba($color-gray-d9d9d9, 0.1);
  &:last-child {
    border-bottom: none;
  }
  &.flex-row {
    @include flex(row, center, center);
    .inner-section-header {
      margin-right: auto;
      margin-bottom: 0;
    }
  }
  .inner-section-header {
    @include flex(row, flex-start, center);
    @include font(30px, bold, $color-white, 36px);
    margin-bottom: 12px;
  }
  .inner-content-body {
    overflow: hidden;
  }
  [class*="btn-solid"] {
    font-size: 24px;
    text-transform: capitalize;
    &:only-child {
      span:not(.icon-arrow-down) {
        width: 546px;
      }
    }
  }

  // form
  .checkbox {
    @include flex(row, flex-start, center);
    @include font(24px, normal, $color-gray-cccccc, 18px);
    label {
      font-weight: normal;
      &:first-child {
        margin-right: 10px;
        & + input[type="checkbox"] {
          & + .check-icon {
            &:before {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .product-item-area {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
    .desc-box {
      width: auto;
      .product-desc {
        font-size: 24px;
      }
    }
    .icon-partners {
      margin-right: 15px;
    }
    .thumb-box {
      width: 200px;
      height: 200px;
    }
  }
  .preview-item-footer {
    [class*="btn-solid"] {
      &:only-child {
        span:not(.icon-arrow-down) {
          width: 486px;
        }
      }
    }
  }
}

// coupon empty
.coupon-empty-box {
  @include flex(column, center, center);
  padding: 42px 24px 54px;
  background-color: rgba($color-black, 0.2);
  @include font(24px, normal, $color-gray-8290a0, 1.4);
  &:before {
    content: "";
    display: block;
    width: 360px;
    height: 180px;
    background: asset-image("img_checkout_coupon.png") no-repeat center;
  }
}

// checkout
.checkout-item-area {
  overflow: hidden;
  margin: 0 -60px;
  padding: 18px 0 68px;
  .btn-solid-dark {
    &.btn-small {
      flex: none;
      padding: 0 18px;
      font-weight: bold;
      letter-spacing: -0.35px;
    }
  }
}
.checkout-item {
  margin-bottom: 60px;
  border-top: 1px solid $color-gray-dadada;
  border-bottom: 1px solid $color-gray-dadada;
  .adress-header,
  .payment-name {
    @include flex(row, space-between, center);
  }
  input[type="checkbox"] {
    + .check-icon {
      &:before {
        margin-right: 0;
      }
    }
  }
}
.checkout-item-header {
  @include flex(row, flex-start, center);
  height: 96px;
  padding: 0 60px;
  background-color: $color-white;
}
.checkout-item-body {
  background-color: $color-gray-f2f2f2;
  .my-page-item-box {
    padding: 18px 60px;
  }
}
.checkout-title {
  @include font(30px, bold, $color-gray-333333);
}
.checkout-right {
  margin-left: auto;
  .btn-move-detail {
    @include flex(row, flex-start, center);
    margin: 0;
    @include font(30px, bold, $color-c70850);
    text-transform: capitalize;
    .icon-arrow-right {
      flex-shrink: 0;
      margin-left: 12px;
    }
    &.focused,
    &.hover {
      .icon-arrow-right {
        background: asset-image("btn_bk_arrow_right_foc.png") no-repeat center/48px;
      }
    }
    &.disabled,
    &:disabled {
      opacity: 1;
      .icon-arrow-right {
        background: asset-image("btn_bk_arrow_right_dim.png") no-repeat center/48px;
      }
    }
  }
}

.order-info-box {
  .info-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 15px 60px;
    background-color: #2c343f;
    border-radius: 12px 12px 0 0;
    .header-title {
      color: $color-white;
      border-radius: 12px;
      font-size: 30px;
      font-weight: bold;
    }
    .order-number {
      color: $color-white;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.33;
    }
    button {
      height: 60px;
      text-transform: uppercase;
      font-size: 24px;
    }
  }
  .info-body-wrap {
    padding: 40px 64px;
    background: #e7e7e7;

    &.order-summary {
      display: flex;
      align-items: flex-end;
      .info-list-box {
        flex-shrink: 0;
        width: 400px;
      }
    }
  }
  .info-footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 60px;
    background: #d6d6d6;

    .footer-label {
      color: #222;
      font-weight: bold;
      font-size: 30px;
    }
    .footer-value {
      color: #c70850;
      font-size: 40px;
      font-weight: bold;
    }
  }
  .info-list {
    &:first-child {
      padding: 0 0 20px;
      border-bottom: 1px solid $color-gray-dadada;
    }
    &:last-child {
      padding: 20px 0 0;
    }

    .info-label {
      margin-bottom: 12px;
      color: #222;
      font-weight: bold;
      font-size: 24px;
    }
    .info-value {
      color: #808080;
      font-size: 24px;
    }
  }
  .order-summary-box {
    display: flex;
    height: 173px;
    margin-left: 30px;
    border-radius: 6px;
    border: solid 1px $color-gray-dadada;
    background-color: $color-white;
    .summary-item {
      width: 188px;
      border-right: 1px solid $color-gray-dadada;

      &:last-child {
        border-right: 0;
      }
      .item {
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-break: break-all;
      }
      .label {
        border-bottom: 1px solid $color-gray-dadada;
        color: #222;
        font-size: 24px;
        font-weight: bold;
      }
      .value {
        overflow: hidden;
        @include font(30px, normal, $color-gray-808080, 1.33);
      }
    }
  }
}
// my orders
.order-product-item-box {
  // overflow-y: auto;
  // min-height: 822px;
  // max-height: 1860px;
  // margin: -60px 0;
  padding: 60px 60px 42px;
  background-color: #f2f2f2;
  // product-item-top
  .product-item-top {
    height: 100px;
    padding: 20px 60px;
    .button-box {
      margin-top: 0;
    }
  }

  // product-item-middle
  .item-info-box {
    flex: 1;
    max-width: 1040px;
    padding: 40px 60px;
  }
  .info-item-header {
    margin-bottom: 12px;
    .product-name {
      @include ellipsis;
      @include font(24px, bold, $color-gray-333333, 1.33);
    }
  }
  .item-brand-box {
    .icon-partners {
      margin-right: 12px;
    }
    .partners-title {
      @include font(24px, normal, $color-gray-555555);
    }
  }
  .info-item-body {
    @include flex(row, flex-start, stretch);
    .thumb-box {
      width: 198px;
      height: 198px;
      margin-right: 18px;
    }
  }
  .desc-box {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    .product-desc {
      margin-top: auto;
      font-size: 24px;
    }
  }
  .product-text {
    @include flex(column, flex-start, flex-start);
    > span {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .item-control-box {
    padding: 0 60px;
  }
  .product-status {
    @include flex(row, flex-start, center);
    height: 66px;
  }
}
.product-item-sorting-box {
  width: 480px;
  margin-bottom: 18px;
  .btn-solid-white {
    justify-content: space-between;
    height: 90px;
    font-size: 24px;
    text-transform: capitalize;
  }
}
// 상품 상태 클래스 목록
.status {
  // 배송/반품/교환 준비중
  &-prepare {
    .status-label {
      color: #08c749;
      border-color: #08c749;
      background-color: rgba(#08c749, 0.05);
    }
  }
  // 배송/반품/교환 진행중
  &-ing {
    .status-label {
      color: #0877c7;
      border-color: #0877c7;
      background-color: rgba(#0877c7, 0.05);
    }
  }
  // 배송/반품/교환 완료
  &-completed {
    .status-label {
      color: #141414;
      border-color: #141414;
      background-color: rgba(#141414, 0.05);
    }
  }
  // 취소/취소처리중/취소완료
  &-cancelled {
    .status-label {
      color: #c70850;
      border-color: #c70850;
      background-color: rgba(#c70850, 0.05);
    }
  }
}
.status-label {
  @include flex(row, center, center);
  height: 42px;
  padding: 0 15px;
  margin-right: 18px;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  @include font(20px, bold, $color-gray-222222, 1);
  text-transform: uppercase;
}
