/* --- detail container --- */
.detail-wrapper {
  left: -120px;
  width: 1920px;
  padding-bottom: 0;
  .fixed-container {
    left: 0;
    width: 1920px;
  }

  // Detail - 구매불가 공통 //
  &.detail-unavailable {
    .detail-area-content {
      padding-bottom: 204px;
    }
    .content-area-body {
      max-height: initial;
    }
    .content-area-footer {
      height: auto;
    }
    .product-container {
      max-height: 400px;
    }
    .fixed-container {
      bottom: -420px;
    }
  }
  // product container column center 정렬 : scroll ui가 있을 경우 start 정렬
  .detail-area-content:not(.detail-hotel) {
    .product-container {
      // @include flex(column, center, flex-start);
      &.scroll-ui-container {
        justify-content: flex-start;
      }
    }
  }
}
.detail-container {
  @include flex(row, flex-start, stretch);
}
.detail-area-preview {
  width: 894px;
  height: 990px;
  padding: 30px 60px 0 120px;
  background-color: $color-white;
}
.detail-area-content {
  @include flex(column, flex-start, flex-start);
  width: 1026px;
  height: 990px;
  padding: 30px 120px 120px 60px;
  background-color: $color-gray-f8f8f8;
  & > div {
    width: 100%;
  }
  .star-box {
    @include flex(row, flex-start, center);
  }
  .start-rating-text {
    @include font(30px, bold, $color-c70850, 1.2);
    &:before {
      content: "";
      display: inline-block;
      width: 1px;
      height: 24px;
      margin: 0 9px 0 6px;
      background-color: $color-gray-808080;
      vertical-align: middle;
    }
  }
  // header
  .content-area-header {
    flex-shrink: 0;
    // height: 202px;
  }
  .content-area-body {
    @include flex(column, flex-start, flex-start);
    flex: 1;
    width: 100%;
    max-height: calc(100% - 428px);
    margin-top: 20px;
    &:last-child {
      max-height: calc(100% - 202px);
    }
    .product-list-area {
      .section-list-box {
        .list-area {
          height: auto;
          .product-name {
            overflow: visible;
            text-overflow: initial;
            display: block;
            max-height: none;
          }
        }
        .list-flex-row {
          .desc-box {
            width: 100%;
          }
        }
      }
    }
  }
  .content-area-footer {
    flex-shrink: 0;
    // height: 206px;
  }
}
/* preivew area */
.detail-title-container {
  @include flex(row, flex-start, center);
  height: 90px;
  padding: 0 0 0 60px;
  background-color: $color-gray-f2f2f2;
  .detail-title {
    flex: 1;
    overflow: hidden;
    @include font(30px, bold, $color-gray-333333, 1.2);
    white-space: nowrap;
    text-overflow: ellipsis;
    .title-wrap-text {
      display: inline-block;
    }
    .long-word {
      display: inline-block;
      text-overflow: unset;
      animation: textLoop 15s linear infinite forwards;
    }
  }
}
/* 20231027 영상 Disclaimer 위치 상단 공통 */
.preview-area-body {
  .notice-box-video {
    position: absolute;
    top: 18px;
    left: 18px;
    z-index: 4;
    width: 524px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    line-height: 1.56;
    // &.notice-only {
    //   top: auto;
    //   bottom: 18px;
    // }
  }
}
.preview-area-footer {
  margin-top: 10px;
  .call-order-area {
    max-width: 560px;
    margin-bottom: 10px;
  }
}
/* content area */
.content-area-body {
  position: relative;
  .product-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    // overflow-y: auto;
    margin-bottom: 30px;
    background-color: $color-gray-f2f2f2;
    border-top: 1px solid $color-gray-dadada;
    border-bottom: 1px solid $color-gray-dadada;
    // @include scrollbarUi(8px, 0);
    @include noScroll;
    &:last-child {
      margin-bottom: 0;
    }
    &.visible {
      overflow: visible;
    }
    .scroll-box-area {
      width: 100%;
      .option-container {
        width: 100%;
      }
    }
    .option-container {
      padding: 30px;
      .option-row-area {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    // &.height-list {
    //   max-height: 620px;
    // }
    // &.height-option {
    //   max-height: 214px;
    // }
  }
  .condition-option-box {
    width: 100%;
    padding: 30px 38px;
  }
  .total-price-area {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .product-list-area {
    padding: 30px;
  }
  .product-text {
    display: block;
    margin-bottom: 13px;
    @include font(24px, normal, $color-gray-808080);
  }
  .section-list-box {
    overflow: initial;
    @include flex(column, flex-start, flex-start);
    margin: 0;
    padding: 0;
  }
  .section-list {
    width: 100%;
    margin: 12px 0 0;
    &:first-child {
      margin-top: 0;
    }
  }
  .list-area {
    max-width: 786px;
    height: 162px;
    padding: 30px;
  }
  .list-flex-row {
    .thumb-box {
      width: 186px;
      height: 186px;
    }
    .desc-box {
      margin-left: 0;
    }
  }
}
.content-area-footer {
  @include flex(column, flex-end, flex-start);
  margin-top: auto;
  .total-price-area {
    width: 100%;
  }
  .button-box {
    width: 100%;
  }
}
/* detail - hotel */
.detail-hotel {
  .content-area-header {
    height: 146px;
  }
  .content-area-body {
    max-height: 344px;

    .condition-option-box {
      padding: 16px 0px;
      margin: 0;
      justify-content: center;
    }
  }
  .content-area-footer {
    height: auto;
  }
  .product-container {
    // height: 354px;
  }
  .total-price-area {
    margin-bottom: 98px;
    .total-price-middle {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .cost-text-box {
    margin-top: 20px;
  }
  .star-box {
    margin-left: auto;
  }
  .qrcode-tooltip-area {
    bottom: -84px;
    .qrcode-tooltip-body {
      width: 340px;
      height: auto;
    }
  }
}

// preview slide
.preview-slide-wrapper {
  @include flex(row, space-between, center);
  .preview-slide-container {
    // position: relative;
    flex-shrink: 0;
    overflow: hidden;
    width: 562px;
    height: 562px;
    margin-right: 12px;
    border: solid 1px $color-gray-dadada;

    .call-order-wrap {
      position: absolute;
      bottom: 165px;
      left: 25px;
      z-index: 3;
    }
    .call-order-area {
      @include flex(column, center, flex-start);
      width: 120px;
      height: 58px;
      padding: 0 6px;
      border: 2px solid rgba($color-white, 0.7);
      background-color: $color-gray-1e1e1e;
      box-shadow:
        inset 0px -5px 5px 0px rgba(0, 0, 0, 0.7),
        inset 0 3px 5px 0px rgba($color-white, 0.7),
        5px 8.7px 15px 0 rgba(6, 0, 1, 0.5);
      border-radius: 10px;

      .call-label {
        width: auto;
        height: 18px;
        margin-right: auto;
        padding: 3px;
        background-color: $color-gray-606060;
        @include font(12px, bold, $color-white, 1.1);
        border-radius: 4px;
        text-align: center;
      }

      .call-to-order {
        width: 126px;
        height: 42px;
        margin-bottom: 12px;
        background: asset-image("tag_calltoorder.png") no-repeat center/cover;
      }

      .call-number {
        @include flex(row, flex-start, center);
        margin-top: 4px;
        @include font(14px, 600, $color-white);
        letter-spacing: -0.9px;

        &::before {
          content: "";
          flex-shrink: 0;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 2px;
          background: asset-image("ic_wh_call.png") no-repeat center/16px;
        }
      }
    }
  }
  .preview-slide-inner {
    @include flex(row, flex-start, center);
    position: relative;
  }
  .slide-item {
    overflow: hidden;
    @include flex(row, center, center);
    flex-shrink: 0;
    position: relative;
    width: 560px;
    height: 560px;
    background-color: $color-white;
    img {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba(255, 255, 255, 0.17), transparent 30%);
      pointer-events: none;
    }
    &.focused,
    &.hover {
      &:after {
        @extend .afterBorderShadow;
      }
      .btn-vod-play {
        background: asset-image("btn_play_thumb_foc.png") no-repeat center/120px;
      }
    }
    &.disabled {
      opacity: 1;
      .btn-vod-play {
        background: asset-image("btn_play_thumb_dim.png") no-repeat center/120px;
      }
    }
    & > img {
      min-height: 100%;
    }
    .video-container {
      width: 100%;
      height: 100%;
    }
  }
  .preview-slide-controller {
    width: 144px;
    height: 100%;
  }
  .preview-slide-pagenation {
    overflow: hidden;
    @include flex(column, flex-start, center);
    width: 100%;
    height: 444px;
    margin: 10px 0;
    .slide-pagenation-inner {
      padding-bottom: 144px;
    }
    .indicate-box {
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      @include flex(row, center, center);
      width: 144px;
      height: 144px;
      border: solid 1px $color-gray-dadada;
      & + .indicate-box {
        margin-top: 6px;
      }
      & > div {
        &:not(.slide-soldout) {
          display: block;
          width: 100%;
          min-height: 100%;
          height: auto;
        }
        &.video-container {
          display: flex;
          width: 100%;
          height: 100%;
        }
      }
      // selected
      &.selected {
        &:before {
          content: "";
          position: absolute;
          z-index: 5;
          width: 100%;
          height: 100%;
          background: asset-image("ic_check_thumb.png") no-repeat center / 49px rgba($color-gray-7a808d, 0.7);
        }
      }
      &.focused,
      &.hover {
        position: relative;
        &:after {
          @extend .afterBorderShadow;
        }
      }
      img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
      }
    }
    .video-container {
      @include flex(column, center, center);
      & > * {
        width: 142px;
        height: 78px;
      }
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .slide-soldout {
      font-size: 22px;
    }
  }
  .video-container {
    position: relative;
    z-index: 2;
    border-radius: 0;
  }

  .btn-slide-up,
  .btn-slide-down {
    overflow: hidden;
    display: block;
    width: 144px;
    height: 48px;
    &.focused,
    &.hover {
      @extend .onlyShadow;
    }
  }
  .btn-slide-up {
    background: asset-image("btn_bk_up_nor.png") no-repeat center;
    border-radius: 6px 6px 0 0;

    &.focused,
    &.hover {
      background-image: asset-image("btn_bk_up_foc.png");
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_bk_up_dim.png");
    }
  }
  .btn-slide-down {
    background: asset-image("btn_bk_down_nor.png") no-repeat center;
    border-radius: 0 0 6px 6px;

    &.focused,
    &.hover {
      background-image: asset-image("btn_bk_down_foc.png");
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_bk_down_dim.png");
    }
  }

  .slide-soldout {
    @include flex(row, center, center);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    @include font(36px, 600, $color-white, 1.2);
    text-transform: uppercase;
  }
}
.group-slide-wrapper {
  position: relative;
  overflow: hidden;
  width: 560px;
  height: 560px;
  .group-slide-container {
    @include flex(row, flex-start, center);

    .notice-box-video {
      .notice-text {
        display: block;
        text-overflow: initial;
        overflow: visible;
      }
    }
  }
  .group-slide-controller {
    position: absolute;
    @include flex(row, center, center);
    z-index: 2;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
  }
  .group-slide-pagenation {
    margin: 0 18px;
    @include font(24px, bold, $color-gray-555555);
    // text-shadow: 1px 1px $color-white;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  }
  .btn-group-prev,
  .btn-group-next {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 42px;
  }
  .btn-group-prev {
    background: asset-image("btn_prev_thumb_nor.png") no-repeat center;
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_prev_thumb_dim.png");
    }
    &.focused,
    &.hover {
      background-image: asset-image("btn_prev_thumb_foc.png");
      @extend .onlyShadow;
    }
  }
  .btn-group-next {
    background: asset-image("btn_next_thumb_nor.png") no-repeat center;
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_next_thumb_dim.png");
    }
    &.focused,
    &.hover {
      background-image: asset-image("btn_next_thumb_foc.png");
      @extend .onlyShadow;
    }
  }
}

// 지도 위치 문구
.location-adress-box {
  @include flex(row, flex-start, flex-start);
  @include font(24px, normal, $color-gray-808080, 1.3);
  .icon-location {
    flex-shrink: 0;
    margin-top: -3px;
    margin-right: 2px;
  }
  .location-adress {
    @include multi-ellipsis(true, 2);
  }
}

// call to Order
.call-order-area {
  @include flex(row, flex-start, center);
  height: 68px;
  padding: 0 30px;
  background-color: $color-gray-f2f2f2;
  border-radius: 6px;
  @include font(44px, bold, $color-gray-1a1a1a);
  .call-label {
    margin-right: auto;
    color: #808080;
    font-size: 30px;
    font-weight: 700;
  }
}
.buy-info-area {
  @include flex(row, flex-start, flex-start);
  margin-top: 12px;
  max-width: 560px;
  .info-group {
    margin-right: 6px;
  }
  .button-box {
    width: 100%;
    margin: -2px 6px -2px 0;
    .btn-solid-white {
      height: 60px;
      margin: 3px 0;
      border-radius: 6px;
      box-shadow: 0px 3px 6px 0 rgba(2, 3, 3, 0.1);
      border: solid 1px #dadada;
      background-image: linear-gradient(to top, #f5f5f5, #fff);
      font-size: 24px;
      letter-spacing: -0.6px;

      span {
        z-index: 1;
      }

      &:disabled,
      &.disabled {
        opacity: 0.4;
      }
      &.focused,
      &.hover {
        @extend .onlyShadow;
        &:before {
          content: "";
          border: 0;
          background-color: $focused;
          color: $color-white;
          border-radius: 6px;
        }
        span {
          color: $color-white;
        }
      }
    }
  }
}
//brand
.brand-top-box {
  @include flex(row, flex-start, center);
  .icon-partners {
    margin-right: 14px;
  }
  .brand-id-number {
    @include font(30px, bold, $color-gray-808080);
  }
}
.brand-middle-box {
  margin-top: 20px;
  .brand-title {
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include font(36px, bold, $color-gray-1a1a1a, 1.17);
    word-break: break-all;
  }
}
.brand-bottom-box {
  @include flex(row, flex-start, center);
  margin-top: 14px;
  .badge-box {
    margin-left: auto;
  }
  .start-image-box {
    width: 180px;
    height: 36px;
  }
}
.badge-container {
  overflow: hidden;
  max-width: 645px;
  margin-left: auto;
}
.badge-box {
  @include flex(row, flex-start, center);
  [class*="badge-solid"],
  [class*="badge-line"] {
    @include flex(row, center, center);
    position: relative;
    height: 42px;
    padding: 6px 12px;
    margin-right: 6px;
    white-space: nowrap;
    border-radius: 4px;
    @include font(24px, bold, $color-white, 1);
    &:last-child {
      margin-right: 0;
    }
  }
  [class*="badge-line"] {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      border: 3px solid $color-c70850;
      border-radius: 4px;
    }
  }
  .badge-solid {
    &-pink01 {
      background-color: $color-c70850;
    }
    &-pink02 {
      color: $color-c70850;
      background-color: rgba($color-c70850, 0.1);
    }
    &-pink03 {
      background-color: $color-4f172c;
    }
    &-gray01 {
      background-color: $color-gray-7a808d;
    }
  }
  .badge-line {
    &-pink01 {
      color: $color-c70850;
      background-color: $color-white;
    }
  }
}
// you may like
.fixed-container {
  position: fixed;
  z-index: 9;
  bottom: -510px;
  left: 0;
  width: 100%;
  &.show {
    @include flex(column, flex-end, flex-start);
    top: 0;
    bottom: 0;
    height: 100%;
    .fixed-content-area {
      bottom: 0;
      border-top: 4px solid $color-c70850;
    }
    .dim {
      display: block;
    }
    .btn-solid-gray {
      background-color: $color-c70850;
    }
    .icon-arrow-up {
      transform: rotate(180deg);
    }
  }
  //살짝 위로 올라옴
  &.preview-top {
    bottom: -420px;
  }
  .fixed-controller {
    @include flex(row, flex-start, center);
    position: absolute;
    left: 60px;
    bottom: 530px;
    z-index: 1;
  }
  .fixed-content-area {
    width: 100%;
    border-top: 4px solid #7a808d;
    background-color: $color-white;
    box-shadow: 0px 6px 30px 0 rgba($color-black, 0.4);
    background-color: $color-white;
  }
  .icon-arrow-up {
    margin-left: 14px;
  }
  .dim {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba($color-black, 0.6);
  }
}
.recommend-list-box {
  @include flex(row, flex-start, flex-start);
  height: 100%;
  padding: 58px 50px 50px;
  @extend .none-scrollbar;
  .recommend-list {
    // overflow: hidden;
    flex-shrink: 0;
    @include flex(column, flex-start, flex-start);
    position: relative;
    max-width: 324px;
    height: 438px;
    margin: 10px;
    padding: 18px;
    border: 1px solid $color-gray-e4e4e4;
    background-color: $color-white;
    border-radius: 12px;
    &.focused,
    &.hover {
      &:after {
        @extend .afterBorderShadow;
        border-radius: 12px;
      }
    }
    .thumb-box {
      width: 288px;
      height: 288px;
    }
    .desc-box {
      margin-top: 14px;
      .product-name {
        margin-bottom: 11px;
        min-height: auto;
      }
    }
    .product-desc {
      position: absolute;
      left: 17px;
      bottom: 18px;
    }
    .icon-partners {
      position: absolute;
      right: 12px;
      bottom: 12px;
    }
  }
}
// option
.option-container {
  width: 100%;
  .option-row-area {
    @include flex(row, flex-start, center);
    // height: 90px;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .row-label-box {
    @include font(24px, bold, $color-gray-555555);
  }
  .row-input-box {
    margin-left: auto;
  }
  .label-text-box {
    margin-top: 8px;
  }
  [class*="btn-solid"] {
    font-size: 24px;
    min-width: 144px;
  }
  .btn-solid-white {
    width: 612px;
    height: 90px;
    &:only-child {
      span:not(.icon-arrow-down) {
        width: 474px;
      }
    }
  }
  .option-text {
    @include font(24px, 300, $color-gray-808080, 1.3);
  }
}

// counter box
.counter-btn-box {
  @include flex(row, space-between, center);
  width: 612px;
  .btn-minus,
  .btn-plus {
    overflow: hidden;
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border-radius: 12px;
    span {
      color: transparent;
    }
    &.focused,
    &.hover {
      position: relative;
      @extend .onlyShadow;
    }
  }
  .count-text {
    max-width: calc(100% - 200px);
    @include font(24px, 400, $color-gray-808080, 1.3);
    @include ellipsis;
  }

  .btn-minus {
    background-image: asset-image("btn_quantity_decrease_nor.png");
    &.focused,
    &.hover {
      background-image: asset-image("btn_quantity_decrease_foc.png");
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_quantity_decrease_dim.png");
    }
  }
  .btn-plus {
    background-image: asset-image("btn_quantity_increase_nor.png");
    &.focused,
    &.hover {
      background-image: asset-image("btn_quantity_increase_foc.png");
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_quantity_increase_dim.png");
    }
  }
}

// hotel conditions
.condition-option-box {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin: -9px;
  .option-item {
    overflow: hidden;
    @include flex(column, center, center);
    width: 138px;
    height: 138px;
    padding: 12px;
    margin: 9px;
    background-color: $color-white;
    border: solid 1px $color-gray-dadada;
    border-radius: 6px;
  }
  .item-img {
    overflow: hidden;
    display: block;
    width: 36px;
    height: 36px;
    margin: 9px auto auto;
    background-color: $color-gray-f2f2f2;
  }
  .item-name {
    @include flex(column, center, center);
    min-height: 54px;
    text-align: center;
    @include font(18px, normal, $color-gray-808080);
    word-break: break-all;
    @include multi-ellipsis(true, 3);
  }
}

// total price
.total-price-area {
  @include flex(column, center, flex-start);
  margin-top: 20px;
  margin-bottom: 20px;
  & > * {
    width: 100%;
  }
  &.flex-row {
    @include flex(row, flex-start, stretch);
  }
  .price-row-wrap {
    @include flex(column, center, flex-start);
  }
  .price-row-box {
    @include flex(row, flex-start, center);
    .label-sub-title {
      margin-right: auto;
    }
    .cost-text-box {
      margin-left: auto;
    }
  }

  //case
  &[class*="case0"] {
    min-height: 186px;
    .price-promote {
      font-size: 60px;
    }
  }
  &.case09 {
    margin-top: 63px;
    margin-bottom: 61px;
  }
  .total-price-middle {
    @include flex(row, flex-start, center);
    width: 100%;
    padding: 0 30px;
    .price-row-box {
      display: block;
      flex: 1;
      margin-right: 34px;
    }
    .info-qr-code-box {
      &.size-large {
        .qrcode-tooltip-area {
          bottom: auto;
          top: 258px;

          .qrcode-tooltip-body {
            height: auto;
          }
        }
      }
    }
  }
  .total-price-bottom {
    position: relative;
    margin-top: 30px;
    padding: 22px 30px 0;
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $color-gray-dadada;
    }
  }
  .label-main-title {
    @include flex(row, flex-start, center);
    // margin-bottom: 10px;
    @include font(36px, bold, $color-gray-222222);
  }
  .cost-text-box {
    @include flex(row, flex-start, center);
    @include font(24px, normal, $color-gray-808080);
  }
  .other-price-box {
    @include flex(row, flex-start, center);
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid $color-gray-dadada;
    .label-main-title,
    .price-original {
      @include font(36px, 600, $color-gray-808080);
    }
  }
  .text-row-box {
    @include flex(row, flex-start, center);
    margin-top: 10px;
    .label-sub-title {
      margin-left: 10px;
    }
  }
  .or-text-box {
    @include font(24px, 600, $color-gray-555555, 1.2);
  }
  .hotel-option-box {
    overflow: hidden;
    height: 65px;
    margin-bottom: 30px;
    @include font(24px, 400, $color-gray-808080, 1.25);
  }
  .option-slash {
    display: block;
    margin-bottom: 6px;
    // &:after {
    //   content: "/";
    //   padding: 0 5px;
    // }
  }
  .price-promote {
    // margin-left: 13px;
    @include font(44px, bold, $color-c70850);
  }
  .price-original {
    position: relative;
    margin-left: 10px;
    @include font(24px, 400, $color-gray-808080);
  }
  .label-sub-title {
    display: block;
    margin-top: 5px;
    @include font(24px, 400, $color-gray-808080);
  }
  .call-for-info {
    display: block;
    margin-top: 15px;
    @include font(60px, 600, $color-gray-808080);
  }
  .before-hyphen {
    position: absolute;
    left: 0;
    top: 58%;
    width: 100%;
    z-index: 1;
    @include font(2px, normal, rgba(0, 0, 0, 0));
    &:before {
      content: "";
      display: block;
      width: 100%;
      border-top: 1px solid $color-gray-808080;
    }
  }
  .price-percent-red {
    @include flex(row, flex-start, center);
    display: inline-flex;
    height: 42px;
    padding: 0 13px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: $color-ff0000;
    @include font(24px, bold, $color-white);
  }
}

// 영상/상품 안내 문구
[class^="notice-box-"] {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  padding: 12px;
  background-color: rgba($color-gray-808080, 0.2);
  border-radius: 5px;
  @include font(18px, normal, $color-gray-808080, 1.3);
  .icon-notice {
    flex-shrink: 0;
    margin-top: 2px;
    margin-right: 13px;
  }
}

/* group > product - nodata */
.product-nodata-box {
  margin-top: 93px;
  .notice-container {
    .text-notice-area {
      @include font(36px, bold, $color-gray-a3a3a3, 1.11);
    }
  }
}
