//full player
.full-player-container {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  width: 1920px;
  height: 1080px;
  &.hide {
    display: none;
  }
  .video-container {
    width: 100%;
    height: 100%;
  }
  &.player-portrait {
    .player-body {
      left: 668px;
    }
    .player-title-box {
      .player-title {
        max-width: 940px;
      }
    }
    .player-footer {
      width: 584px;
      margin: auto auto 0;
    }
    .progress-area {
      .progress-bar {
        max-width: 324px;
      }
    }
    .subtitle-area {
      left: auto;
      right: 668px;
      transform: translateX(0);
      width: 259px;
    }
  }
}
.player-container,
.video-container {
  .call-order-area {
    @include flex(column, center, center);
    min-width: 312px;
    height: 132px;
    padding: 0 13px;
    border: 2px solid rgba($color-white, 0.7);
    background-color: $color-gray-1e1e1e;
    box-shadow:
      inset 0px -5px 5px 0px rgba(0, 0, 0, 0.7),
      inset 0 3px 5px 0px rgba($color-white, 0.7),
      5px 8.7px 15px 0 rgba(6, 0, 1, 0.5);
    border-radius: 10px;

    .call-label {
      min-width: 126px;
      height: 42px;
      margin-right: auto;
      padding: 6px;
      background-color: $color-gray-606060;
      @include font(18px, bold, $color-white, 1.5);
      border-radius: 4px;
      text-align: center;
    }

    .call-to-order {
      width: 126px;
      height: 42px;
      margin-bottom: 12px;
      background: asset-image("tag_calltoorder.png") no-repeat center/cover;
    }

    .call-number {
      @include flex(row, flex-start, center);
      margin-top: 12px;
      @include font(36px, bold, $color-white);
      letter-spacing: -0.9px;

      &::before {
        content: "";
        flex-shrink: 0;
        display: inline-block;
        width: 42px;
        height: 42px;
        margin-right: 8px;
        background: asset-image("ic_wh_call.png") no-repeat center/42px;
      }
    }
  }
}
.player-container {
  overflow: hidden;
  @include flex(column, space-between, flex-start);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 1920px;
  height: 1080px;
  padding: 66px 60px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 276px;
  }
  &::before {
    top: 0;
    background-image: linear-gradient(to top, rgba($color-black, 0), rgba($color-black, 0.6), rgba($color-black, 0.8));
  }
  &::after {
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0),
      rgba($color-black, 0.6),
      rgba($color-black, 0.8)
    );
  }
}
.player-header {
  @include flex(row, flex-start, center);
  position: relative;
  width: 100%;
  .btn-back {
    flex-shrink: 0;
    display: block;
    width: 60px;
    height: 60px;
    background: asset-image("btn_60_wh_back_nor.png") no-repeat center/60px;
    &.focused,
    &.hover {
      background: asset-image("btn_60_wh_back_foc.png") no-repeat center;
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background: asset-image("btn_60_wh_back_dim.png") no-repeat center;
    }
  }
  .badge-live {
    position: static;
    margin-left: 30px;
  }
}
.player-title-box {
  @include flex(row, flex-start, center);
  width: 1710px;
  margin-left: 30px;
  @include font(42px, normal, $color-gray-fcfcfc, 1.35);
  .player-title {
    overflow: hidden;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 13px;
  }
  .player-name {
    margin: 0 35px 0 14px;
    @include font(44px, bold, $color-gray-fcfcfc, 1);
  }
}
.player-body {
  position: absolute;
  left: 80px;
  bottom: 216px;
}
.player-footer {
  width: 100%;
  margin-top: auto;
  .controller-button-area {
    @include flex(row, flex-start, center);
    > div {
      @include flex(row, flex-start, center);
    }
  }
  .controller-right {
    margin-left: auto;
  }
  [class^="btn-"] {
    display: block;
    width: 78px;
    height: 78px;
    padding: 9px;
    cursor: pointer;
    &.focused,
    &.hover {
      background-color: rgba($focused, 0.5);
      border-radius: 50%;
    }
  }
  .btn-play {
    background: asset-image("btn_video_play_nor.png") no-repeat center/60px;
  }
  .btn-pause {
    background: asset-image("btn_voc_pause_nor.png") no-repeat center/60px;
  }
  .btn-subtitle {
    background: asset-image("btn_video_cc_nor.png") no-repeat center/60px;
  }
  .btn-resize {
    background: asset-image("btn_video_min_nor.png") no-repeat center/60px;
  }
}
.progress-area {
  @include flex(row, flex-start, center);
  width: 100%;
  margin-top: 18px;
  .progress-bar {
    position: relative;
    max-width: 1540px;
    width: 100%;
    height: 6px;
    background-color: $color-white;
  }
  .thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $color-c70850;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -12px;
      z-index: 1;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
      background-color: $color-white;
      border-radius: 50%;
      box-shadow: 0 0 19px 1px rgba(0, 0, 0, 0.8);
    }
  }
  .time-box {
    @include flex(row, flex-start, center);
    margin-left: auto;
    @include font(24px, bold, $color-white);
    letter-spacing: 1.2px;
    .slash {
      margin: 0 5px;
    }
  }
}
.player-channel-indicator {
  [class^="btn-"] {
    position: absolute;
    left: 50%;
    width: 48px;
    height: 48px;
    transform: translate(-50%);
    &.focused,
    &.hover {
      @extend .onlyShadow;
    }
  }
  .btn-up {
    top: 12px;
    background: asset-image("btn_wh_arrow_top_nor.png") no-repeat center/48px;
    &.focused,
    &.hover {
      background: asset-image("btn_wh_arrow_top_foc.png") no-repeat center/48px;
    }
  }
  .btn-down {
    bottom: 12px;
    background: asset-image("btn_wh_arrow_down_nor.png") no-repeat center/48px;
    &.focused,
    &.hover {
      background: asset-image("btn_wh_arrow_down_foc.png") no-repeat center/48px;
    }
  }
}

// live chat
.live-chat-container {
  overflow: hidden;
  position: absolute;
  bottom: 200px;
  // top: 366px;
  left: 78px;
  z-index: 1;
  @include flex(column, space-between, center);
  width: 402px;
  height: 498px;
  padding: 20px 18px 90px;
  border: 2px solid rgba($color-white, 0.7);
  background: $color-gray-1e1e1e;
  box-shadow:
    inset 0px -5px 5px 0px rgba(0, 0, 0, 0.7),
    inset 0 3px 5px 0px rgba($color-white, 0.7),
    5px 8.7px 15px 0 rgba(6, 0, 1, 0.5);
  border-radius: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 144px;
    background: linear-gradient(to bottom, $color-gray-1e1e1e, rgba(30, 30, 30, 0.15));
  }
}
// .live-chat-area
.live-chat-item {
  margin-bottom: 20px;
  &:last-child,
  &:only-child {
    margin-bottom: 0;
  }
  .live-chat-header {
    @include flex(row, space-between, center);
    margin-bottom: 12px;
    @include font(24px, normal, $color-gray-808080);
  }
  .chat-title-box {
    @include flex(row, flex-start, center);
    color: $color-white;
    > span {
      flex-shrink: 0;
      width: 42px;
      height: 42px;
      margin-right: 12px;
    }
  }
  .live-chat-body {
    @include font(18px, normal, $color-white);
    span {
      display: inline-block;
      margin-bottom: 6px;
      padding: 12px;
      background-color: rgba($color-white, 0.1);
      border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.live-chat-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  background: $color-gray-1e1e1e;
  .btn-send {
    @include flex(row, center, center);
    width: 366px;
    height: 60px;
    margin: 0 auto 18px;
    padding: 0 12px;
    background-color: $color-gray-808080;
    @include font(24px, bold, $color-white);
    text-transform: uppercase;
    border-radius: 6px;
    &.focused,
    &.hover {
      background-color: $focused;
    }
  }
}
.chat-nodata-container {
  overflow: hidden;
  position: absolute;
  bottom: 220px;
  left: 60px;
  z-index: 1;
  @include flex(column, space-between, center);
  width: 402px;
  height: 640px;
  padding: 70px 20px;
  border: 2px solid rgba($color-white, 0.7);
  background: $color-gray-1e1e1e;
  box-shadow:
    inset 0px -5px 5px 0px rgba(0, 0, 0, 0.7),
    inset 0 3px 5px 0px rgba($color-white, 0.7),
    5px 8.7px 15px 0 rgba(6, 0, 1, 0.5);
  border-radius: 10px;

  .nodata-area {
    margin-top: 48px;
    text-align: center;
  }
  .text-box {
    margin-top: 30px;
    @include font(30px, normal, $color-gray-808080, 1.27);
    letter-spacing: -0.5px;
    &:first-child {
      margin-top: 0;
    }
  }
}
//shop now/live channel/featured show
.player-list-area {
  margin-bottom: 53px;
  &:last-child {
    margin-bottom: 48px;
  }
  .thumb-box {
    &.rate-portrait {
      width: 245px;
      height: 138px;
      background-image: none;
      background-color: $color-gray-222222;
      * {
        min-width: inherit;
        width: auto;
        height: 100%;
      }
    }
  }
  .brand-box {
    @include flex(row, flex-start, center);
    width: 100%;
    .icon-partners {
      margin-right: 15px;
    }
  }
  .brand-title {
    height: 55px;
    margin-top: 10px;
    @include font(24px, 600, $color-gray-333333, 1.1);
    @include multi-ellipsis(true, 2);
  }
  .partners-title {
    @include font(30px, 600, $color-gray-767676, 1);
  }
  .progress-box {
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: auto;
    background-color: $color-gray-e9e9e9;
    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $color-gray-808080;
    }
  }
  .section-list {
    &.focused,
    &.hover {
      .progress-bar {
        background-color: $focused;
      }
    }
  }
  .section-list-box {
    &:after {
      display: none;
    }
  }
  .icon-partners {
    width: 42px;
    height: 42px;
  }
}
.player-list-title-box {
  margin: 0 -30px 24px;
  padding: 0 30px 18px;
  border-bottom: 1px solid rgba($color-gray-d9d9d9, 0.3);
  .player-list-title {
    @include font(36px, bold, $color-white);
    text-transform: uppercase;
  }
}
// 자막 영역
.subtitle-area {
  position: absolute;
  bottom: 216px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  // height: 88px;
  padding: 11px 16px;
  background-color: $color-gray-1e1e1e;
  text-align: center;
  .subtitle-text {
    @include font(30px, normal, $color-white, 1.1);
  }
}
// 자막
video::cue {
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  line-height: 1.1;
}
// 국가별 QR코드
.player-qr-code-area {
  position: absolute;
  z-index: 3;
  width: 180px;
  padding: 6px;
  border: 6px solid $color-gray-1a1a1a;
  background-color: #7a808d;
  border-radius: 10px;
  text-align: center;
  &.qr-row {
    width: 358px;
    .player-qr-code-box {
      @include flex(row, flex-start, center);
    }
    .qr-text {
      margin-top: 0;
      margin-left: 12px;
    }
  }
  .qr-icon {
    flex-shrink: 0;
    width: 156px;
    height: 156px;
  }
  .qr-text {
    margin-top: 12px;
    @include font(30px, bold, $color-white, 1.3);
    &.medium-text {
      font-size: 26px;
    }
    &.small-text {
      font-size: 17px;
    }
  }
}
// 풀플레이어 안내문구
.player-notice-box {
  @include flex(row, flex-start, flex-start);
  position: absolute;
  top: 136px;
  left: 60px;
  right: 60px;
  z-index: 2;
  padding: 12px 20px;
  background-color: rgba($color-black, 0.5);
  @include font(20px, normal, $color-white, 1.5);
  .icon-notice {
    flex-shrink: 0;
    margin-top: 6px;
    margin-right: 12px;
  }
}

// full player right product empty
.loading-empty-box {
  @include flex(column, center, center);
  padding: 30px 0;
  @include font(30px, normal, $color-gray-8290a0, 1.4);
  text-align: center;
  &:before {
    content: "";
    display: block;
    width: 360px;
    height: 180px;
    margin-bottom: 8px;
    background: asset-image("img_contents_loading.png") no-repeat center;
  }
}