//common icons

//icon-partners
.icon-partners {
  overflow: hidden;
  flex-shrink: 0;
  display: block;
  width: 42px;
  height: 42px;
  &.size-large {
    width: 60px;
    height: 60px;
  }
}

.icon-arrow-down {
  overflow: hidden;
  display: block;
  width: 42px;
  height: 42px;
  background: asset-image("ic_arrow_down.png") no-repeat center/42px;
}
.icon-arrow-up {
  overflow: hidden;
  display: block;
  width: 42px;
  height: 42px;
  background: asset-image("ic_arrow_up.png") no-repeat center/42px;
}
.icon-arrow-right {
  overflow: hidden;
  display: block;
  width: 48px;
  height: 48px;
  background: asset-image("btn_bk_arrow_right_nor.png") no-repeat center/48px;
}
.icon-location {
  display: block;
  width: 36px;
  height: 36px;
  background: asset-image("ic_location.png") no-repeat center;
}
.icon-notice {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: asset-image("ic_warning.png") no-repeat center;
}

// trash
.icon-trash {
  overflow: hidden;
  display: block;
  width: 60px;
  height: 60px;
  background: asset-image("btn_60_delete_nor.png") no-repeat center;
}

//common QR
.info-qr-code-box {
  position: relative;
  @include flex(row, center, center);
  flex-shrink: 0;
  width: 192px;
  height: 192px;
  background-color: $color-white;
  border-radius: 6px;
  border: 1px solid $color-gray-dadada;
  img {
    display: block;
    width: 160px;
    height: 160px;
  }
  &.size-xsmall {
    width: 120px;
    height: 120px;
    img {
      width: 88px;
      height: 88px;
    }
  }
  &.size-large {
    width: 252px;
    height: 252px;
    img {
      width: 220px;
      height: 220px;
    }
  }
  // 툴팁 위치 클래스
  &.position-right {
    .qrcode-tooltip-area {
      top: 50%;
      right: -225px;
      bottom: auto;
      transform: translateY(-50%);
      .qrcode-tooltip-body {
        width: 220px;
        height: auto;
        word-break: keep-all;
        padding: 18px 23px;
        &:before {
          top: 50%;
          left: -28px;
          transform: translateY(-50%);
          border-right-color: $color-gray-222222;
          border-bottom-color: transparent;
        }
      }
    }
  }
}
/* QR 코드 툴팁 */
.qrcode-tooltip-area {
  position: absolute;
  z-index: 1;
  bottom: -119px;
  .qrcode-tooltip-body {
    position: relative;
    width: 280px;
    height: 110px;
    padding: 10px;
    border-radius: 10px;
    background-color: $color-gray-222222;
    @include font(22px, normal, $color-white, 1.27);
    text-align: center;
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: -28px;
      left: calc(50% - 15px);
      border: 15px solid $color-gray-222222;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }
  }
}

//common call
.call-number {
  @include flex(row, flex-start, center);
  @include font(30px, bold, $color-gray-808080, 1.33);
  &:before {
    content: "";
    display: block;
    width: 42px;
    height: 42px;
    background: asset-image("ic_gr_call.png") no-repeat left center;
  }
}

//email icon
.email-address {
  @include flex(row, flex-start, center);
  @include font(24px, bold, $color-gray-808080, 1.33);
  letter-spacing: -0.26px;
  &:before {
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    background: asset-image("ic_gr_mail_36.png") no-repeat left center;
  }
}
