html,
body {
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  height: 100%;
  min-height: 1080px;
  box-sizing: border-box;
  & * {
    box-sizing: border-box;
  }
  &.scroll {
    overflow: auto;
    height: auto;
    .wrapper {
      position: static;
      overflow-y: auto;
      height: auto;
    }
    .main {
      min-width: 1920px;
      min-height: 1080px;
    }
    .section-list-container {
      overflow-y: hidden;
    }
    .sub-depth-area {
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
ol,
ul {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  font-family: "LG Smart", "arial";
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  transform-origin: top left;
}
.main {
  overflow: hidden;
  width: 100%;
  height: 100%;
  @extend .none-scrollbar;
}
.content-container {
  position: relative;
  width: 1800px;
  min-height: 1080px;
  padding-bottom: 60px;
  background-color: $color-gray-f8f8f8;
  &.cart,
  &.checkout {
    left: -120px;
    width: 1920px;
  }
}
.content-middle {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.thumb-box {
  overflow: hidden;
  flex-shrink: 0;
}
// sub common layout
.sub-title-container {
  @include flex(row, flex-start, center);
  padding: 0 60px;
  height: 96px;
  background-color: $color-white;
  .sub-main-title {
    @include font(42px, bold, $color-gray-222222, 30px);
  }
}
.sub-content-container {
  overflow: hidden;
  @include flex(row, flex-start, flex-start);
  // height: 984px;
  .sub-content-area {
    flex: 1;
    overflow-y: auto;
    min-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 42px 60px 0;
    // @include scrollbarUi(8px, 0);
  }
  &.none-flex {
    display: block;
    .sub-content-area {
      overflow: visible;
    }
  }
}
.text-bold {
  font-weight: bold;
}
.text-black {
  color: $color-gray-222222;
}
/* Checkbox */
.checkboxNormal {
  &:before {
    background: asset-image("btn_check_nor.png") no-repeat center / 42px;
  }
}
.checkboxNormalFocused {
  &:before {
    background: asset-image("btn_check_foc.png") no-repeat center / 42px;
  }
}
.checkboxNormalDisabled {
  &:before {
    opacity: 0.5;
    background: asset-image("btn_check_dim.png") no-repeat center / 42px;
  }
}
.checkboxChecked {
  &:before {
    background: asset-image("btn_check_sel.png") no-repeat center / 42px;
  }
}
.checkboxCheckedFocused {
  &:before {
    background: asset-image("btn_check_selfoc.png") no-repeat center / 42px;
  }
}
.checkboxCheckedDisabled {
  &:before {
    opacity: 0.5;
    background: asset-image("btn_check_seldim.png") no-repeat center / 42px;
  }
}
.checkbox {
  // 기본값
  input[type="checkbox"] {
    + .check-icon {
      position: relative;
      @include flex(row, flex-start, center);
      @include font(24px, normal, $color-gray-808080);
      @extend .checkboxNormal;
      &:before {
        content: "";
        flex-shrink: 0;
        display: block;
        width: 42px;
        height: 42px;
        margin-right: 12px;
        -webkit-transition: background 0.25s;
        -moz-transition: background 0.25s;
        -ms-transition: background 0.25s;
        -o-transition: background 0.25s;
        transition: background 0.25s;
      }
    }
    &:checked {
      + .check-icon {
        @extend .checkboxChecked;
      }
    }
  }
  // 포커스 호버
  &.focused,
  &.hover {
    input[type="checkbox"] {
      & + .check-icon {
        @extend .checkboxNormalFocused;
      }
    }
    input[type="checkbox"]:checked {
      + .check-icon {
        @extend .checkboxCheckedFocused;
      }
    }
    input[type="checkbox"]:disabled,
    input[type="checkbox"]:checked:disabled {
      + .check-icon {
        @extend .checkboxCheckedDisabled;
      }
    }
    // 사용불가
    &.disabled {
      opacity: 1;
      input[type="checkbox"]:disabled {
        & + .check-icon {
          @extend .checkboxNormalDisabled;
        }
        &:checked + .check-icon {
          @extend .checkboxCheckedDisabled;
        }
      }
    }
  }
  // 사용불가
  &.disabled {
    opacity: 1;
    input[type="checkbox"]:disabled {
      & + .check-icon {
        @extend .checkboxNormalDisabled;
      }
      &:checked + .check-icon {
        @extend .checkboxCheckedDisabled;
      }
    }
  }
}
/* Dropdown */
.dropdown-container {
  @include flex(row, flex-start, center);
  width: 252px;
  .dropdown-area {
    flex: 1;
    position: relative;
    max-width: 100%;
    height: 60px;
    border-radius: 6px;
    &.active {
      .dropdown-list {
        display: block;
      }
      .btn-open {
        border-radius: 6px 6px 0 0;
        &:after {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
  }
  .btn-open {
    @include flex(row, flex-start, center);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px 0 22px;
    background-color: $color-gray-808080;
    border-radius: 6px;
    &.focused,
    &.hover {
      background-color: $focused;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      width: 42px;
      height: 42px;
      transform: translateY(-50%) rotate(0);
      background: asset-image("ic_arrow_down.png") no-repeat center / cover;
    }
    select {
      display: none;
    }
    span {
      @include font(24px, bold, $color-white);
      &.filled {
        color: $color-c70850;
      }
    }
  }
  .dropdown-list {
    display: none;
    z-index: 10;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $color-gray-808080;
    border-radius: 0 0 6px 6px;
  }
  .list {
    @include flex(row, flex-start, center);
    width: 100%;
    height: 60px;
    padding: 0 22px;
    &:last-child {
      border-radius: 0 0 6px 6px;
    }
    &.focused,
    &.hover,
    &.selected {
      @extend .onlyShadow;
    }
    &.focused,
    &.hover {
      position: relative;
      z-index: 2;
      background-color: $focused;
    }
    &.selected {
      background-color: $selected;
      &.focused,
      &.hover {
        background-color: $selected-foc;
      }
    }
  }
  .option {
    overflow: hidden;
    @include font(24px, bold, $color-white);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// notice text
.notice-container {
  @include flex(column, center, center);
  width: 100%;
  background-color: $color-gray-f2f2f2;
  &[class*="icon-"] {
    &:before {
      content: "";
      display: block;
      width: 360px;
      height: 168px;
      margin-bottom: 10px;
    }
  }
  &.icon-empty {
    &:before {
      background: asset-image("img_cart_empty.png") no-repeat center / 360px 168px;
    }
  }
  &.icon-payment {
    &:before {
      background: asset-image("img_myinfo_payment.png") no-repeat center / 360px 168px;
    }
  }
  &.icon-delay {
    &::before {
      background: asset-image("img_liveshow_delay.png") no-repeat center / 360px 168px;
    }
  }
  &.icon-shipping {
    &::before {
      height: 180px;
      background: asset-image("img_myinfo_shipping.png") no-repeat center / 360px 180px;
    }
  }
  &.icon-billing {
    &::before {
      height: 180px;
      background: asset-image("img_my_info_billing.png") no-repeat center / 360px 180px;
    }
  }
  &.icon-coupon {
    &::before {
      height: 180px;
      background: asset-image("img_myinfo_coupon.png") no-repeat center / 360px 180px;
    }
  }
  .text-notice-area {
    text-align: center;
    @include font(24px, normal, $color-gray-b5b5b5, 1.3);
    .text-large-box {
      margin-bottom: 5px;
      @include font(36px, bold, $color-gray-a3a3a3, 1.3);
    }
  }
}
//scroll_button
.scroll-button-box {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  @include flex(row, center, center);
  width: 100%;
  padding-left: 120px;
  .btn-scroll {
    width: 120px;
    height: 120px;
    background: asset-image("ic_scrolldown.png") no-repeat center/120px;
  }
}

//top_button
.top-button-box {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  // z-index: 10;
  width: 100%;
  @include flex(row, center, center);
  margin-top: 4rem;
  padding-bottom: 15px;
}
.btn-top {
  width: 120px;
  height: 120px;
  background: asset-image("btn_top_nor.png") no-repeat center/120px;
  border-radius: 120px;
  &.focused,
  &.hover {
    background: asset-image("btn_top_foc.png") no-repeat center/120px;
    @extend .onlyShadow;
  }
  &:disabled,
  &.disabled {
    opacity: 1;
    background: asset-image("btn_top_dim.png") no-repeat center/120px;
  }
}

/* 디자인 스크롤바 */
.scroll-ui-container {
  overflow: hidden !important;
  position: relative !important;
  // .scroll-box-area {}
  .scroll-ui-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 6px;
    max-height: 1080px;
    background-color: $color-gray-e7e7e7;
  }
  .scroll-bar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 6px;
    background-color: $color-gray-7a808d;
    &.focused,
    &.hover {
      background-color: $focused;
    }
  }
  // with buttons
  .scroll-control-area {
    position: absolute;
    @include flex(column, flex-start, flex-start);
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 100%;
    .scroll-ui-area {
      position: relative;
      height: calc(100% - 116px);
      margin: 0 auto;
    }
  }
  //버튼
  [class*="scroll-btn"] {
    display: block;
    width: 48px;
    height: 48px;
  }
  .scroll-btn-up {
    margin-bottom: 10px;
    background: asset-image("btn_scroll_up_nor.png") no-repeat center/cover;
    &.focused,
    &.hover {
      background: asset-image("btn_scroll_up_foc.png") no-repeat center/cover;
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background: asset-image("btn_scroll_up_dim.png") no-repeat center/cover;
    }
  }
  .scroll-btn-down {
    margin-top: 10px;
    background: asset-image("btn_scroll_down_nor.png") no-repeat center/cover;
    &.focused,
    &.hover {
      background-image: asset-image("btn_scroll_down_foc.png");
    }
    &:disabled,
    &.disabled {
      opacity: 1;
      background-image: asset-image("btn_scroll_down_dim.png");
    }
  }
  //탭
  .tab-content-area {
    padding: 45px 60px;
  }
}
