//lnb
.wrapper {
  .lnb {
    z-index: 1000;
  }
}

.main {
  padding-left: 120px;
}

// lnb style
.lnb {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  padding-top: 60px;
  background-color: rgba($color-gray-222222, 1);
  box-sizing: border-box;
  &.active {
    width: 420px;
    background-color: rgba($color-gray-222222, 0.97);
    transition: all 0.3s;
    .logo {
      width: 234px;
      background: asset-image("ic_lnb_logo_shoptime.png") no-repeat center/cover;
    }
    .lnb-list {
      [class^="menu-link-"] {
        > span {
          display: block;
        }
      }
      &.has-arrow {
        &.focused {
          .sub-depth-area,
          .sub-partners-area {
            display: block;
          }
        }
      }
      &.focused,
      &.hover {
        [class^="menu-link-"] {
          z-index: 5;
          width: 420px;
          background: linear-gradient(to right, #cb1253 15%, #e15ba1);
          &::before {
            background-color: #cb1253;
          }
          &::after {
            display: block;
          }
          > span {
            &::before {
              display: block;
            }
          }
        }
        &.has-arrow {
          [class^="menu-link-"] {
            &:after {
              content: "";
              position: absolute;
              top: 5px;
              right: 0;
              z-index: 1;
              width: 50px;
              height: calc(100% - 10px);
              background:
                asset-image("ic_lnb_right_arrow.png") no-repeat center right 20px/36px,
                linear-gradient(to right, #dd5297 15%, #e15ba1);
            }
          }
        }
      }
    }

    .long-word {
      &.selected,
      &.focused,
      &.hover {
        [class^="menu-link-"] span,
        .sub-menu {
          overflow: visible;
          display: inline-block;
          color: $color-white;
          text-overflow: unset;
          animation: textLoop 5s linear infinite forwards;
        }
      }
    }
  }
  /* 1depth 스크롤 기능 추가될 경우 적용 */
  // &.sub-active {
  //   width: 756px;
  //   .lnb-list {
  //     &.focused, &.hover {
  //       .sub-depth-area {
  //         display: block;
  //       }
  //     }
  //   }
  // }
  // &.partners-active {
  //   width: 636px;
  //   .lnb-list {
  //     &.focused, &.hover {
  //       .sub-partners-area {
  //         display: block;
  //       }
  //     }
  //   }
  // }
  // &.sub-active, &.partners-active {
  //   .lnb-list {
  //     &.focused, &.hover, &.selected {
  //       display: block;
  //       [class^=menu-link-] {
  //         > span {
  //           &::before {
  //             display: block;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  /* 1depth 스크롤 기능 추가될 경우 적용 */
}

.lnb-logo {
  padding-left: 42px;
  .logo {
    display: block;
    width: 54px;
    height: 54px;
    background: asset-image("ic_lnb_shoptime_symbol.png") no-repeat center/cover;
  }
}
.lnb-list-box {
  // overflow-y: auto; //1depth 스크롤 기능 추가될 경우 적용
  // height: 1080px;
  padding-top: 84px;
  padding-left: 27px;
  @extend .none-scrollbar;
}
.lnb-list {
  // width: 284px;
  [class^="menu-link-"] {
    @include flex(row, flex-start, center);
    overflow: hidden;
    position: relative;
    height: 84px;
    @include font(36px, bold, $color-gray-606060, 48px);
    border-radius: 42px;
    &:before {
      content: "";
      flex-shrink: 0;
      z-index: 5;
      display: inline-block;
      position: relative;
      width: 73px;
      height: 48px;
      padding-left: 13px;
      background-color: #222;
    }
    > span {
      white-space: nowrap;
      &:not(.count) {
        display: none;
      }
    }
    .count {
      overflow: hidden;
      position: absolute;
      top: 12px;
      left: 45px;
      z-index: 5;
      width: 24px;
      height: 24px;
      background-color: $color-ff0000;
      @include font(18px, bold, $color-white, 22px);
      text-align: center;
      border-radius: 50%;
    }
  }
  $menuIcons: (
    category: (
      url: "ic_lnb_category_nor.png",
      selUrl: "ic_lnb_category_sel.png"
    ),
    my: (
      url: "ic_lnb_mypage_nor.png",
      selUrl: "ic_lnb_mypage_sel.png"
    ),
    search: (
      url: "ic_lnb_search_nor.png",
      selUrl: "ic_lnb_search_sel.png"
    ),
    home: (
      url: "ic_lnb_home_nor.png",
      selUrl: "ic_lnb_home_sel.png"
    ),
    partner: (
      url: "ic_lnb_partners_nor.png",
      selUrl: "ic_lnb_partners_sel.png"
    ),
    sale: (
      url: "ic_lnb_sale_nor.png",
      selUrl: "ic_lnb_sale_sel.png"
    ),
    deal: (
      url: "ic_lnb_topdeals_nor.png",
      selUrl: "ic_lnb_topdeals_sel.png"
    ),
    hotpick: (
      url: "ic_lnb_hotpicks_nor.png",
      selUrl: "ic_lnb_hotpicks_sel.png"
    ),
    cart: (
      url: "ic_lnb_cart_nor.png",
      selUrl: "ic_lnb_cart_sel.png"
    )
  );

  @each $map, $value in $menuIcons {
    .menu-link-#{$map} {
      &::before {
        background-image: none;
        background: asset-image(map-get($value, url)) no-repeat center/48px;
      }
    }

    &.selected,
    &.focused,
    &.hover {
      .menu-link-#{$map} {
        &::before {
          background: asset-image(map-get($value, selUrl)) no-repeat center/48px;
        }
      }
    }
  }

  &.selected,
  &.focused,
  &.hover {
    [class^="menu-link-"] {
      color: $color-gray-eeeeee;
    }
  }
  &.focused,
  &.hover {
    [class^="menu-link-"] {
      > span {
        width: 100%;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          // display: none;
          top: 50%;
          left: -13px;
          z-index: -1;
          transform: translateY(-50%);
          width: 420px;
          height: 84px;
          margin-left: auto;
          border-radius: 42px;
        }
      }
    }
  }
}

.sub-depth-area {
  overflow-y: hidden;
  display: none;
  position: absolute;
  top: 0;
  right: -336px;
  z-index: 0;
  width: 336px;
  height: 100%;
  padding-top: 52px;
  background-color: rgba($color-gray-252525, 0.95);

  .sub-depth-list-box {
    // max-height: 1040px;
    // overflow-y: hidden;
    // @include scrollbarUi(6px, 100px);
    &::-webkit-scrollbar {
      background-color: transparent;
    }
  }
}
// .sub-depth-list-box {}
.sub-list {
  position: relative;
  margin-bottom: 13px;
  padding: 21px 48px;
  .sub-inner {
    overflow: hidden;
    display: flex;

    .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      vertical-align: middle;
      flex-shrink: 0;

      &.kitchen {
        background-image: asset-image("ic_category_kitchen_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.home {
        background-image: asset-image("ic_category_home_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.garden {
        background-image: asset-image("ic_category_garden_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.electronic {
        background-image: asset-image("ic_category_electronics_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.fashion {
        background-image: asset-image("ic_category_fashion_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.beauty {
        background-image: asset-image("ic_category_beauty_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.jewelry {
        background-image: asset-image("ic_category_jewelry_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.acc {
        background-image: asset-image("ic_category_accessories_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.health {
        background-image: asset-image("ic_category_health_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.crafts {
        background-image: asset-image("ic_category_cw_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.entertain {
        background-image: asset-image("ic_category_enter_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.clearance {
        background-image: asset-image("ic_category_clearance_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
      &.lg-electronic {
        background-image: asset-image("ic_category_lgelectronics_nor.png");
        background-position: 50%;
        background-size: 40px;
        background-repeat: no-repeat;
      }
    }
  }
  .sub-menu {
    display: block;
    @include font(30px, bold, $color-gray-999999, 36px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &::before {
    position: relative;
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba($color-white, 0.1);
  }
  &:after {
    content: "";
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 100%;
    background-color: $color-c70850;
  }
  &.focused,
  &.hover {
    &::before,
    &::after {
      display: block;
    }
    &.long-word {
      .sub-menu {
        display: inline-block;
        color: $color-white;
        text-overflow: unset;
        animation: textLoop 5s linear infinite forwards;
      }
    }
  }
  &.selected {
    .sub-menu {
      color: $color-white;
    }
  }
}
// partners
.sub-partners-area {
  overflow: hidden;
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 0;
  right: -216px;
  width: 216px;
  height: 1080px;
  background-color: rgba($color-gray-252525, 0.95);
  // @include scrollbarUi(6px, 100px);
  &::-webkit-scrollbar {
    background-color: transparent;
  }
}
.sub-partners-list-box {
  @include flex(column, flex-start, stretch);
  padding: 30px 48px;
}
.partners-list {
  flex-shrink: 0;
  position: relative;
  width: 138px;
  height: 138px;
  border: 9px solid rgba(0, 0, 0, 0);
  border-right-width: 18px;
  border-left: none;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  &.selected,
  &.focused,
  &.hover {
    overflow: visible;
    margin: 9px 0;
    border-radius: 50%;
    border: none;
    &:before {
      content: "";
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  &.focused,
  &.hover {
    box-shadow: -3px 0px 30px 0 #c70850;
    &:before {
      background: asset-image("ic_tab_partners_focus.png") no-repeat center/138px;
    }
  }
  &.selected {
    &:before {
      background: asset-image("ic_tab_partners_lnb_selected.png") no-repeat center/138px;
    }
    &.focused,
    &.hover {
      box-shadow: -3px 0px 30px 0 #808080;
    }
  }
}
// new badge
.badge-new {
  overflow: hidden;
  @include flex(row, center, center);
  position: absolute;
  top: -4px;
  right: 0;
  z-index: 11;
  width: 60px;
  height: 30px;
  padding: 0 9px;
  @include font(18px, bold, $color-white);
  background-color: $color-ff0000;
  text-transform: uppercase;
  border-radius: 6px;
}

.long-word {
  [class^="menu-link-"] > span:not(.count) {
    display: none;
  }
  [class^="menu-link-"] span,
  .sub-menu {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@keyframes textLoop {
  0% {
    transform: translate(50%);
  }
  to {
    transform: translate(calc(-100% - 189px));
  }
}
