.work-container {
  padding-top: 30rem;
  .work-area {
    @include flex(row, space-between, flex-start);
  }
  .work-area-left {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    padding-top: 10rem;
    .work-label-box {
      .work-label {
        @include font(8rem, 600, $secondary);
        letter-spacing: -0.05rem;
      }
    }
  }
}
.work-list-area {
  @include flex(column, flex-start, flex-start);
  width: 60vw;
  counter-reset: workCount;
}

.work-list-box {
  width: 100%;
  height: 35rem;
  background-color: $primary;
  & + .work-list-box {
    border-top: 1px solid $secondary;
  }
  &:nth-child(even) {
    .work-inner {
      flex-direction: row-reverse;
    }
    .work-left {
      &::before {
        left: auto;
        right: 0;
      }
    }
  }
  .work-inner {
    overflow: hidden;
    position: relative;
    @include flex(row, flex-start, flex-end);
    gap: 5rem;
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    > div {
      flex: 1;
      height: 100%;
    }
  }
}
.work-left {
  position: relative;
  > div {
    width: 100%;
  }
  .work-title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include flex(column, space-between, flex-start);
    height: 100%;
    @include font(clamp(10px, 8.33vw, 35px), 700, $secondary, normal);
    white-space: pre-line;
    word-break: keep-all;
    transition: 0.4s ease;

    &::before {
      content: '';
      display: block;
      counter-increment: workCount;
      content: counter(workCount);
      @include font(8rem, 300, $secondary);
    }
  }
  .work-button {
    position: absolute;
    top: 100%;
    z-index: 2;
    @include flex(column, center, center);
    height: 0;
    gap: 1rem;
    transition: 0.4s ease;
    .btn-work {
      overflow: hidden;
      @include font(clamp(16px, 2.4vw, 25px), 600, $secondary);
    }
  }
}
.work-right {
  position: relative;
  margin-left: auto;
  .thumb-box {
    overflow: hidden;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($primary, 0.75);
      transition: 0.3s ease;
    }
    img {
      filter: grayscale(1);
      object-fit: contain;
      transition: 0.3s ease;
    }
  }
}

@media #{$effective_device} {
  .work-list-box {
    &:focus-within,
    &:hover {
      .work-left {
        .work-title {
          opacity: 0;
          visibility: hidden;
        }
        .work-button {
          top: 0;
          height: 100%;
        }
      }
      .work-right {
        .thumb-box {
          &::before {
            opacity: 0;
          }
          img {
            filter: initial;
          }
        }
      }
    }
    .work-inner {
      .work-button {
        .btn-work {
          &:focus-within,
          &:hover {
            .hover-trans {
              animation: btnAnimation 0.55s cubic-bezier(0.16, 0.03, 0.08, 1.55);
            }
          }
        }
      }
    }
  }
}

@media #{$tablet_1000} {
  .work-container {
    width: 100%;
    padding: 0;
    .work-bottom {
      margin-top: 2rem;
    }
  }
  .work-list-area {
    flex-direction: column;
    gap: 5rem;
  }
  .work-list-box {
    width: 100%;
    height: 25rem;
    padding: 3rem 2rem;
    border-width: 5px;
    border-radius: initial !important;
    box-shadow: rgba($secondary, 0.4) 5px 5px, rgba($secondary, 0.3) 10px 10px, rgba($secondary, 0.2) 15px 15px, rgba($secondary, 0.1) 20px 20px, rgba($secondary, 0.05) 25px 25px;
    &:last-child {
      background-color: $secondary;
      .work-inner {
        &::after {
          color: $primary;
        }
        .work-title {
          color: $primary;
        }
        .work-button {
          .btn-work {
            color: $primary;
          }
        }
      }
    }
    .work-inner {
      justify-content: space-between;
      align-items: flex-start;
      text-align: initial;
      &::after {
        display: block;
      }
      .work-title {
        white-space: initial;
        @include ellipsis(2);
      }
      .work-button {
        opacity: 1;
        visibility: visible;
        position: static;
        align-self: flex-end;
        justify-content: flex-end;
        gap: 0.5rem;
        width: auto;
        height: auto;
        .btn-work {
          color: $secondary;
        }
      }
    }
  }
}

@media #{$mobile_720} {
  .work-list-area {
    gap: 2rem;
  }
  .work-list-box {
    height: 20rem;
    .work-inner {
      .work-title {
        font-size: 2.2rem;
      }
    }
  }
}

@keyframes spinAround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
