/* LSR 소개 */
.about-lsr {
  .tab-button-area {
    .tab-button-box {
      .tab-button {
        width: 18rem;
      }
    }
  }
}
.intro-content-area {
  padding-top: 6rem;
}
.intro-content-top {
  @include flex(column, center, center);
  margin-bottom: 10rem;
}
.intro-title-box {
  margin-bottom: 3.2rem;
  text-align: center;
  .intro-title-label {
    margin-bottom: 0.8rem;
    @include font(1.2rem, 400, $color-gray-02, 1.5);
  }
  .intro-title {
    @include font(2.4rem, 700, $color-gray-01, 1.5);
    .sup {
      font-size: 1.5rem;
      vertical-align: 9px;
    }
  }
}
.intro-info-box {
  text-align: center;
  &.bg-gray {
    @include flex(row, space-between, flex-start);
    padding: 4rem;
    background-color: $color-F8F7FB;
    border-radius: 0.8rem;
    text-align: left;
    & + .bg-gray {
      margin-top: 2rem;
    }
  }
  & + .intro-info-box {
    margin-top: 4rem;
  }
  .intro-info-title {
    flex-shrink: 0;
    width: 22.8rem;
    @include font(1.6rem, 700, $color-gray-01, 1.5);
  }
  .intro-info-text {
    margin-bottom: 2rem;
    @include font(1.6rem, 400, $color-gray-02, 1.5);
    word-break: keep-all;
    &:last-child,
    &:only-child {
      margin-bottom: 0;
    }
  }
  .strong {
    font-weight: 500;
    color: $color-gray-01;
  }
}

/* 트랜드 맵 테이블 */
.map-table-container {
  .map-table-area {
    overflow-y: hidden;
    overflow-x: auto;
  }
  table {
    border: 1px solid $color-C5C7CC;
    tr {
      &:last-child {
        border-bottom: none;
      }
    }
    thead {
      th {
        padding: 1.45rem 1.2rem;
        font-weight: 500;
        &.head-link {
          padding: 1rem;
          border-right: 1px solid $white;
        }
      }
    }
    .main-th {
      font-weight: 500;
    }
    td {
      padding: 1rem 1.2rem;
      text-align: left;
    }
    th,
    td {
      height: auto;
      border-right: 1px solid $color-gray-03;
      @include font(1.6rem, 400, $black, 1.3);
      &:last-child,
      &:only-child {
        border-right: none;
      }
    }
  }
  // 타입별 색상
  .type-yellow {
    .icon-theme-num {
      .num {
        background-color: $color-yellow-theme;
      }
    }
  }
  .type-purple {
    .icon-theme-num {
      .num {
        background-color: $color-purple-theme;
      }
    }
  }
  .type-blue {
    .icon-theme-num {
      .num {
        background-color: $color-blue-theme;
      }
    }
  }
  .type-green {
    .icon-theme-num {
      .num {
        background-color: $color-green-theme;
      }
    }
  }
  .type-pink {
    .icon-theme-num {
      .num {
        background-color: $color-pink-theme;
      }
    }
  }
}
.head-link {
  background-color: $color-secondary;
  .map-head-link {
    @include flex(row, center, center);
    @include font(1.6rem, 700, $white, 1.5);
    .saperate {
      width: 0.1rem;
      height: 1.6rem;
      margin: 0 0.8rem;
      background-color: rgba($white, 0.5);
    }
    &:after {
      content: '';
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 0.8rem;
      background: image('icon/ic_open_in_new_gr.png') no-repeat center/1.6rem;
    }
  }
}
[class^='icon-theme'] {
  @include flex(row, flex-start, center);
  margin-bottom: 1.9rem;
  &:last-child,
  &:only-child {
    margin-bottom: 0;
  }
}
// 숫자
.icon-theme-num {
  margin-left: -0.8rem;
  .num {
    flex-shrink: 0;
    @include flex(row, center, center);
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    @include font(1.2rem, 500, $white, 1.5);
    & + .num {
      margin-left: 0.4rem;
    }
  }
  > span {
    margin-left: 0.8rem;
  }
}
// 영문
.icon-theme-en {
  &::before {
    flex-shrink: 0;
    @include flex(row, center, center);
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    background-color: $color-D6DBE8;
    border-radius: 50%;
    @include font(1.2rem, 500, $black, 1.5);
    text-align: center;
  }
  &.type-a {
    &::before {
      content: 'A';
    }
  }
  &.type-b {
    &::before {
      content: 'B';
    }
  }
  &.type-c {
    &::before {
      content: 'C';
    }
  }
  &.type-m {
    &::before {
      content: 'M';
    }
  }
  &.type-t {
    &::before {
      content: 'T';
    }
  }
  &.type-o {
    &::before {
      content: 'O';
    }
  }
  &.link {
    span {
      text-decoration: underline;
    }
    &::before {
      background-color: #eb008b;
      color: $white;
    }
    &::after {
      content: '';
      flex-shrink: 0;
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      margin-top: 0.4rem;
      margin-left: 0.4rem;
      background: image('icon/ic_open_in_new_gr.png') no-repeat center/1.6rem;
    }
  }
  .icon-theme-en {
    margin-bottom: 0;
  }
}
.map-table-info-area {
  @include flex(row, flex-start, center);
  margin-top: 3.2rem;
  .info-title {
    margin-right: 1rem;
    @include font(1.4rem, 400, $color-gray-01, 1.5);
    &::before {
      content: '';
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      margin-right: 1rem;
      background-color: $black;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  > ul {
    @include flex(row, flex-start, center);
    li {
      margin-right: 1rem;
      @include font(1.4rem, 400, $color-888888, 1.5);

      .icon-theme-en {
        margin-bottom: 0;
      }
    }
  }
}
/* 보고서 연혁 테이블 */
.history-table-container {
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 0.4rem;
  table {
    border: none;
    thead {
      th {
        border-right: 1px solid $white;
        background-color: $color-secondary;
        color: $white;
        font-weight: 700;
        &:first-child {
          background-color: $white;
        }
      }
    }
    tr {
      th {
        font-weight: 500;
      }
    }
    th,
    td {
      height: auto;
      padding: 1rem 1.2rem;
      border-right: 1px solid rgba($black, 0.1);
      background-color: $white;
      @include font(1.4rem, 400, $color-gray-01, 1.3);
    }
    .empty {
      background-color: #fafbfc;
    }
  }
}
