// 기본
.content-top-normal {
  .content-top-inner {
    @extend .max-width-1040;
    padding: 2.4rem 0 5.6rem;
    text-align: center;
  }
  .normal-title {
    @include font(4rem, 700, $color-gray-01, 1.2);
  }
}

// 등록
.content-top-edit {
  border-bottom: 1px solid rgba($black, 0.1);
  .content-top-inner {
    @extend .max-width-1040;
    padding: 2.4rem 0 6rem;
    text-align: center;
  }
  .edit-title {
    @include font(4rem, 700, $color-gray-01, 1.2);
  }
}

// 상세
.content-top-detail {
  border-bottom: 1px solid rgba($black, 0.1);
  .content-top-inner {
    @include flex(column, flex-start, flex-start);
    @extend .max-width-1040;
    padding: 2.4rem 0 1.6rem;
  }
  .detail-title-top {
    width: 86rem;
    .type-label-box {
      margin-bottom: 1.6rem;
    }
  }
  .detail-title {
    @include font(4rem, 700, $color-gray-01, 1.2);
    @include multi-ellipsis(true, 2);
  }
  .detail-title-bottom {
    @include flex(row, space-between, center);
    width: 100%;
    margin-top: 0.8rem;
    .detail-date {
      @include font(1.4rem, 500, $color-888888, 1.5);
    }
    .button-box {
      margin: 0 -0.4rem;
    }
  }
}
