/* Edit */
.edit-container {
  width: 100%;
  padding-top: 4rem;
  .file-data {
    height: 3.2rem;
    padding: 0.6rem 1.2rem;
    background-color: #f6f6f6;
    @include font(1.4rem, 500, $color-gray-02, 1.45);
    border-radius: 6.6rem;
  }
}

// 첨부파일 관리 영역
.file-manage-area {
  width: 100%;
  table {
    border-top: 1px solid $color-gray-03;
    thead {
      tr {
        &:first-child {
          background-color: $white;
        }
        &:last-child {
          background-color: $color-F8F7FB;
        }
      }
    }
    th,
    td {
      height: 3.8rem;
      padding: 0;
      border-right: 1px solid $color-gray-03;
      &:last-child {
        border-right: none;
        border-bottom: 1px solid $color-gray-03;
      }
    }
    th {
      font-size: 1.4rem;
    }
  }
  .checkbox-all-wrap {
    padding: 1.2rem 1.2rem 0.6rem;
    input[type='checkbox'] {
      + .check-icon {
        flex-direction: column-reverse;
        font-size: 1.4rem;
        font-weight: 500;
        &:before {
          margin-top: 0.4rem;
        }
      }
    }
  }
  input[type='checkbox'] {
    + .check-icon {
      justify-content: center;
    }
  }
}
.file-manage-top {
  @include flex(row, flex-start, center);
  margin-bottom: 1.2rem;
  .file-left {
    @include flex(row, flex-start, center);
  }
  .file-right {
    margin-left: auto;
  }
}
.file-manage-item {
  @include flex(row, flex-start, center);
  width: 100%;
  padding: 0.4rem 0;
  border-bottom: 1px solid rgba($black, 0.08);
  &:last-child {
    border-bottom: 0;
  }
  .file-name {
    flex: 1;
    @include flex(row, flex-start, flex-start);
    width: calc(50% - 3.6rem);
    max-width: 82.4rem;
    @include font(1.4rem, 500, $color-gray-02, 1.45);
    text-align: left;
    span {
      @include ellipsis();
    }
    &::before {
      content: '';
      flex-shrink: 0;
      display: block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.8rem;
    }
    &.file-xlsx {
      &::before {
        background: image('icon/ic_xlsx.png') no-repeat center/2rem;
      }
    }
    &.file-docx {
      &::before {
        background: image('icon/ic_docx.png') no-repeat center/2rem;
      }
    }
    &.file-ppt {
      &::before {
        background: image('icon/ic_ppt.png') no-repeat center/2rem;
      }
    }
    &.file-pdf {
      &::before {
        background: image('icon/ic_pdf.png') no-repeat center/2rem;
      }
    }
  }
  .checkbox {
    margin-right: 0.8rem;
  }
  .btn-delete {
    width: 3.6rem;
    height: 3.6rem;
    margin-left: auto;
  }
}
// 주소록 영역
.address-area {
  @include flex(row, flex-start, flex-start);
  width: 100%;
  .address-left {
    flex: 1;
    margin-right: 0.8rem;
  }
  .address-item-box {
    width: 100%;
    padding: 1.2rem 2rem;
    border: 1px solid rgba($black, 0.1);
    border-radius: 0.4rem;

    .address-item {
      @include flex(row, flex-start, center);
      @include font(1.6rem, 400, $color-gray-01, 1.45);
      & + .address-item {
        margin-top: 0.8rem;
      }
    }
    .btn-delete {
      width: 1.6rem;
      height: 1.6rem;
      margin-left: 0.8rem;
    }
  }
}
