/* Footer */
.footer-container {
  height: $footer;
  background-color: $color-F8F7FB;
}
.footer-area {
  @include flex(column, center, flex-start);
  @extend .max-width-1040;
  height: 100%;
  > div {
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.footer-top {
  .logo-box {
    width: 10.4rem;
    height: 3.8rem;
  }
}
.site-map-list-box {
  @include flex(row, flex-start, flex-start);
  .site-map-list {
    & + .site-map-list {
      margin-left: 7.6rem;
    }
  }
  .title {
    position: relative;
    @include font(1.4rem, 700, $color-66707A, normal);
    &::after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-66707A;
    }
    &:hover {
      &::after {
        display: block;
      }
    }
  }
  .list {
    li {
      margin-top: 1.8rem;
      > a {
        position: relative;
        @include font(1.4rem, 400, rgba($color-66707A, 0.7), normal);
        &::after {
          content: '';
          display: none;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba($color-66707A, 0.7);
        }
        &:hover {
          &::after {
            display: block;
          }
        }
      }
    }
  }
}
.footer-bottom {
  width: 100%;
  @include flex(row, space-between, center);
  .copyright {
    @include font(1.2rem, 400, $color-A8B3BD, normal);
  }
}
.family-site-box {
  position: relative;
  width: 24.2rem;
  &.active {
    .btn-open {
      border-color: $color-primary;
      &::after {
        background: image('icon/ic_close_sm_bk.png') no-repeat center/cover;
      }
    }
    .family-site-list {
      display: block;
    }
  }
  .btn-open {
    @include flex(row, space-between, center);
    width: 100%;
    height: 4.8rem;
    padding: 0 1.6rem;
    background-color: $white;
    border: 1px solid $color-DDDDDD;
    border-radius: 0.4rem;
    @include font(1.6rem, 400, $color-gray-01, normal);
    transition: initial;
    &::after {
      content: '';
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background: image('icon/ic_add_sm_bk.png') no-repeat center/cover;
    }
  }
  .family-site-list {
    display: none;
    position: absolute;
    left: 0;
    bottom: 5.6rem;
    width: 100%;
    background-color: $white;
    border: 1px solid $color-DDDDDD;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 8px 0px rgba($black, 0.16);
    li {
      width: 100%;
      height: 4.8rem;
      padding-right: 1.6rem;
      padding-left: 2rem;
      @include flex(row, flex-start, center);
      @include font(1.6rem, 400, $color-gray-01, normal);
      > a {
        &:after {
          content: '';
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          margin-left: 0.8rem;
          background: image('icon/ic_open_in_new_nor.png') no-repeat center/cover;
        }
      }
    }
  }
}
