/* Main */
.main-banner-container {
  padding-top: 13.6rem;
  padding-bottom: 6.4rem;
  background: image('main/img_main_bg_plus_02.png') no-repeat center -6.5rem/104rem auto, $white;
}
.main-banner-area {
  @include flex(column, flex-start, flex-start);
  @extend .max-width-1040;
  height: 100%;
  > div {
    width: 53.2rem;
  }
  .total-search-container {
    position: relative;
  }
  .total-search-bottom {
    position: absolute;
    top: calc(5.6rem + 0.8rem);
    left: 0;
    z-index: 2;
    width: 100%;
    margin-top: 0;
  }
  .search-filter-container {
    padding: 2.4rem 1.8rem;
    border: 1px solid #bfbdbd;
    background-color: $color-FAFAFA;
    border-radius: 0.8rem;
  }
  .total-search-bottom {
    .search-filter-bottom {
      margin-top: 2.4rem;
    }
  }
  .custom-datepicker-container {
    .react-datepicker__input-container {
      .datepicker-input {
        width: 11rem;
        min-width: initial;
        max-width: initial;
        background-color: $white;
      }
    }
  }
}
.main-banner-top {
  margin-bottom: 3rem;
  .banner-title-box {
    margin-bottom: 1rem;
    .banner-title-sub {
      @include font(2.4rem, 500, $color-gray-01, 1.45);
    }
    .banner-title {
      @include flex(row, flex-star, flex-start);
      @include font(7rem, 700, $color-gray-01, 1.25);
      letter-spacing: -0.5px;
      &::after {
        content: '';
        display: block;
        width: 3.4rem;
        height: 3.4rem;
        margin-top: 0.9rem;
        margin-left: 1rem;
        background: image('icon/ic_title_plus.png') no-repeat center/cover;
      }
    }
  }
  .banner-info {
    @include font(1.4rem, 400, rgba($color-gray-01, 0.5), 1.5);
  }
}

/* Main content */
.main-content-container {
  padding-top: 8rem;
  padding-bottom: 4rem;
  .content-title {
    @include font(2.4rem, 700, $color-gray-01, 1.25);
  }
}
.main-content-area {
  @extend .max-width-1040;
  margin: 0 auto 8rem;
  &.bg-gray {
    @extend .max-width-1040;
    margin: 10rem auto;
    padding: 0;
    background: $color-F8F7FB;
    border-radius: 0.8rem;
  }
}
.main-content-top {
  @include flex(row, space-between, center);
  margin-bottom: 3.2rem;
  .btn-all-view {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    @include font(1.6rem, 500, $color-888888, 1.25);
    &:after {
      content: '';
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      background: image('icon/ic_chevron_right.png') no-repeat center/3.2rem;
    }
  }
}
// 퀵링크
.quick-menu-area {
  margin: 0 auto;
  padding: 4rem 0 6.4rem;
  .quick-menu-top {
    margin-bottom: 3.2rem;
    text-align: center;
  }
}
.quick-menu-link-box {
  @include flex(row, center, flex-start);
  margin: 0 -2.4rem;
  .quick-link {
    @include flex(column, center, center);
    margin: 0 2.4rem;
  }
  .quick-link-icon {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
    background-color: $white;
    border-radius: 0.8rem;
    &.icon-01 {
      background: $white image('icon/ic_info.png') no-repeat center/4.4rem;
    }
    &.icon-02 {
      background: $white image('icon/ic_description.png') no-repeat center/4.4rem;
    }
    &.icon-03 {
      background: $white image('icon/ic_speaker_notes.png') no-repeat center/4.4rem;
    }
    &.icon-04 {
      background: $white image('icon/ic_contact_support.png') no-repeat center/4.4rem;
    }
    &.icon-05 {
      background: $white image('icon/ic_help_outline.png') no-repeat center/4.4rem;
    }
  }
  .quick-link-title {
    @include font(1.4rem, 500, $color-gray-02, 1.5);
  }
}
// 공지사항
.board-list-area {
  border-top: 1px solid $black;
  .board-list {
    padding: 2.4rem 0;
    border-bottom: 1px solid rgba($black, 0.08);
    .board-link {
      @include flex(row, flex-start, center);
    }
  }
  .board-left {
    flex: 1;
    margin-right: auto;
    .board-title {
      @include font(1.8rem, 500, $color-gray-01, 1.5);
      @include multi-ellipsis(true, 2);
    }
  }
  .board-right {
    margin-left: 4rem;
    .board-date {
      @include font(1.2rem, 400, $color-gray-02, 1.5);
    }
  }
}
