@include respond-to('mobile') {
    .page-global #global_02 .content-text {
        p { margin-right: -10px; }
        .label-set { margin-right: -10px; }
    }
}
html[lang="zh"] {
    .page-global #global_02 .content-text p { max-width: 860px; }
}

/* News */
.page-news {
    .sub-header {
        h2 { height: auto; }
    }
    .news-wrap {
        position: relative; padding-top: 130px;
    }
    .filter {
        margin-bottom: 40px;
        @include flexbox;
        @include flex-direction(row-reverse);
        @include justify-content(space-between);
        @include align-items(flex-end);
    }
    .filter-tab {
        a {
            display: inline-block;
            font-size: 20px; font-weight: 500; color:#767676;
            &.current { color: #000; font-weight: 700; }
            &+a::before { 
                content: ''; display: inline-block; vertical-align: -1px;
                height: 12px; margin-left: 10px; padding-left: 12px;
                border-left: 2px solid #C4C4C4;
            }
        }
    }    
    .filter-search {
        .search-input {
            @include flexbox;
            @include align-items(center);
            width: 620px; height: 60px; padding: 13px 24px; background-color: #f5f5f5;
            input {
                padding: 0; border: none;
                font-size: 20px; font-weight: 500; line-height: 34px;
                display: block; width: 100%; height: 100%;
                background-color: transparent;
                @include flex(1);
                &:focus, &:active {
                    border: none; outline: none;
                }
            }
            .button-search {
                width: 24px; height: 24px;
                background: inline-svg('search', #000) no-repeat center / 100%;
            }
        }
    }
    
    .pagination {
        text-align: center; font-size: 0;
        > li {
            display: inline-block; vertical-align: middle; margin: 0 10px;
            > a, > span { 
                display: inline-block;
                width: 40px; height: 40px; line-height: 40px; border-radius: 2px;
                font-size: 18px; font-weight: 500; color: #767676; 
                border: 2px solid transparent;
            }
            &.active {
                > a, > span {
                    // color: $colorPrimary;
                    // border-color: $colorPrimary;
                    color: #00aad2;
                    border-color: #00aad2;
                }
            }
            &[class^="skip"] {
                a {
                    position: relative; text-indent: -9999px;
                    &::before {
                        content: '';
                        position: absolute; top: 12px; width: 12px; height: 12px;
                        border-top: 2px solid #666; border-right: 2px solid #666;
                        transform-origin: center;
                    }
                }
            }
            &.skip-prev > a::before { transform: rotate(225deg); left: 14px; }
            &.skip-next > a::before { transform: rotate(45deg); left: 8px; }
        }
    }
    @include respond-to('desktop-under') {
        .news-wrap { padding-top: 80px; }
        .filter { margin-bottom: 30px; }
        .filter-tab {
            a {
                font-size: 18px;
                &+a::before { 
                    vertical-align: -3px;
                    height: 10px; margin-left: 8px; padding-left: 10px;
                    border-left-width: 1px;
                }
            }
        }    
        .filter-search {
            .search-input {
                width: 360px; height: 54px; padding: 12px 20px; 
                input { font-size: 18px; line-height: 30px; }
                .button-search { width: 20px; height: 20px; }
            }
        }
        
        .pagination {
            > li {
                margin: 0 9px;
                > a, > span { 
                    width: 32px; height: 32px; line-height: 32px;
                    font-size: 16px;
                }
                &[class^="skip"] {
                    a {
                        &::before {
                            top: 9px; width: 10px; height: 10px;
                            border-top-width: 1px; border-right-width: 1px;
                        }
                    }
                }
                &.skip-prev > a::before { left: 12px; }
                &.skip-next > a::before { left: 7px; }
            }
        }
    }
    @include respond-to('mobile') {
        .news-wrap { padding-top: 75px; }
        .filter {
            margin-bottom: 20px;
            @include flex-direction(column);
            @include align-items(flex-start);
        }
        .filter-tab {
            a {
                font-size: 15px;
                &+a::before { 
                    vertical-align: -3px;
                    height: 10px; margin-left: 11px; padding-left: 13px;
                    border-left-width: 1px;
                }
            }
        }    
        .filter-search {
            margin-bottom: 30px;
            width: 100%;
            .search-input {
                width: 100%; height: 49px; padding: 12px 15px; 
                input { font-size: 15px; line-height: 25px; }
                .button-search { width: 20px; height: 20px; }
            }
        }
        
        .pagination {
            > li {
                margin: 0 8px;
                > a, > span { 
                    width: 24px; height: 24px; line-height: 24px; border-radius: 1px;
                    font-size: 15px; border-width: 1px;
                }
                &[class^="skip"] {
                    a {
                        &::before {
                            top: 8px; width: 6px; height: 6px;
                            border-top-width: 1px; border-right-width: 1px;
                        }
                    }
                }
                &.skip-prev > a::before { left: 9px; }
                &.skip-next > a::before { left: 7px; }
            }
        }
    }
}

/* Search Result */
.search-result {
    padding: 84px 0 40px;
    border-top: 1px solid #c4c4c4;
    .container { max-width: 1340px; }
    .result-title {
        font-size: 30px; font-weight: 700;
        .result-count {
            display:inline-block; margin-left: 12px; vertical-align: middle;
            background-color: $colorPrimary;
            height: 24px; line-height: 25px; border-radius: 12px;
            font-size: 15px; font-weight: 700; color: #fff;
            font-family: 'Hyundai Sans Head KR', 'Hyundai Sans Head';
            padding: 0 14px;
        }
    }
    &.no-result {
        .no-result-text {
            padding: 70px 0 150px; text-align: center;
            span { font-weight: 500; }
            strong { font-weight: 700; }
            span, strong { display: inline-block; vertical-align: middle; font-size: 20px; }
            &::before {
                content: '';
                display: inline-block; vertical-align: middle;
                width: 32px; height: 32px; margin-right: 12px;
                background: inline-svg('search-noresult', #000) no-repeat center / 100%;
            }
        }
    }
    @include respond-to('desktop-under') {
        padding: 60px 0 30px;
        .result-title {
            font-size: 25px; 
            .result-count {
                height: 24px; line-height: 24px; border-radius: 12px;
                font-size: 16px; padding: 0 14px;
            }
        }
        &.no-result {
            .no-result-text {
                padding: 40px 0 110px;
                span, strong { font-size: 18px; }
                &::before { width: 30px; height: 30px; margin-right: 8px; }
            }
        }
    }
    @include respond-to('mobile') {
        padding: 40px 0 20px;
        .result-title {
            font-size: 20px;
            .result-count {
                height: 20px; line-height: 20px; border-radius: 10px;
                font-size: 13px; padding: 0 12px;
            }
        }
        &.no-result {
            .no-result-text {
                padding: 25px 0 80px;
                span, strong { font-size: 14px; }
                &::before { display: block; width: 30px; height: 30px; margin: 0 auto 6px; }
            }
        }
    }
}

/* News Detail */
.page-newsdetail {
    padding-bottom: 0;
    .container { max-width: 1340px; }
    .breadcrumb .container { max-width: 1600px; }

    .news-top {
        text-align: center;
        padding: 110px 0 100px;
        .type { font-size: 30px; font-weight: 700; color:$colorPrimary; margin-bottom: 14px; }
        h1 { font-size: 64px; font-weight: 500; line-height: 1.34; margin-bottom: 36px; }
        time { font-size: 24px; font-weight: 500; color:#767676; }
        @include respond-to('desktop-under') {
            padding: 90px 0 50px;
            .type { font-size: 25px; margin-bottom: 12px; }
            h1 { font-size: 42px; margin-bottom: 24px; }
            time { font-size: 20px; }
        }
        @include respond-to('mobile') {
            padding: 75px 0 35px;
            .type { font-size: 20px; margin-bottom: 10px; }
            h1 { font-size: 27px; margin-bottom: 17px; }
            time { font-size: 14px; }
        }
    }

    .news-summary {
        background-color: #f5f5f5; padding: 77px 0;
        .container { max-width: 1080px; }
        .summary-cont { font-size: 20px; font-weight: 500; color:#5d5d5d; line-height: 1.7; }
        .download { 
            @include flexbox;
            @include align-items(center);
            width: 100%; background-color: #fff;
            padding: 30px 38px; margin-top: 60px;
            span {
                color:#5F5F5F; font-size:18px; font-weight: 500;
                &.filename { font-weight: 400; @include flex(1); margin-left: 5px; }
            }
            &::after {
                content: '';
                display: block;
                width: 24px; height: 24px;
                background: inline-svg('file-download', #000) no-repeat center / 100%;
            }
        }
        @include respond-to('desktop-under') {
            padding: 50px 0;
            .summary-cont { font-size: 15px; }
            .download { 
                padding: 20px 22px; margin-top: 40px;
                span { font-size:15px; }
                &::after { width: 22px; height: 22px; }
            }
        }
        @include respond-to('mobile') {
            padding: 30px 0;
            .summary-cont { font-size: 11px; }
            .download { 
                padding: 10px 11px; margin-top: 20px;
                span { font-size:11px; }
                &::after { width: 20px; height: 20px; }
            }
        }
    }

    .news-gallery {
        .gallery-thumb {
            margin-top: 24px;
            .swiper-slide {
                &::after {
                    content: ''; display: block;
                    position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;
                    background-color: rgba(0,0,0,0.5);
                }
                &.swiper-slide-thumb-active::after {
                    background-color: transparent;
                    box-shadow: inset 0px 0px 0px 2px $colorPrimary;
                }
            }
        }
        @include respond-to('notmobile') {
            padding-top: 114px;
            .gallery-thumb {
                .swiper-scrollbar { display: none; }
            }
        }
        @include respond-to('desktop-over') {
            .gallery-thumb-wrap {
                position: relative;
                > [class^="thumb-"] {
                    position: absolute; top: 50%; margin-top: -10px;
                    display: block; width: 18px; height: 18px;
                    border-top: 2px solid #000;
                    border-right: 2px solid #000;
                    transform-origin: center;
                    cursor: pointer;
                }
                .thumb-next { transform: rotate(45deg); right: -40px; }
                .thumb-prev { transform: rotate(225deg); left: -40px; }
            }
        }
        @include respond-to('desktop-under') {
            .gallery-thumb-wrap {
                > [class^="thumb-"] { display: none; }
            }
        }
        @include respond-to('mobile') {
            padding-top: 50px;
            .container { padding: 0; }
            .gallery-main { padding: 0 25px; }
            .gallery-thumb {
                padding-left: 25px;
                padding-bottom: 17px;
                margin-top: 13px;
                .swiper-slide {
                    width: 95px;
                    &.swiper-slide-thumb-active::after {
                        box-shadow: inset 0px 0px 0px 1px $colorPrimary;
                    }
                }
                > .swiper-scrollbar {
                    width: auto;
                    left: 25px;
                    right: 25px;
                    height: 1px;
                    border-radius: 0px;
                    .swiper-scrollbar-drag {
                        border-radius: 0px;
                        background-color: $colorPrimary;
                    }
                }
            }
        }
    }

    .news-body {
        .container {
            padding-top: 120px;
            padding-bottom: 120px;
            max-width: 1080px;
        }
        h2 {
            position: relative; font-size: 20px; font-family: 'Hyundai Sans Text KR';
            padding-left: 12px;
            &::before {
                content: '';
                display: block; width: 4px; height: 4px; border-radius: 50%;
                position: absolute; left: 0; top: 4px;
                background-color: $colorPrimary;
            }
        }
        p {
            font-size: 20px; line-height: 1.8; margin-bottom: 20px; 
        }
        .text { padding-left: 124px; padding-right: 124px; }

        @include respond-to('desktop-under') {
            .container {
                padding-top: 80px;
                padding-bottom: 80px;
                &::after { left: 30px; right: 30px; }
            }
            h2 { font-size: 18px; }
            p { font-size: 16px; }
            .text { padding-left: 60px; padding-right: 60px; }
        }
        @include respond-to('mobile') {
            margin-bottom: 55px;
            .container {
                padding-top: 50px;
                padding-bottom: 50px;
                &::after { left: 25px; right: 25px; }
            }
            h2 {
                font-size: 15px;
                &::before { width: 3px; height: 3px; top: 2px; }
            }
            p { font-size: 14px; }
            .text { padding-left: 0px; padding-right: 0px; }
        }
    }

    .btn-group {
        .container {
            padding-top: 70px;
            border-top: 1px solid #cacaca;
            @include respond-to('mobile') {
                padding-top: 55px;
            }
        }
    }

    .news-others {
        position: relative;
        padding-top: 160px;
        padding-bottom: 106px;
        &::after {
            content: ''; display: block;
            position: absolute; left: 0; right: 0; bottom: -112px; z-index: 1;
            height: 612px; background-color: #f5f5f5;
        }
        .others-list {
            position: relative; z-index: 2;
            margin-left: -12px; margin-right: -12px;
            &::before, &::after { content: ''; display: table; }
            &::after { clear: both; }
            > div { float: left; width: 50%; padding: 0 12px; }
        }
        .other-title { font-size: 20px; font-weight: 700; color: #444; margin-bottom: 10px; }        
        @include respond-to('notmobile') {
            .news .info .title { font-size: 28px; }
        }
        @include respond-to('desktop-under') {
            padding-top: 120px;
            padding-bottom: 60px;
        }
        @include respond-to('mobile') {
            padding-top: 85px;
            padding-bottom: 35px;
            &::after { bottom: -60px; height: 260px; }
            .others-list {
                margin-left: -6px; margin-right: -6px;
                > div { padding: 0 6px; }
            }
            .other-title { font-size: 11px; margin-bottom: 8px; }
        }
    }
    
    .btn-group {
        @include respond-to('mobile') {
            .btn { width: 106px; padding: 0; }
        }

    }
}


html[lang="zh"] .page-newsdetail .news-body h2 { font-family: 'Hyundai Sans Head', 'Noto Sans SC'; }