<% var type = locals.type ? locals.type : '' %>

<div class="footer">
  <div class="footer_content">
    <span class="copyright label_medium">Copyright ⓒ HYUNDAI MOTOR COMPAN.ALL RIGHRS RESERVED</span>
  </div>
</div>