<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<%_if(locals.listTitle){_%><meta name="list" content="<%=listTitle%>"><%_}_%>
	<title><%=locals.title%></title>

	<!-- HMG 디자인시스템 import -->
  <link rel="stylesheet" href="http://tm.pages.hivelab.co.kr/hmg-design-system-uio/css/hmg-design-system-style-guide.css">
	<link rel="stylesheet" href="../css/libs.css">
	<link rel="stylesheet" href="../css/hmg-sales-system.css">
  <!-- [D] 개발제외! 모바일 케이스 뷰(마크업용) -->
  <link rel="stylesheet" href="../css/sample_style.css">
</head>