<!-- [D] Menu component -->
<div class="option_menu_popup option_medium" style="display: none;">
  <div class="backdrop"></div>
  <div class="option_box shadow_4dp">
    <ul class="option_list" role="listbox">
      <li class="option_item" role="option"><span class="option_text body_small">Enabled</span></li>
      <li class="option_item option_item_selected" role="option"><span class="option_text body_small">Selected</span></li>
      <li class="option_item" role="option"><span class="option_text body_small">Enabled</span></li>
      <li class="option_item" role="option"><span class="option_text body_small">Enabled</span></li>
      <li class="option_item" role="option"><span class="option_text body_small">Enabled</span></li>
    </ul>
  </div>
</div>
<!-- // [D] Menu component -->