<div class="pagination pagination_small">
  <a href="#none" class="btn_pagination btn_pagination_disabled" aria-label="처음" aria-disabled="true">
    <span class="ic ic_firstpage_bold_16px"></span>
  </a>
  <a href="#none" class="btn_pagination btn_pagination_disabled" aria-label="이전" aria-disabled="true">
    <span class="ic ic_arrow_back_bold_16px"></span>
  </a>
  <ul class="pagination_list">
    <li class="pagination_item">
      <a href="#none" class="link_pagination" aria-current="page"><span class="pagination_text body_small">1</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">2</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">3</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">4</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">5</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">6</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">7</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">8</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">9</span></a>
    </li>
    <li class="pagination_item">
      <a href="#none" class="link_pagination"><span class="pagination_text body_small">10</span></a>
    </li>
  </ul>
  <a href="#none" class="btn_pagination" aria-label="다음">
    <span class="ic ic_arrow_forward_bold_16px"></span>
  </a>
  <a href="#none" class="btn_pagination" aria-label="마지막">
    <span class="ic ic_lastpage_bold_16px"></span>
  </a>
</div>