<!-- Skip Navigation -->
<ul class="skip">
<li><a href="#lnb" onclick="document.getElementById('lnb').tabIndex=-1;document.getElementById('lnb').focus();return false;">Skip to navigation</a></li>
<li><a href="#content" onclick="document.getElementById('content').tabIndex=-1;document.getElementById('content').focus();return false">Skip to content</a></li>
</ul>
<!-- // Skip Navigation -->