* {
  box-sizing: border-box;
  font-family: 'Pretendard' !important;
}

html,
body {
  font-family: 'Pretendard';
  font-size: 10px;
  -webkit-tap-highlight-color: transparent !important;
  background-color: white;
}

html {
  &.desktop {
    min-width: 1024px;
  }
  &.mobile {
    max-width: 1024px;
  }
}

.hidden {
  display: none !important;
}

.wrapper {
  min-height: 100vh;
  @include flex(column, flex-start, center);
  > * {
    width: 100%;
  }
}

main {
  flex: 1;
}

.strong {
  font-weight: 700;
}
.primary {
  color: $primary;
}
.red {
  color: $red !important;
}

.use-pc {
  display: block !important;
}

.use-mobile {
  display: none !important;
}

.btn {
  &.btn-qr,
  &.btn-nfc {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0;
    padding: 0;
    border: 0;
  }
  &.btn-qr {
    margin: 0 0.8rem;
    background: asset-image('ic_qr.svg') no-repeat center / 2.4rem;
    + .btn {
      margin: 0;
    }
  }
  &.btn-nfc {
    background: asset-image('ic_nfc.svg') no-repeat center / 2.4rem;
  }
}

@media #{$mobile} {
  html {
    &.mobile {
      * {
        &:not(body):not(html) {
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
          &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Opera*/
          }
        }
      }

      .mobile-gnb-container {
        + main {
          padding-bottom: 6rem;
          &.app-home {
            padding-bottom: 10rem;
          }
        }
      }

      main {
        padding-top: 5.2rem;
      }

      .use-pc {
        display: none !important;
      }

      .use-mobile {
        display: block !important;
      }
    }
  }
}
