.ic {
  &.ic-caution-red {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.4rem;
    background: asset-image('ic_caution_red.svg') no-repeat center / 2.4rem;
  }
  &.ic-more-w {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: asset-image('ic_more_w.svg') no-repeat center / 2rem;
  }
  &.ic-search-up {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('ic_combobox_arrow_nor.svg') no-repeat center / 2.4rem;
  }
  &.ic-search-down {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('ic_combobox_arrow_nor.svg') no-repeat center / 2.4rem;
    transform: rotate(180deg);
  }
  &.ic-search-close {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('ic_closehamburger.svg') no-repeat center / 2.4rem;
  }
  &.ic-notice {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('ic_notice.svg') no-repeat center / 2.4rem;
  }
  &.ic-id {
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.4rem;
    background: asset-image('ic_id.svg') no-repeat center / 1.9rem;
  }
  &.ic-pw {
    display: inline-block;
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.4rem;
    background: asset-image('ic_pw.svg') no-repeat center / 1.9rem;
  }
  &.ic-setting {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.4rem;
    background: asset-image('ic_setting.svg') no-repeat center / 1.2rem;
  }
  &.ic-company {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.4rem;
    background: asset-image('ic_company.svg') no-repeat center / 2.4rem;
  }
  &.ic-search {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('ic_search.svg') no-repeat center / 2.4rem;
  }
  &.ic-more-b {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('app/ic_more_24.svg') no-repeat center / 2.4rem;
  }
  &.ic-file {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: asset-image('app/ic_attached.svg') no-repeat center / 1.8rem;
  }
  &.ic-gnb-setting {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    background: asset-image('app/ic_gnb_setting.svg') no-repeat center / 3.2rem;
  }
}
