* {
  box-sizing: border-box;
  font-family: 'Pretendard', 'sans-serif' !important;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  font-family: 'Pretendard', 'sans-serif';
  font-size: 10px;
  font-size: clamp(5px, 0.521vw, 10px);
  -webkit-tap-highlight-color: transparent !important;
}

.hidden {
  display: none !important;
}

.wrapper {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overflow: auto;
  height: 100%;
  @include flex(column, flex-start, center);
  > * {
    width: 100%;
  }

  &.sub-page-land-image {
    overflow: hidden;

    .header-container {
      position: static;
      min-height: auto;
      padding: 0;
      .header-area {
        height: auto;
        padding: 0;
      }

      .header-left-box {
        display: none;
      }

      .menu-box {
        position: fixed;
        top: 3.6rem;
        right: 8rem;
      }
    }

    .layout-middle-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

main {
  flex: 1;
}

.strong {
  font-weight: 700;
}

.main-container {
  @include flex(column, flex-start, center);
  min-height: 0;
  height: 100%;
  > * {
    width: 100%;
  }
}

img {
  display: block;
  @include imgbox();
}

.scroll-hidden {
  overflow: hidden !important;
}

.back-button-box {
  .btn-back {
    width: 4.4rem;
    height: 4.4rem;
    padding: 0;
    border: 1px solid $gray-200;
    border-radius: 100%;
    &::before {
      content: '';
      display: block;
      min-width: 2.6rem;
      height: 2.6rem;
      background: asset-image('icon/ic_pc_arrow_left_26.svg') no-repeat center / 2.6rem;
    }
    &:hover {
      background-color: rgba($gray-900, 0.1);
    }
    &:disabled {
      background-color: transparent;
      &::before {
        opacity: 0.3;
      }
    }
  }
}

.section-container {
  height: 100%;
  .section-area {
    @include flex(row, space-between, flex-start);
    height: 100%;
    .section-left-box,
    .section-right-box {
      width: 50%;
      height: 100%;
    }

    .canvas-box {
      position: relative;
      height: 100%;
      background-color: $gray-200;
    }

    .layout-box {
      position: relative;
      @include flex(column, flex-start, flex-start);
      height: 100%;
      padding: 11.2rem 10rem 5rem;
      .layout-middle-box {
        flex: 1;
        width: 100%;
        min-height: 1px;
      }

      .layout-bottom-box {
        width: 100%;
        margin-top: 4.8rem;
        .button-box {
          display: flex;
          gap: 1rem;
          word-break: keep-all;
          .btn {
            flex: 1;
          }
        }
      }
    }
  }
}

.use-pc {
  display: block !important;
}

.use-tablet {
  display: none !important;
}

.use-mobile {
  display: none !important;
}

.top-button-box {
  z-index: 99;
  opacity: 0;
  position: fixed;
  bottom: 10rem;
  right: 4rem;
  width: auto;
  transition: opacity 0.3s linear;
  .btn-top {
    width: 8rem;
    height: 8rem;
    background: asset-image('icon/ic_top.svg') no-repeat center / 8rem;
  }
}

@media #{$tablet} {
  html,
  body {
    font-size: clamp(1px, 2.78vw, 10px);
  }

  .wrapper {
    &.sub-page-land-image {
      .header-container {
        position: fixed;
        top: 0;
        left: 0;
        .header-area {
          padding: 1rem 2rem;
        }
        .menu-box {
          position: static;

          .btn-menu {
            .bar {
              background-color: $white;
            }
          }
        }
      }
    }
  }

  .section-container {
    .section-area {
      flex-direction: column;
      .section-left-box,
      .section-right-box {
        width: 100%;
        height: auto;
      }

      .section-left-box {
        position: relative;
        height: 32rem;
        .canvas-box {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }

      .section-right-box {
        flex: 1;
        min-height: 0;
      }

      .layout-box {
        padding: 0;
        .layout-middle-box {
          overflow: auto;
          padding: 2.6rem 2rem 12.7rem;
        }

        .layout-bottom-box {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0;
          padding: 1.6rem 2rem 2rem;
          background-color: $white;
          box-shadow: 0 -0.6rem 1.4rem 0 rgba(0, 0, 0, 0.1);
          .button-box {
            .btn {
              padding: 1.6rem 1rem;
              border-radius: 1.2rem;
              font-size: 1.6rem;
              line-height: 2.4rem;
            }
          }
        }
      }
    }
  }

  .back-button-box {
    z-index: 999;
    position: fixed;
    top: 1rem;
    left: 2rem;
    .btn-back {
      width: 3.2rem;
      height: 3.2rem;
      padding: 0;
      border: 0;
      border-radius: unset;
      &::before {
        width: 3.2rem;
        height: 3.2rem;
        background: asset-image('icon/ic_mo_top_back_b.svg') no-repeat center / 3.2rem;
      }
    }
  }

  .use-pc {
    display: none !important;
  }

  .use-tablet {
    display: block !important;
  }

  .top-button-box {
    bottom: 6rem;
    right: 2rem;
    .btn-top {
      width: 5rem;
      height: 5rem;
      background-size: 5rem;
    }
  }
}

@media #{$mobile_middle} {
  .use-mobile {
    display: block !important;
  }
}

@media #{$mobile_small} {
  .section-container {
    .section-area {
      .layout-box {
        .layout-bottom-box {
          .button-box {
            .btn {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

// 모바일 가로모드
@media #{$tablet} and (orientation: landscape) and (pointer:coarse) {
  .sub-page-land-image {
    .header-container {
      display: none;
    }
    .back-button-box {
      display: none;
    }
  }

  .section-container {
    .section-area {
      .section-left-box {
        height: 100%;
      }

      .section-right-box {
        .layout-middle-box,
        .layout-bottom-box {
          display: none;
        }
      }
    }
  }
}

@media #{$mobile_device} {
  .back-button-box {
    .btn-back {
      &:hover {
        background-color: transparent;
      }
    }
  }
}
