.ic {
  display: inline-block;
  &.ic-arrow-24 {
    width: 2.4rem;
    height: 2.4rem;
    background: asset-image('icon/ic_pc_arrow_right_24.svg') no-repeat center / contain;
  }
  &.ic-arrow-32 {
    width: 3.2rem;
    height: 3.2rem;
    background: asset-image('icon/ic_pc_arrow_right_32.svg') no-repeat center / contain;
  }
  &.ic-arrow-b {
    width: 3rem;
    height: 3rem;
    background: asset-image('icon/ic_pc_arrow_right_30.svg') no-repeat center / contain;
  }
  &.ic-pin {
    width: 2rem;
    height: 2rem;
    background: asset-image('icon/ic_pc_start_pin_black.svg') no-repeat center / contain;
  }
  &.ic-download {
    width: 2rem;
    height: 2rem;
    background: asset-image('icon/ic_pc_start_download_black.svg') no-repeat center / contain;
  }
  &.ic-alert {
    width: 2rem;
    height: 2rem;
    background: asset-image('icon/ic_pc_co_alert.svg') no-repeat center / contain;
  }
  &.ic-plus {
    width: 3.2rem;
    height: 3.2rem;
    background: asset-image('icon/ic_pc_co_plus_l.svg') no-repeat center / contain;
  }
}
