<div class="datepicker-container datepicker-@@size" id="@@pickerId">
  <div class="datpicker-area">
    <div class="input-box">
      <button type="button" class="btn-calendar" title="calendar-icon"></button>
      <input
        type="text"
        class="form-control input-text datepicker-input"
        name="range"
        id="@@start"
        placeholder="@@placeholder"
        readonly
        @@property
      />
    </div>
  </div>

  <div class="separator">~</div>

  <div class="datpicker-area">
    <div class="input-box">
      <button type="button" class="btn-calendar" title="calendar-icon"></button>
      <input
        type="text"
        class="form-control input-text datepicker-input"
        name="range"
        id="@@end"
        placeholder="@@placeholder"
        readonly
        @@property
      />
    </div>
  </div>
</div>
