<div class="field field-file @@required @@class">
  <!-- prettier-ignore -->
  @@if(label) {
  <div class="field-label">
    <span class="text">@@label</span>
    <!-- prettier-ignore -->
    @@if(tooltip) {
      @@for(var i = 0; i < tooltip.length; i++) {
        @@include("../../components/tooltip.html", `+(JSON.stringify(tooltip[i]))+`)
      }
    }
  </div>
  }
  <div class="field-form">
    <div class="file-container">
      <div class="file-area" data-container="@@number">
        <div class="file-list">
          <div class="file-left">
            <div class="file">
              <input type="text" class="file-name" placeholder="@@placeholder" readonly onfocus="this.blur();" />
              <label for="@@id" class="file-label">@@btnText</label>
              <input type="file" name="" id="@@id" class="file-upload" />
            </div>
          </div>
          <div class="file-right">
            <!-- prettier-ignore -->
            @@if(multiUpload) {
            <div class="button-box">
              <button type="button" class="btn btn-add-file-field">
                <span class="text">추가</span>
              </button>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <!-- prettier-ignore -->
    @@if(fieldDesc) {
    <div class="field-desc">
      @@for(var i = 0; i < fieldDesc.length; i++) {
      <p class="`+fieldDesc[i].class+`">`+fieldDesc[i].text+`</p>
      }
    </div>
    }
  </div>
</div>
