<div class="field field-time field-@@size @@required @@class">
  <!-- prettier-ignore -->
  @@if(label) {
  <div class="field-label">
    <span class="text">@@label</span>
    @@if(tooltip) { @@for(var i = 0; i < tooltip.length; i++) {
    <!-- prettier-ignore -->
    @@include("../../components/tooltip.html", `+(JSON.stringify(tooltip[i]))+`) 
      }
    }
  </div>
  }
  <div class="field-form">
    <!-- prettier-ignore -->
    @@include("../../components/timePicker.html",{
      "size" : "large",
      "id"   : "@@id",
      "placeholder" : "00:00",
      "property" : "@@disabled",
    })
  </div>
</div>
