<div class="field field-radio @@required">
  <!-- prettier-ignore -->
  @@if(label) {
  <div class="field-label">
    <span class="text">@@label</span>
    @@if(tooltip) { @@for(var i = 0; i < tooltip.length; i++) { @@include("../../components/tooltip.html",
    `+(JSON.stringify(tooltip[i]))+`) } }
  </div>
  }
  <div class="field-form">
    <div class="radio-box">
      <!-- prettier-ignore -->
      @@for (var i = 0; i < radio.length; i++) {
      <div class="radio">
        <!-- prettier-ignore -->
        <input type="radio" name="`+radio[i].name+`" id="`+radio[i].name+`-`+ [i+1]  +`" `+radio[i].disabled+` />
        <label for="`+radio[i].name+`-`+ [i+1] +`"><span class="radio-label">`+radio[i].label+`</span></label>
      </div>
      }
    </div>
  </div>
</div>
