<footer class="footer-container">
  <div class="footer-area">
    <div class="footer-left">
      <div class="footer-info-box">
        <ul class="footer-lists">
          <li class="footer-list">
            <a href="javascript:void(0);" class="link-box">이용약관</a>
          </li>
          <li class="footer-list">
            <a href="javascript:void(0);" class="link-box">개인정보 처리방침</a>
          </li>
          <li class="footer-list">
            <a href="javascript:void(0);" class="link-box">영상정보 처리방침</a>
          </li>
        </ul>
        <div class="address-box">
          <p>(주)에스원 사업자등록번호 208-81-133302 대표이사 남궁범 04511 서울특별시 중구 세종대로 7길 에스원 빌딩</p>
        </div>
        <div class="copylight-box">
          <p>© S-1 Corp. All Rights Reserved.</p>
        </div>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-logo-box">
        <a href="javascript:void(0);" class="footer-logo-link">
          <img src="../../assets/images/img_footer_logo.svg" alt="에스원 LIVIS" />
        </a>
      </div>
    </div>
  </div>
</footer>
