<header class="header-container @@type">
  <div class="header-area">
    <div class="header-top-container">
      <div class="header-top-area">
        <div class="header-top-left">
          <div class="search-box">
            @@if(type === 'tenant' || type === 'tenant2') {
            <div class="building-name-box">
              <span>ENA 빌딩</span>
            </div>
            } @@if(type === 'owner') {
            <div class="building-select-box">
              <div class="field field-dropdown">
                <div class="field-form">
                  <!-- prettier-ignore -->
                  @@include("../../components/dropdown.html",{
                      "title" : "",
                      "size" : "small",
                      "value" : "ENA 빌딩",
                      "placeholder" : "",
                      "option" : [ 
                        {
                          "text" : "ENA 빌딩",
                          "property" : "active",
                        },
                        {
                          "text" : "옵션2",
                          "property" : "",
                        },
                        {
                          "text" : "옵션3",
                          "property" : "",
                        },
                        {
                          "text" : "옵션4",
                          "property" : "",
                        },
                      ],
                      "disabled" : false,
                    })
                </div>
              </div>
            </div>
            }
            <div class="button-box">
              <button type="button" class="btn-go-to-page">
                @@if(property === 'disabled') {
                <span>건물 정보를 등록해 주세요. </span>
                } @@if(property !== 'disabled') {
                <span>건물 정보</span>
                }
              </button>
              @@if(type === 'owner') {
              <!-- prettier-ignore -->
              @@include("../../components/tooltip.html", {
                  "text" : [
                    "현재 설정된 건물의 정보입니다. 건물은 변경이 가능합니다.",
                  ],
                }) 
              }
            </div>
          </div>
        </div>
        <div class="header-top-right">
          <div class="header-menu-lists">
            <div class="header-menu-list">
              <div class="user-box">
                <div class="user-name-box">
                  <span>에스원님 안녕하세요!</span>
                </div>
                <div class="button-box">
                  <button type="button" class="btn btn-secondary btn-xsmall btn-edit">
                    <span>내 정보</span>
                  </button>
                </div>
              </div>
            </div>

            @@if(type === 'owner') {
            <div class="header-menu-list">
              <div class="button-box">
                <button type="button" class="btn-go-to-page">
                  <span>다른 건물 등록</span>
                </button>
                <!-- prettier-ignore -->
                @@include("../../components/tooltip.html", {
                  "text" : [
                    "다른 건물을 등록하시면 해당 텍스트를 눌러 주세요.",
                  ],
                })
              </div>
            </div>
            } @@if(type === 'tenant' || type === 'owner') {
            <div class="header-menu-list">
              <div class="link-box">
                <button type="button" class="btn-icon btn-mgmt">
                  @@if(type === 'tenant') {
                  <span>임직원 관리</span>
                  } @@if(type === 'owner') {
                  <span>입주사 관리</span>
                  }
                </button>
              </div>
            </div>
            }

            <div class="header-menu-list">
              <!--
                comment : 로그인 시 노출
              -->
              <div class="logout-box">
                <button type="button" class="btn-text btn-logout">
                  <span>로그아웃</span>
                </button>
              </div>

              <!--
                comment : 로그아웃 시 노출
              -->
              <!-- <div class="login-box">
                <p class="guide">로그인이 필요합니다</p>
                <button type="button" class="btn btn-secondary btn-xsmall btn-login">
                  <span>로그인</span>
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-bottom-container">
      <div class="header-bottom-area">
        <div class="header-bottom-left">
          <div class="header-logo-box">
            <a href="javascript:void(0);" class="header-logo-link">
              <img src="../../assets/images/img_logo.svg" alt="에스원 LIVIS" />
            </a>
          </div>
        </div>
        <div class="header-bottom-middle">
          <div class="gnb-box">
            <ul class="gnb-lists @@property">
              @@if(type === 'tenant' || type === 'tenant2') {
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">문의하기</a>
              </li>
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">분실물 찾기</a>
              </li>
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">시설 안내</a>
              </li>
              } @@if(type === 'owner') {
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">문의하기</a>
              </li>
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">문의 내역</a>
              </li>
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">건물 점검</a>
              </li>
              <li class="gnb-list">
                <a href="javascript:void(0)" class="link">공사 관리</a>
              </li>
              }
            </ul>
          </div>
        </div>
        <div class="header-bottom-right">
          <div class="menu-button-box">
            <button type="button" class="btn-icon btn-menu" title="메뉴"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-container">
      <div class="menu-area">
        <div class="menu-top">
          <div class="menu-title-box">
            <span>전체메뉴</span>
          </div>
          <div class="menu-button-box">
            <button type="button" class="btn-menu-close" title="메뉴 닫기"></button>
          </div>
        </div>

        <div class="menu-middle">
          <div class="menu">
            @@if(type === 'tenant' || type === 'tenant2') {
            <ul class="menu-lists">
              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">문의하기</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link active">문의 등록</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">나의 문의 내역</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">오늘의 문의 내역</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">시설 안내</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">주요 시설 안내</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">대피 안내도</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">분실물 관리</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">분실물 조회</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">습득물 등록</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">고객센터</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">공지사항</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">고객만족도 설문</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            } @@if(type === 'owner') {
            <ul class="menu-lists">
              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">건물 현황</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">문의 현황</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">점검 관리</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">건물 리포트</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">에너지 실적 조회</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">에너지 증감 분석</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">건물 기본 정보</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">건물 정보</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">관리 구역</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">장비 관리</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">도면 관리</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">법규 관리</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">운영메뉴얼</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">문의하기</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link active">업무 문의 등록</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">서비스 문의 등록</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">나의 문의 내역</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">오늘의 문의 내역</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">분실물 관리</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">분실물 조회</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">습득물 등록</a>
                    </li>
                  </ul>
                </div>
              </li>

              <li class="menu-list">
                <div class="depth-1-box">
                  <button type="button" class="name">고객센터</button>
                </div>
                <div class="depth-2-box">
                  <ul class="depth-2-menu-lists">
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">공지사항</a>
                    </li>
                    <li class="depth-2-menu-list">
                      <a href="javascript:void(0)" class="link">고객만족도 설문</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
