<div class="filter-view-container">
  <div class="filter-view-area">
    @@if(head) {
      <div class="filter-view-top">
        <div class="filter-view-top-left">
          @@if(head.total) {
            <div class="total-count-box">
              <span>
                총
                <!-- prettier-ignore -->
                <em class="count">@@head.total</em>
                건
              </span>
            </div>
          }
        </div>
        <!-- prettier-ignore -->
        @@if(head.button) {
        <div class="filter-view-top-right">
          <div class="button-tooltip-box">
            <!-- prettier-ignore -->
            @@if(head.tooltip) {
              @@for(var i = 0; i < head.tooltip.length; i++) {
                @@include("../../components/tooltip.html", `+(JSON.stringify(head.tooltip[i]))+`)
              }
            }
          </div>
          <div class="button-box">
            <!-- prettier-ignore -->
            @@for(var i = 0; i < head.button.length; i++) {
              @@include("../../components/button.html", `+(JSON.stringify(head.button[i]))+`)
            }
          </div>
        </div>
        }
      </div>
    }

    <div class="filter-view-middle">
      <!-- prettier-ignore -->  
      <div class="mTable-list-container">
        <div class="mTable-list-area">
          <div class="mTable-list-middle">
            <div class="mTable-lists">
              @@if(list) {
                @@for(var i = 0; i < list.length; i++) {
                  @@include("../../components/mTableList.html", `+(JSON.stringify(list[i]))+`)
                }
              }
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
