<div class="m-timepicker-box use-mobile">
  <div class="timepicker-input">
    <input type="text" class="form-control time-input" readonly placeholder="00:00" />
  </div>
  <div class="timepicker">
    <div class="timepicker-container">
      <div class="timepicker-area">
        <div class="timepicker-header">
          <div class="timepicker-title">
            <span>시간 선택</span>
          </div>
          <button type="button" class="btn btn-timepicker-close" title="시간선택 닫기"></button>
        </div>

        <div class="timepicker-middle">
          <div class="picker">
            <div class="swiper-container ampms">
              <div class="swiper-wrapper ampm_box">
                <div class="ampm swiper-slide">오전</div>
                <div class="ampm swiper-slide">오후</div>
              </div>
            </div>

            <div class="swiper-container hours">
              <div class="swiper-wrapper">
                <div class="hour swiper-slide">01</div>
                <div class="hour swiper-slide">02</div>
                <div class="hour swiper-slide">03</div>
                <div class="hour swiper-slide">04</div>
                <div class="hour swiper-slide">05</div>
                <div class="hour swiper-slide">06</div>
                <div class="hour swiper-slide">07</div>
                <div class="hour swiper-slide">08</div>
                <div class="hour swiper-slide">09</div>
                <div class="hour swiper-slide">10</div>
                <div class="hour swiper-slide">11</div>
                <div class="hour swiper-slide">12</div>
              </div>
            </div>
            <div class="separator-box">
              <div class="separator">:</div>
            </div>
            <div class="swiper-container minutes">
              <div class="swiper-wrapper">
                <div class="minute swiper-slide">00</div>
                <div class="minute swiper-slide">01</div>
                <div class="minute swiper-slide">02</div>
                <div class="minute swiper-slide">03</div>
                <div class="minute swiper-slide">04</div>
                <div class="minute swiper-slide">05</div>
                <div class="minute swiper-slide">06</div>
                <div class="minute swiper-slide">07</div>
                <div class="minute swiper-slide">08</div>
                <div class="minute swiper-slide">09</div>
                <div class="minute swiper-slide">10</div>
                <div class="minute swiper-slide">11</div>
                <div class="minute swiper-slide">12</div>
                <div class="minute swiper-slide">13</div>
                <div class="minute swiper-slide">14</div>
                <div class="minute swiper-slide">15</div>
                <div class="minute swiper-slide">16</div>
                <div class="minute swiper-slide">17</div>
                <div class="minute swiper-slide">18</div>
                <div class="minute swiper-slide">19</div>
                <div class="minute swiper-slide">20</div>
                <div class="minute swiper-slide">21</div>
                <div class="minute swiper-slide">22</div>
                <div class="minute swiper-slide">23</div>
                <div class="minute swiper-slide">24</div>
                <div class="minute swiper-slide">25</div>
                <div class="minute swiper-slide">26</div>
                <div class="minute swiper-slide">27</div>
                <div class="minute swiper-slide">28</div>
                <div class="minute swiper-slide">29</div>
                <div class="minute swiper-slide">30</div>
                <div class="minute swiper-slide">31</div>
                <div class="minute swiper-slide">32</div>
                <div class="minute swiper-slide">33</div>
                <div class="minute swiper-slide">34</div>
                <div class="minute swiper-slide">35</div>
                <div class="minute swiper-slide">36</div>
                <div class="minute swiper-slide">37</div>
                <div class="minute swiper-slide">38</div>
                <div class="minute swiper-slide">39</div>
                <div class="minute swiper-slide">40</div>
                <div class="minute swiper-slide">41</div>
                <div class="minute swiper-slide">42</div>
                <div class="minute swiper-slide">43</div>
                <div class="minute swiper-slide">44</div>
                <div class="minute swiper-slide">45</div>
                <div class="minute swiper-slide">46</div>
                <div class="minute swiper-slide">47</div>
                <div class="minute swiper-slide">48</div>
                <div class="minute swiper-slide">49</div>
                <div class="minute swiper-slide">50</div>
                <div class="minute swiper-slide">51</div>
                <div class="minute swiper-slide">52</div>
                <div class="minute swiper-slide">53</div>
                <div class="minute swiper-slide">54</div>
                <div class="minute swiper-slide">55</div>
                <div class="minute swiper-slide">56</div>
                <div class="minute swiper-slide">57</div>
                <div class="minute swiper-slide">58</div>
                <div class="minute swiper-slide">59</div>
              </div>
            </div>
            <div class="vizor"></div>
          </div>
        </div>

        <div class="timepicker-bottom">
          <div class="button-box">
            <!-- prettier-ignore -->
            @@include("../../components/button.html", {
              "dataValue" : "",
              "type" : "secondary",
              "size" : "large",
              "class" : "btn-cancel",
              "disabled" : "",
              "text" : "취소",
            })
            <!-- prettier-ignore -->
            @@include("../../components/button.html", {
              "dataValue" : "",
              "type" : "primary",
              "size" : "large",
              "class" : "btn-confirm",
              "disabled" : "",
              "text" : "확인",
            })
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
