<div class="pagination">
  <button type="button" class="page page-first" disabled></button>
  <button type="button" class="page page-prev" disabled></button>

  <div class="pager">
    <button type="button" class="page page-1 current"><span>1</span></button>
    <button type="button" class="page page-2"><span>2</span></button>
    <button type="button" class="page page-3"><span>3</span></button>
    <button type="button" class="page page-4"><span>4</span></button>
    <button type="button" class="page page-5"><span>5</span></button>
    <button type="button" class="page page-6"><span>6</span></button>
  </div>

  <button type="button" class="page page-next"></button>
  <button type="button" class="page page-last"></button>
</div>
