<div id="@@id" class="popup-container popup-alert">
  <div class="popup-area">
    <div class="dim"></div>
    <div class="popup-wrap">
      @@if(title) {
      <div class="popup-top">
        <div class="popup-title-box">
          <h3 class="title">@@title</h3>
        </div>
        <div class="close-button-box">
          <button type="button" class="btn-popup-close" title="닫기"></button>
        </div>
      </div>
      }

      <div class="popup-middle">
        <div class="text-box">
          <p>@@text</p>
        </div>
      </div>

      <div class="popup-bottom">
        <div class="button-box @@property">
          <!-- prettier-ignore -->
          @@for(var i = 0; i < button.length; i++) {
          <button type="button" class="btn btn-`+button[i].type+` btn-medium">
            <span>`+button[i].text+`</span>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
