<div class="quick-menu-container">
  <div class="quick-menu-area">
    <ul class="quick-menu-list-box">
      <li class="quick-menu-list">
        <button type="button" class="btn-quick-menu">
          <div class="quick-menu-img-box">
            <img src="../../assets/images/ic_customer_manual.svg" alt="고객 매뉴얼">
          </div>
          <div class="quick-menu-text-box">
            <span class="quick-menu-title">고객 매뉴얼</span>
          </div>
        </button>
      </li>
      <li class="quick-menu-list">
        <!-- .new : 새로운 설문 있을 경우 style -->
        <button type="button" class="btn-quick-menu new">
          <div class="quick-menu-img-box">
            <img src="../../assets/images/ic_satisfaction_survey.svg" alt="만족도 설문">
          </div>
          <div class="quick-menu-text-box">
            <span class="quick-menu-title">만족도 설문</span>
          </div>
        </button>
      </li>
      <li class="quick-menu-list">
        <button type="button" class="btn-quick-menu">
          <div class="quick-menu-img-box">
            <img src="../../assets/images/ic_evacuation_map.svg" alt="대피 안내도">
          </div>
          <div class="quick-menu-text-box">
            <span class="quick-menu-title">대피 안내도</span>
          </div>
        </button>
      </li>
    </ul>
  </div>
</div>