<div class="timepicker-box timepicker-@@size use-pc">
  <div class="timepicker-input">
    <input
      type="text"
      name="@@id"
      id="@@id"
      class="time-input"
      placeholder="@@placeholder"
      value=""
      readonly
      @@property
    />
  </div>
  <div class="timepicker timepicker-dropdown">
    <div class="timepicker-picker-container">
      <div class="timepicker-picker-area">
        <div class="timepicker-title-box use-mobile">
          <div class="timepicker-title">
            <span>시간 선택</span>
          </div>

          <button type="button" class="btn-close" title="시간 선택 닫기"></button>
        </div>

        <div class="timepicker-picker">
          <div class="time">
            <button type="button" class="list ampm">오전</button>
            <button type="button" class="list ampm">오후</button>
          </div>
          <div class="time">
            <button type="button" class="list hour">00</button>
            <button type="button" class="list hour">01</button>
            <button type="button" class="list hour">02</button>
            <button type="button" class="list hour">03</button>
            <button type="button" class="list hour">04</button>
            <button type="button" class="list hour">05</button>
            <button type="button" class="list hour">06</button>
            <button type="button" class="list hour">07</button>
            <button type="button" class="list hour">08</button>
            <button type="button" class="list hour">09</button>
            <button type="button" class="list hour">10</button>
            <button type="button" class="list hour">11</button>
            <button type="button" class="list hour">12</button>
          </div>
          <div class="time time-separator use-mobile">
            <div class="separator">:</div>
            <div class="separator active">:</div>
            <div class="separator">:</div>
          </div>
          <div class="time">
            <button type="button" class="minute list">00</button>
            <button type="button" class="minute list">01</button>
            <button type="button" class="minute list">02</button>
            <button type="button" class="minute list">03</button>
            <button type="button" class="minute list">04</button>
            <button type="button" class="minute list">05</button>
            <button type="button" class="minute list">06</button>
            <button type="button" class="minute list">07</button>
            <button type="button" class="minute list">08</button>
            <button type="button" class="minute list">09</button>
            <button type="button" class="minute list">10</button>
            <button type="button" class="minute list">11</button>
            <button type="button" class="minute list">12</button>
            <button type="button" class="minute list">13</button>
            <button type="button" class="minute list">14</button>
            <button type="button" class="minute list">15</button>
            <button type="button" class="minute list">16</button>
            <button type="button" class="minute list">17</button>
            <button type="button" class="minute list">18</button>
            <button type="button" class="minute list">19</button>
            <button type="button" class="minute list">20</button>
            <button type="button" class="minute list">21</button>
            <button type="button" class="minute list">21</button>
            <button type="button" class="minute list">22</button>
            <button type="button" class="minute list">23</button>
            <button type="button" class="minute list">24</button>
            <button type="button" class="minute list">25</button>
            <button type="button" class="minute list">26</button>
            <button type="button" class="minute list">27</button>
            <button type="button" class="minute list">28</button>
            <button type="button" class="minute list">29</button>
            <button type="button" class="minute list">30</button>
            <button type="button" class="minute list">31</button>
            <button type="button" class="minute list">32</button>
            <button type="button" class="minute list">33</button>
            <button type="button" class="minute list">34</button>
            <button type="button" class="minute list">35</button>
            <button type="button" class="minute list">36</button>
            <button type="button" class="minute list">37</button>
            <button type="button" class="minute list">38</button>
            <button type="button" class="minute list">39</button>
            <button type="button" class="minute list">40</button>
            <button type="button" class="minute list">41</button>
            <button type="button" class="minute list">42</button>
            <button type="button" class="minute list">43</button>
            <button type="button" class="minute list">44</button>
            <button type="button" class="minute list">45</button>
            <button type="button" class="minute list">46</button>
            <button type="button" class="minute list">47</button>
            <button type="button" class="minute list">48</button>
            <button type="button" class="minute list">49</button>
            <button type="button" class="minute list">50</button>
            <button type="button" class="minute list">51</button>
            <button type="button" class="minute list">52</button>
            <button type="button" class="minute list">53</button>
            <button type="button" class="minute list">54</button>
            <button type="button" class="minute list">55</button>
            <button type="button" class="minute list">56</button>
            <button type="button" class="minute list">57</button>
            <button type="button" class="minute list">58</button>
            <button type="button" class="minute list">59</button>
          </div>
        </div>

        <div class="timepicker-button-box use-mobile">
          <button type="button" class="btn btn-secondary btn-medium btn-cancel">
            <span>취소</span>
          </button>
          <button type="button" class="btn btn-primary btn-medium btn-submit">
            <span>확인</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
