<div class="btn-charge-category">
  <div class="btn-charge-item dc-combo">
    <input id="DCcombo" type="checkbox" class="btn-charge-check" name="DCcombo" checked />
    <label for="DCcombo">DC 콤보</label>
  </div>
  <div class="btn-charge-item dc-demo">
    <input id="DCdemo" type="checkbox" class="btn-charge-check" name="DCdemo" checked />
    <label for="DCdemo">DC 데모</label>
  </div>
  <div class="btn-charge-item ac">
    <input id="ac" type="checkbox" class="btn-charge-check" name="ac" />
    <label for="ac">AC3상</label>
  </div>
  <div class="btn-charge-item nacs">
    <input id="nacs" type="checkbox" class="btn-charge-check" name="nacs" />
    <label for="nacs">NACS</label>
  </div>
  <div class="btn-charge-item slow">
    <input id="slow" type="checkbox" class="btn-charge-check" name="slow" />
    <label for="slow">완속</label>
  </div>
</div>
