<div class="chart-bar-ver-list @@style">
  <div class="chart-bar-ver-graph-box">
    <!-- [접근성] 구조 변경 -->
    <div class="chart-bar-ver-data-box">
      <span class="chart-bar-ver-data">
        <em class="ir-text">@@legend @@text</em>
        <em aria-hidden="true">@@text</em>
      </span>
      <!-- prettier-ignore -->
      @@if(tooltip) {
        @@include("tooltip.html", {
          "id" : "@@tooltip.id",
          "align" : "top center",
          "active": true,
          "text"  : "@@tooltip.text"
        })
      }
    </div>
    <div class="graph-deco"></div>
    <!--
      Height 계산식:
      결과값의 비율 * 96 (디자인 상 막대 높이)의 반올림 값

      예시:
      - 300,000원과 700,000원의 결과값
        - 300,000 / (300,000 + 700,000) * 96의 반올림 = 29
        - 700,000 / (300,000 + 700,000) * 96의 반올림 = 67
    -->
    <div class="graph" style="height: @@datapx"></div>
  </div>
</div>
