<div class="charge-device-list-box" role="listitem">
  <!-- [접근성] 접근성을 위한 구조 변경 -->
  <div class="icon-box">
    <i class="ic @@iconClass">@@ir</i>
  </div>
  <div class="device-info-box">
    <div class="device-title">
      <span class="label">@@label</span>
      @@if(count) {
      <!-- [접근성] 접근성을 위한 구조 변경 -->
      <div class="count">
        <span aria-hidden="true">(</span>
        <span>@@count/15</span>
        <span aria-hidden="true">)</span>
      </div>
      }
    </div>
    <div class="device-info" @@if(count) {role="list" }>
      <!-- prettier-ignore -->
      @@for (var i = 0; i < deviceInfo.length; i++){
      <span @@if(count) {role="listitem" }>`+deviceInfo[i].info+`</span>
      }
    </div>
  </div>
  <!-- prettier-ignore -->
  @@for (var j = 0; j < badge.length; j++){
    @@include("badgeText.html",  `+(JSON.stringify(badge[j]))+`)
  }
</div>
