<!-- [240411] 마크업 변경 -->
<!-- default : 충전 대기 -->
<!-- .charging : 충전 대기 → 충전 중 화면 전환 -->
<!-- .charging.ing : 충전 중 -->
<!-- .charging.end : 충전 완료 -->
<!-- [240503] .charge-slow : 완속일 경우 -->
<div id="progress-container" class="progress-container @@state" data-value="@@value">
  <div class="progress-area">
    <div class="progress-front">
      <!-- [240503] 급속 이미지 변경, 완속 이미지 추가 -->
      <div class="progress-image-box">
        <img src="../../assets/images/home/charge_standby.webp" class="img-standby" alt="img-standby" aria-hidden="true" />
        <img src="../../assets/images/home/charge_car_loop.webp" class="img-charging" alt="img-charging" aria-hidden="true" />
        <img src="../../assets/images/home/charge_car_end.webp" class="img-end" alt="img-end" aria-hidden="true" />
      </div>
    </div>
    <div class="progress-back">
      <div class="progress-wave-box" style="bottom: @@value%"></div>
      <!-- [240503] 완속 충전 배경 엘리먼트 추가 -->
      <div class="progress-slow-box"></div>
    </div>
  </div>
</div>
