<!-- [240206] Dropdown 추가 클래스 주석 추가 -->
<!-- .show : 펼쳤을 시 -->
<!-- .type-filled : 배경 컬러 있는 타입 스타일 -->
<div class="dropdown-container @@className">
  <div class="dropdown-area">
    @@if(label) {
      <div class="dropdown-top">
        <div class="dropdown-label-box">
          <span class="dropdown-label">@@label</span>
        </div>
      </div>
    }
    <div class="dropdown-bottom">
      <div class="dropdown-box">
        <!-- .active : 리스트 선택 시 텍스트 컬러 변경 -->
        <!-- [접근성] 접근성을 위한 속성 추가 (id, aria-haspopup, aria-expanded) -->
        <button type="button" id="@@id" class="btn-dropdown @@property" aria-haspopup="@@menuId" @@if(className !== 'show') {aria-expanded="false"} @@if(className === 'show') {aria-expanded="true"}>
          <span class="text">@@text</span>
        </button>
        <!-- [접근성] 접근성을 위한 속성 추가 (id, role, aria-hidden, aria-labelledby) -->
        <dialog id="@@menuId" class="dropdown-list-container">
          <div class="dropdown-list-area">
            <ul class="dropdown-list-box" aria-labelledby="@@id" @@if(className !== 'show') {aria-hidden="true"} @@if(className === 'show') {aria-hidden="false"} role="listbox">
              <!-- prettier-ignore -->
              <!-- [접근성] 접근성을 위한 속성 추가 (role) -->
              @@for (var i = 0; i < list.length; i++) {
              <li class="dropdown-list">
                <!-- 옵션 선택 된 경우 active 클래스 추가 -->
                <button type="button" class="btn-dropdown-list" aria-pressed="`+list[i].property+`" role="option"><span class="text">`+list[i].list+`</span></button>
              </li>
              }
            </ul>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</div>
