@@if(className === 'btn-noti') {
  <!-- [접근성] aria 속성 추가 -->
    <!-- 알림 활성화 시 active 클래스 추가 -->
}
@@if(className === 'btn-favorite') {
  <!-- [240425] 변경 -->
  <div class="favorite-box">
    <!-- prettier-ignore -->
    @@include("btnFavorite.html", {
      "active" : false,
      "label"  : "favorite4-label",
      "desc"   : {
        "id"   : "favorite4",
        "text" : "즐겨찾기 홍길동 충전소",
      }
    })
  </div>
}
@@if(className === 'btn-route') {
  <!-- [접근성] aria 속성 추가 -->
}
@@if(className !== 'btn-favorite') {
  <button type="button" class="@@className" title="@@title" @@if(className === 'btn-noti') {aria-haspopup="dialog"} @@if(className === 'btn-favorite') {aria-pressed="false" aria-haspopup="dialog"} @@if(className === 'btn-route') {aria-haspopup="dialog"}>
    <!-- prettier-ignore -->
    @@if(icon) {
      @@if(icon === 'ic-favorite-yellow') {
        <!-- [240425] 아이콘 클래스명 변경 -->
      }
    <i class="ic @@icon"></i>
    }
    <!-- prettier-ignore -->
    @@if(!icon) {
    <span>@@title</span>
    }
  </button>
}
