<!-- header -->
<!-- [접근성] 태그 변경 -->
<header class="header-container">
  <div class="header-area">
    <div class="header-box align-@@align">
      <!-- prettier-ignore -->
      @@if(align == 'between') {
      <div class="header-box-left">
        <!-- [접근성] 구조 변경, 속성 추가 -->
        <!-- prettier-ignore -->
        @@if(logo) {
        <div class="logo-box">
          <h1 id="logoLabel">
            <a href="javascript:void(0);" class="logo" aria-label="LG e-Centric">
              <img src="../../assets/images/home/logo_ecentric.svg" alt="LG e-Centric" />
            </a>
          </h1>
        </div>
        }
        <!-- prettier-ignore -->
        @@if(title) {
        <div class="title-box">
          <div class="previous-box">
            <button type="button" class="btn-prev" title="뒤로가기">
              <i class="ic ic-arrow-left"></i>
            </button>
          </div>
          @@if(title.show) {
          <h1 class="title">@@title.text</h1>
          }
        </div>
        }
      </div>
      }
      <!-- prettier-ignore -->
      @@if(button) {
      <div class="header-box-right">
        <!-- prettier-ignore -->
        <div class="button-box">
          @@for(var i = 0; i < button.length; i++) {  
            @@include("headerButton.html",  `+(JSON.stringify(button[i]))+`)
          }
        </div>
      </div>
      }
      <!-- prettier-ignore -->
      @@if(align === 'center') {
      <div class="center-title-box">
        <h1 class="title">@@title.text</h1>
      </div>
      }
    </div>
  </div>
</header>
