<head>
  <meta charset="utf-8" />
  <!-- [접근성] 뷰포트 수정 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- [접근성] 접근성으로 인한 meta 태그 삭제 -->
  <!-- [240131] meta tag 추가 -->
  <meta name="format-detection" content="telephone=no" />
  <!-- <link rel="icon" type="image/png" href="../../assets/images/favicon/favicon.ico" /> -->
  <link rel="stylesheet" href="../../assets/css/style.css" />
  <script src="../../assets/js/bundle.js"></script>
  <title>@@title</title>
</head>
