<li class="history-list">
  <button type="button" class="history-link">
    <div class="history-link-box">
      <div class="history-link-top">
        <!-- prettier-ignore -->
        @@for (var j = 0; j < badge.length; j++){
          @@include("badgeText.html",  `+(JSON.stringify(badge[j]))+`)
        }
      </div>
      <div class="history-link-middle">
        <div class="title-box">
          <span class="title">@@title</span>
        </div>
      </div>
      <div class="history-link-bottom">
        <div class="history-link-info-box">
          <div class="history-link-info-left">
            <div class="cost-box">
              <span class="num" aria-hidden="true">12,000원</span>
              <span class="num ir-text">12000원</span>
            </div>
            <div class="kwh-box">
              <span class="num">(123kWh)</span>
            </div>
          </div>
          <div class="history-link-info-right">
            <span class="date" aria-hidden="true">23.12.29 24:59</span>
            <span class="date ir-text">23년 12월 29일 24시 59분</span>
          </div>
        </div>
      </div>
    </div>
  </button>
</li>
