<li class="list-a-list" @@if(!link && rightText){role="text" }>
  @@if(link) {
  <!-- [접근성] 속성 추가 -->
  <a href="javascript:void(0)" class="list-a-content" role="button">
    <div class="list-a-left">
      <!-- [접근성] 태그 변경 -->
      <span class="label-box">
        <span class="label @@property">@@label</span>
      </span>
    </div>
    <div class="list-a-right">
      <div class="data-box">
        @@if(rightText) {
        <span class="data @@dataClass">@@rightText</span>
        }
        <i class="ic ic-arrow-right"></i>
      </div>
    </div>
  </a>
  }
  <!-- prettier-ignore -->
  @@if(!link){
  <div class="list-a-content">
    <div class="list-a-left">
      <div class="label-box">
        @@if(property) {
        <i class="ic @@property"></i>
        }
        <span class="label">@@label</span>
      </div>
    </div>
    <div class="list-a-right">
      <div class="data-box">
        @@if(rightText) {
        <span class="data @@dataClass">@@rightText</span>
        }
        <!-- prettier-ignore -->
        @@if(dataType == 'linkBtn') {

        <!-- prettier-ignore -->
        @@for(var i = 0; i < linkBtn.length; i++) {  
            @@include("linkButton.html",  `+(JSON.stringify(linkBtn[i]))+`)
          }
        }
        <!-- prettier-ignore -->
        @@if(dataType == 'btn') {
        <!-- prettier-ignore -->
        @@for(var j = 0; j < btn.length; j++) {  
            @@include("button.html",  `+(JSON.stringify(btn[j]))+`)
          }
        }
      </div>
    </div>
  </div>
  }
</li>
