<!-- [접근성] 접근성을 위한 구조 변경 -->
<li class="map-charging-list" role="listitem">
  <!-- [240503] .map-charge-device-list-top 추가 -->
  <div class="map-charge-device-list-top">
    <div class="map-charging-left">
      <!-- [240425] element 수정 -->
      <!-- prettier-ignore -->
      @@for (var a = 0; a < btnFavorite.length; a++){
        @@include("btnFavorite.html", `+(JSON.stringify(btnFavorite[a]))+`)
      }
      <button type="button" class="map-button">
        <div class="map-charging-title-box">
          <div class="map-charging-title">
            <span class="name">@@name</span>
            <span class="icon"></span>
          </div>
        </div>

        <div class="map-charging-info">
          <!-- [240508] 마크업 변경 -->
          <div class="info-top">
            <span class="distance">@@distanceKm</span>
            <span class="address">@@address</span>
          </div>
          <div class="info-bottom">
            <!-- prettier-ignore -->
            @@if(badgeText) {
            <!-- [240411] badge 마크업 위치 변경 -->
            <!-- prettier-ignore -->
            @@for (var i = 0; i < badgeText.length; i++){
                @@include("badgeText.html",  `+(JSON.stringify(badgeText[i]))+`)
              }
            }
            @@if(chargingInfo){
            <p class="info">
              <!-- prettier-ignore -->
              @@for (var i = 0; i < chargingInfo.length; i++){
              <span>`+chargingInfo[i].info+`</span>
              }
            </p>
            }
          </div>
        </div>
      </button>
    </div>

    <div class="map-charging-right">
      <!-- [접근성] title 텍스트 변경 -->
      <button type="button" class="btn-get-directions">
        <!-- [240425] element 수정 -->
        <span class="ir">길찾기</span>
        <span class="ir">@@name</span>
        <i class="ic ic-route-fill"></i>
        <span>@@distance KM</span>
      </button>
    </div>
  </div>
  @@if(isDeviceBottom) {
  <div class="map-charge-device-list-bottom" role="list">
    <!-- prettier-ignore -->
    @@for (var k = 0; k < deviceList.length; k++){
      @@include("chargeDeviceList.html",  `+(JSON.stringify(deviceList[k]))+`)
    }
  </div>
  }
</li>
