<div class="progress-bar-handler-box">
  <!-- [240207] 내용 수정 -->
  <!-- 동작성은 하기 script 내용 참고 -->
  <div class="range-bar-box">
    <!-- [240207] disabled  -->
    <!-- Autocharge 비 활성화시 disabled 속성 부여  -->
    <input type="range" class="input-range" id="slider-range" min="0" max="100" step="1" value="@@data" @@property />
  </div>
  <div class="progress-bar-value">80%</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const rangeInputs = document.querySelectorAll('input[type="range"]');
    rangeInputs.forEach((rangeInput, i) => {
      rangeFunc(rangeInput);

      rangeInput.addEventListener('input', function (e) {
        rangeFunc(rangeInput);
      });
      rangeInput.addEventListener('change', function (e) {
        rangeFunc(rangeInput);
      });
    });

    // range function
    function rangeFunc(ele) {
      const valueBox = document.querySelector('.progress-bar-value');
      var gradient_value = 100 / ele.attributes.max.value; // 기본값 (100 / input의 maximum value)

      // [240425] 컬러 변경
      // input range의 background 그라데이션 적용
      // 기본값 * range input의 value
      ele.style.background = 'linear-gradient(to right, #03A864 ' + gradient_value + '%, #03A864 ' + gradient_value * ele.value + '%, #DADDE2 ' + gradient_value * ele.value + '%, #DADDE2 100%)';

      if (valueBox) {
        valueBox.textContent = ele.value + '%';
      }
    }
  });
</script>
