<li class="search-result-list" role="listitem">
  <a href="javascript:void(0)" class="search-result-box">
    <div class="result-info">
      <div class="result-data">@@resultName</div>
      <div class="result-address">@@address</div>
      @@if(deviceInfo) {
      <div class="device-info">
        <!-- prettier-ignore -->
        @@for (var i = 0; i < deviceInfo.length; i++){
        <span>`+deviceInfo[i].info+`</span>
        }
      </div>
      }
    </div>
    <div class="result-distance">@@distance Km</div>
  </a>
</li>
