<div class="field field-textarea @@className">
  <div class="field-form">
    <div class="field-label-box">
      <label for="@@id" class="field-label @@if(labelHide) {ir}">@@label</label>
    </div>
    <div class="field-textarea-box">
      <div class="textarea-box">
        <textarea name="@@id" id="@@id" cols="30" rows="10" placeholder="@@placeholder" @@property></textarea>
      </div>
      @@if(desc) {
        <div class="desc-box">
          <span class="desc">@@desc</span>
        </div>
      }
    </div>
  </div>
</div>