<!-- [접근성] 속성 추가 -->
<!-- [접근성] toast popup 노출 시 aria-hidden false -->
<!-- .show : toast popup 노출 시 -->
<!-- [240306] toast popup class 추가 -->
<!--  토스트 팝업 위에서 노출 되는 케이스 추가 -->
<!--  align-top : 위에서 노출 되는 케이스 -->
<!--  align-bottom : 아래에서 노출 되는 케이스 -->
<div class="toast-container align-@@align" id="@@id" role="dialog" aria-labelledby="toastContent.id" aria-modal="true" aria-hidden="true">
  <div class="toast-area">
    <!-- [240507] role="alert" 추가 -->
    <div id="@@toastContent.id" class="toast-box" role="alert">@@toastContent.text</div>
  </div>
</div>
