// Color Palette
$white: #fff;
$black: #000;

//common color
$point-pink: #eb008b;
$color-gray-01: #666666;

// Layout
$header-height: 8rem;

// Responsive
$pc_1440: 'screen and (max-width: 1440px)';
$pc_1280: 'screen and (max-width: 1280px)';
$tablet_1024: 'screen and (max-width: 1024px)';
$tablet_768: 'screen and (max-width: 768px)';
$mobile_440: 'screen and (max-width: 440px)';

// max width
.max-width-1440 {
  max-width: 148rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
