* {
  box-sizing: border-box;
  font-family: 'Pretendard', 'sans-serif' !important;
}

html,
body {
  min-width: 1024px;
  overflow: auto;
  font-family: 'Pretendard', 'sans-serif';
  font-size: 10px;
  -webkit-tap-highlight-color: transparent !important;
  // background-color: #f6f6f6;
}

.hidden {
  display: none !important;
}

.wrapper {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100dvh;
  display: flex;
}

main {
  scroll-behavior: smooth;
  flex: 1;
  .main-area {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3.2rem 2.4rem 5rem;
  }
}

.strong {
  font-weight: 700;
}

img {
  display: block;
  @include imgbox();
}

.scroll-hidden {
  overflow: hidden !important;
}

.section-container {
  + .section-container {
    margin-top: 4rem;
  }
  .section-top {
    margin-bottom: 1.2rem;
  }

  .section-title-box {
    @include flex(row, flex-start, center);
    .section-title {
      @include font(1.8rem, 600, $gray-900, 2.4rem);
    }

    .total-count-box {
      @include flex(row, flex-start, center);
      @include font(1.4rem, 500, $gray-500, 1.8rem);
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 1.2rem;
        margin: 0 0.8rem;
        background-color: $gray-100;
      }
      .btn-digit {
        @include flex(row, flex-start, center);
        gap: 0.3rem;
        @include font(1.4rem, 500, $gray-400, 1.8rem);
        &::before {
          content: '';
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          background: admin-image('ic_admin_co_modify.svg') no-repeat center / contain;
        }
      }
    }
  }
}

.admin-tabs {
  @include flex(row, flex-start, center);
  padding: 0.5rem;
  border-radius: 1.2rem;
  background-color: rgba($black, 0.03);
  .admin-tab {
    flex: 1;
    &.active {
      .btn-tab {
        background-color: $white;
        color: $accent;
      }
    }
  }
  .btn-tab {
    @include flex(column, center, center);
    gap: 0.2rem;
    width: 100%;
    min-height: 6.4rem;
    padding: 1rem 0;
    border-radius: 0.8rem;
    @include font(1.6rem, 700, $gray-500, 2.4rem);
    .num {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
    }
  }
}

.admin-detail-box {
  .fieldset-box {
    padding: 1.6rem 3.2rem;
    border-radius: 2rem;
    background-color: $white;
  }
  .admin-detail-bottom {
    margin-top: 1.7rem;
    .button-box {
      @include flex(row-reverse, space-between, center);
      .btn-delete {
        min-width: 8.8rem;
      }
      .btn-save {
        min-width: 14.8rem;
      }
    }
  }
}
