.admin-field-container {
  .admin-field-area {
    @include flex(row, space-between, center);
  }
  .admin-field-left {
    @include flex(row, flex-start, center);
    gap: 1.2rem;
  }
  .admin-field-right {
    @include flex(row, flex-start, center);
    gap: 1.2rem;
  }
  .admin-sum-box {
    @include font(1.4rem, 500, $gray-500, 1.8rem);
  }
  .btn-refresh {
    @include flex(row, flex-start, center);
    gap: 0.3rem;
    @include font(1.4rem, 500, $gray-400, 1.8rem);
    white-space: nowrap;
    &::before {
      content: '';
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background: admin-image('ic_admin_co_serch_reset.svg') no-repeat center / contain;
    }
  }
}
