.main-top {
  .btn-close {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    background: admin-image('ic_admin_co_close.svg') no-repeat center / contain;
  }
}

.detail-container {
  + .detail-container {
    margin-top: 2rem;
  }
  .detail-top {
    @include flex(row, flex-start, center);
    gap: 1.4rem;
    .title-box {
      @include flex(row, flex-start, center);
      gap: 0.8rem;
      .title {
        @include font(2rem, 700, $black, 2.8rem);
        padding-right: 0.8rem;
      }
      .sub-title {
        @include font(1.8rem, 600, $gray-900, 2.4rem);
      }
      .alert {
        @include font(1.4rem, 500, $adminAlert, 1.8rem);
        letter-spacing: -0.028rem;
      }
      .digit {
        position: relative;
        @include font(2rem, 500, $gray-600, 2.8rem);
        &::before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          left: -0.8rem;
          transform: translateY(-50%);
          width: 0.1rem;
          height: 1.8rem;
          background-color: $gray-100;
        }
      }
    }
    .info-lists {
      @include flex(row, flex-start, center);
      width: fit-content;
      gap: 1.2rem;
      padding: 0.4rem 1rem;
      border-radius: 0.8rem;
      background-color: #f6f6f6;
      .info-list {
        @include flex(row, flex-start, center);
        gap: 0.4rem;
        @include font(1.4rem, 500, $gray-600, 1.8rem);
        .label {
          font-weight: 700;
        }
      }
    }
  }
  .detail-bottom {
    margin-top: 1.2rem;
  }
  .detail-info-container {
    padding: 2.2rem 3rem;
    border-radius: 2rem;
    border: 0.1rem solid rgba($black, 0.1);
    .detail-info-area {
      @include flex(row, space-between, flex-start);
      gap: 5rem;
    }
    .detail-info-left {
      flex: 1;
    }
    .detail-content-lists {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    .detail-content-list {
      @include flex(row, flex-start, center);
      gap: 3.2rem;
      @include font(1.4rem, 500, $black, 1.8rem);
      letter-spacing: -0.028rem;
      &:only-of-type {
        min-height: 4.4rem;
      }
      &.strong {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        & + .detail-content-list {
          padding-top: 0.4rem;
        }
      }
      .label-box {
        flex: 0 0 9rem;
        font-weight: 700;
      }
      .data-box {
        @include flex(row, flex-start, center);
        gap: 0.6rem;
        .data {
          &.red {
            color: $adminAlert;
          }
          &.green {
            color: $accent;
          }
        }
        .badge {
          padding: 0.4rem 1rem;
          border-radius: 0.8rem;
          background-color: #f6f6f6;
          @include font(1.4rem, 500, $black, 1.8rem);
        }
        .btn-resend {
          @include font(1.4rem, 500, $gray-400, 1.8rem);
          letter-spacing: -0.028rem;
          text-decoration-line: underline;
          text-underline-position: under;
        }
      }
    }
    .detail-info-right {
      .detail-info-button-box {
        @include flex(row, flex-end, center);
        gap: 0.8rem;
        .btn {
          min-width: 14.8rem;
        }
      }
    }
    .table-box {
      margin: -1rem 0;
    }
  }
}
