// scss variables (For use icon only)
$hyundai-colors: (
  primary: #002c5f,
  primary_lowest: #edeff2,
  primary_low: #e0e5ed,
  primary_mid: #b4c0d4,
  primary_high: #7e8bad,
  primary_highest: #495a88,
  primary_ultimate: #314372,

  on_primary: #fff,
  on_primary_lowest: #e0e5ed,
  on_primary_low: #b4c0d4,
  on_primary_mid: #7e8bad,
  on_primary_high: #314372,
  on_primary_highest: #263866,
  on_primary_ultimate: #05182e,

  primary_container: #edeff2,
  primary_container_lowest: #fff,
  primary_container_low: #e0e5ed,
  primary_container_mid: #b4c0d4,
  primary_container_high: #314372,
  primary_container_highest: #263866,
  primary_container_ultimate: #05182e,

  on_primary_container: #05182e,
  on_primary_container_lowest: #fff,
  on_primary_container_low: #e0e5ed,
  on_primary_container_mid: #b4c0d4,
  on_primary_container_high: #7e8bad,
  on_primary_container_highest: #314372,
  on_primary_container_ultimate: #263866,

  secondary: #00aad2,
  secondary_lowest: #e0f9ff,
  secondary_low: #caf2fc,
  secondary_mid: #a3e4f5,
  secondary_high: #51ceec,
  secondary_highest: #19bbe1,
  secondary_ultimate: #006780,

  on_secondary: #fff,
  on_secondary_lowest: #caf2fc,
  on_secondary_low: #a3e4f5,
  on_secondary_mid: #51ceec,
  on_secondary_high: #00aad2,
  on_secondary_highest: #006780,
  on_secondary_ultimate: #002129,

  secondary_container: #e0f9ff,
  secondary_container_lowest: #fff,
  secondary_container_low: #caf2fc,
  secondary_container_mid: #a3e4f5,
  secondary_container_high: #00aad2,
  secondary_container_highest: #006780,
  secondary_container_ultimate: #002129,

  on_secondary_container: #002129,
  on_secondary_container_lowest: #fff,
  on_secondary_container_low: #caf2fc,
  on_secondary_container_mid: #a3e4f5,
  on_secondary_container_high: #51ceec,
  on_secondary_container_highest: #00aad2,
  on_secondary_container_ultimate: #006780,

  surface: #eeeff1,
  surface_lowest: #ffffff,
  surface_low: #e9eaec,
  surface_mid: #cdd0d5,
  surface_high: #b2b6bd,
  surface_highest: #8e949f,
  surface_ultimate: #787f8c,

  on_surface: #121416,
  on_surface_lowest: #ffffff,
  on_surface_low: #b2b6bd,
  on_surface_mid: #8e949f,
  on_surface_high: #676d79,
  on_surface_highest: #525760,
  on_surface_ultimate: #3b3e45,

  surface_container: #ffffff,
  surface_container_lowest: #f4f5f6,
  surface_container_low: #eeeff1,
  surface_container_mid: #e9eaec,
  surface_container_high: #cdd0d5,
  surface_container_highest: #787f8c,
  surface_container_ultimate: #121416,

  on_surface_container: #121416,
  on_surface_container_lowest: #ffffff,
  on_surface_container_low: #e9eaec,
  on_surface_container_mid: #cdd0d5,
  on_surface_container_high: #b2b6bd,
  on_surface_container_highest: #8e949f,
  on_surface_container_strong: #787f8c,
  on_surface_container_ultimate: #676d79,

  outline: #eeeff1,
  outline_lowest: #e9eaec,
  outline_low: #cdd0d5,
  outline_mid: #b2b6bd,
  outline_high: #8e949f,
  outline_highest: #676d79,
  outline_ultimate: #121416,

  variant_snackbar: #26282c,
  switch_toggle: #fff,
  switch_toggle_disabled: #fff
);

$kia-colors: (
  primary: #05141f,
  primary_lowest: #eff0f0,
  primary_low: #e8eaeb,
  primary_mid: #cdd0d2,
  primary_high: #8d959a,
  primary_highest: #636d74,
  primary_ultimate: #4a565e,

  on_primary: #fff,
  on_primary_lowest: #e8eaeb,
  on_primary_low: #cdd0d2,
  on_primary_mid: #8d959a,
  on_primary_high: #4a565e,
  on_primary_highest: #303e48,
  on_primary_ultimate: #05141f,

  primary_container: #eff0f0,
  primary_container_lowest: #fff,
  primary_container_low: #e8eaeb,
  primary_container_mid: #cdd0d2,
  primary_container_high: #4a565e,
  primary_container_highest: #303e48,
  primary_container_ultimate: #05141f,

  on_primary_container: #05141f,
  on_primary_container_lowest: #fff,
  on_primary_container_low: #e8eaeb,
  on_primary_container_mid: #cdd0d2,
  on_primary_container_high: #8d959a,
  on_primary_container_highest: #4a565e,
  on_primary_container_ultimate: #303e48,

  secondary: #468f13,
  secondary_lowest: #f1f8e9,
  secondary_low: #dcedc8,
  secondary_mid: #c5e1a5,
  secondary_high: #8bc34a,
  secondary_highest: #5fa91e,
  secondary_ultimate: #33691e,

  on_secondary: #fff,
  on_secondary_lowest: #dcedc8,
  on_secondary_low: #c5e1a5,
  on_secondary_mid: #8bc34a,
  on_secondary_high: #468f13,
  on_secondary_highest: #33691e,
  on_secondary_ultimate: #0f2009,

  secondary_container: #f1f8e9,
  secondary_container_lowest: #fff,
  secondary_container_low: #dcedc8,
  secondary_container_mid: #c5e1a5,
  secondary_container_high: #468f13,
  secondary_container_highest: #33691e,
  secondary_container_ultimate: #0f2009,

  on_secondary_container: #0f2009,
  on_secondary_container_lowest: #fff,
  on_secondary_container_low: #dcedc8,
  on_secondary_container_mid: #c5e1a5,
  on_secondary_container_high: #8bc34a,
  on_secondary_container_highest: #468f13,
  on_secondary_container_ultimate: #33691e,

  surface: #eff0f0,
  surface_lowest: #fff,
  surface_low: #e8eaeb,
  surface_mid: #cdd0d2,
  surface_high: #b3b8bc,
  surface_highest: #8d959a,
  surface_ultimate: #788187,

  on_surface: #05141f,
  on_surface_lowest: #fff,
  on_surface_low: #b3b8bc,
  on_surface_mid: #8d959a,
  on_surface_high: #636d74,
  on_surface_highest: #4a565e,
  on_surface_ultimate: #303e48,

  surface_container: #fff,
  surface_container_lowest: #f3f4f5,
  surface_container_low: #eff0f0,
  surface_container_mid: #e8eaeb,
  surface_container_high: #cdd0d2,
  surface_container_highest: #788187,
  surface_container_ultimate: #05141f,

  on_surface_container: #05141f,
  on_surface_container_lowest: #fff,
  on_surface_container_low: #e8eaeb,
  on_surface_container_mid: #cdd0d2,
  on_surface_container_high: #b3b8bc,
  on_surface_container_highest: #8d959a,
  on_surface_container_strong: #788187,
  on_surface_container_ultimate: #636d74,

  outline: #eff0f0,
  outline_lowest: #e8eaeb,
  outline_low: #cdd0d2,
  outline_mid: #b3b8bc,
  outline_high: #8d959a,
  outline_highest: #636d74,
  outline_ultimate: #05141f,

  variant_snackbar: #172630
);

$genesis-colors: (
  primary: #111,
  primary_lowest: #efeff0,
  primary_low: #eaeaeb,
  primary_mid: #ceced0,
  primary_high: #929296,
  primary_highest: #69696e,
  primary_ultimate: #535356,

  on_primary: #fff,
  on_primary_lowest: #eaeaeb,
  on_primary_low: #ceced0,
  on_primary_mid: #929296,
  on_primary_high: #535356,
  on_primary_highest: #3a3a3c,
  on_primary_ultimate: #111,

  primary_container: #efeff0,
  primary_container_lowest: #fff,
  primary_container_low: #eaeaeb,
  primary_container_mid: #ceced0,
  primary_container_high: #535356,
  primary_container_highest: #3a3a3c,
  primary_container_ultimate: #111,

  on_primary_container: #111,
  on_primary_container_lowest: #fff,
  on_primary_container_low: #eaeaeb,
  on_primary_container_mid: #ceced0,
  on_primary_container_high: #929296,
  on_primary_container_highest: #535356,
  on_primary_container_ultimate: #3a3a3c,

  secondary: #af6249,
  secondary_lowest: #f7f2f0,
  secondary_low: #f2e9e6,
  secondary_mid: #e5cdc5,
  secondary_high: #cfa99d,
  secondary_highest: #ba8575,
  secondary_ultimate: #7d4837,

  on_secondary: #fff,
  on_secondary_lowest: #f2e9e6,
  on_secondary_low: #e5cdc5,
  on_secondary_mid: #cfa99d,
  on_secondary_high: #af6249,
  on_secondary_highest: #7d4837,
  on_secondary_ultimate: #24140f,

  secondary_container: #f7f2f0,
  secondary_container_lowest: #fff,
  secondary_container_low: #f2e9e6,
  secondary_container_mid: #e5cdc5,
  secondary_container_high: #af6249,
  secondary_container_highest: #7d4837,
  secondary_container_ultimate: #24140f,

  on_secondary_container: #24140f,
  on_secondary_container_lowest: #fff,
  on_secondary_container_low: #f2e9e6,
  on_secondary_container_mid: #e5cdc5,
  on_secondary_container_high: #cfa99d,
  on_secondary_container_highest: #af6249,
  on_secondary_container_ultimate: #7d4837,

  surface: #efeff0,
  surface_lowest: #fff,
  surface_low: #eaeaeb,
  surface_mid: #ceced0,
  surface_high: #b7b7ba,
  surface_highest: #929296,
  surface_ultimate: #7f7f85,

  on_surface: #111,
  on_surface_lowest: #fff,
  on_surface_low: #b7b7ba,
  on_surface_mid: #929296,
  on_surface_high: #69696e,
  on_surface_highest: #535356,
  on_surface_ultimate: #3a3a3c,

  surface_container: #fff,
  surface_container_lowest: #f5f5f5,
  surface_container_low: #efeff0,
  surface_container_mid: #eaeaeb,
  surface_container_high: #ceced0,
  surface_container_highest: #7f7f85,
  surface_container_ultimate: #111111,

  on_surface_container: #111,
  on_surface_container_lowest: #fff,
  on_surface_container_low: #eaeaeb,
  on_surface_container_mid: #ceced0,
  on_surface_container_high: #b7b7ba,
  on_surface_container_highest: #929296,
  on_surface_container_strong: #7f7f85,
  on_surface_container_ultimate: #69696e,

  outline: #efeff0,
  outline_lowest: #eaeaeb,
  outline_low: #ceced0,
  outline_mid: #b7b7ba,
  outline_high: #929296,
  outline_highest: #69696e,
  outline_ultimate: #111,

  variant_snackbar: #252527
);

$hmg-colors: (
  primary: #3478fe,
  primary_lowest: #ecf6ff,
  primary_low: #ddecff,
  primary_mid: #bfd9ff,
  primary_high: #94bbff,
  primary_highest: #669aff,
  primary_ultimate: #2057c5,

  on_primary: #fff,
  on_primary_lowest: #ddecff,
  on_primary_low: #bfd9ff,
  on_primary_mid: #94bbff,
  on_primary_high: #3478fe,
  on_primary_highest: #2057c5,
  on_primary_ultimate: #091939,

  primary_container: #ecf6ff,
  primary_container_lowest: #fff,
  primary_container_low: #ddecff,
  primary_container_mid: #bfd9ff,
  primary_container_high: #3478fe,
  primary_container_highest: #2057c5,
  primary_container_ultimate: #091939,

  on_primary_container: #091939,
  on_primary_container_lowest: #fff,
  on_primary_container_low: #ddecff,
  on_primary_container_mid: #bfd9ff,
  on_primary_container_high: #94bbff,
  on_primary_container_highest: #3478fe,
  on_primary_container_ultimate: #2057c5,

  secondary: #3478fe,
  secondary_lowest: #ecf6ff,
  secondary_low: #ddecff,
  secondary_mid: #bfd9ff,
  secondary_high: #94bbff,
  secondary_highest: #669aff,
  secondary_ultimate: #2057c5,

  on_secondary: #fff,
  on_secondary_lowest: #ddecff,
  on_secondary_low: #bfd9ff,
  on_secondary_mid: #94bbff,
  on_secondary_high: #3478fe,
  on_secondary_highest: #2057c5,
  on_secondary_ultimate: #091939,

  secondary_container: #ecf6ff,
  secondary_container_lowest: #fff,
  secondary_container_low: #ddecff,
  secondary_container_mid: #bfd9ff,
  secondary_container_high: #3478fe,
  secondary_container_highest: #2057c5,
  secondary_container_ultimate: #091939,

  on_secondary_container: #091939,
  on_secondary_container_lowest: #fff,
  on_secondary_container_low: #ddecff,
  on_secondary_container_mid: #bfd9ff,
  on_secondary_container_high: #94bbff,
  on_secondary_container_highest: #3478fe,
  on_secondary_container_ultimate: #2057c5,

  surface: #eeeff1,
  surface_lowest: #fff,
  surface_low: #e9eaec,
  surface_mid: #cdd0d5,
  surface_high: #b2b6bd,
  surface_highest: #8e949f,
  surface_ultimate: #787f8c,

  on_surface: #121416,
  on_surface_lowest: #fff,
  on_surface_low: #b2b6bd,
  on_surface_mid: #8e949f,
  on_surface_high: #676d79,
  on_surface_highest: #525760,
  on_surface_ultimate: #3b3e45,

  surface_container: #fff,
  surface_container_lowest: #f4f5f6,
  surface_container_low: #eeeff1,
  surface_container_mid: #e9eaec,
  surface_container_high: #cdd0d5,
  surface_container_highest: #787f8c,
  surface_container_ultimate: #121416,

  on_surface_container: #121416,
  on_surface_container_lowest: #fff,
  on_surface_container_low: #e9eaec,
  on_surface_container_mid: #cdd0d5,
  on_surface_container_high: #b2b6bd,
  on_surface_container_highest: #8e949f,
  on_surface_container_strong: #787f8c,
  on_surface_container_ultimate: #676d79,

  outline: #eeeff1,
  outline_lowest: #e9eaec,
  outline_low: #cdd0d5,
  outline_mid: #b2b6bd,
  outline_high: #8e949f,
  outline_highest: #676d79,
  outline_ultimate: #121416,

  variant_snackbar: #26282c
);

$bo-colors: (
  primary: #3478fe,
  primary_lowest: #ecf6ff,
  primary_low: #ddecff,
  primary_mid: #bfd9ff,
  primary_high: #94bbff,
  primary_highest: #669aff,
  primary_ultimate: #2057c5,

  on_primary: #fff,
  on_primary_lowest: #ddecff,
  on_primary_low: #bfd9ff,
  on_primary_mid: #94bbff,
  on_primary_high: #3478fe,
  on_primary_highest: #2057c5,
  on_primary_ultimate: #091939,

  primary_container: #ecf6ff,
  primary_container_lowest: #fff,
  primary_container_low: #ddecff,
  primary_container_mid: #bfd9ff,
  primary_container_high: #3478fe,
  primary_container_highest: #2057c5,
  primary_container_ultimate: #091939,

  on_primary_container: #091939,
  on_primary_container_lowest: #fff,
  on_primary_container_low: #ddecff,
  on_primary_container_mid: #bfd9ff,
  on_primary_container_high: #94bbff,
  on_primary_container_highest: #3478fe,
  on_primary_container_ultimate: #2057c5,

  secondary: #3478fe,
  secondary_lowest: #ecf6ff,
  secondary_low: #ddecff,
  secondary_mid: #bfd9ff,
  secondary_high: #94bbff,
  secondary_highest: #669aff,
  secondary_ultimate: #2057c5,

  on_secondary: #fff,
  on_secondary_lowest: #ddecff,
  on_secondary_low: #bfd9ff,
  on_secondary_mid: #94bbff,
  on_secondary_high: #3478fe,
  on_secondary_highest: #2057c5,
  on_secondary_ultimate: #091939,

  secondary_container: #ecf6ff,
  secondary_container_lowest: #fff,
  secondary_container_low: #ddecff,
  secondary_container_mid: #bfd9ff,
  secondary_container_high: #3478fe,
  secondary_container_highest: #2057c5,
  secondary_container_ultimate: #091939,

  on_secondary_container: #091939,
  on_secondary_container_lowest: #fff,
  on_secondary_container_low: #ddecff,
  on_secondary_container_mid: #bfd9ff,
  on_secondary_container_high: #94bbff,
  on_secondary_container_highest: #3478fe,
  on_secondary_container_ultimate: #2057c5,

  surface: #eeeff1,
  surface_lowest: #fff,
  surface_low: #e9eaec,
  surface_mid: #cdd0d5,
  surface_high: #b2b6bd,
  surface_highest: #8e949f,
  surface_ultimate: #787f8c,

  on_surface: #121416,
  on_surface_lowest: #fff,
  on_surface_low: #b2b6bd,
  on_surface_mid: #8e949f,
  on_surface_high: #676d79,
  on_surface_highest: #525760,
  on_surface_ultimate: #3b3e45,

  surface_container: #fff,
  surface_container_lowest: #f4f5f6,
  surface_container_low: #eeeff1,
  surface_container_mid: #e9eaec,
  surface_container_high: #cdd0d5,
  surface_container_highest: #787f8c,
  surface_container_ultimate: #121416,

  on_surface_container: #121416,
  on_surface_container_lowest: #fff,
  on_surface_container_low: #e9eaec,
  on_surface_container_mid: #cdd0d5,
  on_surface_container_high: #b2b6bd,
  on_surface_container_highest: #8e949f,
  on_surface_container_strong: #787f8c,
  on_surface_container_ultimate: #676d79,

  outline: #eeeff1,
  outline_lowest: #e9eaec,
  outline_low: #cdd0d5,
  outline_mid: #b2b6bd,
  outline_high: #8e949f,
  outline_highest: #676d79,
  outline_ultimate: #121416,

  variant_snackbar: #26282c
);

$point-colors: (
  green: #04b249,
  green_lowest: #ebf4ee,
  green_low: #d4efdf,
  green_mid: #bce6cd,
  green_high: #88d7aa,
  green_highest: #30be68,
  green_ultimate: #007930,

  on_green: #fff,
  on_green_lowest: #d4efdf,
  on_green_low: #bce8ce,
  on_green_mid: #88d7aa,
  on_green_high: #04b249,
  on_green_highest: #007930,
  on_green_ultimate: #00240e,

  green_container: #ebf4ee,
  green_container_lowest: #fff,
  green_container_low: #d4efdf,
  green_container_mid: #bce6cd,
  green_container_high: #04b249,
  green_container_highest: #007930,
  green_container_ultimate: #00240e,

  on_green_container: #00240e,
  on_green_container_lowest: #fff,
  on_green_container_low: #d4efdf,
  on_green_container_mid: #bce6cd,
  on_green_container_high: #88d7aa,
  on_green_container_highest: #04b249,
  on_green_container_ultimate: #007930,

  blue: #3478fe,
  blue_lowest: #ecf6ff,
  blue_low: #ddecff,
  blue_mid: #bfd9ff,
  blue_high: #94bbff,
  blue_highest: #669aff,
  blue_ultimate: #2057c5,

  on_blue: #fff,
  on_blue_lowest: #ddecff,
  on_blue_low: #bfd9ff,
  on_blue_mid: #94bbff,
  on_blue_high: #3478fe,
  on_blue_highest: #2057c5,
  on_blue_ultimate: #091939,

  blue_container: #ecf6ff,
  blue_container_lowest: #fff,
  blue_container_low: #ddecff,
  blue_container_mid: #bfd9ff,
  blue_container_high: #3478fe,
  blue_container_highest: #2057c5,
  blue_container_ultimate: #091939,

  on_blue_container: #091939,
  on_blue_container_lowest: #fff,
  on_blue_container_low: #ddecff,
  on_blue_container_mid: #bfd9ff,
  on_blue_container_high: #94bbff,
  on_blue_container_highest: #3478fe,
  on_blue_container_ultimate: #2057c5,

  orange: #fd6a00,
  orange_lowest: #ffebdd,
  orange_low: #ffd9be,
  orange_mid: #ffc9a3,
  orange_high: #feac71,
  orange_highest: #ff8833,
  orange_ultimate: #b24b00,

  on_orange: #fff,
  on_orange_lowest: #ffd9be,
  on_orange_low: #ffc9a3,
  on_orange_mid: #feac71,
  on_orange_high: #fd6a00,
  on_orange_highest: #b24b00,
  on_orange_ultimate: #421c00,

  orange_container: #ffebdd,
  orange_container_lowest: #fff,
  orange_container_low: #ffd9be,
  orange_container_mid: #ffc9a3,
  orange_container_high: #fd6a00,
  orange_container_highest: #b24b00,
  orange_container_ultimate: #421c00,

  on_orange_container: #421c00,
  on_orange_container_lowest: #fff,
  on_orange_container_low: #ffd9be,
  on_orange_container_mid: #ffc9a3,
  on_orange_container_high: #feac71,
  on_orange_container_highest: #fd6a00,
  on_orange_container_ultimate: #b24b00,

  purple: #913de5,
  purple_lowest: #f5ebfe,
  purple_low: #eddcfe,
  purple_mid: #e3c8fe,
  purple_high: #d6aefe,
  purple_highest: #b267fe,
  purple_ultimate: #7201e4,

  on_purple: #fff,
  on_purple_lowest: #eddcfe,
  on_purple_low: #e3c8fe,
  on_purple_mid: #d6aefe,
  on_purple_high: #913de5,
  on_purple_highest: #7201e4,
  on_purple_ultimate: #210042,

  purple_container: #f5ebfe,
  purple_container_lowest: #fff,
  purple_container_low: #eddcfe,
  purple_container_mid: #e3c8fe,
  purple_container_high: #913de5,
  purple_container_highest: #7201e4,
  purple_container_ultimate: #210042,

  on_purple_container: #210042,
  on_purple_container_lowest: #fff,
  on_purple_container_low: #eddcfe,
  on_purple_container_mid: #e3c8fe,
  on_purple_container_high: #d6aefe,
  on_purple_container_highest: #913de5,
  on_purple_container_ultimate: #7201e4,

  red: #f13e3e,
  red_lowest: #feecec,
  red_low: #fcd8d8,
  red_mid: #fbc6c6,
  red_high: #f8a0a0,
  red_highest: #f46565,
  red_ultimate: #c23232,

  on_red: #fff,
  on_red_lowest: #fcd8d8,
  on_red_low: #fbc6c6,
  on_red_mid: #f8a0a0,
  on_red_high: #f13e3e,
  on_red_highest: #c23232,
  on_red_ultimate: #350e0e,

  red_container: #feecec,
  red_container_lowest: #fff,
  red_container_low: #fcd8d8,
  red_container_mid: #fbc6c6,
  red_container_high: #f13e3e,
  red_container_highest: #c23232,
  red_container_ultimate: #350e0e,

  on_red_container: #350e0e,
  on_red_container_lowest: #fff,
  on_red_container_low: #fcd8d8,
  on_red_container_mid: #fbc6c6,
  on_red_container_high: #f8a0a0,
  on_red_container_highest: #f13e3e,
  on_red_container_ultimate: #c23232,

  yellow: #ffb902,
  yellow_lowest: #fcf2d8,
  yellow_low: #fbe6ae,
  yellow_mid: #fddf91,
  yellow_high: #fdd468,
  yellow_highest: #ffc733,
  yellow_ultimate: #976d00,

  on_yellow: #fff,
  on_yellow_lowest: #fbe6ae,
  on_yellow_low: #fddf91,
  on_yellow_mid: #fdd468,
  on_yellow_high: #ffb902,
  on_yellow_highest: #976d00,
  on_yellow_ultimate: #443100,

  yellow_container: #fcf2d8,
  yellow_container_lowest: #fff,
  yellow_container_low: #fbe6ae,
  yellow_container_mid: #fddf91,
  yellow_container_high: #ffb902,
  yellow_container_highest: #976d00,
  yellow_container_ultimate: #443100,

  on_yellow_container: #443100,
  on_yellow_container_lowest: #fff,
  on_yellow_container_low: #fbe6ae,
  on_yellow_container_mid: #fddf91,
  on_yellow_container_high: #fdd468,
  on_yellow_container_highest: #ffb902,
  on_yellow_container_ultimate: #976d00
);