/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}
.field-area {
  @include flex(row, flex-start, flex-start);
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba($black, 0.1);
  // 영역 비활성화 상태
  &.disabled {
    button {
      cursor: default;
    }
    .field-label {
      .label-text {
        color: rgba($color-gray-01, 0.3);
      }
    }
    .file-box,
    .address-area,
    .alert-text,
    .slash {
      opacity: 0.3;
    }
    input[type='text'] {
      border: 1px solid rgba($color-DDDDDD, 0.3);
      color: rgba($color-gray-01, 0.3);
      caret-color: initial;
      cursor: default;
      &::placeholder {
        color: rgba($color-888888, 0.3);
      }
      &:focus:not(:read-only) {
        border: 1px solid rgba($color-DDDDDD, 0.3);
      }
    }
    input[type='checkbox'] {
      + .check-icon {
        color: rgba($color-gray-01, 0.3);
        &:before {
          background: image('icon/ic_check_nor.png') no-repeat center/3.2rem;
        }
      }
    }
    input[type='radio'] {
      + .radio-icon {
        opacity: 0.3;
        &:before {
          background: image('icon/ic_radio_nor.png') no-repeat center/3.2rem;
        }
      }
    }
    .dropdown-container {
      cursor: default;
      .dropdown-list {
        display: none;
      }
      .btn-dropdown {
        opacity: 0.3;
        cursor: default;
      }
    }
  }
}
.field-form {
  flex: 1;
  align-self: center;
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  margin: -0.6rem -1.2rem;
  & + .field-form {
    margin-top: 1.2rem;
  }
  > div {
    margin: 0.6rem 1.2rem;
  }
}
.field-label {
  flex-shrink: 0;
  width: 17.7rem;
  height: 4.8rem;
  padding: 1.2rem 2.4rem;
  .label-text {
    @include font(1.6rem, 700, $color-gray-01, 1.5);
  }
}
/* Input */
input[type='text'],
input[type='number'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='search'] {
  width: 100%;
  height: 4.8rem;
  padding: 1.2rem 1.6rem;
  border: 1px solid $color-DDDDDD;
  background-color: transparent;
  font-family: 'Noto Sans KR', '맑은 고딕', '돋움', Dotum, 'Sans-serif', Arial;
  @include font(1.6rem, 400, $color-gray-01, 1.3);
  outline-offset: 0;
  box-sizing: border-box;
  border-radius: 0.4rem;
  caret-color: $color-primary;
  &::placeholder {
    color: $color-888888;
  }
  &:read-only {
    opacity: 0.3;
  }
  &:focus:not(:read-only) {
    border-color: $color-primary;
  }
}
.input {
  @include flex(row, flex-start, center);
  &:only-child {
    flex: 1;
    // margin-right: 0;
  }
  .alert-text {
    flex-shrink: 0;
    margin-left: 1.6rem;
  }
}
.alert-text {
  @include font(1.5rem, 400, $color-primary, 1.35);
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
  position: absolute;
  padding: 0;
  margin: 0;
}
legend {
  overflow: hidden;
  height: 0;
  @include ir(relative, 0, 0);
}
/* textarea */
textarea {
  appearance: none;
  width: 100%;
  padding: 0;
  margin: 0;
  outline-offset: 0;
  box-sizing: border-box;
  border: none;
  resize: none;
  font-family: 'Noto Sans KR', '맑은 고딕', '돋움', Dotum, 'Sans-serif', Arial;
  &:focus {
    outline: none;
  }
}

/* Checkbox */
input[type='checkbox'] {
  opacity: 0;
  &:checked {
    + .check-icon {
      &:before {
        background: image('icon/ic_check_sel.png') no-repeat center/3.2rem;
      }
    }
  }

  &:disabled {
    + .check-icon {
      color: rgba($color-gray-01, 0.3);
      &:before {
        background: image('icon/ic_check_nor.png') no-repeat center/3.2rem;
      }
    }
  }

  + .check-icon {
    @include flex(row, flex-start, center);
    @include font(1.6rem, 400, $color-gray-01, 1.3);
    &:before {
      content: '';
      flex-shrink: 0;
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      background: image('icon/ic_check_nor.png') no-repeat center/3.2rem;
      -webkit-transition: background 0.15s;
      -moz-transition: background 0.15s;
      -ms-transition: background 0.15s;
      -o-transition: background 0.15s;
      transition: background 0.15s;
    }
  }
}
.checkbox {
  position: relative;
}

/* radio */
input[type='radio'] {
  opacity: 0;
  &:checked {
    + .radio-icon {
      &:before {
        background: image('icon/ic_radio_sel.png') no-repeat center/3.2rem;
      }
    }
  }

  &:disabled {
    + .radio-icon {
      opacity: 0.3;
      &:before {
        background: image('icon/ic_radio_nor.png') no-repeat center/3.2rem;
      }
    }
  }

  + .radio-icon {
    @include flex(row, flex-start, center);
    @include font(1.6rem, 400, $color-gray-01, 1.3);
    &:before {
      content: '';
      flex-shrink: 0;
      display: block;
      width: 3.2rem;
      height: 3.2rem;
      background: image('icon/ic_radio_nor.png') no-repeat center/3.2rem;
      -webkit-transition: background 0.15s;
      -moz-transition: background 0.15s;
      -ms-transition: background 0.15s;
      -o-transition: background 0.15s;
      transition: background 0.15s;
    }
  }
}
.radio {
  position: relative;
}

/* Dropdown */
.dropdown-container {
  position: relative;
  &.active:not(.disabled) {
    .dropdown-list {
      display: block;
    }
    .btn-dropdown {
      border-color: $color-primary;
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
  &.disabled {
    cursor: default;
    .dropdown-list {
      display: none;
    }
    .btn-dropdown {
      opacity: 0.3;
      cursor: default;
    }
  }
  &.dropdown-multi {
    max-width: 25.2rem;
    .dropdown-list {
      .list {
        padding: 0.8rem 1.3rem;
        &.selected {
          &::after {
            display: none;
          }
        }
      }
    }
    .checkbox {
      flex: 1;
    }
    .check-icon {
      cursor: pointer;
    }
  }

  // 버튼
  .btn-dropdown {
    position: relative;
    width: 100%;
    min-width: 15.2rem;
    height: 4.8rem;
    padding: 1.2rem 4.8rem 1.2rem 1.6rem;
    border: 1px solid $color-DDDDDD;
    border-radius: 0.4rem;
    @include font(1.6rem, 400, $color-gray-01, 1.4);
    text-align: left;
    @include ellipsis();
    &::after {
      content: '';
      position: absolute;
      right: 1.6rem;
      top: 50%;
      width: 2.4rem;
      height: 2.4rem;
      transform: translateY(-50%);
      background: image('icon/ic_expand_bk.png') no-repeat center/2.4rem;
      transition: 0.2s ease;
    }
  }

  // 옵션 목록
  .dropdown-list {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    top: calc(100% + 0.8rem);
    left: 0;
    width: 100%;
    max-height: 24rem;
    border: 1px solid $color-DDDDDD;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba($black, 0.16);
    border-radius: 0.4rem;
    .list {
      @include flex(row, flex-start, center);
      position: relative;
      width: 100%;
      height: 4.8rem;
      padding: 1.2rem 1.6rem;
      @include font(1.6rem, 400, $color-gray-01, 1.4);
      transition: 0.2s ease;
      cursor: pointer;
      & > * {
        @include ellipsis;
      }
      &:not(.disabled, .selected) {
        &:hover {
          background-color: rgba($black, 0.06);
        }
        &:active {
          background-color: rgba($black, 0.12);
        }
      }
      &.selected {
        background-color: rgba($color-primary, 0.05);
        font-weight: 700;
        color: $color-primary;
        &::after {
          display: block;
        }
        input[type='checkbox'] {
          + .check-icon {
            font-weight: 700;
            color: $color-primary;
          }
        }
      }
      &.disabled {
        opacity: 0.6;
        cursor: default;
        input[type='checkbox'] {
          + .check-icon {
            &:before {
              background: image('icon/ic_check_nor.png') no-repeat center/3.2rem;
            }
          }
        }
      }
      &::after {
        content: '';
        display: none;
        position: absolute;
        right: 1.6rem;
        top: 50%;
        width: 2.4rem;
        height: 2.4rem;
        transform: translateY(-50%);
        background: image('icon/ic_check.png') no-repeat center/2.4rem;
      }
      & > span {
        @include ellipsis;
      }
    }
  }
}

/* File */
.file-box {
  @include flex(row, flex-start, center);
}
.file {
  margin-right: 2.4rem;
  &.disabled {
    opacity: 0.3;
    label {
      cursor: default;
    }
  }
  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    text-indent: -9999px;
    margin: 0;
  }
  label {
    @include flex(row, center, center);
    width: 12.8rem;
    height: 4.8rem;
    padding: 0 1.2rem;
    background-color: $color-F2F3F4;
    @include font(1.6rem, 500, $color-gray-01, 1.5);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
      background: $color-E3E4E5;
    }
    &:active {
      background: $color-D5D6D7;
    }
  }
}
.file-data {
  @include flex(row, flex-start, center);
  @include font(1.6rem, 400, $color-gray-01, 1.45);
  &.file-nodata {
    &::before {
      display: none;
    }
  }
  > span {
    max-width: 24.1rem;
    @include ellipsis;
  }
  &::before {
    content: '';
    flex-shrink: 0;
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    background: image('icon/ic_image.png') no-repeat center/2rem;
  }
}
.etc-box {
  @include flex(row, flex-start, center);
  > div {
    margin-right: 0.8rem;
  }
  .input {
    input {
      width: 20rem;
    }
  }
  .slash {
    margin-right: 0.8rem;
    @include font(1.6rem, 400, $black, 1.35);
  }
}
