/*
	mixins
*/
@mixin multiline-truncate($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: #{$line};
  -webkit-box-orient: vertical;
}

@mixin truncate($width) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $width;
}

@mixin vw($property, $px) {
  #{$property}: funcVW($px);
}

/* retina */
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

/* place holder */
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

/* scrollbar hide */
@mixin scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

/* aspect ratio */
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* font */
@mixin vw-font-size($size, $lineHeight) {
  font-size: funcVW($size);
  line-height: funcVW($lineHeight);
}

@mixin font-size($size, $lineHeight) {
  font-size: px($size);
  //line-height: em($lineHeight, $size);
  line-height: px($lineHeight);
}

@mixin font($size, $weight, $color, $lineHeight) {
  @include font-size($size, $lineHeight);
  font-weight: $weight;
  color: $color;
}

/* font face */
@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_'),
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + '.' + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@mixin transition($args...) {
  transition: $args;
}

$breakpoints: (
  'minimum': (
    max-width: $break-min,
  ),
  'mobile': (
    max-width: #{$break-mobile - 1px},
  ),
  'notmobile': (
    min-width: $break-mobile,
  ),
  'tablet':
    '(min-width: #{$break-mobile}) and (max-width: #{$break-desktop - 1px})',
  'tablet-over': (
    min-width: $break-mobile,
  ),
  'desktop-under': (
    max-width: #{$break-desktop - 1px},
  ),
  'desktop': (
    min-width: $break-desktop,
  ),
  //FHD
  'desktop-only':
    '(min-width: #{$break-desktop}) and (max-width: #{$max-desktop})',
  //QHD
  'desktop-over': (
    min-width: #{$max-desktop + 1px},
  ),
  'max-desktop-under': (
    max-width: $max-desktop,
  ),
);

/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media only screen and #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
@mixin ellipsis($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}