/* variable */
$font-base-stack: ('Hyundai Sans Text KR', '맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',나눔고딕,'Nanum Gothic',돋움,Dotum,굴림,Gulim,sans-serif);
$standard-easing: cubic-bezier(0.4, 0, 0.2, 1);

$break-min: (320px);
$break-mobile: (768px);
$break-desktop: (1280px);
$max-desktop: (1600px);
$base-desktop: (1920px);
$base-max-width: (1520px);

$colorPrimary: (#007DA9);
$colorPrimaryAlt: (#00A2CE);
$colorSecondary: (#002C5F);
$colorGrey: (#767676);
$colorKakao: (#ffde00);
$colorNaver: (#01c73c);
$colorFooter: (#969696);
