.tooltipster-sidetip {
    padding-right: 30px;
    .tooltipster-box {
        background-color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    }
    .tooltipster-content {
        padding: 18px;
    }
    &.tooltipster-bottom {
        .tooltipster-arrow-border {
            border-bottom-color: transparent;
        }
        .tooltipster-arrow-background {
            border-bottom-color: #fff;
            top: 0;
        }
    }
}